{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Station Data Applications">

{% block content %}
    <script type="text/javascript">
    $(document).ready(function () {
        var data_dir = '/csc/media/json/COLD/';
        //SUMS
        var data_file = data_dir + 'ind_sums_years.json';
        index_sums_years(data_file, 'container-1');
        /*
        data_file = data_dir + 'ind_sums_years_non_zero.json';
        index_sums_years(data_file, 'container-2');
        */
        //Histograms
        data_file = data_dir + 'hist_sum_all_years_and_locs.json';
        hist_sums(data_file, 'container-3');
       
        /*
        data_file = data_dir + 'hist_sum_all_years_and_locs_non_zero.json';
        hist_sums(data_file, 'container-4');
        */
        //Box plots at 5 locations (non-zero indices)
        /*
        data_file = data_dir + 'box_plots_sums_5locs.json';
        box_plot_sums_for_locations(data_file, 'container-5');
        */
        //AVES
        data_file = data_dir + 'ind_aves_doys.json';
        index_aves_doys(data_file, 'container-6');
        /*
        data_file = data_dir + 'ind_aves_doys_non_zero.json';
        index_aves_doys(data_file, 'container-7');
        */
        /*
        data_file = data_dir + 'hist_aves_all_doys_all_locs.json';
        hist_aves(data_file, 'container-8');
        */
        data_file = data_dir + 'hist_aves_all_doys_all_locs_non_zero.json';
        hist_aves(data_file, 'container-9');
        
        /*
        data_file = data_dir + 'box_plots_aves_5locs.json';
        box_plot_aves_for_locations(data_file, 'container-10');
        */
        //PCA analysis
        data_file = data_dir + 'PCA_COMPONENT_1_TS.json';
        pca_ts(data_file, 'container-12', '1')
        data_file = data_dir + 'PCA_COMPONENT_2_TS.json';
        pca_ts(data_file, 'container-13', '2')
        data_file = data_dir + 'PCA_COMPONENT_3_TS.json';
        pca_ts(data_file, 'container-14', '3')
        //OTHER
        data_file = data_dir + 'box_plots_num_days_all_years_and_locs.json';
        box_plot_num_days(data_file, 'container-11');
    });
    </script>
</head>

<body>

<!-- Content will go here -->
<h1 align="center">Cold Extremes in the Southwest</h1>
<div class="row main">
    <div class="col-md-12">
        <h2>Intoduction</h2>
        <p style="max-width: 90%">
        We identified cold outbreaks by analyzing minimum temperature data in the
        <a target="_blank" href="https://www.esrl.noaa.gov/psd/data/gridded/data.livneh.html">linveh dataset</a> 
        by computing a cold index each location (lon, lat coordinate). 
        The cold index at lon, lat coordinate on a day is defined as the number of degrees below the 5th percentile 
        observed at that location. The time period over which the percentiles were computed is 1951 - 2005. 
        This analysis is run on the livneh grid, BBOX: -125, 31, -102, 49.1 (103968 locations).
        </p>

        <p style="max-width: 100%" align="center">
            <img src="/csc/media/img/COLD/SpatialDomain.png">   
        </p>

        <!--Figures--> 
        <h2 align="center">Index sums</h2>
        <div class="row">
            <h3 align="center">Index sums</h3>
            <div class="col-md-12">
                <div id="container-1"></div>
            </div>
        </div>
        <!--
        <div class="row">
            <h3 align="center">Non-zero index sums</h3>
            <div class="col-md-12">
                <div id="container-2"></div>
            </div>
        </div>
        -->
        <div class="row">
            <h3 align="center">Histogram of index sums (all years, all locations)</h3>
            <div class="col-md-12">
                <div id="container-3"></div>
            </div>
        </div>
        <!--
        <div class="row">
            <h3 align="center">Histogram of non-zero index sums (all years, all locations)</h3>
            <div class="col-md-12">
                <div id="container-4"></div>
            </div>
        </div> 
        -->   
        <!--
        <div class="row">
            <h3 align="center">Box plot of index sums at 5 selected locations</h3>
            <div class="col-md-12">
                <div id="container-5"></div>
            </div>
        </div>    
        -->
        <h2 align="center">Index averages</h2>
        <div class="row">
            <h3 align="center">Index averages for each day of season (DJF)</h3>
            <div class="col-md-12">
                <div id="container-6"></div>
            </div>
        </div>
        <!--
        <div class="row">
            <h3 align="center">Non-zero index averages for each day of season (DJF)</h3>
            <div class="col-md-12">
                <div id="container-7"></div>
            </div>
        </div>
        -->
        <!--
        <div class="row">
            <h3 align="center">Histogram of index averages (all doys, all locations)</h3>
            <div class="col-md-12">
                <div id="container-8"></div>
            </div>
        </div>
        -->
        <div class="row">
            <h3 align="center">Histogram of non-zero index averages (all doys, all locations)</h3>
            <div class="col-md-12">
                <div id="container-9"></div>
            </div>
        </div>    
        <!--
        <div class="row">
            <h3 align="center">Box plot of index aves at 5 selected locations</h3>
            <div class="col-md-12">
                <div id="container-10"></div>
            </div>
        </div> 
        -->
        <h2 align="center">PCA Analysis</h2>
        <div class="row row-eq-height">
            <h3 align="center">Component 1</h3>
            <div class="col-md-8">
                <h4>Temporal Patterns</h4>
                <div id="container-12" style="height:100%; width:100%;"></div>
            </div>
            <div class="col-md-4">
                <h4>Spatial patterns</h4>
                <div class="col-md-11">
                    <img height="80%" src="/csc/media/img/COLD/PC_1.png">
                </div>
                <div class="col-md-1">
                    <img src="/csc/media/img/COLD/PC_1_legend.png">
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <h3 align="center">Component 2</h3>
            <div class="col-md-8">
                <h4>Temporal Patterns</h4>
                <div id="container-13" style="height:100%; width:100%;"></div>
            </div>
            <div class="col-md-4">
                <h4>Spatial patterns</h4>
                <div id="container-16">
                    <div class="col-md-11">
                        <img height="100%" src="/csc/media/img/COLD/PC_2.png">
                    </div>
                    <div class="col-md-1">
                        <img src="/csc/media/img/COLD/PC_2_legend.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <h3 align="center">Component 3</h3>
            <div class="col-md-8">
                <h4>Temporal Patterns</h4>
                <div id="container-14" style="height:100%; width:100%;"></div>
            </div>
            <div class="col-md-4">
                <h4>Spatial patterns</h4>
                <div id="container-17">
                    <div class="col-md-11">
                        <img height="100%" src="/csc/media/img/COLD/PC_3.png">
                    </div>
                    <div class="col-md-1">
                        <img src="/csc/media/img/COLD/PC_3_legend.png">
                    </div>
                </div>
            </div>
        </div>
        <h2 align="center">Other plots</h2>
        <div class="row">
            <h3 align="center">Number of winter days below 5th percentile by year (all locations)</h3>
            <div class="col-md-12">
                <div id="container-11"></div>
            </div>
        </div>
   </div><!--col-md-12-->
</div><!--End row main-->

{%endblock%}
