{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Station Data Applications">

{% block content %}

    <p align="center">You are here
    <a href="{{HOME_URL}}">HOME></a>
    <a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
    <a href="{{TOOLS_URL}}">TOOLS></a>
    <a href="{{TOOLS_URL}}station/">STATION TOOLS</a>

   <!-- Application documentation -->
    <div class="docu" id="Docu_SODSUMM" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SODSUMM").load("{{MEDIA_URL}}html/commons.html #Docu_SODSUMM");
        </script>
    <div class="docu" id="Docu_SODXTRMTS" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SODXTRMTS").load("{{MEDIA_URL}}html/commons.html #Docu_SODXTRMTS");
        </script>
    <div class="docu" id="Docu_CalTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_CalTracker").load("{{MEDIA_URL}}html/commons.html #Docu_CalTracker");
        </script>
    <div class="docu" id="Docu_NevTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_NevTracker").load("{{MEDIA_URL}}html/commons.html #Docu_NevTracker");
        </script>
    <div class="docu" id="Docu_SOD_DLG" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SOD_DLG").load("{{MEDIA_URL}}html/commons.html #Docu_SOD_DLG");
        </script>
    <div class="docu" id="Docu_SOD_DLG" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SOD_DLG").load("{{MEDIA_URL}}html/commons.html #Docu_SOD_DLG");
        </script>
   <div class="docu" id="Docu_SOD_MDL" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SOD_MDL").load("{{MEDIA_URL}}html/commons.html #Docu_SOD_MDL");
        </script>
   <div class="docu" id="Docu_SOD_MSUM" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SOD_MSUM").load("{{MEDIA_URL}}html/commons.html #Docu_SOD_MSUM");
        </script>
   <div class="docu" id="Docu_SOD_ClimArch" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_SOD_ClimArch").load("{{MEDIA_URL}}html/commons.html #Docu_SOD_ClimArch");
        </script>
   <div class="docu" id="Docu_META_GRAPH" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_META_GRAPH").load("{{MEDIA_URL}}html/commons.html #Docu_META_GRAPH");
        </script>
    <div class="docu" id="Docu_MON_AVES" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_MON_AVES").load("{{MEDIA_URL}}html/commons.html #Docu_MON_AVES");
        </script>
    <div class="docu" id="Docu_ClimArch" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_ClimArch").load("{{MEDIA_URL}}html/commons.html #Docu_ClimArch");
        </script>
    <div class="docu" id="Docu_NONE" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_NONE").load("{{MEDIA_URL}}html/commons.html #Docu_NONE");
        </script>

    <table cellpadding="20">
    <td valign="top" width=70%>    
            {%if stn_id%}
                <p class="error">Station ID: {{stn_id}}</p>
            {%endif%}
            {%if start_date%}
                <p class="error">Start Date: {{start_date}}</p>
            {%endif%}
            {%if end_date%}
                <p class="error">End Date: {{end_date}}</p>
            {%endif%}
            {%if elements%}
                <p class="error">Climate Elements: {{elements}}</p>
            {%endif%}

            <br />

            <p class="error" align ="center">(* Beta version)</p>
            <table cellpadding="5">
            <tr>
                <td valign="top">
                    <p class="trigger_hover">* Monthly Summary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SODXTRMTS')">  <br/>and Time Series </p>
                    <div class="pop-up" id="sodxtrmts">
                        <p>This program produces monthly and annual time series of a large number of properties derived from the SOD daily data set. <br/>Click on the question mark for more information!</p>
                    </div>
                    {%if initial %}
                        <a  href="{{TOOLS_URL}}station/sodxtrmts/?{%for key, val in initial.items %}{{key}}={{val}}&{%endfor%}"><img class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/SodxtrmtsTS.png"></a>
                    {%else%}
                        <a  href="{{TOOLS_URL}}station/sodxtrmts/"><img  class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/SodxtrmtsTS.png"></a>
                    {%endif%}
                </td>
                <td valign="top">
                    <p class="trigger_hover">* Monthly/Seasonal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SODSUMM')"> <br /> Climate Summaries</p>
                    <div class="pop-up" id="sodsumm">
                        <p>Generates general climatology in table and graph form. <br/>Click on the question mark for more information!</p>
                    </div>
                    {%if initial%}
                        <a  href="{{TOOLS_URL}}station/sodsumm/?{%for key, val in initial.items %}{{key}}={{val}}&{%endfor%}"><img class="app_img" alt="Sodsumm" title="Sodsumm" src="{{MEDIA_URL}}img/SodsummGraph.png"></a>
                    {%else%}
                        <a  href="{{TOOLS_URL}}station/sodsumm/"><img class="app_img" alt="Sodsumm" title="Sodsumm" src="{{MEDIA_URL}}img/SodsummGraph.png"></a>
                    {%endif%}
                </td>
                <td valign="top">
                    <p class="trigger_hover">Monthly Averages &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_MON_AVES')"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <div class="pop-up">
                        <p>Generates bar chart of monthly averages. <br/>Click on the question mark for more information!</p>
                    </div>
                     {%if initial%}
                        <a  href="{{TOOLS_URL}}station/monthly_aves/?{%for key, val in initial.items %}{{key}}={{val}}&{%endfor%}"><img class="app_img" alt="MonAves" title="MonAves" src="{{MEDIA_URL}}img/MonAves.png"></a>
                    {%else%}
                        <a  href="{{TOOLS_URL}}station/monthly_aves/"><img class="app_img" alt="MonAves" title="MonAves" src="{{MEDIA_URL}}img/MonAves.png"></a>
                    {%endif%}
                </td>
            </tr>
                <td valign="top"> 
                    <p class="trigger_hover">Station Finder &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_NONE')"></p>
                    <div class="pop-up">
                        <p>Find stations with data for specific elements and a chosen time range. <br/>Click on the question mark for more information!</p>
                    </div>
                    {%if stn_id%}                                                
                        <a  href="{{TOOLS_URL}}station/station_finder/?stn_id={{stn_id}}"><img class="app_img" alt="StationFinder" title="StationFinder" src="{{MEDIA_URL}}img/StationFinder.png"></a>
                    {%else%}
                        <a  href="{{TOOLS_URL}}station/station_finder/"><img class="app_img" alt="StationFinder" title="StationFinder" src="{{MEDIA_URL}}img/StationFinder.png"></a>
                    {%endif%}
                </td>
                <td valign="top">
                    <p class="trigger_hover">Metadata Graphics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_META_GRAPH')"></p>
                    <div class="pop-up">
                        <p>See how much data is missing over the period of record. <br/>Click on the question mark for more information!</p>
                    </div>
                    {%if stn_id%}                        
                        <a  href="{{TOOLS_URL}}station/metagraph/?stn_id={{stn_id}}"><img class="app_img" alt="MetaGraph" title="MetaGraph" src="{{MEDIA_URL}}img/MetaGraph.png"></a>
                    {%else%}
                        <a  href="{{TOOLS_URL}}station/metagraph/"><img class="app_img" alt="MetaGraph" title="MetaGraph" src="{{MEDIA_URL}}img/MetaGraph.png"></a>
                    {%endif%}    
                </td>
                <td valign="top"></td>
            </tr>
            </table>
    </td>
    <td valign="top" width="30%">    
            {%if not stn_id%}
            <h3 align ="center">Links to other Applications</h3>
            <ul class="navbar">    
                <h4 align="center">US-Wide Applications</h4>
                <table>
                    <tr><td>
                    <a id="us_wide" href="http://www.raws.dri.edu/index.html" class="trigger" target="_blank">WRCC-USA Climate Archive</a>
                    <div class="pop-up">
                        <p>Summaries, Graphs, and other products for RAWS 
                        (Remote Automatic Weather Stations) and COOP stations (Cooperative Observer).</p>
                    </div>
                    </td><td>
                    <img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png"  onclick="ShowPopupDocu('Docu_ClimArch')">
                    </td></tr>
                    <tr><td>
                    <a id="us_wide" href="http://wrcc.dri.edu/sod-products/" class="trigger" target="_blank">WRCC-Summary of the Day (SOD) products(COOP stations only)</a>
                    <div class="pop-up" id="sods">
                        <p>Data Lister, Graphs, Monthly Data Summaries.</p>
                    </div>
                    </td></tr>
                    <tr><td>
                    <a id="us_wide" href="http://wrcc.dri.edu/sod/sodusa.html" class="trigger" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rarr;Daily Lister</a>
                    <div class="pop-up">
                        <p>Graphs Temperature/Precipitation elements and extremes for chosen COOP station.</p>
                    </div>
                    </td><td>
                    <img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SOD_DLG')">
                    </td></tr>
                    <tr><td>
                    <a id="us_wide" href="http://wrcc.dri.edu/cgi-bin/coopdata0.pl" class="trigger" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rarr;Monthly Data Lister</a>
                    <div class="pop-up">
                        <p>Temparture/Precipitation/Evaporation listings of chosen COOP station and month.</p>                       
                    </div>
                    </td><td>
                    <img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SOD_MDL')">
                    </td></tr>
                    <tr><td>
                    <a id="us_wide" href="http://wrcc.dri.edu/sod/sodusaxtrm.html" class="trigger" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rarr;Monthly Summaries</a>
                    <div class="pop-up">
                        <p>Monthly Summaries of chosen COOP station and element for Period of Record.</p>
                    </div>
                    </td><td>
                    <img alt="QMark" title="QMark" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SOD_MSUM')">
                    </td></tr>
                </table>
           </ul>
            {%endif%}
    </td>
    </table>

 <!-- Footer -->
<!--
    <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>
-->
{%endblock%}
