{% extends "csc_base.html" %}

<meta name="keywords" content="monthly averages, graph, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{% block content %}

<p align="center">You are here
    <a href="{{HOME_URL}}">Home></a>
    <a href="{{TOOLS_URL}}">Tools></a>
    <a href="{{TOOLS_URL}}station/">Station Data Tools></a> 
    <a href="{{TOOLS_URL}}station/monthly_aves/">Monthly Averages</a></p>

<!--Autofill-->
<script type="text/javascript">set_autofill("US_station_id");</script>

<table cellpadding="20">
<td valign="top" width="30%">
    <input type="submit" value="Start Over" onclick="window.location='{{TOOLS_URL}}station/monthly_aves/'"/>
    <div id='formData'>
        <form method="post" id="tableDataForm" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form" id="tableData">
        <tr valign="top">
        <tr valign="top">
        <td>Station ID/Name: </td>
        <td><input autocomplete="off" type="text" size="20" id="station_id" name="station_id" value="{{initial.station_id}}" list="{{initial.autofill_list}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_station_id"></div>
            <script type="text/javascript">                        
            $("#ht_station_id").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_{{initial.station_id}}");
            </script>
        </div>
        </td>
        </tr>
        <tr>
        <td></td>
        <td><a target="_blank" href="{{TOOLS_URL}}station/station_finder/">Station Finder</a></td>
        <td></td>
        </td>
        <tr valign="top">
        <td id="Elements">Elements: </td>
        <td>
            <select id="elements" name="elements" multiple onchange="update_elements(this)">
            <option value="maxt" {{checkbox_vals.elements_maxt_selected}}>Maximum Temperature</option>
            <option value="mint" {{checkbox_vals.elements_mint_selected}}>Minimum Temperature</option>
            <option value="avgt" {{checkbox_vals.elements_avgt_selected}}>Average Temperature</option>
            <option value="obst" {{checkbox_vals.elements_obst_selected}}>Observation Time Temp.</option>
            <option value="pcpn" {{checkbox_vals.elements_pcpn_selected}}>Precipitation</option>
            <option value="snow" {{checkbox_vals.elements_snow_selected}}>Snowfall</option>
            <option value="snwd" {{checkbox_vals.elements_snwd_selected}}>Snow Depth</option>
            <option value="hdd" {{checkbox_vals.elements_hdd_selected}}>Heating Degree Days(65F/18C)</option>
            <option value="cdd" {{checkbox_vals.elements_cdd_selected}}>Cooling Degree Days(65F/18C)</option>
            <option value="gdd" {{checkbox_vals.elements_gdd_selected}}>Growing Degree Days(50F/10C)</option>
            <option value="evap" {{checkbox_vals.elements_evap_selected}}>Pan Evaporation</option>
            <option value="wdmv" {{checkbox_vals.elements_wdmv_selected}}>Wind Movement</option>
            </select>
        </td>        <td><img class="trigger" alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png">
        <div class="pop-up">
        <div id="ht_elements"></div>
        <script type="text/javascript">                        
        $("#ht_elements").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_elements");
        </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Add special degree days: </td>
        <td>
        <select id="add_degree_days" name="add_degree_days" onchange="show_div_if_true(this,'dd') & update_value(this.value)">
            <option value="T" {{checkbox_vals.add_degree_days_T_selected}}>Yes</option>
            <option value="F" {{checkbox_vals.add_degree_days_F_selected}}>No</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_add_degree_days"></div>
        <script type="text/javascript">                        
            $("#ht_add_degree_days").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_add_degree_days");
        </script>
        </div>
        </td>
        </tr>
        {%if initial.add_degree_days == "T"%}
        <tr id="dd" valign="top">
        {%else%}
        <tr id="dd" valign="top" style="display:none;">
        {%endif%}
        <td id="Degree Days">Degree Days: </td>
        <td><input type="text" id="degree_days" name="degree_days" value="{{initial.degree_days}}" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_degree_days"></div>
        <script type="text/javascript">                        
            $("#ht_degree_days").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_degree_days");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Units: </td>
        <td>
        <select id="units" name="units" onchange="update_value(this.value) & set_degree_days(this.value)">
            <option value="metric" {{checkbox_vals.units_metric_selected}}>Metric</option>
            <option value="english" {{checkbox_vals.units_english_selected}}>English</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_units"></div>
        <script type="text/javascript">                        
            $("#ht_units").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_units");
        </script>    
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="Start Date">Start Date: </td>
        <td><input type="text" id="start_date" name="start_date" value="{{initial.start_date}}" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_start_date"></div>
            <script type="text/javascript">                        
            $("#ht_start_date").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_date_station");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="End Date">End Date: </td>
        <td><input type="text" id="end_date" name="end_date" value="{{initial.end_date}}" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_end_date"></div>
            <script type="text/javascript">                        
            $("#ht_end_date").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_date_station");
            </script>
        </div>
        </td>
        </tr>
        </table>
        <input type="submit" value="Submit" name="formData"/>
        </form>
    </div>
    <br />
    {%if results%}
    <img onClick="ShowHide('averaged_data')" alt="averaged_data" title="averaged_data" src="{{MEDIA_URL}}img/show_hide_button.png">
    <div id="averaged_data" width="450" height="450" border="0" style="display:none;">
        {% for el, vals in averaged_data.items%}
        <p>{{el}} : {{vals}}
        {%endfor%}
    </div>
    {%endif%}
</td>
<td valign="top" width="70%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{MEDIA_URL}}html/Buttons.html .tool_info");
    </script>
    <div id="tool_info" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#tool_info").load("{{MEDIA_URL}}html/Docu_MON_AVES.html");
    </script> 

    <div id="how_to_head"></div>
    <script type="text/javascript">            
        $("#how_to_head").load("{{MEDIA_URL}}html/Buttons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;">
    <div id="Docu_station_id"></div>
    <script type="text/javascript">                        
        $("#Docu_station_id").load("{{MEDIA_URL}}html/Docu_station_id.html");
    </script>
        <div id="Docu_elements"></div>
     <script type="text/javascript">            
        $("#Docu_elements").load("{{MEDIA_URL}}html/Docu_elements_station.html");
    </script>
        <div id="Docu_start_end_date"></div>
     <script type="text/javascript">            
        $("#Docu_start_end_date").load("{{MEDIA_URL}}html/Docu_start_end_date_por.html");
    </script>
    </div>

    {%if form_error%}
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    {%endif%} 

    {%if results%}
    <table>
    <td>
    <img onClick="ShowHide('metadata')" alt="metadata" title="metadata" src="{{MEDIA_URL}}img/metadata_button.png">
    </td>
    <td>
    <a target="_blank" href="{{DATA_URL}}station/?{%for key,val in search_params.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><font size="3">Get raw data behind this graphic here!</font></a>

    </td>
    </table>

    <div id="metadata" style="display:none;">
        <p>
        {% for val in meta %}
        <b>{{val.0}}</b>: {{val.1}}<br />
        {%endfor%}
        </p>
    </div>
    <h2>Plots of Monthly Averages</h2>
    <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{ MEDIA_URL }}tmp/">
    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
    <!-- One container per element -->
    {%for result in results%}
    {%if result.error%}
    <p class="error">{{result.error}}</p>
    {%endif%}

    <div align="left" id="container{{forloop.counter}}"style="height:350px;width:100%;"></div>
    <br /> 
    
    {%if not result.data%}
    <p class="error">No data found for {{result.element_long}}</p>
    {%endif%}
    {%endfor%}         
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-monthly-aves.js"></script>
    {%endif%}

    {%if error%}
    <p class="error">{{error}}</p>
    {%endif%}
</td>
</table>

{%endblock%}
