{% extends "csc_base.html" %}

<meta name="keywords" content="monthly averages, graph, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{% block content %}

<p align="center">You are here
    <a href="{{HOME_URL}}">Home></a>
    <a href="{{TOOLS_URL}}">Tools></a>
    <a href="{{TOOLS_URL}}station/">Station Data Tools></a> 
    <a href="{{TOOLS_URL}}station/monthly_aves/">Monthly Averages</a></p>

<!--Autofill-->
<script type="text/javascript">set_autofill("US_station_id");</script>

<table cellpadding="20">
<td valign="top" width="30%">
    <input type="submit" value="Start Over" onclick="window.location='{{TOOLS_URL}}station/monthly_aves/'"/>
    <div id='form'>
        <form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form">
        {%for field in form %}
        <tr>
        {%if field.label == "Station id"%}
            <td>{{field.label}}/name:</td>
            <td><input autocomplete="off" type="text" size="20" id="station_id" name="station_id" value="{{field.value}}" list="US_station_id"></td>
        {%else%}
            <td>{{field.label}}:</td>
            <td>{{field}}</td>                                                                                
        {%endif%}
        <td><img alt="QMark" title="QMark" class="trigger" src="{{MEDIA_URL}}img/QMark.png"> 
        {%ifequal field.label "Elements" %}
        <div class="pop-up">
                <img alt="ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_Stn_English.png" id="ACISElementChoices" width="450" height="450" border="0">                           </div>
        {%else%}
        <div class="pop-up"><p>{{field.help_text}}</p></div>
        {%endifequal%}
        </td>
        </tr>
        {%ifequal field.label "Station id"%}
        <tr><td></td><td><a target="_blank" href="/csc/scenic/apps/station/station_locator/">Station Finder</a></td><td></td></tr>
        {%endifequal%}
        {%if field.errors%}
        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
        {%endif%}
        {%endfor%}
        </table>
        <input type="submit" value="Submit" name="form"/>
        </form>
    </div>
    <br />

    {%if results%}
    <img onClick="ShowHide('averaged_data')" alt="averaged_data" title="averaged_data" src="{{MEDIA_URL}}img/show_hide_button.png">
    <div id="averaged_data" width="450" height="450" border="0" style="display:none;">
        {% for el, vals in averaged_data.items%}
        <p>{{el}} : {{vals}}
        {%endfor%}
    </div>
    {%endif%}
</td>
<td valign="top" width="70%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{MEDIA_URL}}html/Buttons.html .tool_info");
    </script>
    <div id="tool_info" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#tool_info").load("{{MEDIA_URL}}html/Docu_MON_AVES.html");
    </script> 

    <div id="how_to_head"></div>
    <script type="text/javascript">            
        $("#how_to_head").load("{{MEDIA_URL}}html/Buttons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;">
    <div id="Docu_station_id"></div>
    <script type="text/javascript">                        
        $("#Docu_station_id").load("{{MEDIA_URL}}html/Docu_station_id.html");
    </script>
        <div id="Docu_elements"></div>
     <script type="text/javascript">            
        $("#Docu_elements").load("{{MEDIA_URL}}html/Docu_elements_station.html");
    </script>
        <div id="Docu_start_end_date"></div>
     <script type="text/javascript">            
        $("#Docu_start_end_date").load("{{MEDIA_URL}}html/Docu_start_end_date_por.html");
    </script>
    </div>

    {%if results%}
    <table>
    <td>
    <img onClick="ShowHide('metadata')" alt="metadata" title="metadata" src="{{MEDIA_URL}}img/metadata_button.png">
    </td>
    <td>
    <a target="_blank" href="{{DATA_URL}}station/?station_id={{search_params.station_id}}&start_date={{search_params.start_date}}&end_date={{search_params.end_date}}&elements={{search_params.elems}}">Get raw data behind this graphic here!</a>
    </td>
    </table>

    <div id="metadata" style="display:none;">
        <p>
        {% for val in meta %}
        <b>{{val.0}}</b>: {{val.1}}<br />
        {%endfor%}
        </p>
    </div>
    <h2>Plots of Monthly Averages</h2>
    <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{ MEDIA_URL }}tmp/">
    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
    <!-- One container per element -->
    {%for result in results%}
    {%if result.error%}
    <p class="error">{{result.error}}</p>
    {%endif%}

    <div align="left" id="container{{forloop.counter}}"style="height:350px;width:100%;"></div>
    <br /> 
    
    {%if not result.data%}
    <p class="error">No data found for {{result.element_long}}</p>
    {%endif%}
    {%endfor%}         
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-monthly-aves.js"></script>
    {%endif%}

    {%if error%}
    <p class="error">{{error}}</p>
    {%endif%}
</td>
</table>

{%endblock%}
