{% extends "csc_base.html" %}

<meta name="keywords" content="Metadata, graph, coop station, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates Metadata graph for a coop station">

{%load my_data_filters%}

{% block content %}

<p align="center">You are here
    <a href="{{HOME_URL}}">Home></a>
    <a href="{{TOOLS_URL}}">Tools></a>
    <a href="{{TOOLS_URL}}station/">Station Data Tools></a> 
    <a href="{{TOOLS_URL}}station/sodsumm/">Monthly/Seasonal Climate Summaries</a></p>

<script type="text/javascript">set_autofill("US_station_id");</script>

<table cellpadding="10">
<td valign="top" width="20%">
    <input type="submit" value="Start Over" onclick="window.location='{{TOOLS_URL}}station/sodsumm/'"/>
    <div id='form1'>
        <form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form">
        {%for field in form1 %}
        {%if not field.is_hidden%}
        <tr>
        <td>{{field.label}}/name:</td>
        {%if field.label == "Station id"%}
            <td><input type="text" size="35" id="station_id" name="station_id" value="{{field.value}}" list="US_station_id"></td>
        {%else%}
            <td>{{field}}</td>
        {%endif%}
        <td>
        <img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">{{field.help_text}}</div>
        </td>
        </tr>
        {%ifequal field.label "Station id"%}
        <tr><td></td><td><a target="_blank" href="{{TOOLS_URL}}station/station_finder/">Station Finder</a></td><td></td></tr>
        {%endifequal%}
        {%endif%}

        {%if field.errors%}
        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
        {%endif%}
        {%endfor%}
        </table>
        <input type="submit" value="Submit" name="form1"/>
        </form>
    </div>
</td>
<td valign="top" width="80%">
    <div class="center" style="border:none;background-color:X^H#947e6e;">
        <table>
        <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
        </table> 
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
        </script>
        <div id="tool_info" style="display:none;"></div>
        <script type="text/javascript">            
            $("#tool_info").load("{{MEDIA_URL}}html/commons.html #Docu_SODSUMM");
        </script>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>
        <div align="left" id="how_to" style="display:none;"></div>
        <script type="text/javascript">            
            $("#how_to").load("{{MEDIA_URL}}html/commons.html #Howto_SODSUMM");
        </script>

        {%if results or graphics%}
        <p>
        For monthly and annual mean, thresholds and sums:</br>
        Month with {{max_missing_days}} or more missing days are not considered.</br>
        </p>
        <p class="stronger">Station: ({{station_id}}) {{station_name.0}}</br>
        From Year {{start_year}} To Year {{end_year}}</br>
        </p></br>
        {%endif%}
        
        <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
        <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{JSON_URL}}">
        <!-- One tab per element -->
        {%if results or graphics%}
        <div class="tabs">
            {%for tab in tab_list%}
            <div class="tab">
            {%if forloop.counter0 == 0%}
            <input type="radio" id={{tab}} name="graphs" checked>
            {%else%}
            <input type="radio" id={{tab}} name="graphs">
            {%endif%}
            <label for={{tab}}>{{tab_names|lookup:forloop.counter0}}</label>
            <div class="tab_content" id={{tab}}>
                {%if graphics%}
                <div id="container{{forloop.counter0}}"style="height:350px;width:90%;"></div>
                    <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-sodsumm.js"></script>
                    <br />
                {%endif%}
                {%if results%}
                <table>
                </td><td>
                <p onClick="printNode('printable_table{{forloop.counter0}}')"><img alt="Print" title="Print" src="{{MEDIA_URL}}img/print_button.png"></p>
                </td><td>
                <p onClick="ShowHide('formDownload{{forloop.counter0}}')"><img alt="Download" title="Download" src="{{MEDIA_URL}}img/download_button.png"></p>
                </td>
                <td>
                <!--Download form-->
                <div id="formDownload{{forloop.counter0}}" class="form" style="display:none;">
                    <form method="post" action="" onsubmit="show_loading()">
                    {% csrf_token %}
                    <table id="tableDownload">
                    <tr valign="top">
                    <td>Data Format: </td>
                    <td>
                    <select id="data_format" name="data_format" onchange="set_delimiter(this, 'delim{{forloop.counter0}}');">
                    <option value="clm">Columnar, .txt</option>
                    <option value="dlm">Delimited, .dat</option>
                    <option value="xl" selected>Excel, .xls</option>
                    </select>
                    </td>
                    <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
                    <div class="pop-up">
                    <div id="ht_data_format"></div>
                    <script type="text/javascript">                        
                        $("#ht_data_format").load("{{MEDIA_URL}}html/commons.html #ht_data_format");
                    </script>
                    </div>
                    </td>
                    </tr>
                    <!--Only show when format is clm or dlm, don't show if xl-->
                    <tr valign="top" id="delim{{forloop.counter0}}" style="display:none;">
                    <td>Delimiter:</td>
                    <td>
                    <select id="delimiter" name="delimiter">
                    <option value="comma" selected>Comma (,)</option>
                    <option value="tab">Tab (    )</option>
                    <option value="space">Space ( )</option>
                    <option value="colon">Colon (:)</option>
                    <option value="pipe">pipe(|)</option>
                    </select>
                    </td>
                    <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
                    <div class="pop-up">
                    <div id="ht_delimiter"></div>
                    <script type="text/javascript">                        
                        $("#ht_delimiter").load("{{MEDIA_URL}}html/commons.html #ht_delimiter");
                    </script>
                    </div>
                    </td>
                    </tr>
                    <tr valign="top">
                    <td>Outputfile Name: </td>
                    <td><input type="text" id="output_file_name" name="output_file_name" value="Output"></td>
                    <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
                    <div class="pop-up">
                    <div id="ht_output_file_name"></div>
                    <script type="text/javascript">                        
                        $("#ht_output_file_name").load("{{MEDIA_URL}}html/commons.html #ht_output_file_name");
                    </script>
                    </div>
                    </td>
                    </tr>
                    </table>
                    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
                    <input type="hidden" id=tab" name="tab" value="{{tab}}">
                    <input type="submit" value="Submit" name="formDownload{{forloop.counter0}}">
                    </form>
                </div><!--end formDownload-->
                </td>
                </table><!--End table download button/form and print button-->

                <div id="printable_table{{forloop.counter0}}">
                    <table cellspacing="2">
                    {%if tab != 'pcpn'%}
                    {%if tab != 'snow'%}
                    <p>{{headers|lookup:tab|safe}}&nbsp;&nbsp;</p>
                    {%else%}
                    <p>{{headers.prsn|safe}}&nbsp;&nbsp;</p>
                    {%endif%}<!--end if tab != 'snow'-->
                    {%else%}
                    {{headers.prsn|safe}}
                    {%endif%}<!--end if tab != 'pcpn'-->
                    </table>
                    </br>

                    <table cellspacing="2">
                    {%if tab != 'pcpn'%}
                    {%if tab != 'snow'%}
                    {%for row in results|lookup:tab%}
                    {%if row.0 == "An"%}
                    <tr><td></td></tr>
                    {%endif%}<!--end if row.0 == "An"-->
                    <tr>{%for val in row%}<td align="right">{{val}}</td>{%endfor%}</tr>
                    {%endfor%} <!--end for row in results|lookup:tab-->
                    {%else%}
                    {%for row in results.prsn%}
                    {%if row.0 == "An"%}
                    <tr><td></td></tr>
                    {%endif%}<!--end if row.0 == "An"-->
                    <tr>{%for val in row%}<td align="right">{{val}}</td>{%endfor%}</tr>
                    {%endfor%}<!--end for row in results.prsn-->
                    {%endif%}<!--end if tab != 'snow'-->
                    {%else%}
                    {%for row in results.prsn%}
                    {%if row.0 == "An"%}
                    <tr><td></td></tr>
                    {%endif%}
                    <tr>{%for val in row%}<td align="right">{{val}}</td>{%endfor%}</tr>
                    {%endfor%}
                    {%endif%} <!--end if tab != 'pcpn'-->
                    </table>
                </div><!--printable table -->
                {%endif%}<!--end if results-->
            </div><!--End Tab content-->
            </div><!--End Tab-->
            {%endfor%} <!--end for tab in tab_list-->
        </div><!--end tabs -->
        {%else%} <!--no results and no graphics-->
        {%if run_done%}
        <p style="color:red">No data found for these parameters!</p></br>
        {%endif%}
        {%endif%}<!--if results or graphics-->
</td><!-- end center-->
</table>
{%endblock%}
