{% extends "csc_base.html" %}

<meta name="keywords" content="Metadata, graph, coop station, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates Metadata graph for a coop station">

{%load my_data_filters%}

{% block content %}

<p align="center">You are here
    <a href="{{HOME_URL}}">HOME></a>
    <a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
    <a href="{{TOOLS_URL}}">TOOLS></a>
    <a href="{{TOOLS_URL}}station/">STATION TOOLS></a> 
    <a href="{{TOOLS_URL}}station/sodxtrmts/">Monthly Summaries of Extremes></a>
    <a href="{{TOOLS_URL}}station/sodxtrmts/visualize/">Time Series Plots - Monthly Summaries of Extremes</a>

</p>
    <table cellpadding="20">
    <td valign="top" width="40%">
        <p> 
        {%for key_val in header%}
            {%if key_val%}
                <b>{{key_val.0}}</b>: {{key_val.1}}
            {%else%}
                <br />
            {%endif%}
        {%endfor%}
        </p>
        <div id='form0'>
        <form method="post" action="">{% csrf_token %}
        <table class="form">
        {%for field in form0 %}
             {%if field.label == "Image size"%}
                <tr><td><input type="submit" value="Submit" name="form0"/></td><td></td><td></td></tr>
                <tr><td colspan="3"><hr style="border-color:#006666;"></td></tr>
                <tr><td colspan="3"><b>Plot Options</b></td></tr>
                <tr><td colspan="3"><hr style="border-color:#006666;"></td></tr>
            {%endif%}
            <tr>
                <td>{{field.label}}:</td>
                <td>{{field}}</td>
                <td><p class="trigger"><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                {%ifequal field.label "summary"%}
                    <img alt="SxtrSummary" title="SxtrSummary" src="{{MEDIA_URL}}img/SxtrSummary.png" id="ACISElementChoices" width="450" height="450" border="0">
                {%else%}
                    <div class="pop-up"><p>{{field.help_text}}</p></div>
                {%endifequal%}
                </td>
            </tr>
            {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>
            {%endif%}
        {%endfor%}
        </table>
        <input type="submit" value="Submit" name="form0"/>
        </form>
        </div>
    </td>
    <td valign="top" width="60%">
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
        </script>
        <div id="tool_info" style="display:none;"></div>
        <script type="text/javascript">            
            $("#tool_info").load("{{MEDIA_URL}}html/commons.html #Docu_SODXTRMTS_VIS");
        </script>

        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;"></div>
        <script type="text/javascript">            
            $("#how_to").load("{{MEDIA_URL}}html/commons.html #Howto_SODXTRMTS_VIS");
        </script>


        <a target="_blank" href="{{TOOLS_URL}}station/sodxtrmts/?json_file={{json_file}}">Back to Data Analysis</a>

        <p class="pop_link" onClick="ShowHide('original_data')"><u>Show/hide the original data</u></p>


        <div id='original_data' style="display:none;">

            <img alt="Print" title="Print" class="icon" src="{{MEDIA_URL}}img/Print.png" onClick="printNode('printable_table')">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a target="_blank" href="{{SW_CKN_URL}}/download/?app_name=Sodxtrmts&json_file={{json_file}}"><img alt="Download" title="Download" class="icon" src="{{MEDIA_URL}}img/Download.png"> Download Table Data</a>
            <br />

            <div id="printable_table">
            <!--Header-->
            <p>
            {%for key_val in header%}
                {%if key_val%}
                    <b>{{key_val.0}}</b>: {{key_val.1}}
                {%else%}
                    <br />
                {%endif%}
            {%endfor%}
            </p>

            <p><b>Missing values</b><br />
            <!--Any month with less than or equal this user selected number will be included in the analysis.<br />
            Monthly information for months with more than this number of missing values will be displayed, but not used. <br />
            The letter indicates the number of missing days-->
            Letters after months show number of missing days; after annual
            values show missing months.  Value is displayed but not used if user-specified
            missing day criterion exceeded.<br />
            (a = 1 day missing, b = 2 days missing, f = 6 days missing, z = 26 or more values missing).</p>
            <br /></br />

            <table cellpadding="none">
            <tr>
            <td><font size="+1">YEAR</font></td>
            {%for mon in month_list%}
                {%if forloop.last %}
                    <td colspan="2"><font size="+1"></td>
                    <td colspan="2"><font size="+1"></td>
                    <td colspan="2"><font size="+1"></td>
                {%endif%}
                <td colspan="2"><font size="+1">{{mon}}</font></td>
            {%endfor%}
            </tr>
            {%for yr_data in data %}
                {%if yr_data.0 == "MEAN"%}
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                {%endif%}
                <tr>
                {%for dat in yr_data%}
                    {%if forloop.revcounter0 == 1%}
                        <td></td><td></td>
                        <td></td><td></td>
                        <td></td><td></td>
                    {%endif%}
                    <td>{{dat}}</td>
                {%endfor%}
                </tr>
            {%endfor%}
            </table>
            <p align="left">
            <b>Summary Table</b><br />
            <b>Mean</b> –
            Column mean of all months that meet criteria for number of missing days.<br />
            Months with excess missing days not used.<br />
            <b>S.D.</b> –
            Standard deviation of the column values, using only months that meet criteria for missing days.<br />
            <b>SKEW</b> –
            Shows skewness coefficient of the values in this column, using only those months that meet criteria for missing data. <br />
            <b>Max</b> –
            Maximum of column values using only those months that meet missing days criteria.<br />
            <b>Min</b> –
            Minimum of column values using only those months that meet missing days criteria.<br />
            <b>Years</b> –
            Number of years with months that meet criteria for missing days.
            </p>
        </div><!--End printable_table-->
    </div><!--End original data-->    

        {%if generate_plots%}
            <!--<input type="text" id="test" name="test" value="blah">-->
            <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{ MEDIA_URL }}tmp/">
            <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
            <input type="hidden" id="months" name="months" value="{{months}}">
            <input type="hidden" id="summary" name="summary" value="{{summary}}">
            <input type="hidden" id="show_running_mean" name="show_running_mean" value="{{show_running_mean}}">
            <input type="hidden" id="running_mean_years" name="running_mean_years" value="{{running_mean_years}}">
            <input type="hidden" id="graph_title" name="graph_title" value="{{graph_title}}">
            <input type="hidden" id="major_grid" name="major_grid" value="{{major_grid}}">
            <input type="hidden" id="minor_grid" name="minor_grid" value="{{minor_grid}}">
            <input type="hidden" id="connector_line" name="connector_line" value="{{connector_line}}">
            <input type="hidden" id="connector_line_width" name="connector_line_with" value="{{connector_line_width}}">
            <input type="hidden" id="markers" name="markers" value="{{markers}}">
            <input type="hidden" id="marker_type" name="marker_type" value="{{marker_type}}">
            <input type="hidden" id="plot_incomplete_years" name="plot_incomplete_years" value="{{plot_incomplete_years}}">
            <div align="center" id="container" style="height:{{height}}px;width:{{width}}px;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-sodxtrmts-visualize.js"></script>
        {%endif%}
    </td>
    </table>


  <!-- Footer -->
<!--
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>
-->
{%endblock%}
