{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, station data,time series, graph">
<meta name="description" content="SCENIC Spatial Summary">

{%load my_scenic_filters%}

{% block content %} 
<!--Hidden variables-->

<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
<input type="hidden" id="app_name" name="app_name" value="{{initial.app_name}}">

<!--Set up autofill-->

<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>


<!--Documentation-->
<div id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_monthly_spatial_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_grids">{% include 'includes/Docu_grids_historic.html'%}</div>
    <div id="Docu_analysis_year">{% include 'includes/Docu_year.html'%}</div>
    <div id="Docu_season">{% include 'includes/Docu_season.html'%}</div>
    <div id="Docu_state">{% include 'includes/Docu_state.html'%}</div> 
    <div id="Docu_reduce">{% include 'includes/Docu_area_reduce.html'%}</div>
    <div id="Docu_area_statistic">{% include 'includes/Docu_area_statistic.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_element.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_temporal_summary">{% include 'includes/Docu_temporal_summary.html'%}</div> 
</div>

<!--Tool Info/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}multi/monthly_spatial_summary'"/>
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>

<!--Form-->
<table id="top_of_page">
<td valign="top"  width="40%">
    <div id='formData'>
        <form method="post" id="MonthlySpatialSummaryDataForm" action="">{% csrf_token %}
        <table class="form" id="tableData" >
        <tr class="grid" id="grid_type" style="display:table-row;">{% include 'includes/grids_historic.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/year.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/season.html'%}</tr>
        <tr class="station_grid" style="display:table-row;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/area_reduce.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/area_statistic.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/element.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/units.html'%}</tr>
        <tr id="temp_summary" style="display:table-row">{% include 'includes/temporal_summary.html'%}</tr>
        <tr style="display:none;">{% include 'includes/data_format.html'%}</tr>
        <tr style="display:none;">{% include 'includes/delimiter.html'%}</tr>
        <tr style="display:none;">{% include 'includes/out_file.html'%}</tr>
        <tr style="display:none;" class="un">{% include 'includes/user_name.html'%}</tr>
        <tr style="display:none;" class="ue">{% include 'includes/user_email.html'%}</tr>
        </table>
        <input type="hidden" name="app_name" value="monthly_spatial_summary">
        <input type="hidden" name="formData" value="">
        <!--Hidden chart vars-->
        <input class="mainFormSubmit" type="submit" value="Generate Monthly Data" name="formData">
        </form>
    </div><!--end div formData-->
</td>
<!--Large Request Form/Errors/Down Arrow/Maps-->
<td valign="top" width="60%">

    <!--AJAX error-->
    <div style="display:none" class="ajax_error results"></div> 
    <!--Form errors and search parameter section-->
    <div class="error results" id="formError" style="display:none;"></div>
    <div class="error results" id="resultsError" style="display:none;"></div>
    <div class="error results" id="noResultsError" style="display:none;">
        {% include 'includes/no_results.html'%}
    </div>
</td></table>

<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <!--Results-->
    <!--Print and download buttons-->
    <div class="results printable_table">
    <!--Header-->
    <div class="dataTableInfo" id="TableHeader" style="max-width:100%;word-wrap:break-word;display:none;"></div>
    <br /><br />
    <!--Data table-->
    <div id="tableContainer"style="display:none;"></div>
    </div><!--End div results printable table-->
</td></table>
{%endblock%}
