{% extends "csc_base.html" %}

<meta name="keywords" content="remote sensing, metereological data, cloud computing, google, earth engine">
<meta name="description" content="Climateengine">


{%block content %}
<!--
<script type="text/javascript" src="{{MEDIA_URL}}js/squeezeFrame.js"></script>
<script type="text/javascript">
myContainer="http://cyclone1.dri.edu/csc/scenic/data/multi/climateengine/";
myMax=0.25;
myRedraw="both";
</script>
-->
<iframe id="ee_iframe" src="http://clim-engine.appspot.com/"></iframe>

{%endblock content%}


