{% extends "csc_base.html" %}

<meta name="keywords" content="data, historic station data, gridded data, modeled data, data portal, acis">
<meta name="description" content="Multi Point Products">


{%block content %}

<!--Documentation-->
<div class="docu" id="Docu_app_multi_lister" style="display:none;">
    {% include 'includes/Docu_app_multi_lister.html'%}
</div>
<div class="docu" id="Docu_app_temporal_summary" style="display:none;">
    {% include 'includes/Docu_app_temporal_summary.html'%}
</div>
<div class="docu" id="Docu_app_spatial_summary" style="display:none;">
    {% include 'includes/Docu_app_spatial_summary.html'%}
</div>
<div class="docu" id="Docu_app_climate_engine" style="display:none;">
    {% include 'includes/Docu_app_climate_engine.html'%}
</div>

<table cellpadding="20" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}multi/lister/{{url_params_multi_lister}}">
        <b>Data Lister</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_multi_lister.html' %}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_multi_lister')">
        </td>
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}multi/spatial_summary/{{url_params_spatial_summary}}">
        <b>Spatial Summaries</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_spatial_summary.html' %}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_spatial_summary')">
        </td>
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}multi/temporal_summary/{{url_params_temporal_summary}}">
        <b>Temporal Summaries</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_temporal_summary.html' %}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_temporal_summary')">
        </td>
        <!--
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}multi/climate_engine/">
        <b>Climate Engine</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_climate_engine.html' %}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_climate_engine')">
        </td>-->
    </tr>
    <tr>
        <td colspan="2">
            <a  href="{{DATA_URL}}multi/lister/{{url_params_multi_lister}}">
            <img class="app_img" alt="DataLister" title="DataLister" src="{{MEDIA_URL}}img/DataLister.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_multi_lister.html' %}</div>
        </td>
        <td colspan="2">
            <a  href="{{DATA_URL}}multi/spatial_summary/{{url_params_spatial_summary}}">
            <img class="app_img" alt="SpatialSummary" title="SpatialSummary" src="{{MEDIA_URL}}img/Area_TS.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_spatial_summary.html' %}</div>
        </td>
        <td colspan="2">
            <a  href="{{DATA_URL}}multi/temporal_summary/{{url_params_temporal_summary}}">
            <img class="app_img" alt="TemporalSummary" title="TemporalSummary" src="{{MEDIA_URL}}img/ClimSumMap.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_temporal_summary.html' %}</div>
        </td>
        <!--
        <td colspan="2">
            <a  href="{{DATA_URL}}multi/climate_engine/">
            <img class="app_img" alt="ClimateEngine" title="ClimateEngine" src="{{MEDIA_URL}}img/ClimateEngine.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_climate_engine.html' %}</div>
        </td>-->
    </tr>
    </table>
</td>
</table>

{%endblock content%}
