{% extends "csc_base.html" %}

<meta name="keywords" content="Time Series, Monthly Summary,graph, coop station, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates Monthly Summary Time Series">

{%load my_scenic_filters%}

{% block content %}


<div id="how_to" style="display:none;">
<div id="Docu_location"></div>
<script type="text/javascript">                        
$("#Docu_location").load("{{HTML_URL}}Docu_location.html");
</script>
<div id="Docu_start_end_year"></div>
<script type="text/javascript">            
$("#Docu_start_end_year").load("{{HTML_URL}}Docu_start_end_year_por.html");
</script>
<div id="Docu_element"></div>
<script type="text/javascript">            
$("#Docu_element").load("{{HTML_URL}}Docu_elements_sodxtrmts.html");
</script>
<div id="Docu_add_degree_days"></div>
<script type="text/javascript">            
    $("#Docu_add_degree_days").load("{{HTML_URL}}/Docu_add_degree_days.html");
</script>
<div id="Docu_degree_days"></div>
<script type="text/javascript">            
    $("#Docu_degree_days").load("{{HTML_URL}}/Docu_degree_days.html");
</script>
<div id="Docu_units"></div>
<script type="text/javascript">            
$("#Docu_units").load("{{HTML_URL}}/Docu_units.html");
</script>
<div id="Docu_start_end_date"></div>
<script type="text/javascript">            
$("#Docu_start_end_date").load("{{HTML_URL}}Docu_start_end_date.html");
</script>
</div>


{%if results %}
<div id="Arrow" class="results" style="position:absolute;top:250px;right:280px;">
<table style="display:block;">
<td valign="top"><b>RESULTS:</b></td>
<td><img alt="DownArrow" src="{{MEDIA_URL}}img/DownArrow.png" height="300px"></td>
</table>
</div>
{%endif%}


<!--results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%">
    {% if form_error %}
    <p class="error" id="form_error" style="position:absolute;top:210px;right:200px;">
    ERROR: Please correct the form error(s) highlighted in red!</p>
    {%for key, val in form_error.items%}
    <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
    {%endfor%}
    {%endif%}
</td>
</table>

{%endblock%}
