{% extends "csc_base.html" %}
<meta name="keywords" content="data, station data, gridded data, modeled data, acis">
<meta name="description" content="SCENIC Multi point data lister">

{%load my_scenic_filters%}

{% block content %} 

<!--Documentation-->
    <div class="docu" id="tool_info" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#tool_info").load("{{HTML_URL}}/Docu_About_multi_lister.html");
    </script>
    
    <div id="how_to" style="display:none;">
        <div id="Docu_elements"></div>
         <script type="text/javascript">            
            $("#Docu_elements").load("{{HTML_URL}}/Docu_elements_station.html");
        </script>
        <div id="Docu_add_degree_days"></div>
        <script type="text/javascript">            
            $("#Docu_add_degree_days").load("{{HTML_URL}}/Docu_add_degree_days.html");
        </script>
        <div id="Docu_degree_days"></div>
        <script type="text/javascript">            
            $("#Docu_degree_days").load("{{HTML_URL}}/Docu_degree_days.html");
        </script>
        <div id="Docu_units"></div>
        <script type="text/javascript">            
            $("#Docu_units").load("{{HTML_URL}}/Docu_units.html");
        </script>
        <div id="Docu_start_end_date"></div>
         <script type="text/javascript">            
            $("#Docu_start_end_date").load("{{HTML_URL}}/Docu_start_end_date.html");
        </script>
        <div id="Docu_show_flags"></div>
        <script type="text/javascript">            
            $("#Docu_show_flags").load("{{HTML_URL}}/Docu_show_flags.html");
        </script>
        <div id="Docu_show_observation_time"></div>
        <script type="text/javascript">            
            $("#Docu_show_observation_time").load("{{HTML_URL}}/Docu_show_observation_time.html");
        </script>
        <div id="Docu_date_format"></div>
        <script type="text/javascript">            
            $("#Docu_date_format").load("{{HTML_URL}}/Docu_date_format.html");
        </script>
        <div id="Docu_data_format"></div>
        <script type="text/javascript">            
            $("#Docu_data_format").load("{{HTML_URL}}/Docu_data_format.html");
        </script>
        <div id="Docu_delimiter"></div>
        <script type="text/javascript">
            $("#Docu_delimiter").load("{{HTML_URL}}/Docu_delimiter.html");         
        </script>
    </div><!--how_to-->

<!---Hidded variables-->
<input type="hidden" id="area_type" name="area_type" value="{{initial.area_type}}">
<input type="hidden" id="host" name="host" value="{{iniial.host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">

<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
<!--On form change, hide results and form errors-->
<script type="text/javascript">
$(function(){
    //On form change, hide results and form errors
    hide_errors_results_on_change('tableDataForm');
});
</script>

<table>
<td valign="bottom" width="300px">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}multi/lister/'"/>
</td>
<td valign="top" width="650px" align="left">
    <table>
    <td><div id=tool_info_head></div></td>
    <td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{HTML_URL}}/Buttons.html .tool_info");
    </script>
    <script type="text/javascript">            
        $("#how_to_head").load("{{HTML_URL}}/Buttons.html .tool_how_to");
    </script>
</td>
</table>


<table>
<td valign="top">
    <div id='formData'>
        <form method="post" id="tableDataForm" action="" onsubmit="show_loading();">{% csrf_token %}
        <table class="form" id="tableData" >
        <tr>
        <td>Data Type:</td>
        <td>
            <select id="data_type" name="data_type" onchange="set_lister_form(this) & update_value(this.value);">
            <option value="none" {{checkbox_vals.none_selected}}>Select Data Type</option>
            <option value="station" {{checkbox_vals.station_selected}}>Station Data</option>
            <option value="grid" {{checkbox_vals.grid_selected}}>Gridded Data</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_select_data_type" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_data_type").load("{{HTML_URL}}/Docu_help_texts.html #ht_data_type");
        </script>
        </td>
        </tr> 
        <tr class="station" style="display:none">{% include 'includes/station_area_select.html'%}</tr>
        <tr class="grid" style="display:none">{% include 'includes/grid_area_select.html'%}</tr>
        <tr class="station_grid" style="display:none;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        <tr class="station" style="display:none">{% include 'includes/station_elements.html'%}</tr>
        <tr class="grid" style="display:none">{% include 'includes/grid_elements.html'%}</tr>
        <tr class="station_grid" id="add" valign="top" style="display:none;">{% include 'includes/add_special_degree_days.html'%}</tr>
        <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
        <tr class="station_grid" style="display:none;">{% include 'includes/units.html'%}</tr>
        <tr class="station_grid" style="display:none;">{% include 'includes/start_date.html'%}</tr>
        <tr class="station_grid" style="display:none;">{% include 'includes/end_date.html'%}</tr>
        <tr class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</tr>
        <tr class="station" style="display:none">{% include 'includes/show_flags.html'%}</tr>
        <tr class="station" style="display:none">{% include 'includes/show_observation_time.html'%}</tr>
        <tr class="station_grid" style="display:none;">{% include 'includes/date_format.html'%}</tr>
        <tr class="station_grid" style="display:none;">{% include 'includes/data_format_multi.html'%}</tr>
        <tr class="station_grid" id="delim" style="display:none;">{% include 'includes/delimiter.html'%}</tr>
        <tr id="out_file" style="display:none;" class="large_request">{% include 'includes/out_file.html'%}</tr>
        {% if large_request %}
        <tr class="large_request" id="un">{% include 'includes/user_name.html'%}</tr>
        <tr class="large_request">{% include 'includes/user_email.html'%}</tr>
        {%endif%}
        </table>
        <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
        <input style="margin:5px" type="submit" value="Get data" name="formData"/>
        </form>
    </div>
</td>
<td valign="top">
    <!--Map section-->  
    <div id="GridpointMap" style="display:none;"></div>

    <div id="OverlayMap" style="display:none;">{% include 'includes/overlay_map.html'%}</div>   

    <div id="PolyMap" style="display:none;">
        <div id="panel">
        <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
    </div>
    <!--end map section--> 
</td></table>

<table cellpadding="10" align="center">
<td valign="top" width="97%">
    <!--Errors and search parameter section-->
    {%if form_error%}
    <div id="form_error">
        <p class="error">ERROR: Please correct the form error(s) highlighted in red!</p>
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    </div>
    {%endif%}
    <!--Results-->
</td></table>
{%endblock%}
