{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, station data,time series, graph">
<meta name="description" content="SCENIC Spatial Summary">

{%load my_scenic_filters%}

{% block content %} 
<!--Hidden variables-->

<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
<input type="hidden" id="app_name" name="app_name" value="{{initial.app_name}}">

<!--Set up autofill-->

<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>


<!--Documentation-->
<div id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_spatial_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_area_of_interest">{% include 'includes/Docu_area_of_interest.html'%}</div>
    <div id="Docu_data_type">{% include 'includes/Docu_data_type.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
    <div id="Docu_elements">{% include 'includes/Docu_elements.html'%}</div>
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
    <div id="Docu_spatial_summary">{% include 'includes/Docu_spatial_summary.html'%}</div>
</div>

<!--Tool Info/Howto-->

<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}multi/spatial_summary'"/>
    <!--
    {%if results.graph_data or results.smry%}
        <input type="submit" value="Change Options" onclick="ShowHideTopOfPage()">
    {%endif%} --> 
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>

<!--Form-->
<!--
{% if not results.graph_data and not results.smry%}
    <table id="top_of_page">
{%else%}
    <table id="top_of_page" style="display:none">
{%endif%}-->
<table id="top_of_page">
<td valign="top"  width="40%">
    <div id='formData'>
        <form method="post" id="DataForm" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form" id="tableData" >
        <tr class="station_grid" style="display:table-row">{% include 'includes/area_select.html'%}</tr>
        <tr class="station_grid" style="display:table-row;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/data_type.html'%}</tr>
        {% if initial.data_type == "grid"%}
        <tr class="grid" id="grid_type" style="display:table-row;">{% include 'includes/grids.html'%}</tr>
        {% else %}
        <tr class="grid" id="grid_type" style="display:none;">{% include 'includes/grids.html'%}</tr>
        {% endif%}
        <tr class="station_grid" style="display:table-row">{% include 'includes/elements.html'%}</tr>
        <tr class="station_grid" id="add" valign="top" style="display:table-row">{% include 'includes/add_degree_days.html'%}</tr>
       {%if initial.add_degree_days == "T"%}
            <tr id="dd" valign="top" style="display:table-row">{% include 'includes/degree_days.html'%}</tr>
        {%else%}
            <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
        {%endif%}
        <tr class="station_grid" style="display:table-row;">{% include 'includes/units.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/end_date.html'%}</tr> 
        <tr id="spat_summary" style="display:table-row">{% include 'includes/spatial_summary.html'%}</tr>
        <tr style="display:none;">{% include 'includes/data_format.html'%}</tr>
        <tr style="display:none;">{% include 'includes/delimiter.html'%}</tr>
        <tr style="display:none;">{% include 'includes/out_file.html'%}</tr>
        <tr style="display:none;" class="un">{% include 'includes/user_name.html'%}</tr>
        <tr style="display:none;" class="ue">{% include 'includes/user_email.html'%}</tr>
        </table>
        <input type="hidden" name="app_name" value="spatial_summary">
        <input type="hidden" class="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
        <!--Hidden chart vars-->
        <input type="hidden" class="chart_indices_string" id="chart_indices_string" value="{{initial.chart_indices_string}}" name="chart_indices_string">
        <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
        <input type="hidden" value="{{initial.show_running_mean}}" name="show_running_mean" class="show_running_mean">
        <input type="hidden" value="{{initial.running_mean_days}}" name="running_mean_days" class="running_mean_days">
        <input type="hidden" value="{{initial.show_average}}" name="show_average" class="show_average">
        <input class="mainFormSubmit" type="submit" value="Generate time series" name="formData">
        </form>
    </div><!--end div formData-->
</td>
<!--Large Request Form/Errors/Down Arrow/Maps-->
<td valign="top" width="60%">
    {%if results.data or results.smry %}
        <div class="results"> 
        <!--Paramaters and Data list-->
        <table cellpadding="5px">
        <td valign="top" style="max-width:400px">
        <div class="dataTableInfo" id="dataTableInfo-0"> 
        {%for key_val in params_display_list%}
        <b>{{key_val.0}}</b>: {{key_val.1}};
        {%endfor%}
        </div><br />
        </td>
        </table>

       <!--Buttons-->
       <table>
       <td><img src="{{MEDIA_URL}}img/show_hide_graph_button.png" alt="Show Graph" id="show_hide_graph">
       </td>
       <td>
       <img src="{{MEDIA_URL}}img/show_hide_button.png" alt="Show Data" id="show_hide_data">
       </td>
       </table>

        <div id="printable_table">
        <!--Data List-->
        <table class="dataTable nowrap" id="dataTable-0" border="1" height="200px" width="600px">
        {%for data in results.smry%}
        {%if forloop.counter0 == 0%}
            <thead>
            <tr>{%for d in data%}<th>{{d}}</th>{%endfor%}</tr>
            </thead>
            <tfoot>
            <tr>{%for d in data%}<th>{{d}}</th>{%endfor%}</tr>
            </tfoot>
            <tbody>
        {%else%}
            <tr>{%for d in data%}<td>{{d}}</td>{%endfor%}</tr>
        {%endif%}
        {%endfor%}
        </tbody>
        </table>
        </div>
    </div><!--end results div-->
    {%endif%}

    <!--Large Request Form-->
    <div id="largeRequestForm" style="display:none">
        {% include 'includes/large_request_form.html'%}
    </div>
    <div id="offlineMessage" style="display:none">{% include 'includes/offline_message.html'%}</div>
    {%if large_request%}
       <script type="text/javascript">
            ShowPopupDocu('largeRequestForm');
        </script>
    {%endif%}

    <!--AJAX error-->
    <div style="display:none" class="ajax_error"></div>
    <!--Form errors and search parameter section-->
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%}
    {%if results.error%}
        <p class="error">ERROR: {{results.error}}</p>
    {%endif%}

    {%if  run_done and  not results.graph_data and not results.smry %}
        {% include 'includes/no_results.html'%}
    {%endif%}


    </div>

    <!--Shape file upload form-->
    <div>{% include 'includes/upload_shape_file.html'%}</div>

    <!--Map section-->
    <!--Overlay maps-->
    {% include 'includes/map-overlay.html'%}
    <!--Polygon map-->
    {% include 'includes/map-polygon.html'%}
</td></table>

<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <!--Results-->
    <!--Print and download buttons-->
    <div class="results">
    {%if  run_done and not results.data and not results.smry %}
        {% include 'includes/no_results.html'%}
    {%endif%}

    <!--Download form-->
    <div id="formDownload" class="form" style="display:none;">{% include 'includes/download_form.html'%}</div>

    <!--Data-->
    {% if not results.error and results.smry %}

    <table id="printable_table">
    <td>
    

    {%if results.graph_data%}
    <table>
    <td>
        <!--Plot-->
        <div id="user_graph" width="800px" style="display:block">
            <!--Dynamic chart options-->
            <table align="left" class='chart_options' border="1" width="800px">
                <tr>
                <td align="left" valign="top">
                    {% include 'includes/chart_type.html'%} &nbsp;&nbsp; {% include 'includes/show_hide_legend.html'%}
                </td>
                 <td align="left" rowspan="2" valign="top">
                    {% include 'includes/chart_indices_spatial_summary.html'%}
                </td>
                </tr>
                <tr>
                <td align="left" valign="top">
                    {% include 'includes/chart_layers_daily.html'%}
                </td>
                </tr>
                <tr>
                <td colspan="2">
            <div align="right" id="hc-container" style="height:600px;width:800px;"></div>
            <script type="text/javascript">
                var graph_data = {{results.graph_data | safe_json}};
                generateTS_individual();
            </script>
                </td></tr>
            </table>
        </div>
    </td>
    </table>
    {%endif%}

    </td>
    </table><!--End printable table-->
    {%endif%}<!--End if not results.error and results.smry -->
    </div><!--End div results-->
</td></table>
{%endblock%}
