{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, station data,time series, graph">
<meta name="description" content="SCENIC Spatial Summary">

{%load my_scenic_filters%}

{% block content %} 
<!--Hidden variables-->

<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
<input type="hidden" id="app_name" name="app_name" value="{{initial.app_name}}">

<!--Set up autofill-->

<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>


<!--Documentation-->
<div id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_spatial_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_area_of_interest">{% include 'includes/Docu_area_of_interest.html'%}</div>
    <div id="Docu_data_type">{% include 'includes/Docu_data_type.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
    <div id="Docu_elements">{% include 'includes/Docu_elements.html'%}</div>
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
    <div id="Docu_spatial_summary">{% include 'includes/Docu_spatial_summary.html'%}</div>
</div>

<!--Tool Info/Howto-->
<!--Button row-->
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> 
        <!--Tool Info/Howto-->
        <button type="submit" class="btn btn-primary" onclick="window.location='{{DATA_URL}}multi/spatial_summary/'">
            Start Over
        </button>
        {%if results and not form_error%}
        <button type="submit" class="btn btn-primary" onclick="ShowHideTopOfPage()">
            Change Options
        </button>
        {%endif%}
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" align="center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div>
        </div>
    </div>
</div><br />

 <!--FORM/MAP/ERRORS-->
{% if not results.graph_data and not results.smry%}
    <div id="top_of_page">
{%else%}
    <div id="top_of_page" style="display:none">
{%endif%}

    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form method="post" class="main-form" id="DataForm" action="" onsubmit="show_loading()">{% csrf_token %}
            <div class="form-group">
                <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                Generate time series
                </button>
            </div>
            <input type="hidden" name="app_name" value="spatial_summary">
            <input type="hidden" class="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
            <!--Hidden chart vars-->
            <input type="hidden" class="chart_indices_string" id="chart_indices_string" value="{{initial.chart_indices_string}}" name="chart_indices_string">
            <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
            <input type="hidden" value="{{initial.show_running_mean}}" name="show_running_mean" class="show_running_mean">
            <input type="hidden" value="{{initial.running_mean_days}}" name="running_mean_days" class="running_mean_days">
            <input type="hidden" value="{{initial.show_average}}" name="show_average" class="show_average">
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">1. Define your region!</label> 
                <div class="input-group">
                    {% include 'includes/area_select.html'%}
                    <span class="input-group-addon"></span>
                    <span id="area" valign="bottom">{% include 'includes/area.html'%}</span>
                </div>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">2. Choose your dataset!</label>
                <div class="input-group">
                {% include 'includes/data_type.html'%}
                {% if initial.data_type == "grid"%}
                    <span class="grid" id="grid_type" style="display:block;">{% include 'includes/grids.html'%}</span>
                {% else %}
                    <span class="grid" id="grid_type" style="display:none;">{% include 'includes/grids.html'%}</span>
                {% endif%}
                </div>
                <div class="input-group">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
                        {% include 'includes/elements.html'%}
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {% include 'includes/units.html'%}
                    </div>
                </div>
               <div class="input-group">
                    <span  id="add">{% include 'includes/add_degree_days.html'%}</span>
                    <span class="input-group-addon"></span>
                    {%if initial.add_degree_days == "T"%}
                    <span id="dd">{% include 'includes/degree_days.html'%}</span>
                    {%else%}
                    <span id="dd" style="display:none">{% include 'includes/degree_days.html'%}</span>
                    {%endif%}
                </div>
                <div class="input-group">
                    <span id="spat_summary">{% include 'includes/spatial_summary.html'%}</span>
                    <span class="input-group-addon"></span>
                </div>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">3. Define your date ranges! </label>
                <div class="input-group">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> 
                    {% include 'includes/start_date.html'%}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> 
                    <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> 
                    {% include 'includes/end_date.html'%}
                    </div>
                </div>
            </div>            
            <div class="form-input-group form-group" align="center" style="display:none;">
                <label class="form-group-header">4. Output</label>
                <div class="input-group">
                    {% include 'includes/data_format.html'%}</span>
                </div>
                <div class="input-group">
                    {% include 'includes/delimiter.html'%}</span>
                    <span class="input-group-addon"></span> 
                    {% include 'includes/out_file.html'%}
                </div>
                <div class="input-group">
                    <span style="display:none;" class="un">{% include 'includes/user_name.html'%}</span>
                    <span class="input-group-addon"></span>
                    <span style="display:none;" class="ue">{% include 'includes/user_email.html'%}</span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                Generate time series
                </button>
            </div>        
            </form>
        </div><!--col-sm-4-->
        <!--Main: Errors/maps-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        
            <!--Large Request Form-->
            <div id="largeRequestForm" style="display:none">
                {% include 'includes/large_request_form.html'%}
            </div>
            <!--Shape file upload form-->
            <div>{% include 'includes/upload_shape_file.html'%}</div>
            <div class="results">
                <!--Offline message--> 
                <div id="offlineMessage" style="display:none">{% include 'includes/offline_message.html'%}</div>
                {%if large_request%}
                    <script type="text/javascript">ShowPopupDocu('largeRequestForm')</script>
                {%endif%}
                <!--Download form-->
                <div id="formDownload" class="form" style="display:none;">{% include 'includes/download_form.html'%}</div>
                <!--AJAX error-->
                <div style="display:none" class="ajax_error"></div>
                <!--Form errors and search parameter section-->
                {%if form_error%}
                    {% include 'includes/form_error.html'%}
                {%endif%}
                {%if results.error%}
                    <p class="error">ERROR: {{results.error}}</p>
                {%endif%}
                {%if  run_done and  not results.graph_data and not results.smry %}
                    {% include 'includes/no_results.html'%}
                {%endif%}
            </div><!--results-->

            <!--Map section-->
            <!--Gridpoints-->
            {% include 'includes/map-gridpoints.html'%}
            <!--Overlay maps-->
            {% include 'includes/map-overlay.html'%}
            <!--Polygon map-->
            {% include 'includes/map-polygon.html'%}
        </div><!--col-sm-8-->
    </div><!--row-->
</div><!--top_of_page-->

<!--Results-->
<!--Main Results-->
<div class="row results">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        {%if results.data or results.smry %}
        {%if not results.error%}
        <!--Paramaters and Data list-->
        <div class="dataTableInfo" id="dataTableInfo-0"> 
        {%for key_val in params_display_list%}
            <b>{{key_val.0}}</b>: {{key_val.1}};
        {%endfor%}
        </div><br />

        <!--Buttons-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 results">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-info" id="show_hide_data">Show/Hide Table</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-info" id="show_hide_graph">Show/Hide Graph</button>
            </div>
        </div><br /><br />

        <div id="main-table" align="center">
            <!--Data List-->
            <table class="dataTable nowrap" id="dataTable-0" border=1>
            {%for data in results.smry%}
            {%if forloop.counter0 == 0%}
                <thead>
                <tr>{%for d in data%}<th>{{d}}</th>{%endfor%}</tr>
                </thead>
                <tfoot>
                <tr>{%for d in data%}<th>{{d}}</th>{%endfor%}</tr>
                </tfoot>
                <tbody>
            {%else%}
                <tr>{%for d in data%}<td>{{d}}</td>{%endfor%}</tr>
            {%endif%}
            {%endfor%}
                </tbody>
            </table>
        </div><!--printable table-->

        {%if results.graph_data%}
        <!--Plot-->
        <div id="user-graph" style="display:none" width="90%" height="80%">
            <!--Dynamic chart options-->
            <table align="left" class='chart' border=1 width="100%" height="100%">
                <tr>
                <td align="left" valign="top">
                {% include 'includes/chart_type.html'%} &nbsp;&nbsp; {% include 'includes/show_hide_legend.html'%}
                </td>
                <td align="left" rowspan="2" valign="top">
                {% include 'includes/chart_indices_spatial_summary.html'%}
                </td></tr>
                <tr>
                <td align="left" valign="top">
                {% include 'includes/chart_layers_daily.html'%}
                </td></tr>
                <tr><td colspan="2">
                    <div id="hc-container" width="100%" height="100%"></div>
                        <script type="text/javascript">
                            var graph_data = {{results.graph_data | safe_json}};
                            generateTS_individual();
                        </script>
 
                </td></tr>
            </table>
        </div>
            {%endif%}<!--end if results.graph_data-->
        {%endif%}<!--end if not results.error-->
        {%endif%}<!--end if results.data or results.smry -->
    </div><!--col-sm-12-->
</div><!--row-->
{%endblock%}
