{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, station data, climate, maps">
<meta name="description" content="SCENIC  Temporal Summary">

{%load my_scenic_filters%}

{% block content %} 

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_temporal_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_area_of_interest">{% include 'includes/Docu_area_of_interest.html'%}</div>
    <div id="Docu_elements">{% include 'includes/Docu_elements.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div> 
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
    <div id="Docu_temporal_summary">{% include 'includes/Docu_temporal_summary.html'%}</div>
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
</div><!--End how_to-->

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="temporal_summary">
<input type="hidden" id="data_type" name="data_type" value="grid">
<input type="hidden" id="area_type" name="area_type" value="{{area_type}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">

<!--Button row-->
{% include 'includes/button-row.html'%}

<!--Form-->
{% if not figure_files%}
<div id="top_of_page">
{%else%}
<div id="top_of_page" style="display:none">
{%endif%}
    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form method="post" class="main-form" id="MapForm" action="" onsubmit="show_loading()">{% csrf_token %}
            <div class="form-group">
                <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formMap" style="width:100%">
                Generate maps
                </button>
            </div>
            <input type="hidden" name="app_name" value="temporal_summary">
            <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">1. Define your region!</label>
                <div class="input-group">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {% include 'includes/area_select.html'%}
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span id="area">{% include 'includes/area.html'%}</span>
                    </div>
                </div> 
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">2. Choose your dataset!</label>
                <div class="input-group">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
                        {% include 'includes/elements.html'%}
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {% include 'includes/units.html'%}
                    </div>
                </div>
                <div class="input-group">
                    <span  id="add">{% include 'includes/add_degree_days.html'%}</span>
                    <span class="input-group-addon"></span>
                    {%if initial.add_degree_days == "T"%}
                    <span id="dd">{% include 'includes/degree_days.html'%}</span>
                    {%else%}
                    <span id="dd" style="display:none">{% include 'includes/degree_days.html'%}</span>
                    {%endif%}
                </div>
                <div class="input-group">
                    <span class="grid" id="grid_type">{% include 'includes/grids.html'%}</span>
                    <span id="temp_summary">{% include 'includes/temporal_summary.html'%}</span>
                    <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    </div>-->
                </div>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">3. Define your date ranges! </label>
                <div class="input-group">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        {% include 'includes/start_date.html'%}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        {% include 'includes/end_date.html'%}
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header" id="plot_opts_button">6. Choose plot options! &darr;</label>
                <div class="input-group">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span valign="top" class="plOpts" style="display:none;">{% include 'includes/image_size.html'%}</span> 
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span valign="top" class="plOpts" style="display:none;">{% include 'includes/colormap.html'%}</span>
                    </div>
                </div>
                <div class="input-group" style="display:none;">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span valign="top" class="plOpts" style="display:none;">{% include 'includes/num_levels.html'%}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span valign="top" class="plOpts" style="display:none;">{% include 'includes/map_overlay.html'%}</span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span valign="top" class="NotPolt" style="display:none;">{% include 'includes/interpolation.html'%}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span valign="top" class="NotPlot" style="display:none;">{% include 'includes/projection.html'%}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formMap" style="width:100%">
                Generate maps
                </button>
            </div>
            </form>
        </div><!--col-sm-4-->
        <!--Main: Errors/maps-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">        
            <!--MAPS-->
            <!--Bbox map-->
            {% include 'includes/map-bbox.html'%}</tr>

            <div class="results">
            {%if form_error%}
                {% include 'includes/form_error.html'%}
            {%endif%}
            {%if error%}
                <p class="error">{{ error }}</p>
            {%endif%}
            {%if run_done and not figure_files %}
                {% include 'includes/no_results.html'%}
            {%endif%}
            </div><!--results-->
        </div><!--col-sm-8-->
    </div><!--row-->
</div><!--top_of_page-->

<!--Results-->
<!--Main Results-->
<div class="row results">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    {%if figure_files%}
    <div class="results" align="center"> 
        <p class="message" align="center" style="text-align:left;max-width:400px;word-wrap:break-word;">
            <b>PARAMETERS</b>:<br />
            {%for key_val in params_display_list%}
            <b>{{key_val.0}}</b>: {{key_val.1}}; 
            {%endfor%}
        </p>

        {%for fig in figure_files%}
            <img alt="FigureFile" title="FigureFile" src="{{JSON_URL}}/{{fig}}"><br /><br /><br /><br /><br />
        {%endfor%}
        </div><!--results-->
    {%endif%}<!--end if figure_files-->
    </div><!--col-sm-12-->
</div><!--row-->

{%endblock%}
