{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, station data, climate, maps">
<meta name="description" content="SCENIC  Temporal Summary">

{%load my_scenic_filters%}

{% block content %} 

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_temporal_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_area_of_interest">{% include 'includes/Docu_area_of_interest.html'%}</div>
    <div id="Docu_elements">{% include 'includes/Docu_elements.html'%}</div>
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
    <div id="Docu_temporal_summary">{% include 'includes/Docu_temporal_summary.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
</div><!--End how_to-->

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="temporal_summary">
<input type="hidden" id="area_type" name="area_type" value="{{area_type}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{kml_file_path}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">


<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}multi/temporal_summary/'"/>
    {%if figure_files%}
    <input type="submit" value="Change Options" onclick="ShowHideTopOfPage()">
    {%endif%}
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>

<!--Form-->
{% if not figure_files%}
<table id="top_of_page">
{%else%}
<table id="top_of_page" style="display:none">
{%endif%}

<td valign="top" width="40%">
    <div id='formMap'>
        <form method="post" id="tableMapForm" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form" id="tableMap" >
        <tr class="station_grid" style="display:table-row">{% include 'includes/map_area_select.html'%}</tr>
        <tr class="station_grid" style="display:table-row;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/elements.html'%}</tr>
        <tr class="station_grid" id="add" valign="top" style="display:table-row">{% include 'includes/add_special_degree_days.html'%}</tr>
        {%if initial.add_degree_days == "T"%}
            <tr id="dd" valign="top" style="display:table-row">{% include 'includes/degree_days.html'%}</tr>
        {%else%}
            <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
        {%endif%}
        <tr class="station_grid" style="display:table-row;">{% include 'includes/units.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/end_date.html'%}</tr>
        <tr id="temp_summary" style="display:table-row">{% include 'includes/temporal_summary.html'%}</tr>
        <tr class="grid" id="grid_type" style="display:table-row">{% include 'includes/grids.html'%}</tr>
        <tr valign="top" class="plOpts" style="display:none;">{% include 'includes/image_size.html'%}</tr>
        <tr valign="top" class="plOpts" style="display:none;">{% include 'includes/num_levels.html'%}</tr>
        <tr valign="top" class="plOpts" style="display:none;">{% include 'includes/colormap.html'%}</tr>
        <tr valign="top" class="plOpts" style="display:none;">
            <td></td>
            <td><a target="_blank" href="http://matplotlib.org/mpl_examples/pylab_examples/show_colormaps.pdf">List of available color maps</a></td>
            <td></td>
        </tr>
        <tr valign="top" class="plOpts" style="display:none;">{% include 'includes/map_overlay.html'%}</tr> 
        <tr valign="top" class="plOpts" style="display:none;">{% include 'includes/interpolation.html'%}</tr>
        <tr valign="top" class="plOpts" style="display:none;">{% include 'includes/projection.html'%}</tr>
        </table>
        <input type="hidden" name="app_name" value="temporal_summary">
        <input type="submit" value="Generate maps" name="formMap">
        <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
        </form>
    </div>
    <br /><br />
<!--RIGHT-->
</td>
<td valign="top" width="60%">
    
    <!--MAPS-->
    {%if not hide_bbox_map%}
        <div id="BBoxMap" style="display:block;">
            <input id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
            <input id="address" type="textbox" value="Place/Location" style="height:15px;width:150px;">
            <div id="map-bbox"></div>
            {%if initial.bounding_box%}
                <script type="text/javascript">initialize_bbox_map("{{initial.bounding_box}}");</script>
            {%else%}
                <script type="text/javascript">initialize_bbox_map();</script>
            {%endif%} 
        </div>
    {%else%}
        <div id="BBoxMap" style="display:none;">
           <input style="display:none;" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
            <input style="display:none;" id="address" type="textbox" value="Place/Location" style="height:15px;width:150px;">
            <div id="map-bbox" style="display:none;"></div>
        </div>
   {%endif%}
    
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%}

    {%if figure_files and initial.state %}
        {% include 'includes/arrow.html'%}
    {%endif%}

    {%if run_done and not figure_files %}
           {% include 'includes/no_results.html'%}
    {%endif%}
    </div>
</td></table><!--End table top_of_page-->


<!--Results section-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <div class="results">

    {%if run_done and not figure_files%}
           {% include 'includes/no_results.html'%}
    {%endif%}

    {%if error%}
        <p class="error">{{ error }}</p>
    {%endif%} 

    {%if figure_files%}

    <p class="message"  align="left" style="max-width:400px;word-wrap:break-word;">
    <b>PARAMETERS</b>:<br />
    {%for key_val in params_display_list%}
        <b>{{key_val.0}}</b>: {{key_val.1}}<br />
    {%endfor%}
    </p>

    {%for fig in figure_files%}
        <img alt="FigureFile" title="FigureFile" src="{{JSON_URL}}/{{fig}}"><br /><br /><br /><br /><br />
    {%endfor%}
    {%endif%}
    </div><!--end results div-->
</td></table>
{%endblock%}
