{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SW-CKN TOOLS Home">

{% block content %} 


<div class="container">
<!--
<p align="center">You are here
<a href="{{HOME_URL}}">Home></a>
<a href="{{TOOLS_URL}}">Analysis Tools</a></p>
-->

<!--Documentation -->
<!--FIX ME: need qmark docu for station/grid analysis-->
<div class="docu" id="Docu_NONE" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_NONE").load("{{HTML_URL}}/Docu_NONE.html");
    </script>
<div class="docu" id="Docu_StationTools" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_StationTools").load("{{HTML_URL}}/Docu_StationTools.html");
    </script>
<div class="docu" id="Docu_GridTools" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_GridTools").load("{{HTML_URL}}/Docu_GridTools.html");
    </script>

<table cellpadding="20" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
       <td valign="top"><a href="{{STATION_TOOLS_URL}}" class="trigger_hover"><b>Station Data<br />Analysis</b></a>
       <div class="pop-up">
       <b>Data Analysis/Visualization of <br />histroric station data</b>
            <li>Generate custom statistics for a station and climate  element</li>
            <li>Available statistics: </li>
            <ul>
                Monthly Maximum<br />
                Monthly Minimum<br />
                Monthly Average<br />
                Standard Deviation<br />
                Number of Days (above/below/between thresholds)<br />
                Range during Month<br />
                Monthly Sum<br />
            </ul>
            <li>Generate climatology for a station (multi element)</li>
            <li>Mean monthly high/lows/averages</li>
            <li>Monthly extremes with day of occurrence</li>
            <li>Number of days above/below standard thresholds</li>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" onclick="ShowPopupDocu('Docu_StationTools')">
       </td>
       <td valign="top"><a href="{{GRID_TOOLS_URL}}" class="trigger_hover"><b>Gridded Data<br />Analysis</b></a>
       <div class="pop-up">
       <b>Data Analysis/Visualization of <br />gridded/modeled data</b>
            <ul>
            <li>Single gridpoint statistics:</li>
            <ul>
            <li>Generate custom statistics for a gridpoint and climate  element</li>
            <li>Available statistics: </li>
            <ul>
                Monthly Maximum<br />
                Monthly Minimum<br />
                Monthly Average<br />
                Standard Deviation<br />
                Number of Days (above/below/between thresholds)<br />
                Range during Month<br />
                Monthly Sum<br />
            </ul>
            <li>Generate custom time series</li>
            <ul>
            <li>Plot indivual months or summarize over multiple months</li>
            </ul>
            </ul>
            <li>Temporal Summaries: Generate Climate Summary Maps for a US State</li>
            <li>Spatial Summaries: Create customized Time Series for:
            <ul>
            <li>US states</li>
            <li>County, County Warning Area</li>
            <li>Climate Division, Drainage Basin</li>
            <li>Custom polygon, Circle, Bounding Box</li>
            </ul>
            </li>
            </ul>
        </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_GridTools')">
       </td>
    </tr>
    <tr>
       <td colspan="2">
       <a  href="{{STATION_TOOLS_URL}}" class="trigger_hover"><img class="app_img" alt="StationAnalysis" title="StationD=Analysis" src="{{MEDIA_URL}}img/MonAves.png"></a>
        <div class="pop-up">
       <b>Data Analysis/Visualization of <br />histroric station data</b>
            <li>Generate custom statistics for a station and climate  element</li>
            <li>Available statistics: </li>
            <ul>
                Monthly Maximum<br />
                Monthly Minimum<br />
                Monthly Average<br />
                Standard Deviation<br />
                Number of Days (above/below/between thresholds)<br />
                Range during Month<br />
                Monthly Sum<br />
            </ul>
            <li>Generate climatology for a station (multi element)</li>
            <li>Mean monthly high/lows/averages</li>
            <li>Monthly extremes with day of occurrence</li>
            <li>Number of days above/below standard thresholds</li>
       </div>
       </td>
       <td colspan="2">
       <a  href="{{GRID_TOOLS_URL}}" class="trigger_hover"><img class="app_img" alt="GridAnalysis" title="GridAnalysis" src="{{MEDIA_URL}}img/ClimSumMap.png"></a>
       <div class="pop-up">
       <b>Data Analysis/Visualization of <br />gridded/modeled data</b>
            <ul>
            <li>Single gridpoint statistics:</li>
            <ul>
            <li>Generate custom statistics for a gridpoint and climate  element</li>
            <li>Available statistics: </li>
            <ul>
                Monthly Maximum<br />
                Monthly Minimum<br />
                Monthly Average<br />
                Standard Deviation<br />
                Number of Days (above/below/between thresholds)<br />
                Range during Month<br />
                Monthly Sum<br />
            </ul>
            <li>Generate custom time series</li>
            <ul>
            <li>Plot indivual months or summarize over multiple months</li>
            </ul>
            </ul>
            <li>Temporal Summaries: Generate Climate Summary Maps for a US State</li>
            <li>Spatial Summaries: Create customized Time Series for:
            <ul>
            <li>US states</li>
            <li>County, County Warning Area</li>
            <li>Climate Division, Drainage Basin</li>
            <li>Custom polygon, Circle, Bounding Box</li>
            </ul>
            </li>
            </ul>
       </div>
       </td>
    </tr>
    </table>
</td>
</table>

{%endblock%}
