{% extends "csc_base.html" %}

<meta name="keywords" content="climatology, barchart, coop station, station data, historic data,, gridded data,application, product, tool">
<meta name="description" content="SCENIC Climatology">

{%load my_scenic_filters%}

{% block content %}

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_climatology.html'%}
</div>
<div id="how_to" style="display:none;">
        <div id="Docu_point_of_interest">{% include 'includes/Docu_point_of_interest.html'%}</div>
        <div id="Docu_grids">{% include 'includes/Docu_grids_historic.html'%}</div>
        <div id="Docu_start_end_year">{% include 'includes/Docu_year_range.html'%}</div>
        <div id="Docu_climatology_smry_type">{% include 'includes/Docu_climatology_smry_type.html'%}</div>
        <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
        <div id="Docu_max_missing_days">{% include 'includes/Docu_max_missing_days.html'%}</div>
        <script type="text/javascript">            
        $("#Docu_plot_opts").load("{{HTML_URL}}/Docu_PLOT_OPTS_SODSUMM.html");
        </script>
        </div>

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="{{app_name}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
<input type="hidden" id="JSON_DIR" name="JSON_DIR" value="{{JSON_DIR}}">
<!--Set up autofill-->
{%if initial.autofill_list %}
    <script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
{%endif%}

<!--Button row-->
{% include 'includes/button-row.html'%}

<!--Form-->
{% if not results %}
<div id="top_of_page">
{%else%}
<div id="top_of_page" style="display:none">
{%endif%}
    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form method="post" class="main-form" id="DataForm" action="" onsubmit="show_loading()">{% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
                <input type="hidden" name="app_name" value="climatology">
                <input type="hidden" name="data_type" id="data_type" class="data_type" value="{{initial.data_type}}">
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">1. Define your region!</label> 
                    <div class="input-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {% include 'includes/area-type.html'%}
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <span id="area">{% include 'includes/area.html'%}</span>
                        </div>
                    </div>
                    {%if initial.area_type == "location"%}
                    <span  id="stn_finder" style="display:none">{% include 'includes/station-finder.html'%}</span>
                    {%else%}
                    <span  id="stn_finder">{% include 'includes/station-finder.html'%}</span>
                    {%endif%}
                </div>
               <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">2. Choose your dataset!</label>
                    {%if initial.area_type == "location"%}
                    <span class="grid" id="grid_type">{% include 'includes/grids.html'%}</span>
                    {% else%}
                    <span class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</span>
                    {%endif%}
                    <div class="input-group">
                        {% include 'includes/climatology_summary_type.html'%}
                        <span class="input-group-addon"></span>
                        {% include 'includes/units.html'%}
                    </div>
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">4. Define your date ranges! </label>
                    {% include 'includes/valid_daterange.html'%}
                    {% include 'includes/start-end-year.html'%}
                </div>
                <div class="form-input-group form-group" align="center">
                    {% include 'includes/max_missing_days.html'%}
                </div>
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
            </form>
        </div><br /><!--col-sm-4-->
        <!--Main: Errors/maps-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">    
         <!--Ajax Error-->
        <div class="ajax_error error"></div>
        {%if form_error%}
        <div class="results">
            {% include 'includes/form_error.html'%}
        </div>
        {%endif%} 

        {%if run_done and not results and not results.error%}
        <div class="results">
           {% include 'includes/no_results.html'%}
        </div>
        {%endif%}
        <!--Maps-->
        <!--Gridpoint map-->
        {% include 'includes/map-gridpoint.html'%}
        </div><!--col-sm-8-->
    </div><!--row-->
    <br />
</div><!--top_of_page-->
<!--Results-->
<!--Main Results-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    {% if not results.error and results %}
        <div class="results row">  
            <p>
                For monthly and annual mean, thresholds and sums:</br>
                Months with {{initial.max_missing_days}} or more missing days are not considered.</br>
            </p>
            {% if initial.location%}
            <p class="stronger">Location: {{initial.location}}</br>
            Dataset: {{ grid_name }}<br />
            {%endif%}
            {% if initial.station_id%}
            <p class="stronger">Station: {{station_name.0}}</br>
            {%endif%}
            From Year {{start_year}} To Year {{end_year}}</br>
            </p></br>
            <ul class="nav nav-tabs">
            {%for tab in tab_list%}
                <li id="nav-{{tab}}" {%if forloop.counter == 1%}class="active"{%endif%}>
                    <a onClick="ShowSodsummTab('{{tab}}');">{{tab_names|lookup:forloop.counter0}}</a>
                </li>
            {%endfor%}
            </ul> 
            <!-- TAB results -->
            {%for tab in tab_list%} 
            <div class="sodsumm-tab" id={{tab}} {%if forloop.counter != 1%}style="display:none"{%endif%}>
                <div class="hc-container" id="hc-container{{forloop.counter0}}" align="center" width="100%"></div>
                <script type="text/javascript">generateSodsummChart({{forloop.counter0}})</script>
                <p>
                {%if tab != 'pcpn' and tab != 'snow'%}
                <p>{{headers|lookup:tab|safe}}&nbsp;&nbsp;</p>
                {%else%}
                <p>{{headers.prsn|safe}}&nbsp;&nbsp;</p>
                {%endif%}<!--end if tab != 'snow'-->
                </p>
                </br>
                <div class="dataTableInfo" id="dataTableInfo-{{forloop.counter0}}" style="display:none;">
                {% for key_val in params_display_list %}
                    {{key_val.0}} {{key_val.1}},
                {% endfor %}
                </div>  
                <table class="dataTable" id="dataTable-{{forloop.counter0}}" width="90%" style="cellpadding:0;cellspacing:0;border-collapse:collapse;">
                    {%if tab != "snow" and tab != "pcpn"%}
                        {%for row in results|lookup:tab%}
                            {%if forloop.counter0 == 0%}
                            <thead>
                            <tr>{%for val in row%}<th>{{val}}</th>{%endfor%}</tr>
                            </thead>
                            <tfoot>
                            <tr>{%for val in row%}<th>{{val}}</th>{%endfor%}</tr>
                            </tfoot>
                            <tbody>
                            {%else%}
                            {%if row.0 == "December"%}
                                <tr class="border_bottom">{%for val in row%}<td>{{val}}</td>{%endfor%}</tr>
                            {%else%}
                                <tr>{%for val in row%}<td>{{val}}</td>{%endfor%}</tr>
                            {%endif%}
                            {%endif%}
                        {%endfor%}
                        </tbody>
                    {%else%}
                        {%for row in results.prsn%}
                            {%if forloop.counter0 == 0%}
                            <thead>
                            <tr>{%for val in row%}<th>{{val}}</th>{%endfor%}</tr>
                            </thead>
                            <tfoot>
                            <tr>{%for val in row%}<th>{{val}}</th>{%endfor%}</tr>
                            </tfoot>
                            <tbody>
                            {%else%}
                            {%if row.0 == "December"%}
                                <tr class="border_bottom">{%for val in row%}<td>{{val}}</td>{%endfor%}</tr>
                            {%else%}
                                <tr>{%for val in row%}<td>{{val}}</td>{%endfor%}</tr>
                            {%endif%}
                            {%endif%}
                        {%endfor%}
                        </tbody>
                    {%endif%}
                </table>
            </div><!--sodsumm-tab-->
            {%endfor%} <!--end for tab in tab_list-->
        </div><!--end div results-->
    {%endif%}<!--if results or graphics-->
    </div><!--col-sm-12-->
</div><!--row-->
{%endblock%}
