{% extends "csc_base.html" %}

<meta name="keywords" content="Data, Gridded, Station, Historic, Comparison">
<meta name="description" content="SCENIC data comparison">

{%load my_scenic_filters%}

{% block content %}


<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_location">{% include 'includes/Docu_location.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
    <div id="Docu_variable">{% include 'includes/Docu_variable.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div> 
    <div id="Docu_start_end_date">{% include 'includes/Docu-start-end-date.html'%}</div>
</div>

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="{{app_name}}">

<!--Button row-->
{% include 'includes/button-row.html'%}


<!--Form-->
{% if not results.graph_data %}
<div id="top_of_page">
{%else%}
<div id="top_of_page" style="display:none">
{%endif%}
    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form method="post" class="main-form" id="DataForm" action="" onsubmit="show_loading()">{% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
                <input type="hidden" name="app_name" value="data_comparison">
                <!--Hidden chart vars-->
                <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
                <input type="hidden" value="{{initial.show_running_mean}}" name="show_running_mean" class="show_running_mean">
                <input type="hidden" value="{{initial.running_mean_days}}" name="running_mean_days" class="running_mean_days">
                <input type="hidden" value="{{initial.show_average}}" name="show_average" class="show_average">
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">1. Define your region!</label> 
                    <div class="input-group">
                        {% include 'includes/location.html'%}
                    </div>
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">2. Choose your dataset!</label>
                    {%if initial.area_type == "location"%}
                    <span class="grid" id="grid_type">{% include 'includes/grids.html'%}</span>
                    {% else%}
                    <span class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</span>
                    {%endif%}
                    <div class="input-group">
                       <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {% include 'includes/variable.html'%}
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% include 'includes/units.html'%}
                        </div>  
                    </div>
                    {%if initial.variable == "gdd" or initial.variable == "hdd" or initial.variable == "gdd"%}
                    <span id="base_temp" >{% include 'includes/base_temperature.html'%}</span>
                    {%else%}
                    <span id="base_temp"  style="display:none">{% include 'includes/base_temperature.html'%}</span>
                    {%endif%}
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">4. Define your date ranges! </label>
                    <div class="input-group">
                        <div id="valid_daterange" class="error"
                        {%if initial.min_date == '9999-99-99' or initial.max_date == '9999-99-99'%}
                        style="display:none;"
                        {%endif%}>Available: {{initial.min_date}} - {{initial.max_date}}</div>
                    </div> 
                    <div class="input-group">
                        <div id="valid_daterange_fut" class="error"
                        {%if initial.min_date_fut == '9999' or initial.max_date_fut == '9999'%}
                        style="display:none;"
                        {%endif%}>And: {{initial.min_date_fut}} - {{initial.max_date_fut}}</div>
                    </div> 
                    <div class="input-group">
                        {% include 'includes/start-date.html'%}
                        <span class="input-group-addon"></span>
                        {% include 'includes/end-date.html'%}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
            </form>
        </div><!--col-sm-4-->
        <!--Main: Errors/maps-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!--Form errors and search parameter section-->
            {%if form_error%}
            <div class="results">
                {% include 'includes/form_error.html'%}
            </div>
            {%endif%}
            {%if run_done and not results.graph_data%}
             <div class="results">
                {% include 'includes/no_results.html'%}
            </div>
            {%endif%}
            <!--Maps-->
            <!--Gridpoint map-->
            {% include 'includes/map-gridpoint.html'%}
        </div><!--col-sm-8-->
    </div><!--row-->
    <br />
</div><!--top_of_page-->
<!--Results-->
<!--Main Results-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    {% if results.graph_data %}
        <div class="results">
            <div class="row button-row">
                <!--Buttons-->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                </div>
                <div class="col-xs- col-sm-7 col-md-7 col-lg-7">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input class="btn btn-success" id="show_hide_summary" type='button' value='Hide Summary'>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input class="btn btn-success" id="show_hide_graph" type='button' value='Hide Graph'>
                    </div>
                </div> 
            </div><br />
            <!--CHART-->
            <div id="main-graph" class="chart">
                <p>Distance between {{results.graph_data.1.seriesName}} and
                {{results.graph_data.0.seriesName}} is {{results.distance}} km.</p>
                <!--Chart Layers-->
                <div class="row chart-layers">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {% include 'includes/chart-type.html'%}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {% include 'includes/chart-running-mean-days.html'%}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">        
                        {% include 'includes/chart-average.html'%}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {% include 'includes/chart-show-hide-legend.html'%}
                    </div>
                </div>
                <!--Chart-->
                <div class="row" height="100%">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div align="center" id="hc-container" width="90%"></div>
                    <script type="text/javascript">
                        var graph_data = {{results.graph_data | safe_json}}
                        generateTS_individual([0,1]);
                    </script>
                    </div>
                </div>
            </div><br /><!--main-graph-->
            <!--TABLES-->
            <div id="summary-table" align="center" style="display:block;">
                <div class="dataTableInfo" id="dataTableInfo-0" style="display:none">
                    Statistics,
                    {%for key_val in params_display_list%}
                    {{key_val.0}} {{key_val.1}}, 
                    {%endfor%}
                </div>
                <table border="1" class="dataTable nowrap" id="dataTable-0" style="display_none">
                    <thead>
                        <tr><th>Statistic</th><th>Station</th><th>Grid</th></tr>
                    </thead>
                    <tfoot>
                        <tr><th>Statistic</th><th>Station</th><th>Grid</th></tr>
                    </tfoot>
                    <tbody>
                        <tr>
                        <td></td><td><b>{{results.graph_data.0.seriesName}}</b></td><td><b>{{results.graph_data.1.seriesName}}</b></td>
                        </tr>
                        <tr>
                            <td>Max</td><td>{{results.stats.max.0}}</td><td>{{results.stats.max.1}}</td>
                        </tr>
                        <tr>
                            <td>Min</td><td>{{results.stats.min.0}}</td><td>{{results.stats.min.1}}</td>
                        </tr>
                        <tr>
                            <td>Mean</td><td>{{results.stats.mean.0}}</td><td>{{results.stats.mean.1}}</td>
                        </tr>
                        <tr>
                            <td>Median</td><td>{{results.stats.median.0}}</td><td>{{results.stats.median.1}}</td>
                        </tr>
                        <tr>
                            <td>SD</td><td>{{results.stats.std.0}}</td><td>{{results.stats.std.1}}</td>
                        </tr>
                        <tr>
                            <td>Skew</td><td>{{results.stats.skew.0}}</td><td>{{results.stats.skew.1}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="dataTableInfo" id="dataTableInfo-1" style="display:none">
                    Correlation Coefficients,
                    {%for key_val in params_display_list%}
                    {{key_val.0}} {{key_val.1}},
                    {%endfor%}
                </div>
                <table border="1" class="dataTable nowrap" id="dataTable-1" style="display_none">
                    <thead><tr><th>Coefficient</th><th>Value</th></tr></thead>
                    <tfoot><tr><th>Coefficient</th><th>Value</th></tr></tfoot>
                    <tbody> 
                        <tr><td>Pearson correlation coeff</td><td>{{results.stats.pearsonc}}</td></tr>
                        <tr><td>Pearson 2-tailed p-value</td><td>{{results.stats.pearsonp}}</td></tr>
                        <tr><td>Kolmogorov-Smirnov</td><td>{{results.stats.ksc}}</td></tr>
                        <tr><td>Kolmogorov-Smirnov p-value</td><td>{{results.stats.ksp}}</td></tr>
                    </tbody>
                </table>
            </div><!--summary-table-->
        </div><!--results-->
    {% endif %}<!--if results.graph_data-->
    </div><!--col-sm-12-->   
</div><!--rows-->

{%endblock%}
