{% extends "csc_base.html" %}
<META name="keywords" content="single year, time series">
<meta name="description" content="SCENIC Single point single_year time series">

{%load my_scenic_filters%}
{% block content %} 

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_single_year.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_point_of_interest">{% include 'includes/Docu_point_of_interest.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids_historic.html'%}</div>
    <div id="Docu_variable">{% include 'includes/Docu_variable.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_cumulative_or_values">{% include 'includes/Docu_cumulative_or_values.html'%}</div>
    <div id="Docu_start_month_day">{% include 'includes/Docu_start_month_day.html'%}</div>
    <div id="Docu_start_end_year">{% include 'includes/Docu_start_end_year.html'%}</div>
</div><!--End how_to-->

<!---Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="{{app_name}}">
<!--Set up autofill-->
{%if initial.autofill_list %}
    <script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
{%endif%}

<!--Button row-->
{% include 'includes/button-row.html'%}

{% if not results.data %}
    <div id="top_of_page">
{%else%}
    <div id="top_of_page" style="display:none">
{%endif%}
    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form method="post" class="main-form" id="DataForm" action="" onsubmit="show_loading()">{% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
                <input type="hidden" name="data_type" id="data_type" class="data_type" value="{{initial.data_type}}">
                <input type="hidden" name="app_name" value="single_year">
                <input type="hidden" id="data_type" name="data_type" value="{{initial.data_type}}">
                <input type="hidden" id="target_year_form" name="target_year_form" value="{{initial.target_year}}" class="target_year">
                <!--Plotting vars-->
                <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
                <input type="hidden" value="{{initial.show_percentile_5}}" name="show_percentile_5" class="percentile_5">
                <input type="hidden" value="{{initial.show_percentile_10}}" name="show_percentile_10" class="percentile_10">
                <input type="hidden" value="{{initial.show_percentile_25}}" name="show_percentile_25" class="percentile_25">
                <input type="hidden" value="{{initial.show_climatology}}" name="show_climatology" class="climatology">
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">1. Define your region!</label> 
                    <div class="input-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {% include 'includes/area-type.html'%}
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <span id="area">{% include 'includes/area.html'%}</span>
                        </div>
                    </div>
                    {%if initial.area_type == "location"%}
                    <span  id="stn_finder" style="display:none">{% include 'includes/station-finder.html'%}</span>
                    {%else%}
                    <span  id="stn_finder">{% include 'includes/station-finder.html'%}</span>
                    {%endif%}
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">2. Choose your dataset!</label>
                    {%if initial.area_type == "location"%}
                    <span class="grid" id="grid_type">{% include 'includes/grids.html'%}</span>
                    {% else%}
                    <span class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</span>
                    {%endif%}
                    <div class="input-group">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {% include 'includes/variable.html'%}
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% include 'includes/units.html'%}
                        </div>
                    </div>
                    <div class="input-group">
                        {% include 'includes/calculation.html'%}
                    </div>
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">4. Define your date ranges! </label>
                    <div class="input-group">
                        <div id="valid_daterange" class="error"
                        {%if initial.min_date == '9999' or initial.max_date == '9999'%}
                        style="display:none;"
                        {%endif%}>Available: {{initial.min_date}} - {{initial.max_date}}</div>
                    </div> 
                    <div class="input-group">
                        <div id="valid_daterange_fut" class="error"
                        {%if initial.min_date_fut == '9999' or initial.max_date_fut == '9999'%}
                        style="display:none;"
                        {%endif%}>And: {{initial.min_date_fut}} - {{initial.max_date_fut}}</div>
                    </div> 
                    <div class="input-group">
                        {% include 'includes/start-month-day.html'%}
                        {% include 'includes/start-end-year.html'%}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
            </form>
        </div><!--col-sm-4-->
        <!--Main: Errors/maps-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
             <!--Ajax Error-->
            <div class="ajax_error error"></div>
            <!--Form error-->
            {%if form_error%}
            <div class="results">
                {% include 'includes/form_error.html'%}
            </div>
            {%endif%}
            <!--Request error-->
            {%if results.error%}
            <div class="results"><p class="error">{{results.error}}</p></div>
            {%endif%}
            <!--Parameter or request error--> 
            {%if  run_done and  not results.data %}
            <div class="results">
                {% include 'includes/no_results.html'%}
            </div>
            {%endif%}
            <!--Maps-->
            <!--Gridpoint map-->
            {% include 'includes/map-gridpoint.html'%}
        </div><!--col-sm-8-->
    </div><!--row-->
    <br />
</div><!--top_of_page-->
<!--Results-->
<!--Main Results-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    {% if not results.error and results.data %}
        <div class="row results" align="center">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <!--DATA-->
                <div id="DataList">
                    <div class="dataTableInfo" id="dataTableInfo-0" style="display:none;">
                    {%for key_val in params_display_list%}
                        {{key_val.0}} {{key_val.1}},
                    {%endfor%}
                    </div>
                    <table border="1" class="dataTable nowrap" id="dataTable-0">
                        <thead>
                            <th>Date</th><th>{{results.variable_short}}</th>
                        </thead>
                        <tfoot>
                            <th>Date</th><th>{{results.variable_short}}</th>
                        </tfoot>
                        <tbody>
                        {%for date_data in results.data|lookup:results.target_year%}
                            <tr><td>{{date_data.0}}</td><td>{{date_data.1}}</td></tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div><!--DataList--> 
            </div><!--col-sm-3-->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <p>
                {%for key_val in params_display_list%}
                    <b>{{key_val.0}}</b>: {{key_val.1}};<br />
                {%endfor%}
                </p>
                <!--CHART-->
                <div id="main-graph" class="chart">
                    <!--Chart Layers-->
                    <div class="row chart-layers">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% include 'includes/chart-percentiles.html'%}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="row">
                                {% include 'includes/chart-target-year.html'%}
                            </div><br />
                            <div class="row">
                                {% include 'includes/chart-type.html'%}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% include 'includes/chart-show-hide-legend.html'%}
                        </div>
                    </div>
                    </div> 
                    <!--Chart-->
                    <div class="row" height="100%">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div align="right" id="hc-container" width="90%"></div>
                            <script type="text/javascript">
                                var graph_data = {{results.graph_data | safe_json}};
                                var cp_data = {{results.cp_data | safe_json }};
                                var data_indices = {{ results.data_indices |safe }};
                                generateTS_individual(data_indices);
                            </script>
                        </div>
                    </div>
                </div><!--main-graph-->
            </div><!--col-sm-9-->
        <div><!--results--> 
    {%endif%}<!--end if not results.error-->
    </div><!--col-sm-12-->
</div><!--row-->
{%endblock%}
