{%load my_scenic_filters%}
<div class="form-group">
    <label id="area-type-label" for="area">{{initial.area_type_label}}</label>
    <img class="qmark" id="qmark-area" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="{{initial.area_type_label}}" class="pop-up" id="area-pop-up">
        <div id="ht_{{initial.area_type}}"></div>
        <script type="text/javascript">                        
            $("#ht_{{initial.area_type}}").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_{{initial.area_type}}");
        </script>
    </div>
    <span id="area-form-input"> 
    {%if initial.area_type == "state"%}
        <select class="area form-control" name="{{initial.area_type}}" id="{{initial.area_type}}" 
        onchange="update_value(this.value) &update_maps(this)">
        {%for st, name in initial.form_options.state%}
            <option value="{{st}}" {%if initial.state == st%} selected{%endif%}>
            {{name}}</option>
        {%endfor%}
        </select>
    {%else%}
        <input type="text" class="area form-control" size="30" id="{{initial.area_type}}" name="{{initial.area_type}}"
            value="{{initial.area_type_value}}" list="{{initial.autofill_list}}" 
            onchange="update_value(this.value) &update_maps(this)">
    {%endif%}
    </span> 
    <!--Update buttons for maps and station valid daterange -->
    <input class="btn btn-primary" type='button' id="set_map-button" size="30"
    {%if initial.area_type|is_in:"basin,county,climate_division,county_warning_area"%}style="display:block"{%else%}style="display:none"{%endif%}
    value='Update map' onclick="set_map();">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input class="btn btn-primary" type='button' id="set_station_vd-button"
    {%if initial.area_type|is_in:"station_id"%}style="display:block;"{%else%}style="display:none"{%endif%}
    value='Update form' onclick="ajax_set_station_vd();">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img class="qmark" id="qmark-variable" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
        <div title="Update date ranges and variables" class="pop-up">
            <div id="ht_update_form"></div>
            <script type="text/javascript">                        
            $("#ht_update_form").load("{{HTML_URL}}Docu_help_texts.html #ht_update_form");
            </script>
        </div> 
    </div>
    </div>
</div>
