<div class="form-group">
    <label for="area_type">Region</label>
    <img class="qmark" id="qmark-area_type" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Region" id="Docu_area_type" class="pop-up"></div>
    <script type="text/javascript">                        
        $("#Docu_area_type").load("{{HTML_URL}}/Docu_help_texts.html #ht_select_area");
    </script>
    <select id="area_type" name="area_type" class="area_type form-control">
        {% for x,y in initial.form_options.area_type %}
        <option value="{{ x }}" {% if x == initial.area_type  %} selected {% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
</div>
