       <td>Area of Interest:</td>
        <td>
            <select class="area_type" id="area_type" name="area_type">
            {%for opt, name in initial.form_options.area_type%}
            <option value="{{opt}}" {%if initial.area_type == opt%}selected{%endif%}
            {%if opt == "locations"%}disabled {%endif%}
            >{{name}}</option>
            {%endfor%}
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_select_area" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_select_area").load("{{HTML_URL}}/Docu_help_texts.html #ht_select_area");
        </script>
        </td>

