<div class="form-group">
    <label for="base_temperature">Base Temperature</label>
    <img class="qmark" id="qmark-base_temperature" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Base Temperature" class="pop-up">
        <div id="ht_base_temperature"></div>
        <script type="text/javascript">                        
            $("#ht_base_temperature").load("{{HTML_URL}}Docu_help_texts.html #ht_base_temperature");
        </script>
    </div>
    <input class="form-control" type="text" id="base_temperature" name="base_temperature" value="{{initial.base_temperature}}">
</div>
