<font class="message">Months: </font>
<input name="chart_selector" id="JAN" class="chart_indices" type="checkbox" value="1" checked/>Jan
<input name="chart_selector" id="FEB" class="chart_indices" type="checkbox" value="2" checked />Feb
<input name="chart_selector" id="MAR" class="chart_indices" type="checkbox" value="3" />Mar
<input name="chart_selector" id="APR" class="chart_indices" type="checkbox" value="4" />Apr
<input name="chart_selector" id="MAY" class="chart_indices" type="checkbox" value="5" />May
<input name="chart_selector" id="JUN" class="chart_indices" type="checkbox" value="6" />Jun
<input name="chart_selector" id="JUL" class="chart_indices" type="checkbox" value="7" />Jul
<input name="chart_selector" id="AUG" class="chart_indices" type="checkbox" value="8" />Aug
<input name="chart_selector" id="SEP" class="chart_indices" type="checkbox" value="9" />Sep
<input name="chart_selector" id="OCT" class="chart_indices" type="checkbox" value="10" />Oct
<input name="chart_selector" id="NOV" class="chart_indices" type="checkbox" value="11" />Nov
<input name="chart_selector" id="DEC" class="chart_indices" type="checkbox" value="12" />Dec
<!--<input type="button" id="save_mon_indices" name="save_selectors" value="Show" />-->
