
{%if initial.statistic_period == "monthly"%}
<font class="message">Months: </font>
<select style="max-height:200px;width:200px" multiple id='data_indices' name="chart_selector">
    <option value=0 {{checkbox_vals.chart_data_indices_0_selected}}>January</option>
    <option value=1 {{checkbox_vals.chart_data_indices_1_selected}}>February</option>
    <option value=2 {{checkbox_vals.chart_data_indices_2_selected}}>March</option>
    <option value=3 {{checkbox_vals.chart_data_indices_3_selected}}>April</option>
    <option value=4 {{checkbox_vals.chart_data_indices_4_selected}}>May</option>
    <option value=5 {{checkbox_vals.chart_data_indices_5_selected}}>June</option>
    <option value=6 {{checkbox_vals.chart_data_indices_6_selected}}>July</option>
    <option value=7 {{checkbox_vals.chart_data_indices_7_selected}}>August</option>
    <option value=8 {{checkbox_vals.chart_data_indices_8_selected}}>September</option>
    <option value=9 {{checkbox_vals.chart_data_indices_9_selected}}>October</option>
    <option value=10 {{checkbox_vals.chart_data_indices_10_selected}}>November</option>
    <option value=11 {{checkbox_vals.chart_data_indices_11_selected}}>December</option>
</select>
{%endif%}

{%if initial.statistic_period == "weekly"%}
<font class="message">Weeks: </font>
<select style="max-height:200px;width:200px" multiple id='data_indices' name="chart_selector">
{% for week in weeks %}
    <option value={{forloop.counter0}} 
    {%if forloop.counter0 == 0 or forloop.counter0 == 0%}selected{%endif%}>Week {{forloop.counter0}}</option>
{% endfor %}
</select>
{%endif%}
