{%load my_scenic_filters%}
<div class="form-group">
{%if initial.statistic_period == "monthly"%}
    <div id="chart_indices">
        <input type="checkbox" name="chart_indices"  class="chart_indices" value=0 
        {% if 0|is_in:initial.chart_indices_string%} checked {% endif %}>Jan 
        <input type="checkbox" name="chart_indices" class="chart_indices" value=1 
        {% if 1|is_in:initial.chart_indices_string%} checked {% endif %}>Feb 
        <input type="checkbox" name="chart_indices"  class="chart_indices" value=2 
        {% if 2|is_in:initial.chart_indices_string%} checked {% endif %}>Mar
        <input type="checkbox" name="chart_indices" class="chart_indices" value=3 
        {% if 3|is_in:initial.chart_indices_string%} checked {% endif %}>Apr
        <input type="checkbox" name="chart_indices"  class="chart_indices" value=4 
        {% if 4|is_in:initial.chart_indices_string%} checked {% endif %}>May
        <input type="checkbox" name="chart_indices" class="chart_indices" value=5 
        {% if 5|is_in:initial.chart_indices_string%} checked {% endif %}>Jun<br/>
        <input type="checkbox" name="chart_indices"  class="chart_indices" value=6 
        {% if 6|is_in:initial.chart_indices_string%} checked {% endif %}>Jul
        <input type="checkbox" name="chart_indices" class="chart_indices" value=7 
        {% if 7|is_in:initial.chart_indices_string%} checked {% endif %}>Aug
        <input type="checkbox" name="chart_indices"  class="chart_indices" value=8 
        {% if 8|is_in:initial.chart_indices_string%} checked {% endif %}>Sep
        <input type="checkbox" name="chart_indices" class="chart_indices" value=9 
        {% if 9|is_in:initial.chart_indices_string%} checked {% endif %}>Oct
        <input type="checkbox" name="chart_indices"  class="chart_indices" value=10 
        {% if 10|is_in:initial.chart_indices_string%} checked {% endif %}>Nov
        <input type="checkbox" name="chart_indices" class="chart_indices" value=11 
        {% if 11|is_in:initial.chart_indices_string%} checked {% endif %}>Dec
    </div>
{%endif%}

{%if initial.statistic_period == "weekly"%}
    <b>Weeks</b>
    <select multiple id='chart_indices' name="chart_selector" size="3">
    {% for week in weeks %}
        <option value={{forloop.counter0}} 
        {%if forloop.counter0|is_in:initial.chart_indices_string %}selected{%endif%}>Week {{forloop.counter0}}</option>
    {% endfor %}
    </select>
{%endif%}
</div>
