    <td>Summary Type: </td>
    <td>
        <select id="summary_type" name="summary_type">
         {%for opt, name in initial.form_options.summary_type%}
            <option value="{{opt}}" {%if initial.summary_type == opt%}selected{%endif%}>{{name}}</option>
        {%endfor%} 
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_summary_type"></div>
        <script type="text/javascript">                        
        $("#ht_summary_type").load("{{HTML_URL}}Docu_help_texts.html #ht_sodsumm_summary_type");
        </script>
    </div>
    </td>
