<!--Download form-->
<form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
    {% include 'includes/data_format.html'%}
    <!--Only show when format is clm or dlm, don't show if xl-->
    <span id="delim{{forloop.counter0}}" style="display:none;">
    {% include 'includes/delimiter.html'%}
    </span>
    {% include 'includes/out_file.html'%}
    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
    <input type="hidden" id=tab" name="tab" value="{{tab}}">
    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary" name="formDownload{{forloop.counter0}}" style="width:100%">
        Download
    </button>
    </div>
</form>
