        <td id="Color Map">Color Map:</td>
        <td><input type="text" id="cmap" name="cmap" value="{{initial.cmap}}" list="US_CMAP" onchange="update_value(this.value)"></td>
        <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_cmap"></div>
            <script type="text/javascript">                        
            $("#ht_cmap").load("{{HTML_URL}}/Docu_help_texts.html #ht_cmap");
            </script>
        </div>
        </td>
