        <td id="Connector Line Width">Connector Line width:</td>
        <td><input type="text" id="connector_line_width" name="connector_line_width" value="{{initial.connector_line_width}}" onchange="update_value(this.value)"></td>
        <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_connector_line_width"></div>
            <script type="text/javascript">                        
            $("#ht_connector_line_width").load("{{HTML_URL}}/Docu_help_texts.html #ht_connector_line_width");
            </script>
        </div>
        </td>
