        <td>Data Type:</td>
        <td>
            <select id="data_type" name="data_type" class="data_type">
           {%for opt, name in initial.form_options.data_type%}
                <option value="{{opt}}" {%if initial.data_type == opt%}selected{%endif%}>{{name}}</option>
            {%endfor%} 
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_data_type" class="pop-up"></div>
        <script type="text/javascript"> 
            $("#Docu_data_type").load("{{HTML_URL}}Docu_help_texts.html #ht_data_type");
        </script>
        </td>
