<div class="form-group">
    <label for="data_type">Data Type</label>
    <img class="qmark" id="qmark-data_type" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div id="ht_data_type" class="pop-up"></div>
    <script type="text/javascript"> 
        $("#ht_data_type").load("{{HTML_URL}}Docu_help_texts.html #ht_data_type");
    </script>
    <select id="data_type" name="data_type" class="data_type form-control">
        {% for x,y in initial.form_options.data_type %}
        <option value="{{ x }}" {% if x == initial.data_type  %} selected {% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
</div>
