       <td>Data Summary: </td>
        <td>
            <select id="data_summary" name="data_summary" onchange="update_value(this.value);">
            {%for ds, name in initial.form_options.data_summary%}
                <option value="{{ds}}" {%if initial.data_summary == ds%} selected{%endif%}
                {%if initial.app_name == "single_lister" and ds == 'spatial_summary'%}disabled{%endif%}
                >{{name}}</option>
            {%endfor%} 
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_data_summary"></div>
            <script type="text/javascript">                        
            $("#ht_data_summary").load("{{HTML_URL}}/Docu_help_texts.html #ht_data_summary");
            </script>
        </div>
        </td>
