{%load my_scenic_filters%}
<div class="form-group">
    <label for="data_formt">Data Format</label>
    <img class="qmark" id="qmark-data_format" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_data_format"></div>
        <script type="text/javascript">                        
            $("#ht_data_format").load("{{HTML_URL}}/Docu_help_texts.html #ht_data_format");
        </script>
    </div>    
    <select class="data_format form-control" name="data_format" onchange="update_value(this.value);">
        {%for opt, name in initial.form_options.data_format%}
            <option value="{{opt}}" {%if initial.data_format == opt%}selected{%endif%}
            {%if app_name|is_in:"station_finder,spatial_summary" and opt == "html"%}disabled{%endif%}
            >{{name}}</option>
        {%endfor%}
    </select>
</div>
