        <td>Data Type:</td>
        <td>
            <select id="data_type" name="data_type" class="data_type">
            <option value="station" {{checkbox_vals.data_type_station_selected}}>Station Data</option>
            <option value="grid" {{checkbox_vals.data_type_grid_selected}}>Gridded Data</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_data_type" class="pop-up"></div>
        <script type="text/javascript"> 
            $("#Docu_data_type").load("{{HTML_URL}}Docu_help_texts.html #ht_data_type");
        </script>
        </td>
