       <td>Data Summary: </td>
        <td>
            <select id="data_summary" name="data_summary" onchange="set_smry(this, 'temp_summary','spat_summary') & update_value(this.value) & unset_large_request();">
            <option value="none" {{checkbox_vals.data_summary_none_selected}}>None, just get raw data</option>
            <option value="windowed_data" {{checkbox_vals.data_summary_windowed_data_selected}}>Windowed Data</option>
            <option value="temporal" {{checkbox_vals.data_summary_temporal_selected}}>Temporal</option>
            <option value="spatial" {{checkbox_vals.data_summary_spatial_selected}}>Spatial</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_data_summary"></div>
            <script type="text/javascript">                        
            $("#ht_data_summary").load("{{HTML_URL}}/Docu_help_texts.html #ht_data_summary");
            </script>
        </div>
        </td>
