        <td>Date Format: </td>
        <td>
        <select id="date_format" name="date_format" onchange="update_value(this.value)">
        <option value="none" {{checkbox_vals.date_format_none_selected}}>yyyymmdd</option>
        <option value="dash" {{checkbox_vals.date_format_dash_selected}}>yyyy-mm-dd</option>
        <option value="colon" {{checkbox_vals.date_format_colon_selected}}>yyyy:mm:dd</option>
        <option value="slash" {{checkbox_vals.date_format_slash_selected}}>yyyy/mm/dd</option>
        </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_date_format"></div>
        <script type="text/javascript">                        
            $("#ht_date_format").load("{{HTML_URL}}/Docu_help_texts.html #ht_date_format");
        </script>
        </div>
        </td>
