<div class="form-group">
    <!--<label for="degree_days">Degree Days</label>-->
    <img class="qmark" id="qmark-degree_days" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Degree Days" class="pop-up">
        <div id="ht_degree_days"></div>
        <script type="text/javascript">                        
            $("#ht_degree_days").load("{{HTML_URL}}/Docu_help_texts.html #ht_degree_days");
            </script>
    </div>
    <input type="text" class="form-control" id="degree_days" name="degree_days" value="{{initial.degree_days}}" onchange="update_value(this.value)">
</div>
