<div class="form-group">
    <label for="departures_from_averages">Output as</label>
    <img class="qmark" id="qmark-departures_from_averages" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_departures_from_averages"></div>
        <script type="text/javascript">                        
        $("#ht_departures_from_averages").load("{{HTML_URL}}Docu_help_texts.html #ht_departures_from_averages");
        </script>
    </div>    
    <select class="form-control" id="departures_from_averages" name="departures_from_averages">
    {%for opt, name in initial.form_options.departures_from_averages%}
        <option value="{{opt}}" 
        {%if initial.departures_from_averages == opt%}selected{%endif%}
        >{{name}}</option>
    {%endfor%}
    </select>
</div>
