    <div id="MODIS" align="left">
    <font size="3"><b><a name="MODIS">MODIS (Global)</a></b></br >
    <b>Source</b>: <a target=_blank class="link" href="https://explorer.earthengine.google.com/#search/tag:modis">MODIS archive in Google Earth Engine</a><br />
    <b>Domain</b>: Global</br>
    <b>Datasets: </b><br />
    <ul>
        <li>Modis Terra (2000-02-24 - Present)</li>
        <li>Modis Aqua (2000-07-04 - Present)</li>
    </ul>
    <b>Temporal Resolution</b>: 8 day<br />
    <b>Spatial Resolution</b>: 30m<br />
    <b>Climate Variables</b>: <br />
    &nbsp;&nbsp;&nbsp;&nbsp;Vegetation Index (NDVI), Enhanced Vegetation Index (EVI),<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Burn Area Index (BAI),Snow Index (NDSI), Water Index (NDWI),<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Fractional Snow Cover (FSC), Land Surface Temperature (LST)
    </div>
