<div id="SODXTRMTS" title="Monthly Time Series">
    <p class="error">What is this tool?</p>
    <p>This tool calculates various monthly statistics<br />
    for a station over a range of years chosen by the user.<br /> 
    Calculations are based on daily input data.<br />
    Tables and graphs can be created for the following climate elements.<br />
    <ul>
    Maximum/Minimum/Mean Temperature, Temperature Range (station only)<br />
    Precipitation/Snowfall (station only)/Snow Depth (station only)<br />
    Heating/Cooling/Growing Degree Days<br />
    </ul>
    Available monthly statistics:
    <ul>
    Monthly Maximum<br />
    Monthly Minimum<br />
    Monthly Average<br />
    Standard Deviation<br />
    Number of Days (above/below/between thresholds)<br />
    Range during Month<br />
    Monthly Sum<br />
    </ul>
</p>
    
    <p class="error">What datasets can be used?</p>
    <p>This tool works with historic station data as well as gridded datasets.</p>
    
    <p class="pop_link" onClick="ShowHide('Docu_STATION_NETWORKS')"><u>SEE STATION_NETWORKS</u></p>
    <div id="Docu_STATION_NETWORKS" style="display:none;">{% include 'includes/Docu_STATION_NETWORKS.html'%}    </div>
    <p class="pop_link" onClick="ShowHide('Docu_GRIDS')"><u>SEE GRIDDED DATASETS</u></p>
    <div id="Docu_GRIDS" style="display:none;">{% include 'includes/Docu_historic_grids.html'%}</div>
    <br />
    <p><b>Temporal Resolution</b><br />
    Daily<br />

    All data sets are made available through the ACIS system.<br />
 
    <p class="error">What can you do with this tool?</p>
    <p>Generate summary tables</p>
    <img alt="SodxtrmtsTable" title="SodxtrmtsTable" width="400px" height="350px" src="/csc/media/img/SodxtrmtsTable.png">
    <p>Generate time series graphs for individual months or<br>summarize several months in one graph</p>
    <img alt="SodxtrmtsTS" title="SodxtrmtsTS" width="400px" height="300px" src="/csc/media/img/SodxtrmtsTS.png">
    <p>Get raw data behind the graphics</p>
</div>
