<div id="gallery_station_finder">
<p class="error">Example</p>
<p class="message">Find stations in Lake Tahoe Basin that have precipitation and minimum temperature data between Jan 1, 1930 and Dec 31, 2014.
</p>
<a href="{{param_urls.station_finder}}" target="_blank"><font color="blue">SEE RESULTS!</font></a><br />
<p class="error">Step by Step instructions</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.station_finder}}" target="_blank">
<font color="blue">{{app_names.station_finder}}</font></a><br /><br />
<img src='/csc/media/img/howto_station_finder_link.png' align="center"><br /><br />
</li>
<li>Set the form parameters:<br /><br />
Look at the form at the left of the page. You can see that
we have several options for the area of interest.
Choose "Custom Shape".<br />
The map that pops up shows a rectangle focused on Havasu City, AZ.<br /><br />

<img src='/csc/media/img/howto_station_finder_area.png' align="center"><br /><br />

Zoom out and focus the map on Lake Tahoe.
From the drawing options at the top left of the map, click the polygon icon  
<img src="/csc/media/img/PolygonIcon.png">.<br />
Point and click at each corner of your polygon.
Finish by double clicking at the final point
or by clicking on the first point of your polygon.<br /><br />
<img src='/csc/media/img/howto_station_finder_custom_polygon.png' align="center"><br />
<p style="font-style:italic;">
Note that the "Custom Shape" field in the form on the left of the page
was updated with the longitude, latitude coordinate pairs of your polygon.<br /><br />
</p>

From the "Elements" drop down menu, select "Precipitation" and "Minimum Temperature".<br />
To select multiple elements:<br />
MAC: hold down the command (apple) button while selecting the elements.<br />
PC: hold down the control (ctrl) button while selecting the elements.<br /><br />

We want our stations to have both precipitation AND minimum temperature.
Select "All of the elements".<br /><br />

For "Start Date", enter 1930-01-01.<br /><br />
For "End Date", enter 2014-12-31.<br /><br />

We want to display stations that have data for all dates from 1930 to 2015. 
Select "All of the dates".<br /><br />

The completed form looks like this:<br /><br />

<img src='/csc/media/img/howto_station_finder_form.png' align="center"><br /><br />
</li>

<li>Submit the request by clicking "Show me stations".
<br /><br />
Stations meeting the criteria will be displayed on the resulting map.
The number of stations will depend on the size of the polygon you have drawn.
This example displays two stations. 
Click a marker on the map
or a station name in the list below the map for more 
information about the stations and to access data. <br /><br />

<img src='/csc/media/img/howto_station_finder_results.png' align="center"><br />
</li>
</ol>
</p>
</div>
