<div id="Docu_all_grids" style="border:1px solid #006666">
    <div id="NRCC_INT" align="left">
    <font size="3"><b><a name="NRCC_INT">NRCC Interpolated</a></b><br />
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br />
    <b>Domain</b>: Continental US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - Present<br />
    <b>Spatial Resolution</b>: 5 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    </div>
    <br />
    <div id="NRCC_INT_HI" align="left">
    <font size="3"><b><a name="NRCC_INT_HI">NRCC Interpolated High Resolution</a></b></font><br />
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br />
    <b>Domain</b>: East of Rockies</br>
    <b>Date Range</b>: 2007 - Present<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Spatial Resolution</b>: 5 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    </div>
    <br />
    <div id="PRISM" align="left">
    <font size="3"><b><a name="PRISM">PRISM</a></b></br >
    <b>Source</b>: PRISM Climate Group<br />
    <b>Domain</b>: Continental US</br>
    <b>Temporal Resolution</b>:<br />Daily<br />
    <b>Date Range</b>: 1981- Present<br />
    <b>Spatial Resolution</b>: 4 km<br />
    <b>Climate Variables</b>: <br />
    Maximum/Minimum/Average Temperature, Precipitation, Degree Days<br />
    <b>Version</b>: “4kmD1”<br />
    </div>
    <br />
    <div>-------- <b>LOCA DOWNSCALED CMIP5 PROJECTIONS</b> --------</div>
    <br />
    <div id="GDFL-CM3" align="left">
    <font size="3"><b><a name="GDFL-CM3">GDFL-CM3</a></b><br />
    <b>Source</b>: Geophysical Fluid Dynamics Laboratory<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    <div id="HadGEM2-CC" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    <!--
    <div id="HadGEM2-ES" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    <div id="HadGEM2-ES" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    -->
    <div>-------- <b>NARRCAP PROJECTIONS</b> --------</div>
    <br />
    <div id="CRCM" align="left">
    <font size="3"><b><a name="CRCM">CRCM -- Canadian Regional Climate Model</a></b><br />
    <b>Source</b>: Ouranos Climate Simulation Team / UQAM via NARRCAP<br />
    <b>Domain</b>: US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </div>
    <br />
    <div id="HRM3" align="left">
    <font size="3"><b><a name="HRM3">HRM3 -- Hadley Regional Model</a></b></br >
    <b>Source</b>: Hadley Centre via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </div>
    <br />
    <div id="MM5I" align="left">
    <font size="3"><b><a name="MM5I">MM5I -- PSU/NCAR mesoscale model</a></b><br />
    <b>Source</b>: NCAR-Mesoscale Prediction Group/Penn State via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </div>
    <br />
    <div id="RCM3" align="left">
    <font size="3"><b><a name="RCM3">RCM3 -- Regional Climate Model Version 3</a></b><br />
    <b>Source: UC Santa Cruz via NARCCAP</b><br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </div>
    <br />
    <div id="WRFG" align="left">
    <font size="3"><b><a name="WRFG">WRFG -- Weather Research Forecasting Model</a></b><br />
    <b>Source</b>: Mesoscale and Microscale Meteorology Division of NCAR via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </div>
</div>
