<div autofocus></div>
<div id="Docu_page_single_point_prods_station">
    <p class="error">What can you find here?</p>
    
    Data and analysis tools for individual weather stations<br/><br/>
    
    <b>Data Listers</b><br/>
    <ul>
    <li>Access to daily data of a weather station</li>
    </ul>
    
    <b>Data Analysis Tools</b>
    {% include 'includes/Docu_single_point_analyses.html'%}

    <p class="error">What datasets are available?</p>
    
    All datassets are made available through the <a class="link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS</font></a> system.
    <br/><br/>

    <b>Observed Quantities </b><br/>
    Maximum Temperature (F/C), Minimum Temperature (F/C),<br/>Observation Time Temperature (F/C)<br/>
    Snowfall (in/mm), Snow Depth (in/mm)<br/>
    <b>Derived Quantities </b><br/>
    Average Temperature (F/C), Heating/Cooling/Growing Degree Days (F/C)<br/><br/>
    
    <span class="link" onClick="ShowPopupDocu('Docu_nwks')"><u><b>Short description of station networks</b></u></span>
    <br/><br/>
    <span class="link" onClick="ShowPopupDocu('Docu_nwk_links')"><u><b>Read more about the networks</b></u></span>
    <br/><br/>    
</div>

