
<p class="lead"><small>
    <ul style="list-style: none;">
        <li>
            <span class="link" onclick="ShowPopupDocu('Docu_LOCA')" onmouseover="ShowPopupDocu('Docu_LOCA')" onmouseout="DestroyPopupDocu('Docu_LOCA')">Localized Constructed Analogs (LOCA) (US/Canada/Mexico)</span>
        </li><br />
        <li>
            <span class="link" onclick="ShowPopupDocu('Docu_NARCCAP')" onmouseover="ShowPopupDocu('Docu_NARCCAP')" onmouseout="DestroyPopupDocu('Docu_NARCCAP')">NARRCAP (US)</span>
        </li>
    </ul>
</small></p>
