    <div id="CRCM" align="left">
    <font size="3"><b><a name="CRCM">CRCM -- Canadian Regional Climate Model</a></b><br />
    <b>Source</b>: Ouranos Climate Simulation Team / UQAM via NARRCAP<br />
    <b>Domain</b>: US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    <!--<a target="_blank" href="http://www.ouranos.ca/fr/programmation-scientifique/science-du-climat/simulations-climatiques/MRCC/eng/crcm.html">Full Description of the 
CRCM Model</a><br />
    <a target="_blank" href="http://www.ouranos.ca/">Ouranus Home Page</a><br />
    <a target="_blank" href="http://www.narccap.ucar.edu/data/model-info.html">NARCCAP Model Information Page</a>-->
    </div>
