<div autofocus></div>
<b>Region </b><br />
<ul>
<li><b>Stations: </b>Search for multiple stations.<br />
&nbsp;&nbsp;You can enter a comma separated list of station names or IDs.<br />
&nbsp;&nbsp;Use the <a target="_blank" href="{{DATA_URL}}climate_data/station_finder/">Station Finder</a>
to find a station names or IDs. 
</li>
<li><b>Gridpoints: </b>Search for a multiple grid point.<br />
&nbsp;&nbsp;Enter a comma separated list of Lon,Lat coordinate or <br />
&nbsp;&nbsp;Use the map interface to find your locations.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clicking on the map will add a new marker to the list.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clicking on a marker will remove that marker from the list<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dragging a marker will update the list with the new coordinates.
</li>

</ul>
