
    <span><b>a) Gridded interpolated datasets</b></span><br />
    <span class="link" onClick="ShowPopupDocu('NRCC_INT_Docu')"><u>NRCC Interpolated</u></span>, 
        <div id="NRCC_INT_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('NRCC_INT_Docu_HI')"><u>NRCC Interpolated Hi-Res</u></span>
        <div id="NRCC_INT_Docu_HI" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('PRISM_Docu')"><u>PRISM</u></span> 
        <div id="PRISM_Docu" style="display:none;"></div>
    <br /><br />
    <span><b>b) North American Regional Climate Change Assessment Program (NARCCAP) dynamically downscaled datasets</span></b><br />
    <span class="link" onClick="ShowPopupDocu('CRCM_Docu')"><u>NARCCAP - CRCM</u></span>, 
        <div id="CRCM_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('HRM3_Docu')"><u>NARCCAP - HRM3</u></span>, 
        <div id="HRM3_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('MM5I_Docu')"><u>NARCCAP - MM5I</u></span>, 
        <div id="MM5I_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('RCM3_Docu')"><u>NARCCAP - RCM3</u></span>, 
        <div id="RCM3_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('WRFG_Docu')"><u>NARCCAP - WRFG</u></span>
        <div id="WRFG_Docu" style="display:none;"></div>
    <br /><br />
    <span<b>c) Localized Constructed Analogs (LOCA) statistically downscaled datasets</span></b><br />
    <span class="link" onClick="ShowPopupDocu('GDFL-CM3_Docu')"><u>LOCA - GDFL-CM3</u></span>, 
        <div id="GDFL-CM3_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('HadGEM2-CC_Docu')"><u>LOCA - HadGEM2-CC</u></span>, 
        <div id="HadGEM2-CC_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('HadGEM2-ES_Docu')"><u>LOCA - HadGEM2-ES</u></span>, 
        <div id="HadGEM2-ES_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('CCSM4_Docu')"><u>LOCA - CCSM4</u></span>,
        <div id="CCSM4_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('CanESM2_Docu')"><u>LOCA - CanESM2</u></span>,<br />
        <div id="CanESM2_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('CESM1-BGC_Docu')"><u>LOCA - CESM1-BGC</u></span>,
        <div id="CESM1-BGC_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('CMCC-CMS_Docu')"><u>LOCA - CMCC-CMS</u></span>,
        <div id="CMCC-CMS_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('CNRM-CM5_Docu')"><u>LOCA - CNRM-CM5</u></span>,
        <div id="CNRM-CM5_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('MICRO5_Docu')"><u>LOCA - MICRO5</u></span>,
        <div id="MICRO5_Docu" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('ACCESS1-0_Docu')"><u>LOCA - ACCESS1-0</u></span>,
        <div id="ACCESS1-0_Docu" style="display:none;"></div>
        
    <script type="text/javascript">
        $("#NRCC_INT_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_NRCC_INT");
        $("#NRCC_INT_HI_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_NRCC_INT_HI");
        $("#PRISM_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_PRISM");
        $("#CRCM_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CRCM");
        $("#HRM3_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_HRM3");
        $("#MM5I_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_MM5I");
        $("#RCM3_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_RCM3");
        $("#WRFG_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_WRFG");
        $("#GDFL-CM3_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_GDFL-CM3");
        $("#HadGEM2-CC_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_HadGEM2-CC");
        $("#HadGEM2-ES_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_HadGEM2-ES");
        $("#CCSM4_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CCSM4");
        $("#CanESM2_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CanESM2");
        $("#CESM1-BGC_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CESM1-BGC");
        $("#CMCC-CMS_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CMCC-CMS");
        $("#CNRM-CM5_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CNRM-CM5");
        $("#MICRO5_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_MICRO5");
        $("#ACCESS1-0_Docu").load("{{HTML_URL}}/Docu_all_grids.html #Docu_ACCESS1-0");
    </script>
