<b>Statistic </b>The type of statistics  that will be generated.<br />
<ul>
<li><b>Maximum</b><br />
Finds maximum<br />for each period in each year spanning start to end year.</li>
<li><b>Minimum</b><br />
Finds minimum<br />for each period in each year spanning start to end year.</li>
<li><b>Average</b><br />
Computes average over non-missing days<br />for each period in each year spanning start to end year.</li>
<li><b>Standard Deviation</b><br />
Computes standard deviation<br /> 
for each period in each year spanning start to end year.<br />
Uses N-1 degrees of freedom.</li>
<li><b>Number of Days</b><br />
Computes number of days that meet user selected threshold criteria<br />
for each period in each year spanning start to end year.</li>
<li><b>Range</b><br />
Computes the difference (highest minus lowest daily value)<br />
for each period in each year spanning start to end year.</li>
<li><b>Sum</b><br />
Computes sum<br />for each period in each year spanning start to end year.</li>
</ul>
