<div id="gallery_spatial_summary">
<p class="error">What is the application?</p>
<p>
<a href="{{app_urls.spatial_summary}}" target="_blank">
<font color="blue">{{app_names.spatial_summary}}</font></a><br />
You can use this tool to generate time series of climate variables<br />
averaged over an area of interest.
</p>
<p class="error">What types of questions can be answered?</p>
<ul>
<li>What was the average, median, min, max or sum of<br />
temperature, precipitation, snow, degree day ... in a <br />
state, county, climate division, county warning area or custom shape<br/>
over a custom date range.</li>
<li>Is there a relation between observed increase in  mortality rate of species x<br />
and min, max temperature, precipitation amounts, ....</li>
</ul>
<p class="error">Example 1</p>
<p class="message">
    
</p>
<a href="{{param_urls.spatial_summary}}" target="_blank"><font color="blue">TRY IT!</font></a><br />
<p class="error">Step by Step instructions</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.spatial_summary}}" target="_blank">
<font color="blue">{{app_names.spatial_summary}}</font></a><br /></li>
<li>Set the form parameters:<br />
We have several options for the area of interest:<br />
<img src='/csc/media/img/Gallery_Area_Of_Interest.png' align="center"><br />
We don't really want to look at all of CA since Tahoe is just a small part of CA.<br /> 
Even though other options work as well, let's try searching by county!<br />
The map that pops up is focused on Nevada counties but<br />
we can easily update it to show us CA counties.<br />
Look at the drop down above the map and select California.<br />
Click on "Update Map" and zoom into the North of California.<br />
Click on the area covering Tahoe National Forest.<br />
You should see this:<br /><br />
<img src='/csc/media/img/Gallery_CA_Counties.png' align="center"><br /><br />
Note the County form field on the left was updated to Sierra, 06091.<br />
Pick Precipitation and Minimum Temperature as you variables.<br />
To select multiple variables:<br />
MAC: hold down the command (apple) button while selecting the variables.<br />
PC: hold down the control (ctrl) button while selecting the variables.<br />
Since we want our station to have both precipitation AND minimum temperature,<br />
we select "All of the variables".<br />
And since we want to have data for all dates from 1930 to 2015,<br />
we select "All of the dates".<br />
The final form will look like this:<br /><br />
<img src='/csc/media/img/Gallery_Station_Finder_Form.png' align="center"><br /><br />
</li>
<li>Submit the request by clicking on "Show me stations".</li>
</ol><br />
You will see two stations on the resulting map.<br /> 
Click on the marker on the right to see this result:<br /><br />
<img src='/csc/media/img/Gallery_Station_Finder.png' align="center"><br />
</p>
</div>

