<p class="lead"><small>
    <ul>
    <li><b>Station Finder</b>
        <ul>
            <li>Find weather stations across the US with data for particular time periods</li>    
        </ul>
    </li>
    <li><b>Analysis for single points (station or grid point)</b>
        <ul>
            <li>Monthly/seasonal/annual summaries</li>
            <li>Extremes/Averages</li>
            <li>Number of days above/below/between threshold(s)</li>
        </ul>
    </li>
    <li><b>Analysis for multiple points (states, climate divisions, ... and custom polygons)</b>
        <ul>
            <li>Spatial Summaries (Time Series)</li>
            <li>Temporal Summaries (Maps)</li>
        </ul>
    </li>
    <li><b>Visualization</b>
        <ul>
            <li>Time series (highcarts)</li>
            <li>Maps (Google Earth Engine, ACIS)</li>
        </ul>
    </li>
    </ul>
</small></p>
