<div id="Docu_CPC">
    <p class="error"><b>Climate Prediction Center by NOAA</b></p>
    <b>Products are operational predictions of climate variability,<br />
    real-time monitoring of climate and the required data bases,<br />
    and assessments of the origins of major climate anomalies.</b><br /><br />
    <b>Capabilities</b>:
    <ul>
    <li>Temperature/Precipitation outlook maps</li>
    <li>Drought Information</li>
    <li>ENSO, La Nina, El Nino Diagnostics</li>
    <li>Climatologies</li>
    <li>AAO, AO, NAO, PNA Indices</li>
    <li>Storm Tracks</li>
    <li>Monsoon Information</li>
    </ul>
    </p>
    <b>Links</b>:<br />
    <a target="_blank" href="http://www.cpc.ncep.noaa.gov/information/who_we_are/index.shtml" >CPC Who We Are</a></br>
    <a target="_blank" href="http://www.cpc.ncep.noaa.gov/" >CPC Home Page</a></br>
    <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/predictions/610day/interactive/index.php" >Featured: 6-10 Day Outlook - Interactive Display</a></br>
</div>
