<div autofocus></div>
<div id="Docu_page_multi_point_prods_grid">
    <p class="error">What can you find here?</p>
    
    Access to data and analysis tools for multiple grid points<br/><br/>
    
    <b>Data Listers</b><br/>
    <ul>
    <li>Access to data for stations in an area of interest (daily/monthly(PRISM only)/yearly(PRISM only))</li>
    </ul>
    
    <b>Data Analysis Tools</b>
    {% include 'includes/Docu_multi_point_analyses.html'%}

    <b>Area options</b><br/>
    <ul>
    <li>county, county warning area</li>
    <li>climate division, drainage basin</li>
    <li>custom polygon, circle or bounding box</li>
    </ul>
    
    <p class="error">What datasets are available?</p>
    
    All datassets are made available through the 
    <a class="link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS</font></a> system.
    <br/><br/>
    
    <b>Observed Quantities </b><br/>
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br/>
    <b>Derived Quantities </b><br/>
    Heating/Cooling/Growing Degree Days (F/C)<br/><br/>
    
    <span class="link" onClick="ShowPopupDocu('Docu_ag')"><u><b>Short description of grids</b></u></span>
</div>

