<b>Elements </b><br />
Choose one or more climate elements from the drop down menue.<br />
Following climate elements area available.<br />
<ul>
<li>Maximum Temperature </li>
<li>Minimum Temperature</li>
<li>Average Temperature</li>
<li>Observation Time Temperature</li>
<li>Precipitation</li>
<li>Snowfall</li>
<li>Snowdepth</li>
<li>Degree Days (Heating/Cooling/Growing)</li>
    <ul>
        <li>Heating Degree Days base temperature 65F</li>
        <li>Cooling Degree Days base temperature 65F</li>
        <li>Growing Degree Days base temperature 50F</li>
    </ul>
</ul>
