<div id="gallery_station_finder">
<p class="error">Example</p>
<p class="message">Find the highest temperature ever recorded in March at Winnemucca airport, NV.
</p>
<p class="error">Step by Step instructions</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.monthly_summary}}" target="_blank">
<font color="blue">Single-Point Products/{{app_names.monthly_summary}}</font></a><br /><br />
<img src='/csc/media/img/howto_monthly_summary_link.png' align="center"><br /><br />
</li>
<li>Set the form parameters:<br /><br />
In the form on the left under "Point of Interest", choose "Station".<br />
In the "Station ID" field, start typing "Winnemucca".<br />
Choose "WINNEMUCCA MUNI AP, 269171" from the dropdown menu.<br /><br />


<img src='/csc/media/img/howto_monthly_summary_station.png' align="center"><br /><br />

For "Start Year" and "End Year", type "POR" (Period of Record).<br /><br />

From the "Variable" drop down menu, select "Maximum Temperature".<br /><br />

"Statistic Period" is "Monthly".<br /><br />

For "Statistic", choose "Maximum" because we want to find the highest<br /> 
of the maximum temperatures of the month.<br /><br />

For "Units", select "English".<br /><br />

For "Max Missing Days", type "0".<br />
(Months with more than 0 of missing days will not be included in summary statistics)<br /><br />

For "Departure from Averages", choose "No".<br /><br />

The completed form looks like this<br /><br />

<img src='/csc/media/img/howto_monthly_summary_form.png' align="center"><br /><br />
</li>

<li>Submit the request by clicking "Generate Time Series".<br /></li>
<li>Interpreting the results.<br /><br />
For each year in the period of record of the station,<br /> 
the data table shows the maximum of the maximum daily temperatures<br />
for each month of the year. The last colum shows the maximum annual temperatures.<br /><br />
There are three ways to find the highest March temperature ever recorded:<br /><br />
<ol>
    <li>You can look at the March column of the data table.<br /><br />
    <img src='/csc/media/img/howto_monthly_summary_results1.png' align="center"><br />
    </li>
    <li>You can look at the summary statistics table.<br /><br />
    <img src='/csc/media/img/howto_monthly_summary_results2.png' align="center"><br />
    </li>
    <li>You can look at the graph.<br /><br />
    <img src='/csc/media/img/howto_monthly_summary_results3.png' align="center">
    </li>
</ol>
</li>
</ol>
</p>
</div>
