    <div id="Docu_NRCC_INT" align="left">
    <p><font size="3"><b><a class="link" name="NRCC_INT">NRCC Interpolated</a></b></font><br />
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br />
    <b>Domain</b>: Continental US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - Present<br />
    <b>Spatial Resolution</b>: 5 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    </p></div>
    
    <div id="Docu_NRCC_INT_HI" align="left">
    <p><font size="3"><b><a class="link" name="NRCC_INT_HI">NRCC Interpolated High Resolution</a></b></font><br />
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br />
    <b>Domain</b>: East of Rockies</br>
    <b>Date Range</b>: 2007 - Present<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Spatial Resolution</b>: 5 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    </p></div>
    
    <div id="Docu_PRISM" align="left">
    <p><font size="3"><b><a class="link" name="PRISM">PRISM</a></b></font></br >
    <b>Source</b>: PRISM Climate Group<br />
    <b>Domain</b>: Continental US</br>
    <b>Temporal Resolution</b>:<br />Daily<br />
    <b>Date Range</b>: 1981- Present<br />
    <b>Spatial Resolution</b>: 4 km<br />
    <b>Climate Variables</b>: <br />
    Maximum/Minimum/Average Temperature, Precipitation, Degree Days<br />
    <b>Version</b>: “4kmD1”<br />
    </p></div>
    
    <p>-------- <b>LOCA DOWNSCALED CMIP5 PROJECTIONS</b> --------</p>
    
    <div id="Docu_GDFL-CM3" align="left">
    <p><font size="3"><b><a class="link" name="GDFL-CM3">GDFL-CM3</a></b></font><br />
    <b>Source</b>: Geophysical Fluid Dynamics Laboratory<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_HadGEM2-CC" align="left">
    <p><font size="3"><b><a class="link" name="HadGEM2-CC">HadGEM2-CC</a></b></font><br />
    <b>Source</b>: Met Office Hadley Center<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_HadGEM2-ES" align="left">
    <p><font size="3"><b><a class="link" name="HadGEM2-ES">HadGEM2-ES</a></b></font><br />
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_CCSM4" align="left">
    <p><font size="3"><b><a class="link" name="CCSM4">CCSM4</a></b></font><br />
    <b>Source</b>: The Community Climate System Model<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_CanESM2" align="left">
    <p><font size="3"><b><a class="link" name="CanESM2">CanESM2</a></b></font><br />    
    <b>Source</b>: Canadian Centre for Climate Modelling and Analysis<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_CESM1-BGC" align="left">
    <p><font size="3"><b><a class="link" name="CESM1-BGC">CESM1-BGC</a></b></font><br />
    <b>Source</b>: The Community Earth System Model<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_CMCC-CMS" align="left">
    <p><font size="3"><b><a class="link" name="CMCC-CMS">CMCC-CMS</a></b></font><br />
    <b>Source</b>: The Centro Euro-Mediterraneo sui Cambiamenti Climatici<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_CNRM-CM5" align="left">
    <p><font size="3"><b><a class="link" name="CNRM-CM5">CNRM-CM5</a></b></font><br />
    <b>Source</b>: Centre National de Recherches Météorologiques<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_MICRO5" align="left">
    <p><font size="3"><b><a class="link" name="MICRO5">MICRO5</a></b></font><br />
    <b>Source</b>: Atmosphere and Ocean Research Institute, the University of Tokyo<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div>
    
    <div id="Docu_ACCESS1-0" align="left">
    <p><font size="3"><b><a class="link" name="ACCESS1-0">ACCESS1-0</a></b></font><br />
    <b>Source</b>: ARC Centre of Excellence for Climate System Science<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </p></div> 
    
    <p>-------- <b>NARRCAP PROJECTIONS</b> --------</p>
    
    <div id="Docu_CRCM" align="left">
    <p><font size="3"><b><a class="link" name="CRCM">CRCM -- Canadian Regional Climate Model</a></b></font><br />
    <b>Source</b>: Ouranos Climate Simulation Team / UQAM via NARRCAP<br />
    <b>Domain</b>: US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </p></div>
    
    <div id="Docu_HRM3" align="left">
    <p><font size="3"><b><a class="link" name="HRM3">HRM3 -- Hadley Regional Model</a></b></font></br >
    <b>Source</b>: Hadley Centre via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </p></div>
    
    <p><div id="Docu_MM5I" align="left">
    <font size="3"><b><a class="link" name="MM5I">MM5I -- PSU/NCAR mesoscale model</a></b></font><br />
    <b>Source</b>: NCAR-Mesoscale Prediction Group/Penn State via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </p></div>
    
    <div id="Docu_RCM3" align="left">
    <p><font size="3"><b><a class="link" name="RCM3">RCM3 -- Regional Climate Model Version 3</a></b></font><br />
    <b>Source: UC Santa Cruz via NARCCAP</b><br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </p></div>
    
    <div id="Docu_WRFG" align="left">
    <p><font size="3"><b><a class="link" name="WRFG">WRFG -- Weather Research Forecasting Model</a></b></font><br />
    <b>Source</b>: Mesoscale and Microscale Meteorology Division of NCAR via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    </p></div>
