<div autofocus></div>
<div id="Docu_page_single_point_prods_grid">
    <p class="error">What can you find here?</p>
    
    Data and analysis tools for individual grid points<br /><br />
    
    <b>Data Listers</b><br/>
    <ul>
    <li>Access to data for a grid point (daily/monthly(PRISM only)/yearly(PRISM only))</li>
    </ul>
    
    <b>Data Analysis Tools</b><br />
    {% include 'includes/Docu_single_point_analyses.html'%}

    <p class="error">What datasets are available?</p>
    All data sets are made available through the ACIS system.<br />
    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a>
    <b>Observed Quantities </b><br />
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br />
    <b>Derived Quantities </b><br />
    Heating/Cooling/Growing Degree Days (F/C)<br /><br />

    {% include 'includes/Docu_popup_grids.html'%}
</div>

