<div id="Docu_climate_engine">
    <p class="error"><b>Climate Engine by Google/DRI and University of Idaho</b></p>
    <p>
    <b>Visualization of Climate and Remote Sensing Data<br/>
    through Cloud Computing</b><br/><br/>
    <b>Datasets</b><br/>
    <ul>
    <li>Gridmet</li>
    <li>MODIS</li>
    <li>Landsat 5/8</li>
    </ul>
    <b>Capabilities</b><br/>
    <ul>
        <li>Generate custom climate anomaly maps in near-real time</li>
        <li>Upload custom fusion tables of area of interest</li>
        <li>Obtain spatially averaged summaries</li>
        <li>Generate daily, yearly and intra-year time series.</li>
        <li>Download time series data (cvs) and maps (geotiff)</li>
    </ul>
    <b>Links</b><br/>
    <a target="_blank" href="http://clim-engine.appsot.com">GeoDataPortal</a><br/>
    </p>
</div>
