<!--SOD PROGRAMS-->
<div id="SOD_DLG" title="SOD Daily Lister and Graph">
    <p class="error">What is the <b>Summary of the Day (SOD) Daily Lister and Graph?</b></p>
    <p>An interactive web-based tool for visualization of Temperature and Precipitation data.</p>
    <p class="error">What dataset is being used?</p>
    <p>This tool works with daily COOP (Cooperative Observers) station data.</p>
    <p><a  target="_blank" href="http://www.nws.noaa.gov/om/coop/">More on COOP data</a></a>
    <p class="error">What can you do with this tool?</p>
    <h3>Generate Temperature and Precipitation Time Series</h3>
    <img alt="SodTS" title="SodTS" class="dash_img" src="/csc/media/img/SOD_TS.png">
    <h3>Access to Data (Password required, Contact: 775-674-7010 or email wrcc@dri.edu)</h3>
</div>

<div id="SOD_MDL" title="SOD Monthly Data Lister">
    <p class="error">What is the <b>Summary of the Day (SOD) Monthly Data Lister?</b></p>
    <p>An interactive web-based tool that generates daily summaries over a user chosen month/year in table form.</p>
    <p class="error">What datasets can be used?</p>
    <p>This tool works with daily COOP (Cooperative Observers) station data.</p>
    <p><a  target="_blank" href="http://www.nws.noaa.gov/om/coop/">More on COOP data</a></a>
    <p class="error">What can you do with this tool?</p>
    <h3>Generate daily summaries over a month for:</h3>
    <p>Temperatures (Max/Min)<br />
    Precipitation (Rain/Snow)<br />
    Evaporation<br />
    Wind Movement
    </p>
    <h3>Output:</h3>
    <img alt="SodMDL" title="SodMDL" width="500px" height="500px" src="/csc/media/img/SOD_MDL.png">
</div>

<div id="SOD_MSUM" title="SOD Monthly Summaries">
    <p class="error">What is the <b>Summary of the Day (SOD) Monthly Summaries?</b></p>
    <p>An interactive web-based tool that generates monthly summaries over a user chosen year range in table form.</p>
    <p class="error">What datasets can be used?</p>
    <p>This tool works with daily COOP (Cooperative Observers) station data.</p>
    <p><a  target="_blank" href="http://www.nws.noaa.gov/om/coop/">More on COOP data</a></a>
    <p class="error">What can you do with this tool?</p>
    <h3>Generate monthly summary tables for elements:</h3>
    <p>Temperatures (Max/Min/Mean/Range)<br />
    Precipitation (Rain/Snow)<br />
    Degree Days <br />
    Evaporation<br />
    Wind Movement
    </p>
    <h3>Available Statistics:</h3>
    <p>Maximum/Minimum<br />
    Mean<br />
    Standard Deviation<br />
    Number of Days<br />
    Range<br />
    Sum
    </p>
    <h3>Threshold setting available</h3>
    <h3>Look at Departure from Average</h3>
    <h3>Run Frequency Analysis (Pearson III/ Generalized Extreme Value)</h3>
    <h3>Output:</h3>
    <img alt="SodMSUM" title="SodMSUM" width="500px" height="500px" src="/csc/media/img/SOD_MSUM.png">
</div>

