<div id="Docu_geo_platform">
    <p class="error"><b>Geoplatform by the federal government</b></p>
    <p>
    <b>Access to  access to trusted geospatial data,<br />
    services, applications, and infrastructure assets.</b><br /><br />
    <b>Capabilities</b><br />
    <ul>
        <li>Over 73,000 datasets for download in different output formats</li>
        <li>Seamless integration with <a target="_blank" href="http://www.data.gov/">Data.gov</a></li>
        <li>Integration with ArcGIS -- GeoPlatform ArcGIS Online (AGOL)</li>
        <li>Host data and applications</li>
    </ul>
    <b>Links</b>:<br />
    <a target="_blank" href="https://www.geoplatform.gov/overview-page" >Overview</a></br>
    <a target="_blank" href="https://www.geoplatform.gov/" >Geoplatform Home Page</a></br>
    <a target="_blank" href="http://www.geoplatform.gov/climate-resources" >Featured: Climate resources</a></br>
</div>
