<b>Units</b><br />
Data can be obtained in metric or English units.<br />
<ul>
<b color="red">Note: degree day calculations are preformed<br /> 
with base temperatures in Fahrenheit.</b><br /><br />
<li><b>English</b>:<br />
&nbsp;&nbsp;Temperatures in Fahrenheit <br />
&nbsp;&nbsp;Precipitation/Snow/Pan Evaporation in Inches <br />
&nbsp;&nbsp;Wind Movements in Miles<br />
</li><li>
<b>Metric</b>:<br />
<b color="red">Note: native database units are English.<br />
If you choose metric, be aware that data values loose precision<br />
since they are converted from English units and will be rounded.</b><br />
&nbsp;&nbsp;Temperatures in Celsius <br />
&nbsp;&nbsp;Precipitation/Snow/Pan Evaporation in Millimiter <br />
&nbsp;&nbsp;Degree Days: °C HDD = (5/9) x (°F HDD)<br /> 
&nbsp;&nbsp;Wind Movements in Kilometers</li></ul>
