    <div id="LANDSAT" align="left">
    <font size="3"><b><a>LANDSAT (Global)</a></b></font><br/>
    <b>Source</b>: <a target=_blank class="link" href="https://explorer.earthengine.google.com/#search/tag:landsat">LANDSAT archive in Google Earth Engine</a><br/>
    <b>Domain</b>: Global<br/>
    <b>Datasets: </b><br/>
    <ul>
        <li>Landsat Top of Atmosphere (TOA)
            <ul>
            <li>L5_TOA (1984-04-13 to 2011-11-17)</li>
            <li>L7_TOA (1999-05-28 - Present)</li>
            <li>L8_TOA (2013-04-07 - Present)</li>
            <li>L_TOA (L4/5/7/8) (1982-01-01 - Present)</li>
            </ul>
        </li>
        <li>Landsat Surface Reflectance (SR)
            <ul>
            <li>L5_SR (1984-04-13 to 2011-11-17)</li>
            <li>L7_SR (1999-05-28 - Present)</li>
            <li>L8_SR (2013-04-07 - Present)</li>
            <li>L_SR (L4/5/7/8) (1982-01-01 - Present)</li>
            </ul> 
        </li>
    </ul>
    <b>Temporal Resolution</b>: 8 day<br/>
    <b>Spatial Resolution</b>: 30m<br/>
    <b>Climate Variables</b>: <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Vegetation Index (NDVI), Enhanced Vegetation Index (EVI),<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Burn Area Index (BAI),Snow Index (NDSI), Water Index (NDWI),<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Fractional Snow Cover (FSC), Ocean Clorophyll (OC2)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;True Color (Red/Green/Blue), False Color (NIR/Red/Green)
    </div>
