<div autofocus></div>
<div id="Docu_page_single_point_prods">
    <p class="error">What can you find here?</p>

    Access to data and analysis tools single weather stations or grid points<br /><br />
    
    <b>Data Listers</b><br/>
    <ul>
    <li>Access to daily data for a weather station</li>
    <li>Access to data for a grid point (daily/monthly(PRISM only)/yearly(PRISM only))</li>
    </ul>
    
    <b>Data Analysis Tools</b>
    {% include 'includes/Docu_single_point_analyses.html'%}

    <p class="error">What datasets are available?</p>

    <p class="bg-warning" style="width:15%;"><b>1. Station Data</b></p>
    <b>Observed Quantities </b><br />
    Maximum Temperature (F/C), Minimum Temperature (F/C),<br />Observation Time Temperature (F/C)<br />
    Snowfall (in/mm), Snow Depth (in/mm)<br />
    <b>Derived Quantities </b><br />
    Average Temperature (F/C), Heating/Cooling/Growing Degree Days (F/C)<br /><br />
    
    <b>Station Networks: </b><br />
    {% include 'includes/Docu_popup_station_networks.html'%}
    <br /><br />
    <p>Read more about the networks: </p>
    {% include 'includes/Docu_station_networks_links.html'%}
    <br /> 
    
    All datassets are made available through the ACIS system.<br />
    <a class="link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
    
    <p class="bg-warning" style="width:15%;"><b>2. Gridded Data</b></p>
    <b>Observed Quantities </b><br />
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br />
    <b>Derived Quantities </b><br />
    Heating/Cooling/Growing Degree Days (F/C)<br /><br />

    {% include 'includes/Docu_popup_grids.html'%}
</div>

