<div title="Networks" class="docu" id="networks_D" style="display:none;">
    {% include 'includes/Docu_station_networks.html'%}
</div>
<div id="STATION DATA" align="left">
    <ul>
        <li><b>Station <span class="link" onmouseover="ShowPopupDocu('networks_D')">networks</span></b></li>
        <li><b>Domain</b>: US</li>
        <li><b>Temporal Resolution</b>: Daily</li>
        <li><b>Date Range</b>: From 1845 - Present (varies by station)</li>
        <li><b>Climate Variables</b>: <br />
            Maximum/Minimum/Average Temperature, Precipitation, Snow, Degree Days</li>
    </ul>
</div>
