<div autofocus></div>
<div id="Docu_page_projections">
    <p class="error">What can you find here?</p>
    <ul>
        <li>General Information about climate projections</li>
        <li>Case studies that utilize LOCA data with emphasis on resource management</li>
        <li>Access to LOCA and NARRCAP data and analysis tools</li>
    </ul>
    <div style="display:inline;padding-left:10%;">
        <a href="{{SCENIC_URL}}analysis/single/?gridded_data=true">Single Point Products</a>
        <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_single_point_prods_grid')">    </div><br />

    <div style="display:inline;padding-left:10%;">
        <a href="{{SCENIC_URL}}analysis/multi/?gridded_data=true">Multi Point Products</a>
        <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_multi_point_prods_grid')">
    </div>
</div>

