<div autofocus></div>
<p class="error">What is LOCA (Localized Constructed Analogs)?</p>
<p class="dark_blue">Statistically downscaled CMIP5 climate projections for North America.</p>

<a target="_blank" class="pop_link" href="http://loca.ucsd.edu/"><font color="#0000FF">Read more about LOCA...</font></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a target="_blank" class="pop_link" href="http://cmip-pcmdi.llnl.gov/cmip5/"><font color="#0000FF">Read more about CMIP5...</font></a>
<a target="_blank" class="pop_link" href="http://loca.ucsd.edu/"><font color="#0000FF">Read more about LOCA...</font></a>

<br/><p class="error">A word of warning</p>
Climate projections, including downscales, are affected by 
multiple forms of uncertainty, such as uncertainties in climate 
forcings, uncertainties in how accurately the model 
represents the true climate system, natural variability in climate and others. 
<b>Projections of future climate are not predictions or forecasts!</b> 
Climate projections present ranges of possible 
future values of climate variables given certain assumptions. 
Therefore, great care must be taken when using these datasets.
We have started a special LOCA page on SCENIC that will help you understand projections like LOCA
and how to use/not use them.<br/>  
<a target="_blank" class="pop_link" href="{{WRCC_URL}}/csc/scenic/data/projections/"><font color="#0000FF">Read more about Projections and LOCA</font></a>

<br/><p class="error">Example</p>
{% include 'includes/Docu_SpottedOwl.html'%}
