<b>Data Summary </b><br />
<ul>
<li>
<b>Windowed data</b>:<br />
&nbsp;&nbsp;Get subsets of the period covered by start/end date.<br />
&nbsp;&nbsp;For example, if you don't want to get all data from 2000 but just<br />
&nbsp;&nbsp;want to get all January values from 2000 to 2010,set:<br />
&nbsp;&nbsp;Start Date 2000-01-01<br />
&nbsp;&nbsp;End Date 2009-12-31<br />
&nbsp;&nbsp;Start Window 01-01<br />
&nbsp;&nbsp;End Window 02-31<br />
</li><li>
<b>Temporal/Spatial Sumaries</b>:<br />
&nbsp;&nbsp;Summarize the data over space or time.<br />
&nbsp;&nbsp;A summary over space results in time series.<br />
&nbsp;&nbsp;A summary over a time range results in one value at each grid point.<br />
&nbsp;&nbsp;Summary options are
<ul>
<li><b>Maximum: </b>Finds the maximum value over an area or time range.</li>
<li><b>Minimum: </b>Finds the mimimum value over an area or time range.</li>
<li><b>Mean: </b>Finds the average value over an area or time range.</li>
<li><b>Sum: </b>Finds the sum of the values over an area or time range.</li>
<!--<li><b>Median: </b>Finds the median of the values over an area or time range.</li>-->
</ul>
</li></ul>
