<div id="Docu_historic_grids" style="border:1px solid #006666">
    <span id="NRCC_INT" align="left">
    <font size="3"><b><a>NRCC Interpolated</a></b><br/>
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br/>
    <b>Domain</b>: Continental US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - Present<br/>
    <b>Spatial Resolution</b>: 5 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    </span>
    <br/>
    <span id="NRCC_INT_HI" align="left">
    <font size="3"><b><a>NRCC Interpolated High Resolution</a></b></font><br/>
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br/>
    <b>Domain</b>: East of Rockies<br/>
    <b>Date Range</b>: 2007 - Present<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Spatial Resolution</b>: 5 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    </span>
    <br/>
    <span id="PRISM" align="left">
    <font size="3"><b><a>PRISM</a></b><br/>
    <b>Source</b>: PRISM Climate Group<br/>
    <b>Domain</b>: Continental US<br/>
    <b>Temporal Resolution</b>:<br/>Daily<br/>
    <b>Date Range</b>: 1981- Present<br/>
    <b>Spatial Resolution</b>: 4 km<br/>
    <b>Climate Variables</b>: <br/>
    Maximum/Minimum/Average Temperature, Precipitation, Degree Days<br/>
    <b>Version</b>: “4kmD1”<br/>
    </span>
</div>

