    <div id="CMCC-CMS" align="left">
    <font size="3"><b><a name="CMCC-CMS">CMCC-CMS</a></b><br />
    <b>Source</b>: The Centro Euro-Mediterraneo sui Cambiamenti Climatici<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
