            <b>Access to various climate data/metadata</b>
            <ul>
            <li>Station Finder</li>
            <li>Historic Station Data</li>
            <li>Gridded/Modeled and Downscaled Data</li>
            </ul>
            <b>Interactive Data Applications</b>
            <ul>
            <li>Custom Statistical Analysis</li>
            <ul>
            <li>Monthly/seasonal/annual summaries</li>
            <li>Extremes/Averages/Number of days above/below threshhold</LI>
            </ul>
            <li>Visualization</li>
            <ul>
            <li>Time series</li>
            <li>Maps</li>
