            <p>Get a listing of stations or grid points in:<br />
                A US <b>State</b><br />
                A US <b>County</b><br />
                A <b>County Warning Area</b><br />
                A <b>Drainage Basin</b><br >
                A <b>Climate Division or</b><br />
                A <b>custom shape</b> (Polygon, Bounding Box, Circle)<br />
            Data can be downloaded as .txt, .dat, .xls or displayed on the page (html).<br />
            Data can be summarized over time or the area selected.
            </p>
