<b>Units</b><br />
Data can be obtained in metric or englis units.<br />
<ul>
<b color="red">Note: degree day caluclations are preformed with base temperatures in Fahrenheit.<br />
<li><b>English</b>:<br />
&nbsp;&nbsp;Temperatures in Fahrenheit <br />
&nbsp;&nbsp;Precipitation/Snow/Pan Evaporation in Inches <br />
&nbsp;&nbsp;Wind Movements in Miles<br />
</li><li>
<b>Metric</b>:<br />
<b color="red">Note: native database units are english.<br />
If you choose metric, be aware that data values loose precision<br />
since they are converted from english units and will be rounded.</b><br />
&nbsp;&nbsp;Temperatures in Celsius <br />
&nbsp;&nbsp;Precipitation/Snow/Pan Evaporation in Millimiter <br />
&nbsp;&nbsp;Wind Movements in Kilometers</li></ul>
