<div autofocus></div>
<b>Select area: </b><br />
Type of search area. <br />
Map interfaces will help you find the identifiers<br /> 
or enable you to draw a custom polygon.<br />
Several search area options are available.
<ul>
<li><b>County: </b>US County FIPS code or name.</li>
<li><b>County Warning Area: </b>US County Warning Area code or name.</li>
<li><b>Climate Division: </b>US Climate Division code or name. </li>
<li><b>Basin: </b>US Basin code or name.</li>
<li><b>State</b></li>
<li><b>Custom Shape: </b> Custom polygon or bounding box.</li>
</ul>
<li><b>Using the map interface to find <br />County/County Warning Area/Climate Division/Basin codes</b></li>
<ul>
<li>Chose the US state of interest.</li>
<li>Click <b>Update Map</b>.</li>
<li>Once the map overlays are visible,<br />click on an area on the map to see the name and ID of that area.</li>
<li>Note that clicking on an area on the map<br />will populate the main form with the corresponding identifier.</li>
</ul>
<li><b>Using the map interface to draw a custom shape</b></li>
<ul>
<li>You can place a marker on the map or<br />
draw a rectangle, circle or polygon.<br />
Click on the appropriate icon in the legend on the top of the map.</li>
<li><img src="/csc/media/img/MarkerIcon.png"> <b>Marker: </b>Point and click on the map.</li>
<li><img src="/csc/media/img/RectangleIcon.png"> <b>Rectangle: </b> Point at a corner of your rectangle, click, hold and drag in the desired direction.</li>
<li><img src="/csc/media/img/CircleIcon.png"> <b>Circle: </b>Point at the center of your circle, click, hold and drag outwards.</li>
<li><img src="/csc/media/img/PolygonIcon.png"> <b>Polygon: </b>Point and click at each corner of your polygon.<br />Finish by double clicking at the final point<br />or by clicking on the first point of your polygon.</li>
</ul>
