<div id="STATION DATA" align="left">
    <font size="3"><b><a name="STATION DATA">Historic Weather Station Data (US and territories)</a></b></br >
    <b>Sources</b>: Many station <span class="link" onclick="ShowPopupDocu('Docu_networks')">networks</span> included<br />
    <b>Domain</b>: US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: From 1845 - Present (varies by station)<br />
    <b>Climate Variables</b>: <br />
    &nbsp;&nbsp;&nbsp;&nbsp;Maximum/Minimum/Average Temperature, Precipitation, Snow, Degree Days<br />
</div>
