    <ul>
    <li>Monthly Summaries<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;Monthly Maximum, Monthly Minimum, Monthly Average, Standard Deviation,<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;Number of Days (above/below/between thresholds), Range during Month, Monthly Sum
    </li>
    <li>Yearly Summaries<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Maximum, Minimum, Mean, Median, Sum,
    </li>
    <li>Inter-year Comparison</li>
    <li>General Climatology</li>
    <li>Data Comparison between gridded and station data</li>
    </ul>
