    <div id="MM5I" align="left">
    <font size="3"><b><a name="MM5I">MM5I -- PSU/NCAR mesoscale model</a></b><br />
    <b>Source</b>: NCAR-Mesoscale Prediction Group/Penn State via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Elements</b>: Maximum/Minimum Temperature, Precipitation<br />
    <!--<a target="_blank" href="http://www.mmm.ucar.edu/mm5/">MM5 Home Page</a><br />
    <a target="_blank" href="http://www.narccap.ucar.edu/data/model-info.html">NARCCAP Model Information Page</a>-->
    </div>
