<!--Network Documentation-->

<span class="link" onClick="ShowPopupDocu('COOP_Docu')"><u>COOP</u></span>,
    <div title="COOP" id="COOP_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('GHCN_Docu')"><u>GHCN</u></span>,
    <div title="GHCN" id="GHCN_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('ICAO_Docu')"><u>ICAO</u></span>,
    <div title="ICAO" id="ICAO_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('NWSLI_Docu')"><u>NWSLI</u></span>,
    <div title="NWSLI" id="NWSLI_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('FAA_Docu')"><u>FAA</u></span>,
    <div title="FAA" id="FAA_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('WBAN_Docu')"><u>WBAN</u></span>,
    <div title="WBAN" id="WBAN_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('WMO_Docu')"><u>WMO</u></span>,
    <div title="WMO" id="WMO_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('CoCoRaHS_Docu')"><u>CoCoRaHS</u></span>,
    <div title="CoCoRaHS" id="CoCoRaHS_Docu" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Threadex_Docu')"><u>Threadex</u></span>
    <div title="Threadex" id="Threadex_Docu" style="display:none;"></div>

<script type="text/javascript">                        
    $("#COOP_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_COOP");
    $("#GHCN_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_GHCN");
    $("#ICAO_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_ICAO");
    $("#NWSLI_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_NWSLI");
    $("#FAA_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_FAA");
    $("#WBAN_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_WBAN");
    $("#WMO_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_WMO");
    $("#CoCoRaHS_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_CoCoRaHS");
    $("#Threadex_Docu").load("{{HTML_URL}}Docu_station_networks.html #Docu_Threadex");
</script>   
