<div autofocus></div>
<div>
    <p class="error">What can you find here?</p>
    <ul>
        <li>General Information about climate projections</li>
        <li>Case studies that utilize LOCA data with emphasis on resource management</li>
        <li>Access to LOCA and NARRCAP data and analysis tools
            <ul>
                <li><b>Data Listers</b></li>
                <li><b>Data Analysis Tools</b>
                <ul>
                <li>Spatial Summaries (Time Series over area)
                <ul>
                <li>Maximum</li>
                <li>Minimum</li>
                <li>Mean</li>
                <li>Sum</li>
                </ul>
                </li>
                <li>Temporal Summaries (Maps)
                <ul>
                <li>Maximum</li>
                <li>Minimum</li>
                <li>Mean</li>
                <li>Sum</li>
                </ul>
                </li>
                </ul>
                <b>Area options</b><br />
                <ul>
                <li>county, county warning area</li>
                <li>climate division, drainage basin</li>
                <li>custom polygon, circle or bounding box</li>
                </ul>
            </ul>
        </li>
    </ul>
</div>

