<div autofocus></div>
<p class="error">Example</p>
<p class="message">Obtain all available temperature data for all stations in Washoe County, Nevada from 1990 to the present.
</p>
<!--
<a href="{{param_urls.multi_lister}}" target="_blank"><font color="blue">SEE RESULTS!</font></a><br />
-->
<p class="error">Step by Step instructions</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.multi_lister}}" target="_blank">
<font color="blue">Multi-Point Products/{{app_names.multi_lister}}</font></a><br /><br />
<img src='/csc/media/img/howto_multi_lister_link.png' align="center"><br /><br />
</li>
<li>Set the form parameters:<br /><br />
In the form on the left under "Area of Interest", choose "County".<br />
A map will appear with the counties of Nevada outlined in blue.
You can click on counties on the map until you find Washoe or you can type "Washoe" 
in the "County" field in the form on the left of the page and use the autofill feature.<br /><br />


<img src='/csc/media/img/howto_multi_lister_area.png' align="center"><br /><br />


For "Data Type", choose "Station Data".<br /><br />

From the "Variables" drop down menu, select "Maximum Temperature", "Minimum Temperature", 
"Average Temperature" and "Observation Time Temperature".<br />
To select multiple variables:<br />
MAC: hold down the command (apple) button while selecting the variables.<br />
PC: hold down the control (ctrl) button while selecting the variables.<br /><br />
We want to list the data without summarizing. Under "Data Summary", choose "None, just get raw data".<br /><br />
For "Start Date", enter 1990-01-01.<br /><br />
For "End Date", use the default (yesterday's date; there is a lag time of on day in the database).<br /><br />
The completed form looks like this<br /><br />

<img src='/csc/media/img/howto_multi_lister_form.png' align="center"><br /><br />

</li>

<li>Submit the request by clicking "Get Data".
<br /><br />
Another form will appear asking you to choose your output formats<br />
and to provide your name and email address.
<img src='/csc/media/img/howto_multi_lister_form2.png' align="center"><br /><br />

<br /><br />
You will be notified that non-summarized data is processed offline.<br />
You should receive an email containing a link to your data and instructions on how to download the data. 
Please contact scenic@dri.edu if you do not hear from us within 12 hours.<br /><br />
</li>
</ol>
</p>
