<div id="MONTHLY SUMMARY  SUMMARY HEADER" align="left">
    <p>
    General statistics for each month summarized over the years defined in
    the "Year Range" option.<br />
    <b>Example: Variable: Precipitation, Statistic: Sum, Year Range 1937 - 1947</b><br />
    MEAN: Mean of the <b>monthly</b> sums of precipitation values from 1937 to 1947.<br />
    SD: Standard Deviation of the <b>monthly</b> sums of precipitation values from 1937 to 1947.<br />
    SKEW: Skew of the <b>monthly</b> sums of precipitation values from 1937 to 1947.<br />
    MAX: Maximum of the <b>monthly</b> sums of precipitation values from 1937 to 1947.<br /> 
    MIN: Minimum of the <b>monthly</b> sums of precipitation values from 1937 to 1947.<br />
    YRS: Number of years used in calculation.
    </p>
</div>
