    <div id="ACCESS1-0" align="left">
    <font size="3"><b><a name="ACCESS1-0">ACCESS1-0</a></b><br />
    <b>Source</b>: ARC Centre of Excellence for Climate System Science<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
