<!--Network Documentation-->

<span class="link" onClick="ShowPopupDocu('Docu_COOP')"><u>COOP</u></span>,
    <div title="COOP" id="Docu_COOP" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_GHCN')"><u>GHCN</u></span>,
    <div title="GHCN" id="Docu_GHCN" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_ICAO')"><u>ICAO</u></span>,
    <div title="ICAO" id="Docu_ICAO" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_NWSLI')"><u>NWSLI</u></span>,
    <div title="NWSLI" id="Docu_NWSLI" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_FAA')"><u>FAA</u></span>,
    <div title="FAA" id="Docu_FAA" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_WBAN')"><u>WBAN</u></span>,
    <div title="WBAN" id="Docu_WBAN" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_WMO')"><u>WMO</u></span>,
    <div title="WMO" id="Docu_WMO" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_CoCoRaHS')"><u>CoCoRaHS</u></span>,
    <div title="CoCoRaHS" id="Docu_CoCoRaHS" style="display:none;"></div>
<span class="link" onClick="ShowPopupDocu('Docu_Threadex')"><u>Threadex</u></span>
    <div title="Threadex" id="Docu_Threadex" style="display:none;"></div>

<script type="text/javascript">                        
    $("#Docu_COOP").load("{{HTML_URL}}Docu_station_networks.html #Docu_COOP");
    $("#Docu_GHCN").load("{{HTML_URL}}Docu_station_networks.html #Docu_GHCN");
    $("#Docu_ICAO").load("{{HTML_URL}}Docu_station_networks.html #Docu_ICAO");
    $("#Docu_NWSLI").load("{{HTML_URL}}Docu_station_networks.html #Docu_NWSLI");
    $("#Docu_FAA").load("{{HTML_URL}}Docu_station_networks.html #Docu_FAA");
    $("#Docu_WBAN").load("{{HTML_URL}}Docu_station_networks.html #Docu_WBAN");
    $("#Docu_WMO").load("{{HTML_URL}}Docu_station_networks.html #Docu_WMO");
    $("#Docu_CoCoRaHS").load("{{HTML_URL}}Docu_station_networks.html #Docu_CoCoRaHS");
    $("#Docu_Threadex").load("{{HTML_URL}}Docu_station_networks.html #Docu_Threadex");
</script>   
