<div id="MONTHLY SUMMARY GRAPH" align="left">
    <p>
    <b>Plotting options in panel above the graph</b><br />
    Add percentiles to the graph by clicking the appropriate checkboxes in the top left corner of the panel.<br />
    Choose a year to plot from the dropdown menue in the top center of the panel.<br /> 
    The top middle of the panel also contains a dropdown to change the chart type.<br />
    The right side of the panel has an options to show or hide the legend on the graph.<br />
    <b>On the Graph</b><br />
    Hover your mouse over a point on the graph to  see the date and data value at that point<br />
    Click and drag on the graph to zoom in on a particular area.<br />
    A "Reset Zoom" button will pop up  on the top righ hand side of the graph. This will allow you to reset the zoom to it's default value.<br />
    The legend is movable. Just hover your mouse over the double dots, click and move the legend to the desired position.<br />
    In the top right corner of the graph you can find print and serevral download options (PNG, JPEG, PDF, SVG).
    </p>
</div>
