<div id="MONTHLY SUMMARY MAIN HEADER" align="left">
{% if results.variable == "evap"%}
<p><b>A note about Evaporation: </b><br />
Standard daily pan evaporation is measured using the four-foot diameter Class A evaporation pan. The pan water level reading is adjusted when precipitation is measure to obtain the actual evaporation. Most Class A pans are installed above ground, allowing effects such as radiation on the side walls and heat exchanges with the pan material. These effects tend to increase the evaporation totals. The amounts can then be adjusted by multiplying the totals b 0.70 or 0.80 to more closely estimate the evaporation from naturally existing surfaces such as a shallow lake, wet soil or other moist natural surfaces.
Many stations do not measure pan evaporation during winter months. A "0.00" total indicates no measurement is taken.
</p>
{%endif%}

<p><b>Missing values</b><br />
    Letters after data values in the columns labeled F (Flag) show number of missing days.<br />
    Letters after annual values indicate number of missing months.<br />
    (a = 1 day missing, b = 2 days missing, f = 6 days missing, z = 26 or more values missing).
</p>

<p><b>Annual values</b><br />
    On the far right the column "An" summarizes the monthly data for 
    a particular year.
</p>
</div>
