<b>DATA VISUALIZATION</b><br />
<b>NOTE</b>: You must first generate a data table that will be used to generate the graphics.<br />
<b>Start/End month </b><br />
Start/end the visualization on these months.<br />
<b>Graph Start/End Year</b><br />
Start and End Year of the graph. Defaults to Start/End Year of the analysis.<br />
<b>Summary </b><br />
Choose how you want to summarize the data over the months spanning<br />
<ul>
<li><b>Maximum over months </b><br />Plots the maximum value of the months for each year in the time period .</li>
<li><b>Minimum over months </b><br />Plots the minimum value of the chosen months for each year in the time period.</li>
<li><b>Sum over months </b><br />Plots the sum of the values of the chosen months for each year in the time period.</li>
<li><b>Average over months </b><br />Plots the averages of the values of the chosen months for each year in the time period.</li>
<li><b>Plot months separately </b><br />Generates a plot of time series for each of the chosen months.</li>
</ul>
<b>Show Running Mean </b><br />Choose "Yes" if you want the running mean to be computed and shown on the final graph.<br />
<b>Running Mean Years</b><br />Number of years used to compute the running mean.<br />
<b>Plot incomplete years </b><br />Choose "yes" if you want to compute the summary for a year<br />exceeding the maximum number of missing days allowed.<br />
<b>PLOT OPTIONS</b><br /> Several plot options are available.
    <ul>
        <li><b>Image size: </b><br />Choose your image size from the drop down menue.</li>
        <li><b>Show major grid: </b><br />Dashed grid lines will be places at a step size of 1/5(data_max - data_min) </li>
        <li><b>Show minor grid: </b><br />Dashed gridlines will be placed at a step size of 1/10(data_max - data_min). </li>
        <li><b>Connector line: </b><br />Choose "Yes" if you would like your data points connected by a line.</li>
        <li><b>Connector line width: </b><br />Width of the line connecting that data points.<br />10 is the maximum line width allowed.<br />Choosing 0 is the same as choosing no connector line.</li>
        <li><b>Markers: </b><br />Choose yes if you would like to see a marker at each data point.</li>
        <li><b>Marker type: </b><br />Choose a marker type from the drop down menue.</li>
        <li><b>Vertical axis min: </b>Set the y-axis minimum manually.</li>
        <li><b>Vertical axis max: </b>Set the y-axis maximum manually.</li>
    </ul>
