    <div id="NRCC_INT_HI" align="left">
    <font size="3"><b><a name="NRCC_INT_HI">NRCC Interpolated High Resolution</a></b></font><br />
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br />
    <b>Domain</b>: East of Rockies</br>
    <b>Date Range</b>: 2007 - Present<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Spatial Resolution</b>: 5 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <!--<a target="_blank" href="http://www.nrcc.cornell.edu/">NRCC Home Pages</a>-->
    </div>
