    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT')"><u>NRCC Interpolated</u></p>
        <div id="Docu_NRCC_INT" style="display:none;">{% include 'includes/Docu_NRCC_INT.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT_HI')"><u>NRCC Interpolated Hi-Res</u></p>
        <div id="Docu_NRCC_INT_HI" style="display:none;">{% include 'includes/Docu_NRCC_INT_HI_RES.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_PRISM')"><u>PRISM</u></p>
        <div id="Docu_PRISM" style="display:none;">{% include 'includes/Docu_PRISM.html'%}</div>
