<p class="green">
<b>Aim</b>:<br />
To investigate climate extremes relative to the thermal or hydrologic tolerances of individual species that are
targets of management.<br />
<b>Resource management application:</b><br />
Identifying where on a landscape temperature extremes are exceeded now and 
where they may be exceeded in the future 
could help prioritize where to manage for different species.
<br />
<b>Description</b>:<br />
One such species is the California Spotted Owl.
It is known that at temperatures above 35.2°C, 
the resting metabolic rate of adult California Spotted Owls increases substantially
and behavioral responses to heat stress are observed.
<br />
<b>Methods</b>:<br />
For each of the ten LOCA models we computed the total number of days per season 
(May - September, inclusive) where the daily maximum temperature exceeds 35.2 Degree Celsius. 
We then took the median value of the ten model results at each LOCA grid-point in California.
<br />
</p>


<p class="green">
<b>Figure 1</b>: Number of days in the season (May to September 2025) where
the daily maximum temperatures exceeed 35.2 Degrees Celsius. 
</p>
<div align="center"><img width="90%" height="80%" src="{{MEDIA_URL}}img/NumDaysMaxtGT35.2C.png"></div>
