<div id="DATA_COMPARISON" title="Data Comparison">
    <p class="error">What is this tool?</p>
    <p>This  tool compares historic station data with gridded data.<br />
     
    </p>
    <p class="error">What datasets can be used?</p>

    <p class="pop_link" onClick="ShowHide('Docu_STATION_NETWORKS')"><u>SEE STATION_NETWORKS</u></p>
        <div id="Docu_STATION_NETWORKS" style="display:none;">{% include 'includes/Docu_STATION_NETWORKS.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_GRIDS')"><u>SEE GRIDDED DATASETS</u></p>
        <div id="Docu_GRIDS" style="display:none;">{% include 'includes/Docu_GRIDS.html'%}</div>
    All data sets are made available through the ACIS system.<br />    

    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
    <p class="error">What can you do with this tool?</p>
    <p>Generate comparative time series</p>
    <img alt="DataComparisonTS" title="DataComparisonTS" width="400px" height="300px" src="/csc/media/img/DataComparisonTS.png">
    <p>Generate comparative statistics</p>
    <img alt="DataComparisonTable" title="DataComparisonTable" width="250px" height="250px" src="/csc/media/img/DataComparisonTable.png">
    <p>Download data tables and graphs.</p>
</div>
