    <div id="LOCA" align="left">
    <font size="3"><b><a>LOCA (US/Canada/Mexico)</a></b><br/>
    <b>Source</b>: <a target=_blank class="link" href="http://loca.ucsd.edu/">LOCA home page</a><br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2006, 2006 -  2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Maximum/Minimum/Average Temperature, Precipitation, Degree Days<br/>
    </div>
