    <div>-------- <b>LOCA DOWNSCALED CMIP5 PROJECTIONS</b> --------</div>
    <br/>
    <b>Source</b>:<a target=_blank class="link" href="http://loca.ucsd.edu/">SCRIPPS Institution of Oceanography (CASPO)</a> 
    <br/>
    <div>-------- <b>MODELS</b> --------</div>
    <div id="GDFL-CM3" align="left">
    <font size="3"><b><a name="GDFL-CM3">GDFL-CM3</a></b><br/>
    <b>Source</b>: Geophysical Fluid Dynamics Laboratory<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="HadGEM2-CC" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br/>
    <b>Source</b>: Met Office Hadley Center<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="HadGEM2-ES" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br/>
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="CCSM4" align="left">
    <font size="3"><b><a name="CCSM4">CCSM4</a></b><br/>
    <b>Source</b>: The Community Climate System Model<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="CanESM2" align="left">
    <font size="3"><b><a name="CanESM2">CanESM2</a></b><br/>    
    <b>Source</b>: Canadian Centre for Climate Modelling and Analysis<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="CESM1-BGC" align="left">
    <font size="3"><b><a name="CESM1-BGC">CESM1-BGC</a></b><br/>
    <b>Source</b>: The Community Earth System Model<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="CMCC-CMS" align="left">
    <font size="3"><b><a name="CMCC-CMS">CMCC-CMS</a></b><br/>
    <b>Source</b>: The Centro Euro-Mediterraneo sui Cambiamenti Climatici<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="CNRM-CM5" align="left">
    <font size="3"><b><a name="CNRM-CM5">CNRM-CM5</a></b><br/>
    <b>Source</b>: Centre National de Recherches Météorologiques<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="MICRO5" align="left">
    <font size="3"><b><a name="MICRO5">MICRO5</a></b><br/>
    <b>Source</b>: Atmosphere and Ocean Research Institute, the University of Tokyo<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
    <br/>
    <div id="ACCESS1-0" align="left">
    <font size="3"><b><a name="ACCESS1-0">ACCESS1-0</a></b><br/>
    <b>Source</b>: ARC Centre of Excellence for Climate System Science<br/>
    <b>Domain</b>: US, Canada, Mexico<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1950 - 2100<br/>
    <b>Spatial Resolution</b>: 6 km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br/>
    <b>Emission Scenarios</b>: rcp45, rcp85<br/>
    </div>
