<div id="app_multi_lister">
    <p class="error">What is the Climate Engine tool?</p>
    <p>A tool to visualize remote sensing and metereological datasets.</b></p>
    <p class="error">What datasets are available?</p>
    <b>Metereological Datasets</b><br />
    <ul>
    <li>UI METDATA/Gridmet</li>
    <li>CFS Reanalysis</li>
    <li>CHRIPS Precipitation</li>
    <li>UI MACA future climate (CMIP5)</li>
    </ul>
    <b>Remote Sensing Datasets</b><br />
    <ul>
    <li>MODIS Terra Remote Sensing</li>
    <li>Landsat 5 Remote Sensing</li>
    <li>Landsat 8 Remote Sensing</li>
    <li>Landsat 4/5/7/8 Remote Sensing</li>
    </ul>
    <b>Analysis options</b><br />
    <ul>
    <li>Map generation<li>
    <li>Time Series for points or custom shapes specified by fusion tables</li>
    </ul>
    <b>Data summary options</b><br />
    <ul>
        <li>Maximum/Minimum</li>
        <li>Mean/Median</li>
        <li>Sum</li>
        <li>Departures from averages<li>
        <li>Interannual statistics (time series only)</li>
        <li>Intraannaul statistics (time series only)</li>
    </ul>
</div>

