    <div id="HadGEM2-ES" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
