<p class="lead"><small>
    <ul>
        <li><b>Weather Station Data (US & territories)</b>
            <ul>
                <li>From 1845 - Present (varies by station)</li>
                <li>Temporal resolution: daily</li>
                <li>Many station <span class="link" onclick="ShowHowtoDocu('Docu_networks')">networks</span> included</li>
                <li>Variables: temperatures, precipitation, snow, degree days</li>
            </ul>
        </li>
        <li><b>Gridded Historic Datasets (US)</b>
            <ul>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_PRISM')">PRISM</span></li>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_NRCC_INT')">NRCC Interpolated</span></li>
                <li>Variables: temperatures, precipitation, degree days</li>
            </ul>
        </li>
        <li><b>Gridded Projection Datasets(US/Canada/Mexico)</b>
            <ul>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_LOCA')">LOCA</span></li>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_NARCCAP')">NARCCAP</span></li> 
            </ul>
        </li>
    </ul>
</small></p>
