<div autofocus></div>
<div title="Single Lister">
    <p class="error">What is the Data Lister tool?</p>
    <p>Access to historic station and grid point data</p>
    <p class="error">What datasets are available?</p>
    <p>Works with historic station data as well as gridded datasets</p>

    <p class="pop_link" onClick="ShowHide('Docu_STATION_NETWORKS')"><u>SEE STATION_NETWORKS</u></p>
    <div id="Docu_STATION_NETWORKS" style="display:none;">{% include 'includes/Docu_STATION_NETWORKS.html'%}    </div>
    <p class="pop_link" onClick="ShowHide('Docu_GRIDS')"><u>SEE GRIDDED DATASETS</u></p>
    <div id="Docu_GRIDS" style="display:none;">{% include 'includes/Docu_all_grids.html'%}</div>

    <p><b>Temporal Resolution</b><br />
    Daily for station data.<br />
    Daily (NARRCAP, PRISM), monthly/yearly (PRISM)<br />
        <b>Observed Quantities </b><br />
    <i class="message">Station/Gridded</i>:<br />
    Precipitation (in/mm)<br />
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br />
    <i class="message">Station only</i>: <br />
    Observation Time Temperature (F/C)<br />
    Snowfall (in/mm), Snow Depth (in/mm)<br />
    <b>Derived Quantities </b><br />
    <i class="message">Station/Gridded</i>:<br />
    Heating/Cooling/Growing Degree Days (F/C)<br />
    Average Temperature (F/C)<br /><br /> 

    All data sets are made available through the ACIS system.<br />
    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
    <p class="error">What can you do with this tool?</p>
    <p><b>Access and download data</b><br />
    Available Data Formats: .xls, .dat, .txt, html(prints to screen)<br />
</div>

