    <div>-------- <b>NARRCAP PROJECTIONS</b> --------</div>
    <br/>
    <b>Source</b>:<a target=_blank class="link" href="http://www.narccap.ucar.edu/">North American Regional Climate Change Assessment Program (NARCCAP)</a>
    <br/>
    <div>-------- <b>MODELS</b> --------</div> 
    <div id="CRCM" align="left">
    <font size="3"><b><a name="CRCM">CRCM -- Canadian Regional Climate Model</a></b><br/>
    <b>Source</b>: Ouranos Climate Simulation Team / UQAM via NARRCAP<br/>
    <b>Domain</b>: US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br/>
    <b>Spatial Resolution</b>: 50km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br/>
    </div>
    <br/>
    <div id="HRM3" align="left">
    <font size="3"><b><a name="HRM3">HRM3 -- Hadley Regional Model</a></b><br/>
    <b>Source</b>: Hadley Centre via NARCCAP<br/>
    <b>Domain</b>: US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br/>
    <b>Spatial Resolution</b>: 50km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br/>
    </div>
    <br/>
    <div id="MM5I" align="left">
    <font size="3"><b><a name="MM5I">MM5I -- PSU/NCAR mesoscale model</a></b><br/>
    <b>Source</b>: NCAR-Mesoscale Prediction Group/Penn State via NARCCAP<br/>
    <b>Domain</b>: US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br/>
    <b>Spatial Resolution</b>: 50km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br/>
    </div>
    <br/>
    <div id="RCM3" align="left">
    <font size="3"><b><a name="RCM3">RCM3 -- Regional Climate Model Version 3</a></b><br/>
    <b>Source: UC Santa Cruz via NARCCAP</b><br/>
    <b>Domain</b>: US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br/>
    <b>Spatial Resolution</b>: 50km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br/>
    </div>
    <br/>
    <div id="WRFG" align="left">
    <font size="3"><b><a name="WRFG">WRFG -- Weather Research Forecasting Model</a></b><br/>
    <b>Source</b>: Mesoscale and Microscale Meteorology Division of NCAR via NARCCAP<br/>
    <b>Domain</b>: US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br/>
    <b>Spatial Resolution</b>: 50km<br/>
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br/>
    </div>

