<div id="gallery_ndays">
<p class="error">What is the application?</p>
<p>
<a href="{{app_urls.extremes}}" target="_blank">
<font color="blue">{{app_names.extremes}}</font></a><br />
At a location of your choice (station or grid point)<br />
you can look at several monthly statistics for a chosen climate variable.<br />
You can look at monthly maximums, minimums, sums, averages and ranges.<br />
You can count the number of days that a threshold is met or exceeded.<br />
Or you can look at departures from avergages.
</p>
<p class="error">What types of questions can be ansered?</p>
<ul>
<li>How much warmer did it get over the last x years.</li>
<li>Which is the wettest month of the year, which the driest, hottest, coldest.</li>
<li>Which are the month of the year where temperatures stay<br />
between two threshold values, above/below a threshold value.</li>
</ul>
<p>
</p>
<p class="error">Example</p>
<p>Suppose you just moved from Southern California to the Nothern California mountains.<br />
How about Sierraville in the Tahoe area since its to pretty there.<br />
Suppose you are an avid gardener.<br />
Gardening was easy in SoCal and now you wonder<br />
what you can grow in your new back yard<br />
and when to grow it.<br />
You like tomatoes a lot and you know that they really don't like to be exposed to frost.<br />
You wonder if you can plant in April or if you should wait until May or June.<br />
So, let's see how many days have minimum temperatures below freezing in these months.<br /><br />
<img src='/csc/media/img/Extremes_Results.png' align="center"><br />
We can see that both April and May historically have quite a few<br /> 
days below freezing minimum temperatures.<br >
You are better off planting your beloved tomatoes in June.<br />
<a href="{{param_urls.extremes}}" target="_blank"><font color="blue">TRY IT!</font></a><br />

<p class="error">Step by Step instuctions</p>
<p class="message"><b>Note:</b><br />
This example presumes you know the station ID of the Sierraville station.<br />
If you want to use a different station or gridpoint, see the gallery example:<br />
<b>FINDING A POINT/AREA OF INTEREST</b>
</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.extremes}}" target="_blank">
<font color="blue">{{app_names.extremes}}</font></a><br /></li>
<li>Set the form parameters:<br />
<img src='/csc/media/img/Extremes_Form.png' align="center"><br />
</li>
<li>Submit the request by clicking on "Generate Time Series".</li>
<li>Select April/May/June in the chart options.</li>
</ol>
</p>
</div>

