<!--List of images illustrating StationTools-->
<h1 class="message">Sample outputs of individual analysis tools</h1>
<h2>Gridpoint Statistics and Time Series</h2>
    <img alt="SodxtrmtsTable" title="SodxtrmtsTable" width="400px" height="350px" src="/csc/media/img/SodxtrmtsTableGrid.png"><br />
    <img alt="SodxtrmtsTS" title="SodxtrmtsTS" width="400px" height="300px" src="/csc/media/img/SodxtrmtsTS.png">
<h2>Spatial Summaries</h2>
    <img alt="SpatialSummaries" title="SpatialSummaries" height="300px" src="/csc/media/img/SpatialSummaryTableTS.png"><br />
<h2>Temporal Summaries</h2>
    <img alt="SummaryMap" title="SummaryMap" width="400px" height="300px" src="/csc/media/img/ClimSumMap.png"><br />
<h2>Data Lister</h2>
    <img alt="DataListerTxt" title="DataListerTxt" width="400px" height="300px" src="/csc/media/img/DataListerGridTxt.png"><br />
    <img alt="DataListerExcel" title="DataListerExcel" width="400px" height="300px" src="/csc/media/img/DataListerGridExcel.png"><br />

