
    <span><b>a) Gridded interpolated datasets</b></span><br />
    <span class="link" onClick="ShowPopupDocu('Docu_NRCC_INT')"><u>NRCC Interpolated</u></span>, 
        <div id="Docu_NRCC_INT" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_NRCC_INT_HI')"><u>NRCC Interpolated Hi-Res</u></span>
        <div id="Docu_NRCC_INT_HI" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_PRISM')"><u>PRISM</u></span> 
        <div id="Docu_PRISM" style="display:none;"></div>
    <br /><br />
    <span><b>b) North American Regional Climate Change Assessment Program (NARCCAP) dynamically downscaled datasets</span></b><br />
    <span class="link" onClick="ShowPopupDocu('Docu_CRCM')"><u>NARCCAP - CRCM</u></span>, 
        <div id="Docu_CRCM" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_HRM3')"><u>NARCCAP - HRM3</u></span>, 
        <div id="Docu_HRM3" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_MM5I')"><u>NARCCAP - MM5I</u></span>, 
        <div id="Docu_MM5I" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_RCM3')"><u>NARCCAP - RCM3</u></span>, 
        <div id="Docu_RCM3" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_WRFG')"><u>NARCCAP - WRFG</u></span>
        <div id="Docu_WRFG" style="display:none;"></div>
    <br /><br />
    <span<b>c) Localized Constructed Analogs (LOCA) statistically downscaled datasets</span></b><br />
    <span class="link" onClick="ShowPopupDocu('Docu_GDFL-CM3')"><u>LOCA - GDFL-CM3</u></span>, 
        <div id="Docu_GDFL-CM3" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_HadGEM2-CC')"><u>LOCA - HadGEM2-CC</u></span>, 
        <div id="Docu_HadGEM2-CC" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_HadGEM2-ES')"><u>LOCA - HadGEM2-ES</u></span>, 
        <div id="Docu_HadGEM2-ES" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_CCSM4')"><u>LOCA - CCSM4</u></span>,
        <div id="Docu_CCSM4" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_CanESM2')"><u>LOCA - CanESM2</u></span>,<br />
        <div id="Docu_CanESM2" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_CESM1-BGC')"><u>LOCA - CESM1-BGC</u></span>,
        <div id="Docu_CESM1-BGC" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_CMCC-CMS')"><u>LOCA - CMCC-CMS</u></span>,
        <div id="Docu_CMCC-CMS" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_CNRM-CM5')"><u>LOCA - CNRM-CM5</u></span>,
        <div id="Docu_CNRM-CM5" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_MICRO5')"><u>LOCA - MICRO5</u></span>,
        <div id="Docu_MICRO5" style="display:none;"></div>
    <span class="link" onClick="ShowPopupDocu('Docu_ACCESS1-0')"><u>LOCA - ACCESS1-0</u></span>,
        <div id="Docu_ACCESS1-0" style="display:none;"></div>
        
    <script type="text/javascript">
        $("#Docu_NRCC_INT").load("{{HTML_URL}}/Docu_all_grids.html #Docu_NRCC_INT");
        $("#Docu_NRCC_INT_HI").load("{{HTML_URL}}/Docu_all_grids.html #Docu_NRCC_INT_HI");
        $("#Docu_PRISM").load("{{HTML_URL}}/Docu_all_grids.html #Docu_PRISM");
        $("#Docu_CRCM").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CRCM");
        $("#Docu_HRM3").load("{{HTML_URL}}/Docu_all_grids.html #Docu_HRM3");
        $("#Docu_MM5I").load("{{HTML_URL}}/Docu_all_grids.html #Docu_MM5I");
        $("#Docu_RCM3").load("{{HTML_URL}}/Docu_all_grids.html #Docu_RCM3");
        $("#Docu_WRFG").load("{{HTML_URL}}/Docu_all_grids.html #Docu_WRFG");
        $("#Docu_GDFL-CM3").load("{{HTML_URL}}/Docu_all_grids.html #Docu_GDFL-CM3");
        $("#Docu_HadGEM2-CC").load("{{HTML_URL}}/Docu_all_grids.html #Docu_HadGEM2-CC");
        $("#Docu_HadGEM2-ES").load("{{HTML_URL}}/Docu_all_grids.html #Docu_HadGEM2-ES");
        $("#Docu_CCSM4").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CCSM4");
        $("#Docu_CanESM2").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CanESM2");
        $("#Docu_CESM1-BGC").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CESM1-BGC");
        $("#Docu_CMCC-CMS").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CMCC-CMS");
        $("#Docu_CNRM-CM5").load("{{HTML_URL}}/Docu_all_grids.html #Docu_CNRM-CM5");
        $("#Docu_MICRO5").load("{{HTML_URL}}/Docu_all_grids.html #Docu_MICRO5");
        $("#Docu_ACCESS1-0").load("{{HTML_URL}}/Docu_all_grids.html #Docu_ACCESS1-0");
    </script>
