<b>How to use variable and date constraints</b><br />
<b>Example 1</b>:<br />
<b>Start date</b>: 20010101, <b>End Date</b>: 20091231,<br />
<b>Variables</b>: maxt, pcpn, <b>Constraints</b>: Any Variable, All Dates<br>
This search will find stations that have </b>Maximum Temperature data <b>OR</b><br />
Precipitation data recorded for <b>ALL</b> days in the decade 2000 - 2010.<br />
<b>Example 2</b>: <br />
<b>Start date</b>: 20010101, <b>End Date</b>: 20091231,<br />
<b>Variables</b>: maxt, pcpn, <b>Constraints</b>: All Variables, Any Date<br>
This search will find stations that have </b>Maximum Temperature data <b>AND</b><br />
Precipitation data recorded for <b>AT LEAST</b> one day in the decade 2000 - 2010.<br />
