<div autofocus></div>
<div title="Temporal Summary Map">
    <p class="error">What is this tool?</p>
    <p>Generates temporal composite maps<br/>
    for a variety of climate variables<br/>
    for individual US states or a custom bounding box</p>
    <p class="error">What datasets can be used?</p>
    <p>Works with gridded datasets<br/>

    <p class="pop_link" onClick="ShowPopupDocu('Docu_GRIDS')"><u>See more on gridded datasets</u></p>
    <div id="Docu_GRIDS" style="display:none;">{% include 'includes/Docu_all_grids.html'%}</div>
    
    <p><b>Temporal Resolution</b><br/>
    Daily<br/>
    <b>Observed Quantities </b><br/>
    Precipitation (in/mm)<br/>
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br/>
    <b>Derived Quantities </b><br/>
    Heating/Cooling/Growing Degree Days (F/C)<br/>
    Average Temperature (F/C)<br/><br/>

    All data sets are made available through the ACIS system.<br/>

    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
    <p class="error">What can you do with this tool?</p>
    <p>Generate Maps, download map images</p>
    <img alt="TemporalSummaryMap" title="TemporalSummaryMap" width="400px" height="400px" src="/csc/media/img/TemporalSummaryMap.png">
</div>
