<div autofocus></div>
<div>
    <p class="error">What can you find here?</p>
    <b>Global Maps or maps for a specified area</b><br/>
    <ul>
        <li>Values</li>
        <li>Average Conditions</li>
        <li>Difference from Average Conditions</li>
        <li>Percent Difference from Average Conditions</li>
        <li>Percent of Average Conditions</li>
    </ul>    
    <b>Time Series for a point or averaged over an area</b><br/>
    <ul>
        <li>Data Lister</li>
        <li>Seasonal Summaries</li>
        <li>Time Series for a year period with percentiles</li>
    </ul>
    <b>Area options</b><br/>
    <ul>
    <li>point (lon, lat), county, county warning area</li>
    <li>climate division, drainage basin</li>
    <li>custom polygon, bounding box</li>
    </ul>
 
</div>

