<div id="DATA_COMPARISON" title="Data Comparison">
    <p class="error">What is this tool?</p>
    <p>This  tool compares historic station data with gridded data.<br />
     
    </p>
    <p class="error">What datasets can be used?</p>
    <b>Gridded datasets:</b><br />
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT')"><u>NRCC Interpolated</u></p>
        <div id="Docu_NRCC_INT" style="display:none;">{% include 'includes/Docu_NRCC_INT.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT_HI')"><u>NRCC Interpolated Hi-Res</u></p>
        <div id="Docu_NRCC_INT_HI" style="display:none;">{% include 'includes/Docu_NRCC_INT_HI_RES.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_PRISM')"><u>PRISM</u></p>
        <div id="Docu_PRISM" style="display:none;">{% include 'includes/Docu_PRISM.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_CRCM')"><u>NARCCAP - CRCM</u></p>
        <div id="Docu_CRCM" style="display:none;">{% include 'includes/Docu_CRCM.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_HRM3')"><u>NARCCAP - HRM3</u></p>
        <div id="Docu_HRM3" style="display:none;">{% include 'includes/Docu_HRM3.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_MM5I')"><u>NARCCAP - MM5I</u></p>
        <div id="Docu_MM5I" style="display:none;">{% include 'includes/Docu_MM5I.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_RCM3')"><u>NARCCAP - RCM3</u></p>
        <div id="Docu_RCM3" style="display:none;">{% include 'includes/Docu_RCM3.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_WRFG')"><u>NARCCAP - WRFG</u></p>
        <div id="Docu_WRFG" style="display:none;">{% include 'includes/Docu_WRFG.html'%}</div>
    All data sets are made available through the ACIS system.<br />
    <a class="pop_link" target="_blank" href="http://rcc-acis.unl.edu/index.php"><font color="#0000FF">ACIS Home Page</font></a></p>
    <p class="error">What can you do with this tool?</p>
    <p>Generate comparative time series</p>
    <img alt="DataComparisonTS" title="DataComparisonTS" width="400px" height="300px" src="/csc/media/img/DataComparisonTS.png">
    <p>Generate comparative statistics</p>
    <img alt="DataComparisonTable" title="DataComparisonTable" width="250px" height="250px" src="/csc/media/img/DataComparisonTable.png">
    <p>Download data tables and graphs.</p>
</div>
