    <div>-------- <b>LOCA DOWNSCALED CMIP5 PROJECTIONS</b> --------</div>
    <br />
    <b>Source</b>:<a target=_blank class="link" href="http://loca.ucsd.edu/">SCRIPPS Institution of Oceanography (CASPO)</a> 
    <br />
    <div>-------- <b>MODELS</b> --------</div>
    <div id="GDFL-CM3" align="left">
    <font size="3"><b><a name="GDFL-CM3">GDFL-CM3</a></b><br />
    <b>Source</b>: Geophysical Fluid Dynamics Laboratory<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    <div id="HadGEM2-CC" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    <div id="HadGEM2-ES" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
    <br />
    <div id="HadGEM2-ES" align="left">
    <font size="3"><b><a name="HadGEM2-CC">HadGEM2-CC</a></b><br />
    <b>Source</b>: Met Office Hadley Center (additional HadGEM2-ES realizations contributed by Instituto Nacional de Pesquisas Espaciais)<br />
    <b>Domain</b>: US, Canada, Mexico</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - 2100<br />
    <b>Spatial Resolution</b>: 6 km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <b>Emission Scenarios</b>: rcp45, rcp85<br />
    </div>
