    <div id="PRISM" align="left">
    <font size="3"><b><a name="PRISM">PRISM</a></b></br >
    <b>Source</b>: PRISM Climate Group<br />
    <b>Domain</b>: Continental US</br>
    <b>Temporal Resolution</b>:<br />Daily, Monthly, Yearly<br />
    <b>Date Range</b>: 1981- Present, 1895 - Present, 1895 - Present<br />
    <b>Spatial Resolution</b>: 4 km<br />
    <b>Climate Elements</b>: <br />
    <b>Daily</b>: Maximum/Minimum/Average Temperature, Precipitation, Degree Days<br />
    <b>Monthly/Yearly</b>: Maximum/Minimum Temperature, Precipitation<br />
    <b>Version</b>: Monthly/Yearly “4kmM2”, Daily “4kmD1”<br />
    <!--<a target="_blank" href="http://www.prism.oregonstate.edu/">PRISM Home Page</a><br />
    <a target="_blank" href="http://prism.nacse.org/documents/PRISM_datasets_aug2013.pdf">PRISM dataset descriptions</a>-->
    </div>
