<div id="Docu_geo_data_portal">
    <p class="error"><b>GeoDataPortal (GDP) by USGS Center for Integrated Data Analysis (CIDA)</b></p>
    <p>
    Access to <b>Data</b>
    <ul>
    <li>Downscaled Climate Projections for the US</li>
    <li>Sea Level Rise Projections</li>
    <li>Landscape Change Projections</li>
    </ul>
    <b>Capabilities</b><br />
    <ul>
        <li>Upload shape files to specify area of interest</li>
        <li>Download large datasets (historic and future climate datasets)</li>
        <li>Obtain spatially averaged summaries</li>
        <li>Different output formats (NetCDF, csv)</li>
        <li>Data Visualization (Climate Indices maps)</li>
        <li>Dataset comparison</li>
        <li>Environmental Data Discovery and Transformation Tool (EnDDaT)</li>
    </ul>
    <b>Links</b><br />
    <a target="_blank" href="http://cida.usgs.gov/climate/gdp/">GeoDataPortal</a><br />
    <a target="_blank" href="http://cida.usgs.gov/climate/derivative/">GeoDataPortal Derivative (Visualization)</a><br />
    <a target="_blank" href="http://cida.usgs.gov/enddat/">EnDDaT</a><br />
    <a target="_blank" href="http://pubs.usgs.gov/fs/2013/3019/pdf/FS_2013-3019_508.pdf">Featured:GDP Facts Sheet</a><br />
    </p>
</div>
