<div autofocus></div>
<p class="error">What is LOCA (Localized Constructed Analogs)?</p>
<p class="dark_blue">Statistically downscaled CMIP5 climate projections for North America.</p>

<a target="_blank" class="pop_link" href="http://loca.ucsd.edu/"><font color="#0000FF">Read more about LOCA...</font></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a target="_blank" class="pop_link" href="http://cmip-pcmdi.llnl.gov/cmip5/"><font color="#0000FF">Read more about CMIP5...</font></a>
<a target="_blank" class="pop_link" href="http://loca.ucsd.edu/"><font color="#0000FF">Read more about LOCA...</font></a>
