    <div id="WRFG" align="left">
    <font size="3"><b><a name="WRFG">WRFG -- Weather Research Forecasting Model</a></b><br />
    <b>Source</b>: Mesoscale and Microscale Meteorology Division of NCAR via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Variables</b>: Maximum/Minimum Temperature, Precipitation<br />
    <!--<a target="_blank" href="http://wrf-model.org/index.php">WRF Home Page</a><br />
    <a target="_blank" href="http://www.narccap.ucar.edu/data/model-info.html">NARCCAP Model Information Page</a>-->
    </div>
