<div autofocus></div>
<div id="app_temporal_summary" title="Temporal Summary Map">
    <p class="error">What is this tool?</p>
    <p>An interactive tool to generate temporal composite maps<br />
    for a variety of climate elements.<br />
    Following climate elements area available.
    <ul>
    <li>Maximum Temperature (maxt)</li>
    <li>Minimum Temperature (mint)</li>
    <li>Precipitation (pcpn)</li>
    <li>Degree Days (Heating/Cooling/Growing) (hdd,cdd,gdd)</li>
    </ul>
    Maps can be generated for individual US states or a custom bounding box.</p>
    <p class="error">What datasets can be used?</p>
    <p>This tool works with the NRCC interpolated and<br />
    the NRCC Hi-Resolution daily gridded datasets developed at<br />
    the Northern Regional Climate Center (NRCC)<br />
    as well as with a variety of NARCCAP modeled datasets.<br />
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT')"><u>NRCC Interpolated</u></p>
        <div id="Docu_NRCC_INT" style="display:none;">{% include 'includes/Docu_NRCC_INT.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT_HI')"><u>NRCC Interpolated Hi-Res</u></p>
        <div id="Docu_NRCC_INT_HI" style="display:none;">{% include 'includes/Docu_NRCC_INT_HI_RES.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_PRISM')"><u>PRISM</u></p>
        <div id="Docu_PRISM" style="display:none;">{% include 'includes/Docu_PRISM.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_CRCM')"><u>NARCCAP - CRCM</u></p>
        <div id="Docu_CRCM" style="display:none;">{% include 'includes/Docu_CRCM.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_HRM3')"><u>NARCCAP - HRM3</u></p>
        <div id="Docu_HRM3" style="display:none;">{% include 'includes/Docu_HRM3.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_MM5I')"><u>NARCCAP - MM5I</u></p>
        <div id="Docu_MM5I" style="display:none;">{% include 'includes/Docu_MM5I.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_RCM3')"><u>NARCCAP - RCM3</u></p>
        <div id="Docu_RCM3" style="display:none;">{% include 'includes/Docu_RCM3.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_WRFG')"><u>NARCCAP - WRFG</u></p>
        <div id="Docu_WRFG" style="display:none;">{% include 'includes/Docu_WRFG.html'%}</div>
    For more information on NRCC interpolated, NRCC Hi-Resolution:<br />
    <a class="pop_link" target="_blank" href="https://gist.github.com/4197956"><font color="#0000FF">GridACIS grids 1 and 3</font></a><br />
    For more information and direct access to NARCCAP<br />
    (North American Regional Climate Change Assessment Program):<br />
    <a class="pop_link" target="_blank" href="http://www.earthsystemgrid.org/project/narccap.html"><font color="#0000FF">NARCCAP data page</font></a>
    <p class="error">What can you do with this tool?</p>
    <p>Generate Maps, download data and maps</p>
    <img alt="ClimSumMap" title="ClimSumMap" width="400px" height="400px" src="/csc/media/img/ClimSumMap.png">
</div>
