<div id="gallery_station_finder">
<p class="error">Example</p>
<p class="message">Find stations in close vicinity of Lake Tahoe that have precipitation and minimum temperature records from at least 1930 up to 2015.
</p>
<a href="{{param_urls.station_finder}}" target="_blank"><font color="blue">SEE RESULTS!</font></a><br />
<p class="error">Step by Step instructions</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.station_finder}}" target="_blank">
<font color="blue">{{app_names.station_finder}}</font></a><br /><br />
<img src='/csc/media/img/howto_station_finder_link.png' align="center"><br /><br />
</li>
<li>Set the form parameters:<br /><br />
Look at the form at the left of the page. You can see that
we have several options for the area of interest.
Choose Custom Shape.<br />
The map that pops up shows a rectangle focused on Havasu City, AZ.<br /><br />

<img src='/csc/media/img/howto_station_finder_area.png' align="center"><br /><br />

Zoom out and focus the map around Lake Tahoe.
From the drawing options at the top left of the map, click the polygon icon  
<img src="/csc/media/img/PolygonIcon.png">.<br />
Point and click at each corner of your polygon.
Finish by double clicking at the final point
or by clicking on the first point of your polygon.<br /><br />
<img src='/csc/media/img/howto_station_finder_custom_polygon.png' align="center"><br />
<p style="font-style:italic;">Note: You could also have chosen the rectangle option or the circle option
to draw a rectangle or circle around Lake Tahoe.<br />
<img src="/csc/media/img/RectangleIcon.png"> <b>Rectangle: </b> Point at a corner of your rectangle,
click, hold and drag in the desired direction.<br />
<img src="/csc/media/img/CircleIcon.png"> <b>Circle: </b>Point at the center of your circle, <br />
 click, hold and drag outwards.<br /><br />
Also note that the Custom Shape field in the form on the left of the page
was updated with the longitude, latitude coordinate pairs of your polygon.<br /><br />
</p>

Pick Precipitation and Minimum Temperature as you climate elements.<br />
To select multiple elements:<br />
MAC: hold down the command (apple) button while selecting the elements.<br />
PC: hold down the control (ctrl) button while selecting the elements.<br /><br />

Since we want our station to have both precipitation AND minimum temperature,
we select "All of the elements".<br /><br />

For Start Date enter 1930-01-01.<br /><br />
For End Date enter 2014-12-31.<br /><br />

We want to find a station that has data for all dates from 1930 to 2015,
so we select "All of the dates".<br /><br />

The final form will look like this:<br /><br />

<img src='/csc/media/img/howto_station_finder_form.png' align="center"><br /><br />
</li>

<li>Submit the request by clicking on "Show me stations".
<br /><br />
The results will depend on the size of the polygon you have drawn.
You should see at least two stations on the resulting map. 
Click on one of the markers on the map
or click on the station name in the list below the map  
to see more information about the stations that you found. <br /><br />

<img src='/csc/media/img/howto_station_finder_results.png' align="center"><br />
</li>
</ol>
</p>
</div>
