<b>Thresholds for "Number of Days" statistic</b><br/>
Fill out this sub section if your monthly statistic is "Number of Days."<br/>
    <ul>
        <li><b>Less greater or between</b>:<br/>Count the number of days less than/greater than or between threshold(s).</li> 
        <ul>
        <li><b>Threshold</b>:<br/>If you choose less than or greater than above, enter your threshold here.</li>
        <li><b>Above/Below</b>:<br/>If you choose between above, enter your lower(Above) and upper(Below) thresholds here.</li>
        </ul>
    </ul>
