<p class="lead">
    <ul>
        <li>Get a listing of stations or grid points in:
            <ul>
                <li>A US <b>State</b></li>
                <li>A US <b>County</b></li>
                <li>A <b>County Warning Area</b></li>
                <li>A <b>Drainage Basin</b></li>
                <li>A <b>Climate Division or</b></li>
                <li>A <b>custom shape</b> (Polygon, Bounding Box, Circle)</li>
            </ul>
        </li>
        <li>Download data as .txt, .dat, .xls</li>
        </li>Data can be summarized over time or the area selected</li>
    </ul>
    <img class="img-responsive app_img" alt="DataLister" title="DataLister" src="{{MEDIA_URL}}img/DataLister.png">
</p>
