<b>Variables </b><br />
Choose one or more climate variables from the drop down menu.<br />
Only a limited set of climate variables are available for gridded data.<br />
Following climate variabless area available.<br />
&nbsp;&nbsp;<b>Station variables</b><br />
<ul>
<li>Maximum Temperature </li>
<li>Minimum Temperature</li>
<li>Average Temperature</li>
<li>Observation Time Temperature</li>
<li>Precipitation</li>
<li>Snowfall</li>
<li>Snow Depth</li>
<li>Degree Days (Heating/Cooling/Growing)</li>
    <ul>
        <li>Heating Degree Days base temperature 65F</li>
        <li>Cooling Degree Days base temperature 65F</li>
        <li>Growing Degree Days base temperature 50F</li>
    </ul>
</ul>
&nbsp;&nbsp;<b>Grid elements</b><br />
<ul>
<li>Maximum Temperature </li>
<li>Minimum Temperature</li>
<li>Average Temperature</li>
<li>Precipitation</li>
<li>Degree Days (Heating/Cooling/Growing)</li>
    <ul>
        <li>Heating Degree Days base temperature 65F</li>
        <li>Cooling Degree Days base temperature 65F</li>
        <li>Growing Degree Days base temperature 50F</li>
    </ul>
</ul>
