<div id="MONTHLY SUMMARY GRAPH" align="left">
    <p>
    <b>Plotting options in panel above the graph</b><br />
    From left to right, the panel above the graph contains options to:<br />
    <ul>
        <li>Change the chart type of the graph</li>
        <li>Add a running mean over a specified number of days to the graph</li>
        <li>Add the average of the plotted data to the graph</li>
        <li>Show or hide the legend on the graph</li>
    </ul>
    <b>On the Graph</b><br />
    Hover your mouse over a point on the graph to  see the date and data value at that point<br />
    Click and drag on the graph to zoom in on a particular area.<br />
    A "Reset Zoom" button will pop up  on the top righ hand side of the graph. This will allow you to reset the zoom to it's default value.<br />
    The legend is movable. Just hover your mouse over the double dots, click and move the legend to the desired position.<br />
    In the top right corner of the graph you can find print and serevral download options (PNG, JPEG, PDF, SVG).
    </p>
</div>
