<div autofocus></div>
<div id="Docu_page_station_finder">
    <p class="error">What is this tool?</p>   
    <p>Tool to locate weather stations that record daily climate data across the US.</p>

    <p class="error">What type of stations/data can be found?</p>
        Stations belonging to several networks can be found.<br />
        These stations offer standard climate variables such as<br />
        Maximum/Minimum/Average Temperature,<br />Snowfall, Snow Depth and Degree Days.<br />
        The number of observed variables and the period<br /> of record vary from station to station.<br />
        Temporal resolution is daily.<br />

        <b>Station Networks: </b><br />
        {% include 'includes/Docu_popup_station_networks.html'%}
        <br /><br />
        <p>Read more about the networks: </p>
        {% include 'includes/Docu_station_networks_links.html'%}
        <br />

        All data sets are made available through the ACIS system.<br />
        <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a>

    <p class="error">What can you do with this tool?</p>
    <p>
        Search for stations in a variety of area,<br />
        e.g. country warning area, county, drainage basin, state,<br />
        climate division and custom shapes.<br />
        Search for stations by availability of climate variable(s).<br />
        Find stations with data records within a certain time range<br />
        Find available data analysis tools for stations.<br />
    </p>
</div>
