<div id="Docu_Data_Basin">
    <p class="error"><b>Data Basin by the Conservation Biology Institute (CBI)</b></p>
    <b>The core of Data Basin is free and provides open access to thousands of<br/>
    scientifically-grounded, biological, physical, and socio-economic datasets.</b><br/><br/>
    <b>Capabilities</b>: 
    <ul>
    <li>Explore and organize data and information</li>
    <li>Create custom visualizations, drawings and analyses</li>
    <li>Utilize collaborative tools in groups</li>
    <li>Publish datasets, maps and galleries</li>
    <li>Develop decision-support and custom tools</li>
    </ul>
    </p>
    <a target="_blank" href="http://databasin.org/datasets/">Access to Datasets</a><br/>
    <a target="_blank" href="http://databasin.org/maps/" >Access to Maps</a><br/>
    <a target="_blank" href="http://databasin.org/articles/b03c8f2329e644dd9a9bb0efc23cb17e" >Featured Project: Climate Change Adaptation Strategies<br/> for BLM Resource Management in Southern Nevada </a><br/>
</div>
