<div autofocus></div>
<div id="Docu_page_multi_point_prods">
    <p class="error">What can you find here?</p>

    Access to data and analysis tools for areas<br/><br/>
    
    <b>Data Listers</b><br/>
    <ul>
    <li>Access to data for an area of interest (daily/monthly(PRISM only)/yearly(PRISM only))</li>
    </ul>
    
    <b>Data Analysis Tools</b>
    {% include 'includes/Docu_multi_point_analyses.html'%}
    
    <b>Area options</b><br/>
    <ul>
    <li>county, county warning area</li>
    <li>climate division, drainage basin</li>
    <li>custom polygon, circle or bounding box</li>
    </ul>
    
    <p class="error">What datasets are available?</p>
    
    <p class="bg-warning"><b>1. Station Data</b></p>
    <b>Observed Quantities </b><br/>
    Maximum Temperature (F/C), Minimum Temperature (F/C),<br/>Observation Time Temperature (F/C)<br/>
    Snowfall (in/mm), Snow Depth (in/mm)<br/>
    <b>Derived Quantities </b><br/>
    Average Temperature (F/C), Heating/Cooling/Growing Degree Days (F/C)<br/><br/>

    <b>Station Networks </b><br/>
    {% include 'includes/Docu_popup_station_networks.html'%}
    <br/><br/>
    <p>Read more about the networks: </p>
    {% include 'includes/Docu_station_networks_links.html'%}
    <br/> 
 
    All datassets are made available through the ACIS system.<br/> 
    
    <p class="bg-warning"><b>2. Gridded Data</b></p>
    
    <b>Observed Quantities </b><br/>
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br/>
    <b>Derived Quantities </b><br/>
    Heating/Cooling/Growing Degree Days (F/C)<br/><br/>
    
    {% include 'includes/Docu_popup_grids.html'%}<br/>
</div>

