<p class="lead"><small>
    <ul>
    <li><span class="link" onclick="ShowHowtoDocu('Docu_popup_station_finder')">Station Finder</span></li><br />
    <li><span class="link" onclick="ShowHowtoDocu('Docu_popup_single_point_prods')">Single Point Products</span>
    <br />
    for individual weather stations or gridpoints.
    </li><br />
    <li><span class="link" onclick="ShowHowtoDocu('Docu_popup_multi_point_prods')">Multi Point Products</span>
    <br />
    for stations and gridpoints in states, climate divisions, counties, basins and custom polygons.
    </li>
    <!--
        <a class="link" target="_blank" href="http://cyclone1.dri.edu/csc/scenic/data/station_finder/">Station Finder</a>
        <ul>
            <li>Find weather stations across the US with data for specific climate variables and time range.</li>    
        </ul>
    </li>
    <li>
        <a class="link" target="_blank" href="http://cyclone1.dri.edu/csc/scenic/data/single/">Single Point Products</a><br />
        for individual weather stations or gridpoints.
        <ul>
            
            <li>Data Downloads</li>
            <li>Monthly/seasonal/annual summaries</li>
            <li>Extremes/Averages</li>
            <li>Number of days above/below/between threshold(s)</li>
        </ul>
    </li>
    <li>
        <a class="link" target="_blank" href="http://cyclone1.dri.edu/csc/scenic/data/multi/">Multi Point Products</a><br />
        for stations and gridpoints in states, climate divisions, counties, basins and custom polygons. 
        <ul>
            <li>Data Downloads</li>
            <li>Spatial Summaries (Time Series)</li>
            <li>Temporal Summaries (Maps)</li>
        </ul>
    </li>
    <li><b>Visualization</b>
        <ul>
            <li>Time series (Highcharts)</li>
            <li>Maps (Google Earth Engine, ACIS)</li>
        </ul>
    </li>-->
    </ul>
</small></p>
