<div id="gallery_station_finder">
<p class="error">What is the application?</p>
<p>
<a href="{{app_urls.station_finder}}" target="_blank">
<font color="blue">{{app_names.station_finder}}</font></a><br />
You can use this tool to find a particular weather station lying in a<br />
US state, County, County Warning Area, Climate Division or Drainage Basin.<br />
Or you can draw your own custom polygon to find stations or grid points within.<br />
You can find weather stations in an area that satisfy specific conditions<br />
about available variables and record dates.<br />
You can also use this tool to find names and ids of<br />
US Counties, County Warning Areas, Climate Divisions or Drainage Basins<br />
in a US state.<br />
</p>
<p class="error">What types of questions can be answered?</p>
<ul>
<li>How many County Warning Areas have area in a particular US state, what are their names?</li>
<li>Which weather stations in a particular area record precipitation and temperature data.</li>
<li>Which weather stations in a particular area have data records spanning a certain date range.</li>
</ul>
<p class="error">Example 1</p>
<p class="message">Find a station in the Tahoe region that has precipitation and minimum temperature records<br />
from at least 1930 up to 2015.
</p>
<a href="{{param_urls.station_finder}}" target="_blank"><font color="blue">TRY IT!</font></a><br />
<p class="error">Step by Step instructions</p>
<p>
<ol>
<li>Go to <a href="{{app_urls.station_finder}}" target="_blank">
<font color="blue">{{app_names.station_finder}}</font></a><br /></li>
<li>Set the form parameters:<br />
We have several options for the area of interest:<br />
<img src='/csc/media/img/Gallery_Area_Of_Interest.png' align="center"><br />
We don't really want to look at all of CA since Tahoe is just a small part of CA.<br /> 
Even though other options work as well, let's try searching by county!<br />
The map that pops up is focused on Nevada counties but<br />
we can easily update it to show us CA counties.<br />
Look at the drop down above the map and select California.<br />
Click on "Update Map" and zoom into the North of California.<br />
Click on the area covering Tahoe National Forest.<br />
You should see this:<br /><br />
<img src='/csc/media/img/Gallery_CA_Counties.png' align="center"><br /><br />
Note the County form field on the left was updated to Sierra, 06091.<br />
Pick Precipitation and Minimum Temperature as you variables.<br />
To select multiple variables:<br />
MAC: hold down the command (apple) button while selecting the variables.<br />
PC: hold down the control (ctrl) button while selecting the variables.<br />
Since we want our station to have both precipitation AND minimum temperature,<br />
we select "All of the variables".<br />
And since we want to have data for all dates from 1930 to 2015,<br />
we select "All of the dates".<br />
The final form will look like this:<br /><br />
<img src='/csc/media/img/Gallery_Station_Finder_Form.png' align="center"><br /><br />
</li>
<li>Submit the request by clicking on "Show me stations".</li>
</ol><br />
You will see two stations on the resulting map.<br /> 
Click on the marker on the right to see this result:<br /><br />
<img src='/csc/media/img/Gallery_Station_Finder.png' align="center"><br />
</p>
</div>

