<b>Degree Days </b><br />
Enter a <b>comma separated list</b> of degree day <b>abreviations</b> with base temperature.<br />
<b>Examples</b>:<br />
You are interested in obtaining Growing Degree Days<br />
with base temperature 56F and<br />
and Cooling Degree Days with base temperature 70F<br />
<b>Abreviations</b>: <br />
<b>gdd56</b>: Growing Degree Days with base temperature 56 Fahrenheit<br />
<b>cdd70</b>: Cooling Degree Days with base temperature 70 Fahrenheit</br>
<b>Comma separated list to enter</b>: gdd56,cdd70
<br /><br />
