<b>Data Summary </b><br />
<b>Windowed data</b>:<br />
Get subsets of the period covered by start/end date.
For example, if you don't want to get all data from 2000 but just<br />
want to get all January values from 2000 to 2010,set:<br />
Start Date 2000-01-01<br />
End Date 2009-12-31<br />
Start Window 01-01<br />
End Window 02-31<br />
<b>Temporal/Spatial Sumaries</b>:<br />
Summarize the data over space or time.
A summary over space results in time series.<br />
A summary over a time range results in one value at each grid point.<br />
Summary options are
<ul>
<li><b>Maximum: </b>Finds the maximum value over an area or time range.</li>
<li><b>Minimum: </b>Finds the mimimum value over an area or time range.</li>
<li><b>Mean: </b>Finds the average value over an area or time range.</li>
<li><b>Sum: </b>Finds the sum of the values over an area or time range.</li>
<!--<li><b>Median: </b>Finds the median of the values over an area or time range.</li>-->
</ul>

