<div id="About_single_interannual">
    <p class="error">What is this tool?</p>
    <p>For each year in the period of record for a station or a valid date range for a grid, <br />
    data is temporally summarized over a custom time period specified by Start/End Month/Day.</p>
    <p class="error">What datasets are available?</p>
    <p>This tool works with historic station data as well as interpolated gridded datasets.</p>
    <p><b>Temporal Resolution</b><br />
    Daily for station data.<br />
    Daily (NRCC-Int, PRISM), monthly/yearly (PRISM)<br />
    <b>Observed Quantities </b><br />
    Station/Gridded:<br /> 
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br />
    Station only: <br />
    Observation Time Temperature (F/C)<br />
    Snowfall (in/mm), Snow Depth (in/mm)<br />
    <b>Derived Quantities </b><br />
    Station/Gridded:<br />
    Heating/Cooling/Growing Degree Days (F/C)<br />
    Station only: <br />
    Average Temperature (F/C)<br /> 
    <b>Station Networks: </b><br />
    <ul>
    <li><a class="pop_link" target="_blank" href="http://www.ncdc.noaa.gov/homr/"><font color="#0000FF">WBAN</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.nws.noaa.gov/om/coop/"><font color="#0000FF">COOP</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.ncdc.noaa.gov/oa/climate/ghcn-daily/"><font color="#0000FF">GHCN</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.icao.int/Pages/default.aspx"><font color="#0000FF">ICAO</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.weather.gov/"><font color="#0000FF">NWSLI</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.faa.gov/"><font color="#0000FF">FAA</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.wmo.int/pages/index_en.html"><font color="#0000FF">WMO</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://www.cocorahs.org/"><font color="#0000FF">CoCoRaHS</font></a></li>
    <li><a class="pop_link" target="_blank" href="http://threadex.rcc-acis.org/"><font color="#0000FF">ThreadEx</font></a></li>
    </ul>
    <b>Gridded datasets:</b><br />
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT')"><u>NRCC Interpolated</u></p>
        <div id="Docu_NRCC_INT" style="display:none;">{% include 'includes/Docu_NRCC_INT.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_NRCC_INT_HI')"><u>NRCC Interpolated Hi-Res</u></p>
        <div id="Docu_NRCC_INT_HI" style="display:none;">{% include 'includes/Docu_NRCC_INT_HI_RES.html'%}</div>
    <p class="pop_link" onClick="ShowHide('Docu_PRISM')"><u>PRISM</u></p>
        <div id="Docu_PRISM" style="display:none;">{% include 'includes/Docu_PRISM.html'%}</div>
    All data sets are made available through the ACIS system.<br />
    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
    <p class="error">What can you do with this tool?</p>
    <p><b>Generate time series of yearly values that are<br />
    summarized over a custom date range.</b><br />
</div>

