<textarea rows="50" cols="100" style="background-color: #cce5cc;color:DarkBlue;border:1px solid Blue;font-size:20px;">
###########
Sodlist
###########
This program is a data lister. 
It will list pcpn, snow, snwd, maxt, mint (, tobs, evap) data
over a period given by a start date and end date. If the user is 
only interested in data spanning part of the year (e.g. a season), a window 
can be defined to isolate that interval.

Input:
    Coop Station Id(s) dddddd, dddddd
    Start date         yyyymmdd
    End date           yyyymmdd
    Otput Format       json, csv, ascii
    Start Window       mmdd (default = 0101)
    End Window         mmdd (default = 1231)
    Minimize           Leave out station number abd 5 spaces on each line (default = False)
    Include Tobs Evap  Include temperature at observation and evap data (default =  False)

Sample Output:
    
    :STATION NUMBER  266779 RENO TAHOE INTL AP
:OVERALL PERIOD CONSIDERED: 20120101-20121012
:WINDOW: 0101-1231
:S STNYERMMDDHH  PCPN    SNFL    SNDP    TMAX    TMIN
:-====----==--== -----== -----== -----== -----== -----==
2667792012010124     0       0       0      53      22    
2667792012010224     0       0       0      69      24    
2667792012010324     0       0       0      66      34    
2667792012010424     0       0       0      63      29    
2667792012010524     0       0       0      68      28    
2667792012010624     0       0       0      53      23    
2667792012010724     0       0       0      46      23    
2667792012010824     0       0       0      47      20    
2667792012010924     0       0       0      51      19    
2667792012011024     0       0       0      52      20    
2667792012011124     0       0       0      49      16    
2667792012011224     0       0       0      48      18    
2667792012011324     0       0       0      52      16    
2667792012011424     0       0       0      62      17    
2667792012011524     0       0       0      55      27    
2667792012011624     3       4       0      32      16    
2667792012011724     0       0       0      43       8    
2667792012011824     0       0       0      55      33    
2667792012011924     0       0       0      55      30    
2667792012012024    44       0       0      57      37    
2667792012012124    48       0T      0      47      29    
2667792012012224     0T      0       0      45      28
...
...

Notes:
    units: 
        maxt, mint, avgt, dtr, mmt=min/maxtemps, cdd, hdd: tenth degrees F/C (default F)
        pcpn, evap: hundredths of inches
        snow: tenth of inches
        snwd: whole inches
        awnd: whole miles per day
        wesf=water estimate snow fall: tenth of inches
</textarea>
