    <div id="NARCCAP" align="left">
    <font size="3"><b><a>NARCCAP (US)</a></b></font><br/>
    <b>Source</b>: <a target=_blank class="link" href="http://www.narccap.ucar.edu/">North American Regional Climate Change Assessment Program</a><br/>
    <b>Domain</b>: US<br/>
    <b>Temporal Resolution</b>: Daily<br/>
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br/>
    <b>Spatial Resolution</b>: 50 km<br/>
    <b>Climate Variables</b>: <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Maximum/Minimum/Average Temperature, Precipitation, Degree Days<br/>
    </div>
