            <p>Get a listing of data in an area.<br />
            Area options:<br />
            <ul>
            <li>County, County Warning Area</li>
            <li>Drainage Basin, Climate Division</li>
            <li>US State</li>
            <li>Custom Polygons and Bounding Boxes</li>
            </ul>
            Data can be downloaded as .txt, .dat, .xls.<br />
            Compute spatial summaries (Time Series)<br />
            Compute temporal summaries (Maps)<br />
            </p>
