<div id="MONTHLY SUMMARY GRAPH" align="left">
    <p>
    <b>Plotting options in panel above the graph</b><br/>
    The Threshold parameter on the left top of the panel defines a line on the graph.<br/>
    Depending on the variable, values below that value will appear in one color (blue or red) on the graph,<br/>
    values above the threshold will show in the other.<br/>
    The threshold value defaults to the average of the data plotted.<br/>
    Add a running mean by checking the checkbox in the top middle of the panel <br/>and choose the appropriate number of years for your running mean.<br/>
    The top middle of the panel also contains a checkbox to show the average of the data that is plotted.<br/>
    The right side of the panel has options to show or hide the legend and to change the chart type.<br/>
    <b>On the Graph</b><br/>
    Hover your mouse over a point on the graph to  see the date and data value at that point<br/>
    Click and drag on the graph to zoom in on a particular area.<br/>
    A "Reset Zoom" button will pop up  on the top righ hand side of the graph. This will allow you to reset the zoom to it's default value.<br/>
    The legend is movable. Just hover your mouse over the double dots, click and move the legend to the desired position.<br/>
    In the top right corner of the graph you can find print and serevral download options (PNG, JPEG, PDF, SVG).
    </p>
</div>
