<div autofocus></div>
<b>Point of Interest </b><br />
<ul>
<li><b>Station: </b>Search for a single station.<br />
&nbsp;&nbsp;You can enter a station name or ID.<br />
&nbsp;&nbsp;Use the <a target="_blank" href="{{DATA_URL}}station_finder/">Station Finder</a>
to find a station name or ID. 
</li>
<li><b>Location (Lon,Lat): </b>Search for a single grid point.<br />
&nbsp;&nbsp;Enter a Lon,Lat coordinate or <br />
&nbsp;&nbsp;Use the map interface by dragging the marker to find your location.
</li>

</ul>
