<p class="lead"><small>
    <ul>
        <li><span class="link" onclick="ShowHowtoDocu('Docu_station_data')"><b>Historic Weather Station Data</b></span></li>
        <li><b>Historic Gridded Datasets (US)</b>
            <ul>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_PRISM')">PRISM</span></li>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_NRCC_INT')">NRCC Interpolated</span></li>
            </ul>
        </li>
        <li><b>Gridded Projection Datasets</b>
            <ul>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_LOCA')">LOCA (US/Canada/Mexico)</span></li>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_NARCCAP')">NARCCAP (US)</span></li>
            </ul>
        </li>
        <li><b>Gridded Projection Datasets</b>
            <ul>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_LANDSAT')">LANDSAT (Global)</span></li>
                <li><span class="link" onclick="ShowHowtoDocu('Docu_MODIS')">MODIS (Global)</span></li>
            </ul>
        </li>
    </ul>
</small></p>
