<div autofocus></div>
<div id="Docu_app_spatial_summary" title="Spatial Summary">
    <p class="error">What is this tool?</p>
    <p>An interactive tool to generate time series of basic statistics <br />
    (max, min, sum, mean) over custom search areas.<br />
    </p>
    <p class="error">What datasets can be used?</p>
    <p>This tool works with historic station data as well as gridded datasets.</p>
    
    <p class="pop_link" onClick="ShowHide('Docu_STATION_NETWORKS')"><u>SEE STATION_NETWORKS</u></p>
    <div id="Docu_STATION_NETWORKS" style="display:none;">{% include 'includes/Docu_STATION_NETWORKS.html'%}    </div>
    <p class="pop_link" onClick="ShowHide('Docu_GRIDS')"><u>SEE GRIDDED DATASETS</u></p>
    <div id="Docu_GRIDS" style="display:none;">{% include 'includes/Docu_all_grids.html'%}</div>
    
    <p><b>Temporal Resolution</b><br />
    Daily<br />
    <b>Observed Quantities </b><br />
    <i class="message">Station/Gridded</i>:<br />
    Precipitation (in/mm)<br />
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br />
    <i class="message">Station only</i>: <br />
    Observation Time Temperature (F/C)<br />
    Snowfall (in/mm), Snow Depth (in/mm)<br />
    <b>Derived Quantities </b><br />
    <i class="message">Station/Gridded</i>:<br />
    Heating/Cooling/Growing Degree Days (F/C)<br />
    Average Temperature (F/C)<br /><br />

    All data sets are made available through the ACIS system.<br />

    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
    <p class="error">What can you do with this tool?</p>
    <p>Generate Time Series, Download Data and Graphs</p>
    <img alt="SpatialSummaryTS" title="SpatialSummaryTS" width="400px"  height="300px" src="/csc/media/img/SpatialSummaryTS.png">
</div>
