<span class="lead" align="center"><small>
<ul style="list-style: none;">
    <li><b>Weather and Climate at a Glance</b>
        <ul><br/>
            <li><a href="{{SCENIC_URL}}monitoring#weather"><b>Weather</b></a></li><br/>
            <li><a href="{{SCENIC_URL}}monitoring#temperatures"><b>Temperatures</b></a></li><br/>
            <li><a href="{{SCENIC_URL}}monitoring#precipitation"><b>Precipitation</b></a></li><br/>
            <li><a href="{{SCENIC_URL}}monitoring#drought"><b>Drought</b></a></li><br/>
            <li><a href="{{SCENIC_URL}}monitoring#water"><b>Water</b></a></li><br/>
            <li><a href="{{SCENIC_URL}}monitoring#snow"><b>Snow</b></a></li><br/>
            <li><a href="{{SCENIC_URL}}monitoring#projections"><b>Projections</b></a></li>
            <!--
            <li>Current Weather Maps</li>
            <li>Climate Anomaly Maps</li>
            <li>Water, Snow and Drought Information</li>
            <li>Outlooks</li>
            -->
        </ul>
    </li><br/>
</ul>
</small></span>
