    <div id="NRCC_INT" align="left">
    <font size="3"><b><a name="NRCC_INT">NRCC Interpolated</a></b><br />
    <b>Source</b>: Northeast  Regional Climate Center (NRCC)<br />
    <b>Domain</b>: Continental US</br>
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1950 - Present<br />
    <b>Spatial Resolution</b>: 5 km<br />
    <b>Climate Elements</b>: Maximum/Minimum Temperature, Precipitation, Degree Days<br />
    <!--<a target="_blank" href="http://www.nrcc.cornell.edu/">NRCC Home Pages</a>-->
    </div>
