<div autofocus></div>
<div title="Spatial Summary">
    <p class="error">What is this tool?</p>
    <p>Interactive tool to generate  time series of basic statistics <br/>
    (max, min, sum, mean) over custom search areas<br/>
    (counties, climate divisions, basins, county warning areas)<br/>
    that lie within a US state
    </p>
    <p class="error">What datasets can be used?</p>
    
    <p>Works with gridded datasets.<br/>

    <p class="pop_link" onClick="ShowPopupDocu('Docu_GRIDS')"><u>SEE GRIDDED DATASETS</u></p>
    <div id="Docu_GRIDS" style="display:none;">{% include 'includes/Docu_historic_grids.html'%}</div>

    <p><b>Temporal Resolution</b><br/>
    Daily<br/>
    <b>Observed Quantities </b><br/>
    Precipitation (in/mm)<br/>
    Maximum Temperature (F/C), Minimum Temperature (F/C)<br/>
    <b>Derived Quantities </b><br/>
    Heating/Cooling/Growing Degree Days (F/C)<br/>
    Average Temperature (F/C)<br/><br/>

    All data sets are made available through the ACIS system.<br/>

    <a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>


    <p class="error">What can you do with this tool?</p>
    <p>Generate monthly data tables</p>
    <img alt="MonthlySumm" title="MonthlySumm" width="400px"  height="300px" src="/csc/media/img/MonthlySpatialSummary.png">
    <p>Download Data, Graphs</p>
</div>
