<p class="error">What is this tool?</p>   
<p>Tool to locate weather stations that record daily climate data across the US. <br />
<p class="error">What type of stations/data can be found?</p>
<p>Stations belonging to several networks can be found.<br />
These stations offer standard climate variables such as<br />
Maximum/Minimum/Average Temperature,<br />Snowfall, Snow Depth and Degree Days.<br />
The number of observed elements and the period<br /> of record vary from station to station.<br />
Temporal resolution is daily.<br />
<b>Networks:</b><br />
<ul>
<li><a class="pop_link" target="_blank" href="http://www.ncdc.noaa.gov/homr/"><font color="#0000FF">WBAN</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.nws.noaa.gov/om/coop/"><font color="#0000FF">COOP</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.ncdc.noaa.gov/oa/climate/ghcn-daily/"><font color="#0000FF">GHCN</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.icao.int/Pages/default.aspx"><font color="#0000FF">ICAO</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.weather.gov/"><font color="#0000FF">NWSLI</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.faa.gov/"><font color="#0000FF">FAA</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.wmo.int/pages/index_en.html"><font color="#0000FF">WMO</font></a></li>
<li><a class="pop_link" target="_blank" href="http://www.cocorahs.org/"><font color="#0000FF">CoCoRaHS</font></a></li>
<li><a class="pop_link" target="_blank" href="http://threadex.rcc-acis.org/"><font color="#0000FF">ThreadEx</font></a></li>
</ul>
All data sets are made available through the ACIS system.<br />
<a class="pop_link" target="_blank" href="http://www.rcc-acis.org/"><font color="#0000FF">ACIS Home Page</font></a></p>
<p class="error">What can you do with this tool?</p>
<p>
Search for stations in a<br />
country warning area, county, drainage basin, state,<br />
climate division or in a custom shape.<br />
Search for stations by availability of climate element(s).<br />
Find stations with data records within a certain time range<br />
Find available data and analysis tools for stations.<br />
</p>
