<p class="lead"><small>
<ul>
    <li><b>Weather and Climate at a Glance</b>
        <ul>
            <li><span class="link" onclick="ShowPopupDocu('Docu_popup_dashboard_weather')">Current Weather Maps</span></li>
            <li><span class="link" onclick="ShowPopupDocu('Docu_popup_dashboard_anomaly')">Climate Anomaly Maps</span></li>
            <li><span class="link" onclick="ShowPopupDocu('Docu_popup_dashboard_snow_water_drought')">Water, Snow and Drought Information</span></li>
            <li><span class="link" onclick="ShowPopupDocu('Docu_popup_dashboard_projections')">Projections</span></li>
        </ul>
    </li>
</ul>
</small></p>
