    <div id="HRM3" align="left">
    <font size="3"><b><a name="HRM3">HRM3 -- Hadley Regional Model</a></b></br >
    <b>Source</b>: Hadley Centre via NARCCAP<br />
    <b>Domain</b>: US<br />
    <b>Temporal Resolution</b>: Daily<br />
    <b>Date Range</b>: 1970 - 2000, 2040 - 2070<br />
    <b>Spatial Resolution</b>: 50km<br />
    <b>Climate Elements</b>: Maximum/Minimum Temperature, Precipitation<br />
    <!--<a target="_blank" href="http://www.metoffice.gov.uk/climate-change/resources/hadley">UK Met Office Hadley Center</a><br />
    <a target="_blank" href="http://www.narccap.ucar.edu/data/model-info.html">NARCCAP Model Information Page</a>-->
    </div>
