<div id="Docu_geo_platform">
    <p class="error"><b>Geoplatform by the federal government</b></p>
    <p>
    <b>Access to  access to trusted geospatial data, services, applications, and infrastructure assets.</b>
    <ul>
    <li>Seamless integration with data.gov</li>
    </ul>
    <b>Capabilities</b><br />
    <ul>
        <li>Over 73,000 datasets for download in different output formats</li>
        <li>Seamless integration with <a target="_blank" href="http://www.data.gov/">Data.gov</a></li>
        <li>Integration with ArcGIS -- GeoPlatform ArcGIS Online (AGOL)</li>
        <li>Host data and applications</li>
    </ul>
</div>
