<p class="lead"><small>
    <ul style="list-style: none;">
        <li><span class="link" onclick="ShowPopupDocu('Docu_LANDSAT')">Landsat Remote Sensing (Global)</span>
            <ul>
                <li>Lansat Top of Atmosphere (TOA)
                    <ul>
                        <li>Landsat TOA 4,5,7,8 merged </li>
                        <li>Landsat TOA 5</li>
                        <li>Landsat TOA 7</li>
                        <li>Landsat TOA 8</li>
                    </ul>
                </li>
                <li>Lansat Surface Reflectance (SR)
                    <ul>
                        <li>Landsat SR 4,5,7,8 merged </li>
                        <li>Landsat SR 5</li>
                        <li>Landsat SR 7</li>
                        <li>Landsat SR 8</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><span class="link" onclick="ShowPopupDocu('Docu_MODIS')">MODIS (Global)</span>
            <ul>
                <li>MODIS Terra</li>
                <li>MODIS Aqua</li>
            </ul>
        </li>
    </ul>
</small></p>
