<b>Variables</b>
<ul>
    <li><b>All of those below </b><br />Temperature, Precipitation, Snow and Degree Day statistics.</li>
    <li><b>Temperature </b><br />Max/Min/mean Temperatures for each month  as well as dates when lowest/highest values occurred.<br />The last for columns list the number of days of exceedance of the most common thresholds: <br />Max Temp &gt;=90F, &lt;=32F, Min Temp &lt;=32F, &lt;=0F</li>
    <li><b>Precip/Snowfall </b><br />Mean, Highs and Lows, Mean Extremes and <br />Number of days exceeding 0.01In, 0.10In, 0.50In, 1.0In.</li>
    <li><b>Temp/Precip/Snow</b><br />Temperature Statistics as above as well as Mean and Highs for Precipitation and Snowfall.</li>
    <li><b>Degree Days </b>
        <ul> 
        <li><b>Heating Degree Days </b>Base Temperatures: 65F, 60F, 57F, 55F, 50F </li>
        <li><b>Cooling Degree Days </b>Base Temperatures: 55F, 57F, 60F, 65F, 70F </li>
        </ul>
    </li>
    <li><b>Growing Degree Days </b>
        <ul>
        <li><b>Growing Degree Days </b>Base Temperatures: 40F, 45F, 50F, 55F, 60F </li>
        <li><b>Corn Degree Days </b>Base Temperatures: 50F </li>
        </ul>
    </li>
</ul>
