        {%if json_dict%}
        <form method="post" action="?json_file={{json_dict.json_file}}" onsubmit="show_loading() & setHiddenFields('tableDataForm', this)">
        {%elif json_file%}
        <form method="post" action="?json_file={{json_file}}" onsubmit="show_loading() & setHiddenFields('tableDataForm', this)">
        {%else%}
        <form method="post" action="" onsubmit="show_loading() & setHiddenFields('tableDataForm', this)">
        {%endif%}
        {% csrf_token %}
        <table id="tableDownload">
        <tr valign="top">
        <td>Data Format: </td>
        <td>
        <select name="data_format" onchange="set_delimiter(this, 'delim');">
        <option value="clm" {{checkbox_vals.data_format_clm_selected}}>Columnar, .txt</option>
        <option value="dlm" {{checkbox_vals.data_format_dlm_selected}}>Delimited, .dat</option>
        <option value="xl" {{checkbox_vals.data_format_xl_selected}}>Excel, .xls</option>
        </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_data_format"></div>
        <script type="text/javascript">                        
            $("#ht_data_format").load("{{HTML_URL}}Docu_help_texts.html #ht_data_format");
        </script>
        </div>
        </td>
        </tr>
        <!--Only show when format is clm or dlm, don't show if xl-->
        <tr valign="top" id="delim" style="display:none;">
        <td>Delimiter:</td>
        <td>
        <select name="delimiter">
        <option value="comma" selected>Comma (,)</option>
        <option value="tab">Tab (    )</option>
        <option value="space">Space ( )</option>
        <option value="colon">Colon (:)</option>
        <option value="pipe">pipe(|)</option>
        </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_delimiter"></div>
        <script type="text/javascript">                        
            $("#ht_delimiter").load("{{HTML_URL}}Docu_help_texts.html #ht_delimiter");
        </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Output file name: </td>
        <td><input type="text" name="output_file_name" value="Output"></td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_output_file_name"></div>
        <script type="text/javascript">                        
            $("#ht_output_file_name").load("{{HTML_URL}}Docu_help_texts.html #ht_output_file_name");
        </script>
        </div>
        </td>
        </tr>
        </table>
        <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
        <input type="submit" value="Download" name="formDownload">
        </form>
