    {%load my_scenic_filters%}
    <td>Element: </td>
    <td>
        <select id="element" name="element">
        {%for el, name in initial.form_options.element%}
            <option value="{{el}}" 
                {%if initial.element == el%}selected{%endif%}
                {%if initial.data_type == "grid" and el|is_in:'obst,snow,snwd,evap,wdmv'%}disabled{%endif%}
            >{{name}}</option> 
        {%endfor%}
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_element"></div>
        <script type="text/javascript">                        
        $("#ht_element").load("{{HTML_URL}}Docu_help_texts.html #ht_element");
        </script>
    </div>
    </td>
