    <td>Element: </td>
    <td>
        <select id="element" name="element">
            <option value="pcpn" {{checkbox_vals.pcpn_selected}}>Daily Precipitation</option>
            <option value="snow" {{checkbox_vals.snow_selected}}>Daily Snowfall</option>
            <option value="snwd" {{checkbox_vals.snwd_selected}}>Daily Snowdepth</option>
            <option value="maxt" {{checkbox_vals.maxt_selected}}>Daily Max Temperature</option>
            <option value="mint" {{checkbox_vals.mint_selected}}>Daily Min Temperature</option>
            <option value="avgt" {{checkbox_vals.avgt_selected}}>Daily Mean Temperature</option>
            <option value="obst" {{checkbox_vals.obst_selected}}>Observation Time Temperature</option>
            <option value="dtr" {{checkbox_vals.dtr_selected}}>Daily Temp Range</option>
            <option value="hdd" {{checkbox_vals.hdd_selected}}>Heating Deg. Days(65F)</option>
            <option value="cdd" {{checkbox_vals.cdd_selected}}>Cooling Deg. Days(65F)</option>
            <option value="gdd" {{checkbox_vals.gdd_selected}}>Growing Deg. Days(50F)</option>
            <option value="evap" {{checkbox_vals.evap_selected}}>Daily Pan Evaporation</option>
            <option value="pet" {{checkbox_vals.pet_selected}}>Potential ET</option>
            </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_element"></div>
        <script type="text/javascript">                        
        $("#ht_element").load("{{HTML_URL}}Docu_help_texts.html #ht_element");
        </script>
    </div>
    </td>
