        {%load my_scenic_filters%} 
        <td id="Elements">Elements:</td>
        <td>
            <select id="elements" name="elements" multiple>
            {%for opt, name in initial.form_options.elements%}
                <option value="{{opt}}"
                    {%if opt|is_in:initial.elements%}selected{%endif%}
                    {%if initial.data_type == "grid" and opt|is_in:'obst,snow,snwd,evap,wdmv,pet'%}disabled{%endif%}
                    {%if initial.app_name != "monthly_summary" and opt|is_in:'pet,dtr'%}disabled{%endif%}
                >{{name}}</option>
            {%endfor%}
            </select>
        </td>
        <td>
            <img class="trigger" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
            <div class="pop-up">
            <div id="ht_elements"></div>
            <script type="text/javascript">                        
            $("#ht_elements").load("{{HTML_URL}}Docu_help_texts.html #ht_elements");
            </script>
            </div>
        </td>
