<div class="form-group">
    <input type="hidden" id="max_date" name="max_date" value="{{initial.max_date}}">
    <label for="end_date">End Date</label>
    <img class="qmark" id="qmark-end_date" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_end_date"></div>
        <script type="text/javascript">                        
            $("#ht_end_date").load("{{HTML_URL}}/Docu_help_texts.html #ht_end_date");
        </script>
    </div>

    <input class="form-control" type="text" id="end_date" name="end_date" 
    value="{{initial.end_date}}" onchange="update_value(this.value);">
</div>
