<div class="form-group">
    <label for="end_window">End</label>
    <img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_end_window"></div>
        <script type="text/javascript">                        
            $("#ht_end_window").load("{{HTML_URL}}/Docu_help_texts.html #ht_end_window");
        </script>
    </div>        
    <input type="text" id="end_window" class="form-control" name="end_window" value="{{initial.end_window}}" onchange="update_value(this.value);">
</div>
