{%load my_scenic_filters%}
        <td id="EndMonthDay">End month/day: </td>
        <td>
            <select id="end_month" name="end_month" class="month"> 
                <option value="1"  {%if initial.end_month == "1"%}selected{%endif%}>January</option>
                <option value="2"  {%if initial.end_month == "2"%}selected{%endif%}>February</option>
                <option value="3"  {%if initial.end_month == "3"%}selected{%endif%}>March</option>
                <option value="4"  {%if initial.end_month == "4"%}selected{%endif%}>April</option>
                <option value="5"  {%if initial.end_month == "5"%}selected{%endif%}>May</option>
                <option value="6"  {%if initial.end_month == "6"%}selected{%endif%}>June</option>
                <option value="7"  {%if initial.end_month == "7"%}selected{%endif%}>July</option>
                <option value="8"  {%if initial.end_month == "8"%}selected{%endif%}>August</option>
                <option value="9"  {%if initial.end_month == "9"%}selected{%endif%}>September</option>
                <option value="10" {%if initial.end_month == "10"%}selected{%endif%}>October</option>
                <option value="11" {%if initial.end_month == "11"%}selected{%endif%}>November</option>
                <option value="12" {%if initial.end_month == "12"%}selected{%endif%}>December</option>
            <select>
            <select id="end_day" name="end_day" class="day">
                {% for i in 1|make_range:28%}
                    <option value="{{i}}" {%if initial.end_day == i|to_string%}selected{%endif%}>{{i}}</option>
                {%endfor%}
                {%if initial.end_month != "2"%}
                <option value="29" {%if initial.end_day == "29"%}selected{%endif%}>29</option>
                {%endif%}
                {%if initial.end_month != "2"%}
                <option value="30" {%if initial.end_day == "30"%}selected{%endif%}>30</option>
                {%endif%}
                {%if initial.end_month|is_in:"1,3,5,7,8,10,12"%}
                <option value="31" {%if initial.end_day == "31"%}selected{%endif%}>31</option>
                {%endif%}
                <!--
                <option value="1" {{checkbox_vals.end_day_1_selected}}>1</option>
                <option value="2" {{checkbox_vals.end_day_2_selected}}>2</option> 
                <option value="3" {{checkbox_vals.end_day_3_selected}}>3</option>
                <option value="4" {{checkbox_vals.end_day_4_selected}}>4</option>
                <option value="5" {{checkbox_vals.end_day_5_selected}}>5</option>
                <option value="6" {{checkbox_vals.end_day_6_selected}}>6</option> 
                <option value="7" {{checkbox_vals.end_day_7_selected}}>7</option>
                <option value="8" {{checkbox_vals.end_day_8_selected}}>8</option>
                <option value="9" {{checkbox_vals.end_day_9_selected}}>9</option>
                <option value="10" {{checkbox_vals.end_day_10_selected}}>10</option> 
                <option value="11" {{checkbox_vals.end_day_11_selected}}>11</option>
                <option value="12" {{checkbox_vals.end_day_12_selected}}>12</option>
                <option value="13" {{checkbox_vals.end_day_13_selected}}>13</option>
                <option value="14" {{checkbox_vals.end_day_14_selected}}>14</option>
                <option value="15" {{checkbox_vals.end_day_15_selected}}>15</option>
                <option value="16" {{checkbox_vals.end_day_16_selected}}>16</option>
                <option value="17" {{checkbox_vals.end_day_17_selected}}>17</option>
                <option value="18" {{checkbox_vals.end_day_18_selected}}>18</option> 
                <option value="19" {{checkbox_vals.end_day_19_selected}}>19</option>
                <option value="20" {{checkbox_vals.end_day_20_selected}}>20</option>
                <option value="21" {{checkbox_vals.end_day_21_selected}}>21</option>
                <option value="22" {{checkbox_vals.end_day_22_selected}}>22</option>
                <option value="23" {{checkbox_vals.end_day_23_selected}}>23</option>
                <option value="24" {{checkbox_vals.end_day_24_selected}}>24</option>
                <option value="25" {{checkbox_vals.end_day_25_selected}}>25</option>
                <option value="26" {{checkbox_vals.end_day_27_selected}}>26</option>
                <option value="27" {{checkbox_vals.end_day_27_selected}}>27</option>
                <option value="28" {{checkbox_vals.end_day_28_selected}}>28</option>
                {%if initital.end_year_is_leap or initial.end_month != "2"%}
                <option value="29" {{checkbox_vals.end_day_29_selected}}>29</option>
                <option value="30" {{checkbox_vals.end_day_30_selected}}>30</option>
                {%endif%}
                {%if initial.end_month != "2" and initial.end_month != "4"  and initial.end_month != "6" and initial.end_month != "9" and initial.end_month != "11"%}
                <option value="31" {{checkbox_vals.end_day_31_selected}}>31</option>
                {%endif%}-->
            <select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_end_month_day"></div>
            <script type="text/javascript">                        
            $("#ht_end_date").load("{{HTML_URL}}/Docu_help_texts.html #ht_end_month_day");
            </script>
        </div>
        </td>
