<hr>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <p>
        SCENIC is powered by <a class="link" target="_blank" href="http://www.rcc-acis.org/index.html">
        <img alt="ACIS" title="ACIS" src="{{MEDIA_URL}}img/ACIS_logo.png"></a><br /><br />
        and <a class="link" target="_blank" href="https://earthengine.google.com/">Google Earth Engine</a><br />
        </p>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        SCENIC is funded by the <a href="http://www.swcsc.arizona.edu/" target="_blank">
        <img alt="Southwest Climate Science Center" title="Southwest Climate Science Center" src="{{MEDIA_URL}}img/SW-CSC_LOGO.png"></a><br />
        Participating Research Institutions<br />
        <a href="http://www.southwestclimatechange.org" target="_blank">
        <img alt="University of Arizona Tucson" title="University of Arizona Tucson" src="{{MEDIA_URL}}img/UA_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://wrcc.dri.edu/" target="_blank">
        <img alt="Western Regional Climate Center" title="Western Regional Climate Center" src="/csc/media/img/WRCC_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://www.environment.ucla.edu/research/southwest-climate-alliance.asp" target="_blank">
        <img alt="University of California Los Angeles" title="University of California Los Angeles" src="/csc/media/img/UCLA_LOGO.png"></a>&nbsp;&nbsp;
        <a href="https://scripps.ucsd.edu/programs/cnap/" target="_blank">
        <img alt="SCRIPPS Institution of Oceanography" title="SCRIPPS Institution of Oceanography" src="/csc/media/img/SCRIPPS_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://revampclimate.colostate.edu/regional-climate-science-centers" target="_blank">
        <img alt="University of Colorado Boulder" title="University of Colorado Boulder" src="/csc/media/img/UCBoulder_LOGO.gif"></a>&nbsp;&nbsp;
        <a href="http://johnmuir.ucdavis.edu/" target="_blank">
        <img alt="University of California Davis" title="University of California Davis" src="/csc/media/img/UCDavis_LOGO.png"></a><br />
    </div>
</div>
<hr>

