<hr>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align:right;">
        <p>SCENIC is power by <a class="link" target="_blank" href="http://www.rcc-acis.org/index.html">
        <img alt="ACIS" title="ACIS" src="{{MEDIA_URL}}img/ACIS_logo.png"></a><br >
        and <a class="link" target="_blank" href="https://earthengine.google.com/">Google Earth Engine</a>
        </p>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        SCENIC is funded by the Southwest Climate Science Center<br />
        <a href="http://www.southwestclimatechange.org" target="_blank">
        <img alt="UA" title="UA" src="{{MEDIA_URL}}img/UA_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://wrcc.dri.edu/" target="_blank">
        <img alt="WRCC" title="WRCC" src="/csc/media/img/WRCC_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://www.environment.ucla.edu/research/southwest-climate-alliance.asp" target="_blank">
        <img alt="UCLA" title="UCLA" src="/csc/media/img/UCLA_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://sio.ucsd.edu/cccc/" target="_blank">
        <img alt="SCRIPPS" title="SCRIPPS" src="/csc/media/img/SCRIPPS_LOGO.png"></a>&nbsp;&nbsp;
        <a href="http://revampclimate.colostate.edu/regional-climate-science-centers" target="_blank">
        <img alt="Boulder" title="Boulder" src="/csc/media/img/UCBoulder_LOGO.gif"></a>&nbsp;&nbsp;
        <a href="http://johnmuir.ucdavis.edu/" target="_blank">
        <img alt="UCD" title="UCD" src="/csc/media/img/UCDavis_LOGO.png"></a>&nbsp;&nbsp;
    </div>
</div>
<hr>

