    <td>
        <select id="frequency_analysis" name="frequency_analysis">
           {%for opt, name in initial.form_options.frequency_analysis%}
            <option value="{{opt}}" 
                {%if initial.frequency_analysis == opt%}selected{%endif%}
            >{{name}}</option>
        {%endfor%} 
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_frequency_analysis"></div>
        <script type="text/javascript">                        
        $("#ht_frequency_analysis").load("{{HTML_URL}}Docu_help_texts.html #ht_frequency_analysis");
        </script>
    </div>
    </td>
