    <td>
        <select id="frequency_analysis" name="frequency_analysis">
        <!--<option value="T" {{checkbox_vals.frequency_analysis_T_selected}}>Yes</option>-->
        <option value="F" {{checkbox_vals.frequency_analysis_F_selected}}>No</option>
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_frequency_analysis"></div>
        <script type="text/javascript">                        
        $("#ht_frequency_analysis").load("{{HTML_URL}}Docu_help_texts.html #ht_frequency_analysis");
        </script>
    </div>
    </td>
