    <td>Summary over months: </td>
    <td>
        <select id="graph_summary" name="graph_summary">
        <option value="max" {{checkbox_vals_graph.graph_summary_max_selected}}>Maximum</option>
        <option value="min" {{checkbox_vals_graph.graph_summary_min_selected}}>Minimum</option>
        <option value="sum" {{checkbox_vals_graph.graph_summary_sum_selected}}>Sum</option>
        <option value="mean" {{checkbox_vals_graph.graph_summary_mean_selected}}>Average</option>
        <option value="individual" {{checkbox_vals_graph.graph_summary_individual_selected}}>Plot months</option>
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_graph_summary"></div>
        <script type="text/javascript">                        
        $("#ht_graph_summary").load("{{HTML_URL}}Docu_help_texts.html #ht_graph_summary");
        </script>
    </div>
    </td>
