    <td>Plot incomplete years? </td>
    <td>
        <select id="graph_plot_incomplete_years" name="graph_plot_incomplete_years">
        <option value="T" {{checkbox_vals_graph.graph_plot_incomplete_years_T_selected}}>Yes</option>
        <option value="F" {{checkbox_vals_graph.graph_plot_incomplete_years_F_selected}}>No</option>
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_plot_incomplete_years"></div>
        <script type="text/javascript">                        
        $("#ht_plot_incomplete_years").load("{{HTML_URL}}Docu_help_texts.html #ht_plot_incomplete_years");
        </script>
    </div>
    </td>
