    <td>End Month: </td>
    <td>
        <select id="graph_end_month" name="graph_end_month">
        <option value="01" {{checkbox_vals_graph.graph_end_month_01_selected}}>January</option>
        <option value="02" {{checkbox_vals_graph.graph_end_month_02_selected}}>February</option>
        <option value="03" {{checkbox_vals_graph.graph_end_month_03_selected}}>March</option>
        <option value="04" {{checkbox_vals_graph.graph_end_month_04_selected}}>April</option>
        <option value="05" {{checkbox_vals_graph.graph_end_month_05_selected}}>May</option>
        <option value="06" {{checkbox_vals_graph.graph_end_month_06_selected}}>June</option>
        <option value="07" {{checkbox_vals_graph.graph_end_month_07_selected}}>July</option>
        <option value="08" {{checkbox_vals_graph.graph_end_month_08_selected}}>August</option>
        <option value="09" {{checkbox_vals_graph.graph_end_month_09_selected}}>September</option>
        <option value="10" {{checkbox_vals_graph.graph_end_month_10_selected}}>October</option>
        <option value="11" {{checkbox_vals_graph.graph_end_month_11_selected}}>November</option>
        <option value="12" {{checkbox_vals_graph.graph_end_month_12_selected}}>December</option>
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_graph_end_month"></div>
        <script type="text/javascript">                        
        $("#ht_graph_end_month").load("{{HTML_URL}}Docu_help_texts.html #ht_graph_end_month");
        </script>
    </div>
    </td>
