    <td id="Graph End Year">End Year: </td>
    <td><input type="text" id="graph_end_year" name="graph_end_year" value="{{initial_graph.graph_end_year}}"></td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_graph_end_year"></div>
        <script type="text/javascript">                        
        $("#ht_graph_end_year").load("{{HTML_URL}}Docu_help_texts.html #ht_graph_end_year");
        </script>
    </div>
    </td>

