        {%load my_scenic_filters%}
        <td>Grid: </td>
        <td>
            <select class="grid" id="grid" name="grid">
            {% for grid_id, name in initial.form_options.grid%}
                {%if grid_id == "1"%}
                    <optgroup label="Gridded datasets interpolated from historic station data">
                {%endif%}
                {%if grid_id == "22"%}
                    <optgroup label="LOCA CMIP5 datasets">
                {%endif%}
                {%if grid_id == "4"%}
                    <optgroup label="NARCAPP datasets">
                {%endif%}

                <option value="{{grid_id}}" {%if initial.grid == grid_id%} selected{%endif%}>{{name}}</option>
            
                {%if grid_id|is_in:'21,41,16'%}
                </optgroup>
                {%endif%}
            {%endfor%}
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_grid"></div>
            <script type="text/javascript">                        
            $("#ht_grid").load("{{HTML_URL}}/Docu_help_texts.html #ht_grid");
            </script>
        </div>
        </td>
