        <td>Grid: </td>
        <td>
            <select class="grid" id="grid" name="grid">
                <option value="1" {%if initial.grid == "1"%}selected{%endif%}>NRCC Interpolated(1950-Present)</option>
                <option value="3" {%if initial.grid == "3"%}selected{%endif%}>NRCC Int. Hi-Res(2007-Present)</option>
                <option value="21"{%if initial.grid == "21"%}selected{%endif%}>PRISM(1981-Present)</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_grid"></div>
            <script type="text/javascript">                        
            $("#ht_grid").load("{{HTML_URL}}/Docu_help_texts.html #ht_grid_historic");
            </script>
        </div>
        </td>
