        <td>Interpolation:</td>
        <td>
            <select id="interpolation" name="interpolation" onchange="update_value(this.value)">
            <option value="cspline" {{checkbox_vals.interpolation_cspline_selected}}>Cspline</option>
            <option value="none" {{checkbox_vals.interpolation_none_selected}}>None</option>
            </select>
        </td>
        <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_interpolation"></div>
            <script type="text/javascript">                        
            $("#ht_interpolation").load("{{HTML_URL}}/Docu_help_texts.html #ht_interpolation");
            </script>
        </div>
        </td>
