{%load my_scenic_filters%}
    <form class="side-form" id="LargeRequestForm" method="post" action="">{% csrf_token %}
    <!--<form class="side-form" id="LargeRequestForm" method="post" action="">-->
    <input type="hidden" name="formLargeRequest" value="True">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width:100%">
        Submit</button>
    </div> 
    <div class="formErrorLargeRequest error" style="display:none;font-size:large;"></div>
    <p class="message bg-info" style="border:1px solid black;padding:5px;">Large requests will be processed offline. <br />
    Please enter your name and email address and click <br />
    "Submit request" to submit your request.
    </p>
    
    <div class="form-group"> 
        {%if initial.app_name == "multi_lister" and initial.data_summary|is_in:'none,windowed_data' %}
        <div class="input-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="out_file" id="out_file" valign="top">{% include 'includes/out_file.html'%}</span>
                <span class="input-group-addon"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span id="out_format" class="out_format">{% include 'includes/output_format.html'%}</span>
            </div>
        </div>
        {%else%}
        <div class="input-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span class="out_file" id="out_file" valign="top">{% include 'includes/out_file.html'%}</span>
                <span class="input-group-addon"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span id="out_format" class="out_format" style="display:none;">{% include 'includes/output_format.html'%}</span>
            </div>            
        </div>
        {%endif%}
        
        <div class="input-group">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                {% include 'includes/data_format_download.html'%}
                <span class="input-group-addon"></span>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            {%if initial.data_format|is_in:'xl,html'%}
                <span valign="top" id="delim" class="delim" style="display:none;">{% include 'includes/delimiter.html'%}</span>
            {%else%}
            <span valign="top"id="delim" class="delim">{% include 'includes/delimiter.html'%}</span>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="un">{% include 'includes/user-name.html'%}</span>
            <span class="input-group-addon"></span>
            <span class="ue">{% include 'includes/user-email.html'%}</span>
        </div>
    </div>
    <div class="formErrorLargeRequest error" style="display:none;font-size:large"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width:100%">
        Submit</button>
    </div> 
</form>
