        
        <td>Lon/Lat: </td>
        <td>
            <input autocomplete="off" type="text" size="20" id="location" name="stations_id" value="{{initial.location}}" list="{{initial.autofill_list}}" onchange="update_value(this.value)">
        </td>
        <td>
            <img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
            <div class="pop-up" id="area-pop-up">
            <div id="ht_station_id"></div>
            <script type="text/javascript">                        
            $("#ht_location").load("{{HTML_URL}}Docu_help_texts.html #ht_location");
            </script>
            </div>
        </td>
