<div id="OverlayMap" {%if not need_overlay_map %} style="display:none;"{%endif%}>
    <div id="formOverlay">
        <form id="overlayForm" class="overlay-form" role="form" action="" method="post" onsubmit="show_loading()">{% csrf_token %}
            <div class="form-input-group form-group">
                <div class="input-group">
                    <div id="zoom-to" {%if not need_overlay_map %} style="display:none;"{%endif%}>
                    {% include 'includes/zoom-to-button.html'%}</div>
                    <span class="input-group-addon"></span>    
                    <select class="overlay_state form-control" name="overlay_state" id="overlay_state" style="max-width:20%;">
                    {%for opt, name in initial.form_options.state%}
                        <option value="{{opt}}" {%if initial.overlay_state == opt%} selected{%endif%}>
                        {{name}}</option>
                    {%endfor%}
                    </select>
                </div>
            </div>
            <input type="hidden" name="formOverlay" value="">
            <input type="hidden" id="host" name="host" value="{{initial.host}}">
            <input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
        </form>
    </div>
    <div id="map-overlay" {%if not need_overlay_map %} style="display:none;"{%endif%}></div>
    <div id="content-window" {%if not need_overlay_map %} style="display:none;"{%endif%}></div>
    {%if need_overlay_map %}
        <script type="text/javascript">initialize_map_overlays()</script>
    {%endif%}
</div>
