{%if need_polygon_map%}
{% include 'includes/zoom-to-button.html'%}
<div id="PolyMap" style="display:block;">
    <div id="map-polygon" style="display:block;"></div>
    {%if initial.shape%}
        <script type="text/javascript">initialize_polygon_map("{{initial.shape}}");</script>
    {%else%}
        <script type="text/javascript">initialize_polygon_map();</script>
    {%endif%}
    {%else%}
        <div style="display:none;">{% include 'includes/zoom-to-button.html'%}</div>
        <div id="PolyMap" style="display:none;">
        <div id="map-polygon" style="display:none;"></div>
{%endif%}
</div><!--end poly map-->
