{%if need_gridpoint_map%}
    <div id="GridpointMap" style="display:block">
        {% include 'includes/zoom-to-button.html'%}
        <div id="map-gridpoint"></div>
    </div>
    {%if initial.location %}
        <script type="text/javascript">initialize_grid_point_map("{{initial.location}}");</script>
    {% else %}
        <script type="text/javascript">initialize_grid_point_map();</script>
    {% endif %}
{%else%}
    <div id="GridpointMap" style="display:none">
        {% include 'includes/zoom-to-button.html'%}
        <div id="map-gridpoint"></div>
    </div>
{%endif%}
