{%if need_gridpoint_map%}
    <div id="GridpointsMap" style="display:block">
        {% include 'includes/zoom-to-button.html'%}
        <div id="map-gridpoints"></div>
    </div>
    {%if initial.locations %}
        <script type="text/javascript">initialize_grid_points_map("{{initial.locations}}");</script>
    {% else %}
        <script type="text/javascript">initialize_grid_points_map();</script>
    {% endif %}
{%else%}
    <div id="GridpointsMap" style="display:none">
        {% include 'includes/zoom-to-button.html'%}
        <div id="map-gridpoints"></div>
    </div>
{%endif%}
