{%if not hide_bbox_map%}
    <div id="BBoxMap" style="display:block;">
        <input style="display:inline;" class="btn btn-info pull-left" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()">
        <input id="address" type="textbox" value="Place/Location">
        <div id="map-bbox"></div>
        {%if initial.bounding_box%}
            <script type="text/javascript">initialize_bbox_map("{{initial.bounding_box}}");</script>
        {%else%}
            <script type="text/javascript">initialize_bbox_map();</script>
        {%endif%}
    </div>
{%else%}
    <div id="BBoxMap" style="display:none;">
        <input style="display:none;" class="btn btn-info pull-left" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()">
        <input style="display:none;" id="address" type="textbox" value="Place/Location">
        <div id="map-bbox"></div>
    </div>
{%endif%}
