<div class="map-options" id="OverlayMap" {%if not need_overlay_map %} style="display:none;"{%endif%}>
    <form id="overlayForm" class="overlay-form" role="form" action="" method="post" onsubmit="show_loading()">{% csrf_token %}
        <div class="form-input-group form-group">
            <div class="input-group" style="vertical-align:middle;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <select class="overlay_state form-control" name="overlay_state" id="overlay_state">
                {%for opt, name in initial.form_options.state%}
                    <option value="{{opt}}" {%if initial.overlay_state == opt%} selected{%endif%}>
                    {{name}}</option>
                {%endfor%}
                </select>
                </div>
            </div>
        </div>
        <input type="hidden" name="formOverlay" value="">
        <input type="hidden" id="host" name="host" value="{{initial.host}}">
        <input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
    </form>
    <div id="map-overlay" {%if not need_overlay_map %} style="display:none;"{%endif%}></div>
    <div id="content-window" {%if not need_overlay_map %} style="display:none;"{%endif%}></div>
    {%if need_overlay_map %}
        <script type="text/javascript">update_overlay_map()</script>
    {%endif%}
</div>
