        <td>Area of interest:</td>
        <td>
            <select id="area_type" name="area_type" onchange="set_area('area',this) & set_map(this) & update_value(this.value);">
            <option value="state" {{checkbox_vals.state_selected}}>State</option>
            <option value="bounding_box" {{checkbox_vals.bounding_box_selected}}>Bounding Box</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_select_area" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_select_area").load("{{HTML_URL}}/Docu_help_texts.html #ht_select_area");
        </script>
        </td>
