<div class="form-group">
    <label for="max_missing_days">Max Miss. Days</label>
    <img class="qmark" id="qmark-max_missing_days" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Maximum number of missing days" class="pop-up">
        <div id="ht_max_missing_days"></div>
        <script type="text/javascript">                        
        $("#ht_max_missing_days").load("{{HTML_URL}}Docu_help_texts.html #ht_max_missing_days");
        </script>
    </div>
    <input class="form-control" type="text" name="max_missing_days" 
        value="{{initial.max_missing_days}}" style="max-width:40%">
</div>
