        {%load my_scenic_filters%}
        <td>Metadata: </td>
        <td>
        <select style="min-width:90%;" id="metadata_keys" name="metadata_keys" onchange="update_value(this.value);" multiple>
        {%for opt, name in initial.form_options.metadata_keys%}
            <option value="{{opt}}" {%if opt|is_in:initial.metadata_keys%}selected{%endif%}
            >{{name}}</option>
        {%endfor%}
        </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_metadata_keys"></div>
        <script type="text/javascript">                        
            $("#ht_metadata_keys").load("{{HTML_URL}}/Docu_help_texts.html #ht_metadata_keys");
        </script>
        </div>
        </td>
