<div class="form-group">
    <label for="statistic">Statistic</label>
    <img class="qmark" id="qmark-statistic" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_sx_statistic"></div>
        <script type="text/javascript">                        
        $("#ht_sx_statistic").load("{{HTML_URL}}Docu_help_texts.html #ht_sx_statistic");
        </script>
    </div>     
    <select class="form-control" id="statistic" name="statistic">
    {% for opt, name in initial.form_options.statistic%}
        <option value="{{opt}}" {%if initial.statistic == opt%} selected{%endif%}>{{name}}</option>
    {%endfor%}
    </select>
</div>
