    <td>Between <br/> And</td>
    <td><input type="text" id="threshold_low_for_between" name="threshold_low_for_between" value={{initial.threshold_low_for_between}}><br />
        <input type="text" id="threshold_high_for_between" name="threshold_high_for_between" value={{initial.threshold_high_for_between}}>
    </td>
    <td><img alt="Click me!" title="Help" src="/csc/media/img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_b"></div>
        <script type="text/javascript">                        
        $("#ht_b").load("{{HTML_URL}}Docu_help_texts.html #ht_b");
        </script>
    </div>
    </td>
