<div class="form-group">
    <span><b>Between</b></span>&nbsp; &nbsp;
    <img class="qmark" id="qmark-threshold_between" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_b"></div>
        <script type="text/javascript">                        
            $("#ht_b").load("{{HTML_URL}}Docu_help_texts.html #ht_b");
        </script>
    </div>
    <div class="input-group">
        <label for="threshold_low_for_between">Lower threshold</label>
        <input class="form-control" type="text" 
            id="threshold_low_for_between" name="threshold_low_for_between" 
            value={{initial.threshold_low_for_between}}>
        <span class="input-group-addon"></span>
        <label for="threshold_high_for_between">Upper threshold</label>
        <input class="form-control" type="text" 
            id="threshold_high_for_between" name="threshold_high_for_between" 
            value={{initial.threshold_high_for_between}}>
    </div>
</div>
