<div class="form-group">
    <label for="level_number">Number of levels</label>
    <img class="qmark" id="qmark-num_levels" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Number of Levels" class="pop-up">
        <div id="ht_level_number"></div>
        <script type="text/javascript">                        
        $("#ht_level_number").load("{{HTML_URL}}/Docu_help_texts.html #ht_level_number");
        </script>
    </div>
    <select class="form-control" id="level_number" name="level_number" onchange="update_value(this.value)">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
</div>
