<div class="form-group">
    <label for="less_greater_or_between">Thresholds</label>
    <img alt="Click me!" title="Help" src="/csc/media/img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_lgb"></div>
        <script type="text/javascript">                        
        $("#ht_lgb").load("{{HTML_URL}}Docu_help_texts.html #ht_lgb");
        </script>
    </div> 
    <select class="form-control" id="less_greater_or_between" name="less_greater_or_between">
    {% for opt, name in initial.form_options.less_greater_or_between%}
        <option value="{{opt}}" 
        {%if initial.less_greater_or_between == opt%} selected{%endif%}
        >{{name}}</option>
    {%endfor%} 
    </select>
</div>
