         <div align="left" id="formOverlay" style="display:inherit;">
            <form method="post"  id="overlayForm" action="" onsubmit="show_loading() & setHiddenFields('tableDataForm', $(this).attr('id'))">{% csrf_token %}
            <table class="form_overlay" style="margin:0px;">
            <td>State: </td>
            <td>
                <select name="overlay_state" id="overlay_state">
                {%for opt, name in initial.form_options.state%}
                    <option value="{{opt}}" {%if initial.overlay_state == opt%} selected{%endif%}>
                    {{name}}</option>
                {%endfor%}
                </select>
            </td>
            <td><input type="submit" value="Update Map" name="formOverlay"/></td>
            </tr>
            </table>
            <input type="hidden" id="host" name="host" value="{{initial.host}}">
            <input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
            </form>
        </div>
