
<!--nav bootstrap-->
<nav class="navbar">
    <div class="container-fluid bg-info">
        <div class="navbar-header">
            <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle Navigation</span> 
            </button>
        </div><!--navbar-header-->

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" tabindex="0" data-toggle="dropdown" data-submenu>ANALYSIS PLOTS (LOCA)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" target="_blank" href="">Annual Averages (LOCA vs. Observed)</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.GFDL-CM3.png.html">GFDL-CM3</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.HadGEM2-CC.png.html">HadGEM2-CC</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.HadGEM2-ES.png.html">HadGEM2-ES</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.CCSM4.png.html">CCSM4</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.CanESM2.png.html">CanESM2</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.CESM1-BGC.png.html">CESM1-BGC</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.CMCC-CMS.png.html">CMCC-CMS</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.CNRM-CM5.png.html">CNRM-CM5</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.MICRO5.png.html">MICRO5</a></li>
                                <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_ann_avg_v3.R.plotsdir/compare_ann_avg_v3.R.plotsdir.ACCESS1-0.png.html">ACCESS1-0</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" target="_blank" href="">Seasonal Averages (LOCA vs. Observed)</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a tabindex="0" target="_blank" href="">Precipitation</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.GFDL-CM3.pr.png.html">GFDL-CM3</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.HadGEM2-CC.pr.png.html">HadGEM2-CC</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.HadGEM2-ES.pr.png.html">HadGEM2-ES</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CCSM4.pr.png.html">CCSM4</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CanESM2.pr.png.html">CanESM2</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CESM1-BGC.pr.png.html">CESM1-BGC</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CMCC-CMS.pr.png.html">CMCC-CMS</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CNRM-CM5.pr.png.html">CNRM-CM5</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.MICRO5.pr.png.html">MICRO5</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.ACCESS1-0.pr.png.html">ACCESS1-0</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a target="_blank" href="">Maximum Temperature</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.GFDL-CM3.tasmax.png.html">GFDL-CM3</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.HadGEM2-CC.tasmax.png.html">HadGEM2-CC</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.HadGEM2-ES.tasmax.png.html">HadGEM2-ES</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CCSM4.tasmax.png.html">CCSM4</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CanESM2.tasmax.png.html">CanESM2</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CESM1-BGC.tasmax.png.html">CESM1-BGC</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CMCC-CMS.tasmax.png.html">CMCC-CMS</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CNRM-CM5.tasmax.png.html">CNRM-CM5</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.MICRO5.tasmax.png.html">MICRO5</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.ACCESS1-0.tasmax.png.html">ACCESS1-0</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a target="_blank" href="">Minimum Temperature</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.GFDL-CM3.tasmin.png.html">GFDL-CM3</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.HadGEM2-CC.tasmin.png.html">HadGEM2-CC</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.HadGEM2-ES.tasmin.png.html">HadGEM2-ES</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CCSM4.tasmin.png.html">CCSM4</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CanESM2.tasmin.png.html">CanESM2</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CESM1-BGC.tasmin.png.html">CESM1-BGC</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CMCC-CMS.tasmin.png.html">CMCC-CMS</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.CNRM-CM5.tasmin.png.html">CNRM-CM5</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.MICRO5.tasmin.png.html">MICRO5</a></li>
                                        <li><a tabindex="0" target="_blank" href="http://loca.ucsd.edu/~pierce/analysis/compare_seas_avg_1-16_v4.R.plotsdir/compare_seas_avg_1-16_v4.R.plotsdir.ACCESS1-0.tasmin.png.html">ACCESS1-0</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul> <!-- .nav .navbar-nav -->
        </div><!-- /.navbar-collapse -->
    </div><!--container-fluid-->
</nav>
