<div class="form-group">
    <label for="projection">Projection</label>
    <img class="qmark" id="qmark-projection" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Projection" class="pop-up">
        <div id="ht_projection"></div>
        <script type="text/javascript">                        
        $("#ht_projection").load("{{HTML_URL}}/Docu_help_texts.html #ht_projection");
        </script>
    </div>
    <select class="form-control" id="projection" name="projection" onchange="update_value(this.value)">
        <option value="lcc" selected>Lambert Conformal Conic</option>
    </select>
</div>
