    <td>Running Mean Years: </td>
    <td><input type="text" id="graph_running_mean_years" name="graph_running_mean_years" value="{{initial_graph.graph_running_mean_years}}"></td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_running_mean_years"></div>
        <script type="text/javascript">                        
        $("#ht_running_mean_years").load("{{HTML_URL}}Docu_help_texts.html #ht_running_mean_years");
        </script>
    </div>
    </td>
