<div class="row">
    <h1 align="center" class="bg-primary"><u>About SCENIC</u></h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="lead">
            SCENIC is a web page under development at the Western Regional Climate Center (WRCC)<br />
            as part of WRCC’s contribution to the Southwest Climate Science Center (SWCSC).

            <br /><br />The purpose of SCENIC is to support the research and decision making efforts of the SW-CSC,
            <br />the Landscape Conservation Cooperatives (LCC), and other stakeholders 
                  concerned with natural resource management. 

            <br /><br />The web pages serve as an access point for climate data and analysis tools 
                  for the Southwest <br />as well as the rest of the contiguous U.S.

        </h4>
    </div>
</div>


