        <td>Area of Interest:</td>
        <td>
            <select class="area_type" id="area_type" name="area_type">
            <option value="station_id" {{checkbox_vals.station_id_selected}}>Individual Station</option>
            <option value="station_ids" {{checkbox_vals.station_ids_selected}}>List of stations</option>
            <option value="county" {{checkbox_vals.county_selected}}>County</option>
            <option value="county_warning_area" {{checkbox_vals.county_warning_area_selected}}>County Warning Area</option>
            <option value="climate_division" {{checkbox_vals.climate_division_selected}}>Climate Division</option>
            <option value="basin" {{checkbox_vals.basin_selected}}>Drainage Basin</option>
            <option value="state" {{checkbox_vals.state_selected}}>State</option>
            <option value="shape" {{checkbox_vals.shape_selected}}>Custom Shape</option>
            <option value="shape_file" {{checkbox_vals.shape_file_selected}}>Uplaod shape file</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_select_area" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_select_area").load("{{HTML_URL}}/Docu_help_texts.html #ht_select_area");
        </script>
        </td>
