        <td>Show Running Mean?</td>
        <td>
            <select id="show_running_mean" name="show_running_mean" onchange="show_div_if_true(this,'rm_days') & update_value(this.value);">
            <option value="T" {{checkbox_vals.show_running_mean_T_selected}}>Yes</option>
            <option value="F" {{checkbox_vals.show_running_mean_F_selected}}>No</option>
            </select>
        </td>
        <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_show_running_mean"></div>
            <script type="text/javascript">                        
            $("#ht_show_running_mean").load("{{HTML_URL}}/Docu_help_texts.html #ht_show_running_mean");
            </script>
        </div>
        </td>
