        <td>Point of interest:</td>
        <td>
            <select class="data_type area_type" id="area_type" name="area_type">
            <option value="location" {{checkbox_vals.location_selected}}>Location (Lon,Lat)</option>
            <option value="station_id" {{checkbox_vals.station_id_selected}}>Station</option>
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_select_point" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_select_point").load("{{HTML_URL}}Docu_help_texts.html #ht_select_point");
        </script>
        </td>
