{%load my_scenic_filters%}
<div class="form-group">
    <input type="hidden" id="min_year" value="{{initial.min_year}}">
    <input type="hidden" id="max_year" value="{{initial.max_year}}">
    <input type="hidden" id="min_year_fut" value="{{initial.min_year_fut}}">
    <input type="hidden" id="max_year_fut" value="{{initial.max_year_fut}}">
    <span><b>Year Range</b></span>&nbsp;&nbsp;
    <img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="Docu_year_range" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_year_range").load("{{HTML_URL}}Docu_help_texts.html #ht_year_range.html");
        </script>
    </div> 
    <div class="input-group">
        <select class="year form-control" id="start_year" name="start_year">
        <!--Future dates for grids-->
        {%if initial.station_id%}
            <option value="POR"{% if initial.start_year == "POR"%}selected{%endif%}>POR</option>
        {%endif%}
        {%for yr in initial.min_year_fut|make_range:initial.max_year_fut%}
            <option value="{{yr}}" 
            {% if initial.location%} 
            {%if initial.grid|is_in:'5,6,8,10,12,13,15,16'%}
            style="display:none;"
            {%endif%}
            {%endif%}
            {% if initial.start_year == yr|to_string %}selected{%endif%}>{{yr}}</option>
        {%endfor%}
        <!--Past dates-->
        {%for yr in initial.min_year|make_range:initial.max_year%}
            <option value="{{yr}}" {% if initial.start_year == yr|to_string %}selected{%endif%}>{{yr}}</option>
        {%endfor%}
        </select>
        
        <span class="input-group-addon" id="addon"></span>
        
        <select class="year form-control" id="end_year" name="end_year">
        <!--Future dates for grids-->
        {%for yr in initial.min_year_fut|make_range_reversed:initial.max_year_fut%}
            <option value="{{yr}}" 
            {% if initial.location%} 
            {%if initial.grid|is_in:'5,6,8,10,12,13,15,16'%}
            style="display:none;"
            {%endif%}
            {%endif%}
            {% if initial.end_year == yr|to_string %}selected{%endif%}>{{yr}}</option>
        {%endfor%}
        <!--Past dates-->
        {%for yr in initial.start_year|make_range_reversed:initial.max_year%}  
            <option value="{{yr}}" {% if initial.end_year == yr|to_string %}selected{%endif%}>{{yr}}</option>
        {%endfor%}
        {%if initial.station_id%}
            <option value="POR"{% if initial.end_year == "POR"%}selected{%endif%}>POR</option>
        {%endif%}
        </select>
    </div><!--input-group-->
</div><!--form-group-->
