{%load my_scenic_filters%}
        <td>Year range:</td>
        <td>
            <select class="year" id="start_year" name="start_year">
                {%for yr in 1850|make_range_reversed:initial.today_year%} 
                    <option value=year {% if initial.start_year == yr|to_string %}selected{%endif%}>{{yr}}</option>
                {%endfor%}
            </select>
            -- 
           <select class="year" id="end_year" name="end_year">
                {%for yr in initial.start_year|make_range_reversed:initial.today_year%}  
                    
                    <option value=year {% if initial.end_year == yr|to_string %}selected{%endif%}>{{yr}}</option>
                {%endfor%}
            </select> 
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div id="Docu_start_end_year" class="pop-up"></div>
        <script type="text/javascript">                        
            $("#Docu_start_end_year").load("{{HTML_URL}}Docu_help_texts.html #ht_start_end_year.html");
        </script>
        </td>
