{%load my_scenic_filters%}
<div class="form-group">
    <span><b>Start Month/Day</b></span>&nbsp;&nbsp;
    <img class="qmark" id="qmark-start_month_day" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_start_month_day"></div>
        <script type="text/javascript">                        
            $("#ht_start_month_day").load("{{HTML_URL}}/Docu_help_texts.html #ht_start_month_day");
        </script>
    </div>   
    <select id="start_month" name="start_month" class="month">
    {% for opt, name in initial.form_options.start_month%}
        <option value="{{opt}}" {%if initial.start_month == opt%} selected{%endif%}>{{name}}</option>
    {%endfor%} 
    <select>            
    <select id="start_day" name="start_day" class="day">
    {% for opt, name in initial.form_options.start_day%}
        <option value="{{opt}}" {%if initial.start_day == opt%} selected{%endif%}
        {%if initial.start_month|is_in:"04,09,11" and opt == "31"%} disabled{%endif%}
        {%if initial.start_month == "02" and opt|is_in:"30,31"%} disabled{%endif%}
        >{{name}}</option>
    {%endfor%}
    <select>
</div>
