<div class="form-group">
    <label for="start_date">Start Date</label>
    <img class="qmark" id="qmark-start_date" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div class="pop-up">
        <div id="ht_start_date"></div>
        <script type="text/javascript">                        
            $("#ht_start_date").load("{{HTML_URL}}/Docu_help_texts.html #ht_start_date");
        </script>
    </div>
        
    <input class="form-control" type="text" id="start_date" name="start_date" 
    value="{{initial.start_date}}" onchange="update_value(this.value);">
</div>
