    <form id="StationFinderDownloadForm" method="post" action="">{% csrf_token %}
    <table class="form" id="tableDownloadForm">
    <tr class="data_sf" id="data_summ" style="display:table-row;">{% include 'includes/data_summary.html'%}</tr>
    {%if initial.data_summary == "temporal_summary"%}
        <tr id="temp_summary" class="data_sf" style="display:table-row">{% include 'includes/temporal_summary.html'%}</tr>
    {%else%}
        <tr id="temp_summary" class="data_sf" style="display:none">{% include 'includes/temporal_summary.html'%}</tr>
    {%endif%}
    {%if initial.data_summary == "spatial_summary"%}
        <tr id="spat_summary" class="data_sf" style="display:table-row">{% include 'includes/spatial_summary.html'%}</tr>
    {%else%}
        <tr id="spat_summary" class="data_sf" style="display:none">{% include 'includes/spatial_summary.html'%}</tr>
    {%endif%}
    {%if initial.data_summary == "windowed_data"%}
        <tr class="data_sf" id="start_wind" style="display:table-row;">{% include 'includes/start_window.html'%}</tr>
        <tr class="data_sf" id="end_wind" style="display:table-row;">{% include 'includes/end_window.html'%}</tr>
    {%else%}
        <tr class="data_sf" id="start_wind" style="display:none;">{% include 'includes/start_window.html'%}</tr>
        <tr class="data_sf" id="end_wind" style="display:none;">{% include 'includes/end_window.html'%}</tr>
    {%endif%}
    <tr class="data_sf" style="display:table-row;">{% include 'includes/units.html'%}</tr>
    <tr class="data_sf" style="display:table-row;">{% include 'includes/data_format.html'%}</tr>
    {%if initial.data_format == "html"%}
        <tr id="out_format" class="out_format" style="display:none;">{% include 'includes/output_format.html'%}</tr>
    {%else%}
        <tr id="out_format" class="out_format" style="display:table-row;">{% include 'includes/output_format.html'%}</tr>
    {%endif%} 
    {%if initial.data_format == "xl" or initial.data_format == "html"%}
        <tr id="delim" class="data_sf delim" style="display:none;">{% include 'includes/delimiter.html'%}</tr>
    {%else%}
        <tr id="delim" class="data_sf delim" style="display:table-row;">{% include 'includes/delimiter.html'%}</tr>
    {%endif%}
    <tr id="out_file" class="data_sf out_file" style="display:table-row;">{% include 'includes/out_file.html'%}</tr>
    <tr id="un" class="data_sf" style="display:table-row;">{% include 'includes/user_name.html'%}</tr>
    <tr id="ue" class="data_sf" style="display:table-row;">{% include 'includes/user_email.html'%}</tr>
    </table>
    <input type="hidden" name="formDownload" value="">
    <input type="hidden" name="station_json" value="{{station_json}}">
    <input type="hidden" id="station_ids_string" name="station_ids_string" value="{{initial.station_ids_string}}">
    <div class="error" id="formErrorDownload" style="display:none;"></div>
    <input style="margin:5px" type="submit" value="Get data"/>
    </form>
