    {%if station_json and not error and not form_error and not need_overlay_map%}
    <input type="hidden" id="station_json" name="variable" value="{{station_json}}">
    <input type="hidden" id="metadata_keys_str" name="metadata_keys_str" value="{{initial.metadata_keys_str}}">
    {%if run_done%}<table width="100%">
    {%else%}<table>
    {%endif%}
    <tr class="sf_map"><td align="center">
        <p><img class="obtain_sf_data" src="{{MEDIA_URL}}img/access_data_button.png"></p>
    </td></tr>
    <tr class="sf_map"><td align="center">
        <table id="map_legend" valign="top"></table>
    </td></tr>
    <tr class="sf_map"><td align="center" >
        <div id="map-station-finder"></div>
    </td></tr>
    </div>
    <tr><td align="center">
        <table cellpadding="20px">
        <td>
           <!--Link to data portal-->
            <p><img class="obtain_sf_data" src="{{MEDIA_URL}}img/access_data_button.png"></p>
        </td>
        </table>
    </td></tr>
    <tr><td align="center"> 
        <!--Station List-->
        {%if run_done%}<div class="station_list" style="width:940px">
        {%else%}<div class="station_list" style="max-width:600px">{%endif%}
        <table id="station_list" border=1>
        <thead>
        <tr>
        {%for meta_name in initial.metadata_names%}
            <th>{{meta_name}}</th>
        {%endfor%}
        </tr>
        </thead>
        <tfoot>
        <tr>
        {%for meta_name in initial.metadata_names%}
            <th>{{meta_name}}</th>
        {%endfor%}
        </tr>
        </tfoot>
        <tbody>
        </tbody></table>
        </div>
    </td></tr>
    </table>
    <!--Execute js script to generate map and station list-->
    <script type="text/javascript">
        initialize_station_finder();
    </script>
    {%endif%}<!--end if  station_json and not error and not form_error and not need_overlay_map-->
