    {%if station_json and not error and not form_error and not need_overlay_map%}
    {%if run_done%}
    <table width="100%">
    {%else%}
    <table>
    {%endif%}
    <tr><td align="center">
        <p><img class="obtain_sf_data" src="{{MEDIA_URL}}img/access_data_button.png"></p>
    </td></tr>
    <tr><td align="center">
        <table id="map_legend" valign="top"></table>
        <input type="hidden" id="station_json" name="variable" value="{{station_json}}">
    </td></tr>
    <tr><td align="center" >
        <div id="map-station-finder"></div>
        <script type="text/javascript">
            initialize_station_finder()
        </script>
    </td></tr>
    <tr><td align="center">
        <!--Link to data portal-->
        <p><img class="obtain_sf_data" src="{{MEDIA_URL}}img/access_data_button.png"></p>
    </td></tr>
    <tr><td align="center">
    
        <!--Station List-->
        <p class="message">Stations found: {{number_of_stations}}</p>
        <div class="station_list">
            <table id="station_list" border=1>
            <thead>
            <tr>
            <th>Name</th>
            <th>ID</th>
            <th>State</th>
            <th>Lat</th>
            <th>Lon</th>
            <th>Elev</th>
            <th>Networks</th>
            </tr>
            </thead>
            </table>
        </div>
    </td></tr>
    </table>
    {%endif%}<!--end if  station_json and not error and not form_error and not need_overlay_map-->
