<div class="form-group">
    <label for="statistic_period">Statistic Period</label>
    <img class="qmark" id="qmark-statistic_period" alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png">
    <div title="Period of Statistic" class="pop-up">
        <div id="ht_statistic_period"></div>
        <script type="text/javascript">                        
            $("#ht_statistic_period").load("{{HTML_URL}}Docu_help_texts.html #ht_statistic_period");
        </script>
    </div>
    <select class="form-control" id="statistic_period" name="statistic_period">
    {% for opt, name in initial.form_options.statistic_period%}
        <option value="{{opt}}" 
        {%if initial.statistic_period == opt%} selected{%endif%}
        >{{name}}</option> 
    {%endfor%}
    </select>
</div>
