    {%if station_json and not error and not form_error and not need_overlay_map%}
    {%if run_done%}
    <table id="map_legend" valign="top" style="width:900px;"></table>
    {%else%}
    <table id="map_legend" valign="top" style="width:625px;"></table>
    {%endif%}
    <input type="hidden" id="station_json" name="variable" value="{{station_json}}">
    {%if run_done%}
    <div id="sf_map" style="width:900px;"></div>
    {%else%}
    <div id="sf_map" style="width:620px;"></div>
    {%endif%}
    <script type="text/javascript">
        initialize_station_finder()
    </script>

    <!--Link to data portal-->
    <p><img class="obtain_sf_data" src="{{MEDIA_URL}}img/access_data_button.png"></p>

    <!--Station List-->
    {%if run_done%}
    <div class="station_list" style="width:900px;">
    {%else%}
    <div class="station_list" style="width:620px;">
    {%endif%}
        <table cellspacing="1" id="station_list" border=1>
        <thead>
        <tr>
        <th>Name</th>
        <th>ID</th>
        <th>State</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Elev</th>
        <th>Networks</th>
        </tr>
        </thead>
        </table>
    </div>
    {%endif%}<!--end if  station_json and not error and not form_error and not need_overlay_map-->
