
        <td></td>
        <td><a target="_blank" href="/csc/scenic/apps/station/station_finder/">Station Finder</td>
        <td>
            <img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
            <div class="pop-up">
            <div id="ht_station_finder"></div>
            <script type="text/javascript">                        
            $("#ht_station_finder").load("/csc/media/html/Docu_help_texts.html #ht_station_finder");
            </script>
            </div>
        </td>
