
    <td>Statistic: </td>
    <td>
        <select id="statistic" name="statistic">
        <option value="mmax" {{checkbox_vals.mmax_selected}}>Maximum</option>
        <option value="mmin" {{checkbox_vals.mmin_selected}}>Minimum</option>
        <option value="mave" {{checkbox_vals.mave_selected}}>Average</option>
        <option value="sd" {{checkbox_vals.sd_selected}}>Standard Deviation</option>
        <option value="ndays" {{checkbox_vals.ndays_selected}}>Number of Days</option>
        <option value="rmon" {{checkbox_vals.rmon_selected}}>Range</option>
        <option value="msum" {{checkbox_vals.msum_selected}}>Sum</option>
        </select>
    </td>
    <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
    <div class="pop-up">
        <div id="ht_sx_statistic"></div>
        <script type="text/javascript">                        
        $("#ht_sx_statistic").load("{{HTML_URL}}Docu_help_texts.html #ht_sx_statistic");
        </script>
    </div>
    </td
