         {%load my_scenic_filters%}
        <td>Temporal summary: </td>
        <td>
            <select id="temporal_summary" name="temporal_summary" onchange="update_value(this.value)">
            {% for opt, name in initial.form_options.temporal_summary%}
                <option value="{{opt}}" 
                {%if initial.temporal_summary == opt%} selected{%endif%}
                {%if opt == "median"%}
                    {%if initial.app_name|is_in:'single_lister,multi_lister,temporal_summary'%} disabled{%endif%}
                {%endif%}
                >{{name}}</option>
            {%endfor%}
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_temporal_summary"></div>
            <script type="text/javascript">                        
            $("#ht_temporal_summary").load("{{HTML_URL}}/Docu_help_texts.html #ht_temporal_summary");
            </script>
        </div>
        </td>

