        <td>Temporal Resolution: </td>
        <td>
            <select id="temporal_resolution" name="temporal_resolution">
            {% for opt, name in initial.form_options.temporal_resolution%}
            <option value="{{opt}}" {%if initial.temporal_resolution == opt%} selected{%endif%}>{{name}}</option>
            {%endfor%}
            </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_temporal_resolution"></div>
        <script type="text/javascript">                        
            $("#ht_temporal_resolution").load("{{HTML_URL}}/Docu_help_texts.html #ht_temporal_resolution");
        </script>
        </div>
        </td>
