        <td>Units: </td>
        <td>
        <select id="units" name="units" onchange="update_value(this.value) & set_degree_days(this.value)">
            <option value="metric" {{checkbox_vals.units_metric_selected}}>Metric</option>
            <option value="english" {{checkbox_vals.units_english_selected}}>English</option>
        </select>
        </td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_units"></div>
        <script type="text/javascript">                        
            $("#ht_units").load("{{HTML_URL}}/Docu_help_texts.html #ht_units_grid");
        </script>    
        </div>
        </td>
