<div id="uploadShapeFile" style="display:none;">
    <p class="message">Only shape files of simple polygons without holes are supported.<br />
    Analysis is performed one polygon at the time.<br />
    Upload all shape files (.shp, .prj, etc.) and choose the polygon ID.<br />
    e.g., if polygon ID = 1, the first polygon in the file will be uploaded.
    </p>
    <form id="formShapeFile" method="post" action="" enctype="multipart/form-data" onsubmit="show_loading() & setHiddenFields('DataForm', $(this).attr('id'));">{% csrf_token %}
    <table class="form" align="left">
      <tr><td>
      <!--Some shapefiles need the shx and mauby some other files to be opened properly-->
      <!--Select shapefiles: <input type="file" id="choose_file" name="file">-->
      Select shapefiles: <input type="file" id="choose_files" name="files" multiple>
      </td></tr>
      <tr><td align="left">
      Select Polygon ID<input type="number" name="feature_id"  value={{initial.feature_id}}>
      </td></tr>
    </table>
    <input type="submit" value="Upload" name="formShapeFile">
    </form>
</div>
