<div id="uploadShapeFile" style="display:none;">
    <p class="bg-info">Only shape files of simple polygons without holes are supported.<br />
        Analysis is performed one polygon at the time.<br />
        Upload all shape files (.shp, .prj, etc.) and choose the polygon ID.<br />
        e.g., if polygon ID = 1, the first polygon in the file will be uploaded.
    </p>
    <form id="formShapeFile" method="post" action="" enctype="multipart/form-data" 
    role="form" class="form-horizontal"
    onsubmit="show_loading() & setHiddenFields('DataForm', $(this).attr('id'));">{% csrf_token %}
    <div class="form-group">
        <label for="files">Select shapefiles</label>
        <input class="form-control" type="file" id="choose_files" name="files" multiple>
    </div>
    <div class="form-group">
        <label for="feature_id">Select Polygon ID</label>
        <input class="form-control" type="number" name="feature_id"  value={{initial.feature_id}}>
    </div>
    <div class="form-group">
        <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formShapeFile">
            Upload
        </button> 
    </div>
    </form>
</div>
