        <td><font color="DarkViolet">Name: </font></td>
        <td><input type="text" class="user_name" name="user_name" value="{{initial.user_name}}" onchange="update_value(this.value);"></td>
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_user_name"></div>
        <script type="text/javascript">                        
            $("#ht_user_name").load("{{HTML_URL}}/Docu_help_texts.html #ht_user_name");
        </script>
        </div>
        </td>
