<div class="input-group">
    <!--Save previous -->
    <div id="valid_daterange" class="error"
    {%if initial.min_date == '9999-99-99' or initial.max_date == '9999-99-99'%}
    style="display:none;"
    {%endif%}>Available: {{initial.min_date}} - {{initial.max_date}}</div>
</div>
<div class="input-group">
    <div id="valid_daterange_fut" class="error"
    {%if initial.min_date_fut == '9999-99-99' or initial.max_date_fut == '9999-99-99'%}
    style="display:none;"
    {%endif%}>And: {{initial.min_date_fut}} - {{initial.max_date_fut}}</div>
</div>
