        <td id="Vertical Axis Maximum">Vertical axis max:</td>
        <td><input type="text" id="vertical_axis_max" name="vertical_axis_max" value="{{initial.vertical_axis_max}}" onchange="update_value(this.value)"></td>
        <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_vertical_axis_max"></div>
            <script type="text/javascript">                        
            $("#ht_vertical_axis_max").load("{{HTML_URL}}/Docu_help_texts.html #ht_vertical_axis_max");
            </script>
        </div>
        </td>
