       <td id="Vertical Axis Minimum">Vertical axis min:</td>
        <td><input type="text" id="vertical_axis_min" name="vertical_axis_min" value="{{initial.vertical_axis_min}}" onchange="update_value(this.value)"></td>
        <td><img alt="Click me!" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_vertical_axis_min"></div>
            <script type="text/javascript">                        
            $("#ht_vertical_axis_min").load("{{HTML_URL}}/Docu_help_texts.html #ht_vertical_axis_min");
            </script>
        </div>
        </td>
