{% extends "csc_base.html" %}

<meta name="keywords" content="climatology, barchart, coop station, station data, historic data,, gridded data,application, product, tool">
<meta name="description" content="SCENIC Climatology">

{%load my_scenic_filters%}

{% block content %}

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_climatology.html'%}
</div>
<div id="how_to" style="display:none;">
        <div id="Docu_point_of_interest">{% include 'includes/Docu_point_of_interest.html'%}</div>
        <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
        <div id="Docu_start_end_year">{% include 'includes/Docu_year_range.html'%}</div>
        <div id="Docu_climatology_smry_type">{% include 'includes/Docu_climatology_smry_type.html'%}</div>
        <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
        <div id="Docu_max_missing_days">{% include 'includes/Docu_max_missing_days.html'%}</div>
        <script type="text/javascript">            
        $("#Docu_plot_opts").load("{{HTML_URL}}/Docu_PLOT_OPTS_SODSUMM.html");
        </script>
        </div>

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="climatology">

<!--Set up autofill-->
{%if initial.autofill_list %}
    <script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
{%endif%}

<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}single/climatology/'">
    {%if results%}
    <input type="submit" value="Change Options" onclick="ShowHideTopOfPage()">
    {%endif%}
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>



<!--Form-->
{% if not results%}
<table id="top_of_page">
{%else%}
<table id="top_of_page" style="display:none">
{%endif%}
<td valign="top" width="40%">
    <div id="formData" class="form" style="border:none;">
    <form method="post" id="tableDataForm" action="" onsubmit="show_loading()">{% csrf_token %}
    <table id="tableData" class="form">
    <tr class="station_grid" style="display:table-row" valign="bottom">{% include 'includes/area_select.html'%}</tr>
    <tr class="station_grid" style="display:table-row" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
    {%if initial.data_type == "grid"%}    
    <tr class="grid" id="grid_type" style="display:table-row">{% include 'includes/grids.html'%}</tr> 
    <tr valign="top" id="stn_finder" style="display:none">{% include 'includes/station_finder.html'%}</tr>
    {% else%}
    <tr class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</tr>
    <tr valign="top" id="stn_finder">{% include 'includes/station_finder.html'%}</tr>
    {%endif%}
    <tr style="display:table-row">{% include 'includes/start_end_year.html'%}</tr>
    <tr valign="top">{% include 'includes/climatology_summary_type.html'%}</tr>
    <tr valign="top">{% include 'includes/units.html'%}</tr>
    <tr valign="top">{% include 'includes/max_missing_days.html'%}</tr>
    </table>
    <input type="hidden" name="app_name" value="climatology">
    <input type="submit" value="Analyze" name="formData"/>
    </form>
    </div><!--End formData-->
</td>
<!--Errors/dowm arrow/maps-->
<td valign="top" width="60%" align="center">
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%} 

    {%if results and not initial.location %}
        {% include 'includes/arrow.html'%}
    {%endif%}

    {%if run_done and not results%}
           {% include 'includes/no_results.html'%}
    {%endif%}
    </div>

    <!--Maps-->
    {%if need_gridpoint_map%}
        <div id="GridpointMap" style="display:block">
        <input type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
        <input id="address" type="textbox" value="Place/Location" style="height:15px;width:150px;">
        <div id="map-gridpoint"></div>
        </div>
        {%if initial.location %}
            <script type="text/javascript">initialize_grid_point_map("{{initial.location}}");</script>
        {% else %}
            <script type="text/javascript">initialize_grid_point_map();</script>
        {% endif %}
    {%else%}
        <div id="GridpointMap" style="display:none">
        <input type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
        <input id="address" type="textbox" value="Place/Location" style="height:15px;width:150px;">
            <div id="map-gridpoint"></div>
        </div>
    {%endif%}

</td><!-- end center-->
</table>

<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <div class="results">

    {%if run_done and not results%}
           {% include 'includes/no_results.html'%}
    {%endif%}
    {%if results%}
        <p>
        For monthly and annual mean, thresholds and sums:</br>
        Months with {{initial.max_missing_days}} or more missing days are not considered.</br>
        </p>
        {% if initial.location%}
        <p class="stronger">Location: {{initial.location}}</br>
        Dataset: {{ grid_name }}<br />
        {%endif%}
        {% if initial.station_id%}
        <p class="stronger">Station: {{station_name}}</br>
        {%endif%}
        From Year {{start_year}} To Year {{end_year}}</br>
        </p></br>
    </div>
    {%endif%}
      
  
    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
    <input type="hidden" id="JSON_DIR" name="JSON_DIR" value="{{JSON_DIR}}">
        
    <!-- TAB results -->
    {%if results%}
    <div class="results">
    <div class="tabs">
    {%for tab in tab_list%}
        <div class="tab">
        {%if forloop.counter0 == 0%}
        <input type="radio" id={{tab}} name="graphs" checked>
        {%else%}
        <input type="radio" id={{tab}} name="graphs">
        {%endif%}
        <label for={{tab}}>{{tab_names|lookup:forloop.counter0}}</label>
        <div class="tab_content" id={{tab}}>
            <div id="container{{forloop.counter0}}"style="height:350px;width:90%;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-sodsumm.js"></script>
            <br />
            <table>
            </td><td>
            <p onClick="printNode('printable_table{{forloop.counter0}}')"><img alt="Print" title="Print" src="{{MEDIA_URL}}img/print_button.png"></p>
            </td><td>
            <p onClick="ShowHide('formDownload{{forloop.counter0}}')"><img alt="Download" title="Download" src="{{MEDIA_URL}}img/download_button.png"></p>
            </td>
            </table><!--End table download/print buttons-->
            
            <!--Download form-->
            <div id="formDownload{{forloop.counter0}}" class="form" style="display:none;">
                {% include 'includes/climatology_download_form.html'%}
            </div>

            
            <div id="printable_table{{forloop.counter0}}">
                <table cellspacing="2">
                {%if tab != 'pcpn'%}
                {%if tab != 'snow'%}
                <p>{{headers|lookup:tab|safe}}&nbsp;&nbsp;</p>
                {%else%}
                <p>{{headers.prsn|safe}}&nbsp;&nbsp;</p>
                {%endif%}<!--end if tab != 'snow'-->
                {%else%}
                {{headers.prsn|safe}}
                {%endif%}<!--end if tab != 'pcpn'-->
                </table>
                </br>

                <table cellspacing="2">
                {%if tab != 'pcpn'%}
                {%if tab != 'snow'%}
                {%for row in results|lookup:tab%}
                {%if row.0 == "An"%}
                <tr><td></td></tr>
                {%endif%}<!--end if row.0 == "An"-->
                <tr>{%for val in row%}
                {%if forloop.counter0 == 0%}
                <td align="left">{{val}}</td>
                {%else%}
                <td align="right">{{val}}</td>
                {%endif%}
                {%endfor%}</tr>
                {%endfor%} <!--end for row in results|lookup:tab-->
                {%else%}
                {%for row in results.prsn%}
                {%if row.0 == "An"%}
                <tr><td></td></tr>
                {%endif%}<!--end if row.0 == "An"-->
                <tr>{%for val in row%}
                {%if forloop.counter0 == 0%}
                <td align="left">{{val}}</td>
                {%else%}
                <td align="right">{{val}}</td>
                {%endif%}
                {%endfor%}</tr>
                {%endfor%}<!--end for row in results.prsn-->
                {%endif%}<!--end if tab != 'snow'-->
                {%else%}
                {%for row in results.prsn%}
                {%if row.0 == "An"%}
                <tr><td></td></tr>
                {%endif%}
                <tr>{%for val in row%}
                {%if forloop.counter0 == 0%}
                <td align="left">{{val}}</td>
                {%else%}
                <td align="right">{{val}}</td>
                {%endif%}
                {%endfor%}</tr>
                {%endfor%}
                {%endif%} <!--end if tab != 'pcpn'-->
                </table>
            </div><!--printable table -->
        </div><!--End Tab content-->
    </div><!--End Tab-->
    {%endfor%} <!--end for tab in tab_list-->
    </div><!--end tabs -->
    </div><!--end div results-->
{%endif%}<!--if results or graphics-->
</td></table>
{%endblock%}
