{% extends "csc_base.html" %}

<meta name="keywords" content="Data, Gridded, Station, Historic, Comparison">
<meta name="description" content="SCENIC data comparison">

{%load my_scenic_filters%}

{% block content %}


<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_location">{% include 'includes/Docu_location.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_element.html'%}</div>
    <!--<div id="Docu_units">{% include 'includes/Docu_units.html'%}</div> 
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>-->
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
</div>

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="data_comparison">

<p align="center" class="error"><b>*(BETA) THIS PAGE IS UNDER DEVELOPMENT!</b></p>
<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}single/data_comparison/'"/>
    {%if results.graph_data%}
        <input type="submit" value="Change Options" onclick="ShowHideTopOfPage()">
    {%endif%} 
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>



<!--Form-->
{% if not results.graph_data%}
<table id="top_of_page">
{%else%}
<table id="top_of_page" style="display:none">
{%endif%}

<td valign="top" width="40%">
    <div id='formData'>
    <form method="post" id="DataForm" action="" onsubmit="show_loading();">{% csrf_token %}
    <table class="form" id="tableData" >  
    <tr style="display:table-row">{% include 'includes/location.html'%}</tr>  
    <tr class="grid" id="grid_type" style="display:table-row">{% include 'includes/grids.html'%}</tr>
    <tr style="display:table-row">{% include 'includes/element.html'%}</tr>
    <tr id="add" valign="top" style="display:none">{% include 'includes/add_degree_days.html'%}</tr>
    {%if initial.add_degree_days == "T"%}
    <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
    {%else%}
    <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
    {%endif%}

    <tr style="display:none;">{% include 'includes/units.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/end_date.html'%}</tr>
    </table>    
    <input type="hidden" name="app_name" value="data_comparison">
    <!--Hidden chart vars-->
    <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
    <input type="hidden" value="{{initial.show_running_mean}}" name="show_running_mean" class="show_running_mean">
    <input type="hidden" value="{{initial.running_mean_days}}" name="running_mean_days" class="running_mean_days">
    <input type="hidden" value="{{initial.show_average}}" name="show_average" class="show_average">
    <input class="mainFormSubmit" type="submit" value="Generate time series" name="formData"/>
    </form>
    </div>
</td>
<!--Errors/maps-->
<td valign="top" width="60%" align="center">
    <!--Form errors and search parameter section-->
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%}

    {%if run_done and not results.graph_data%}
           {% include 'includes/no_results.html'%}
    {%endif%}
    </div>
    <!--Maps-->
    <!--Gridpoint map-->
    {% include 'includes/map-gridpoint.html'%}
</td></table>


<!--results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <div class="results">
    {% if results.graph_data %}
    <!--Stats table-->
    <table align="center">
    <td>
        <img src="{{MEDIA_URL}}img/show_summ_table_button.png" alt="Show Summary Table" onclick="ShowHide('data_summary')">

        <table id="data_summary" style="display:none;" align="center" border=1 class="results">
            <th>Statistic</th><th>Station</th><th>Grid</th>
            <tr>
            <td></td><td><b>{{results.graph_data.0.seriesName}}</b></td><td><b>{{results.graph_data.1.seriesName}}</b></td>
            </tr>
            <tr>
                <td>Max</td><td>{{results.stats.max.0}}</td><td>{{results.stats.max.1}}</td>
            </tr>
            <tr>
                <td>Min</td><td>{{results.stats.min.0}}</td><td>{{results.stats.min.1}}</td>
            </tr>
            <tr>
                <td>Mean</td><td>{{results.stats.mean.0}}</td><td>{{results.stats.mean.1}}</td>
            </tr>
            <tr>
                <td>Median</td><td>{{results.stats.median.0}}</td><td>{{results.stats.median.1}}</td>
            </tr>
            <tr>
                <td>SD</td><td>{{results.stats.std.0}}</td><td>{{results.stats.std.1}}</td>
            </tr>
            <tr>
                <td>Skew</td><td>{{results.stats.skew.0}}</td><td>{{results.stats.skew.1}}</td>
            </tr>
            <tr>
                <td>Pearson correlation coeff</td><td colspan="2">{{results.stats.pearsonc}}</td>
            </tr>
            <tr>
                <td>Pearson 2-tailed p-value</td><td colspan="2">{{results.stats.pearsonp}}</td>
            </tr>
            <tr>
                <td>Kolmogorov-Smirnov</td><td colspan="2">{{results.stats.ksc}}</td>
            </tr>
            <tr>
                <td>Kolmogorov-Smirnov p-value</td><td colspan="2">{{results.stats.ksp}}</td>
            </tr>
        </table>
    </td>
    </table>
    <p class="message results"><b>CLICK AND DRAG TO ZOOM IN!</b></p>
            <p>Distance between {{results.graph_data.1.seriesName}} and {{results.graph_data.0.seriesName}} is {{results.distance}} km.</p>
            <table align="left" class='chart' border="1" width="800px">
            <tr>
            <td align="left" valign="top">
                {% include 'includes/chart-type.html'%} &nbsp;&nbsp; {% include 'includes/show-hide-legend.html'%}
            </td>
            </tr>
            <tr>
            <td align="left" valign="top">
                {% include 'includes/chart-layers-daily.html'%}
            </td>
            </tr>
            <tr>
            <td>
                <div align="center" id="hc-container" class="results" style="height:600px;width:800px;"></div>
                <!--Declare global variable-->
                <script type="text/javascript">
                    var graph_data = {{results.graph_data | safe_json}}
                    generateTS_individual([0,1]);
                </script>
            </td>
            </tr>
            </table>
    
    {% endif %}
    </div><!--end results-->
</td>
</table>

{%endblock%}
