{% extends "csc_base.html" %}

<meta name="keywords" content="Data, Gridded, Station, Historic, Comparison">
<meta name="description" content="SCENIC data comparison">

{%load my_scenic_filters%}

{% block content %}


<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_location">{% include 'includes/Docu_location.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_elements.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>    
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
</div>


<p align="center" class="error"><b>*(BETA) THIS PAGE IS UNDER DEVLOPMENT!</b></p>

<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}single/data_comparison/'"/>
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>


<table>
<!--Form-->
<td valign="top" width="40%">
    <div id='formData'>
    <form method="post" id="tableDataForm" action="" onsubmit="show_loading();">{% csrf_token %}
    <table class="form" id="tableData" >  
    <tr style="display:table-row">{% include 'includes/location.html'%}</tr>  
    <tr class="grid" id="grid_type" style="display:table-row">{% include 'includes/grids.html'%}</tr>
    <tr style="display:table-row">{% include 'includes/elements.html'%}</tr>
    <tr id="add" valign="top" style="display:table-row">{% include 'includes/add_special_degree_days.html'%}</tr>
    {%if initial.add_degree_days == "T"%}
    <tr id="dd" valign="top" style="display:table-row">{% include 'includes/degree_days.html'%}</tr>
    {%else%}
    <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
    {%endif%}
    <tr style="display:table-row;">{% include 'includes/units.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/end_date.html'%}</tr>
    </table>    
    <input type="submit" value="Generate time series" name="formData"/>
    </form>
    </div>
</td>
<!--Errors/dowm arrow/maps-->
<td valign="top" width="60%" align="center">
   <!--Form errors and search parameter section-->
    {%if form_error%}
    <div id="form_error" class="results" align="center">
        <p class="error">ERROR: Please correct the form error(s) highlighted in red!</p>
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    </div>
    {%endif%}
    {%if results.errors%}
        <p class="error">ERROR: {{results.errors}}</p>
    {%endif%}
    <!--Request errors or results arrow-->
    <div class="results">
    {%if results.graph_data%}
        {%if results.errors%}
            <p class="error">{{results.errors}}</p>
        {%else%}
            <div id="Arrow" class="results">
            <p class="message"><b>RESULTS:</b></p>
            <img alt="DownArrow" src="{{MEDIA_URL}}img/DownArrow.png" height="200px">
            </div>
        {%endif%}
    {%endif%}
    </div>
    <!--Maps-->
    {%if not results%}
    <div id="GridpointMap" style="display:block">
    <div id="map-gridpoint"></div>
    </div>
    <script type="text/javascript">initialize_grid_point_map();</script> 
    {%else%}
    <div id="GridpointMap" style="display:none"></div>
    {%endif%}
</td></table>


<!--results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    {% if results.graph_data %}
    <p class="message"><b>CLICK AND DRAG TO ZOOM IN!</b></p>
    <!--Declare global variable-->
     <script type="text/javascript">
        var gdata = {{results.graph_data | safe_json}}
    </script>
    {%for el in results.element_list%}
    <div align="center" id="container_{{forloop.counter0}}" style="height:500px;width:700px;"></div>
    <br />
     <script type="text/javascript">generate_dailyTS("{{forloop.counter0}}");</script>
    {% endfor %}
    {% endif %}
</td>
</table>

{%endblock%}
