{% extends "csc_base.html" %}

<meta name="keywords" content="Data, Gridded, Station, Historic, Comparison">
<meta name="description" content="SCENIC data comparison">

{%load my_scenic_filters%}

{% block content %}


<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_location">{% include 'includes/Docu_location.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_element.html'%}</div>
    <!--<div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>--> 
    <div id="Docu_add_degree_days">{% include 'includes/Docu_add_degree_days.html'%}</div>
    <div id="Docu_degree_days">{% include 'includes/Docu_degree_days.html'%}</div>
    <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
</div>

<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="data_comparison">

<p align="center" class="error"><b>*(BETA) THIS PAGE IS UNDER DEVLOPMENT!</b></p>

<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}single/data_comparison/'"/>
    {%if results.graph_data%}
        <input type="submit" value="Show/Hide Form" onclick="ShowHideTopOfPage()">
    {%endif%} 
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>



<!--Form-->
{% if not results.graph_data%}
<table id="top_of_page">
{%else%}
<table id="top_of_page" style="display:none">
{%endif%}

<td valign="top" width="40%">
    <div id='formData'>
    <form method="post" id="tableDataForm" action="" onsubmit="show_loading();">{% csrf_token %}
    <table class="form" id="tableData" >  
    <tr style="display:table-row">{% include 'includes/location.html'%}</tr>  
    <tr class="grid" id="grid_type" style="display:table-row">{% include 'includes/grids.html'%}</tr>
    <tr style="display:table-row">{% include 'includes/element_data_comparison.html'%}</tr>
    <tr id="add" valign="top" style="display:none">{% include 'includes/add_special_degree_days.html'%}</tr>
    {%if initial.add_degree_days == "T"%}
    <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
    {%else%}
    <tr id="dd" valign="top" style="display:none">{% include 'includes/degree_days.html'%}</tr>
    {%endif%}

    <tr style="display:none;">{% include 'includes/units.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/end_date.html'%}</tr>
    </table>    
    <input type="submit" value="Generate time series" name="formData"/>
    </form>
    </div>
</td>
<!--Errors/down arrow/maps-->
<td valign="top" width="60%" align="center">
    <!--Form errors and search parameter section-->
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%}

    {%if results.graph_data and not initial.location%}
        {% include 'includes/arrow.html'%}
    {%endif%}

    {%if run_done and not results.graph_data%}
           {% include 'includes/no_results.html'%}
    {%endif%}
    </div>
    <!--Maps-->
    {%if not results.graph_data%}
        <div id="GridpointMap" style="display:block">
            <div id="map-gridpoint"></div>
        </div>
        {%if initial.location %}
            <script type="text/javascript">initialize_grid_point_map("{{initial.location}}");</script>
        {% else %}
            <script type="text/javascript">initialize_grid_point_map();</script>
        {% endif %}
    {%else%}
        <div id="GridpointMap" style="display:none">
            <div id="map-gridpoint"></div>
        </div>
    {%endif%}
</td></table>


<!--results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <div class="results">

    {%if run_done and not results.graph_data%}
           {% include 'includes/no_results.html'%}
    {%endif%}
    
    {% if results.graph_data %}
    <p class="message"><b>CLICK AND DRAG TO ZOOM IN!</b></p>
    <div align="center" id="container" style="height:500px;width:700px;"></div>
    <!--Declare global variable-->
     <script type="text/javascript">
        var graph_data = {{results.graph_data | safe_json}}
        generateTS_individual([0,1]);
    </script>
    
    {% endif %}
    </div>
</td>
</table>

{%endblock%}
