{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Station Data Applications">

{% block content %}
<!--Documentation -->
<div class="docu" id="Docu_app_single_lister" style="display:none;">
    {% include 'includes/Docu_app_single_lister.html'%}
</div>
<div class="docu" id="Docu_app_monthly_summary" style="display:none;">
    {% include 'includes/Docu_app_monthly_summary.html'%}
</div>
<div class="docu" id="Docu_app_yearly_summary" style="display:none;">
    {% include 'includes/Docu_none.html'%}
</div>
<div class="docu" id="Docu_app_intraannual" style="display:none;">
    {% include 'includes/Docu_app_intraannual.html'%}
</div>
<div class="docu" id="Docu_app_climatology" style="display:none;">
    {% include 'includes/Docu_app_climatology.html'%}
</div>
<div class="docu" id="Docu_app_data_comparison" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>

<div class="docu" id="Docu_none" style="display:none;">
    {% include 'includes/Docu_none.html'%}
</div>



{%if user_params %}
<p class="message" align="center"><b>Your parameters</b>:<br />
{%for key_val in user_params %}
    <b>{{key_val.0}}</b>: {{key_val.1}}<br />
{%endfor%}
</p>
{%endif%}

<div class="scenic-container" style="padding:10px;">
    <div class="row" id="row1">
        <div class="col-sm-3" id="column1">
            <a class="trigger_hover" href="{{DATA_URL}}single/lister/{{url_params_single_lister}}"><b>Data Lister</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_single_lister.html'%}</div>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_single_lister')">
            <br />
            <a  href="{{DATA_URL}}single/lister/{{url_params_single_lister}}">
            <img class="app_img" alt="DataLister" title="DataLister" src="{{MEDIA_URL}}img/Stn.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_single_lister.html'%}</div>
        </div><!--END column1-->
        <div class="col-sm-3" id="column2">
            <a class="trigger_hover" href="{{DATA_URL}}single/monthly_summary/{{url_params_monthly_summary}}"><b>Monthly Summary</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_sodxtrmts.html'%}</div>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_monthly_summary')">
            <br />
            <a  href="{{DATA_URL}}single/monthly_summary/{{url_params_monthly_summary}}">
            <img class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/Sodxtrmts.png"></a> 
            <div class="pop-up">{% include 'includes/Docu_popup_sodxtrmts.html'%}</div>
        </div><!--END column2-->
        <div class="col-sm-3" id="column3">
            <a class="trigger_hover" href="{{DATA_URL}}single/yearly_summary/{{url_params_yearly_summary}}"><b>Yearly Summary</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_yearly_summary.html'%}</div>        
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_yearly_summary')">
            <br />
            <a  href="{{DATA_URL}}single/yearly_summary/{{url_params_yearly_summary}}">
            <img class="app_img" alt="yearly_summary" title="yearly_summary" src="{{MEDIA_URL}}img/yearly_summary.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_yearly_summary.html'%}</div>
        </div><!--END column3-->
        <div class="col-sm-3" id="column">
        <a class="trigger_hover" href="{{DATA_URL}}single/intraannual/{{url_params_intraannual}}"><b>Intra-Year</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_intraannual.html'%}</div>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_intraannual')">
            <br />
            <a  href="{{DATA_URL}}single/intraannual/{{url_params_intraannual}}">
            <img class="app_img" alt="Compare" title="Compare" src="{{MEDIA_URL}}img/Intraannual.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_intraannual.html'%}</div>
        </div><!--END column4-->
    </div><!--END row1--><br />
    <div class="row" id="row2">
        <div class="col-sm-3" id="column1">
            <a class="trigger_hover" href="{{DATA_URL}}single/climatology/{{url_params_climatology}}"><b>Climatology</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_sodsumm.html'%}</div>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_climatology')">
            <br />
            <a  href="{{DATA_URL}}single/climatology/{{url_params_climatology}}">
            <img class="app_img" alt="Sodsumm" title="Sodsumm" src="{{MEDIA_URL}}img/SodsummGraph.png"></a>
        </div><!--END column1-->
        <div class="col-sm-3" id="column2">
            <a class="trigger_hover" href="{{DATA_URL}}single/data_comparison/{{url_params_data_comparison}}"><b>Data comparison</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_data_comparison.html'%}</div>        
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_data_comparison')">
            <br />
            <a  href="{{DATA_URL}}single/data_comparison/{{url_params_data_comparison}}">
            <img class="app_img" alt="Compare" title="Compare" src="{{MEDIA_URL}}img/DataComparison.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_data_comparison.html'%}</div>
        </div><!--END column2-->
    </div><!--END row2-->
</div><!--END senic-container-->
{%endblock%}
