{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Station Data Applications">

{% block content %}
<!--Documentation -->
<div class="docu" id="Docu_app_single_lister" style="display:none;">
    {% include 'includes/Docu_app_single_lister.html'%}
</div>
<div class="docu" id="Docu_app_monthly_summary" style="display:none;">
    {% include 'includes/Docu_app_monthly_summary.html'%}
</div>
<div class="docu" id="Docu_app_seasonal_summary" style="display:none;">
    {% include 'includes/Docu_none.html'%}
</div>
<div class="docu" id="Docu_app_intraannual" style="display:none;">
    {% include 'includes/Docu_app_intraannual.html'%}
</div>
<div class="docu" id="Docu_app_climatology" style="display:none;">
    {% include 'includes/Docu_app_climatology.html'%}
</div>
<div class="docu" id="Docu_app_data_comparison" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>

<div class="docu" id="Docu_none" style="display:none;">
    {% include 'includes/Docu_none.html'%}
</div>



{%if user_params %}
<p class="message" align="center"><b>Your parameters</b>:<br />
{%for key_val in user_params %}
    <b>{{key_val.0}}</b>: {{key_val.1}}<br />
{%endfor%}
</p>
{%endif%}

<div class="row" id="row1" >
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="bg-info main-col">
        <h3>
            <a href="{{DATA_URL}}single/lister/{{url_params_single_lister}}"><b>Data Lister</b></a>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_single_lister')"><br />
            <small>{% include 'includes/Docu_popup_single_lister.html'%}</small>
        </h3>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="bg-info main-col">
        <h3>
            <a href="{{DATA_URL}}single/monthly_summary/{{url_params_monthly_summary}}"><b>Monthly Summary</b></a>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_monthly_summary')">
            <br />
            <small>{% include 'includes/Docu_popup_monthly_summary.html'%}</small>
        </h3>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="bg-info main-col">
        <h3>
            <a class="trigger_hover" href="{{DATA_URL}}single/seasonal_summary/{{url_params_seasonal_summary}}"><b>Seasonal Summary</b></a>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_seasonal_summary')">
            <br />
            <small>{% include 'includes/Docu_popup_seasonal_summary.html'%}</small>
        </h3>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="bg-info main-col">
        <h3>
            <a href="{{DATA_URL}}single/intraannual/{{url_params_intraannual}}"><b>Intra-Year</b></a>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_intraannual')">
            <br />
            <small>{% include 'includes/Docu_popup_intraannual.html'%}</small>
        </h3>
        </div>
    </div>
</div><!--End row 1-->
<br />
<div class="row" id="row2" >
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="bg-info main-col">
        <h3>
            <a href="{{DATA_URL}}single/climatology/{{url_params_climatology}}"><b>Climatology</b></a>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_climatology')">
            <br />
            <small>{% include 'includes/Docu_popup_climatology.html'%}</small>
        </h3>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="bg-info main-col">
        <h3>
            <a href="{{DATA_URL}}single/data_comparison/{{url_params_data_comparison}}"><b>Data comparison</b></a>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_data_comparison')">
            <br />
            <small>{% include 'includes/Docu_popup_data_comparison.html'%}</small>
        </h3>        </div>
    </div>
</div><!--End row 2-->
{%endblock%}
