{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Station Data Applications">

{% block content %}
<!--Documentation -->
<div class="docu" id="Docu_app_single_lister" style="display:none;">
    {% include 'includes/Docu_app_single_lister.html'%}
</div>
<div class="docu" id="Docu_app_monann" style="display:none;">
    {% include 'includes/Docu_app_monann.html'%}
</div>
<div class="docu" id="Docu_app_interannual" style="display:none;">
    {% include 'includes/Docu_none.html'%}
</div>
<div class="docu" id="Docu_app_intraannual" style="display:none;">
    {% include 'includes/Docu_app_intraannual.html'%}
</div>
<div class="docu" id="Docu_app_climatology" style="display:none;">
    {% include 'includes/Docu_app_climatology.html'%}
</div>
<div class="docu" id="Docu_app_data_comparison" style="display:none;">
    {% include 'includes/Docu_app_data_comparison.html'%}
</div>

<div class="docu" id="Docu_none" style="display:none;">
    {% include 'includes/Docu_none.html'%}
</div>



{%if user_params %}
<p class="message" align="center"><b>Your parameters</b>:<br />
{%for key_val in user_params %}
    <b>{{key_val.0}}</b>: {{key_val.1}}<br />
{%endfor%}
</p>
{%endif%}

<table cellpadding="40" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
        <td valign="top"><a class="trigger_hover" 
        href="{{DATA_URL}}single/lister/{{url_params_single_lister}}">
        <b>Data Lister</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_single_lister.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_single_lister')">
        </td>
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/monann/{{url_params_monann}}"><b>Monthly Summaries</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_sodxtrmts.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_monann')">
        </td>
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/interannual/{{url_params_interannual}}"><b>Yearly Summaries</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_interannual.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_interannual')">
        </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/intraannual/{{url_params_intraannual}}"><b>Intra-Year Comparison</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_intraannual.html'%}</div>
       </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_intraannual')">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a  href="{{DATA_URL}}single/lister/{{url_params_single_lister}}">
            <img class="app_img" alt="DataLister" title="DataLister" src="{{MEDIA_URL}}img/Stn.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_single_lister.html'%}</div>
        </td>
        <td colspan="2">
            <a  href="{{DATA_URL}}single/monann/{{url_params_monann}}">
            <img class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/Sodxtrmts.png"></a> 
            <div class="pop-up">{% include 'includes/Docu_popup_sodxtrmts.html'%}</div>
        </td>
        <td colspan="2">
            <a  href="{{DATA_URL}}single/interannual/{{url_params_interannual}}">
            <img class="app_img" alt="Interannual" title="Interannual" src="{{MEDIA_URL}}img/Interannual.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_interannual.html'%}</div>
        </td>
        <td colspan="2">
            <a  href="{{DATA_URL}}single/data_intraannual/{{url_params_intraannual}}">
            <img class="app_img" alt="Compare" title="Compare" src="{{MEDIA_URL}}img/Intraannual.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_intraannual.html'%}</div>
        </td>
   </tr>
   <!--Second row-->
   <tr>
        <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/climatology/{{url_params_climatology}}"><b>Climatology</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_sodsumm.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_climatology')">
        </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/data_comparison/{{url_params_data_comparison}}"><b>Data comparison</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_data_comparison.html'%}</div>
       </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_data_comparison')">
        </td>
   </tr>
   <tr>
        <td colspan="2">
            <a  href="{{DATA_URL}}single/climatology/{{url_params_climatology}}">
            <img class="app_img" alt="Sodsumm" title="Sodsumm" src="{{MEDIA_URL}}img/SodsummGraph.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_sodsumm.html'%}</div>
        </td>
        <td colspan="2">
            <a  href="{{DATA_URL}}single/data_comparison/{{url_params_data_comparison}}">
            <img class="app_img" alt="Compare" title="Compare" src="{{MEDIA_URL}}img/DataComparison.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_data_comparison.html'%}</div>
        </td>
    </tr>
   </table>
</td>
</table>

{%endblock%}
