{% extends "csc_base.html" %}
<META name="keywords" content="interanual, time series">
<meta name="description" content="SCENIC Single point interannual time series">

{%load my_scenic_filters%}
{% block content %} 

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_interannual.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_point_of_interest">{% include 'includes/Docu_point_of_interest.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids_historic.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_element.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_start_month_day">{% include 'includes/Docu_start_month_day.html'%}</div>
    <div id="Docu_end_month_day">{% include 'includes/Docu_end_month_day.html'%}</div>
    <div id="Docu_temporal_summary">{% include 'includes/Docu_temporal_summary.html'%}</div>
    <div id="Docu_start_end_year">{% include 'includes/Docu_start_end_year.html'%}</div>
</div><!--End how_to-->

<!---Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="interannual">

<p align="center" class="error">
    <b>*(BETA) THIS PAGE IS UNDER DEVELOPMENT!</b><br /><br />
</p>

<!--Set up autofill-->
{%if initial.autofill_list %}
    <script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
{%endif%}

<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}single/interannual/'">
    {%if results.data %}
    <input type="submit" value="Change Options" onclick="ShowHideTopOfPage()">
    {%endif%}
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>

<!--Form-->
{% if not results.data %}
    <table id="top_of_page">
{%else%}
    <table id="top_of_page" style="display:none">
{%endif%}
<td valign="top" width="40%">
    <div id='formData'>
        <form method="post" id="tableDataForm" action="" onsubmit="show_loading();">{% csrf_token %}
        <input type="hidden" name="data_type" id="data_type" class="data_type" value="{{initial.data_type}}">
        <table class="form" id="tableData" >
        <tr style="display:table-row" valign="bottom">{% include 'includes/area_select.html'%}</tr>
        <tr style="display:table-row" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        {%if initial.station_id%}
            <tr id="stn_finder" style="display:table-row">{% include 'includes/station_finder.html'%}</tr>
        {%else%}
            <tr id="stn_finder" style="display:none">{% include 'includes/station_finder.html'%}</tr>
        {%endif%} 
        {%if initial.location%}        
        <tr id="grid_type" style="display:table-row">{% include 'includes/grids_historic.html'%}</tr>
        {%else%}
        <tr id="grid_type" style="display:none">{% include 'includes/grids_historic.html'%}</tr>
        {%endif%}
        <tr style="display:table-row">{% include 'includes/element.html'%}</tr>
        <tr style="display:table-row;">{% include 'includes/units.html'%}</tr>
        <tr style="display:table-row;">{% include 'includes/start_month_day.html'%}</tr>
        <tr style="display:table-row;">{% include 'includes/end_month_day.html'%}</tr>
        <tr id="temp_summary" style="display:table-row;">{% include 'includes/temporal_summary.html'%}</tr>
        <tr style="display:table-row">{% include 'includes/start_end_year.html'%}</tr>
        </table>
        <input type="hidden" name="app_name" value="interannual">
        <input type="hidden" id="data_type" name="data_type" value="{{initial.data_type}}">
        
        <!--Hidden chart vars-->
        <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
        <input type="hidden" value="{{initial.show_running_mean}}" name="show_running_mean" class="show_running_mean">
        <input type="hidden" value="{{initial.running_mean_years}}" name="running_mean_years" class="running_mean_years">
        <input type="hidden" value="{{initial.show_average}}" name="show_average" class="show_average">
        <input style="margin:5px" type="submit" value="Generate time series" name="formData"/>
        </form>
    </div>
</td>
<!--Errors/dowm arrow/maps-->
<td valign="top" width="60%" align="center">
   <br />
   <!--Form errors and search parameter section-->
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%}
    {%if results.error%}
        <p class="error">ERROR: {{results.error}}</p>
    {%endif%}

    {%if  run_done and  not results.data %}
        {% include 'includes/no_results.html'%}
    {%endif%}
    <!--Request errors or results arrow-->
    {%if results.data %}
        {%if not initial.location%}
            {% include 'includes/arrow.html'%}
        {%endif%}
    {%endif%}
    </div>
    <!--Maps-->
    {%if need_gridpoint_map%}
        <div id="GridpointMap" style="display:block">
        <input type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
        <input id="address" type="textbox" value="Place/Location" style="height:15px;width:150px;">
            <div id="map-gridpoint"></div>
        </div>
        {%if initial.location %}
            <script type="text/javascript">initialize_grid_point_map("{{initial.location}}");</script>
        {% else %}
            <script type="text/javascript">initialize_grid_point_map();</script>
        {% endif %}
    {%else%}
        <div id="GridpointMap" style="display:none">
        <input type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
        <input id="address" type="textbox" value="Place/Location" style="height:15px;width:150px;">
            <div id="map-gridpoint"></div>
        </div>
    {%endif%}
</td></table>

<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <div class="results">
    {%if not results.error and results.data%}
        <table>
        <td valign="top">
        <p onClick="printNode('printable_table')"><img alt="Print" title="Print" src="{{MEDIA_URL}}img/print_button.png"></p>
        </td><td valign="top">
        <p onClick="ShowHide('formDownload')"><img alt="Download" title="Download" src="{{MEDIA_URL}}img/download_button.png"></p>
        </td>
        <td>
        <p class="pop_link" onClick="ShowHide('DataList')"><img alt="ShowHide" src ="{{MEDIA_URL}}img/show_hide_button.png"></p>
        </td>
        </table>
    {%endif%}    

    <!--Download form-->
    <div id="formDownload" class="form" style="display:none;">{% include 'includes/download_form.html'%}</div>
    
<!--RESULTS-->
    <table id="printable_table">
    <td>
    {% if results.data %}
    <p class="message" style="max-width:400px;word-wrap:break-word;"> YOUR PARAMETERS:<br />
    {%for key_val in params_display_list%}
        <b>{{key_val.0}}</b>: {{key_val.1}}; 
    {%endfor%}
    </p>
    {%endif%}

    <!--DATA-->
    {% if not results.error and results.data %}
        <div id="DataList" style="display:none;">
        <table border="1">
        <th>Year</th><th>{{results.element_short}}</th>
        {%for date_data in results.data%}
            <tr>
            <td>{{date_data.0}}</td><td>{{date_data.1}}</td>
            </tr>
        {%endfor%}
        </table>
        </div>

    <!--GRAPH-->
    <div id="user_graph" width="800px">
        <!--Dynamic chart options-->
        <table align="left" class='chart_options' border="1" width="800px">
            <tr>
            <td align="left" valign="top">
                {% include 'includes/chart_type.html'%} &nbsp;&nbsp; {% include 'includes/show_hide_legend.html'%}
            </td>
             <td align="left" rowspan="2" valign="top">
                {% include 'includes/chart_threshold.html'%}
            </td>
            </tr>
            <tr>
            <td align="left" valign="top">
                {% include 'includes/chart_layers_interannual.html'%}
            </td>
            </tr>
            <tr>
            <td colspan="2">
        <div align="right" id="container" style="height:600px;width:800px;"></div>
        <script type="text/javascript">
            var graph_data = {{results.graph_data | safe_json}};
            var data_indices = {{ results.data_indices |safe }}
            generateTS_individual(data_indices);
        </script>
            </td></tr>
        </table>
    </div>

    {%endif%}<!--end if not results.error-->


    <div><!--end results-->    
    </td></table><!--End printable table-->
    </div><!--end div class=results-->
</td></table>
{%endblock%}
