{% extends "csc_base.html" %}

<meta name="keywords" content="Time Series, Monthly Summary,graph, coop station, station data, historic data,application, product, tool">
<meta name="description" content="SCENIC Custom Statistic/Time Series">

{%load my_scenic_filters%}

{% block content %}

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_monann.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_point_of_interest">{% include 'includes/Docu_point_of_interest.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids.html'%}</div>
    <div id="Docu_start_end_year">{% include 'includes/Docu_start_end_date.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_element.html'%}</div>
    <div id="Docu_base_temperature">{% include 'includes/Docu_base_temperature.html'%}</div>
    <div id="Docu_monthly_statistic">{% include 'includes/Docu_monthly_statistic.html'%}</div>
    <div id="Docu_num_days_thresholds">{% include 'includes/Docu_num_days_thresholds.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_max_missing_days">{% include 'includes/Docu_max_missing_days.html'%}</div>
    <div id="Docu_start_month">{% include 'includes/Docu_start_month.html'%}</div>
    <div id="Docu_departure_from_averages">{% include 'includes/Docu_departure_from_averages.html'%}</div>
    <div id="Docu_frequency_analysis">{% include 'includes/Docu_frequency_analysis.html'%}</div>
    <div id="Docu_plot_opts_monann">{% include 'includes/Docu_plot_opts_monann.html'%}</div>
</div>
<!--Hidden variables-->

<!--Set up autofill-->
{%if initial.autofill_list %}
    <script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
{%endif%}

<!--Toolinfo/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}single/monann/'">
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>

<table>
<!--Form-->
<td valign="top" width="40%">
    <div id="formData" class="form" style="border:none;">
        <form method="post" id="tableDataForm" action="" onsubmit="show_loading()">{% csrf_token %}
        <table id="tableData" class="form">
        <tr class="station_grid" style="display:table-row" valign="bottom">{% include 'includes/single_select_area.html'%}</tr>
        <tr class="station_grid" style="display:table-row" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        {%if initial.data_type == "grid"%}        
        <tr class="grid" id="grid_type" style="display:table-row">{% include 'includes/grids.html'%}</tr> 
        <tr valign="top" id="stn_finder" style="display:none">{% include 'includes/station_finder.html'%}</tr>
        {% else%}
        <tr class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</tr>
        <tr valign="top" id="stn_finder">{% include 'includes/station_finder.html'%}</tr>
        {%endif%}
        <tr valign="top">{% include 'includes/start_year.html'%}</tr>
        <tr valign="top">{% include 'includes/end_year.html'%}</tr>
        <tr valign="top">{% include 'includes/element.html'%}</tr>
        {%if initial.base_temperature%}
        <tr id="base_temp" valign="top">{% include 'includes/base_temperature.html'%}</tr>
        {%else%}
        <tr id="base_temp" valign="top" style="display:none">{% include 'includes/base_temperature.html'%}</tr>
        {%endif%}
        <tr valign="top">{% include 'includes/monthly_statistic.html'%}</tr>
        {%if initial.less_greater_or_between%}
        <tr id="threshold_type" valign="top">{% include 'includes/number_of_days.html'%}</tr>
        <tr id="threshold" valign="top">{% include 'includes/num_days_threshold.html'%}</tr>
        {%else%}
        <tr id="threshold_type" valign="top" style="display:none">{% include 'includes/number_of_days.html'%}</tr>
        <tr id="threshold" valign="top" style="display:none">{% include 'includes/num_days_threshold.html'%}</tr>
        {%endif%}

        <tr valign="top">{% include 'includes/units.html'%}</tr>
        <tr valign="top">{% include 'includes/max_missing_days.html'%}</tr>
        <tr valign="top" style="display:none">{% include 'includes/start_month.html'%}</tr>
        <tr valign="top">{% include 'includes/departures_from_averages.html'%}</tr>
        <tr valign="top" style="display:none">{% include 'includes/frequency_analysis.html'%}</tr>
        <tr id="plot_opts_button"><td align="center"  width="80%" colspan="3">
            <button type="button">Plot Options</button>
        </td></tr>
        <!--Plot Options-->
            <tr valign="top" class="plOpts" style="display:none">{% include 'includes/graph_start_month.html'%}</tr>
            <tr valign="top" class="plOpts" style="display:none">{% include 'includes/graph_end_month.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/graph_start_year.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/graph_end_year.html'%}</tr>
            <tr valign="top" class="plOpts" style="display:none">{% include 'includes/graph_summary.html'%}</tr>
            <tr valign="top" class="plOpts" style="display:none">{% include 'includes/show_running_mean.html'%}</tr>
            <tr valign="top" class="plOpts" id="rm_years" style="display:none">{% include 'includes/running_mean_years.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/graph_incomplete_years.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/graph_title.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/image_size.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/show_major_grid.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/show_minor_grid.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/show_connector_line.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/connector_line_width.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/show_markers.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/marker_type.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/vertical_axis_min.html'%}</tr>
            <tr valign="top" class="none" style="display:none">{% include 'includes/vertical_axis_max.html'%}</tr>
        </table><!--End tableData-->
        <input type="submit" value="Generate Time Series" name="formData">
        </form>
    </div>
</td>
<!--Right-->
<td valign="top" width="60%">
    {%if not results.data and run_done%}
        <p align="center" style="color:red">No data found for these parameters!</p></br>
    {% endif %}
    <!--Form Errors and search parameter section-->
    {%if form_error%}
    <div id="form_error" class="results">
        <p class="error">ERROR: Please correct the form error(s) highlighted in red!</p>
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    </div>
    {%endif%}

    <!--Request errors or results arrow-->
    <div class="results">
    {%if results.errors%}
        <p class="error">{{results.errors}}</p>
    {%endif%}
    {%if results.data%}
        <div id="Arrow" align="center">
            <p class="message"><b>RESULTS:</b></p>
            <img alt="DownArrow" src="{{MEDIA_URL}}img/DownArrow.png" height="200px">
            </div>
 
            </div>
    {%endif%}
    </div>

    <!--Maps-->
    {%if need_gridpoint_map%}
    <div id="GridpointMap" style="display:block">
    <div id="map-gridpoint"></div>
    </div>
    <script type="text/javascript">initialize_grid_point_map();</script> 
    {%else%}
    <div id="GridpointMap" style="display:none"></div>
    {%endif%} 
</td>
</table>

<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    {%if results.data%}
    <div class="results">
        <table align="center">
            <td valign="top">
            <p onClick="printNode('printable_table')"><img alt="Print" title="Print" src="{{MEDIA_URL}}img/print_button.png"></p>
            </td><td valign="top">
            <p onClick="ShowHide('formDownload')"><img alt="Download" title="Download" src="{{MEDIA_URL}}img/download_button.png"></p>
            <br /> 
            <!--Download form-->
            <div id="formDownload" class="form" style="display:none;">{% include 'includes/monann_download_form.html'%}</div>
            </td>
        </table><!--End table about/howto/download form-->

        <div align="center">
        <p class="blue" onClick="ShowHide('user_graph')"><b><u>Show/Hide Time Series Graph</u></b></p>
        <div id="user_graph">
            <!--Dynamic chart options-->
            <table class='hc-options' border="1">
                <tr>
                <td align="left" valign="top">
                    {% include 'includes/chart_type.html'%}
                </td>
                </tr>
                <tr>
                <td align="left" valign="top">
                    {% include 'includes/chart_layers.html'%}
                </td>
                </tr>
                <tr>
                <td align="left" valign="top">
                    {% include 'includes/chart_smry_monann.html'%}
                </td>
                </tr>
                <tr>
                <td align="left" valign="top">
                    {% include 'includes/chart_indices_monann.html'%}
                </td>
                </tr>
            </table> 
            <div align="center" id="container" style="height:500px;width:700px;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/generate_monannTS({{results.json_file_path}})"></script>
        </div>
        </div>

        <p align="center">
        <img src="{{MEDIA_URL}}img/show_summ_table_button.png" alt="Show Summary Table" onclick="ShowHide('Data_Summary')">
        </p>
        <div align="center" id="Data_Summary" style="display:none;">
        <table class="right_aligned">
        {%for s_data in results.data_summary%}
            <tr>
            {%for s in s_data%}
            {%if forloop.first%}
            <td align="left">{{s}}</td>
            {%else%}
            <td>{{s}}</td>
            {%endif%}
            {%endfor%}
            </tr>
        {%endfor%}
        </table>
        </div><!--End data summary-->

        <div id="printable_table" align="center">
            <p class="black">
            {%for key_val in results.header%}
            {%if key_val%}
            <b>{{key_val.0}}</b>: {{key_val.1}}
            {%if forloop.counter|divisibleby:2%}
            <br />        
            {%endif%}
            {%else%}
            <br />
            {%endif%}
            {%endfor%}
            </p>
            
            <p class="black"><b>Missing values</b><br />
            Monthly information for months with more than this number of missing values will be displayed, but not used. <br />
            The letter indicates the number of missing days.<br />
            Letters after months show number of missing days;after annual values show missing months.<br />  
            Value is displayed but not used if user-specified missing day criterion exceeded.<br />
            (a = 1 day missing, b = 2 days missing, f = 6 days missing, z = 26 or more values missing).</p>

            <table class="right_aligned" cellpadding="none" style="color:black">
            {%for yr_data in results.data%}
            {%if yr_data.0 == "MEAN"%}
            <tr><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
            {%endif%}
            {%for dat in yr_data%}
            {%if forloop.revcounter0 == 1%}
            <td></td><td></td>
            <td></td><td></td>
            <td></td><td></td>
            {%endif%}
            {%if forloop.counter0 == 1%}
            <td></td>
            {%endif%}
            {%if forloop.counter0 == 0%}
            <td align="left">{{dat}}&nbsp;&nbsp;</td>
            {%else%}
            <td>{{dat}}</td>
            {%endif%}
            {%endfor%}
            </tr>
            {%endfor%}
            </table>
        </div><!--End div="printable_table"-->
    </div><!--end div results-->
    {%endif%}<!--End results.data-->
</td></table>
{%endblock%}
