{% extends "csc_base.html" %}
<META name="keywords" content="interanual, time series">
<meta name="description" content="SCENIC Single point seasonal_summary time series">

{%load my_scenic_filters%}
{% block content %} 

<!--Documentation-->
<div class="docu" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_seasonal_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_point_of_interest">{% include 'includes/Docu_point_of_interest.html'%}</div>
    <div id="Docu_grids">{% include 'includes/Docu_grids_historic.html'%}</div>
    <div id="Docu_element">{% include 'includes/Docu_element.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_temporal_summary">{% include 'includes/Docu_temporal_summary.html'%}</div>
    <div id="Docu_start_month_day">{% include 'includes/Docu_start_month_day.html'%}</div>
    <div id="Docu_end_month_day">{% include 'includes/Docu_end_month_day.html'%}</div>
    <div id="Docu_start_end_year">{% include 'includes/Docu_start_end_year.html'%}</div>
</div><!--End how_to-->

<!---Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="seasonal_summary">

<!--Set up autofill-->
{%if initial.autofill_list %}
    <script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>
{%endif%}

<!--Button row-->
{% include 'includes/button-row.html'%}

<!--Form-->
{% if not results.data %}
<div id="top_of_page">
{%else%}
<div id="top_of_page" style="display:none">
{%endif%}
    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form method="post" class="main-form" id="DataForm" action="" onsubmit="show_loading()">{% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
                <input type="hidden" name="data_type" id="data_type" class="data_type" value="{{initial.data_type}}">
                <input type="hidden" name="app_name" value="seasonal_summary">
                <!--Hidden chart vars-->
                <input type="hidden" value="{{initial.chart_type}}" name="chart_type" class="chart_type">
                <input type="hidden" value="{{initial.show_running_mean}}" name="show_running_mean" class="show_running_mean">
                <input type="hidden" value="{{initial.running_mean_years}}" name="running_mean_years" class="running_mean_years">
                <input type="hidden" value="{{initial.show_average}}" name="show_average" class="show_average">
        
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">1. Define your region!</label> 
                    <div class="input-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {% include 'includes/area_select.html'%}
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <span id="area">{% include 'includes/area.html'%}</span>
                        </div>
                    </div>
                    {%if initial.area_type == "location"%}
                    <span  id="stn_finder" style="display:none">{% include 'includes/station_finder.html'%}</span>
                    {%else%}
                    <span  id="stn_finder">{% include 'includes/station_finder.html'%}</span>
                    {%endif%}
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">2. Choose your dataset!</label>
                    {%if initial.area_type == "location"%}
                    <span class="grid" id="grid_type">{% include 'includes/grids.html'%}</span>
                    {% else%}
                    <span class="grid" id="grid_type" style="display:none">{% include 'includes/grids.html'%}</span>
                    {%endif%}
                    <div class="input-group">
                        {% include 'includes/element.html'%}
                        <span class="input-group-addon"></span>
                        {% include 'includes/units.html'%}
                    </div>
                    {%if initial.element == "gdd" or initial.element == "hdd" or initial.element == "gdd"%}
                    <span id="base_temp" >{% include 'includes/base_temperature.html'%}</span>
                    {%else%}
                    <span id="base_temp"  style="display:none">{% include 'includes/base_temperature.html'%}</span>
                    {%endif%}
                    <span id="temp_summary">{% include 'includes/temporal_summary.html'%}<span>
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">4. Define your date ranges! </label>
                    <div class="input-group">
                         <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> 
                            {% include 'includes/start_month_day.html'%}
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            {% include 'includes/end_month_day.html'%}
                        </div>
                    </div>
                    <div class="input-group">
                        {% include 'includes/start_end_year.html'%}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Get Data
                    </button>
                </div>
            </form>
        </div><br /><!--col-sm-4-->
        <!--Main: Errors/maps-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!--Form errors-->
            {%if form_error%}
            <div class="results" align="center">
                {% include 'includes/form_error.html'%}
            </div>
            {%endif%}
            <!--Request errors-->
            {%if results.errors%}
            <div class="results" align="center">
                <p class="error">{{results.errors}}</p>
            </div>
            {%endif%}
            {%if  run_done and  not results.data %}
            <div class="results" align="center">
                 {% include 'includes/no_results.html'%}
            </div>
            {%endif%}
            <!--Maps-->
            <!--Gridpoint map-->
            {% include 'includes/map-gridpoint.html'%}
        </div><!--col-sm-8-->
    </div><!--row-->
</div><!--top_of_page-->
<!--Results-->
<!--Main Results-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    {% if not results.error and results.data %}
        <div class="results row">    
             <!--DATA-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="dataTableInfo" id="dataTableInfo-0" style="display:none;">
                    {%for key_val in params_display_list%}
                        {{key_val.0}} {{key_val.1}},
                    {%endfor%}
                </div>
                 <table border="1" class="dataTable nowrap" id="dataTable-0">
                    <thead>
                        <tr><th>Year</th><th>{{results.element_short}}</th></tr>
                    </thead>
                    <tfoot>
                        <tr><th>Year</th><th>{{results.element_short}}</th></tr>
                    </tfoot>
                    <tbody>
                    {%for date_data in results.data%}
                        <tr><td>{{date_data.0}}</td><td>{{date_data.1}}</td></tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div> 
            <!--CHART-->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <h3>
                {%for key_val in params_display_list%}
                    <b>{{key_val.0}}</b>: {{key_val.1}}; 
                {%endfor%}
                </h3><br />
                <!--CHART-->
                <div id="main-graph">
                    <!--Chart Layers-->
                    <div class="row chart-layers">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="row">
                                {% include 'includes/chart-type.html'%}
                            </div>
                            <div class="row">
                                {% include 'includes/chart-threshold.html'%}
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <div class="row" height="50%">
                                {% include 'includes/chart-running-mean-years.html'%}
                            </div>
                            <div class="row" height="50%">
                                {% include 'includes/chart-average.html'%}
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            {% include 'includes/chart-show-hide-legend.html'%}
                        </div>
                    </div><!--row chart-layers--> 
                    <!--Chart-->
                    <div class="row" height="100%">
                        <div align="center" id="hc-container" width="100%"></div>
                        <script type="text/javascript">
                            var graph_data = {{results.graph_data | safe_json}};
                            var data_indices = {{ results.data_indices |safe }}
                            generateTS_individual(data_indices);
                        </script>
                    </div>
                </div><!--main-graph-->                
            </div>
        </div><!--results-->
    {%endif%}<!--end if not results.error-->
    </div><!--col-sm-12-->
</div><!--row->

{%endblock%}
