<head>
<title>BRITTA's ACIS
{% if title %} [ {% endif %} 
{{ title|escape }}
{% if title %} ] {% endif %}
</title>
<!--<link rel="stylesheet" type="text/css" href="/Users/bdaudert/DRI/dj-projects/my_acis/media/css/base.css" /> -->
<!--<link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}/media/css/base.css"-->
{% block extrahead %}{% endblock %}
{% block extrastyle %}{% endblock %}
</head>
<body {% if bodyclass %}class="{% block bodyclass %}{% endblock %}" {% endif %} {% if bodyid %} id="{% block bodyid %}{% endblock %}"{% endif %}>
    <!-- Header -->
    <div id="header">
	<h1>Britta's attempt at ACIS metadata</h1>
    </div> <!-- END Header -->

    <div id="breadcrumbs">
    {% block breadcrumbs %}
	    <a href="/my_meta">Metadata Home</a>
    {% endblock %}
    </div>

    <div id="content">
    {% block content %} {% endblock %}
    </div> <!-- END content -->

    {% block footer %}
	<div id="footer-wrapper">
	<div id="footer">
	    <p>Created by <a href="http://www.wrcc.dri.edu/">WRCC</a></p>
	</div><!-- END footer -->
	</div> <!--END footer-wrapper-->
    {% endblock %}
</body>
</html>
