{% extends "csc_base.html" %}

<meta name="keywords" content="Remote Sesning, Google, Google Earthe Engine, Landsat, Modis">
<meta name="description" content="Remote Sensing Data">


{%block content %}

<p class="error" align="center">*BETA THIS PAGE IS UNDER DEVELOPMENT</p>
<p align="center">Please report any issue to <a href="mailto:scenic@dri.edu">scenic@dri.edu</a><br />
Feedback is also welcome.
<p>

<div class="row-xs-height row-md-height row-lg-height" align="center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-height col-md-height col-lg-height col-height"> 
        <iframe id="ee_iframe" align="left" src="http://clim-engine.appspot.com/"></iframe>
    </div>
</div>
{%endblock content%}
