{% extends "csc_base.html" %}

{% block content %}

<p align="center">You are here <a href="/my_data">HOME></a>
<a href="/my_data/apps/">TOOLS/PRODUCTS></a>
<a href="/my_data/apps/climate/">Climate></a>
<a href="/my_data/apps/climate/clim_sum_maps/">Climate Summary Maps</a></p>

<div class="container">
    <div class="center-left">
        <div id='form0'>
            <table border=0 align="right">
            <form method="post" action="">{% csrf_token %}
                <table>{{ form0|safe }}</table>
                <input type="submit" value="Submit" name="form0"/>
            </form>
            </table>
        </div>
        {%if form1_ready%}
        <div id='form1'>
            <table border=0 align="right">
            <form method="post" action="">{% csrf_token %}
                <table>{{ form1|safe }}</table>
                <input type="submit" value="Submit" name="form1"/>
            </form>
            </table>
        </div> 
        {%endif%} 
    </div>

    <div class="center">
        <div id=tool_info_head></div>
            <script type="text/javascript">            
            $("#tool_info_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_info");
            </script>
        <div id="tool_info" style="display:none;">
            <p><ul>
            <li>A temporal composite map for an element of choice and a 
            user defined time period is created</li>
            <li>For Precipitation and Snowfall daily values are summed 
            over the time period.</li>
            <li>For all other elements, daily values are averaged</li>
            <li>Daily gridded data is obtained through Acis Webservices.</li>
            <li>Information on different grid types:</li>
            </ul></p>
        </div>
        
        <div id="how_to_head"></div>
            <script type="text/javascript">
            $("#how_to_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_how_to");
            </script>
        <div id="how_to" style="display:none;">
            <p><ul>
            <li>Grid selection is made either by US state or by a user defined bounding box.</li>
            <li></li>
            <li>Bounding</li>
            </ul></p>
        </div>
        
        {%if figure_file%}
            <img src = '{{MEDIA_URL}}tmp/{{figure_file}}'>
        {%endif%}
    </div>    
</div>

{%endblock%}
