{% extends "csc_base.html" %}

<meta name="keywords" content="Climate Summary Map, gridded data, application, product, tool">
<meta name="description" content="SW-CKN Generates a climate summary map">

{% block content %}

<p align="center">You are here <a href="/sw_ckn">HOME></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/">TOOLS/PRODUCTS></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/climate/">Climate></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/climate/clim_sum_maps/">Climate Summary Maps</a></p>

<div class="container">
    <div class="center-left">
        <div id='form0'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form0 %}
                <tr>
                    <td>{{field.label}}:</td>
                    <td>{{field}}</td>                                                                                              <td><p class="trigger"><img src="{{MEDIA_URL}}img/FaceQMark.jpg" class="icon_small"></p>
                    <div class="pop-up"><p class="yellowish">{{field.help_text}}</p></div>
                    </td>
                </tr>
            {%endfor%}
            </table>
            <input type="submit" value="Select" name="form0"/>
            </form>
        </div>

        {%if form1_ready%}
        <div id='form1'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form1 %}
                {%if field.is_hidden %}
                    {{field}}
                {%else%}
                <tr>
                    <td>{{field.label}}:</td>
                    <td>{{field}}</td>                                                                                                                   
                    <td><p class="trigger"><img src="{{MEDIA_URL}}img/FaceQMark.jpg" class="icon_small"></p>                                                <div class="pop-up"><p class="yellowish">{{field.help_text}}</p></div>
                    </td>
                </tr>
                {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form1"/>
            </form>
        </div> 
        {%endif%} 

    </div><!--end center-left-->

    <div class="center">
        <div id=tool_info_head></div>
            <script type="text/javascript">            
            $("#tool_info_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_info");
            </script>

        <div id="tool_info" style="display:none;">
            <p><ul>
            <li>A temporal composite map for an element of choice and a 
            user defined time period is created</li>
            <li>For Precipitation and Snowfall daily values are summed 
            over the time period.</li>
            <li>For all other elements, daily values are averaged</li>
            <li>Daily gridded data is obtained through Acis Webservices.</li>
            <li>Information on different gridded data sets:</li>
            <li>Information on gridded data sets:</li>
            <ul>
                <li>For more information on Acis gridded data sets NRCC interpolated, NRCC Hi-Res:</li>
                <a href="https://gist.github.com/4197956">GridACIS grids 1 and 3</a>
                <li>For more information and direct access to NARCCAP                         
                (North American Regional Climate Change Assessment Program) gridded data sets:</li>
                <a href="http://www.earthsystemgrid.org/project/narccap.html">NARCCAP data page</a>
            </ul>
            </ul></p>
        </div>
        
        <div id="how_to_head"></div>
            <script type="text/javascript">
            $("#how_to_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_how_to");
            </script>

        <div id="how_to" style="display:none;">
            <p><ul>
            <li>Grid selection is made either by US state or by a user defined bounding box.</li>
            <li>After selecting the desired element, time period and X value a second form will appear.</li>
           <li>Depending on your choice of Grid selection, you now choose the gridpoints to be included.</li>
                <ul>
                    <li>Grid selection = "State". Enter a US state of choice.</li>                    
                    <li>Station Selection = "Bounding Box". Find data for all stations in a bounding box of your choice.                                  
                    A bounding box has four coordinates: West longitude, South latitude, East longitude, North latitude.                                 
                    Please enter them in this order.</li>
                </ul>
            <li>If Custom Date Range was chosen, the user should enter the desired 
            8 digit (yyyymmdd) start and end dates fields in the second form.</li>
            <li>If the Time Period was NOT "Custom Date Range", start and end dates will be computed automatically</li>
            <li>Information on gridded data sets:</li>
            <ul>
                <li>For more information on Acis gridded data sets NRCC interpolated, NRCC Hi-Res:</li>
                <a href="https://gist.github.com/4197956">GridACIS grids 1 and 3</a>
                <li>For more information and direct access to NARCCAP                         
                (North American Regional Climate Change Assessment Program) gridded data sets:</li>
                <a href="http://www.earthsystemgrid.org/project/narccap.html">NARCCAP data page</a>
            </ul>
            </ul></p>
        </div>
        
        {%if figure_file%}

            {%if state%}
            <a href="{{URL_PREFIX}}sw_ckn/data/modeled/?grid_selection={{grid_selection}}&start_date={{start_date}}&end_date={{end_date}}&elements={{elems}}&grid={{grid}}&state={{state}}">Get raw data behind this graphic here!</a>
            <br />
            <br />
            <p>GridAcis Map for State: <b>{{state}}</b></p>
            {%endif%}

            {%if bounding_box%}
            <a href="{{URL_PREFIX}}sw_ckn/data/modeled/?grid_selection={{grid_selection}}&start_date={{start_date}}&end_date={{end_date}}&elements={{elems}}&grid={{grid}}&bounding_box={{bounding_box}}">Get raw data behind this graphic here!</a>
            <br />
            <br />
            <p>GridAcis Map for Bounding Box: <b>{{bounding_box}}</b></p>
            {%endif%}
            
            <p>Element: <b>{{elems_long}}</b> {%if base_temp%}Base Temperature: <b>{{base_temp}}</b>{%endif%}</p>
            <p>Time Period: <b>{{start_date}}</b> to <b>{{end_date}}</b></p>
            <img src="{{MEDIA_URL}}tmp/{{figure_file}}">
    
        {%endif%}

       </div><!--end center -->
</div> <!--end container -->

{%endblock%}
