{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Climate Applications">

{% block content %}

    <p align="center">You are here <a href="{{URL_PREFIX}}sw_ckn">HOME></a>
    <a href="{{URL_PREFIX}}sw_ckn/apps/climate/">TOOLS/PRODUCTS></a>


    <div class="container">

        <div class="center-left">
            <h1>Point Data Applications</h1>
            <p><font color="X^H#3366FF;">External Applications</font></p>
            <ul class="navbar">
                {%if stn_id%}
                    <a href="{{URL_PREFIX}}sw_ckn/apps/climate/metagraph/?stn_id={{stn_id}}" class="trigger">Station Metadata Graphics</a>
                    <div class="pop-up" id="meta">
                        <p><font size="4">Shows availabilty of COOP station data.</font></p>
                    </div>
                    <a href="{{URL_PREFIX}}sw_ckn/apps/climate/monthly_aves/?stn_id={{stn_id}}" class="trigger">Monthly Averages</a>
                    <div class="pop-up" id="maves">
                        <p><font size="4">Generates bar chart of monthly averages.</font></p>
                    </div>
                {%else%}
                    <a href="{{URL_PREFIX}}sw_ckn/apps/climate/metagraph/" class="trigger">Station Metadata Graphics</a>
                    <div class="pop-up" id="meta">
                        <p><font size="4">Shows availabilty of COOP station data.</font></p>
                    </div>
                    <a href="{{URL_PREFIX}}sw_ckn/apps/climate/monthly_aves/" class="trigger">Monthly Averages</a>
                    <div class="pop-up" id="meta">
                        <p><font size="4">Generates bar chart of monthly averages.</font></p>
                    </div>
                {%endif%}

                <a href="http://www.raws.dri.edu/index.html" class="trigger" target="_blank">RAWS USA Climate Archive</a>
                <div class="pop-up" id="raws">
                    <p><font size="4">Summaries, Graphs, and other products for RAWS 
                    (Remote Automatic Weather Stations).</font></p>
                </div>
                <a id="external" href="http://wrcc.dri.edu/sod-products/" class="trigger" target="_blank">Summary of the Day (SOD) products</a>
                <div class="pop-up" id="sods">
                    <p><font size="4"></font>Data Lister, Graphs, Monthly Data Summaries.</p>
                </div>
                    <li>                            
                        <a id="external" href="http://wrcc.dri.edu/sod/sodusa.html" class="trigger" target="_blank">&rarr;Daily Lister and Graph</a>
                        <div class="pop-up" id="sod1">
                        <p><font size="4"></font>Graphs Temperature/Precipitation elements and extremes for chosen COOP station.</p>
                        </div>
                    </li>
                   <li>                        
                        <a id="external" href="http://wrcc.dri.edu/cgi-bin/coopdata0.pl" class="trigger" target="_blank">&rarr;Monthly Data Lister</a>
                        <div class="pop-up" id="sod1">
                        <p><font size="4"></font>Temparture/Precipitation/Evaporation listings of choosen COOP station and month.</p>                       
                        </div>
                    </li>
                    <li>                                                
                        <a id="external" href="http://wrcc.dri.edu/sod/sodusaxtrm.html" class="trigger" target="_blank">&rarr;Monthly Summaries</a>
                        <div class="pop-up" id="sod1">
                        <p><font size="4"></font>Monthly Summaries of choosen COOP station and element for Period of Record.</p>
                        </div>
                    </li>
                    <li>
                        <a id="external" href="http://wrcc.dri.edu/sod/arch/index.html" class="trigger" target="_blank">&rarr;USA Climate Archive</a>
                        <div class="pop-up" id="sod1">
                        <p><font size="4"></font>Get climate Summaries for station (COOP,RAWS,Snotel and others) and run applications.</p>
                        </div>
                    </li>

            </ul>
        </div>

        <div class="center">
            <p class="warning" align="center" onClick="ShowHide('more_on_data')"><img class="logo"         
            src="{{MEDIA_URL}}img/Acis-logo.jpg"><u>More about the Acis data sets ...</u></p>
            <div id="more_on_data" style="display:none;">
            <p>Currently most of our data applications query data from Acis via webservices.
            Climate data available in ACIS consists of in-situ observations collected from a
            variety of federal, regional, state, and local weather and climate networks.
            Both archive-quality historical data and near-real-time data ingested from operational
            data transmission streams are available. ACIS data are primarily used for the generation
            of operational climate products but also provide quality archive datasets.
            A collection of gridded/modeled data sets is also available. The Northeast Regional Climate Center (NRCC)
            developed their own gridded data sets but also provides access to modeled NARCCAPP
            (North American Regional Climate Change Assessment Program ) data sets.
            New data sources are continually added contingent upont demand, need, time and funding.
            For more information:<br />
            <a target="_blank" href="http://rcc-acis.unl.edu/index.php">Acis Home Page</a>
            <br />
            <a href="https://gist.github.com/4197956">Information on NRCC interpolated, NRCC Hi-Res data sets</a>
            <a href="http://www.earthsystemgrid.org/project/narccap.html">North American Regional Climate Change Assessment Program (NARCCAPP) Home Page</a>
            <br />
            </p></div>

             <p class="warning" align="center"><a href="http://raws.fam.nwcg.gov/" target="_blank"><img class="logo" src="{{MEDIA_URL}}img/raws.gif">RAWS Home Page</a><p>
        
            <!--
            <h1>Means for {{state}} since 1900</h1>
            <form method="get" action="">
                <select name="state_key">
                    <option value="NV">Chose a different State</option>
                    {% for state in state_choices %}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                </select>
                <select name="element">
                    <option value="mint">Choose a different element</option>
                    <option value="avgt">Mean Temperature</option>
                    <option value="pcpn">Precipitation</option>
                    <option value="maxt">Maximum Temperature</option>
                    <option value="mint">Minimum Temperature</option>
                    <option value="snow">Snow</option>
                    <option value="snwd">Snow depth</option>
                </select>
                <input type="submit" value="Submit"/>
            </form>
            <br/>

            <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
            <input type="hidden" id="state" name="state" value="{{ state }}">
            <input type="hidden" id="month" name="month" value="{{ month }}">
            <input type="hidden" id="month_name" name="month_name" value="{{ month_name }}">
            <input type="hidden" id="element" name="element" value="{{ element }}">

            <div id="hc-graph-state-aves" style="width: 600px; height: 500px;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/highchart-state-aves.js"></script>
            -->
            <table class="dash">
                <!--Headers-->
                <th><font size="5"><b>Mapping Tools</b></th>
                <th><font size="5"><b>Time Series</b></th>
                <th><font size="5"><b>Bar Charts</b></th>
                <!--First row of dashboard: image-->
                <tr>
                    <td><a target="_blank" href="http://www.cefa.dri.edu/Westmap/"><img class="dash_img" src="{{MEDIA_URL}}img/WestMap.png"></a></td>
                    <td><a href="{{URL_PREFIX}}sw_ckn/apps/climate/grid_point_time_series/"><img class="dash_img" src="{{MEDIA_URL}}img/GPTimeSeries.png"></a></td>
                    {%if stn_id%}
                    <td><a href="{{URL_PREFIX}}sw_ckn/apps/climate/monthly_aves/?stn_id={{stn_id}}"><img class="dash_img" src="{{MEDIA_URL}}img/MonAves.png"></a></td>
                    {%else%}
                    <td><a href="{{URL_PREFIX}}sw_ckn/apps/climate/monthly_aves/"><img class="dash_img" src="{{MEDIA_URL}}img/MonAves.png"></a></td>
                    {%endif%}
                </tr>
                <!--Second row: Tool that produces img-->
                <tr>
                    <td><p class="trigger"><b>Westmap</b></p>
                    <div class="pop-up" id="meta">
                        <p><font size="4">Climate Analysis and Mapping Tool that uses PRISM Data set.</font></p>
                    </div></td>
                    <td><p class="trigger"><b>Grid Point Time Series</b></p>
                    <div class="pop-up" id="meta">
                        <p><font size="4">Generates time series data and graph for a chosen 
                        grid point and time range using Acis gridded data.</font></p>
                    </div></td>
                    <td><p class="trigger"><b>Monthly Averages</b></p>
                    <div class="pop-up" id="meta">
                        <p><font size="4">Generates bar chart of monthly averages</font></p>
                    </div></td>
                </tr>
            </table>

            <table class="dash">
                <!--Headers-->
                <th><font size="5"><b></b></th>
                <th><font size="5"><b></b></th>
                <!--First row of dashboard: image-->
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <!--Second row: Tool that produces img-->
                <tr>
                    <td><p><b></b></p></td>
                    <td><b></b></td>
                </tr>
            </table>

        </div>

        <div class="center-right">
            <h1>Gridded Data Applications</h1>
            <p><font color="X^H#3366FF;">External Applications</font></p>
            <ul class="navbar">
                <a href="{{URL_PREFIX}}sw_ckn/apps/climate/clim_sum_maps/" class="trigger">Climate Summary Maps</a>
                <div class="pop-up" id="meta">
                    <p><font size="4">Generates climate summary maps for different elements, time ranges and region usig Acis gridded data</font></p>
                </div>
                <a href="{{URL_PREFIX}}sw_ckn/apps/climate/grid_point_time_series/" class="trigger">Grid Point Time Series</a>
                <div class="pop-up" id="meta">
                    <p><font size="4">Generates time series data and graph for a chosen grid point and time range using Acis gridded data.</font></p>
                </div> 

                <a id="external" href="http://www.cefa.dri.edu/Westmap/" class="trigger">Westmap</a>
                <div class="pop-up" id="meta">
                    <p><font size="4">Climate Analysis and Mapping Tool that uses PRISM Data set.</font></p>
                </div>
            </ul>
        </div>

    </div>
{%endblock%}
