{% extends "csc_base.html" %}

{% block content %}


<div class="container">
    <div class="center-left">
        <div id='form_graphs'>
            <table border=0 align="right">
            <form method="post" action="">{% csrf_token %}
                <table>{{ form_graphs|safe }}</table>
                <input type="submit" value="Submit" name="form_graphs"/>
            </form>
            </table>
        </div>
        <br />
    </div>

    <div class="center-right">
        {%if meta%}
            <p class="warning" onClick="ShowHide('metadata')">Click here for station metadata</p>
            <div id="metadata" style="display:none;">
                {% for key, val in meta.items %}
                    <p> {{key}}: {{val}} </p>
                {%endfor%}
            </div>
        {%endif%}

        {%if results%}
            <p class="warning" onClick="ShowHide('averaged_data')">Click here for averaged data</p>
            <div id="averaged_data" width="450" height="450" border="0" style="display:none;">{{averaged_data}}</div>
            <p class="warning" onClick="ShowHide('raw_data')">Click here for raw data</p>
            <div id="raw_data" width="450" height="450" border="0" style="display:none;">{{raw_data}}</div>
        {%endif%}
    </div>

    <div class="center">
        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;">
            <p><ul>
            <li>Start and end date should be 8 digits long, e.g. 20121023</li>
            <li>If interested in period of record, type <font color="#A00000">
            <b>por</b></font> for both start and end date</li>
            <li>If more than one element desired, elements should be a comma separated list</li>
            <li><p class="warning" onClick="ShowHide('AcisElementChoices')">
            Click here for list of Element Choices!</p>             
            <img src="{{MEDIA_URL}}img/Acis_Element_Choices.png" id="AcisElementChoices" 
            width="450" height="450" border="0" style="display:none;" /></li>
            </ul></p>
        </div>
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_info");
        </script>
        <div id="tool_info" style="display:none;">
            <p></p>
        </div>
        
        {%if results%}
            <h2>Plots of Monthly Averages</h2>
            <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
            <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
            <!-- One container per element -->
            {%for result in results%}
                <div id="container{{forloop.counter}}"style="height:300px;width:100%;"></div>
                <br /> 
            {%endfor%}         
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-monthly-aves.js"></script>
        {%endif%}
    </div>
</div>
{%endblock%}
