{% extends "csc_base.html" %}

<meta name="keywords" content="monthly averages, graph, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{% block content %}

<p align="center">You are here <a href="{{URL_PREFIX}}sw_ckn">HOME></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/climate/">TOOLS/PRODUCTS></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/climate/monthly_aves/">Monthly Averages</a></p>

<div class="container">
    <div class="center-left" style="border:none;background-color:#947e6e;">
        <div id='form_graphs'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form_graphs %}
                <tr>
                    <td>{{field.label}}:</td>
                    <td>{{field}}</td>                                                                                
                    <td><p class="trigger"><img src="{{MEDIA_URL}}img/FaceQMark.jpg" class="icon_small"></p>                                             
                    <div class="pop-up"><p class="yellowish">{{field.help_text}}</p></div>
                    </td>
                </tr>
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form_graphs"/>
            </form>
        </div>
        <br />
    </div>

    <div class="center" style="border:none;">
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_info");
        </script>
        <div id="tool_info" style="display:none;">
            <p><ul>
            <li>Generates bar charts of monthly averages for one or more elements.</li>
            <li>Raw data is also available to the user (currently only json format is supported)</li>
            <li>Daily Precipitation and Snowfall data are totaled per month and then averaged over the years spanned by the user defined start and end date.</li>
            <li>All other elements are averaged over each month and then averaged again over the years.</li>
            <li>Treatment of data flags:</li>
                <ul>
                <li>Traces (T) are treated as having value 0.0 (precip and snowfall only).</li>
                <li>S flags are counted and their position in the data set noted until the 
                corresponding accumulation (A) flag is found. The accumulated  data value is
                distributed in equal parts to each of the previous S positions
                (precip and snowfall only).</li>
                <li>Missing data is discarded.</li>
                </ul>
            </ul></p>
        </div>

        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/csc_map_page_base.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;">
            <p><ul>
            <li>Don't know your station id? Find it here:</li>
            <a href="{{URL_PREFIX}}sw_ckn/station_finder/">STATION FINDER</a>
            <li>Elements should be given as a comma separated list. Element Choices:
            <img src="{{MEDIA_URL}}img/Acis_Element_Choices.png" id="AcisElementChoices" 
            width="450" height="450" border="0"/></li>
            <li>Start and end date should be 8 characters long and of form yyyymmdd. Alternativly you can enter
            'por' if you are interested in the period of record for this station.</li>
            <li>If interested in period of record, type <font color="#A00000">
            <b>por</b></font> for both start and end date</li>
            <img src="{{MEDIA_URL}}img/Acis_Element_Choices.png" id="AcisElementChoices" 
            width="450" height="450" border="0"/></li>
            </ul></p>
        </div>
        
        {%if results%}
            <h2>Plots of Monthly Averages</h2>
            <p class="error">Data values of 10k indicate missing data for the entire month.</p>
            <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{ MEDIA_URL }}tmp/">
            <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
            <!-- One container per element -->
            {%for result in results%}
                <div id="container{{forloop.counter}}"style="height:300px;width:100%;"></div>
                <br /> 
            {%endfor%}         
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-monthly-aves.js"></script>
        {%endif%}

        {%if error%}
            <p class="error">{{error}}</p>
        {%endif%}
    </div>

    <div class="center-right" style="border:none;background-color:#947e6e;">
        {%if meta%}
            <p class="warning" onClick="ShowHide('metadata')"><u>Click here for station metadata</u></p>
            <div id="metadata" style="display:none;">
                {% for key, val in meta.items %}
                    <p> {{key}}: {{val}} </p>
                {%endfor%}
            </div>
        {%endif%}

        {%if results%}
            <p class="warning" onClick="ShowHide('averaged_data')"><u>Click here for averaged data behind this graphic</u></p>
            <div id="averaged_data" width="450" height="450" border="0" style="display:none;">{{averaged_data}}</div>
            <a href="{{URL_PREFIX}}sw_ckn/data/historic/?stn_id={{stn_id}}&start_date={{start_date}}&end_date={{end_date}}&elements={{elems}}">Get raw data behind this graphic here!</a>
        {%endif%}
    </div>
</div>
{%endblock%}
