{% extends "csc_base.html" %}

{%load my_scenic_filters%}

{% block content %} 

<!--Temporary page that polls station data lister for request completion-->
<script type="text/javascript">
(function pollListerForData() {
    var params = "?params_json={{params_json}}&station_ids={{station_ids}}";
    $.ajax({
        url: "/csc/scenic/data/station/" + params, 
        success: function(data){
            hide_loading_gif();
            window.open("/csc/scenic/data/station/" + params);
        },
        completed: function(){
            $("#message").append('YO! Request completed!');
        }
        dataType: "json"
    });
    setTimeout(pollListerForData, 5000);
 });
</script>

<!--Loading image-->
<div id="loading">
<img id="loading-image" src="{{ MEDIA_URL }}img/LoadingGreen.gif" alt="Loading..." />
</div>

<div height="700px" id="message">
</div>

{%endblock%}
