{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Climate Applications">

{% block content %}

    <p align="center">You are here 
    <a href="{{HOME_URL}}scenic/">Home></a>
    <a href="{{TOOLS_URL}}">Data Analysis></a>
    <a href="{{TOOLS_GRIDDED_URL}}">Gridded Data Tools</a>


    <!-- Application documentation -->
    <div class="docu" id="Docu_CalTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_CalTracker").load("{{HTML_URL}}/Docu_External_Resources.html #Docu_CalTracker");
        </script>
    <div class="docu" id="Docu_NevTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_NevTracker").load("{{HTML_URL}}/Docu_External_Resources.html #Docu_NevTracker");
        </script>
    <div class="docu" id="Docu_WESTMAP" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_WESTMAP").load("{{HTML_URL}}/Docu_External_Resources.html #Docu_WESTMAP");
        </script>
   <div class="docu" id="Docu_FreezTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_FreezTracker").load("{{HTML_URL}}/Docu_External_Resources.html #Docu_FreezTracker");
        </script>
   <div class="docu" id="Docu_CLIM_SUM_MAP" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_CLIM_SUM_MAP").load("{{HTML_URL}}/Docu_CLIM_SUM_MAP.html");
        </script>
   <div class="docu" id="Docu_AREA_TIME_SERIES" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_AREA_TIME_SERIES").load("{{HTML_URL}}/Docu_AREA_TIME_SERIES.html");
        </script>
   <div class="docu" id="Docu_DATA_GRIDDED" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_DATA_GRIDDED").load("{{HTML_URL}}/Docu_About_gridded_data.html");
        </script> 
   <div class="docu" id="Docu_NONE" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_NONE").load("{{HTML_URL}}/Docu_NONE.html");
        </script>

    <table cellpadding="20">
    <td valign="top" width="25%">
    </td>
    <td valign="top" width="50%">
            <p class="error" align ="center">(* Beta version)</p>
            <table cellspacing="10">
            <tr>
                <td valign="top">
                    <p>* Spatial Summary&nbsp;&nbsp;&nbsp;<img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_AREA_TIME_SERIES')"><br />Time Series</p>
                    <div class="pop-up" id="spatial_summary">
                    <p>Generates climate summary time series over custom search areas. <br/>Click on the question mark for more information!</p>
                    </div>
                    <a  href="{{SPATIAL_GRID_SUMMARY}}"><img class="app_img" alt="RiskMaps" title="RiskMaps" src="{{MEDIA_URL}}img/Area_TS.png"></a>
                </td>
                <td valign="top">
                    <p>* Temporal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_CLIM_SUM_MAP')"><br/>Summary Maps</p>
                    <div class="pop-up">                        
                    <p>Generates climate summary maps for different elements, time ranges and region using NRCC interpolated data. <br/>Click on the question mark for more information!</p>
                    </div>
                    <a  href="{{TEMPORAL_GRID_SUMMARY}}"><img class="app_img" alt="SummaryMaps" title="SummaryMaps" src="{{MEDIA_URL}}img/ClimSumMap.png"></a>
                </td>
                <td valign="top">
                    <p>Gridded Data &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_DATA_GRIDDED')"><br />Lister</p>
                    <div class="pop-up">
                    <p>Get a listing of gridded data.<br/>Click on the question mark for more information!</p>
                    </div>
                    <a  href="{{DATA_URL}}/gridded/"><img class="app_img" alt="DataLister" title="DataLister" src="{{MEDIA_URL}}img/ClimateModel2.png"></a>
                </td>
            </tr>
            </table>

    </td>
    <td valign="top" width="25%">
           <h3 >Links to external Gridded/Modeled Data Applications</h3>
            <h4 align="center">Southwest US Applications</h4>
            <table frame="box" cellpadding="5px">
                <tr><td>
                <a id="us_wide" href="http://www.wrcc.dri.edu/monitor/cal-mon/frames_version.html" class="trigger_hover" target="_blank">WRCC-California Climate Tracker(<font color="red">CA</font>)</a>
                <div class="pop-up">
                    <p>Tracking Climate Variability and Change for the state of California.</p>
                </div>
                </td><td>
                <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_CalTracker')">
                </td></tr>
                <tr><td>
                <a id="us_wide" href="http://www.wrcc.dri.edu/monitor/nev-mon/index.html" class="trigger_hover" target="_blank">WRCC-Nevada Climate Tracker(<font color="red">NV</font>)</a>
                <div class="pop-up">
                <p>Tracking Climate Variability and Change for the state of Nevada.</p>
                </div>
                </td><td>
                <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_NevTracker')">
                </td></tr>
                <tr><td><a id="us_wide" target="_blank" href="http://www.cefa.dri.edu/Westmap/" class="trigger_hover">WRCC-Westmap</a>
                <div class="pop-up">
                    <p>Climate Analysis and Mapping Tool.</p>
                </div>
                </td><td>
                <!--style="border:4px solid #FF007F" -->
                <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_WESTMAP')">
                </td></tr>
            </table>
 

            <h4 align="center">US-Wide Applications</h4>
            
                <table frame="box" cellpadding="5px">
                    <tr><td>
                    <a id="us_wide" href="http://www.wrcc.dri.edu/cwd/products/" class="trigger_hover">WRCC-North American Freezing Level Tracker</a>
                    <div class="pop-up">
                        <p>Track through time the height of the freezing level above sea level.</p>
                    </div>
                    </td><td>
                   <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png"  onclick="ShowPopupDocu('Docu_FreezTracker')">
                    </td></tr>
                </table>
    </td>
    </table>
 <!-- Footer -->
<!--
    <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{HTML_URL}}/Footers.html .footer-partners");
    </script>
-->
{%endblock%}
