{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Climate Applications">

{% block content %}
<!--
<p align="center">You are here 
<a href="{{HOME_URL}}scenic/">Home></a>
<a href="{{TOOLS_URL}}">Data Analysis></a>
<a href="{{GRID_TOOLS_URL}}">Gridded Data Tools</a>
-->
<!-- Documentation-->
<div class="docu" id="Docu_CLIM_SUM_MAP" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_CLIM_SUM_MAP").load("{{HTML_URL}}/Docu_CLIM_SUM_MAP.html");
    </script>
<div class="docu" id="Docu_AREA_TIME_SERIES" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_AREA_TIME_SERIES").load("{{HTML_URL}}/Docu_AREA_TIME_SERIES.html");
    </script>
<div class="docu" id="Docu_DATA_GRIDDED" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_DATA_GRIDDED").load("{{HTML_URL}}/Docu_About_gridded_data.html");
    </script>
<div class="docu" id="Docu_GRID_SODXTRMTS" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_GRID_SODXTRMTS").load("{{HTML_URL}}/Docu_GRID_SODXTRMTS.html");
    </script>
<div class="docu" id="Docu_NONE" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_NONE").load("{{HTML_URL}}/Docu_NONE.html");
    </script>

<table cellpadding="20" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
       <td valign="top"><a class="trigger_hover" href="{{GRID_SODXTRMTS_URL}}"><b>Single gridpoint statistics</b></a>
       <div class="pop-up">
       <p>Obtain monthly and anual means and extremes for individual gridpoints.<br />Generate customized time series from results.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_GRID_SODXTRMTS')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{GRID_SPATIAL_SUMMARY_URL}}"><b>Spatial Summaries</b></a>
       <div class="pop-up">
       <p>Computes max/min/mean/sum over custom search areas and generates time series.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_AREA_TIME_SERIES')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{GRID_TEMPORAL_SUMMARY_URL}}"><b>Temporal Summaries</b></a>
       <div class="pop-up">
       <p>Generates climate summary maps for US states.<br />Only available for NRCC interpolated data.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_CLIM_SUM_MAP')">
       </td>
    </tr>
    <tr>
       <td colspan="2">
       <a  href="{{GRID_SODXTRMTS_URL}}" class="trigger_hover"><img class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/Sodxtrmts.png"></a> 
        <div class="pop-up">
       <p>Obtain monthly and anual means and extremes for individual gridpoints.<br />Generate customized time series from results.</p>
       </div>
       </td>
       <td colspan="2">
       <a  href="{{GRID_SPATIAL_SUMMARY_URL}}" class="trigger_hover"><img class="app_img" alt="SpatialSummary" title="SpatialSummary" src="{{MEDIA_URL}}img/Area_TS.png"></a>
       <div class="pop-up">
       <p>Computes max/min/mean/sum over custom search areas and generates time series.</p>
       </div>
       </td>
       <td colspan="2">
       <a  href="{{GRID_TEMPORAL_SUMMARY_URL}}" class="trigger_hover"><img class="app_img" alt="TemporalSummary" title="TemporalSummary" src="{{MEDIA_URL}}img/ClimSumMap.png"></a>
       <div class="pop-up">
       <p>Generates climate summary maps for US states.<br />Only available for NRCC interpolated data.</p>
       </div>
       </td>
   </tr>
   <tr></tr>
   <tr></tr>
   <tr></tr>
    <tr>
       <td valign="top"><a class="trigger_hover" href="{{GRID_DATA_URL}}"><b>Gridded Data Lister</b></a>
        <div class="pop-up">
       <p>Get a listing of gridded data for one or multiple gridpoints.<br/>Queries are customizable over spatial and temoral extend.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_DATA_GRIDDED')"></td>
       <td valign="top"><a class="trigger_hover" href="{{GRID_TOOLS_URL}}google_ee/"><b>Google Earth Engine</b></a>
       <div class="pop-up">
       <p>Explore geospatial datasets with Google's Earth Engine!</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_EE')"></td>
       <td></td>
    </tr>
    <tr>
    <td colspan="2">
    <a  href="{{GRID_DATA_URL}}" class="trigger_hover"><img class="app_img" alt="DataLister" title="DataLister" src="{{MEDIA_URL}}img/ClimateModel2.png"></a> 
    <div class="pop-up">
    <p>Get a listing of gridded data for one or multiple gridpoints.<br/>Queries are customizable over spatial and temoral extend.</p>
    </div>
    </td> 
    <td colspan="2">
    <a  href="{{GRID_TOOLS_URL}}google_ee/" class="trigger_hover"><img class="app_img" alt="EE" title="EE" src="{{MEDIA_URL}}img/EE_small.png"></a>
    </td>
    <td colspan="2"></td>
    </tr>
    </table>
</td>
</table>
{%endblock%}
