
{% extends "base.html" %}


{% block content %}


<h1 align='center'>{{title}}</h1>
<h2 align="center" style="color:red;">Subject to further testing!</h2>
    <table align = "center">
    <td class="unpadded"><a href="{{URL_PREFIX}}wrcc_apps/cemp/"</a>Cemp Test</td>
    <td class="unpadded"><a href="{{URL_PREFIX}}wrcc_apps/nevcan/"</a>NevCAN Test</td>
    <td class="unpadded">
    <!-- Site navigation menu -->
    <ul class="navbar">
     <a href="{{URL_PREFIX}}wrcc_apps/Sodrun/" class="trigger_hover">SODRUN</a>
     <div class="pop-up" id="sr">
       <p><font size="4">Computes runs of consecutive days meeting certain criteria.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodrun.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodrunr/" class="trigger_hover">SODRUNR</a>
     <div class="pop-up" id="srr">
       <p><font size="4">Computes runs of consecutive days meeting certain criteria.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodrunr.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodlist/" class="trigger_hover">SODLIST</a>
     <div class="pop-up" id="sl">
     <p><font size="4">Summary of the day (SOD) data lister.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodlist.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodmonline/" class="trigger_hover">SODMONLINE</a>
     <div class="pop-up" id="sm">
     <p><font size="4">Lists all the days of a month, one element, on a single line. Steps through all years chronologically.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodmonline.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodmonlinemy/" class="trigger_hover">SODMONLINEMY</a>
     <div class="pop-up" id="smy">
     <p><font size="4">Lists all the days of a month, one element, on a single line. Organized by month, then by year:  all Jans, all Febs, all Mars, etc.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodmonlinemy.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodcnv/" class="trigger_hover">SODCNV</a>
     <div class="pop-up" id="cnv">
     <p><font size="4">Converts to a character file; for internal use.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodcnv.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodsum/" class="trigger_hover">SODSUM</a>
     <div class='pop-up' id="ss">
     <p><font size="4">Reads station data and provides report on completeness.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodsum.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Soddyrec/" class="trigger_hover">SODDYREC</a>
     <div class='pop-up' id="sdr">
     <p><font size="4">Finds daily records.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/soddyrec.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Soddynorm/" class="trigger_hover">SODDYNORM</a>
     <div class='pop-up' id='sdn'>
     <p><font size="4">Finds daily normals for maxt, mint, pcpn using either a Gaussian filter or a running mean.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/soddynorm.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Soddd/" class="trigger_hover">SODDD</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Finds degree day information from the SOD data set.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/soddd.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodpad/" class="trigger_hover">SODPAD</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Reads in daily precipitation data and computes the number of times that a range of threshold amounts was equalled.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodpad.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodsumm/" class="trigger_hover">SODSUMM</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Summarizes various climate data in MICIS (Midwest Climate Information System) format.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodsumm.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodpct/" class="trigger_hover">SODPCT</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Determines percentiles of distributions of climate elements.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodpct.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a> 

     <a href="{{URL_PREFIX}}wrcc_apps/Sodthr/" class="trigger_hover">SODTHR</a>
     <div class='pop-up' id='sdthr'>
     <p><font size="4">Finds latest or earliest occurrences of element data above or below threshold.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodthr.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodxtrmts/" class="trigger_hover">SODXTRMTS</a>
     <div class='pop-up' id='sdxtrmts'>
     <p><font size="4">Produces monthly and annual time serie of a large number of properties derived from SOD data.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodxtrmts.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     <a href="{{URL_PREFIX}}wrcc_apps/Sodpiii/" class="trigger_hover">SODPIII</a>
     <div class='pop-up' id='sdpiii'>
     <p><font size="4">Calculates annual time serie of extreme values of a climate variable.</font></p>
     </div>
     <a class="docu_long" href="{{ MEDIA_URL }}img/sodpiii.d"><img alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">...more</a>

     </ul>
    </td></table>

    <!-- 
    <a onClick="ShowHide('sr')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sl')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sm')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('smy')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('cnv')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('ss')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sdr')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sdn')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    -->
{% endblock %}

