
{% extends "base.html" %}


{% block content %}

<div class="docu" id="Docu_Sodrun" style="display:none;">{% include 'includes/Docu_sodrun.html'%}</div>
<div class="docu" id="Docu_Sodlist" style="display:none;">{% include 'includes/Docu_sodlist.html'%}</div>
<div class="docu" id="Docu_Sodmonline" style="display:none;">{% include 'includes/Docu_sodmonline.html'%}</div>
<div class="docu" id="Docu_Sodmonlinemy" style="display:none;">{% include 'includes/Docu_sodmonlinemy.html'%}</div>
<div class="docu" id="Docu_Sodcnv" style="display:none;">{% include 'includes/Docu_sodcnv.html'%}</div>
<div class="docu" id="Docu_Sodsum" style="display:none;">{% include 'includes/Docu_sodsum.html'%}</div>
<div class="docu" id="Docu_Soddyrec" style="display:none;">{% include 'includes/Docu_soddyrec.html'%}</div>
<div class="docu" id="Docu_Soddynorm" style="display:none;">{% include 'includes/Docu_soddynorm.html'%}</div>
<div class="docu" id="Docu_Soddd" style="display:none;">{% include 'includes/Docu_soddd.html'%}</div>
<div class="docu" id="Docu_Sodpad" style="display:none;">{% include 'includes/Docu_sodpad.html'%}</div>
<div class="docu" id="Docu_Sodsumm" style="display:none;">{% include 'includes/Docu_sodsumm.html'%}</div>
<div class="docu" id="Docu_Sodthr" style="display:none;">{% include 'includes/Docu_sodthr.html'%}</div>
<div class="docu" id="Docu_Sodxtrmts" style="display:none;">{% include 'includes/Docu_sodxtrmts.html'%}</div>
<div class="docu" id="Docu_Sodpiii" style="display:none;">{% include 'includes/Docu_sodpiii.html'%}</div>
<div class="docu" id="Docu_Sodpct" style="display:none;">{% include 'includes/Docu_sodpct.html'%}</div>

<h1 align='center'>{{title}}</h1>
    <table align="center"> 
    <td class="unpadded" align="right">
    <!-- Site navigation menu -->
    <ul class="doc-navbar">
     <li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodrun/" class="">SODRUN</a>
     <div class="pop-up" id="sr">
       <p><font size="4">Computes runs of consecutive days meeting certain criteria.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodrun')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodrunr/" class="">SODRUNR</a>
     <div class="pop-up" id="srr">
       <p><font size="4">Computes runs of consecutive days meeting certain criteria.</font></p>
     </div>
     <img onclick="ShowPopupDocu('Docu_Sodrunr')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodlist/" class="">SODLIST</a>
     <div class="pop-up" id="sl">
     <p><font size="4">Summary of the day (SOD) data lister.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodlist')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodmonline/" class="">SODMONLINE</a>
     <div class="pop-up" id="sm">
     <p><font size="4">Lists all the days of a month, one element, on a single line. Steps through all years chronologically.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodmonline')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li>
     <li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodmonlinemy/" class="">SODMONLINEMY</a>
     <div class="pop-up" id="smy">
     <p><font size="4">Lists all the days of a month, one element, on a single line. Organized by month, then by year:  all Jans, all Febs, all Mars, etc.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodmonlinemy')"  alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li>
     <!--
     <li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodcnv/" class="">SODCNV</a>
     <div class="pop-up" id="cnv">
     <p><font size="4">Converts to a character file; for internal use.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodcnv')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li>-->
     <li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodsum/" class="">SODSUM</a>
     <div class='pop-up' id="ss">
     <p><font size="4">Reads station data and provides report on completeness.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodsum')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Soddyrec/" class="">SODDYREC</a>
     <div class='pop-up' id="sdr">
     <p><font size="4">Finds daily records.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Soddyrec')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Soddynorm/" class="">SODDYNORM</a>
     <div class='pop-up' id='sdn'>
     <p><font size="4">Finds daily normals for maxt, mint, pcpn using either a Gaussian filter or a running mean.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Soddynorm')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Soddd/" class="">SODDD</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Finds degree day information from the SOD data set.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Soddd')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodpad/" class="">SODPAD</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Reads in daily precipitation data and computes the number of times that a range of threshold amounts was equaled.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodpad')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodsumm/" class="">SODSUMM</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Summarizes various climate data in MICIS (Midwest Climate Information System) format.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodsumm')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodpct/" class="">SODPCT</a>
     <div class='pop-up' id='sdd'>
     <p><font size="4">Determines percentiles of distributions of climate elements.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodpct')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30"> 
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodthr/" class="">SODTHR</a>
     <div class='pop-up' id='sdthr'>
     <p><font size="4">Finds latest or earliest occurrences of element data above or below threshold.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodthr')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodxtrmts/" class="">SODXTRMTS</a>
     <div class='pop-up' id='sdxtrmts'>
     <p><font size="4">Produces monthly and annual time series of a large number of properties derived from SOD data.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodxtrmts')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
     </li><li>
     <a href="{{URL_PREFIX}}wrcc_apps/Sodpiii/" class="">SODPIII</a>
     <div class='pop-up' id='sdpiii'>
     <p><font size="4">Calculates annual time series of extreme values of a climate variable.</font></p>
     </div>&nbsp;&nbsp;&nbsp;
     <img onclick="ShowPopupDocu('Docu_Sodpiii')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
    <br /><br />
    <li class="unpadded" align="right"><a href="{{URL_PREFIX}}wrcc_apps/cemp/"</a>Cemp Test &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <br />
    <li class="unpadded" align="right"><a href="{{URL_PREFIX}}wrcc_apps/nevcan/"</a>NevCAN Test&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
     </ul>
    </td></table>

    <!-- 
    <a onClick="ShowHide('sr')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sl')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sm')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('smy')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('cnv')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('ss')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sdr')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    <a onClick="ShowHide('sdn')"><img alt="Help" title="Help" height="15" width="15" src="{{ MEDIA_URL }}img/QMark.png"></a>
    -->
{% endblock %}

