{% extends "wrcc_base.html" %}

{% block content %}
{%load my_wrcc_meta_filters%}
<div class="docu" id="Docu_Soddynorm" style="display:none;">{% include 'includes/Docu_soddynorm.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Soddynorm')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
<br/>
<br/>
{%endif %}

{%if results %}
<div class="results">
{%for stn, stn_data in results.items %}
{%if not stn_data%}
    <p style="color:red">NO STATION DATA FOUND!</p><br/>
{%else%}
    <h3><b>Station</b>: {{station_names|lookup:stn|safe}} ({{station_ids|lookup:stn|safe}})</h3>
    <div class="dataTableInfo" id="dataTableInfo-{{forloop.counter0}}" style="display:none;">
        {{station_names|lookup:stn|safe}}({{station_ids|lookup:stn|safe}}),
        normals {{start_date}}-{{end_date}},
        filter {{filter_type}},number_of_days {{filter_days}}
        
    </div>
    <table class="dataTable nowrap" id="dataTable-{{forloop.counter0}}" border="1">
    {%for day_data in stn_data%}
    {%if forloop.counter == 1%}
        <thead><tr>
        {%for val in day_data%}
            <th>{{val}}</th>
        {%endfor%}
        </tr></thead>
        <tfoot><tr>
        {%for val in day_data%}
            <th>{{val}}</th>
        {%endfor%}
        </tr></tfoot>
        <tbody>
    {%else%}
        <tr>
        {%for val in day_data%}
            <td>{{val}}</td>
        {%endfor%}
        </tr>
    {%endif%}
    {%endfor%}
        </tbody>  
    </table>
    {%endif%}
    {%endfor%}
</div><!--results-->
{%endif%}

{% endblock %}
