{% extends "wrcc_base.html" %}
{%load my_wrcc_meta_filters%}
<head>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
</head>


{% block content %}

<div class="docu" id="Docu_Soddyrec" style="display:none;">{% include 'includes/Docu_soddyrec.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Soddyrec')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	    <table class="sortable form">{{ form2|safe }}</table>
        <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
{%endif%}


{%if results%}
<div class="results">

<p align="left" style="max-width:95%;word-wrap:break-word;">
    <b>Cooling degree threshold</b>: 65.00; <b>Heating degree threshold</b>: 65.00</br>
    <b>MON</b>: Month</br>
    <b>DAY</b>: Day</br>
    <b>AVGT</b>: Multi-year non-smoothed average of the indicated quantity</br>
    <b>EXTRM</b>: Extreme value of indicated quantity for this day of year(<b>LO</b>W for mint, <b>HI</b>GH for all other elements)</br>
    <b>YEAR</b>: Latest year of occurrence of the extreme value</br>
    <b>NO</b>: Number of years with data for this day of year.</br>
    <b>UNITS</b>: English (inches and degrees F)</br>
</p>
</br>
<br />

{%for stn, stn_data in results.items %}
    <h3><b>Station</b>: {{station_names|lookup:stn|safe}} ({{station_ids|lookup:stn|safe}})</h3>
    {%if not stn_data%}
    <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
    {%for el, el_data in stn_data.items%}
        <div style="display:none" class="dataTableInfo" id="dataTableInfo-{{forloop.parentloop.counter0}}_{{forloop.counter0}}">
            {{station_names|lookup:stn|safe}}({{station_ids|lookup:stn|safe}}),
            {{elements|lookup:el|safe}},
            averages_and_extremes {{start_date}}-{{end_date}}
        </div>
        <table class="dataTable nowrap" id="dataTable-{{forloop.parentloop.counter0}}_{{forloop.counter0}}" border=1>
        <thead>
        <tr><th colspan=8>{{elements|lookup:el|safe}}</th></tr>
        <tr>
        {%if elements|lookup:el == "pcpn" or elements|lookup:el == "snow" or elements|lookup:el == "snwd"%}
        <th>MON</th><th>DAY</th><th>AVGT</th><th>NO</th><th>HI</th><th>YEAR</th>
        {%else%}
        <th>MON</th><th>DAY</th><th>AVGT</th><th>NO</th><th>HI</th><th>YEAR</th><th>LO</th><th>YEAR</th>
        {%endif%}
        </tr>
        </thead>
        <tfoot>
        <tr>
        {%if elements|lookup:el == "pcpn" or elements|lookup:el == "snow" or elements|lookup:el == "snwd"%}
        <th>MON</th><th>DAY</th><th>AVGT</th><th>NO</th><th>HI</th><th>YEAR</th>
        {%else%}
        <th>MON</th><th>DAY</th><th>AVGT</th><th>NO</th><th>HI</th><th>YEAR</th><th>LO</th><th>YEAR</th> 
        {%endif%}
        </tr>
        </tfoot>  
        <tbody>
        {%for vals in el_data %}
            <tr>
            {%if elements|lookup:el == "pcpn" or elements|lookup:el == "snow" or elements|lookup:el == "snwd"%}
                <td>{{vals.0}}</td><td>{{vals.1}}</td><td>{{vals.2}}</td><td>{{vals.3}}</td><td>{{vals.4}}</td><td>{{vals.5}}</td>
            {%else%}
                <td>{{vals.0}}</td><td>{{vals.1}}</td><td>{{vals.2}}</td><td>{{vals.3}}</td><td>{{vals.4}}</td><td>{{vals.5}}</td><td>{{vals.6}}</td><td>{{vals.7}}</td>
            {%endif%}
            </tr>
        {%endfor%}
        </tbody>
        </table>
    {%endfor%}
    {%endif%}
{%endfor%}<!--End station loop-->
    </div><!--results-->
{%endif%}<!--end if results-->

{% endblock %}
