{% extends "base.html" %}

{% block content %}
{%load my_wrcc_meta_filters%}
<div class="docu" id="Docu_Soddd" style="display:none;">{% include 'includes/Docu_soddd.html'%}</div>
<h1 align='center'>{{title}}     
<img onclick="ShowPopupDocu('Docu_Soddd')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{% endif %}



{%if results %}
    <p>DEGREE DAYS {{a_b}} BASE TEMPERATURE {{base_temp}}</br>
    SKIP DAYS WITH MAXIMUM ABOVE: {{skip_max_above}}</br>
    SKIP DAYS MINIMUM BELOW :{{skip_min_below}}</br>
    TRUNCATES MAXIMUMS ABOVE: {{trunc_high}}</br>
    TRUNCATES MINIMUMS BELOW: {{trunc_low}}</br>
    UP TO {{max_miss}} DAYS MAY BE ESTIMATED FROM MEAN DAILY NORMALS</br>
    NCDC ROUND-OFF PROCEDURE IS {%if not ncdc_round%}NOT{%endif%} SIMULATED{%if not ncdc_round%}, EXACT ROUND-OFF USED{%endif%}</br>
    STARTING YEAR : {{start_year}}  ENDING YEAR : {{end_year}}</br>
    </p>

    {%if monthly%}
        <p>FLAG FOLLOWING VALUE GIVES NUMBER OF MISSING DAYS :</br> 
        a = 1 DAY, b = 2 DAYS, ..., z = 26+ DAYS MISSING</br>
        </p>
    {%else%}
        <p>
        -99 = MISSING DATA OR NON-EXISTENT DAYS </br>
        AV = DAILY AVERAGE.  YR = NUMBER OF YEARS FOR THIS DAY.</br>
        </p>
    {%endif%}
    
    {%for stn, stn_data in results.items %}
        <div class="dataTableInfo" align="left" style="max-width:95%;word-wrap:break-word;">
        <h2>STATION: {{station_names|lookup:stn|safe}}&nbsp;&nbsp;&nbsp;NUMBER: {{station_ids|lookup:stn|safe}}</h2>
        </div>

        <table class="dataTable nowrap" border="1" width="760px" cellspacing="0" cellpadding="0">
        {%for row_data in stn_data%}
            {%if forloop.counter == 1%}
                <thead><tr>
                {%for val in row_data%}
                    <th>{{val}}</th>
                {%endfor%}
                </tr></thead>
                <tfoot><tr>
                {%for val in row_data%}
                    <th>{{val}}</th>
                {%endfor%}
                </tr></tfoot>
                <tbody>
            {%else%}
                <tr>
                {%for val in row_data%}
                    <td>{{val}}</td>
                {%endfor%}
                </tr>
            {%endif%} 
        {%endfor%}
        </table>
    {%endfor%}  
{%endif%}

{% endblock %}
