{% extends "wrcc_base.html" %}

<head>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
{%load my_wrcc_apps_filters%}
</head>


{% block content %}
<div class="docu" id="Docu_Sodlist" style="display:none;">{% include 'includes/Docu_sodlist.html'%}</div>

<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodlist')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>


 <table border=0 align="right">
  <form id="form1" method="post" action="">{% csrf_token %}
     <table class="sortable form">{{ form|safe }}</table>
     <input type="submit" value="Submit" name="Sodlist"/>
     </form>
 </table>
    <br/>

{%if results%}
<div class="results">
<p>
    <b>STATION</b>: {{params.station_id}} &nbsp;&nbsp;&nbsp; {{station_name}}<br/>
    <b>START DATE - END DATE</b>: {{params.start_date}}-{{params.end_date}}<br/>
    <b>WINDOW</b>: {{params.start_window}}-{{params.end_window}}<br/>
    <b>F = FLAG, T = OBSERVATION TIME, T=-1 --> NO OBSERVATION TIME REPORTED</b>
</p>
<br/><br/>


<div class="dataTableInfo" id="dataTableInfo-0" style="display:none">
    {{station_name}}({{params.station_id}}),
    daily_data {{params.start_date}}-{{params.end_date}},
    window {{params.start_window}}-{{params.end_window}}
</div>
<table class="dataTable nowrap" id="dataTable-0" border="1">
    {%for date_data in results.data %}
    {%if forloop.counter == 1%}
    <thead><tr>
    {%for val in date_data%}
        <th>{{val}}</th>
    {%endfor%}
    </tr></thead>
    <tfoot><tr>
    {%for val in date_data%}
        <th>{{val}}</th>
    {%endfor%}
    </tr></tfoot>
    <tbody>
    {%else%}
        <tr>
        {%for val in date_data%}
        <td>{{val}}</td>
        {%endfor%}
        </tr>
    {%endif%}
    {%endfor%}
    </tbody>
</table>

{%if not results.data %}
<p class="error">No data were found for these parameters!</p>
{%endif%}
</div><!--results-->
{%endif%}<!--end if results-->

{% endblock %}
