{% extends "wrcc_base.html" %}

<head>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
{%load my_wrcc_apps_filters%}
</head>


{% block content %}
<div class="docu" id="Docu_Sodlist" style="display:none;">{% include 'includes/Docu_sodlist.html'%}</div>

<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodlist')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>


 <table border=0 align="right">
  <form id="form1" method="post" action="">{% csrf_token %}
     <table class="sortable form">{{ form|safe }}</table>
     <input type="submit" value="Submit" name="Sodlist"/>
     </form>
 </table>


{%if results%}
<div class="dataTableInfo" id="dataTableInfo">
:STATION NUMBER {{params.station_id}} &nbsp;&nbsp;&nbsp; {{station_name}}<br />
:OVERALL PERIOD CONSIDERED: {{params.start_date}}-{{params.end_date}}<br />
:WINDOW: {{params.start_window}}-{{params.end_window}}<br />
<!--:F1 AND F2 ARE ABBREVIATIONS FOR FLAG1, FLAG2<br />-->
:F = FLAG, T = OBSERVATION TIME, T=-1 --> NO OBSERVATION TIME REPORTED
</div>
<br /><br />


<table class="dataTable nowrap" id="dataTable" border="1" width="760px" cellspacing="0" cellpadding="0">
    {%for date_data in results.data %}
    {%if forloop.counter == 1%}
    <thead><tr>
    {%for val in date_data%}
        <th>{{val}}</th>
    {%endfor%}
    </tr></thead>
    <tfoot><tr>
    {%for val in date_data%}
        <th>{{val}}</th>
    {%endfor%}
    </tr></tfoot>
    <tbody>
    {%else%}
        <tr>
        {%for val in date_data%}
        <td>{{val}}</td>
        {%endfor%}
        </tr>
    {%endif%}
    {%endfor%}
    </tbody>
</table>

{%if not results.data %}
<p class="error">No data were found for these parameters!</p>
{%endif%}
{%endif%}<!--end if results-->



{% endblock %}
