{% extends "wrcc_base.html" %}

<head>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
{%load my_wrcc_apps_filters%}
</head>


{% block content %}
<div class="docu" id="Docu_Sodmonline" style="display:none;">{% include 'includes/Docu_sodmonline.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodmonline')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form|safe }}</table>
         <input type="submit" value="Submit" name="Sodlist"/>
         </form>
     </table>

<br /><br />
{%if results%}
<div class="results">
<p>
    <b>STATION</b>: {{params.station_id}} {{station_name}}<br />
    <b>ELEMENT (UNITS)</b>: {{params.element}} ({{params.units}}) <br/>
    <b>START YEAR - END YEAR</b>: {{params.start_date}} - {{params.end_date}}<br /> 
</p><br /><br />

<div class="dataTableInfo" id="dataTableInfo-0" style="display:none">
    {{station_name}}({{params.station_id}}),
    {{params.element}}({{params.units}}),
    monthly_data {{params.start_date}}-{{params.end_date}},
</div>
<table class="dataTable nowrap" id="dataTable-0" border="1">
    <thead><tr>
    <th>YR</th><th>MO</th>
    {%for day in 1|make_range:31%}
        <th>{{day}}</th>
    {%endfor%}
    </tr></thead>
    <tfoot><tr>
    <th>YR</th><th>MO</th>
    {%for day in 1|make_range:31%}
        <th>{{day}}</th>
    {%endfor%}
    </tr></tfoot>
    <tbody>
    {%for date_data in results.data %}
    <tr>
    {%for val in date_data%}
    <td>{{val}}</td>
    {%endfor%}
    </tr>
    {%endfor%}
    </tbody>
</table>

{%if results.error %}
<p class="error">{{results.error}}</p>
{%endif%}
</div><!--results-->
{%endif%}<!--end if results-->


{% endblock %}
