{% extends "base.html" %}

<head>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
{%load my_wrcc_apps_filters%}
</head>


{% block content %}
<div class="docu" id="Docu_Sodmonline" style="display:none;">{% include 'includes/Docu_sodmonline.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodmonline')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form|safe }}</table>
         <input type="submit" value="Submit" name="Sodlist"/>
         </form>
     </table>

<br /><br />
{%if results%}
<div class="dataTableInfo"  align="left" style="max-width:95%;word-wrap:break-word;">
    <b>:LOCATION</b> {{params.station_id}} &nbsp;&nbsp;&nbsp; {{station_name}}<br />
    <b>:START YEAR</b> {{params.start_date}} &nbsp;&nbsp;&nbsp; <b>END YEAR</b> {{params.start_date}}<br /> 
    <b>:ELEMENT</b> {{params.element}}<br />
    <b>:UNITS</b> {{params.units}} <br/>
</div><br /><br />

<!--<table style="text-align:right;cell-padding:none;">-->
<!--<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">-->
<table class="dataTable nowrap"  border="1" width="760px" cellspacing="0" cellpadding="0">
<thead><tr>
<th>YR</th><th>MO</th>
{%for day in 1|make_range:31%}
    <th>{{day}}</th>
{%endfor%}
</tr></thead>
<tfoot><tr>
<th>YR</th><th>MO</th>
{%for day in 1|make_range:31%}
    <th>{{day}}</th>
{%endfor%}
</tr></tfoot>
<tbody>
{%for date_data in results.data %}
<tr>
{%for val in date_data%}
<!--<td align="right" width="char">&nbsp;&nbsp;{{val}}</td>-->
<!--<td align="left" width="6em">{{val}}</td>-->
<td>{{val}}</td>
{%endfor%}
</tr>
{%endfor%}
</tbody>
</table>

{%if results.error %}
<p class="error">{{results.error}}</p>
{%endif%}

{%endif%}<!--end if results-->


{% endblock %}
