{% extends "wrcc_base.html" %}

{% block content %}
{%load my_wrcc_meta_filters%}
<div class="docu" id="Docu_Sodpad" style="display:none;">{% include 'includes/Docu_sodpad.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodpad')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif %}

{%if results %}
  {%for stn, stn_data in results.items %}
    <div class="dataTableInfo" align="left" style="max-width:95%;word-wrap:break-word;">
    PRECIPITATION-DURATION-FREQUENCY TABLES FOR STATION: {{station_ids|lookup:stn|safe}} {{station_names|lookup:stn|safe}}</br>
    BASED ON PERIOD {{start_year}} TO {{end_year}}</br>
    NUMBER OF YEARS: {{num_yrs}}
    </div>
    </br>

    {%if not stn_data%}
        <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
        {%for doy, doy_data in stn_data.items %}
            <table class="dataTable nowrap" border="1" width="760px" cellspacing="0" cellpadding="0">
            {%for dur in doy_data %}
                {% if forloop.counter == 1 %}
                    <thead>
                        <tr>
                            {% for val in dur%}<th>{{val}}</th>{%endfor%}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {% for val in dur%}<th>{{val}}</th>{%endfor%}
                        </tr>
                    </tfoot>
                    </tbody>
                {% else %}
                    <tr>
                        {% for val in dur%}<td>{{val}}</td>{%endfor%}
                    </tr>
                {% endif %}
            {%endfor%}
            </tbody>
            </table><br />
        {%endfor%}
    {%endif%}
  {%endfor%}
{%endif%}
{% endblock %}
