{% extends "wrcc_base.html" %}
{%load my_wrcc_meta_filters%}
{% block content %}
<div class="docu" id="Docu_Sodpiii" style="display:none;">{% include 'includes/Docu_sodpiii.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodpiii')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<input type="hidden" id="app_name" value="sodpiii">
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif%}

{%if results_0 %}
<div class="results">
  {%for stn, stn_data in results_0.items %}
    {%if not stn_data%}
    <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
    {%for tbl_idx, table in stn_data.items%}
    <div class="stronger dataTableInfo" id="dataTableInfo-{{forloop.parentloop.counter0}}_{{forloop.counter0}}">
        STATION NUMBER: {{station_ids|lookup:stn|safe}}&nbsp;&nbsp;LOCATION:{{station_names|lookup:stn|safe}}</br>
        START MONTH {{start_month}} END MONTH {{end_month}}</br>
        ELEMENT {{el_type}} UNITS {{units}}</br>
        DURATION {{duration|lookup:forloop.counter0}}</br>
    </div></br>
    <table class="dataTable nowrap" id="dataTable-{{forloop.parentloop.counter0}}_{{forloop.counter0}}" border="1" width="760px" cellspacing="0" cellpadding="0">
        <thead><tr>
                <td>Year</td><td>Value</td><td>Start Date(mmdd)</td><td>Days Missing</td>
            </tr></thead>
        <tfoot><tr>
                <td>Year</td><td>Value</td><td>Start Date(mmdd)</td><td>Days Missing</td>
            </tr></tfoot>
        <tbody>
            {%for row in table%}
                <tr>{%for val in row%}<td>{{val}}</td>{%endfor%}</tr>
            {%endfor%}
        </tbody>
    </table>
    {%endfor%}
    {%endif%}
  {%endfor%}
{%endif%}

{%if results %}
  {%for stn, stn_data in results.items %}
    {%if not stn_data%}
    <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}

    {%for tbl_idx, table in stn_data.items%}
        <table class="dataTable nowrap" id="dataTable-{{forloop.parentloop.counter0}}_{{forloop.counter0}}" border="1" width="760px" cellspacing="0" cellpadding="0">
            <thead><tr>
                <td>Prob of non-exceedance</td><td>Prob of exceedance</td><td>Return Interval</td><td>Value in Std. Dev.</td><td>Value in Absolute Units</td>
            </tr></thead>
            <tfoot><tr>
                <td>Prob of non-exceedance</td><td>Prob of exceedance</td><td>Return Interval</td><td>Value in Std. Dev.</td><td>Value in Absolute Units</td>
            </tr></tfoot>
            <tbody>
            {%for row in table %}
                <tr>
                {%for val in row%}<td>{{val}}</td>{%endfor%}
                </tr>
            {%endfor%}
            </tbody>
       </table>
    {%endfor%}
    {%endif%}
  {%endfor%}
</div><!--results-->
{%endif%}

{% endblock %}
