{% extends "wrcc_base.html" %}
{%load my_wrcc_meta_filters%}
{% block content %}

<div class="docu" id="Docu_Sodpct" style="display:none;">{% include 'includes/Docu_sodpct.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodpct')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30"> 
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif%}

{%if results %}
  <p>
Mon - Month</br>
&nbsp;Dy  - Day</br>
&nbsp;Nd  - Number of days lumped together, commencing on this date</br>
&nbsp;M   - Method of aggregation:</br>
&nbsp;&nbsp;I - Individual Days</br>
&nbsp;&nbsp;A - Averages or sums over the period</br>
&nbsp;Low - Lowest in sample</br>
&nbsp;Num - Number of years used in this day's sample</br>
&nbsp;High- Highest in sample</br>


  </p>
  {%for stn, stn_data in results.items %}
    
    <div class="dataTableInfo" id="dataTableInfo-{{forloop.counter0}}" align="left" style="max-width:95%;word-wrap:break-word;">
    <p class="stronger" style="color:darkblue">Station: ({{station_ids|lookup:stn|safe}}) {{station_names|lookup:stn|safe}}</br>
    START YEAR {{start_year}} END YEAR {{end_year}}</br>
    ELEMENT {{element}} UNITS {{units}}</br>
    INDIVIDUAL OBSERVATIONS FOR THE  {{number_days_ahead}}  DAY(S) STARTING ON THE LISTED DATE</br>
    {%if threshold%}
    VALUES {{op}} THAN {{threshold}} ONLY.</br>
    {%endif%}
    </div></br>

    {%if not stn_data%}
        <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
    
    <table class="dataTable nowrap" id="dataTable-{{forloop.counter0}}" border="1" width="760px" cellspacing="0" cellpadding="0">
    {%for doy_data in stn_data %}
        {%if forloop.counter == 1%}
            <thead>
                <tr>
                {%for dat in doy_data %}
                    <th>{{dat}}</th>
                {%endfor%}
                </tr>
            </thead>
            <tfoot>
                <tr>
                {%for dat in doy_data %}
                    <th>{{dat}}</th>
                {%endfor%}
                </tr>
            </tfoot>
            <tbody>
        {%else%}
            <tr>
            {%for dat in doy_data %}
                <td>{{dat}}</td>
            {%endfor%}
            </tr>
        {%endif%}
    {%endfor%}
    </tbody>
    </table>
    {%endif%}<!--end if not stn_data-->   
  {%endfor%}<!--end for stn-->
{%endif%} <!--end if results-->

{% endblock %}
