{% extends "base.html" %}
{%load my_wrcc_meta_filters%}
{% block content %}

<div class="docu" id="Docu_Sodrun" style="display:none;">{% include 'includes/Docu_sodrun.html'%}</div>

<h1 align='center'>
    {{title}} <img onclick="ShowPopupDocu('Docu_Sodrun')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input id="form1Submit" type="submit" value="Select" name="stn_selection"/>
      </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
	  <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif%}

{%if results %}
  {%for stn, stn_data in results.items %}
    <p>STATION: ({{station_ids|lookup:stn|safe}})&nbsp;NAME:{{station_names|lookup:stn|safe}}</br>
     RUNS OF {{el}}&nbsp;{{op}}&nbsp;{{thresh}}</br>
     START: {{start_year}} END {{end_year}}</br>
     MINIMUM DURATION {{dur}}
    </p>
    {%if not stn_data%}
    <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
        {%for run in stn_data %}
          {{run}}</br>
        {%endfor%}
    {%endif%}
  {%endfor%}
{%endif%}
{% endblock %}
