{% extends "wrcc_base.html" %}
{%load my_wrcc_meta_filters%}
{% block content %}

<div class="docu" id="Docu_Sodrunr" style="display:none;">{% include 'includes/Docu_sodrunr.html'%}</div>

<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodrunr')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready%}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif%}

{%if results %}
    <div class="results">
    {%for stn, stn_data in results.items %}
    <!--Header-->
    <p>STATION: ({{station_ids|lookup:stn|safe}})&nbsp;NAME:{{station_names|lookup:stn|safe}}</br>
        RUNS OF {{el}}&nbsp;{{op}}&nbsp;{{thresh}}</br>
        START: {{start_year}} END {{end_year}}</br>
        MINIMUM DURATION {{dur}}<br />
        SUMMARY: {{summary|lookup:stn|safe}}
    </p>
    {%if not stn_data%}
        <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
        <div class="dataTableInfo" style="display:none" id="dataTableInfo-{{forloop.counter0}}">
            {{station_ids|lookup:stn|safe}}_{{station_names|lookup:stn|safe}},
            runs_of_{{el}}_{{op}}_{{thresh}},{{start_year}}_{{end_year}}, min_dur_{{dur}}
        </div>
        <table class="dataTable nowrap" id="dataTable-{{forloop.counter0}}" border=1>
            {%if verbose%}
                <thead><tr>
                <th>Threshold Start End Days, Days threshold not met, Missing days</th>
                </tr></thead>
                <tfoot><tr>
                <th>Threshold Start End Days, Days threshold not met, Missing days</th>
                </tr></tfoot>
                <tbody>
                {%for run in stn_data %}
                <tr><td>{{run}}</td></tr>
                {%endfor%}
                </tbody>
            {%else%}
                <thead><tr>
                <th>Threshold</th><th>Start</th><th>End</th><th>Days</th>
                </tr></thead>
                <tfoot><tr>
                <th>Threshold</th><th>Start</th><th>End</th><th>Days</th>
                </tr></tfoot>
                <tbody>
                {%for run in stn_data %}
                <tr>
                {%for d in run%}
                <td>{{d}}</td>
                {%endfor%}
                </tr>
                {%endfor%}
                </tbody>
            {%endif%}
        </table>
    {%endif%}  <!--if not stn_data--> 
    {%endfor%}
</div><!--results-->
{%endif%}

{% endblock %}
