{% extends "wrcc_base.html" %}
{%load my_wrcc_meta_filters%}
{% block content %}

<div class="docu" id="Docu_Sodsumm" style="display:none;">{% include 'includes/Docu_sodsumm.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodsumm')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="sortable form">{{ form2|safe }}</table>
      <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif%}


{%if results %}
  <p>
  For monthly and annual mean, thresholds and sums:</br>
  Month with {{max_missing_days}} or more missing days are not considered</br>
  Years with one or more missing months are not considered</br>
  Two-digit years are departures from 1900: -20 = 1880, 102 = 2002</br>
  </p>
  
  {%for stn, stn_data in results.items %}
    <div class="dataTableInfo" id="dataTableInfo-{{forloop.counter0}}" align="left" style="max-width:95%;word-wrap:break-word;">
    Station: ({{station_ids|lookup:stn|safe}}) {{station_names|lookup:stn|safe}}</br>
    From Year {{start_year}} To Year {{end_year}}<br /><br />
    </div>
    {%if not stn_data%}
        <p style="color:red">NO STATION DATA FOUND!</p>
    {%else%}
        {%for type_idx, table_type in stn_data.items %}
            {% if table_type.0 %}
                <h3 align="center">{{headers|lookup:type_idx|safe}}</h3>
                <!--
                <table border="1" width="99%" cellspacing="0" cellpadding="0">
                {{headers|lookup:type_idx|safe}}
                </table>-->
                <br /><br />
            {%endif%}

            <table class="dataTable nowrap" id="dataTable-{{forloop.counter0}}" border="1" width="760px" cellspacing="0" cellpadding="0">
            {%for row in table_type %}
                {% if forloop.counter == 1%}
                    <thead><tr>{%for val in row%}<td>{{val}}</td>{%endfor%}</tr></thead>
                    <tfoot><tr>{%for val in row%}<td>{{val}}</td>{%endfor%}</tr></tfoot>
                    <tbody>
                {% else %}
                    <tr>{%for val in row%}<td>{{val}}</td>{%endfor%}</tr>
                {%endif%}
            {%endfor%}
            </tbody>
            </table>
            </br>
        {%endfor%}
   {%endif%}<!--END if not stn_data-->     
  {%endfor%}
{%endif%}<!--END results -->

{% endblock %}
