{% extends "wrcc_base.html" %}
{%load my_wrcc_meta_filters%}
{% block content %}
<div class="docu" id="Docu_Sodxtrmts" style="display:none;">{% include 'includes/Docu_sodxtrmts.html'%}</div>
<h1 align='center'>{{title}}
<img onclick="ShowPopupDocu('Docu_Sodxtrmts')" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" width="30" height="30">
</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form id="form1" method="post" action="">{% csrf_token %}
         <table class="sortable form">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
<div id="form2div">
	<table border=0 align="right">
	<form id="form2" method="post" action="">{% csrf_token %}
	  <table class="form">{{ form2|safe }}</table>
	  <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</div>
</br>
</br>
{%endif%}


{%if results %}
  {%for stn, stn_data in results.items %}
    <div class="stronger dataTableInfo" style="color:darkblue; font-size:large">
        LOCATION:{{station_names|lookup:stn|safe}}&nbsp;&nbsp;STATION: {{station_ids|lookup:stn|safe}}</br>
        ELEMENT {{element}} UNITS {{units}}</br>
        ANALYSIS TYPE {{statistic}} {%if departure_from_averages == "Yes"%}, DEPARTURES FROM AVERAGES{%endif%}</br>
        MAXIMUM NUMBER OF DAYS ALLOWED MISSING {{max_missing_days}}</br>
    </div></br>
    {%if not stn_data%}
        <p style="color:red">NO STATION DATA FOUND!</p></br>
    {%else%}
      <p>
        a = 1 day missing, b = 2 days missing, c = 3 days, ..etc..,</br> 
        z = 26 or more days missing, A = Accumulations present </br>
        Long-term means based on columns; thus, the monthly row may not</br> 
        sum (or average) to the long-term annual value.</br>
      </p></br>
        
        <table class="dataTable nowrap"  border="1" width="760px" cellspacing="0" cellpadding="0">
            <thead><tr>
                <td>Year</td>{%for mon in month_list%}<td>{{mon}}</td><td>Flag</td>{%endfor%}
            </tr></thead>
            <tfoot><tr>
                <td>Year</td>{%for mon in month_list%}<td>{{mon}}</td><td>Flag</td>{%endfor%}
            </tr></tfoot>
            <tbody>
            {%for cat in stn_data %}
                {%if cat.0 == "MEAN" %}
                    <tr>{%for dat in cat%}<td></td>{%endfor%}</tr>
                    <tr>{%for dat in cat%}<td></td>{%endfor%}</tr>
                {%endif%}
                <tr>
                {%for dat in cat%}
                    <td>{{dat}}</td>
                {%endfor%}
                </tr>
            {%endfor%}
            </tbody>
        </table>

       {%if fa_results|lookup:stn|safe %}
       <p class="stronger" style="color:darkblue; font-size:large">
       FREQUENCY ANALYSIS</br>
       Probability of non-exceedance, confined between  -999.00 and   999.00.</br>
       Distribution Type: p-PearsonIII, g-GenExtVal, b-BetaP, c-Censored Gamma.</br>
       <p></br>
       <table>
        <tr>
        <td />Pnoexc</td>{%for mon in month_list%}<td>{{mon}}</td>{%endfor%}
        </tr>
         {%for cat in fa_results|lookup:stn %}
          <tr>
          {%for dat in cat%}
          <td style="text-align:right">{{dat}}</td>
          {%endfor%}
         </tr>
         {%endfor%}
       </table> 

       {%endif%}
    {%endif%}
    </br>
  {%endfor%}
{%endif%}

{% endblock %}
