{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SCENIC Climate Applications">

{% block content %}
<!--
<p align="center">You are here 
<a href="{{HOME_URL}}scenic/">Home></a>
<a href="{{TOOLS_URL}}">Data Analysis></a>
<a href="{{MIXED_TOOLS_URL}}">Combined Data Tools</a>
-->
<!-- Documentation-->
<div class="docu" id="Docu_Likelihood" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_Likelihood").load("{{HTML_URL}}/Docu_Likelihood.html");
    </script>
<div class="docu" id="Docu_DataComparison" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_DataComparison").load("{{HTML_URL}}/Docu_DataComparison.html");
    </script>
<div class="docu" id="Docu_NONE" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_NONE").load("{{HTML_URL}}/Docu_NONE.html");
    </script>

<table cellpadding="20" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
        <!--
       <td valign="top"><a class="trigger_hover" href="{{MIXED_TOOLS_URL}}likelihood/"><b>Likelihood</b></a>
       <div class="pop-up">
       <p>Investigate likehood of exceedance of thresholds<br/>at a lat/lon location.</p>
       </div>
       </td>
        <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_Likelihood')"></td>-->
        <td valign="top"><a class="trigger_hover" href="{{MIXED_TOOLS_URL}}data_comparison/"><b>Data comparison</b></a>
       <div class="pop-up">
       <p>Compare gridded/modeled data with historic station data.</p>
       </div>
       </td>
        <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_DataComparison')"></td>
    </tr>
    <tr>
    <!--
    <td colspan="2">
    <a  href="{{MIXED_TOOLS_URL}}likelihood/" class="trigger_hover"><img class="app_img" alt="Likelihood" title="Likelihood" src="{{MEDIA_URL}}img/Likelihood.png"></a>
    <div class="pop-up">
    <p>Investigate likehood of exceedance of thresholds<br/>at a lat/lon location.</p>
    </div>
    </td>-->
    <td colspan="2">
    <a  href="{{MIXED_TOOLS_URL}}data_comparison/" class="trigger_hover"><img class="app_img" alt="Compare" title="Compare" src="{{MEDIA_URL}}img/DataComparison.png"></a>
    <div class="pop-up">
    <p>Compare gridded/modeled data with historic station data.</p>
    </div>
    </td>
    </tr>
    </table>
</td>
</table>
{%endblock%}
