
{% extends "base.html" %}

{% block content %}

<h1 align='center'>{{title}}</h1>


    <!-- Site navigation menu -->
    <ul class="navbar">
     <a href="/my_apps/Sodrun/" class="trigger">SODRUN</a>
     <div class="pop-up">
     <p><font size="4">Computes runs of consecutive days meeting certain criteria.</font></p>
     </div>
     <a href="/my_apps/Sodlist/" class="trigger">SODLIST</a>
     <div class="pop-up">
     <p><font size="4">Summary of the day (SOD) data lister.</font></p>
     </div>
     <a href="/my_apps/Sodmonline/" class="trigger">SODMONLINE</a>
     <div class="pop-up">
     <p><font size="4">Lists all the days of a month, one element, on a single line. Steps through all years chronologically.</font></p>
     </div>
     <a href="/my_apps/Sodmonlinemy/" class="trigger">SODMONLINEMY</a>
     <div class="pop-up">
     <p><font size="4">Lists all the days of a month, one element, on a single line. Organized by month, then by year:  all Jans, all Febs, all Mars, etc.</font></p>
     </div>
     <a href="/my_apps/Sodcnv/" class="trigger">SODCNV</a>
     <div class="pop-up">
     <p><font size="4">Converts to a character file; for internal use.</font></p>
     </div>
     <a href="/my_apps/Sodsum/" class="trigger">SODSUM</a>
     <div class='pop-up'>
     <p><font size="4">Reads station data and provides report on completeness.</font></p>
     </div>
     <a href="/my_apps/Soddyrec/" class="trigger">SODDYREC</a>
     <div class='pop-up'>
     <p><font size="4">Finds daily records.</font></p>
     </div>
     <a href="/my_apps/Soddynorm/" class="trigger">SODDYNORM</a>
     <div class='pop-up'>
     <p><font size="4">Finds daily normals for maxt, mint, pcpn using either a Gaussian filter or a running mean.</font></p>
     </div>
     </ul>

{% endblock %}

