{% extends "base.html" %}

{% block content %}


<h1 align='center'>{{title}}</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form method="post" action="">{% csrf_token %}
         <table style="width:50%; height:100%; background-color:lightblue" class="sortable">{{ form1|safe }}</table>
         <input type="submit" value="Select" name="stn_selection"/>
         </form>
     </table>
</div>

{%if form_2_ready %}
	<table border=0 align="right">
	<form method="post" action="">{% csrf_token %}
	  <table style="width:50%; height:100%; background-color:lightblue" class="sortable">{{ form2|safe }}</table>
	  <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>
</br>
</br>
{% endif %}

{%if results %}
<p>DEGREE DAYS {{a_b}} BASE TEMPERATURE {{base_temp}}</br>
TRUNCATES MAXIMUMS ABOVE {%if trunc_high%}{{trunc_high}}{%else%}999{%endif%}</br>
TRUNCATES MAXIMUMS ABOVE {%if trunc_low%}{{trunc_low}}{%else%}-999{%endif%}</br>
UP TO {{max_miss}} DAYS MAY BE ESTIMATED FROM MEAN DAILY NORMALS</br>
NCDC ROUND-OFF PROCEDURE is {%if not ncdc_round%}NOT{%endif%} SIMULATED{%if not ncdc_round%}, EXACT ROUND-OFF USED{%endif%}</br>
STARTING YEAR : {{start_year}}  ENDING YEAR : {{end_year}}</br>
</p>
  {%if monthly%}
  <p>FLAG FOLLOWING VALUE GIVES NUMBER OF MISSING DAYS :</br> 
     a = 1 DAY, b = 2 DAYS, ..., z = 26+ DAYS MISSING</br>
  </p>
    {%for stn, stn_data in results.items %}
    <h2>STATION: {{station_names.stn|safe}}&nbsp;&nbsp;&nbsp;NUMBER: {{coop_station_ids.stn|safe}}</h2>
    <table>
    <th colspan="2">YEAR</th><th colspan="2">JAN</th><th colspan="2">FEB</th><th colspan="2">MAR</th><th colspan="2">APR</th><th colspan="2">MAY<th colspan="2">JUN</th><th colspan="2">JUL</th><th colspan="2">AUG</th><th colspan="2">SEP</th><th colspan="2">OCT</th><th colspan="2">NOV</th><th colspan="2">DEC</th>
    {%for year_val in stn_data%}
     <tr>
     {%for mon_val in year_val%}
     <td></td><td>{{mon_val}}</td>
     {%endfor%}
     </tr> 
     {%endfor%}  
     </table>
   {%endfor%}
  {%endif%}
  </br>
  </br>

  {%if daily%}
    <p>
    -99 = MISSING DATA OR NON-EXISTENT DAYS </br>
     AV = DAILY AVERAGE.  YR = NUMBER OF YEARS FOR THIS DAY.</br>
    </p>
  {%for stn, stn_data in results.items %}
    <h2> STATION: {{station_names.stn|safe}}&nbsp;&nbsp;&nbsp;NUMBER: {{coop_station_ids.stn|safe}}</h2>
   <table border="1">
    <th>DAY</th><th colspan="2">JAN</th><th colspan="2">FEB</th><th colspan="2">MAR</th><th colspan="2">APR</th><th colspan="2">MAY<th colspan="2">JUN</th><th colspan="2">JUL</th><th colspan="2">AUG</th><th colspan="2">SEP</th><th colspan="2">OCT</th><th colspan="2">NOV</th><th colspan="2">DEC</th>
    <tr>
      <td></td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td><td>AV</td><td>YR</td>
    </tr>
    {%for day_val in stn_data%}
     <tr>
     {%for val in day_val%}
     <td style="text-align:right">{{val}}</td>
     {%endfor%}
     </tr>
     {%endfor%}
     </table>
   {%endfor%}                            
  {%endif%}
{%endif%}



{% endblock %}
