{% extends "base.html" %}

{% block content %}


<h1 align='center'>{{title}}</h1>
<div id='stn_selection'>
     <table border=0 align="right">
	  <form method="post" action="">{% csrf_token %}
         <table style="width:50%; height:100%; background-color:lightblue" class="sortable">{{ form1|safe }}</table>
         <input type="submit" value="Submit" name="stn_selection"/>
         </form>
     </table>
</div>


	<table border=0 align="right">
	<form method="post" action="">{% csrf_token %}
	  <table style="width:50%; height:100%; background-color:lightblue" class="sortable">{{ form2|safe }}</table>
	  <input type="submit" value="Submit" name="app_form"/>
	</form>
  </table>

</br>
</br>

{%if results %}
  {%for stn, stn_data in results.items %}
    <p>PRECIPITATION-DURATION-FREQUENCY TABLES FOR STATION: {{coop_station_ids|lookup:stn|safe}} {{station_names|lookup:stn|safe}}</br>
    BASED ON PERIOD {{start_year}} TO {{end_year}}</br>
    </p></br>
        {%for doy, doy_data in stn_data.items %}
      <p>STN={{coop_station_ids|lookup:stn|safe}} MON={{mon|lookup:doy|safe}} DAY={{day|lookup:doy|safe}}</p></br>
      <table>
      <th colspan="3">THRESHOLD:</th><th colspan="4">01__</th><th colspan="4">10__</th><th colspan="4">15__</th><th colspan="4">20__</th><th colspan="4">25__<th colspan="4">30__</th><th colspan="4">40__</th><th colspan="4">50__</th><th colspan="4">75__</th><th colspan="4">100_</th><th colspan="4">150_</th><th colspan="4">200_</th><th colspan="4">250_</th><th colspan="4">300_</th><th colspan="4">400_</th><th colspan="4">500_</th><th colspan="4">600_</th><th colspan="4">800_</th><th colspan="4">1000</th><th colspan="4">AVE PRECIP</th>
       {%for dur in doy_data %}
        <tr><td style="text-align:left">DURATION = {{durations|lookup:forloop.counter|safe}}</td><td>#</td><td>{{num_yrs}}</td>
        {% for val in dur%}
        <td style="text-align:right">{{val}}</td><td></td><td></td><td></td>
        {%endfor%}
        </tr>
       {%endfor%}
      </table>
    {%endfor%}
  {%endfor%}
{%endif%}
{% endblock %}
