{% extends "base.html" %}

{% block content %}

<h1>{{title}}</h1>

<p>Search by name</p>
<form method="get" action="by_name/">
    <input type="text" name="q" />
    <input type="submit" value="Submit"/>
</form>

<p>Search by ID</p>
<form method="get" action="by_id/">
    <input type="text" name="q" />
    <input type="submit" value="Submit" />
</form>

<p>UCAN station ID</p>
<form method="get" action="by_ucan_id/">
    <input type="text" name="q" />
    <input type="submit" value="Submit"/>
</form>

<p>List stations by state</p>
<form method="get" action="by_state/">
    <select name="state_key">
	{% for state in state_choices %}
        {%if state.1 == "Nevada"%}
        <option value="{{state.0}}" selected="selected">{{state.1}}</option>
        {%else%}
	    <option value="{{state.0}}">{{state.1}}</option>
        {%endif%}
	{% endfor %}
    </select>
    <input type="submit" value="Submit"/>
</form>

<p>List stations by name AND state</p>
<form method="get" action="by_name_and_state/">
    <select name="state_key">
    {% for state in state_choices %}
    {%if state.1 == "Nevada"%}
    <option value="{{state.0}}" selected="selected">{{state.1}}</option>
    {%else%}
    <option value="{{state.0}}">{{state.1}}</option>
    {%endif%}
    {% endfor %}
    </select>
    <input type="text" name="q" />
    <input type="submit" value="Submit"/>
</form>

<p>Location</p>
<form method="get" action="by_location/">
    Lat: <input type="text" name="lat" size="8" />
    Lon: <input type="text" name="lon" size="8" />
    <input type="submit" value="Submit"/>
</form>

<p><font color="red" size="6">Nina: Choose Lat/Lon! :-)</font></p>
<form method="get" action="by_nina/">
<select name="lat_lon">
{%for lat_lon in lat_lon_list%}
    <option type="radio">{{lat_lon}}</option>
{%endfor%}
</select>
<input type="submit" value="Select"/>
</form>

{% endblock %}

