{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }}
| Station tables
{% endblock %}

{% block content %}

<h1>{{title}}</h1>
<h2>Secondary Tables</h2>
<h3>Table Name: {{tbl_name}}</h3>

<a href="/csc/wrcc_meta/">Start Over</a>
<br/>

<table>
    {%for network_station_id in network_station_ids_list%}
        <th>Network Station ID: {{network_station_id }}</th>
    {%endfor%}<th>Form</th>

    {%for instance in results%}
        <tr>
        {%for table in instance%}
            <td>
                {%if forloop.last%}
                    <div id='form'>
                    <form method="post" action="">{% csrf_token %}
                    {%if merge_successful and form_id == forloop.parentloop.counter%}
                         <table class="add_table" id={{forloop.parentloop.counter}} border="1" style="background-color:Grey">
                    {%else%}
                        <table class="add_table" id={{forloop.parentloop.counter}}  border="1" style="background-color:MediumPurple">
                    {%endif%}
                    {%for key_val in table%}
                        <tr valign="top">
                            <td>{{key_val.0}} <input type="text" value="{{key_val.1}}" name="{{key_val.0}}"/></td>
                        </tr>
                    {%endfor%}
                        <tr valign="top">
                            <input type="hidden" value={{forloop.parentloop.counter}} name="form_id" id="form_id"/>
                        </tr>
                    </table>
                    {%if table%}
                        {%if merge_successful and form_id == forloop.parentloop.counter %}
                            <p><b>Table merge/add was successful!</b></p>
                        {%else%}
                            <input type="submit" value="ADD" name="form_add"/>
                        {%endif%}
                    {%endif%}
                    </form>
                    </div>
                {%else%}
                    {%if table%}
                    <a href="#" onClick="ShowPopupDocu('{{table.0.1}}_{{forloop.counter}}')">Click here to show/hide</a>
                    {%endif%}
                    <div id="{{table.0.1}}_{{forloop.counter}}" style='display:block'>
                        <form method="post" action="">{% csrf_token %}
                        <table id="edit_table" border="1" style="background-color:DeepSkyBlue">
                        {%for key_val in table%}
                            <tr valign="top">
                                <td>{{key_val.0}}: <input onClick="populateFormField('add_table',{{forloop.parentloop.counter}}, '{{key_val.0}}', '{{key_val.1}}')" type="text" value="{{key_val.1}}" name="{{key_val.0}}"  readonly style="background-color:#CCCCCC;"/></td>
                            </tr>
                        {%endfor%}
                        </table>
                        <!--
                        {%if table%}
                        <input type="submit" value="EDIT" name="form_edit"/>
                        {%endif%}-->
                    </div>
                {%endif%}   
            </td>
        {%endfor%}
        </tr>
    {%endfor%}
</table>

{% endblock %}

