{% extends "csc_base.html" %}

{% block content %}
<table cellpadding="20">
<td valign="top" width="30%">
   <h2>Links</h2>
   <table frame="box">
   <td>
   <a target="_blank" href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
    <br />
    <a target="_blank" href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
    <br />
    <a target="_blank" href="http://wrcc.dri.edu/">Western Regional Climate Center (WRCC)</a>
    <br />
    <a target="_blank" href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </td>
    </table>
</td>
<td valign="top" width="40%">
    <p align="left">SCENIC provides <font color="red">ACCESS TO CLIMATE DATA AND ANALYSIS TOOLS</font>
    to support the research and decision making efforts of the Southwest Climate Science Center (SW CSC) 
    and the Landscape Conservation Cooperatives(LCC).</p>
    <p align="center"><img alt="LInKS" title="LInKS" width="400px" height="400px" src={{MEDIA_URL}}img/LInKS.png></p>
    <br />
    <p align="left">
    In 2009 the US Department of Interior initiated a national system of Climate Science Centers (CSCs). This is the first-ever coordinated effort to synthesize existing climate change information to inform decisions about resource management. 
    The Southwest CSC (SW CSC) consists of six partner institutions, one of which (Desert Research Institute) is the host of the Western Regional Climate center (WRCC).
    As part of its contribution to the SW CSC, WRCC is developing an access point to historic and real-time climate data tools and applications for decision support as well as meaningful access to other links and resources pertaining to climate and climate change in the Southwest US.
    </p>
    <p align="center">To learn more, read <a href="{{URL_PREFIX}}scenic/what_we_do/">What we do</a></li></p>
</td>
<td valign="top" width="30%"></td>
</table>

{% endblock %}
