{% extends "csc_base.html" %}

{% block content %}

<div align="center" id="overview">
    <!--<iframe src="/csc/media/img/SCENIC_Overview.pdf" width="800px" height="1090px"></iframe>-->
    <p>
    SCENIC  is  a   web page    under   development 
    at  the Western Regional    Climate Center  
    (WRCC)  as  part    of  WRCC’s  contribution    to  
    the Southwest   Climate Science Center  
    (SWCSC).    The purpose of  SCENIC  is  to  
    support the research    and decision    making  
    efforts of  the SW-CSC, the Landscape   
    Conservation    Cooperatives    (LCC),  and 
    other   stakeholders. SCENIC    serves as   an  access  point   for 
    climate data    and analysis    tools   for the 
    Southwest   as  well    as  the rest    of  the 
    contiguous  U.S.
    </p>
    <p>
    SCENIC  delivers    daily   data    from    weather 
    stations    across  the U.S.    from    1890-
    present.    It  also    provides    access  to  
    statistically   downscaled  climate 
    projections (LOCA) developed at SCRIPPS
    and dynamically downscaled  data    and 
    model   outputs from    NARCCAP. SCENIC 
    also    provides    access  to  historic    gridded 
    datasets    like    daily,  monthly,    and annual  
    data    at  4   km  resolution  from    PRISM.  
    The complete    MODIS   and LANDSAT
    archives    can be  access  through SCENIC  via 
    Google’s    cloud   computing   platform    Earth   
    Engine. Users   can download    subsets of  
    the data    and requests    can be  customized  
    by  spatial and temporal    extent.
    </p>
    <p>
    Several analysis    and visualization   tools   are 
    available   to  help    resource    scientists in   the 
    decision-making process.    Among   these   
    are tools   to  summarize   data,   identify    
    extremes,   generate    custom  time    series  
    graphs, and to  generate    climate summary 
    tables. The Monitoring page  allows  
    users   to  monitor current climate and 
    weather conditions  across  the U.S.    The 
    dashboard   provides    access  to  numerous    
    climate anomaly maps,   water,  snow    and 
    drought information,    ENSO,   AO, NAO,    
    MJO updates,    and climate outlooks
    </p>
</div>

<table cellpadding="20" align="left" width="100%">
<td valign="top">
    <h2 class="bg-primary" align="center" id="data">DATASETS</h2>
    <img width="90%" alt="SCENIC data" align="center" id="scenic_data_img"
    src="/csc/media/img/SCENIC_Data.png">
    <br/>
    <h3 class="bg-info" align="center">How to cite the data</h3>
    <div align="center">
    <div align="left">
    <h4>Remote Sensing Data (MODIS, LANDSAT)</h4>
    "On-Demand Cloud Computing and Visualization of Climate and Remote Sensing Data."
    Climate Engine.
    Desert Research Institute, University of Idaho, Google,[date accessed].
     </div>
     <div align="left">
     <h4>All other datasets</h4>
     "Applied Climate Information System."
    RCC-ACIS.
    NOAA Regional Climate Centers, [date accessed].
    </div>
    </div>
</td>
</table>

<table cellpadding="20" width="100%">
<td valign="top">
    <h2 class="bg-primary" align="center" id="analysis">Analysis Tools</h2>
    <table border="1">
    <td valign="top" style="padding:1%">
    <h3 class="bg-info">Single weather station or grid point</h3>
    <div>{% include 'includes/Docu_page_single_point_prods.html'%}</div><br/>
    </td>
    <td valign="top" style="padding:1%">
    <h3 class="bg-info" >Multiple weather stations or grid points</h3>
    <div>{% include 'includes/Docu_page_multi_point_prods.html'%}</div>
    </td>
    </table>

    <h2 class="bg-primary" align="center" id="publications">Publications</h2>
    <p align="center">
    <a target="_blank" href="http://journals.ametsoc.org/doi/abs/10.1175/BAMS-D-14-00121.1?af=R">
    Establishing best practices to improve usefulness and usability<br/>
    of web interfaces providing atmospheric data
    </a>
    </p>
   
    <div align="center">
    <h2 class="bg-primary" align="center" id="contact_us" name="contact_us">Contact Us</h2>
    Mail questions and comments to <a href="mailto:scenic@dri.edu">scenic@dri.edu</a><br/><br/> 

    <p><strong>Western Regional Climate Center</strong><br/>
        2215 Raggio Parkway<br/>
        Reno, NV  89512-1095<br/>
        Tel: 775-674-7010<br/>
        Fax: 775-674-7001<br/>
        Email: <a href="mailto:wrcc@dri.edu">wrcc@dri.edu</a><br/>
        Open Monday - Friday <br/>
        8am - 4pm Pacific Time <br/>
        <a target="_blank" href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external"><img src="{{WRCC_URL}}/media/img/facebook_16.png" alt="FB icon" title="FB Icon"></a>
        <a  target="_blank" href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external">WRCC on Facebook</a>
    </div>

    <div align="center">
    <h2 align="center" id="links" name="links">Links</h2>
    <table>
    <td>
    <a target="_blank" href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
    <br/>
    <a target="_blank" href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
    <br/>
    <a target="_blank" href="{{WRCC_URL}}">Western Regional Climate Center (WRCC)</a>
    <br/>
    <a target="_blank" href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </td>
    </table>
    </div>
</td>
</table>

{% endblock %}
