{% extends "csc_base.html" %}

{% block content %}

<div align="center" id="overview">
<iframe src="/csc/media/img/SCENIC_Overview.pdf" width="800px" height="1090px"></iframe>
</div>

<table cellpadding="20" align="center">
<td valign="top">
    <h2 class="bg-primary" align="center" id="data">DATASETS</h2>
    <img width="900px"align="center" src="/csc/media/img/SCENIC_Data_Redesign.png">
</td>
</table>

<table cellpadding="20" align="center">
<td valign="top" width="80%">
    <h2 class="bg-primary" align="center" id="analysis">Analysis Tools</h2>
    <!--<div style="max-width:80%;word-wrap:break-word;">-->
    <!--
    <p align="center">
    <b>Daily, Seasonal and Yearly Time Series</b><br/>
    <b>Averages, Records, Normals</b><br/>
    <b>Spatial (Time Series) and Temporal Summaries (Maps)</b>
    </p>-->
    <h3 class="bg-info">Single Point Products for a weather station or a grid point</h3>
    <div>{% include 'includes/Docu_page_single_point_prods.html'%}</div><br/>
    <h3 class="bg-info" >Multi Point Products for multiple weather station or grid points</h3>
    <div>{% include 'includes/Docu_page_multi_point_prods.html'%}</div>

    <h2 class="bg-primary" align="center" id="publications">Publications</h2>
    <p align="center">
    <a target="_blank" href="http://journals.ametsoc.org/doi/abs/10.1175/BAMS-D-14-00121.1?af=R">
    Establishing best practices to improve usefulness and usability<br/>
    of web interfaces providing atmospheric data
    </a>
    </p>
   
    <div align="center">
    <h2 class="bg-primary" align="center" id="contact_us" name="contact_us">Contact Us</h2>
    Mail questions and comments to <a href="mailto:scenic@dri.edu">scenic@dri.edu</a><br/><br/> 

    <p><strong>Western Regional Climate Center</strong><br/>
        2215 Raggio Parkway<br/>
        Reno, NV  89512-1095<br/>
        Tel: 775-674-7010<br/>
        Fax: 775-674-7001<br/>
        Email: <a href="mailto:wrcc@dri.edu">wrcc@dri.edu</a><br/>
        Open Monday - Friday <br/>
        8am - 4pm Pacific Time <br/>
        <a target="_blank" href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external"><img src="{{WRCC_URL}}/media/img/facebook_16.png" alt="FB icon" title="FB Icon"></a>
        <a  target="_blank" href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external">WRCC on Facebook</a>
    </div>

    <div align="center">
    <h2 align="center" id="links" name="links">Links</h2>
    <table>
    <td>
    <a target="_blank" href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
    <br/>
    <a target="_blank" href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
    <br/>
    <a target="_blank" href="{{WRCC_URL}}">Western Regional Climate Center (WRCC)</a>
    <br/>
    <a target="_blank" href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </td>
    </table>
    </div>
</td>
</table>

{% endblock %}
