{% extends "csc_base.html" %}

{% block content %}

    <div align="center">
        {%block feedback%}{%endblock%}

       <p class="error" ><font size="4">{{message}}</font></p>
       {%if not error and not message%}
        <form action="" method="post">{% csrf_token %}
        <p>Subject: <input type="text" name="subject"></p>
        <p>Your email (optional): <input type="text" name="email"></p>
        <p><textarea name="message" rows="10" cols="50"></textarea></p>
        <input type="submit" value="Submit">
        </form>
        {%endif%}
    </div>
{% endblock %}
