{% extends "csc_base.html" %}

{% block content %}
<!--Documentation -->
<div class="docu" id="Docu_gallery_extremes" style="display:none;">
    {% include 'includes/Docu_gallery_extremes.html'%}
</div>
<div class="docu" id="Docu_gallery_station_finder" style="display:none;">
    {% include 'includes/Docu_gallery_station_finder.html'%}
</div>
<div class="docu" id="Docu_gallery_spatial_summary" style="display:none;">
    {% include 'includes/Docu_gallery_spatial_summary.html'%}
</div>

<p align="center" class="error">
    <b>*(BETA) THIS PAGE IS UNDER DEVLOPMENT!</b><br /><br />
    <b>CLICK THE QUESTION MARK FOR INFORMATION AND STEP BY STEP INSTRUCTIONS!</b>
</p>

<table cellpadding="40" align="center">
<td valign="top">

    <table cellspacing="10">
    <tr>
        <td valign="top"><a class="trigger_hover" href="{{param_urls.station_finder}}" target="_blank"><b>FINDING A POINT/<br />AREA OF INTEREST</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_gallery_station_finder.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_gallery_station_finder')">
        </td>
        <td valign="top"><a class="trigger_hover" href="{{param_urls.extremes}}" target="_blank"><b>EXTREMES</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_gallery_extremes.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_gallery_extremes')">
        </td>
        <td valign="top"><a class="trigger_hover" href="{{param_urls.spatial_summary}}" target="_blank"><b>SUMMARIZING<br />SPATIAL DATA</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_gallery_spatial_summary.html'%}</div>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_gallery_spatial_summary')">
        </td>
    <tr>
        <td colspan="2">
            <a  href="{{param_urls.station_finder}}" target="_blank">
            <img class="app_img" alt="Gallery_Station_Finder" title="Gallery_Station_Finder" src="{{MEDIA_URL}}img/Gallery_Station.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_gallery_station_finder.html'%}</div>
        </td>
        <td colspan="2">
            <a  href="{{param_urls.extremes}}" target="_blank">
            <img class="app_img" alt="Gallery_Extremes" title="Gallery_Extremes" src="{{MEDIA_URL}}img/Extremes.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_gallery_extremes.html'%}</div>
        </td>
        <td colspan="2">
            <a  href="{{param_urls.spatial_summary}}" target="_blank">
            <img class="app_img" alt="Gallery_Spatial_Summary" title="Gallery_Spatial_Summary" src="{{MEDIA_URL}}img/Gallery_spatial_summary.png"></a>
            <div class="pop-up">{% include 'includes/Docu_popup_gallery_spatial_summary.html'%}</div>
        </td>
    </tr>
    </table>

</td>
</table>

{% endblock %}
