{% extends "csc_base.html" %}

<meta name="keywords" content="Climate data, Climate Change, Southwest CSC, ACIS, Western Regional Climate Center">
<meta name="description" content="SCENIC Home">

{%block content %}

<!--Documentation-->
<div class="docu" id="Docu_networks" style="display:none;">
    {% include 'includes/Docu_networks.html'%}
</div>
<div class="docu" id="Docu_PRISM" style="display:none;">
    {% include 'includes/Docu_PRISM.html'%}
</div> 
<div class="docu" id="Docu_NRCC_INT" style="display:none;">
    {% include 'includes/Docu_NRCC_INT.html'%}
</div>  
<div class="docu" id="Docu_LOCA" style="display:none;">
    {% include 'includes/Docu_LOCA.html'%}
</div>
<div class="docu" id="Docu_NARCCAP" style="display:none;">
    {% include 'includes/Docu_NARCCAP.html'%}
</div> 

<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="bg-info main-col">
        <h1>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{DATA_URL}}">Data</a><br />
            <small>{% include 'includes/Docu_popup_data_access.html'%}</small>
        </h1>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="bg-info main-col">
        <h1>
            <a href="{{DATA_URL}}">Analysis Tools</a><br />
            <small>{% include 'includes/Docu_popup_analysis_tools.html'%}</small>
        </h1>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="bg-info main-col">
        <h1>
            <a href="{{DASHBOARD_URL}}">Monitoring Tools</a><br />
            <small>{% include 'includes/Docu_popup_dashboard.html'%}</small>
        </h1>
        </div>
    </div>
</div>

{%endblock content%}
