{% extends "csc_base.html" %}

{% block content %}

<!--Documentation-->
<div class="docu" id="Docu_howto_station_finder" style="display:none;">
    {% include 'includes/Docu_howto_station_finder.html'%}
</div>
<div class="docu" id="Docu_howto_multi_lister" style="display:none;">
    {% include 'includes/Docu_howto_multi_lister.html'%}
</div>
<div class="docu" id="Docu_howto_monann" style="display:none;">
    {% include 'includes/Docu_howto_monann.html'%}
</div>

<table align="center" width="95%">
<td valign="top" width="100%" align="left">

<table align="center" cellpadding="5px">
<tr>
    <td>
    <p class="dark_blue">
    Find stations in an area that have precipitation and minimum temperature data
    between two dates.
    </p>
    </td>
    <td>
    <p class="link" onclick="ShowHowtoDocu('Docu_howto_station_finder')">GO</p>
    </td>
</tr>
<tr>
    <td>
    <p class="dark_blue">
    How to download temperature data for all stations in a region between two dates.
    </p>
    </td>
    <td>
    <p class="link" onclick="ShowHowtoDocu('Docu_howto_multi_lister')">GO</p>
    </td>
</tr>
<tr>
    <td>
    <p class="dark_blue">
    Find the highest monthly temperature ever recorded at a weather station.
    </p>
    </td>
    <td>
    <p class="link" onclick="ShowHowtoDocu('Docu_howto_monann')">GO</p>
    </td>
</tr>
</table>
</td>
</table>
{% endblock %}
