{% extends "csc_base.html" %}

{% block content %}

<!--Documentation-->
<div class="docu" id="Docu_howto_LOCA" style="display:none;">
{% include 'includes/Docu_howto_LOCA.html'%}
</div>

<div class="docu" id="Docu_SpottedOwl" style="display:none;">
{% include 'includes/Docu_SpottedOwl.html'%}
</div>

<!--
<div id="nav-wrcc">
    <li><a href="{{HOME_URL}}/faq"><font size="3">HOME</font></a></li>
    <li><a href="{{ABOUT_URL}}"><font size="3">ABOUT</font></a>
        <ul class="l1">
            <li><a href="{{ABOUT_URL}}#overview">Overview</a></li>
            <li><a href="{{ABOUT_URL}}#data">Available Datasets</a></li>
            <li><a href="{{ABOUT_URL}}#contact_us">Contact Us</a></li>
            <li><a href="{{ABOUT_URL}}#links">Links</a></li>
        </ul>
    </li>
</div>-->

<div style="padding:5px;">
    <p class="dark_blue" align="center">Statistically downscaled CMIP5 climate projections for North America.</p>
    <p class="link" align="center" onclick="ShowHowtoDocu('Docu_howto_LOCA')">LOCA FAQs</p>
    
    <div class="row">
    <h2 align="center">Sample applications</h2>
    <div class="col-sm-4 col-bordered" style="border:1px solid #006666;">
      <h3>Temperature Extremes</h3>
      <p>Thermal tolerance of wildlife species</p>
      <table class="padded">
      <td valign="top">
        <img class="app_img" src="{{MEDIA_URL}}img/NumDaysMaxtGT35.2C.png">
      </td>
      <td valign="top">
        <p>Identifying where on a landscape temperature extremes are exceeded now and 
        where they may be exceeded in the future 
        could help prioritize where to manage for different species.</p>
        <p class="link" onclick="ShowHowtoDocu('Docu_SpottedOwl')">Read more</p>
      </td>
      </table>
    </div>
    <div class="col-sm-4 col-bordered">
      <h3>Example 2</h3>
      <p>Coming soon!</p>
    </div>
    <div class="col-sm-4 col-bordered">
      <h3>Example 3</h3> 
      <p>Coming soon, too!</p>
    </div>
  </div>
</div>
{% endblock %}
