{% extends "csc_base.html" %}

{% block content %}
<!--Documentation -->
<div class="docu" id="Docu_resources_geo_data_portal" style="display:none;">
    {% include 'includes/Docu_resources_geo_data_portal.html'%}
</div>
<div class="docu" id="Docu_resources_geo_platform" style="display:none;">
    {% include 'includes/Docu_resources_geo_platform.html'%}
</div>
<div class="docu" id="Docu_resources_data_gateway" style="display:none;">
    {% include 'includes/Docu_resources_data_gateway.html'%}
</div>
<div class="docu" id="Docu_resources_cpc" style="display:none;">
    {% include 'includes/Docu_resources_cpc.html'%}
</div>
<div class="docu" id="Docu_resources_climate_engine" style="display:none;">
    {% include 'includes/Docu_resources_climate_engine.html'%}
</div>
<div class="docu" id="Docu_resources_data_basin" style="display:none;">
    {% include 'includes/Docu_resources_data_basin.html'%}
</div>

<p align="center" class="error">
<b>CLICK THE QUESTION MARK FOR INFORMATION</b>
</p>

<table cellpadding="40" align="center">
<td valign="top">

    <table cellspacing="10">
    <tr>
        <td valign="top"><a class="trigger_hover" href="http://cida.usgs.gov/climate/gdp/" target="_blank"><b>GEO DATA PORTAL</b></a>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_resources_geo_data_portal')">
        </td>
        <td valign="top"><a class="trigger_hover" href="http://www.geoplatform.gov/" target="_blank"><b>GEOPLATFORM</b></a>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_resources_geo_platform')">
        </td>
        <td valign="top"><a class="trigger_hover" href="http://www.cpc.ncep.noaa.gov/" target="_blank"><b>CLIMATE<br/>PREDCTION CENTER</b></a>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_resources_cpc')">
        </td>
        <td valign="top"><a class="trigger_hover" href="http://databasin.org/" target="_blank"><b>DATA BASIN</b></a>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_resources_data_basin')">
        </td>
    <tr>
        <td colspan="2">
            <a  href="http://cida.usgs.gov/climate/gdp/" target="_blank">
            <img class="app_img" alt="resources_geo_data_portal" title="resources_geo_data_portal" src="{{MEDIA_URL}}img/resources_GeoDataPortal.png"></a>
        </td>
        <td colspan="2">
            <a  href="http://www.geoplatform.gov/" target="_blank">
            <img class="app_img" alt="resources_geoplatform" title="resources_geoplatform" src="{{MEDIA_URL}}img/resources_Geoplatform.png"></a>
        </td>
        <td colspan="2">
            <a  href="http://www.cpc.ncep.noaa.gov/" target="_blank">
            <img class="app_img" alt="resources_cpc" title="resources_cpc" src="{{MEDIA_URL}}img/resources_cpc.png"></a>
        </td>
        <td colspan="2">
            <a  href="http://databasin.org/" target="_blank">
            <img class="app_img" alt="resources_data_basin" title="resources_data_basin" src="{{MEDIA_URL}}img/resources_data_basin.png"></a>
        </td>
    </tr>
    <!--SECOND ROW--> 
    <tr>
        <td valign="top"><a class="trigger_hover" href="http://clim-engine.appsot.com/" target="_blank"><b>CLIMATE ENGINE</b></a>
        </td>
        <td>
            <img class="qmark" alt="Click me!" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_resources_climate_engine')">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a  href="http://clim-engine.appsot.com/" target="_blank">
            <img class="app_img" alt="resources_climate_engine" title="resources_climate_engine" src="{{MEDIA_URL}}img/resources_climate_engine.png"></a>
        </td>

    </tr>
    </table>
</td>
</table>

{% endblock %}
