{% extends "csc_base.html" %}

{% block content %}
<table>
<td valign="top" width="40%">
    <!--
    <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}  
        Select shape file components(.shp, .dbf, .shx,...):<br/>
        <table class="form" style="width:200px; height:100%; background-color:#CCE0E0"
        class="sortable">{{ form|safe }}</table>
        &nbsp;<input type="submit" name="upload" value="Upload"/>
    </form>
    -->
    <p class="message">Select shape file components(.shp, .dbf, .shx,...):</p>
    <form method="post" action="" enctype="multipart/form-data" onsubmit="show_loading();">{% csrf_token %}
    <table class="form" align="left">
      <tr><td>
      Select Files: <input type="file" id="choose_files" name="files" multiple>
      </td></tr>
      <tr><td align="left">
      Feature ID<input type="number" name="feature_id"  value={{initial.feature_id}}>
      </td></tr>
      </table>
      <input type="submit" value="Upload" name="upload">
    </form>

</td>
<td valign="top" width="60%">
{%if error%}
{{error}}<br/>
{%endif%}
SHAPE FILE: {{shp_file}}<br/>
POLY: {{poly_ll}}
</td>
</table>
{%endblock %}
