{% extends "csc_base.html" %}

<meta name="keywords" content="mission, mission statement, information, background">
<meta name="description" content="SW-CKN Mission Statement and other general information">

{% block content %}
<!--
<p align="center">You are here 
<a href="{{HOME_URL}}">Home></a>
<a href="{{SCENIC_URL }}about_us">About Us></a>
<a href="{{SCENIC_URL }}what_we_do/">What we do</a></p>
-->
<table cellpadding="20">
<td valign="top" width="30%">
    <h2>Links and resources</h2>
    <table frame="box">
    <td>
    <a target="_blank" href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
    <br />
    <a target="_blank"  href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
    <br />
    <a target="_blank" href="http://wrcc.dri.edu/">Western Regional Climate Center (WRCC)</a>    
    <br />
    <a target="_blank" href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </td>
    </table>
</td>
<td valign="top" width="50%">
    <p>The Southwest Climate and ENvironmental Information Collaborative (SCENIC) serves as an access point of climate information for the full extent or any subset of the Southwest US. Users can  download various climate datasets and utilize our custom build decision support tools to analyze  and visualize the data. Data request can be customized by spatial and temporal extend and analysis can be performed on custom subsets of the available data.     
    
    <!--It is an interface where users can receive information, contribute to the knowledge base of the region and provide feedback on the functioning of the data exchange. The SWCKN compiles existing knowledge about weather, climate and projected climatic impacts on biological and physical systems in the Southwest US.--> 
    </p>
    <h2 align="center">What we provide</h2>
    <p align="left"><ul>
    <li><b>Access to past and present climate data</b></li>
    <ul>
    <li>Observational Station Data</li>
    <ul>
    <li>Source/Network: <br /><a target="_blank" href="http://www.nws.noaa.gov/om/coop/">COOP</a>, <a target="_blank" href="http://www.ncdc.noaa.gov/oa/climate/ghcn-daily/">GHCN</a>, <a target="_blank" href="http://www.icao.int/Pages/default.aspx">ICAO</a>, <a target="_blank" href="http://www.nws.noaa.gov/om/osd/portal.shtml">NWSLI</a>, <a target="_blank" href="http://www.faa.gov/">FAA</a>, <a target="_blank" href="http://www.wmo.int/pages/index_en.html">WMO</a>, <a target="_blank" href="http://www.ncdc.noaa.gov/homr/reports/platforms;jsessionid=D55ED65183545FEDA512F1D0F19BA064.lwf2">WBAN</a>, <a target="_blank" href="http://threadex.rcc-acis.org/links.html">ThredEx</a>, <a target="_blank" href="http://www.cocorahs.org/">CoCoRaHS</a></li> 
    <li>Time Range: Period of record is station dependent (1885 - Present)</li>
    <li>Temporal Resolution: Daily</li>
    <li>Domain: US</li>
    <li>Download Options: 
    <ul>
    <li>Download individual station data, list of stations, by county, county warning area, climate division, state, drainage basin or custom shape</li>
    <li>Formats: excel, html, columnar, delimited</li>
    </ul>
    </li>
    </ul>    
    <li>Gridded Data</li>
    <ul>
    <li>Source: </li>
    <ul>
    <li><a target="_blank" href="">NRCC</a> (1950 - Present)</li>
    <li><a target="_blank" href="http://www.prism.oregonstate.edu/">PRISM</a> (1895 - Present)</li>
    <li><a target="_blank" href="http://www.narccap.ucar.edu/data/model-info.html">NARCCAP</a> (1970 - 2000) 
    <ul>
    <li> Regional Models: CRCM, HRM3, MM5I, RCM3, WRFG </li>
    <li> Global Climate Models (GCM): CCSM, CGCM3, GFDL, HadCM3 </li>
    </ul>
    </li>
    </ul>
    <li>Temporal Resolution: 
    <ul>
    <li>NRCC: Daily</li>
    <li>PRISM: Monthly/Yearly/Daily(1981-Present)</li>
    <li>NARCCAP: Daily</li>
    </ul></li>
    <li>Spatial Resolution:
    <ul>
    <li>NRCC: 5km</li>
    <li>PRISM: 4km</li>
    <li>NARCCAP: 50km</li>
    </ul> 
    </li>
    <li>Domain: US</li>
    <li>Download Options:
    <ul>
    <li>Download individual gridpoint, by county, county warning area, climate division, state, drainage basin or custom shape</li>
    <li>Formats: excel, html, columnar, delimited</li>
    </ul>
    </li>
    </ul>
    </ul>
    <li><b>Access to future projections derived from models in gridded form</b></li>
    <ul>
    <li>Source: </li>
    <ul>
    <li><a target="_blank" href="http://www.narccap.ucar.edu/data/model-info.html">NARCCAP</a> (2040 - 2070)
    <ul>
    <li>Regional Models: CRCM, HRM3, MM5I, RCM3, WRFG</li>
    <li> Global Climate Models (GCM): CCSM, CGCM3, GFDL, HadCM3 </li>
    </ul>
    </li>
    </ul>
    <li>Temporal Resolution: Daily</li>
    <li>Spatial Resolution: 50km</li>
    <li>Domain: US</li>
    <li>Download Options: 
    <ul>
    <li>Download individual gridpoint, by county, county warning area, climate division, state, drainage basin or custom shape</li>
    <li>Formats: excel, html, columnar, delimited</li>
    </ul>
    </li>
    </ul>
    <li><b>Analysis and Visualization Tools</b></li>
    <ul>
    <li>Time Series, Averages, Records, Normals, ...</li>
    <li>Composite and Probability(*not yet implemented) maps</li>
    </ul>
    <li><b>Links to and summaries of external resources</b></li>
    </ul></p>

    <h2 align="center">Behind the scenes</h2>
    <p align="left">We will routinely perform evaluations of the usefulness of the information and tools provided. 
    We will look at the effectiveness of the mechanisms for access, dissemination, summarization and visualization. 
    User feetback as well as internal and external expert advice will guide improvements and enhancements to the SCENIC.
    </p>

    <h2 align="center">Publications</h2>
    <p>
    <a target="_blank" href="http://journals.ametsoc.org/doi/abs/10.1175/BAMS-D-14-00121.1?af=R">
    Establishing best practices to improve usefulness and usability<br />
    of web interfaces providing atmospheric data
    </a>
    </p>
</td>
<td valign="top" width="20%">
</td>
</table>
</div>
{% endblock %}
