{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SCENIC Data Home">


{%block content %}

<!--Documentation-->
<div align="left" id="Docu_About_station_finder" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_About_station_finder").load("{{HTML_URL}}/Docu_About_station_finder.html");
        </script>
<div class="docu" id="Docu_About_single_point_prods" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_About_single_point_prods").load("{{HTML_URL}}/Docu_About_single_point_prods.html");
    </script>
<div class="docu" id="Docu_About_multi_point_prods" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_About_multi_point_prods").load("{{HTML_URL}}/Docu_About_multi_point_prods.html");
    </script>
<div class="docu" id="Docu_About_area_prods" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_About_area_prods").load("{{HTML_URL}}/Docu_About_area_prods.html");
    </script>

<table cellpadding="40" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
       <td valign="top"><a class="trigger_hover" href="{{STATION_FINDER_URL}}"><b>Station Finder</b></a>
           <div class="pop-up">
           <p>Find stations with data for specific climate elements and a chosen time range.</p>
           </div>
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_About_station_finder')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/"><b>Single Point Products</b></a>
            <div class="pop-up">
            <p>Get a listing of data for a weather station or lat/lon coordinate.<br /> 
            Data can be downloaded as .txt, .dat, .xls or displayed on screen.<br />
            Generate monthly and annual summary tables and time series<br />
            Generate Climatology<br />
            Compare station to gridded data at a lon,lat coordinate
            </p>
            </div>
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_About_single_point_prods')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}multi/"><b>Multi Point Products</b></a>
            <div class="pop-up">
            <p>Get a listing of data for multiple weather stations or lat/lon coordinates.<br />
            Data can be downloaded as .txt, .dat, .xls.<br />
            Compute spatial summaries (Time Series)<br />
            Compute temporal summaries (Maps)<br />
            </p>
            </div>
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_About_multi_point_prods')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}area/"><b>Area Products</b></a>
            <div class="pop-up">
            <p>Get a listing of data in an area.<br />
            Area options:<br />
            <ul>
            <li>County, County Warning Area</li>
            <li>Drainage Basin, Climate Division</li>
            <li>US State</li>
            <li>Custom Polygons and Bounding Boxes</li>
            </ul>
            Data can be downloaded as .txt, .dat, .xls.<br />
            Compute spatial summaries (Time Series)<br />
            Compute temporal summaries (Maps)<br />
            </p>
            </div>
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_About_area_prods')">
       </td>
    </tr>
    <tr>
    <td colspan="2">
        <a  href="{{STATION_FINDER_URL}}" class="trigger_hover"><img class="app_img" alt="StationFinder" title="StationFinder" src="{{MEDIA_URL}}img/StationFinder.png"></a> 
        <div class="pop-up">
        <p>Find stations with data for specific climate elements and a chosen time range.</p>
        </div>
    </td>
    <td colspan="2">
        <a  href="{{DATA_URL}}single/" class="trigger_hover"><img class="app_img" alt="SinglePoint" title="SinglePoint" src="{{MEDIA_URL}}img/Stn.png"></a>
        <div class="pop-up">
        <p>Get a listing of data for a weather station or lat/lon coordinate.<br />
        Data can be downloaded as .txt, .dat, .xls or displayed on screen.<br />
        Generate monthly and annual summary tables and time series<br />
        Generate Climatology<br />
        Compare station to gridded data at a lon,lat coordinate
        </p>
        </div>
    </td>
    <td colspan="2">
        <a  href="{{DATA_URL}}multi/" class="trigger_hover"><img class="app_img" alt="SinglePoint" title="SinglePoint" src="{{MEDIA_URL}}img/Stn.png"></a>
        <div class="pop-up">
        <p>Get a listing of data for multiple weather stations or lat,lon coordinates.<br />
        Data can be downloaded as .txt, .dat, .xls.<br />
        Compute spatial summaries (Time Series)<br />
        Compute temporal summaries (Maps)<br />
        </p>
        </div>
    </td> 
    <td colspan="2">
        <a  href="{{DATA_URL}}area/" class="trigger_hover"><img class="app_img" alt="area" title="area" src="{{MEDIA_URL}}img/ClimateModel2.png"></a>
        <div class="pop-up">
        <p>Get a listing of data in an area.<br />
        Area options:<br />
        <ul>
        <li>County, County Warning Area</li>
        <li>Drainage Basin, Climate Division</li>
        <li>US State</li>
        <li>Custom Polygons and Bounding Boxes</li>
        </ul>
         Data can be downloaded as .txt, .dat, .xls.<br />
         Compute spatial summaries (Time Series)<br />
         Compute temporal summaries (Maps)<br />
         </p>
         </div>
    </td>  
    </tr>
    </table>
</td>
</table>

{%endblock content%}
