{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SCENIC Data Home">


{%block content %}

<!--Documentation-->
<div align="left" id="Docu_app_station_finder" style="display:none;">
    {% include 'includes/Docu_app_station_finder.html'%}
</div>
<div class="docu" id="Docu_page_single_point_prods" style="display:none;">
    {% include 'includes/Docu_page_single_point_prods.html'%}
</div>
<div class="docu" id="Docu_page_multi_point_prods" style="display:none;">
    {% include 'includes/Docu_page_multi_point_prods.html'%}
</div>
<div class="docu" id="Docu_page_area_prods" style="display:none;">
    {% include 'includes/Docu_page_area_prods.html'%}
</div>

<table cellpadding="40" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
       <td valign="top"><a class="trigger_hover" href="{{STATION_FINDER_URL}}"><b>Station Finder</b></a>
           <div class="pop-up">{% include 'includes/Docu_popup_station_finder.html'%}</div>
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_station_finder')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}single/"><b>Single Point Products</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_single_point_prods.html'%}</div>   
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_single_point_prods')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}multi/"><b>Multi Point Products</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_multi_point_prods.html'%}</div>   
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_multi_point_prods')">
       </td>
       <td valign="top"><a class="trigger_hover" href="{{DATA_URL}}area/"><b>Area Products</b></a>
            <div class="pop-up">{% include 'includes/Docu_popup_area_prods.html'%}</div>    
       </td>
       <td>
            <img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_area_prods')">
       </td>
    </tr>
    <tr>
    <td colspan="2">
        <a  href="{{STATION_FINDER_URL}}" class="trigger_hover"><img class="app_img" alt="StationFinder" title="StationFinder" src="{{MEDIA_URL}}img/StationFinder.png"></a> 
        <div class="pop-up">{% include 'includes/Docu_popup_station_finder.html'%}</div>   
    </td>
    <td colspan="2">
        <a  href="{{DATA_URL}}single/" class="trigger_hover"><img class="app_img" alt="SinglePoint" title="SinglePoint" src="{{MEDIA_URL}}img/Stn.png"></a>
        <div class="pop-up">{% include 'includes/Docu_popup_single_point_prods.html'%}</div>
    </td>
    <td colspan="2">
        <a  href="{{DATA_URL}}multi/" class="trigger_hover"><img class="app_img" alt="SinglePoint" title="SinglePoint" src="{{MEDIA_URL}}img/Stn.png"></a>
        <div class="pop-up">{% include 'includes/Docu_popup_multi_point_prods.html'%}</div>
    </td> 
    <td colspan="2">
        <a  href="{{DATA_URL}}area/" class="trigger_hover"><img class="app_img" alt="area" title="area" src="{{MEDIA_URL}}img/ClimateModel2.png"></a>
        <div class="pop-up">{% include 'includes/Docu_popup_area_prods.html'%}</div> 
    </td>  
    </tr>
    </table>
</td>
</table>

{%endblock content%}
