{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SCENIC Data Home">


{%block content %}

<!--Documentation-->
<div class="docu" id="Docu_station_data" style="display:none;">
    {% include 'includes/Docu_station_data.html'%}
</div>
<div class="docu" id="Docu_networks" style="display:none;">
    {% include 'includes/Docu_networks.html'%}
</div>
<div class="docu" id="Docu_PRISM" style="display:none;">
    {% include 'includes/Docu_PRISM.html'%}
</div>
<div class="docu" id="Docu_NRCC_INT" style="display:none;">
    {% include 'includes/Docu_NRCC_INT.html'%}
</div>
<div class="docu" id="Docu_LOCA" style="display:none;">
    {% include 'includes/Docu_short_LOCA.html'%}
</div>
<div class="docu" id="Docu_NARCCAP" style="display:none;">
    {% include 'includes/Docu_short_NARCCAP.html'%}
</div>
<div class="docu" id="Docu_LANDSAT" style="display:none;">
    {% include 'includes/Docu_LANDSAT.html'%}
</div>
<div class="docu" id="Docu_MODIS" style="display:none;">
    {% include 'includes/Docu_MODIS.html'%}
</div>
<div align="left" id="Docu_page_remote_sensing_data" style="display:none;">
    {% include 'includes/Docu_page_remote_sensing_data.html'%}
</div>
<div class="docu" id="Docu_page_climate_data" style="display:none;">
    {% include 'includes/Docu_page_climate_data.html'%}
</div>
<div class="docu" id="Docu_page_projections" style="display:none;">
    {% include 'includes/Docu_page_projections.html'%}
</div>

<div class="row row-height">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-height">
        <div class="bg-info main-col inside inside-full-height">
        <h1 align="center">
            <a href="{{DATA_URL}}climate_data/">Climate Data</a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_climate_data')"><br />
            <small align="left">{% include 'includes/Docu_popup_climate_data.html'%}</small>
        </h1>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-height">
        <div class="bg-info main-col inside inside-full-height">
        <h1 align="center">
            <a href="{{DATA_URL}}remote_sensing_data/">Remote Sensing<br />Data</a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_remote_sensing_data')">
            <br />
            <small align="left">{% include 'includes/Docu_popup_remote_sensing_data.html'%}</small>
        </h1>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-height">
        <div class="bg-info main-col inside inside-full-height">
        <h1 align="center">
            <a href="{{DATA_URL}}projections/">Climate Projections</a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_page_projections')">
            <br />
            <small align="left">{% include 'includes/Docu_popup_projections.html'%}</small>
        </h1>
        </div>
    </div>
</div>

{%endblock content%}
