{% extends "csc_base.html" %}

<meta name="keywords" content="station finder, map, by date range, by element, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{%load my_scenic_filters%}
{% block content %}

<!--Documentation-->
<div align="left" id="tool_info" style="display:none;">
    
        {% include 'includes/Docu_About_station_finder.html'%}
</div>
<div id="how_to" style="display:none;">
     <div id="Docu_area_of_interest">{% include 'includes/Docu_sf_area_of_interest.html'%}</div>
     <div id="Docu_elements">{% include 'includes/Docu_sf_elements.html'%}</div>
     <div id="Docu_element_constraints">{% include 'includes/Docu_element_constraints.html'%}</div>
     <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
     <div id="Docu_date_constraints">{% include 'includes/Docu_date_constraints.html'%}</div>
     <div id="Docu_el_date_constraints_examples">{% include 'includes/Docu_el_date_constraints_examples.html'%}</div>
</div>

<!--Network Documentation-->
<div id="Docu_COOP" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_COOP").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_COOP");
</script> 
<div id="Docu_GHCN" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_GHCN").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_GHCN");
</script>
<div id="Docu_ICAO" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_ICAO").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_ICAO");
</script>
<div id="Docu_NWSLI" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_NWSLI").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_NWSLI");
</script>
<div id="Docu_FAA" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_FAA").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_FAA");
</script>
<div id="Docu_WBAN" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_WBAN").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_WBAN");
</script>
<div id="Docu_WMO" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_WMO").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_WMO");
</script>
<div id="Docu_CoCoRaHS" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_CoCoRaHS").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_CoCoRaHS");
</script>
<div id="Docu_Threadex" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_Threadex").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_Threadex");
</script>   
<div id="Docu_SNOTEL" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_SNOTEL").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_SNOTEL");
</script>
<div id="Docu_RAWS" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_RAWS").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_RAWS");
</script>

<!--Hidden variables-->
<input type="hidden" id="URL_PREFIX" name="variable" value="{{ URL_PREFIX }}">
<input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
<input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
<input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
<input type="hidden" id="station_ids_str" name="station_ids_str" value="{{station_ids_str}}">
{%if params_dict.start_date%}
<input type="hidden" id="start_date" name="variable" value="{{params_dict.start_date}}">
{%endif%}
{%if params_dict.end_date%}
<input type="hidden" id="end_date" name="variable" value="{{params_dict.end_date}}">
{%endif%}
{%if params_dict.elements%}
<input type="hidden" id="elements" name="variable" value="{{params_dict.elements}}">
{%endif%}
<input type="hidden" id="elements_str" value="{{initial.elements_string}}" class="elements_string">
<!--Overlay map parameters-->
<input type="hidden" id="area_type" name="area_type" value="{{area_type}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{kml_file_path}}">

<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>

<script type="text/javascript">
$(function(){
    hide_errors_results_on_change('tableDataForm');
});
</script>

<!--Tool Infor/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}station_finder/'"/>
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    <tr>
    <td colspan="2">
    <div class="results">
        {%if params_json%}
        {%if not error and not form_error%}
        <a align="left" target="_blank" href="{{STATION_DATA_URL}}?params_json={{params_json}}" class="link_to_datafind"><img src = "{{MEDIA_URL}}img/access_data_button.png"></a>
        {%endif%}
        {%endif%} 
    </div>
    </td>
    </tr>
    </table>
</td>
</table>

<!--First Table: Form, HowTos, Links-->
<table>
<td valign="top" align="center" width="660px">
    <!-- Form Errors-->
    {%if form_error%}
    <p class="error" align="center">ERROR: Please correct the form error(s) highlighted in red!</p>
    {%endif%}
</td>
</table>

<table cellpadding="none">
<td valign="top">
    <div id='formData'>
    <form id="tableDataForm" method="post" action="" onsubmit="show_loading()">{% csrf_token %}
    <table class="form" id="tableData" >
    <tr class="station" style="display:table-row">{% include 'includes/sf_select_area.html'%}</tr>
    <tr class="station" style="display:table-row;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>    
    <tr class="station" style="display:table-row">{% include 'includes/elements.html'%}</tr>
    <tr class="station" style="display:table-row"  valign="bottom">{% include 'includes/element_constraints.html'%}</tr>
    <tr class="station" style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
    <tr class="station" style="display:table-row"  valign="bottom">{% include 'includes/date_constraints.html'%}</tr>    
    </table>
    <input style="margin:5px" type="submit" value="Show me stations" name="formData"/>
    <input type="hidden" name="checked_categories" id="checked_categories" value="all">
    <input type="hidden" id="overlay_state" value="{{initial.overlay_state}}">
    </form>
</div><!--end form data div-->

<!--Errors/Maps-->
<!--<td valign="top">-->
<td valign="top" width="60%" align="center">
    <!--Form Errors and search parameter section-->
    {%if form_error%}
    <div id="form_error" class="results">
        <p class="error">ERROR: Please correct the form error(s) highlighted in red!</p>
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    </div>
    {%endif%}

    <!--Maps-->
    <div class="results">
    {%if station_json and not error and not form_error and not need_overlay_map%}
    <table id="map_legend" valign="top">
    <tr><td colspan="5" align="center"><b>Station Network Legend</b>
    </td></tr>
    </table>
    {%endif%}

    {%if station_json and not error and not form_error and not need_overlay_map%}
    <input type="hidden" id="station_json" name="variable" value="{{station_json}}">
    <div id="map"></div>
    <script type="text/javascript">
        initialize_station_finder()
    </script>

    <!--Link to data portal-->
    <a align="center" target="_blank" href="{{DATA_URL}}multi/lister/?params_json={{params_json}}" class="link_to_datafind"><img src = "{{MEDIA_URL}}img/access_data_button.png"></a>
    
    <!--Station List-->
    <div class="station_list">
        <table cellspacing="1" id="station_list" border=1>
        <thead>
        <tr>
        <th>Name</th>
        <th>ID</th>
        <th>State</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Elev</th>
        <th>Networks</th>
        </tr>
        </thead>
        </table>
    </div>
    {%endif%}<!--end if  station_json and not error and not form_error and not need_overlay_map-->
    </div>

    <!-- Form Errors-->
    {%if form_error%}
    {%for key, val in form_error.items%}
    <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
    {%endfor%}
    {%endif%}

    <!--Map section-->
    <!--Gridpoint map-->
    <div id="GridpointMap" style="display:none;"></div>
    <!--Overlay maps-->
    {%if need_overlay_map%}
        <div id="OverlayMap" style="display:block;">{% include 'includes/overlay_map.html'%}</div>
        {%if overlay_error%}
            <p class="error">{{overlay_error}}</p>
        {%else%}
            <div id="map-overlay"></div>
            <div id="content-window"></div>
            <script type="text/javascript">initialize_map_overlays("{{initial.select_area_type}}","{{initial.host}}", "{{initial.kml_file_path}}")</script>
        {%endif%}
    {%else%}
        <div id="OverlayMap" style="display:none;">{% include 'includes/overlay_map.html'%}</div>   
    {%endif%}

    <!--Polygon map-->
    {%if need_polygon_map%}
    <div id="PolyMap" style="display:block;">
    {%else%}
    <div id="PolyMap" style="display:none;">
    {%endif%}
        <div id="panel">
        <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
        {%if need_polygon_map%}
        <div id="map-polygon"></div>
        <script type="text/javascript">initialize_polygon_map();</script>
        {%endif%}
    </div>
    <!--end map section--> 

</td>
</table>

{%endblock%}
