{% extends "csc_base.html" %}

<meta name="keywords" content="station finder, map, by date range, by element, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{%load my_scenic_filters%}
{% block content %}

<!---Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="station_finder">

<!--Documentation-->
<div align="left" id="tool_info" style="display:none;">
    {% include 'includes/Docu_about_station_finder.html'%}
</div>
<div id="how_to" style="display:none;">
     <div id="Docu_area_of_interest">{% include 'includes/Docu_sf_area_of_interest.html'%}</div>
     <div id="Docu_elements">{% include 'includes/Docu_sf_elements.html'%}</div>
     <div id="Docu_element_constraints">{% include 'includes/Docu_element_constraints.html'%}</div>
     <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
     <div id="Docu_date_constraints">{% include 'includes/Docu_date_constraints.html'%}</div>
     <div id="Docu_el_date_constraints_examples">{% include 'includes/Docu_el_date_constraints_examples.html'%}</div>
</div>

<!--Network Documentation-->
<div id="Docu_COOP" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_COOP").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_COOP");
</script> 
<div id="Docu_GHCN" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_GHCN").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_GHCN");
</script>
<div id="Docu_ICAO" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_ICAO").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_ICAO");
</script>
<div id="Docu_NWSLI" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_NWSLI").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_NWSLI");
</script>
<div id="Docu_FAA" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_FAA").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_FAA");
</script>
<div id="Docu_WBAN" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_WBAN").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_WBAN");
</script>
<div id="Docu_WMO" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_WMO").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_WMO");
</script>
<div id="Docu_CoCoRaHS" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_CoCoRaHS").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_CoCoRaHS");
</script>
<div id="Docu_Threadex" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_Threadex").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_Threadex");
</script>   
<div id="Docu_SNOTEL" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_SNOTEL").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_SNOTEL");
</script>
<div id="Docu_RAWS" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_RAWS").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_RAWS");
</script>

<!--Hidden variables-->
<!--Overlay map parameters-->
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">

<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>


<!--Tool Info/Howto-->
<table>
<td valign="bottom" width="45%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}station_finder/'">
    {%if station_json and not form_error%}
    <input type="submit" value="Change Options" onclick="ShowHideTopOfPage()">
    {%endif%}
</td>
<td valign="top" width="55%" align="left">
    <table>
    <tr>
    <td><div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div></td>
    <td><div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div></td>
    </tr>
    </table>
</td>
</table>

{% if not run_done%}
    <table id="top_of_page">
{%else%}
    <table id="top_of_page" style="display:none">
{%endif%}
<td valign="top">
    <div id='formData'>
    <form id="tableDataForm" method="post" action="" onsubmit="show_loading() & setHiddenFields('tableDownloadForm', $(this).attr('id'))">{% csrf_token %}
    <table class="form" id="tableData" >
    <tr style="display:table-row">{% include 'includes/sf_select_area.html'%}</tr>
    <tr style="display:table-row;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>    
    <tr style="display:table-row">{% include 'includes/elements.html'%}</tr>
    <tr style="display:table-row"  valign="bottom">{% include 'includes/element_constraints.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/start_date.html'%}</tr>
    <tr style="display:table-row;">{% include 'includes/end_date.html'%}</tr>
    <tr style="display:table-row"  valign="bottom">{% include 'includes/date_constraints.html'%}</tr>
    </table>
    <input type="hidden" name="app_name" value="station_finder">
    <input style="margin:5px" type="submit" value="Show me stations" name="formData"/>
    <input type="hidden" name="checked_categories" id="checked_categories" value="all">
    <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
    </form>
    </div><!--end form data div-->

<!--Errors/down arrow/maps-->
<td valign="top" align="center">
    <!--Form Errors and search parameter section-->
    {%if form_error%}
    <div id="form_error" class="results">
        <p class="error">ERROR: Please correct the form error(s) highlighted in red!</p>
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    </div>
    {%endif%}

    {%if large_request and not form_error %}
    <div>{% include 'includes/offline_message.html'%}</div>
    {%endif%}

    <!--Shape file upload form-->
    <div>{% include 'includes/upload_shape_file.html'%}</div>

    <!--Map section-->
    <!--Polygon map-->
    <!--Polygon map-->
    {%if need_polygon_map%}
    <input style="display:inline;" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
    <input style="display:inline;" id="address" type="textbox" value="Enter Place or Location" style="height:15px;width:150px;">
    <div id="PolyMap" style="display:block;">
    <div id="map-polygon" style="display:block;"></div>
    {%if initial.shape%}
        <script type="text/javascript">initialize_polygon_map("{{initial.shape}}");</script>
    {%else%}
        <script type="text/javascript">initialize_polygon_map();</script>
    {%endif%}
    {%else%}
    <input style="display:none;" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
    <input style="display:none;" id="address" type="textbox" value="Enter Place or Location" style="height:15px;width:150px;">
    <div id="PolyMap" style="display:none;">
    <div id="map-polygon" style="display:none;"></div>
    {%endif%}
        <div id="panel">
        <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
    </div>

    <!--Overlay maps-->
    {%if need_overlay_map%}
        <div id="OverlayMap" style="display:block;">{% include 'includes/overlay_map.html'%}</div>
        <div id="map-overlay"></div>
        <div id="content-window"></div>
        <script type="text/javascript">initialize_map_overlays()</script>
    {%else%}
        <div id="OverlayMap" style="display:none;">{% include 'includes/overlay_map.html'%}</div>
        <div id="map-overlay" style="display:none;"></div>
        <div id="content-window" style="display:none;"></div>
    {%endif%}
    <!--end map section-->  

   <!-- Main Map-->
    {%if station_json and not run_done%}
    <div class="results">
        {% include 'includes/station_finder_map.html'%}
    </div>
    {%endif%}
</td>
</table><!--End table top_of_page-->


<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" align="center">
    <!--Map error-->
    {% if error %}
        <p class="error">{{ error }}</p>
    {%endif%} 
    
    <!-Data Download->
    <div id='formDownload' style="display:none;max-width:400px;">
    {%if form_error_download%}
        <script type="text/javascript">         
            $("#data_format").children('option[value="html"]').attr('disabled', true)
            ShowPopupDocu('formDownload');
        </script>
        <p class="error">
            {%for key, val in form_error_download.items%}
                {{key}}: {{val}}<br />
            {%endfor%}
        </p>
    {%else%}
        <p class="message">Your request will be processed off line.<br />
        Please submit this request form.</p>
    {%endif%}
    <form id="tableDownloadForm" method="post" action="" onsubmit="show_loading() & setHiddenFields('tableDataForm', $(this).attr('id'))">{% csrf_token %}
    <table class="form" id="tableDownload" >
    <tr class="data_sf" id="data_summ" style="display:table-row;">{% include 'includes/data_summary.html'%}</tr>
    {%if initial.data_summary == "temporal_summary"%}
        <tr id="temp_summary" class="data_sf" style="display:table-row">{% include 'includes/temporal_summary.html'%}</tr>
    {%else%}
        <tr id="temp_summary" class="data_sf" style="display:none">{% include 'includes/temporal_summary.html'%}</tr>
    {%endif%}
    {%if initial.data_summary == "spatial_summary"%}
        <tr id="spat_summary" class="data_sf" style="display:table-row">{% include 'includes/spatial_summary.html'%}</tr>
    {%else%}
        <tr id="spat_summary" class="data_sf" style="display:none">{% include 'includes/spatial_summary.html'%}</tr>
    {%endif%}
    {%if initial.data_summary == "windowed_data"%}
        <tr class="data_sf" id="start_wind" style="display:table-row;">{% include 'includes/start_window.html'%}</tr>
        <tr class="data_sf" id="end_wind" style="display:table-row;">{% include 'includes/end_window.html'%}</tr>
    {%else%}
        <tr class="data_sf" id="start_wind" style="display:none;">{% include 'includes/start_window.html'%}</tr>
        <tr class="data_sf" id="end_wind" style="display:none;">{% include 'includes/end_window.html'%}</tr>
    {%endif%}
    <tr class="data_sf" style="display:table-row;">{% include 'includes/data_format_area.html'%}</tr>
    {%if initial.data_format == "xl" or initial.data_format == "html"%}
        <tr id="delim" class="data_sf" style="display:none;">{% include 'includes/delimiter.html'%}</tr>
    {%else%}
        <tr id="delim" class="data_sf" style="display:table-row;">{% include 'includes/delimiter.html'%}</tr>
    {%endif%}
    <tr id="out_file" class="data_sf" style="display:table-row;">{% include 'includes/out_file.html'%}</tr>
    <tr id="un" class="data_sf" style="display:table-row;">{% include 'includes/user_name.html'%}</tr>
    <tr id="ue" class="data_sf" style="display:table-row;">{% include 'includes/user_email.html'%}</tr>
    </table>
    <input type="hidden" name="station_json" value="{{station_json}}">
    <input type="hidden" id="station_ids_string" name="station_ids_string" value="{{initial.station_ids_string}}">
    <input style="margin:5px" type="submit" value="Get data"style="background-color:#006666;color:#FFEFD5" name="formDownload"/>
    </form>
    </div><!--end formDownload div-->

    <!-- Main Map-->
    {% if station_json and run_done%}
    <div class="results">
        {% include 'includes/station_finder_map.html'%}
    </div>
    {%endif%}
</td>
</table>

{%endblock%}
