{% extends "csc_base.html" %}

<meta name="keywords" content="station finder, map, by date range, by element, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{%load my_scenic_filters%}
{% block content %}

<!--Documentation-->
<div align="left" id="tool_info" style="display:none;">
    {% include 'includes/Docu_about_station_finder.html'%}
</div>
<div id="how_to" style="display:none;">
     <div id="Docu_area_of_interest">{% include 'includes/Docu_sf_area_of_interest.html'%}</div>
     <div id="Docu_elements">{% include 'includes/Docu_sf_elements.html'%}</div>
     <div id="Docu_element_constraints">{% include 'includes/Docu_element_constraints.html'%}</div>
     <div id="Docu_start_end_date">{% include 'includes/Docu_start_end_date.html'%}</div>
     <div id="Docu_date_constraints">{% include 'includes/Docu_date_constraints.html'%}</div>
     <div id="Docu_el_date_constraints_examples">{% include 'includes/Docu_el_date_constraints_examples.html'%}</div>
</div>

<!--Network Documentation-->
<div id="Docu_COOP" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_COOP").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_COOP");
</script> 
<div id="Docu_GHCN" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_GHCN").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_GHCN");
</script>
<div id="Docu_ICAO" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_ICAO").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_ICAO");
</script>
<div id="Docu_NWSLI" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_NWSLI").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_NWSLI");
</script>
<div id="Docu_FAA" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_FAA").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_FAA");
</script>
<div id="Docu_WBAN" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_WBAN").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_WBAN");
</script>
<div id="Docu_WMO" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_WMO").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_WMO");
</script>
<div id="Docu_CoCoRaHS" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_CoCoRaHS").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_CoCoRaHS");
</script>
<div id="Docu_Threadex" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_Threadex").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_Threadex");
</script>   
<div id="Docu_SNOTEL" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_SNOTEL").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_SNOTEL");
</script>
<div id="Docu_RAWS" style="display:none;"></div>
<script type="text/javascript">                        
$("#Docu_RAWS").load("{{HTML_URL}}/Docu_networks_short.html #Docu_Short_RAWS");
</script>

<!--Hidden variables-->
<!---Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="station_finder">
<input type="hidden" id="data_type" name="data_type" value="station">
<!--Overlay map parameters-->
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">


<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>

<!--Button row-->
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> 
        <!--Tool Info/Howto-->
        <button type="submit" class="btn btn-primary" onclick="window.location='{{DATA_URL}}station_finder/'">
            Start Over
        </button>
        {%if station_json and not form_error%}
            <button type="submit" class="btn btn-primary" onclick="ShowHideTopOfPage()">
                Change Options
            </button>
        {%endif%}
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" align="center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id=tool_info_head>{% include 'includes/Button_tool_info.html'%}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id="how_to_head">{% include 'includes/Button_how_to.html'%}</div>
        </div>
    </div>
</div><br />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <!--Download form-->
        <div id="formDownload" class="form" style="display:none;">
            {% include 'includes/station_finder_download_form.html'%}
        </div>
        <div id="offlineMessage"style="display:none;">
            {% include 'includes/offline_message.html'%}
        </div>
    </div>
</div>

{% if not run_done%}
    <div id="top_of_page">
{%else%}
    <div id="top_of_page" style="display:none">
{%endif%}

    <!--FORM/MAP/ERRORS-->
    <div class="row full-height">
        <!--Form-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> 
            <form id="DataForm" class="main-form" role="form" class="form-horizontal" action="" method="post" onsubmit="show_loading()">{% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Show me stations
                    </button>
                </div>
                {% include 'includes/area_select.html'%}
                {% include 'includes/area.html'%}
                {% include 'includes/elements.html'%}
                {% include 'includes/element_constraints.html'%}
                {% include 'includes/start_date.html'%}
                {% include 'includes/end_date.html'%}
                {% include 'includes/date_constraints.html'%}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Show me stations
                    </button>
                </div>
                <div class="form-group">
                    <input type="hidden" class="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
                    <input type="hidden" name="app_name" value="station_finder">
                    <input type="hidden" name="checked_categories" id="checked_categories" value="all"> 
                </div>
                <div class="form-group"></div>
            </form>
        </div>
        <!--Main-->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <!--Shape file upload form-->
            <div>{% include 'includes/upload_shape_file.html'%}</div>

            <!--AJAX error-->
            <div style="display:none" class="ajax_error"></div>
            <!--Form Errors and search parameter section-->
            {%if form_error%}

            <div class="form_error" class="results">
                <p class="bg-error">ERROR: Please correct the form error(s) highlighted in red!</p>
                {%for field_id, err  in form_error.items%}
                    <script type="text/javascript">highlight_form_field("{{field_id}}","{{err}}")</script>
                {%endfor%}
            </div>
            {%endif%} 

            <!--Maps-->
            {%if need_polygon_map%}
                <input style="display:inline;" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
                <input style="display:inline;" id="address" type="textbox" value="Enter Place or Location" style="height:15px;width:150px;">
                <div id="PolyMap" style="display:block;">
                    <div id="map-polygon" style="display:block;"></div>
                    {%if initial.shape%}
                        <script type="text/javascript">initialize_polygon_map("{{initial.shape}}");</script>
                    {%else%}
                        <script type="text/javascript">initialize_polygon_map();</script>
                    {%endif%}
            {%else%}
                <input style="display:none;" id="zoombutton" type="button" value="Zoom To" onclick="zoomToLocation()" style="height:21px;">
                <input style="display:none;" id="address" type="textbox" value="Enter Place or Location" style="height:15px;width:150px;">
                <div id="PolyMap" style="display:none;">
                <div id="map-polygon" style="display:none;"></div>
            {%endif%}
            </div><!--end PolyMap-->

            <!--Overlay maps-->
            {%if need_overlay_map%}
                <div id="OverlayMap">{% include 'includes/overlay_map.html'%}</div>
                <div id="map-overlay"></div>
                <div id="content-window"></div>
                <script type="text/javascript">initialize_map_overlays()</script>
            {%else%}
                <div id="OverlayMap" style="display:none;">{% include 'includes/overlay_map.html'%}</div>
                <div id="map-overlay" style="display:none;"></div>
                <div id="content-window" style="display:none;"></div>
            {%endif%}
            <!--end map section-->

            <!-- Main Map-->
            {%if station_json and not run_done%}
                <div class="results">
                    {% include 'includes/station_finder_map.html'%} 
                </div>
            {%endif%}
        </div><!--end col...-9-->
    </div><!--end row FORM/MAP-->
</div><!--end top_of_page-->

<!--Main Results-->
<div class="row results">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <!--Map error-->
        {% if error %}
            <p class="error results">{{ error }}</p>
        {%endif%} 
        <!--Map and Station List-->
        {% if station_json and run_done%}
            <div class="dataTableInfo results"  align="center" style="max-width:95%;">
            {%for key_val in params_display_list%}
                <b>{{key_val.0}}</b>: {{key_val.1}};
                {%if key_val.0 == "Variables"%}<br />{%endif%}
            {%endfor%}
            </div><br />
        
            <div class="results">
                {% include 'includes/station_finder_map.html'%}
            </div>
        {%endif%} 
    </div>
</div>

{%endblock%}
