{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SCENIC Data Home">


{%block content %}

<!--Documentation-->
<div title="Station Finder" id="Docu_sf" style="display:none;">
    {% include 'includes/Docu_page_station_finder.html'%}
</div>
<div title="Single Point Products" class="docu" id="Docu_spp" style="display:none;">
    {% include 'includes/Docu_page_single_point_prods.html'%}
</div>
<div title="Multi Point Products" class="docu" id="Docu_mpp" style="display:none;">
    {% include 'includes/Docu_page_multi_point_prods.html'%}
</div>
<div title="Short Description of Networks" class="docu" id="Docu_nwks" style="display:none;">
    {% include 'includes/Docu_station_networks.html'%}
</div>
<div title="Links to Networks" class="docu" id="Docu_nwk_links" style="display:none;">
    {% include 'includes/Docu_station_networks_links.html'%}
</div>
<div title="Short Description of Grids" class="docu" id="Docu_ag" style="display:none;">
    {% include 'includes/Docu_all_grids.html'%}
</div>
<!--End Documentation-->


<div class="row row-height">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-height">
        <div class="bg-info main-col inside inside-full-height">
        <h3 align="center">
            <a href="{{SCENIC_URL}}analysis/station_finder/">Station Finder</a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_sf')"><br /><br />
            <small align="left">
                <p class="lead">
                    <ul>
                        <li>Find stations with data for specific climate variables and time range</li>
                    </ul>
                </p> 
            </small>
        </h3>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-height">
        <div class="bg-info main-col inside inside-full-height">
        <h3 align="center">
            <a href="{{SCENIC_URL}}analysis/single/">Single Point<br />Products</a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_spp')">
            <br />
            <small align="left">
                <p class="lead">
                    <ul>
                        <li>Obtain data for a weather station or a grid point</li>
                        <li>Download as .txt, .dat, .xls</li>
                        <li>Monthly and annual summary tables and time series</li>
                        <li>Climatologies</li>
                        <li>Compare station to gridded data at a lon,lat coordinate</li>
                    </ul>
                </p>
            </small>
        </h3>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-height">
        <div class="bg-info main-col inside inside-full-height">
        <h3 align="center">
            <a href="{{SCENIC_URL}}analysis/multi/">Multi Point<br />Products</a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_mpp')">
            <br />
            <small align="left">
                <p class="lead">
                    <ul>
                        <li>Obtain data for multiple weather stations or grid points</li>
                        <li>Summarize data over custom polygons or Climate Divisions, Counties, States, etc.</li>
                        <li>Downlaod data as .txt, .dat, .xls</li>
                        <li>Compute spatial summaries (Time Series)</li>
                        <li>Compute temporal summaries (Maps)</li>
                    </ul>
                </p>
            </small>
        </h3>
        </div>
    </div>
</div>

{%endblock content%}
