{% extends "csc_base.html" %}

<meta name="keywords" content="station finder, map, by date range, by variable, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates graphs of monthly averages">

{%load my_scenic_filters%}
{% block content %}

<!--Documentation-->
<div title="About this tool" align="left" id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_station_finder.html'%}
</div>
<div title="How to use this tool" id="how_to" style="display:none;">
     <div id="Docu_area_of_interest">{% include 'includes/Docu_area_of_interest.html'%}</div>
     <div id="Docu_start_end_date">{% include 'includes/Docu-start-end-date.html'%}</div>
     <div id="Docu_date_constraints">{% include 'includes/Docu_date_constraints.html'%}</div>
     <div id="Docu_variables">{% include 'includes/Docu_variables.html'%}</div>
     <div id="Docu_variable_constraints">{% include 'includes/Docu_variable_constraints.html'%}</div>
     <div id="Docu_el_date_constraints_examples">{% include 'includes/Docu_el_date_constraints_examples.html'%}</div>
</div>

<!--Network Documentation-->
<div title="COOP" id="COOP_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#COOP_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_COOP");
</script> 
<div title="GHCN" id="GHCN_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#GHCN_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_GHCN");
</script>
<div title="ICAO" id="ICAO_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#ICAO_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_ICAO");
</script>
<div title="NWSLI" id="NWSLI_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#NWSLI_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_NWSLI");
</script>
<div title="FAA" id="FAA_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#FAA_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_FAA");
</script>
<div title="WBAN" id="WBAN_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#WBAN_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_WBAN");
</script>
<div title="WMO" id="WMO_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#WMO_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_WMO");
</script>
<div title="CoCoRaHS" id="CoCoRaHS_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#CoCoRaHS_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_CoCoRaHS");
</script>
<div title="Threadex" id="Threadex_Doc" style="display:none;"></div>
<script type="text/javascript">                        
$("#Threadex_Doc").load("{{HTML_URL}}/Docu_station_networks.html #Docu_Threadex");
</script>   

<!--Hidden variables-->
<!---Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="{{app_name}}">
<input type="hidden" id="data_type" name="data_type" value="station">
<!--Overlay map parameters-->
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">


<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>

<!--Button row-->
{% include 'includes/button-row.html'%}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <!--Download form-->
        <div id="formDownload" class="form" style="display:none;">
            {% include 'includes/station-finder-download-form.html'%}
        </div>
        <div id="offlineMessage"style="display:none;">
            {% include 'includes/offline_message.html'%}
        </div>
    </div>
</div>

{% if not run_done%}
<div id="top_of_page">
{%else%}
    {% if results.station_json and not results.error%}
        <div id="top_of_page" style="display:none">
    {%else%}
        <div id="top_of_page">
    {%endif%}
{%endif%}
    <!--FORM/MAP/ERRORS-->
    <div class="row" height="100%">
        <!--Form-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
            <form id="DataForm" class="main-form" role="form" action="" method="post" onsubmit="show_loading()">{% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Show me stations
                    </button>
                </div>
                <input type="hidden" class="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
                <input type="hidden" name="app_name" value="station_finder">
                <input type="hidden" name="checked_categories" id="checked_categories" value="all">
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">1. Define your region!</label> 
                    <div class="input-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {% include 'includes/area-type.html'%}
                            <span class="input-group-addon"></span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <span id="area">{% include 'includes/area.html'%}</span>
                        </div>
                    </div>
                </div>
                <div class="form-input-group form-group" align="center">
                    {% include 'includes/valid_daterange.html'%}
                    <label class="form-group-header">4. Define your date ranges! </label>
                    <div class="input-group">
                        {% include 'includes/start-date.html'%}
                        <span class="input-group-addon"></span>
                        {% include 'includes/end-date.html'%}
                    </div>
                    {% include 'includes/date_constraints.html'%}
                </div>
                <div class="form-input-group form-group" align="center">
                    <label class="form-group-header">2. Choose your dataset!</label>
                    {% include 'includes/variables.html'%}
                    {% include 'includes/variable_constraints.html'%}
                </div>
                <div class="form-group">
                    <button type="submit" class="main-form-button btn btn-large btn-primary pull-left" name="formData" style="width:100%">
                    Show me stations
                    </button>
                </div>
            </form>
        </div>
        <!--Maps/errors and other forms-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!--Shape file upload form-->
            <div>{% include 'includes/upload_shape_file.html'%}</div>

            <!--AJAX error-->
            <div style="display:none" class="ajax_error"></div>
            <!--Form Errors and search parameter section-->
            {%if form_error%}
            <div class="form_error results">
                {% include 'includes/form_error.html'%}
            </div>
            {%endif%} 
            <!--Request error-->
            {%if results.error%}
            <div class="results"><p class="error">{{results.error}}</p></div>
            {%endif%}
            <!--No data found-->
            {%if  run_done and  not results.station_json and not results.error%}
            <div class="results">{% include 'includes/no_results.html'%}</div>
            {%endif%}
            <!--Maps-->
            <!--Polygon map-->
            {% include 'includes/map-polygon.html'%}
            <!--Overlay maps-->
            {% include 'includes/map-overlay.html'%} 
            <!-- Main Map-->
            {%if results.station_json and not run_done%}
            <div class="results">
                {% include 'includes/station-finder-map.html'%} 
            </div>
            {%endif%}
        </div><!--end col...-9-->
    </div><!--end row FORM/MAP-->
    <br />
</div><!--end top_of_page-->

<!--Main Results-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <!--Map and Station List-->
        {% if results.station_json and run_done and not results.error%}
        <div class="results">
            <p align="center" style="max-width:95%;">
            {%for key_val in params_display_list%}
                <b>{{key_val.0}}</b>: {{key_val.1}};<br />
            {%endfor%}
            </p><br />
            {% include 'includes/station-finder-map.html'%}
        </div><!--results-->
        {%endif%} 
    </div>
</div>

{%endblock%}
