{% extends "csc_base.html" %}

{% block content %}

<p align="center">You are here <a href="/sw_ckn">HOME></a>
<a href="/sw_ckn/about_us/">ABOUT US</a></p>

<div class="container">
    <div class="center-left">
    </div>

    <div class="center">
        <p align="center"><font color="#A00000" size="xx-large"><b>PROVIDING EASY ACCESS TO CLIMATE DATA,PRODUCTS AND INFORMATION</b></font></p>
        <p align="left">to support the research efforts of the Southwest Climate Science Center (SWCSC) and
        the Landscape Conservation Cooperatives(LCC) as well as delivering useful tools that will help resource managers in their decision making process.</p>
        <br />
        <p>To learn more, read <a href="{{URL_PREFIX}}sw_ckn/what_we_do/">What we do</a></li></p>
    </div>

    <div class="center-right">
        <h2>Links</h2>
       <a href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
        <br />
        <a href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
        <br />
        <a href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </div>
</div>
{% endblock %}
