{% extends "csc_base.html" %}

{% block content %}

  <div class="container">
    <div class="center-left">
        <h1>WRCC</h1>
        <p><strong>Western Regional Climate Center</strong><br>
            2215 Raggio Parkway<br>
            Reno, NV  89512-1095<br>
            Tel: 775-674-7010<br>
            Fax: 775-674-7001<br>
            Email: <a href="mailto:wrcc@dri.edu">wrcc@dri.edu</a><br>
            Open Monday - Friday <br>
            8am - 4pm Pacific Time <br>
            <a href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external"><img src="http://www.wrcc.dri.edu/media/img/facebook_16.png" alt="fb icon"></a>
            <a href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external">WRCC on facebook</a>
        </p>
    </div>

    <div class="center-right">
        <h1>DRI</h1>
        <a href="http://www.dri.edu/reno">Desert Research Intitute Home Page</a>
        <a href="http://www.dri.edu/reno">Desert Research Intitute Contact Information</a>
    </div>

    <div class="center">
        <h1>{{title}}</h1>
        <h1>SW-CSC</h1>
        <a href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
        <br />
        <a href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
    </div>
  </div>

{% endblock %}
