{% extends "csc_base.html" %}

<meta name="keywords" content="contact,contact information,DRI,WRCC, Southwest CSC,Climate Science Center, Climate Knowledge Network">
<meta name="description" content="SW-CKN Contact US">

{% block content %}
  
  <p align="center">You are here 
  <a href="{{HOME_URL}}">HOME></a>
  <a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
  <a href="{{SW_CKN_URL}}contact_us/">CONTACT_US</a></p>

  <div class="container">
        <table align="center" cellspacing="20">
        <td valign="top">
        <h1>WRCC</h1>
        <p><strong>Western Regional Climate Center</strong><br />
            2215 Raggio Parkway<br />
            Reno, NV  89512-1095<br />
            Tel: 775-674-7010<br />
            Fax: 775-674-7001<br />
            Email: <a href="mailto:wrcc@dri.edu">wrcc@dri.edu</a><br />
            Open Monday - Friday <br />
            8am - 4pm Pacific Time <br />
            <a target="_blank" href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external"><img src="http://www.wrcc.dri.edu/media/img/facebook_16.png" alt="fb icon"></a>
            <a  target="_blank" href="http://www.facebook.com/pages/Western-Regional-Climate-Center-WRCC/330763610291776" rel="external">WRCC on facebook</a>
        </p>
        </td>
        <td valign="top">
        <h1>SW-CSC</h1>
        <a target="_blank" href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
        <br />
        <a target="_blank" href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
        <br />
        <h3>For questions and concerns about the<br />
        Southwest Climate Knowledge Network<br />please contact:</h3>
        <p><strong>Britta Daudert</strong><br />
        Western Regional Climate Center<br />
        Desert Research Institute<br />
        2215 Raggio Parkway<br />
        Reno, NV 89512<br />
        <a href="mailto:csc-wrcc@dri.edu">csc-wrcc@dri.edu</a><br /> 
        775-674-7062<br />
        CRVB 152<br />
        Monday - Friday <br />
        8am - 4pm Pacific Time <br />
        </td>
        <td valign="top">
        <h1>DRI</h1>
        <a target="_blank" href="http://www.dri.edu/reno">Desert Research Intitute Home Page</a><br />
        <a target="_blank" href="http://www.dri.edu/reno">Desert Research Intitute Contact Information</a>
        </td>
        </table>
  <!-- Footer -->
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>

</div>
{% endblock %}
