{% extends "csc_base.html" %}
<meta name="keywords" content="climate, weather, dashboard, monitoring">
<meta name="description" content="Climate Dashboard">

{% block content %}

<p align="center">You are here 
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{SW_CKN_URL}}monitoring/">MONITORING</a></p>

<div class="container">
<table class="dashboard">
    <th><h1>The Southwest</h1></th><th><h1>The Rest</h1></th>
   <!--Weather-->
    <tr><td>
        <h2 style="color:#FF007F;">Current Weather</h2>
        <table border="1px solid #006666">
            <th>National Weather Service</th><th>Infrared Satellite Image</th><th>Radar Mosaic</th>
            <tr>
            <td><a href="http://www.wrh.noaa.gov/" onClick="return popup_window(this, 'NWS West')"><img alt="Climate map" src="http://forecast.weather.gov/wwamap/png/wr.png" class="sidebar"></a></td>
            <td><a href="http://sat.wrh.noaa.gov/satellite/showsat.php?wfo=&area=sw&type=ir&size=4" class="popup_map"><img alt="Climate map" src="http://sat.wrh.noaa.gov/satellite/4km/SW/IR4SW.GIF" class="sidebar"></a></td>
            <!--<td><a href="http://sat.wrh.noaa.gov/satellite/loopsat.php?wfo=rev&area=west&type=ir&size=4" onClick="return popup_window(this, 'Satellite Loop West')"><img alt="Climate map" src="{{MEDIA_URL}}img/SWIRSat.png" class="sidebar"></a></td>-->
            <!-- <td><a href="http://radar.weather.gov/ridge/Conus/pacsouthwest_loop.php" class="popup_map"><img alt="Climate map" src="http://sat.wrh.noaa.gov/satellite/loopsat.php?wfo=rev&area=west&type=ir&size=4" class="sidebar"></a></td>-->
             <td><a href="http://radar.weather.gov/ridge/Conus/pacsouthwest_loop.php" onClick="return popup_window(this, 'NWS West')"><img alt="Climate map" class="sidebar" src="http://radar.weather.gov/ridge/Conus/Loop/pacsouthwest_loop.gif"></a></td>
            </tr>
        </table>
       <p align="left"><font color="#FF007F">MORE: </font>
       <a target="_blank" href="http://www.wrh.noaa.gov/satellite/?wfo=rev">NOAA West Satellite Images</a> |
       <a target="_blank" href="http://www.nrlmry.navy.mil/sat-bin/epac_westcoast.cgi">NRL West Satellite Images</a> |
       <a target="_blank" href="http://www.weather.gov/Radar">NWS Radar Images</a></p><br />
    </td><td>
        <h2 style="color:#FF007F;">Current Weather</h2>
        <table border="1px solid #006666">
            <th>National Weather Service</th><th>Infrared Satellite Image</th><th>Radar Mosaic</th>
            <tr>
            <td><a href="http://www.weather.gov/" onClick="return popup_window(this, 'NWS US')"><img alt="Climate map" src="{{ MEDIA_URL }}img/NWS_US.png" class="sidebar"></a></td>
            <td><a href="http://www.weather.gov/satellite" onClick="return popup_window(this, 'Satellite Loop US')"><img alt="Climate map" src="{{MEDIA_URL}}img/USIRSat.png" class="sidebar"></a></td>
            <td><a href="http://radar.weather.gov/Conus/Loop/NatLoop.gif" onClick="return popup_window(this, 'Radar Mosaic US')"><img alt="Climate map" src="http://radar.weather.gov/Conus/Loop/NatLoop_Small.gif" class="sidebar"></a></td>
            <!--<td><a href="http://radar.weather.gov/Conus/full_loop.php" class="popup_map"><img alt="Climate map" src="http://radar.weather.gov/Conus/Loop/NatLoop.gif" class="sidebar"></a></td>-->
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.goes.noaa.gov/">Conus Satellite Images</a> |
        <a target="_blank" href="http://www.goes.noaa.gov/ataglance.html">Imagery at a Glance</a> |
        <a target="_blank" href="http://www.weather.gov/Radar">Radar Images by NWS</a></p><br />
    </td></tr>
    <!--Temps-->
    <tr><td>
        <!-- The Southwest -->
        <h2 style="color:#FF007F;">Temperature Anomaly Maps</h2>
        <table border="1px solid #006666">
            <th>Water Year</th><th>30-day</th><th>7-day</th>
            <tr>
            <!--
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/WaterTDeptWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/WaterTDeptWRCC.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/30dTDeptWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/30dTDeptWRCC.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/7dTDeptWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/7dTDeptWRCC.png" class="sidebar"></a></td>
            -->
            <td><a href= "http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctTvdep.gif" class="popup_map"><img src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctTvdep.gif" class="sidebar"></a></td>
            <td><a href= "http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="popup_map"><img src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="sidebar"></a></td>
            <td><a href= "http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc7dTvdep.gif" class="popup_map"><img src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc7dTvdep.gif" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a href="http://www.wrcc.dri.edu/anom/" target="_blank">WRCC Climate Anomaly Maps</a> |
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?state=SW&region=WRCC&product=TDept">HPRCC Temperature Anomaly Map Tool</a></p><br />
    </td><td>
        <!-- US-->
        <h2 style="color:#FF007F;">Temperature Anomaly Maps</h2>
        <table border="1px solid #006666">
            <th>Water Year</th><th>30-day</th><th>7-day</th>
            <tr>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/WaterTDeptUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/WaterTDeptUS.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/30dTDeptUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/30dTDeptUS.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/7dTDeptUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/7dTDeptUS.png" class="sidebar"></a></td>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?product=TDept">HPRCC US and Regional Temperature Anomaly Maps</a></p><br />
    </td></tr>
    <!--Precip-->
    <tr><td>
        <h2 style="color:#FF007F;">Percent of Normal Precipitation</h2>
        <table border="1px solid #006666">
            <th>Water Year</th><th>30-day</th><th>7-day</th>
            <tr>
            <!--                
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/WaterPNormPWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/WaterPNormWRCC.png" class="sidebar"></a></td>

            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/30dPNormWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/30dPNormWRCC.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/7dPNormWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/7dPNormWRCC.png" class="sidebar"></a></td>
            -->
            <td><a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctPpct.gif" class="popup_map"><img src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctPpct.gif" class="sidebar"></a></td>
            <td><a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="popup_map"><img src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="sidebar"></a></td>
            <td><a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc90dPpct.gif" class="popup_map"><img src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc90dPpct.gif" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a href="http://www.wrcc.dri.edu/anom/" target="_blank">WRCC Climate Anomaly Maps</a> |
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?state=SW&region=WRCC&product=PNorm">HPRCC Precipitation Anomaly Map Tool</a></p><br />
    </td><td>
        <h2 style="color:#FF007F;">Percent of Normal Precipitation</h2>
        <table border="1px solid #006666">
            <th>Water Year</th><th>30-day</th><th>7-day</th>
            <tr>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/WaterPNormUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/WaterPNormUS.png" class="sidebar"></a></td>

            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/30dPNormUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/30dPNormUS.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/7dPNormUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/7dPNormUS.png" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?region=US&product=PNorm">HPRCC US and Regional Precipitation Anomaly Maps</a></p><br />
        <!--
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?product=PNorm">HPRCC US and Regional Precipitation Anomaly Maps</a></p><br />
        -->
    </td></tr>
    <!-- Drought-->
    <tr><td>
        <h2 style="color:#FF007F;">Drought Information</h2>
        <table border="1px solid #006666">
            <th>Water Year SPI</th><th>30-day SPI</th><th>60-day SPI</th>
            <tr>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/WaterSPIDataWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/WaterSPIDataWRCC.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/30dSPIDataWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/30dSPIDataWRCC.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/wrcc/60dSPIDataWRCC.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/wrcc/60dSPIDataWRCC.png" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://droughtmonitor.unl.edu/">US Drought Monitor</a> |
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?state=SW&region=WRCC&product=SPIData">HPRCC SPI Products</a> |
        <!--
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?action=update_region&region=WRCC">HPRCC SPI Products</a> |--> 
        <a target="_blank" href="http://www.wrcc.dri.edu/wwdt/">WWDT</a></p><br />
    </td><td>
        <h2 style="color:#FF007F;">Drought Information</H2>
        <table border="1px solid #006666">
            <th>Water Year SPI</th><th>30-day SPI</th><th>60-day SPI</th>
            <tr>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/WaterSPIDataUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/WaterSPIDataUS.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/30dSPIDataUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/30dSPIDataUS.png" class="sidebar"></a></td>
            <td><a href="http://www.hprcc.unl.edu/products/maps/acis/60dSPIDataUS.png" class="popup_map"><img alt="Climate map" src="http://www.hprcc.unl.edu/products/maps/acis/60dSPIDataUS.png" class="sidebar"></a></td>
               <!-- <td><a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/palmer.gif" class="popup_map"><img alt="Climate map" src="{{MEDIA_URL}}img/PalmerZUS.png" class="sidebar"></a></td>
                <td><a href="http://wrcc.dri.edu/cgi-bin/spiFmap.pl?spi01" class="popup_map"><img alt="Climate map" src="{{MEDIA_URL}}img/SPIUS.png" class="sidebar"></a></td>
               <td><a href="http://www.cpc.ncep.noaa.gov/products/monitoring_and_data/5yrcomp.gif" class="popup_map"><img alt="Climate map" src="{{MEDIA_URL}}img/TSMoist.png" class="sidebar"></a></td>-->
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.hprcc.unl.edu/maps/current/index.php?action=update_region&region=US&product=SPIData">HPRCC SPI Products</a> |
        <a target="_blank" href="http://www.drought.gov/drought/">US Drought Portal</a> |
        <a target="_blank" href="http://www.ncdc.noaa.gov/temp-and-precip/drought/nadm/nadm-maps.php?lang=en&year={{year}}&month={{month_nadm}}&submitted=true">NADM</a></p><br /> 
        <!--
        <a target="_blank" href="http://www.ncdc.noaa.gov/temp-and-precip/drought/nadm/nadm-maps.php">NADM</a> 
        <a target="_blank" href="http://droughtmonitor.unl.edu/monitor.html">US Drought Monitor</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://www.ncdc.noaa.gov/temp-and-precip/drought/nadm/">North American Drought Monitor</a></p><br />
        -->
    </td></tr>
    <!--WATER-->
    <tr><td>
            <h2 style="color:#FF007F;">West US Water Conditions</h2>
        <table border="1px solid #006666">
            <th>CA/NV River <br /> Forecast</th><th>CO Basin River <br />Forecast</th><th>West Gulf River<br /> Forecast</th><th>Northwest Pacific<br /> Forecast</th>
            <tr>
            <td><a href="http://www.cnrfc.noaa.gov/" onClick="return popup_window(this, 'CNRFC')"><img alt="Climate map" src="http://www.cnrfc.noaa.gov/images/official_zoom0.png" class="sidebar"></a></td>
            <td><a href="http://www.cbrfc.noaa.gov/" onClick="return popup_window(this, 'CBRFC')"><img alt="Climate map" src="{{MEDIA_URL}}img/CORiverForecast.png" class="sidebar"></a></td>
            <td><a href="http://www.srh.noaa.gov/wgrfc/" onClick="return popup_window(this, 'WGRFC')"><img alt="Climate map" src="{{MEDIA_URL}}img/WestGulfRiverForecast.png" class="sidebar"></a></td>
            <td><a href="http://www.nwrfc.noaa.gov/rfc/" onClick="return popup_window(this, 'PNWRFC')"><img alt="Climate map" src="{{MEDIA_URL}}img/NorthwestForecast.png" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <!--
        <a target="_blank" href="http://www.cnrfc.noaa.gov/">CNRFC</a> |
        <a target="_blank" href="http://www.cbrfc.noaa.gov/">CBRFC</a> |
        <a target="_blank" href="http://www.srh.noaa.gov/wgrfc/">WGRFC</a> |
        <a target="_blank" href="http://www.nwrfc.noaa.gov/rfc/">PNWRFC</a> |
        -->
        <a target="_blank" href="http://water.weather.gov/ahps/rfc/rfc.php">NWS River Forecast Centers</a> |
        <a target="_blank" href="http://www.usbr.gov/main/water/">Reclamation Pages</a></p><br />
    </td><td>
            <h2 style="color:#FF007F;">US Water Conditions</h2>
        <table border="1px solid #006666">
            <th>Real time <br />comparative streamflow</th><th>7-Day <br />comparative streamflow</th><th> 7-Day Percent <br />Normal Precipitation</th>
            <tr>
            <td><a href="http://waterwatch.usgs.gov/images/real/us/realb.gif" class="popup_map"><img alt="Climate map" src="http://waterwatch.usgs.gov/images/real/us/realb.gif" class="sidebar"></a></td>
            <td><a href="http://waterwatch.usgs.gov/images/pa07d/us/pa07db.gif" class="popup_map"><img alt="Climate map" src="http://waterwatch.usgs.gov/images/pa07d/us/pa07db.gif" class="sidebar"></a></td>
            <td><a class="popup_map" target="_blank" href="http://water.weather.gov/precip/index_nonjs.php?layer%5B%5D=0&layer%5B%5D=1&layer%5B%5D=4&timetype=RECENT&loctype=STATE&units=engl&timeframe=last7days&product=per_normal"><img alt="Climate map" src="http://water.weather.gov/precip/images/{{full_date_for_ahps}}/current/conus_precip-composite_hi_res.png" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://waterwatch.usgs.gov/index.php">USGS Water Watch</a> |
        <!-- <a target="_blank" href="http://water.weather.gov/ahps/">AHPS</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://water.weather.gov/ahps/rfc/rfc.php">NWS River Forecast Centers</a></p><br /> -->
        <a target="_blank" href="http://water.weather.gov/precip/">AHPS Maps</a> | 
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/Soilmst_Monitoring/US/Summary_anom.shtml">CPC Soil Moisture</a></p><br />
    </td></tr>
    <!--Snow-->
    <tr><td>
        <h2 style="color:#FF007F;">SNOTEL Snow Data</h2>
        <table border="1px solid #006666">
        <th>Water Year<br />Precipitation % of Normal</th><th>Current Snow<br /> Water Equivalent %</th><th>Water Year<br />Snowpack</th>
            <tr>
            <td><a href="http://www.wcc.nrcs.usda.gov/gis/images/west_wytdprecpctnormal_update.png" onClick="return popup_window(this, 'WYTP')"><img alt="Climate map" src="http://www.wcc.nrcs.usda.gov/gis/images/west_mtdprecpctnormal_update.png" class="sidebar"></a></td>
            <td><a href="http://www.wcc.nrcs.usda.gov/gis/images/west_swepctnormal_update.png" onClick="return popup_window(this, 'SWE')"><img alt="Climate map" src="http://www.wcc.nrcs.usda.gov/gis/images/west_swepctnormal_update.png" class="sidebar"></a></td>
            <td><a href="http://www.wcc.nrcs.usda.gov/ftpref/support/water/westwide/snowpack/wy{{year}}/snow{{year_short}}{{month}}.gif" onClick="return popup_window(this, 'Snowpack')"><img alt="Climate map" src="http://www.wcc.nrcs.usda.gov/ftpref/support/water/westwide/snowpack/wy{{year}}/snow{{year_short}}{{month}}.gif" class="sidebar"></a></td>
            <tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font><a target="_blank" href="http://www.wcc.nrcs.usda.gov/gis/index.html">SNOTEL Maps</a> |
        <a target="_blank" href="http://www.wcc.nrcs.usda.gov/snow/">SNOTEL Daily</a> |
        <a target="_blank" href="http://www.wcc.nrcs.usda.gov/cgibin/westsnow.pl">Historical Snowpack</a></p><br />
        <!--
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://www.wcc.nrcs.usda.gov/">Historical Snowpack</a><br />--> 
    </td><td>
        <h2 style="color:#FF007F;">Snow data from NOHRSC (NOAA)</h2>
        <table border="1px solid #006666">
            <th>National <br /> Snow Analysis</th><th>Interactive <br /> Snow Maps</th><th>Forecasts</th>
            <tr>
            <td><a href="http://www.nohrsc.noaa.gov/nsa/" onClick="return popup_window(this, 'SnowAnalysis')"><img alt="Climate map" src="{{MEDIA_URL}}img/SnowAnalysis.png" class="sidebar"></a></td>
            <td><a href="http://www.nohrsc.noaa.gov/interactive/html/map.html" onClick="return popup_window(this, 'SnowMaps')"><img alt="Climate map" src="{{MEDIA_URL}}img/IASnowMap.png" class="sidebar"></a></td>
            <td><a href="http://www.nohrsc.noaa.gov/forecasts/" onClick="return popup_window(this, 'SnowForecast')"><img alt="Snow Forecast" src="{{MEDIA_URL}}img/SnowForeCast.png" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="left"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.nohrsc.noaa.gov/nsa/">NWS Snow (NOHRSC)</a> |
        <a target="_blank" href="http://climate.rutgers.edu/snowcover/">Rutgers Global Snow Lab</a></p><br />
    </td></tr>
</table> <!--end dashboard table-->

<!--US only tables-->
   <!--New table: ENSO, AO/NAO, MJO Updates  US only-->
        <h2 align="center" style="color:#FF007F;">ENSO, AO/NAO, MJO Updates</h2>
        <table align="center" border="1px solid #006666">
        <th>Global SST Anomaly</th><th>Pacific SST Anomaly</th><th>365-day ENSO SST Anomalies</th><th>MEI ENSO Index</th><th>Daily MJO Index</th><th>AO Ensemble forecasts</th>
        <tr>
        <td><a href="http://www.esrl.noaa.gov/psd/map/images/sst/sst.anom.gif" class="popup_map"><img alt="Climate map" src="http://www.esrl.noaa.gov/psd/map/images/sst/sst.anom.gif" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/enso_update/sstweek_c.gif" class="popup_map"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/enso_update/sstweek_c.gif" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/enso_update/ssta_c.gif" class="popup_map"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/enso_update/ssta_c.gif" class="sidebar"></a></td>
        <td><a href="http://www.esrl.noaa.gov/psd/enso/mei/ts.gif" class="popup_map"><img alt="Climate map" src="http://www.esrl.noaa.gov/psd/enso/mei/ts.gif" class="sidebar"></a></td>
            <td><a href="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/MJO/whindex.shtml" onClick="return popup_window(this, 'MEI ENSO Index')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/MJO/obs_phase40_full.gif" class="sidebar"></a></td>
            <td><a href="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/ao.sprd2.gif" onClick="return popup_window(this, 'Ensemble Forecast')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/ao.sprd2.gif" class="sidebar"></a></td>
        </tr>
        </table>
        <p align="center"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.esrl.noaa.gov/psd/map/clim/sst.shtml">ESRL SST</a> |
        <a target="_blank" href="http://www.esrl.noaa.gov/psd/map/">ESRL Map Room</a> |
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/MJO/enso.shtml">CPC ENSO</a> |
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/MJO/mjo.shtml">CPC MJO</a> |
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/teleconnections.shtml">Patterns</a></p><br />
   <!--New table: Predictions US only-->
        <h2 align="center" style="color:#FF007F;">Projections</h2>
        <h2  align="center">NWS 1-2 Week, Monthly, Seasonal Outlooks</h2>
        <table align="center" border="1px solid #006666">
        <th>Week 1 Precipitation</th><th>Week 2 Precipitation</th><th>Week 1 Temperature</th><th>Week 2 Temperature</th>
        <tr>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/predictions/610day/610prcp.new.gif" onClick="return popup_window(this, 'NWS 1 week P')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/predictions/610day/610prcp.new.gif" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/predictions/814day/814prcp.new.gif" onClick="return popup_window(this, 'NWS 2 week P')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/predictions/814day/814prcp.new.gif" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/predictions/610day/610temp.new.gif" onClick="return popup_window(this, 'NWS 1 week T')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/predictions/610day/610temp.new.gif" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/predictions/814day/814temp.new.gif" onClick="return popup_window(this, 'NWS 2 week T')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/predictions/814day/814temp.new.gif" class="sidebar"></a></td>
        </tr></table>
        <p align="center"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/predictions/">CPC Outlook Pages</a></p><br />


        <h2 align="center" style="color:#FF007F;">Experimental Projections</h2>
        <h2  align="center">National Multi-Model Ensemble Experimental Forecasts (NMME)</h2>
        <table align="center" border="1px solid #006666">
        <th>Next Month <br />Precipitation Rate</th><th>Next Month <br /> Temperature Departure</th><th>Next Season <br />Precipitation Rate</th><th>Next Season<br /> Temperature Departure</th>
        <tr>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/NMME/current/usprate_Lead1.html" onClick="return popup_window(this, 'Lead 1 Prate')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/NMME/current/images/NMME_ensemble_prate_us_lead1.png" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/NMME/current/ustmp2m_Lead1.html" onClick="return popup_window(this, 'Lead 1 tmp2m')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/NMME/current/images/NMME_ensemble_tmp2m_us_lead1.png" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/NMME/current/usprate_Seas1.html" onClick="return popup_window(this, 'Season Prate')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/NMME/current/images/NMME_ensemble_prate_us_season1.png" class="sidebar"></a></td>
        <td><a href="http://www.cpc.ncep.noaa.gov/products/NMME/current/ustmp2m_Seas1.html" onClick="return popup_window(this, 'Season 1 tmp2m')"><img alt="Climate map" src="http://www.cpc.ncep.noaa.gov/products/NMME/current/images/NMME_ensemble_tmp2m_us_season1.png" class="sidebar"></a></td>
        </tr></table>
        <p align="center"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/NMME/">NMME Pages</a> |
        <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/NMME/iMMEindex.shtml">IMMEPages</a></p><br />
        
        <h2  align="center" style="color:#FF007F;">Climate Forecast System Weekly Experimental from CEFA/DRI</h2>
        <h2 align="center">Mean/Anom Geopotential Height [500 mb] (dam)</h2>
        <table align="center" border="1px solid #006666">
            <th>Week 1</th><th>Week 2</th><th>Week 3</th><th>Week 4</th><th>Week 5</th>
            <tr>
            <td><a href="http://www.cefa.dri.edu/CFS/images/h5.0.png" class="popup_map"><img alt="Climate map" src="http://www.cefa.dri.edu/CFS/images/h5.0.png" class="sidebar"></a></td>
            <td><a href="http://www.cefa.dri.edu/CFS/images/h5.1.png" class="popup_map"><img alt="Climate map" src="http://www.cefa.dri.edu/CFS/images/h5.1.png" class="sidebar"></a></td>
            <td><a href="http://www.cefa.dri.edu/CFS/images/h5.2.png" class="popup_map"><img alt="Climate map" src="http://www.cefa.dri.edu/CFS/images/h5.2.png" class="sidebar"></a></td>
            <td><a href="http://www.cefa.dri.edu/CFS/images/h5.3.png" class="popup_map"><img alt="Climate map" src="http://www.cefa.dri.edu/CFS/images/h5.3.png" class="sidebar"></a></td>
            <td><a href="http://www.cefa.dri.edu/CFS/images/h5.4.png" class="popup_map"><img alt="Climate map" src="http://www.cefa.dri.edu/CFS/images/h5.4.png" class="sidebar"></a></td>
            </tr>
        </table>
        <p align="center"><font color="#FF007F">MORE: </font>
        <a target="_blank" href="http://www.cefa.dri.edu/CFS/cfs.php">CFSv2 Forecast Grid Initialization - North America</a></p><br />

    <!-- Fifth Row Soil-->
    <!--
    <tr><td>
            <h2 style="color:#FF007F;">Soil</h2>
    </td><td>
            <h2 style="color:#FF007F;">Soil</h2>
        <table border="1px solid #006666">
            <th>Soil Moisture</th><th>SCAN Data</th><th></th>
            <tr>
                <td><a href="http://www.cpc.ncep.noaa.gov/products/Soilmst_Monitoring/US/Soilmst/Soilmst.shtml#" class="popup_map"><img alt="Climate map" src="{{MEDIA_URL}}img/SMoistUS.png" class="sidebar"></a></td>
                <td><a href="http://www.wcc.nrcs.usda.gov/scan/" class="popup_map"><img alt="Climate map" src="{{MEDIA_URL}}img/SCANUS.png" class="sidebar"></a></td>
                <td></td>
            </tr>
        </table>

    <a target="_blank" href="http://www.cpc.ncep.noaa.gov/products/Soilmst_Monitoring/index.shtml">MORE HERE: Land Surface Monitoring and Prediction(NOAA)</a><br />
    <a target="_blank" href="http://www.wcc.nrcs.usda.gov/scan/">Soil Climate Analysis Network (USDA)</a>
    </td></tr>

  <!-- Footer-->
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>
</div>
{% endblock %}

<!--BLANK TO USE
    <!--Row-->
    <tr><td>
            <h2 style="color:#FF007F;"></h2>
        <table class="dashboard">
            <th></th><th></th><th></th>
            <tr>
                <td><a href="" class="popup_map"><img alt="Climate map" src="" class="sidebar"></a></td>
                <td><a href="" class="popup_map"><img alt="Climate map" src="" class="sidebar"></a></td>
                <td><a href="" class="popup_map"><img alt="Climate map" src="" class="sidebar"></a></td>
            </tr>
        </table>
        <a target="_blank" href=""></a><br />
        <a target="_blank" href=""></a><br />
    </td><td>
            <h2 style="color:#FF007F;"></h2>
        <table class="dashboard">
            <th></th><th></th><th></th>
            <tr>
                <td><a href="" class="popup_map"><img alt="Climate map" src="" class="sidebar"></a></td>
                <td><a href="" class="popup_map"><img alt="Climate map" src="" class="sidebar"></a></td>
                <td><a href="" class="popup_map"><img alt="Climate map" src="" class="sidebar"></a></td>
            </tr>
        </table>
        <a target="_blank" href=""></a><br />
        <a target="_blank" href=""></a><br />
    </td></tr>
-->
