<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link type="text/css" href="{{ MEDIA_URL }}css/csc-style.css" rel="stylesheet"></link>
    <!-- ** Javascript ** -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
    <!-- ** Britta'sJavascript ** -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script> 
    <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
</head>

<!--<body onload="initialize_grid_point_map()">-->
<body style="background-color: #FFEBCD;">

<div id="header"></div>
    <script type="text/javascript">$("#header").load("{{MEDIA_URL}}html/csc_map_page_base.html .header");</script>

<div id="home_img"></div>
    <script type="text/javascript">$("#home_img").load("{{MEDIA_URL}}html/csc_map_page_base.html .home_img");</script>

<div class="content-header">

</div>

<p align="center">You are here
<a href="{{URL_PREFIX}}sw_ckn/home/">HOME</a>

<div id="searchbox"></div>
<script type="text/javascript">$("#searchbox").load("{{MEDIA_URL}}html/csc_map_page_base.html .searchbox");</script>

<div class="container">

    <p class="error" align="center">To get started, choose one of the following:</p>
    <table class="dash" cellspacing="20px">
        <!--Headers-->
        <th><font size="5"><b>LAUNCH SW-CKN</b></th>
        <th><font size="5"><b>FINDER TOOL</b></th>
        <th><font size="5"><b>DATA PORTAL</b></th>
        <th><font size="5"><b>TOOLS & PRODUCTS</b></th>
        <tr><td></td></tr>
        <!--First row of dashboard: image-->
        <tr>
            <!--<td><a href="/csc/sw_ckn/"><img class="dash_img" src="{{MEDIA_URL}}img/SW_CSC_HOME.png"></a></td>-->
            <td><a href="/csc/sw_ckn/dashboard/"><img class="dash_img" src="{{MEDIA_URL}}img/SW_CSC_HOME.png"></a></td>
            <td><a href="{{URL_PREFIX}}sw_ckn/finder/"><img class="dash_img" src="{{MEDIA_URL}}img/Locator.jpg"></a></td>
            <td><a href="{{URL_PREFIX}}sw_ckn/data/"><img class="dash_img" src="{{MEDIA_URL}}img/DataPortal.jpg"></a></td>
            <td><a href="{{URL_PREFIX}}sw_ckn/apps/"><img class="dash_img" src="{{MEDIA_URL}}img/Application.png"></a></td>
        </tr>
        <!--Second+ rows: list of content-->
        <tr>
            <!--<td><b>SW-CKN Home Page</b></td>-->
            <td><b>Climate Dashboard</b></td>
            <td><b>Use FAQs to find what you need</b></td>
            <td><b>Access to various (open) climate data</b></td>
            <td><b>Applications</b></td>
        </tr>
        <tr>
            <td>Access to all content</td>
            <td></td>
            <td>Historic Station Data (observational)</td>
            <td>Data Analysis</td>
        </tr>
        <tr>
            <td>Weather and Climate Information</td>
            <td></td>
            <td>Gridded Data</td>
            <td>Visualization (maps, time series)</td>
        </tr>
        <tr>
            <td>Maps, </td>
            <td></td>
            <td>Modeled Downscaled Data</td>
            <td>Desision Making Tools</td>
        </tr>
    </table>
    <br />
    <br />
    <div class="footer">
        <p>Powered by <img src="{{MEDIA_URL}}img/Acis-logo.jpg" alt="Acis" width="90" height="30">&nbsp;&nbsp;
        Created by <a href="http://www.wrcc.dri.edu/" target="_blank">>WRCC</a> &nbsp;&nbsp;
        Hosted by <a href="http://www.dri.edu/" target="_blank"><img class="logo" src="{{ MEDIA_URL }}img/DRILogo.gif"></a></p>
    </div>

</div>
</body>
</html>
