<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link type="text/css" href="{{ MEDIA_URL }}css/csc-style.css" rel="stylesheet"></link>
    <!-- ** Javascript ** -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
    <!-- ** Britta'sJavascript ** -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script> 
    <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
</head>

<body style="background-color: #FFEBCD;">

<div id="header"></div>
    <script type="text/javascript">$("#header").load("{{MEDIA_URL}}html/commons.html .header");</script>

<img class="map_2" src="/csc/media/img/SouthWest.jpg">
<br />

<div class="content-header">
</div>

<p align="center">You are here
<a href="{{HOME_URL}}">HOME</a>

<div id="searchbox"></div>
<script type="text/javascript">$("#searchbox").load("{{MEDIA_URL}}html/commons.html .searchbox");</script>

<div class="container">

    <p class="error" align="center" style="font-size:large;">Start by choosing one of the following:</p>
    <table class="dash" cellspacing="15px" align="center">
        <tr><td></td></tr>
        <!--First row of dashboard: image-->
        <tr>
            <td><a href="{{DATA_URL}}"><img class="dash_img" src="{{MEDIA_URL}}img/DataPortal.png"></a></td>
            <td><a href="{{TOOLS_URL}}"><img class="dash_img" src="{{MEDIA_URL}}img/ToolProduct.png"></a></td>
            <td><a href="{{SW_CKN_URL}}monitoring/"><img class="dash_img" src="{{MEDIA_URL}}img/Monitoring.png"></a></td>
            <td><a href="{{SW_CKN_URL}}main_map/"><img class="dash_img" src="{{MEDIA_URL}}img/Network.png"></a></td>
        </tr>
        <tr>
            <!--<td><b>SW-CKN Home Page</b></td>-->
            <td><a class="error" href="{{DATA_URL}}"><b>DATA PORTAL</b></a></td>
            <td><a class="error" href="{{TOOLS_URL}}"><b>TOOLS/APPLICATIONS</b></a></td>
            <td><a class="error" href="{{SW_CKN_URL}}monitoring/"><b>MONITORING</b></a></td>
            <td><a class="error" href="{{SW_CKN_URL}}main_map/"><b>RESOURCES</a><br /></b></td>
        </tr>
        <!--Second+ rows: list of content-->
        <tr>
            <!--<td><b>SW-CKN Home Page</b></td>-->
            <td><b>Access to various climate data</b></td>
            <td><b>Interactive Data Applications</b></td>
            <td><b>Current Climate Information</b></td>
            <td><b>Access to Climate/Climate Change Resources</b></td>
        </tr>
        <tr>
            <td>Historic Weather Station Finder</td>
            <td>Data Analysis</td>
            <td>Weather</td>
            <td>See who is involved and what is being done</td>
        </tr>
        <tr>
            <td>Historic Station Data</td>
            <td>Visualization (maps, time series, ...)</td>
            <td>Temperature and Precipitation Anomaly Maps</td>
            <td>Descriptions of Climate/Climate change related <br />organizations and instituations across the US</td>
        </tr>
        <tr>
            <td>Gridded/Modeled and Downscaled Data</td>
            <td>Desision Making Tools</td>
            <td>Water and Drought Information</td>
            <td>External links</td>
        </tr>
       <tr>
            <td>Geospatial Data Layers</td>
            <td></td>
            <td>Projections</td>
            <td>Access to all content</td>
        </tr>
    </table>
    <br />
    <br />

    <!-- Footer -->
    <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>
</div>
</body>
</html>
