<!DOCTYPE html>

<html>
  <head>
    <h1>{{title}}</h1>
   <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
   <style>
    @import url("{{MEDIA_URL}}css/polymaps.css");
   </style>
   <!-- ** Javascript ** -->
   <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
   <script type="text/javascript" src="{{ MEDIA_URL }}js/polymaps.min.js"></script>
    <script type="text/javascript" src="http://github.com/simplegeo/polymaps/raw/v2.3.0/lib/raphaeljs/icons.js"></script>
 </head>

 <body id="map">
<script type="text/javascript" src="{{ MEDIA_URL }}js/pm_markers.js"></script>
    <span id="copy">
      &copy; 2010
      <a href="http://www.cloudmade.com/">CloudMade</a>,
      <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors,
      <a href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a>.
    </span>
 </body>
</html>
