{% extends "csc_base.html" %}

<meta name="keywords" content="climate,climate change,Southwest US,Soutwest CSC,Climate Science Center, Climate Knowledge Network">
<meta name="description" content="Southwest Climate Knowledge Network">

{% block content %}

<div id="header"></div>
<script type="text/javascript">                        
    $("#header").load("{{MEDIA_URL}}html/commons.html .header");
</script>

<p  align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES</a>


<div class="container">

   <table class="page" cellspacing="2">
   <tr><td width="250px">
        <div id="map_legend">
            <h3>Legend</h3>
            <p class="error"></p>
        </div>
    </td><td>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
        <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
        <div id="map" style="width:600px; height:500px;"></div>
        <script type="text/javascript">
            initialize_network_map()
        </script>
    </td><td width="250px">
        <div id="network_docu"></div>
    </td></tr>
    </table>

</div> <!-- end container -->
{% endblock %}
