{% extends "csc_base.html" %}

<meta name="keywords" content="climate,climate change,Southwest US,Soutwest CSC,Climate Science Center, Climate Knowledge Exchange">
<meta name="description" content="Southwest Climate Knowledge Exchange">

{% block content %}

<div id="header"></div>
<script type="text/javascript">                        
    $("#header").load("{{MEDIA_URL}}html/commons.html .header");
</script>

<p  align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_maves/">RESOURCES</a>


<div class="container">
    <table border="1" align="center">
    <tr>
    <td valign="top">
    <!--<div class="center-left">-->
    <h2 class="brown">Current Weather and<br />Climate in the West</h2>
    <!-- Left column: links to Current Weather/Climate -->
        <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="popup_map"><img alt="ClimateMap" title="ClimateMap" src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="dash_img"></a><br />
        <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="popup_map">Temperature Departure</a><br />
        <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="popup_map"><img alt="ClimataMap" title="ClimateMap" src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="dash_img"></a><br />
        <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="popup_map">% of Normal Precipitation</a><br /> 
        <a href="http://www.wrcc.dri.edu/anom/" target="_blank">&rarr; More anomaly maps</a><br />
        <a href="http://www.wrh.noaa.gov/" target="_blank"><img alt="NWS_SW" title="NWS_SW" src="{{ MEDIA_URL }}img/NWS_SW.png" class="dash_img"></a><br />
        <a href="http://www.wrh.noaa.gov/" target="_blank">NWS Current Weather in the West</a><br />
        <!--
        <a href="http://www.weather.gov/" target="_blank"><img alt="NatHaz" title="NatHaz" src="{{ MEDIA_URL }}img/NatHazard.png" class="dash_img"></a><br />
        <a href="http://www.weather.gov/" target="_blank">NWS Current Weather in the US</a><br />
        -->
        <a href="http://radar.weather.gov/ridge/Conus/pacsouthwest_loop.php" target="_blank"><img alt="SWRadar" title="SWRadar" src="http://radar.weather.gov/ridge/Conus/Loop/pacsouthwest_loop.gif" class="dash_img"></a><br />
        <a href="http://radar.weather.gov/ridge/Conus/pacsouthwest_loop.php" target="_blank">Pacific Southwest Radar Mosaic</a>
    </td>
    <td valign="top">
    <!--<div class="center">-->
        <!--Center Column: State Averages Highcharts graph-->
         <!-- Try one Average Temps for State tool as scenter piece-->
            <h1 class="brown">Means for {{state}} since 1950</h1>
            <h2 >With 9Year Running Mean</h2>
            <h2>Data set: NRCC Interpolated in ACIS</h2>
            <a  target="_blank" href="https://gist.github.com/4197956">Information on NRCC interpolated, NRCC Hi-Res data sets</a>
            <br /><br />
            <form method="get" action="">
                <select name="state_key">
                    <option value="NV">Chose a different State</option>
                    {% for state in state_choices %}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                </select>
                <select name="element">
                    <option value="mint">Choose a different element</option>
                    <option value="avgt">Mean Temperature</option>
                    <option value="pcpn">Precipitation</option>
                    <option value="maxt">Maximum Temperature</option>
                    <option value="mint">Minimum Temperature</option>
                    <!--<option value="snow">Snow</option>
                    <option value="snwd">Snow depth</option>-->
                </select>
                <input type="submit" value="Submit"/>
            </form>
            <br/>
            <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
            <input type="hidden" id="state" name="state" value="{{ state }}">
            <input type="hidden" id="month" name="month" value="{{ month }}">
            <input type="hidden" id="mon" name="mon" value="{{ mon }}">
            <input type="hidden" id="day" name="day" value="{{ day }}">
            <input type="hidden" id="month_name" name="month_name" value="{{ month_name }}">
            <input type="hidden" id="element" name="element" value="{{ element }}">
            <div id="hc-graph-state-aves" style="width: 600px; height: 500px;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-state-aves.js"></script>
    </td>
    <!--Third Column: Other links -->
    <!--<div class="center-right">-->
    <td valign="top">
        <h2 class="brown">Climate Word of the Day: <p class="error">Kudzu</p></h2>
        <br />
        <img alt="Kudzu" title="Kudzu" class="dash_img" style="display:block;margin-left:auto;margin-right:auto;" src="{{MEDIA_URL}}img/Invasive.jpg" title="Kudzu">
        <a target="_blank" href="http://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/indiana/journeywithnature/kudzu-invasive-species.xml">The Nature Conservancy on Kudzu</a><br />
        <a target="_blank" href="http://www.nature.org/ourinitiatives/habitats/forests/howwework/protecting-native-plants-and-animals-taking-on-the-invaders.xml">The Nature Conservancy on Invasive Species</a>

        <h2 class="brown">Read up on the latest<br />in Climate Change</h2>
        <p class="error">RSS feed to SW-CCN coming</p>
        <a href="http://www.climate.gov/#climateWatch" target="_blank">NOAA Climate Portal</a><br />
        <a href="https://nccwsc.usgs.gov/" target="_blank">USGS National Climate Change and Wildlife Center</a><br />
        <!--<a href="https://nccwsc.usgs.gov/" target="_blank"><img alt="USGS" title="USGS" src="{{MEDIA_URL}}img/ClimChangeUSGS.png" class="dash_img"></a><br />-->
        <a href="http://www.southwestclimatechange.org" target="_blank">Southwest Climate Change Network</a><br />
        <!--a href="http://www.southwestclimatechange.org" target="_blank"><img alt="UA" title="UA" src="{{MEDIA_URL}}img/ClimChangeAZ.png" class="dash_img"></a><br />-->
        <a href="http://johnmuir.ucdavis.edu/" target="_blank">John Muir Institute of the Environment</a><br />
        <!--<a href="http://johnmuir.ucdavis.edu/" target="_blank"><img alt="UA" title="UA" src="{{MEDIA_URL}}img/ClimChangeDavis.png" class="dash_img"></a><br />-->
        <a href="http://www.environment.ucla.edu/research/southwest-climate-alliance.asp" target="_blank">UCLA Institute of the Environment and Sustainability</a><br />
        <!--<a href="http://www.environment.ucla.edu/research/southwest-climate-alliance.asp" target="_blank"><img alt="UCLA" title="UCLA" src="{{MEDIA_URL}}img/ClimChangeUCLA.png" class="dash_img"></a><br />-->
        <a href="http://sio.ucsd.edu/cccc/" target="_blank">California Climate Change Center</a><br />
        <!--<a href="http://sio.ucsd.edu/cccc/" target="_blank"><img alt="SCRIPPS" title="SCRIPPS" src="{{MEDIA_URL}}img/ClimChangeSCRIPPS.png" class="dash_img"></a>-->
    </td></tr>
  </table>
  <!-- Footer -->
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
  </script>

</div> <!-- end container -->
{% endblock %}
