{% extends "csc_base.html" %}

<meta name="keywords" content="climate,climate change,Southwest US,Soutwest CSC,Climate Science Center, Climate Knowledge Network">
<meta name="description" content="Southwest Climate Knowledge Network">

{% block content %}

<div id="header"></div>
<script type="text/javascript">                        
    $("#header").load("{{MEDIA_URL}}html/commons.html .header");
</script>

<p  align="center">You are here
<a href="{{URL_PREFIX}}sw_ckn/main/">SW-CKN</a>


<div class="container">

<table border="1px solid #006666">
 <tr>   
    <td>
        <table>
        <tr><td>
            <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="popup_map"><img alt="Climate map" src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="dash_img"></a>
        </td></tr>
        <tr><td>
            <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dTvdep.gif" class="popup_map">Temperature Departure</a>
        </td></tr>   
        <tr><td>
            <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="popup_map"><img alt="Climate map" src="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="dash_img"></a>
        </td></tr>
        <tr><td>
            <a href="http://www.wrcc.dri.edu/cgi-bin/anomimage.pl?wrc30dPpct.gif" class="popup_map">% of Normal Precipitation</a> 
        </td></tr>
        <tr><td> 
            <a href="http://www.wrcc.dri.edu/anom/" target="_blank">&rarr; More anomaly maps</a>
        </td></tr>
        <tr><td>
            <a href="http://www.weather.gov/" target="_blank"><img src="{{ MEDIA_URL }}img/NatHazard.png" class="dash_img"></a>
        </td></tr>
        <tr><td> 
            <a href="http://www.weather.gov/" target="_blank">NWS Current Weather in the US</a>
        </td></tr>
        <tr><td>
            <a href="http://radar.weather.gov/ridge/Conus/pacsouthwest_loop.php" target="_blank"><img src="http://radar.weather.gov/ridge/Conus/Loop/pacsouthwest_loop.gif" class="dash_img"></a>
        </td></tr>
        <tr><td> 
            <a href="http://radar.weather.gov/ridge/Conus/pacsouthwest_loop.php" target="_blank">Pacific Southwest Radar Mosaic</a>
        </td></tr>
        </table>
    </td>
    <td>
     <!-- Try one Average Temps for State tool as scenter piece-->
        <h1>Means for {{state}} since 1950</h1>
        <h2>With 9Year Running Mean</h2>
        <form method="get" action="">
            <select name="state_key">
                <option value="NV">Chose a different State</option>
                {% for state in state_choices %}
                <option value="{{state}}">{{state}}</option>
                {% endfor %}
            </select>
            <select name="element">
                <option value="mint">Choose a different element</option>
                <option value="avgt">Mean Temperature</option>
                <option value="pcpn">Precipitation</option>
                <option value="maxt">Maximum Temperature</option>
                <option value="mint">Minimum Temperature</option>
                <!--<option value="snow">Snow</option>
                <option value="snwd">Snow depth</option>-->
            </select>
            <input type="submit" value="Submit"/>
        </form>
        <br/>

        <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
        <input type="hidden" id="state" name="state" value="{{ state }}">
        <input type="hidden" id="month" name="month" value="{{ month }}">
        <input type="hidden" id="mon" name="mon" value="{{ mon }}">
        <input type="hidden" id="day" name="day" value="{{ day }}">
        <input type="hidden" id="month_name" name="month_name" value="{{ month_name }}">
        <input type="hidden" id="element" name="element" value="{{ element }}">

        <div id="hc-graph-state-aves" style="width: 600px; height: 500px;"></div>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-state-aves.js"></script>


        <!--
            <h1>Try our puzzle!</h1>
            <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
            <script type="text/javascript" src="{{ MEDIA_URL }}js/puzzle.js"></script>
            <a href="#" onclick="scramble();return false">Scramble</a> | <a href="#" onclick="initPuzzle();return false">New image</a> | 
            <form style="display:inline">
            Columns/Rows: 
            <input type="text" value="4" onblur="var no = this.value.replace(/[^\d]/g,'');if(no/1<3){ this.value = '3';no=3; };cols=no" maxlength="1" size="2"> 
            x 
            <input type="text" value="3" onblur="var no = this.value.replace(/[^\d]/g,'');if(no/1<2){ this.value = '2';no=2; };rows=no" maxlength="1" size="2">
            </form>

             <div id="puzzle_container">
                Please wait - initializing script
            </div>

            <div id="messageDiv"></div>
            <p><i>Shuffle, then click to move the pieces</i></p>
        -->
       </td>
    </tr>
</table>
</div> <!-- end container -->
{% endblock %}
