{% extends "csc_base.html" %}

<meta name="keywords" content="publications, scientific papers, papers">
<meta name="description" content="SW-CKN Publications">

{% block content %}

<p align="center">You are here <a href="{{URL_PREFIX}}sw_ckn/main/">MAIN></a>
<a href="{{URL_PREFIX}}sw_ckn/publications/">Publications</a></p>

<div class="container">
    <div class="center-left">
        <h2>Search by Keywords</h2>
        <h2>Search by Author</h2>
        <h2>Search by Title</h2>
    </div>

    <div class="center">
    </div>

    <div class="center-right">
    </div>
</div>
{% endblock %}
