{% extends "csc_base.html" %}

<meta name="keywords" content="mission, mission statement, information, background">
<meta name="description" content="SW-CKN Mission Statement and other general information">

{% block content %}

<p align="center">You are here <a href="{{URL_PREFIX}}sw_ckn">HOME></a>
<a href="{{URL_PREFIX}}sw_ckn/What we do/">What we do</a></p>

<div class="container">
    <div class="center-left">
    </div>

    <div class="center-right">
        <h2>Links and resources</h2>
       <a href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
        <br />
        <a href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
        <br />
        <a href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </div>

    <div class="center">
        <h2 align="center">Mission Statement</h2>
        <p align="center"><font color="#A00000">PROVIDING EASY ACCESS TO CLIMATE DATA,PRODUCTS AND INFORMATION</font></p>
        <p align="left">to support the research efforts of the Southwest Climate Science Center (SWCSC) and
        the Landscape Conservation Cooperatives(LCC) as well as delivering useful tools that will help resource managers in their decision making process.</p>

        <h2 align="center">Background </h2>
        <p align="left">The natural and cultural resources owned by the American public and managed
        under the stewardship of the Department of Interior and allied agencies and organizations are effected in many different ways by the physical environment. Decisions about how to manage these complex systems begin with what is known from recent history and ideally make use of knowledge about the likelyhood of different potential futures. The need to incorporate environmental dependencies into resource management decision making has lead to the development of a highly complicated interwoven web involving observations, research, tools, activities and other processes pertaining to weather and climate. Due to the complexity not only in the science involved but also in the decision environment itself, there is a growing need for a comprensive framework that serves as a clearinghouse for data, tools and information pertaining to climate and climate change and that bridges the gap between pure science and the hands-on application environment.</p>
        
        <h2 align="center">What we provide</h2>
        <p align="left"><ul>
        <li>Access to past and present observations</li>
            <ul>
            <li>Historic Station Data</li>
            <li>Gridded Data</li>
            </ul>
        <li>Access to future projections derived from models in gridded form</li>
        <li>Analysis and Visualization Tools</li>
            <ul>
            <li>Time Series, Averages, Records, Normals, ...</li>
            <li>Composite and risk maps</li>
            </ul>
        <li>Decision Tools</li>
        <li>Links to external information sources</li>
        </ul></p>

        <h2 align="center">Behind the scenes</h2>
        <p align="left">We will routinely perform evaluations of the usefulness of the information and tools provided. We will look at the effectiveness of the mechanisms for access, dissemination, summarization and visualization. User feetback as well as internal and external expert advice will guide improvements and enhancements to the Southwest Climate Knowledge Network.</p>
    </div>
</div>
{% endblock %}
