{% extends "csc_base.html" %}

<meta name="keywords" content="mission, mission statement, information, background">
<meta name="description" content="SW-CKN Mission Statement and other general information">

{% block content %}

<p align="center">You are here 
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL }}main_map/">RESOURCES></a>
<a href="{{SW_CKN_URL }}about_us">ABOUT US></a>
<a href="{{SW_CKN_URL }}what_we_do/">What we do</a></p>

<div class="container">
    <div class="major-left">
        <p>
        The Southwest Climate Knowledge Network (SWCKN) serves as a climate knowledge imfprmation hub for the Southwest US. It is a portal where users can receive information, contribute to the knowledge base of the region and provide feedback on the functioning of the data exchange.
        The SWCKN will compile existing knowledge about weather, climate and projected climatic impacts on biological and physical systems in the Southwest US. 
        </p>
        <h2 align="center">What we provide</h2>
        <p align="left"><ul>
        <li>Access to past and present observations</li>
            <ul>
            <li>Historic Station Data</li>
            <li>Gridded Data</li>
            </ul>
        <li>Access to future projections derived from models in gridded form</li>
        <li>Analysis and Visualization Tools</li>
            <ul>
            <li>Time Series, Averages, Records, Normals, ...</li>
            <li>Composite and risk maps</li>
            </ul>
        <li>Decision Tools</li>
        <li>Links to external information sources</li>
        </ul></p>

        <h2 align="center">Behind the scenes</h2>
        <p align="left">We will routinely perform evaluations of the usefulness of the information and tools provided. We will look at the effectiveness of the mechanisms for access, dissemination, summarization and visualization. User feetback as well as internal and external expert advice will guide improvements and enhancements to the Southwest Climate Knowledge Network.</p>
    </div>

    <div class="center-right">
        <h2>Links and resources</h2>
       <a target="_blank" href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
        <br />
        <a target="_blank"  href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
        <br />
        <a target="_blank" href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </div>


  <!-- Footer
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>
  -->
</div>
{% endblock %}
