{% extends "csc_base.html" %}

<meta name="keywords" content="people, staff, directory, affiliations, funding agencies">
<meta name="description" content="SW-CKN Who we are">

{% block content %}

<p align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{SW_CKN_URL}}about_us/">ABOUT_US></a>
<a href="{{SW_CKN_URL}}who_we_are/">Who We Are</a></p>

<div class="container">
    <div align="center">
        <h2><font color="#FF007F">Host Institutions and Principal Investigators</font></h2>
        <table cellspacing="5">
        <tr><td>
            <a href="http://www.arizona.edu/" target="_blank"><img alt="UA" src="/csc/media/img/UALogo.jpg" class="logo"></a><br />
            <a href="http://www.arizona.edu/" target="_blank">University of Arizona</a><br />
            <a href="http://www.southwestclimatechange.org" target="_blank">Southwest Climate Change Network</a>
        </td><td>
            <img alt="Peck" src="{{MEDIA_URL}}img/overpeck.jpg" class="person"><br />
            <a href="http://www.environment.arizona.edu/jonathan-overpeck" target="_blank">Jonathan Overpeck</a>
        </td></tr>
        <tr><td>
            <a href="http://www.dri.edu" target="_blank"><img alt="DRI" src="/csc/media/img/DRILogo.gif" class="logo"></a><br />
            <a href="http://www.dri.edu" target="_blank">Desert Research Institute</a><br />
            <a href="http://www.wrcc.dri.edu" target="_blank">Western Regional Climate Center</a><br />
        </td><td>
            <img alt="Kelly" src="{{MEDIA_URL}}img/KellyR.jpg" width="70px" height="60px"><br />
            <a href="http://www.dri.edu/kelly-redmond" target="_blank">Kelly Redmond</a>
        </td></tr>
        <tr><td>
            <a href="http://sio.ucsd.edu/" target="_blank"><img alt="SCRIPPS" src="/csc/media/img/SCRIPPSLogo.gif" class="logo"></a><br />
            <a href="http://sio.ucsd.edu/" target="_blank">Scripps Institute for Oceanography</a><br />
            <a href="http://sio.ucsd.edu/cccc/" target="_blank">California Climate Change Center</a><br />
        </td><td>
            <img alt="Mike" src="{{MEDIA_URL}}img/MikeD.jpg" class="person">&nbsp;&nbsp;<img alt="Dan" src="{{MEDIA_URL}}img/DanC.jpg" class="person"><br />
            <a href="http://tenaya.ucsd.edu/~dettinge/" target="_blank">Mike Dettinger</a>&nbsp;&nbsp;
            <a href="http://tenaya.ucsd.edu/~cayan/index.html" target="_blank">Dan Cayan</a>
        </td></tr>
        <tr><td>
            <a href="http://www.ucla.edu/" target="_blank"><img alt="UCLA" src="/csc/media/img/UCLALogo.jpg" class="logo"></a><br />
            <a href="http://www.ucla.edu/" target="_blank">UC Los Angeles</a><br />
            <a href="http://www.environment.ucla.edu/research/southwest-climate-alliance.asp" target="_blank">UCLA Institute of the environment and Sustainability</a><br />
        </td><td>
            <img alt="Glen" src="{{MEDIA_URL}}img/GlenM.jpg" class="person"><br />
            <a href="http://www.environment.ucla.edu/people/person.asp?Facultystaff_ID=48" target="_blank">Glen M. MacDonald</a>
        </td></tr>
        <tr><td>
            <a href="http://www.ucdavis.edu/" target="_blank"><img alt="UA" src="/csc/media/img/DavisLogo.gif" class="logo"></a><br />
            <a href="http://www.ucdavis.edu/" target="_blank">UC Davis</a><br />
            <a href="http://johnmuir.ucdavis.edu/" target="_blank">John Muir Institute of the Environment</a><br />            
        </td><td>
            <img alt="Mark" src="{{MEDIA_URL}}img/Schwartz.jpg" class="person">&nbsp;&nbsp;<br />
            <a href="http://johnmuir.ucdavis.edu/people/faculty/595/mark-w-schwartz" target="_blank">Mark W. Schwartz</a>&nbsp;&nbsp;
            <a href="http://johnmuir.ucdavis.edu/people/faculty/772/erica-fleishman" target="_blank">Erica Fleischman</a><br />
        </td></tr>
        <tr><td>
            <a href="http://www.colorado.edu/" target="_blank"><img alt="UA" src="/csc/media/img/BoulderLogo.jpg" class="logo"></a><br />
            <a href="http://www.colorado.edu/" target="_blank">CU Boulder</a><br />
            <a href="http://revampclimate.colostate.edu/regional-climate-science-centers" target="_blank">North Central Climate Science Center</a><br />
            <a href="http://wwa.colorado.edu/index.html" target="_blank">Western Water Assessment</a><br /> 
        </td><td>
            <img alt="Brad" src="{{MEDIA_URL}}img/BradU.jpg" class="person"><br />
            <a href="http://sciencepolicy.colorado.edu/about_us/meet_us/brad_udall/" target="_blank">Brad Udall</a>
        </td></tr>
        </table>

        <h2><font color="#FF007F">Sponsors</font></h2>
        <p><a href="http://www.doi.gov/csc/" target="_blank"><img alt="DRI" src="{{MEDIA_URL}}img/DOILogo.jpg" width="70px" height="70px"></a>&nbsp;&nbsp;
        <a href="http://www.doi.gov/csc/" target="_blank"></a>&nbsp;&nbsp;
        <a href="http://www.swcsc.arizona.edu/" target="_blank"><img alt="SW-CSC" src="{{MEDIA_URL}}img/SW-CSC-LOGO.png" width="150px" height="50px"></a>&nbsp;&nbsp;
        <a href="https://nccwsc.usgs.gov/" target="_blank"><img alt="USGS" src="{{MEDIA_URL}}img/USGSLogo.png" class="logo"></a>
        <!--<p><a href="https://nccwsc.usgs.gov/" target="_blank">USGS National Climate Change Center</a></p>-->
</div>
{% endblock %}
