{% extends "csc_base.html" %}

{% block content %}

<p align="center">You are here <a href="/my_data">HOME></a>
<a href="/my_data/who_we_are/">ABOUT US</a></p>

<div class="container">
    <div class="center-left">
    </div>

    <div class="center-right">
        <h2>Links and resources</h2>
        <a href="http://www.swcsc.arizona.edu/">Southwest CSC pages at the University of Arizona</a>
        <br />
        <a href="http://www.doi.gov/csc/southwest/index.cfm">Southwest CSC pages at the DOI</a>
        <br />
        <a href="http://www.doi.gov/csc/lcc/index.cfm">Landscape Conservation Cooperatives</a>
    </div>

    <div class="center">
    </div>
</div>
{% endblock %}
