{% extends "csc_base.html" %}

<meta name="keywords" content="people, staff, directory, affiliations, funding agencies">
<meta name="description" content="SW-CKN Who we are">

{% block content %}

<p align="center">You are here 
<a href="{{URL_PREFIX}}sw_ckn/home/">HOME></a>
<a href="{{URL_PREFIX}}sw_ckn/main/">SW-CKN></a>
<a href="{{URL_PREFIX}}sw_ckn/about_us/">ABOUT US</a>
<a href="{{URL_PREFIX}}sw_ckn/who_we_are/">Who We Are</a></p>

<div class="container">
    <div align="center">
            <h2><font color="magenta">Created by</font></h2>
            <p><img alt="DRI" src="{{MEDIA_URL}}img/DOILogo.jpg" width="70px" height="70px"> Department of the Inerior (DOI)</p>
            <a href="http://www.doi.gov/csc/" target="_blank">DOI Climate Science Centers</a>
            <p><img alt="SW-CSC" src="{{MEDIA_URL}}img/SW-CSC-LOGO.png" class="logo"> Southwest Climate Alliance</p>
            <a href="http://www.swcsc.arizona.edu/" target="_blank">Southwest Climate Science Center</a>
            <p><img alt="USGS" src="{{MEDIA_URL}}img/USGSLogo.png" class="logo"> US Geological Survey</p>
            <a href="https://nccwsc.usgs.gov/" target="_blank">National Climate Change Center</a>


            <h2><font color="magenta">Hosts Institutions and Principle Investigators</font></h2>
            <p><img alt="SW-CSC" src="{{MEDIA_URL}}img/UALogo.jpg" class="logo">University of Arizona</p>
            <a href="http://www.environment.arizona.edu/jonathan-overpeck" target="_blank"><img alt="Peck" src="{{MEDIA_URL}}img/overpeck.jpg" class="person">Jonathan Overpeck</a>
            <p><img alt="DRI" src="{{MEDIA_URL}}img/DRILogo.gif" class="logo"> Desert Research Institute/Western Regional Climate Center</p>
            <a href="http://www.dri.edu/kelly-redmond" target="_blank"><img alt="Kelly" src="{{MEDIA_URL}}img/KellyR.jpg" width="70px" height="60px">Kelly Redmond</a>
            <p><img alt="SCRIPPS" src="{{MEDIA_URL}}img/SCRIPPSLogo.gif" class="logo"> SCRIPPS Institution of Oceanography</p>
            <a href="http://tenaya.ucsd.edu/~dettinge/" target="_blank"><img alt="Mike" src="{{MEDIA_URL}}img/MikeD.gif" width="70px" height="60px">Mike Dettinger</a>
            <a href="http://tenaya.ucsd.edu/~cayan/index.html" target="_blank"><img alt="Dan" src="{{MEDIA_URL}}img/DanC.jpg" class="person">Dan Cayan</a>
            <p><img alt="UCLA" src="{{MEDIA_URL}}img/UCLALogo.jpg" class="logo"> University of California Los Angeles</p>
            <a href="http://www.environment.ucla.edu/people/person.asp?Facultystaff_ID=48" target="_blank"><img alt="Glen" src="{{MEDIA_URL}}img/GlenM.jpg" class="person">Glen M. MacDonald</a>
            <p><img alt="UA" src="{{MEDIA_URL}}img/DavisLogo.gif" class="logo"> University of California Davis</p>
            <a href="http://johnmuir.ucdavis.edu/people/faculty/772/erica-fleishman" target="_blank">Erica Fleischman</a>
            <a href="http://johnmuir.ucdavis.edu/people/faculty/595/mark-w-schwartz" target="_blank">Mark W. Schwartz</a>
            <p><img alt="UA" src="{{MEDIA_URL}}img/BoulderLogo.jpg" class="logo"> University of Colorado Boulder</p>
            <a href="http://sciencepolicy.colorado.edu/about_us/meet_us/brad_udall/" target="_blank"><img alt="Brad" src="{{MEDIA_URL}}img/BradU.jpg" class="person">Brad Udall</a>

</div>
{% endblock %}
