{% extends "csc_base.html" %}

<meta name="keywords" content="station finder, coop stations, map">
<meta name="description" content="SW-CKN Station Finder">

{% block content %}

<div class="container">
    <p align="center">You are here <a href="{{URL_PREFIX}}sw_ckn">HOME></a>
    <a href="{{URL_PREFIX}}sw_ckn/station_finder/">STATION FINDER</a></p>
    <br />
    <br />
    <br />
    <br />
    <div class="center-left">

        <p class="warning">Click on the <font color="#006666">search categories</font> to see examples!</p>

        <p onClick="ShowHide('myImage')"><u>Search by ID</u></p>
        <img src="{{MEDIA_URL}}img/Acis_Stn_Id_Type.png" id="myImage" border="0" width="275" height="250" style="display:none;" />
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_id/">
            <input type="text" name="q" />
            <input type="submit" value="Submit"/>
        </form>
        <a class="docu_long" target="_blank" href="{{ MEDIA_URL }}html/station_id_system_docu.html">More on station ids</a>

        <p onClick="ShowHide('myImage2')"><u>Search by County</u></p>
        <img class="hover_img" src="{{MEDIA_URL}}img/Acis_Area_Codes.png" id="myImage2" width="275" height="250" border="0" style="display:none;" />
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_county/">
            <input type="text" name="q" />
            <input type="submit" value="Submit" />
        </form>
        <a target="_blank" href="{{MEDIA_URL}}html/US_FIPS_CountyCodes.htm">List of US FIPS County Codes</a>


        <p onClick="ShowHide('myImage3')"><u>Search by County Warning Area (CWA)</u></p>
        <img class="hover_img" src="{{MEDIA_URL}}img/Acis_Area_Codes.png" id="myImage3" width="275" height="250" border="0" style="display:none;" />
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_cwa/">
            <input type="text" name="q" />
            <input type="submit" value="Submit" />
        </form>
        <a target="_blank" href="http://www.aprs-is.net/WX/NWSCodes.aspx">List of US County Warning Areas</a>

        <p onClick="ShowHide('myImage4')"><u>Search by Climate Division</u></p>
        <img class="hover_img" src="{{MEDIA_URL}}img/Acis_Area_Codes.png" id="myImage4" width="275" height="250" border="0" style="display:none;" />
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_clim_div/">
            <input type="text" name="q" />
            <input type="submit" value="Submit" />
        </form>
        <a target="_blank" href="http://www.ncdc.noaa.gov/temp-and-precip/us-climate-divisions.php">Map and list of US climate divisions</a>

        <p onClick="ShowHide('myImage5')"><u>Search by Basin</u></p>
        <img class="hover_img" src="{{MEDIA_URL}}img/Acis_Area_Codes.png" id="myImage5" width="275" height="250" border="0" style="display:none;" />
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_basin/">
            <input type="text" name="q" />
            <input type="submit" value="Submit" />
        </form>
        <a target="_blank" href="http://water.usgs.gov/nawqa/sparrow/wrr97/geograp/huc_name.txt">List of US basin ids</a>

        <p>Search by State</p>
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_state/">
            <select name="state_key">
                {% for state in state_choices %}
                <option value="{{state}}">{{state}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </form>

        <p onClick="ShowHide('myImage6')"><u>Search by Bounding Box</u></p>
        <img class="hover_img" src="{{MEDIA_URL}}img/Acis_Area_Codes.png" id="myImage6" width="275" height="250" border="0" style="display:none;" />
        <form method="get" action="{{URL_PREFIX}}sw_ckn/station_finder/by_bounding_box/">
            <p>
                West:<input type="text" name="W" size="8" />
                South:<input type="text" name="S" size="8" /></br>
                East:<input type="text" name="E" size="8" />
                North:<input type="text" name="N" size="8" />
            </p>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    

    <div class="center">
        <div id="docu_long"></div>
        <input type="hidden" id="URL_PREFIX" name="variable" value="{{ URL_PREFIX }}">
        <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
        <input type="hidden" id="json_file" name="variable" value="{{ json_file }}">
        
        {%if error%}
            <h1 class="error">{{error}}</h1>
        {%endif%}
        
        <script type="text/javascript">
            initialize_station_finder()
        </script>
        <div id="map" style="width: 100%; height:800px;"></div>
    </div>
<div>
{%endblock%}
