{% extends "csc_base.html" %}
<meta name="keywords" content="data, station data, historic data, acis">
<meta name="description" content="SWCKE Historic Station Data">

{%load my_data_filters%}

{% block content %} 

<p align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{DATA_URL}}">DATA></a>
<a href="{{DATA_URL}}station/">Historic Station Data</a></p>

<input type="hidden" id="area_type" name="area_type" value="{{area_type}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{kml_file_path}}">

<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>

<table cellpadding="20">
<!--LEFT-->
<td valign="top" width="30%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}station/'"/>
    <div id='formData'>
        <form method="post" action="">{% csrf_token %}
        <table class="form" id="tableData">
        <tr valign="top">
        <td>Select stations by:</td>
        <td>
            <select id="select_stations_by" name="select_stations_by" onchange="set_station_select('area',this);">
            <option value="station_id" {{checkbox_vals.station_id_selected}}>Individual station</option>
            <option value="station_ids" {{checkbox_vals.station_ids_selected}}>Comma separated list of stations</option>
            <option value="county" {{checkbox_vals.county_selected}}>County</option>
            <option value="climate_division" {{checkbox_vals.climate_division_selected}}>Climate Division</option>
            <option value="county_warning_area" {{checkbox_vals.county_warning_area_selected}}>County Warning Area</option>
            <option value="basin" {{checkbox_vals.basin_selected}}>Drainage Basin</option>
            <option value="state" {{checkbox_vals.state_selected}}>State</option>
            <!--<option value="bounding_box" {{checkbox_vals.bounding_box_selected}}>Bounding Box</option>-->
            <option value="shape" {{checkbox_vals.shape_selected}}>Custom Shape</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_select_stations_by"></div>
            <script type="text/javascript">                        
                $("#ht_select_stations_by").load("{{MEDIA_URL}}html/commons.html #ht_select_stations_by");
            </script>
            <!--
            <script type="text/javascript">                        
                $("#ht_select_stations_by").load("{{MEDIA_URL}}html/commons.html #Docu_select_stations_by");
            </script>-->
        </div>
        </td>
        </tr>
        <tr>
        <td></td>
        <td><div class="pop_link" onClick="ShowHide('Docu_select_stations_by')"><b><u>Station Selection Choices</u></b> explained</div></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
               <div class="pop-up">
            <div id="ht_select_stations_by"></div>
            <script type="text/javascript">                        
                $("#ht_select_stations_by").load("{{MEDIA_URL}}html/commons.html #ht_select_stations_by");
            </script>
        </div>
        </td>
        </tr>
        <tr id="area" valign="top">
        <td>{{initial.area_type_label}}: </td>
        <td><input type="text" id="{{initial.select_stations_by}}" name="{{initial.select_stations_by}}" value="{{initial.area_type_value}}" list="{{initial.autofill_list}}" onchange="set_area_id(this)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_{{initial.select_stations_by}}"></div>
            <script type="text/javascript">                        
            $("#ht_" + {{initial.select_stations_by}} + "\"").load("{{MEDIA_URL}}html/commons.html #ht_" + {{initial.select_stations_by}} + "\"");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.station_id or initial.station_ids%}
        <tr>
        <td></td>
        <td><a target="_blank" href="{{TOOLS_URL}}station/station_finder/">Station Finder</a></td>
        <td></td>
        </td>
        {%endif%}
        <tr valign="top">
        <td id="Elements">Elements: </td>
        <td><input type="text" id="elements" name="elements" value="{{initial.elements}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_elements">
                <img alt=ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_Stn.png" id="ACISElementChoices" width="450" height="450" border="0">
            </div>
            <!--
            <script type="text/javascript">                        
            $("#ht_elements").load("{{MEDIA_URL}}html/commons.html #ht_elements");
            </script>-->
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="Start Date">Start Date: </td>
        <td><input type="text" id="start_date" name="start_date" value="{{initial.start_date}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_start_date"></div>
            <script type="text/javascript">                        
            $("#ht_start_date").load("{{MEDIA_URL}}html/commons.html #ht_date");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="End Date">End Date: </td>
        <td><input type="text" id="end_date" name="end_date" value="{{initial.end_date}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_end_date"></div>
            <script type="text/javascript">                        
            $("#ht_end_date").load("{{MEDIA_URL}}html/commons.html #ht_date");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Show Flags: </td>
        <td>
            <select id="show_flags" name="show_flags">
            <option value="F" {{checkbox_vals.show_flags_F_selected}}>No</option>
            <option value="T" {{checkbox_vals.show_flags_T_selected}}>Yes</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_show_flags"></div>
            <script type="text/javascript">                        
            $("#ht_show_flags").load("{{MEDIA_URL}}html/commons.html #ht_show_flags");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Show Observation Time: </td>
        <td>
            <select id="show_observation_time" name="show_observation_time">
            <option value="F" {{checkbox_vals.show_observation_time_F_selected}}>No</option>
            <option value="T" {{checkbox_vals.show_observation_time_T_selected}}>Yes</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_show_observation_time"></div>
            <script type="text/javascript">                        
            $("#ht_show_observation_time").load("{{MEDIA_URL}}html/commons.html #ht_show_observation_time");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Data Format: </td>
        <td>
        <select id="data_format" name="data_format" onchange="set_delimiter_and_output_file(this, 'delim','out_file');">
        <option value="html" selected>Html (display on page)</option>
        <option value="clm">Columnar, .txt</option>
        <option value="dlm">Delimited, .dat</option>
        <option value="xl" >Excel, .xls</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_data_format"></div>
        <script type="text/javascript">                        
            $("#ht_data_format").load("{{MEDIA_URL}}html/commons.html #ht_data_format");
        </script>
        </div>
        </td>
        </tr>
        <!--Only show when format is clm or dlm, don't show if xl-->
        <tr valign="top" id="delim" style="display:table-row">
        <td>Delimiter:</td>
        <td>
        <select id="delimiter" name="delimiter">
        <option value="comma" selected>Comma (,)</option>
        <option value="tab">Tab (    )</option>
        <option value="space">Space ( )</option>
        <option value="colon">Colon (:)</option>
        <option value="pipe">pipe(|)</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_delimiter"></div>
        <script type="text/javascript">                        
            $("#ht_delimiter").load("{{MEDIA_URL}}html/commons.html #ht_delimiter");
        </script>
        </div>
        </td>
        </tr>
        <!--Only show when data_format is clm,xl or dlm, don't show if html-->
        <tr valign="top" id="out_file" style="display:none;">
        <td>Outputfile Name: </td>
        <td><input type="text" id="output_file_name" name="output_file_name" value="Output"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_output_file_name"></div>
        <script type="text/javascript">                        
            $("#ht_output_file_name").load("{{MEDIA_URL}}html/commons.html #ht_output_file_name");
        </script>
        </div>
        </td>
        </tr>
        </table>
        <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
        <input type="submit" value="Submit" name="formData"/>
        </form>
    </div>
    <br /><br />
<!--RIGHT-->
</td>
<td valign="top" width="70%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
    </script>
    <div class="docu" id="tool_info" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#tool_info").load("{{MEDIA_URL}}html/commons.html #About_station_data");
    </script>
    <script type="text/javascript">            
        $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;"></div>
    <script type="text/javascript">            
        $("#how_to").load("{{MEDIA_URL}}html/commons.html #Howto_station_data");
    </script> 
    <div id="docu_long"></div>

    <div id="Docu_select_stations_by" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_select_stations_by").load("{{MEDIA_URL}}html/commons.html #Docu_select_stations_by");
    </script>    

    {%if form_error%}
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    {%endif%}

    <div id="PolyMap" style="display:none;">
        <div id="panel">
        <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
        {%if lat and lon %}
        <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
        <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        {%else%}
        <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
        <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
        {%endif%}
    </div>
    {%if need_overlay_map%}
    <div id="OverlayMap" style="display:block;">
    {%else%}
    <div id="OverlayMap" style="display:none;">
    {%endif%}
         <div id="formOverlay" style="display:inherit;">
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            <tr valign="top">
            <td>Select stations by:</td>
            <td>
                <select id="select_overlay_by" name="select_overlay_by" onchange="set_station_select('area',this);">
                <option value="county" {{checkbox_vals.county_selected}}>County</option>
                <option value="climate_division" {{checkbox_vals.climate_division_selected}}>Climate Division</option>
                <option value="county_warning_area" {{checkbox_vals.county_warning_area_selected}}>County Warning Area</option>
                <option value="basin" {{checkbox_vals.basin_selected}}>Drainage Basin</option>
                </select>
            </td>
            <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
            <div class="pop-up">
            <div id="ht_select_overlay_by"></div>
            <script type="text/javascript">                        
                $("#ht_select_overlay_by_by").load("{{MEDIA_URL}}html/commons.html #ht_select_stations_by");
            </script>
            </div>
            </td>
            </tr>
            <tr>
            <td>State: </td>
            <td>
                <select name="overlay_state" id="overlay_state">
                <option value="al" {{al_selected}}>Alabama</option>
                <option value="ak" {{ak_selected}}>Alaska</option>
                <option value="az" {{az_selected}}>Arizona</option>
                <option value="ar" {{ar_selected}}>Arkansas</option>
                <option value="ca" {{ca_selected}}>California</option>
                <option value="co" {{co_selected}}>Colorado</option>
                <option value="ct" {{ct_selected}}>Connecticut</option>
                <option value="de" {{de_selected}}>Delaware</option>
                <option value="dc" {{dc_selected}}>District of Columbia</option>
                <option value="fl" {{fl_selected}}>Florida</option>
                <option value="ga" {{ga_selected}}>Georgia</option>
                <option value="hi" {{hi_selected}}>Hawaii</option>
                <option value="id" {{id_selected}}>Idaho</option>
                <option value="il" {{il_selected}}>Illinois</option>
                <option value="in" {{in_selected}}>Indiana</option>
                <option value="ia" {{ia_selected}}>Iowa</option>
                <option value="ks" {{ks_selected}}>Kansas</option>
                <option value="ky" {{ky_selected}}>Kentucky</option>
                <option value="la" {{la_selected}}>Louisiana</option>
                <option value="me" {{me_selected}}>Maine</option>
                <option value="md" {{md_selected}}>Maryland</option>
                <option value="ma" {{ma_selected}}>Massachusetts</option>
                <option value="mi" {{mi_selected}}>Michigan</option>
                <option value="mn" {{mn_selected}}>Minnesota</option>
                <option value="ms" {{ms_selected}}>Mississippi</option>
                <option value="mo" {{mo_selected}}>Missouri</option>
                <option value="mt" {{mt_selected}}>Montana</option>
                <option value="ne" {{ne_selected}} >Nebraska</option>
                <option value="nv" {{nv_selected}}>Nevada</option>
                <option value="nh" {{nh_selected}}>New Hampshire</option>
                <option value="nj" {{nj_selected}}>New Jersey</option>
                <option value="nm" {{nm_selected}}>New Mexico</option>
                <option value="ny" {{ny_selected}}>New York</option>
                <option value="nc" {{nc_selected}}>North Carolina</option>
                <option value="nd" {{nd_selected}}>North Dakota</option>
                <option value="oh" {{oh_selected}}>Ohio</option>
                <option value="ok" {{ok_selected}}>Oklahoma</option>
                <option value="or" {{or_selected}}>Oregon</option>
                <option value="pa" {{pa_selected}}>Pennsylvania</option>
                <option value="ri" {{ri_selected}}>Rhode Island</option>
                <option value="sc" {{sc_selected}}>South Carolina</option>
                <option value="sd" {{sd_selected}}>South Dakota</option>
                <option value="tn" {{tn_selected}}>Tennessee</option>
                <option value="tx" {{tx_selected}}>Texas</option>
                <option value="ut" {{ut_selected}}>Utah</option>
                <option value="vt" {{vt_selected}}>Vermont</option>
                <option value="va" {{va_selected}}>Virginia</option>
                <option value="wa" {{wa_selected}}>Washington</option>
                <option value="wv" {{wv_selected}}>West Virginia</option>
                <option value="wi" {{wi_selected}}>Wisconsin</option>
                <option value="wy" {{wy_selected}}>Wyoming</option>
            </select>
            </td>
            <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
            <div class="pop-up">
                <div id="ht_select_overlay_by">Specify US State</div>
            </div>
            </td>
            </tr>
            </table>
            <input type="hidden" value="{{area_type_value}}" name="{{area_type}}">
            <input type="hidden" value="{{initial.elements}}" name="elements">
            <input type="hidden" value="{{initial.start_date}}" name="start_date">
            <input type="hidden" value="{{initial.end_date}}" name="end_date">
            <input type="hidden" value="{{initial.show_flags}}" name="show_flags">
            <input type="hidden" value="{{initial.show_observation_time}}" name="show_observation_time">
            <input type="hidden" value="{{initial.data_format}}" name="data_format">
            <input type="submit" value="Submit" name="formOverlay"/>
            </form>
        </div>
    </div>


    {%if need_overlay_map%}
    {%if overlay_error%}
    <p class="error">{{overlay_error}}</p>
    {%else%}
    <div id="map-overlay" style="width:100%; height:400px;"></div>
    <div id="content-window" style="width:100px; height:100px;"></div>
    <script type="text/javascript">initialize_map_overlays("{{area_type}}","{{host}}", "{{kml_file_path}}")</script>
    {%endif%} 
    {%endif%}
    <br /><br />
    <!--Results section-->
    {%if large_request %}
    <p class="error">{{large_request}}</p>
    {%endif%}

    {%if user_info%}
    <p class="error">{{user_info}}</p>
    {%endif%}

    {%if results.error%}
    <p class="error">{{results.error}}</p>
    {%endif%}

    {%if display_params_list%}
    <p><b>SEARCH PARAMETERS</b>:<br />
    {%for param in display_params_list%}
    {%if not forloop.first and param.0 and param.1%}, {%endif%}
    {%if forloop.counter|divisibleby:"3" %}<br />
    {%endif %}
    {%if param.0 == "Elements"%}<br />{%endif%}
    {%if param.0 and param.1%}
    <b>{{param.0}}</b>:
    {%if param.0 == "shape"%}
    <p class="error" onClick="ShowHide('coords')"><u>Click here to see/hide coordinates</u></p>
    <div id="coords" style="display:none;">{{params.1}}</div>
    {%else%}
    {{param.1}}
    {%endif%}
    {%endif%}
    {%endfor%}
    </p>
    {%endif%}


    {%if results%}
    {%if params_dict.show_flags == "T"%}
    <h3>ACIS Data Flags: M = Missing, T = Trace, S = Subsequent, A = Accumulated</h3>
    {%endif%}
    <br />
    {%if results.errors%}
    <p class="error">{{results.errors}}</p>
    {%endif%}

    <!--Link to relevant apps-->
    {%if params_dict.stn_id %}
    <a target="_blank" href="{{TOOLS_URL}}station/?stn_id={{params_dict.stn_id}}&start_date={{params_dict.start_date}}&end_date={{params_dict.end_date}}&elements={{params_dict.elements}}">Run an application on this data set</a>
    {%endif%}
    <br />

    {%for stn in stn_idx%}
    {%if results.stn_data|lookup:stn%}
    <h3>STATION NAME:</h3>
    <b>{{results.stn_names|lookup:stn|safe}}</b>
    <h3>STATION ID,STATION NETWORK PAIRS:</h3>
    {%for id_network in results.stn_ids|lookup:stn %}
    <b>{{id_network}},</b>
    {%endfor%}
    <h3>Data:</h3>
    <p class="error"> {{results.stn_errors|lookup:stn}}</p>
    {%if not json%}
    <table>
    <th>date{{params_dict.delimiter}}
    {%if params_dict.show_flags == "T"%}
    {%if params_dict.show_observation_time == "T"%}
    {%for el in results.elements%}{{el}}{{params_dict.delimiter}}flag{{params_dict.delimiter}}obs time{{params_dict.delimiter}}{%endfor%}
    {%else%}
    {%for el in results.elements%}{{el}}{{params_dict.delimiter}}flag{{params_dict.delimiter}}{%endfor%}
    {%endif%}
    {%else%}
    {%if params_dict.show_observation_time == "T"%}
    {%for el in results.elements%}{{el}}{{params_dict.delimiter}}obs time{{params_dict.delimiter}}{%endfor%}
    {%else%}
    {%for el in results.elements%}{{el}}{{params_dict.delimiter}}{%endfor%}
    {%endif%}
    {%endif%}
    </th>
    {%for date_vals in results.stn_data|lookup:stn%}
    <tr><td>
    {%for el_val in date_vals%}
    {%if forloop.first %}
    {{el_val}}{{params_dict.delimiter}}
    {%else%}
    {%if params_dict.show_flags == "T"%}
    {%if params_dict.show_observation_time == "T"%}
    {{el_val|lookup:0}}{{params_dict.delimiter}}{{el_val|lookup:1}}{{params_dict.delimiter}}{{el_val|lookup:2}}{{params_dict.delimiter}}
    {%else%}
    {{el_val|lookup:0}}{{params_dict.delimiter}}{{el_val|lookup:1}}{{params_dict.delimiter}}
    {%endif%}
    {%else%}
    {%if params_dict.show_observation_time == "T"%}
    {{el_val|lookup:0}}{{params_dict.delimiter}}{{el_val|lookup:2}}{{params_dict.delimiter}}
    {%else%}
    {{el_val|lookup:0}}{{params_dict.delimiter}}
    {%endif%}
    {%endif%}
    {%endif%}
    {%endfor%}
    </td></tr>
    {%endfor%}
    </table>
    {%else%}
    {{results.stn_data|lookup:stn}}
    {%endif%}
    {%endif%}<!--End if results.stn_data|lookup:stn-->
    {%endfor%}<!--End station loop-->
    {%endif%}<!--End if results-->

</td></table>
{%endblock%}
