{% extends "csc_base.html" %}
<meta name="keywords" content="data, station data, historic data, acis">
<meta name="description" content="SCENIC Historic Station Data">

{%load my_data_filters%}

{% block content %} 

<p align="center">You are here
<a href="{{HOME_URL}}">Home></a>
<a href="{{DATA_URL}}">Data></a>
<a href="{{DATA_URL}}station/">Historic Station Data</a></p>

<input type="hidden" id="area_type" name="area_type" value="{{area_type}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{kml_file_path}}">

<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>

<table cellpadding="10">
<td valign="top" width="40%">
    <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}station/'"/>
    <div id='formData'>
        <form method="post" id="tableDataForm" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form" id="tableData">
        <tr valign="top">
        <td>Select stations by:</td>
        <td>
            <select id="select_stations_by" name="select_stations_by" onchange="set_station_grid_select('area',this);" onfocus="set_station_grid_select('area',this);">
            <option value="station_id" {{checkbox_vals.station_id_selected}}>Individual station</option>
            <option value="station_ids" {{checkbox_vals.station_ids_selected}}>List of stations</option>
            <option value="county" {{checkbox_vals.county_selected}}>County</option>
            <option value="county_warning_area" {{checkbox_vals.county_warning_area_selected}}>County Warning Area</option>
            <option value="climate_division" {{checkbox_vals.climate_division_selected}}>Climate Division</option>
            <option value="basin" {{checkbox_vals.basin_selected}}>Drainage Basin</option>
            <option value="state" {{checkbox_vals.state_selected}}>State</option>
            <!--<option value="bounding_box" {{checkbox_vals.bounding_box_selected}}>Bounding Box</option>-->
            <option value="shape" {{checkbox_vals.shape_selected}}>Custom Shape</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" onclick="ShowPopupDocu('Docu_select_stations_by')">
        <div id="Docu_select_stations_by" style="display:none;"></div>
        <script type="text/javascript">                        
            $("#Docu_select_stations_by").load("{{MEDIA_URL}}html/Docu_select_stations_by.html");
        </script>
        </td>
        <tr id="area" valign="top">
        {%if initial.select_stations_by == "station_id" %}
        <td id="{{initial.area_type_label}}">{{initial.area_type_label}}/Name: </td>
        {%else%}
        <td id="{{initial.area_type_label}}">{{initial.area_type_label}}: </td>
        {%endif%}
        <td><input autocomplete="off" type="text" size="20" id="{{initial.select_stations_by}}" name="{{initial.select_stations_by}}" value="{{initial.area_type_value}}" list="{{initial.autofill_list}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_{{initial.select_stations_by}}"></div>
            <script type="text/javascript">                        
            $("#ht_{{initial.select_stations_by}}").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_{{initial.select_stations_by}}");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.station_id or initial.station_ids%}
        <tr>
        <td></td>
        <td><a target="_blank" href="{{TOOLS_URL}}station/station_finder/">Station Finder</a></td>
        <td></td>
        </td>
        {%endif%}
        <tr valign="top">
        <td id="Elements">Elements: </td>
        <td>
            <select id="elements" name="elements" multiple onchange="update_elements(this)">
            <option value="maxt" {{checkbox_vals.elements_maxt_selected}}>Maximum Temperature</option>
            <option value="mint" {{checkbox_vals.elements_mint_selected}}>Minimum Temperature</option>
            <option value="avgt" {{checkbox_vals.elements_avgt_selected}}>Average Temperature</option>
            <option value="obst" {{checkbox_vals.elements_obst_selected}}>Observation Time Temp.</option>
            <option value="pcpn" {{checkbox_vals.elements_pcpn_selected}}>Precipitation</option>
            <option value="snow" {{checkbox_vals.elements_snow_selected}}>Snowfall</option>
            <option value="snwd" {{checkbox_vals.elements_snwd_selected}}>Snow Depth</option>
            <option value="hdd" {{checkbox_vals.elements_hdd_selected}}>Heating Degree Days(65F/18C)</option>
            <option value="cdd" {{checkbox_vals.elements_cdd_selected}}>Cooling Degree Days(65F/18C)</option>
            <option value="gdd" {{checkbox_vals.elements_gdd_selected}}>Growing Degree Days(50F/10C)</option>
            <option value="evap" {{checkbox_vals.elements_evap_selected}}>Pan Evaporation</option>
            <option value="wdmv" {{checkbox_vals.elements_wdmv_selected}}>Wind Movement</option>
            </select>
        </td>        <td><img class="trigger" alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png">
        <div class="pop-up">
        <div id="ht_elements"></div>
        <script type="text/javascript">                        
        $("#ht_elements").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_elements");
        </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Add special degree days: </td>
        <td>
        <select id="add_degree_days" name="add_degree_days" onchange="show_div_if_true(this,'dd') & update_value(this.value)">
            <option value="T" {{checkbox_vals.add_degree_days_T_selected}}>Yes</option>
            <option value="F" {{checkbox_vals.add_degree_days_F_selected}}>No</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_add_degree_days"></div>
        <script type="text/javascript">                        
            $("#ht_add_degree_days").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_add_degree_days");
        </script>
        </div>
        </td>
        </tr>
        {%if initial.add_degree_days == "T"%}
        <tr id="dd" valign="top">
        {%else%}
        <tr id="dd" valign="top" style="display:none;">
        {%endif%}
        <td id="Degree Days">Degree Days: </td>
        <td><input type="text" id="degree_days" name="degree_days" value="{{initial.degree_days}}" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_degree_days"></div>
        <script type="text/javascript">                        
            $("#ht_degree_days").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_degree_days");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Units: </td>
        <td>
        <select id="units" name="units" onchange="update_value(this.value) & set_degree_days(this.value)">
            <option value="metric" {{checkbox_vals.units_metric_selected}}>Metric</option>
            <option value="english" {{checkbox_vals.units_english_selected}}>English</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_units"></div>
        <script type="text/javascript">                        
            $("#ht_units").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_units");
        </script>    
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="Start Date">Start Date: </td>
        <td><input type="text" id="start_date" name="start_date" value="{{initial.start_date}}" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_start_date"></div>
            <script type="text/javascript">                        
            $("#ht_start_date").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_date_station");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="End Date">End Date: </td>
        <td><input type="text" id="end_date" name="end_date" value="{{initial.end_date}}" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_end_date"></div>
            <script type="text/javascript">                        
            $("#ht_end_date").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_date_station");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Show Flags: </td>
        <td>
            <select id="show_flags" name="show_flags" onchange="update_value(this.value)">
            <option value="F" {{checkbox_vals.show_flags_F_selected}}>No</option>
            <option value="T" {{checkbox_vals.show_flags_T_selected}}>Yes</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_show_flags"></div>
            <script type="text/javascript">                        
            $("#ht_show_flags").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_show_flags");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Show Observation Time: </td>
        <td>
            <select id="show_observation_time" name="show_observation_time" onchange="update_value(this.value)">
            <option value="F" {{checkbox_vals.show_observation_time_F_selected}}>No</option>
            <option value="T" {{checkbox_vals.show_observation_time_T_selected}}>Yes</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_show_observation_time"></div>
            <script type="text/javascript">                        
            $("#ht_show_observation_time").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_show_observation_time");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Date Format: </td>
        <td>
        <select id="date_format" name="date_format" onchange="update_value(this.value)">
        <option value="none" {{checkbox_vals.date_format_none_selected}}>yyyymmdd</option>
        <option value="dash" {{checkbox_vals.date_format_dash_selected}}>yyyy-mm-dd</option>
        <option value="colon" {{checkbox_vals.date_format_colon_selected}}>yyyy:mm:dd</option>
        <option value="slash" {{checkbox_vals.date_format_slash_selected}}>yyyy/mm/dd</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_date_format"></div>
        <script type="text/javascript">                        
            $("#ht_date_format").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_date_format");
        </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Data Format: </td>
        <td>
        <select id="data_format" name="data_format" onchange="set_delimiter_and_output_file(this, 'delim','out_file') & update_value(this.value);">
        <option value="html" {{checkbox_vals.data_format_htnl_selected}}>Html (display on page)</option>
        <option value="clm" {{checkbox_vals.data_format_clm_selected}}>Columnar, .txt</option>
        <option value="dlm" {{checkbox_vals.data_format_dlm_selected}}>Delimited, .dat</option>
        <option value="xl" {{checkbox_vals.data_format_xl_selected}} >Excel, .xls</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_data_format"></div>
        <script type="text/javascript">                        
            $("#ht_data_format").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_data_format");
        </script>
        </div>
        </td>
        </tr>
        <!--Only show when format is clm or dlm, don't show if xl-->
        <tr valign="top" id="delim" style="display:none">
        <td>Delimiter:</td>
        <td>
        <select id="delimiter" name="delimiter" onchange="update_value(this.value)">
        <option value="comma" {{checkbox_vals.comma_selected}}>Comma (,)</option>
        <option value="tab" {{checkbox_vals.tab_selected}}>Tab (    )</option>
        <option value="space" {{checkbox_vals.space_selected}}>Space ( )</option>
        <option value="colon" {{checkbox_vals.colon_selected}}>Colon (:)</option>
        <option value="pipe" {{checkbox_vals.pipe_selected}}>pipe(|)</option>
        </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_delimiter"></div>
        <script type="text/javascript">                        
            $("#ht_delimiter").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_delimiter");
        </script>
        </div>
        </td>
        </tr>
        <!--Only show when data_format is clm,xl or dlm, don't show if html-->
        <tr valign="top" id="out_file" style="display:none;">
        <td>Outputfile Name: </td>
        <td><input type="text" id="output_file_name" name="output_file_name" value="Output" onchange="update_value(this.value)"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
        <div id="ht_output_file_name"></div>
        <script type="text/javascript">                        
            $("#ht_output_file_name").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_output_file_name");
        </script>
        </div>
        </td>
        </tr>
        </table>
        <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
        <input type="submit" value="Submit" name="formData"/>
        </form>
    </div>
    <br /><br />
</td>
<td valign="top"  align="left" width="60%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{MEDIA_URL}}html/Buttons.html .tool_info");
    </script>
    <div class="docu" id="tool_info" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#tool_info").load("{{MEDIA_URL}}html/Docu_About_station_data.html");
    </script>
    <script type="text/javascript">            
        $("#how_to_head").load("{{MEDIA_URL}}html/Buttons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;">
    <div id="Doc_select_stations_by"></div>
    <script type="text/javascript">            
        $("#Doc_select_stations_by").load("{{MEDIA_URL}}html/Docu_select_stations_by.html");
    </script>
    <div id="Docu_elements"></div>
     <script type="text/javascript">            
        $("#Docu_elements").load("{{MEDIA_URL}}html/Docu_elements_station.html");
    </script>
    <div id="Docu_add_degree_days"></div>
    <script type="text/javascript">            
        $("#Docu_add_degree_days").load("{{MEDIA_URL}}html/Docu_add_degree_days.html");
    </script>
    <div id="Docu_degree_days"></div>
    <script type="text/javascript">            
        $("#Docu_degree_days").load("{{MEDIA_URL}}html/Docu_degree_days.html");
    </script>
    <div id="Docu_units"></div>
    <script type="text/javascript">            
        $("#Docu_units").load("{{MEDIA_URL}}html/Docu_units.html");
    </script>
    <div id="Docu_start_end_date"></div>
     <script type="text/javascript">            
        $("#Docu_start_end_date").load("{{MEDIA_URL}}html/Docu_start_end_date.html");
    </script>
    <div id="Docu_show_flags"></div>
    <script type="text/javascript">            
        $("#Docu_show_flags").load("{{MEDIA_URL}}html/Docu_show_flags.html");
    </script>
    <div id="Docu_show_observation_time"></div>
    <script type="text/javascript">            
        $("#Docu_show_observation_time").load("{{MEDIA_URL}}html/Docu_show_observation_time.html");
    </script>
    <div id="Docu_date_format"></div>
    <script type="text/javascript">            
        $("#Docu_date_format").load("{{MEDIA_URL}}html/Docu_date_format.html");
    </script>
    <div id="Docu_data_format"></div>
    <script type="text/javascript">            
        $("#Docu_data_format").load("{{MEDIA_URL}}html/Docu_data_format.html");
    </script>
    <div id="Docu_delimiter"></div>
    <script type="text/javascript">
        $("#Docu_delimiter").load("{{MEDIA_URL}}html/Docu_delimiter.html");         
    </script>
    </div>

    {%if user_params_list and not results.stn_data%}
    <div id="user_params_list">
    <p class="error">
    Please use the form to complete your data request.<br />
    Your Parameters:<br />
    {%for key_val in user_params_list%}
    <b>{{key_val.0}}</b>: {{key_val.1}}<br />
    {%endfor%}
    </p>
    </div>
    {%endif%}

    {%if form_error%}
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    {%endif%}

    <div id="PolyMap" style="display:none;">
        <div id="panel">
        <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
        {%if lat and lon %}
        <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
        <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        {%else%}
        <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
        <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
        {%endif%}
    </div>
    {%if need_overlay_map%}
    <div id="OverlayMap" style="display:block;">
    {%else%}
    <div id="OverlayMap" style="display:none;">
    {%endif%}
         <div id="formOverlay" style="display:inherit;">
            <form method="post" action="" onsubmit="show_loading() & set_hidden_fields(this,'tableDataForm')">{% csrf_token %}
            <table class="form">
            <td>State: </td>
            <td>
                <select name="overlay_state" id="overlay_state">
                <option value="al" {{al_selected}}>Alabama</option>
                <option value="ak" {{ak_selected}}>Alaska</option>
                <option value="az" {{az_selected}}>Arizona</option>
                <option value="ar" {{ar_selected}}>Arkansas</option>
                <option value="ca" {{ca_selected}}>California</option>
                <option value="co" {{co_selected}}>Colorado</option>
                <option value="ct" {{ct_selected}}>Connecticut</option>
                <option value="de" {{de_selected}}>Delaware</option>
                <option value="dc" {{dc_selected}}>District of Columbia</option>
                <option value="fl" {{fl_selected}}>Florida</option>
                <option value="ga" {{ga_selected}}>Georgia</option>
                <option value="hi" {{hi_selected}}>Hawaii</option>
                <option value="id" {{id_selected}}>Idaho</option>
                <option value="il" {{il_selected}}>Illinois</option>
                <option value="in" {{in_selected}}>Indiana</option>
                <option value="ia" {{ia_selected}}>Iowa</option>
                <option value="ks" {{ks_selected}}>Kansas</option>
                <option value="ky" {{ky_selected}}>Kentucky</option>
                <option value="la" {{la_selected}}>Louisiana</option>
                <option value="me" {{me_selected}}>Maine</option>
                <option value="md" {{md_selected}}>Maryland</option>
                <option value="ma" {{ma_selected}}>Massachusetts</option>
                <option value="mi" {{mi_selected}}>Michigan</option>
                <option value="mn" {{mn_selected}}>Minnesota</option>
                <option value="ms" {{ms_selected}}>Mississippi</option>
                <option value="mo" {{mo_selected}}>Missouri</option>
                <option value="mt" {{mt_selected}}>Montana</option>
                <option value="ne" {{ne_selected}} >Nebraska</option>
                <option value="nv" {{nv_selected}}>Nevada</option>
                <option value="nh" {{nh_selected}}>New Hampshire</option>
                <option value="nj" {{nj_selected}}>New Jersey</option>
                <option value="nm" {{nm_selected}}>New Mexico</option>
                <option value="ny" {{ny_selected}}>New York</option>
                <option value="nc" {{nc_selected}}>North Carolina</option>
                <option value="nd" {{nd_selected}}>North Dakota</option>
                <option value="oh" {{oh_selected}}>Ohio</option>
                <option value="ok" {{ok_selected}}>Oklahoma</option>
                <option value="or" {{or_selected}}>Oregon</option>
                <option value="pa" {{pa_selected}}>Pennsylvania</option>
                <option value="ri" {{ri_selected}}>Rhode Island</option>
                <option value="sc" {{sc_selected}}>South Carolina</option>
                <option value="sd" {{sd_selected}}>South Dakota</option>
                <option value="tn" {{tn_selected}}>Tennessee</option>
                <option value="tx" {{tx_selected}}>Texas</option>
                <option value="ut" {{ut_selected}}>Utah</option>
                <option value="vt" {{vt_selected}}>Vermont</option>
                <option value="va" {{va_selected}}>Virginia</option>
                <option value="wa" {{wa_selected}}>Washington</option>
                <option value="wv" {{wv_selected}}>West Virginia</option>
                <option value="wi" {{wi_selected}}>Wisconsin</option>
                <option value="wy" {{wy_selected}}>Wyoming</option>
            </select>
            </td>
            <td><input type="submit" value="Update Map" name="formOverlay"/></td>
            </tr>
            </table>
            <input type="hidden" value="{{initial.select_stations_by}}" name="select_overlay_by" id="select_overlay_by">
            <input type="hidden" value="{{area_type_value}}" name="{{area_type}}">
            <input type="hidden" id="elements_string" value="{{initial.elements_string}}" name="elements" class="elements_string">
            </form>
        </div>
    </div>


    <div id="GridpointMap" style="display:none;"></div>

    {%if need_overlay_map%}
    {%if overlay_error%}
    <p class="error">{{overlay_error}}</p>
    {%else%}
    <div id="map-overlay" style="width:100%; height:400px;"></div>
    <div id="content-window" style="width:100px; height:100px;"></div>
    <script type="text/javascript">initialize_map_overlays("{{area_type}}","{{host}}", "{{kml_file_path}}")</script>
    {%endif%}
    <br /><br /> 
    {%endif%}
   

    <!--Results section-->
    <div id="results">
    {%if large_request %}
    <p class="error">{{large_request}}</p>
    {%endif%}

    {%if display_params_list%}
    <p class="green"><b>SEARCH PARAMETERS</b>:<br />
    {%for param in display_params_list%}
    {%if forloop.counter|divisibleby:"3" or forloop.last%}<br />
    {%endif %}
    {%if param.0 == "Elements"%}<br />{%endif%}
    {%if param.0 and param.1%}
    <b>{{param.0}}</b>:
    {%if param.0 == "shape"%}
    <p class="error" onClick="ShowHide('coords')"><u>Click here to see/hide coordinates</u></p>
    <div id="coords" style="display:none;">{{params.1}}</div>
    {%else%}
    {{param.1}}
    {%endif%}
    {%endif%}
    {%endfor%}
    </p>
    {%endif%}
   

    {%if results%}
    {%if results.error%}
    <p class="error">{{results.error}}</p>
    {%else%}
    <div id="Arrow">
    <table style="display:block;">
    <td valign="top"><b>RESULTS:</b></td><td>
    <td><img alt="DownArrow" src="{{MEDIA_URL}}img/DownArrow.png" height="200px"></td>
    </table>
    </div>
    {%endif%}

</td></table>
<table cellpadding="10" align="center">
<td valign="top" width="100%">

    {%if results%}
    <!--Link to relevant apps-->
    {%if link_to_all and not results.error%}
    <a target="_blank" href="{{TOOLS_URL}}station/sodxtrmts/?{%for key,val in sodxtrmts_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><font size="3">Generate Monthly/Annual Summary and Time Series!</font></a><br />
    <a target="_blank" href="{{TOOLS_URL}}station/sodsumm/?{%for key,val in sodsumm_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><font size="3">Generate Monthly/Seasonal Summary and Bar Charts!</font></a><br />
    <a target="_blank" href="{{TOOLS_URL}}station/monthly_aves/?{%for key,val in monthly_aves_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><font size="3">Generate Barcharts of Monthly Averages</font></a><br />
    {%endif%}
    {%if link_to_mon_aves and not results.error%}
    <a target="_blank" href="{{TOOLS_URL}}station/monthly_aves/?{%for key,val in monthly_aves_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><font size="3">Generate Barcharts of Monthly Averages</font></a><br />
    {%endif%}


    {%endif%}

    <b>RESULTS:</b>:<br />
    {%for stn in stn_idx%}
    {%if station_ids_error %}
    <div class="error">{{station_ids_error}}</div><br />
    {%endif%}
    {%if results.stn_data|lookup:stn%}

    <b>Station Name</b>: {{results.stn_names|lookup:stn|safe}},<br />
    <b>Station ID and Network Pairs</b>:<br /> 
    {%for id_network in results.stn_ids|lookup:stn %}
    {%if forloop.counter|divisibleby:2%}<br />{%endif%}
    {{id_network}},
    {%endfor%}<br />
    <b>State</b>: {{results.stn_state|lookup:stn|safe}},<br />
    <b>Latidude, Longitude</b>: {{results.stn_lat|lookup:stn|safe}}, {{results.stn_lon|lookup:stn|safe}},<br />
    <b>Elevation</b>: {{results.stn_elev|lookup:stn|safe}}ft<br /><br />
    <b>DATA:</b><br />
    {%if not results.error%}
    ACIS Data Flags: M = Missing, T = Trace, S = Subsequent, A = Accumulated<br />
    {%endif%}
    <div class="error"> {{results.stn_errors|lookup:stn}}</div><br />
    {%if not json%}
    <table border="1">
    <th>date{{params_dict.delimiter}}</th>
    {%if params_dict.show_flags == "T"%}
    {%if params_dict.show_observation_time == "T"%}
    {%for el in element_list%}<th>{{el}}({{unit_dict|lookup:el}}){{params_dict.delimiter}}</th><th>flag{{params_dict.delimiter}}</th><th>obs time{{params_dict.delimiter}}</th>{%endfor%}
    {%else%}
    {%for el in  element_list%}<th>{{el}}({{unit_dict|lookup:el}}){{params_dict.delimiter}}</th><th>flag{{params_dict.delimiter}}</th>{%endfor%}
    {%endif%}
    {%else%}
    {%if params_dict.show_observation_time == "T"%}
    {%for el in element_list%}<th>{{el}}({{unit_dict|lookup:el}}){{params_dict.delimiter}}</th><th>obs time{{params_dict.delimiter}}</th>{%endfor%}
    {%else%}
    {%for el in element_list%}<th>{{el}}({{unit_dict|lookup:el}}){{params_dict.delimiter}}</th>{%endfor%}
    {%endif%}
    {%endif%}
    </th>
    {%for date_vals in results.stn_data|lookup:stn%}
    <tr>
    {%for el_val in date_vals%}

    {%if forloop.first %}
    <td align="right">{{el_val}}{{params_dict.delimiter}}</td>
    {%else%}
    {%if params_dict.show_flags == "T"%}
    {%if params_dict.show_observation_time == "T"%}
    <td align="right">{{el_val|lookup:0}}{{params_dict.delimiter}}</td><td align="left">{{el_val|lookup:1}}{{params_dict.delimiter}}</td><td align="left">{{el_val|lookup:2}}{{params_dict.delimiter}}</td>
    {%else%}
    <td align="right">{{el_val|lookup:0}}{{params_dict.delimiter}}</td><td align="left">{{el_val|lookup:1}}{{params_dict.delimiter}}</td>
    {%endif%}
    {%else%}
    {%if params_dict.show_observation_time == "T"%}
    <td align="right">{{el_val|lookup:0}}{{params_dict.delimiter}}</td><td align="left">{{el_val|lookup:2}}{{params_dict.delimiter}}</td>
    {%else%}
    <td align="right">{{el_val|lookup:0}}{{params_dict.delimiter}}</td>
    {%endif%}
    {%endif%}
    {%endif%}
    {%endfor%}
    </tr>
    {%endfor%}
    </table>
    <br />
    {%else%}
    {{results.stn_data|lookup:stn}}
    {%endif%}
    {%endif%}<!--End if results.stn_data|lookup:stn-->
    {%endfor%}<!--End station loop-->
    {%endif%}<!--End if results-->
    </div><!--end resulst div-->
</td></table>
{%endblock%}
