{% extends "csc_base.html" %}

{% block content %} 

<p align="center">You are here <a href="/my_data">HOME></a>
<a href="/my_data/data/">DATA PORTAL></a>
<a href="/my_data/data/modeled/">Modeled/Gridded Data</a></p>

<div class="container">
    <h2>Acis Gridded Data</h2>
    <div class="center-left">
        <div id='form2'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">{{ form0_grid|safe }}</table>
            <input type="submit" value="Select" name="form0_grid"/>
            </form>
        </div>

        {%if form1_grid_ready%}
            <div id="form1">
                <form method="post" action="">{% csrf_token %}
                <table class="form">{{ form1_grid|safe }}</table>
                <input type="submit" value="Submit" name="form1_grid"/>
                </form>
            </div>
            </br>
            </br>
        {%endif%}
    </div>

    <div class="center">
        <p class="warning" onClick="ShowHide('AcisElementChoices')">Click here for list of element choices!</p>
        <img src="{{MEDIA_URL}}img/Acis_Element_Choices.png" id="AcisElementChoices" width="450" height="450" border="0" style="display:none;" />
        <p class="warning" onClick="ShowHide('Acis_Area_Codes')">Click here for examples of Grid Selection!</p>
                <img src="{{MEDIA_URL}}img/Acis_Area_Codes.png" id="Acis_Area_Codes" width="450" height="450" border="0" style="display:none;" />
        <a href="http://data.rcc-acis.org/doc/" target="_blank" class="warning"><font color="#A00000">Click here for more information on Gridded Data!</font></a>

        {%if error%}
            {{error}}
        {%endif%}

        {%if grid_data%}
            <br />
            <br />
            <h2>{%for item in file_info%}{{item}}&nbsp;{%endfor%}</h2>
            {%if not json%}
                <p>[date{{delimiter}}lat{{delimiter}}lon{{delimiter}}elev{{delimiter}}{%for el in elements%}{{el}}{{delimiter}}{%endfor%}]</p>
            {%else%}
                <p>date,lat,lon,elev,{%for el in elements%}{{el}},{%endfor%}</p>
            {%endif%}
            
            {{grid_data}}
        {%endif%}
    </div>

</div>

{%endblock%}
