{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SW-CKN Data Portal Home">

{% block content %} 

<p align="center">You are here 
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{DATA_URL}}">DATA PORTAL</a></p>

<div class="container">

        <div class="center-left">
        <h1>Links to other data portals</h1>
           <ul class="navbar">
                <table>
                    <tr><td>
                    <a href="http://www.raws.dri.edu/index.html" class="trigger" target="_blank"><img class="logo" src="{{MEDIA_URL}}img/RAWSLogo.gif">&nbsp;&nbsp;<u>Access to sub-daily RAWS data via the USA Climate Archive by WRCC</u></a>&nbsp;&nbsp;
                    <div class="pop-up">
                        <p><font size="4">Summaries, Graphs, and other products for RAWS
                        (Remote Automatic Weather Stations).</font></p>
                    </div>
                    </td></tr>
                    <tr><td>
                    <a href="http://his.cuahsi.org/" class="trigger" target="_blank"><img class="logo" src="{{MEDIA_URL}}img/CUAHSILogo.gif">&nbsp;&nbsp;<u>CUAHSI Hydrologic Information System (HIS)</u></a>&nbsp;&nbsp;
                    <div class="pop-up">
                        <p><font size="4">An internet-based system for sharing hydrologic data. It is comprised of databases and servers, connected through web services, to client applications, allowing for the publication, discovery and access of data.</font></p>
                    </div>
                    </td></tr>
                    <tr><td>
                    <a href="http://cida.usgs.gov/climate/gdp/" class="trigger" target="_blank"><img class="logo" src="{{MEDIA_URL}}img/USGSLogo.png">&nbsp;&nbsp;<u>USGS Geo Data Portal</u></a>&nbsp;&nbsp;
                    <div class="pop-up">
                        <p><font size="4">Access to downscaled climate projections developed in cooperation with the U.S. Geological Survey National Climate Change Wildlife Science Center.</font></p>
                    </div>
                    </td></tr>
                </table>
            </ul>
    </div>


    <div class="major-right">

        <!--
        <p class="pop_link" align="center" onClick="ShowHide('Docu_ACIS')"><img class="logo"         
        src="{{MEDIA_URL}}img/ACIS-logo.png"><u>Click here to see/hide what's in ACIS?</u></p>
        <div id="Docu_ACIS" style="display:none;"></div>
            <script type="text/javascript">                        
            $("#Docu_ACIS").load("{{MEDIA_URL}}html/commons.html #Docu_ACIS");
            </script>
        -->

        <table class="dash" cellspacing="10px">
            <!--Headers-->
            <th><font size="5"><a href="{{TOOLS_URL}}station/station_finder/"><b>Station Finder</b></a></th>
            <th><font size="5"><a href="{{DATA_URL}}station/"><b>Historic Station Data Lister</b></a></th>
            <th><font size="5"><a href="{{DATA_URL}}gridded/"><b>Gridded/Modeled Data Lister</b></a></th>
            <!--First row of dashboard: Description-->
            <tr>
                <td class="error">Find a station</td>
                <td class="error">Find and download station data</td>
                <td class="error">Find and download gridded/modeled data</td>
            </tr>
            <!--Second row of dashboard: image-->
            <tr>
                <td><a href="{{TOOLS_URL}}station/station_finder/"><img class="dash_img" src="{{MEDIA_URL}}img/StationFinder.png"></a></td>
                <td><a href="{{DATA_URL}}station/"><img class="dash_img" src="{{MEDIA_URL}}img/Station.png"></a></td>
                <td><a href="{{DATA_URL}}gridded/"><img class="dash_img" src="{{MEDIA_URL}}img/ClimateModel2.png"></a></td>
            </tr>
            <!--Third+ rows: list of content-->
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#Network_ID_Systems"><font class="brown"><b>Network ID Systems</b><font></a></td>
                <td><h3 class="brown">Available Element<br />Time Resolution</h3></td>
                <td><h3 class="brown">Dataset Information</h3></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#COOP">COOP</a></td>
                <td><b>Maximum Temperature</b><br />Daily, Monthly(PRISM), Yearly(PRISM)</td>
                <td><p class="popup_map" href="/csc/media/html/gridded_datasets_docu.html#NRCC_INT"><u>NRCC Interpolated/Hi-Res</u></p></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#GHCN">GHCN</a></td>
                <td><b>Minimum Temperature</b><br />Daily, Monthly(PRISM), Yearly(PRISM)</td>
                <td><p class="popup_map" href="/csc/media/html/gridded_datasets_docu.html#PRISM"><u>PRISM</u></p></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#ICAO">ICAO</a></td>
                <td><b>Average Temperature</b><br />Daily</td>
                <td><p class="popup_map" href="/csc/media/html/gridded_datasets_docu.html#CRCM"><u>CRCM</u></p></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#NWSLI">NWSLI</a></td>
                <td><b>Observation Time Temperature</b><br />Daily</td>
                <td><p class="popup_map" href="/csc/media/html/gridded_datasets_docu.html#HRMS"><u>HRM3</u></p></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#FAA">FAA</a></td>
                <td><b>Precipitation</b><br />Daily, Monthly(PRISM), Yearly(PRISM)</td>
                <td><p class="popup_map" href="/csc/media/html/gridded_datasets_docu.html#RCM3"><u>RCM3</u></p></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#WMO">WMO</a></td>
                <td><b>Snowfall</b><br />Daily</td>
                <td><p class="popup_map" href="/csc/media/html/gridded_datasets_docu.html#WRFG"><u>WRFG</u></p></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#WBAN">WBAN</a></td>
                <td><b>Snowdepth</b><br />Daily</td>
                <td><a class="popup_map" href="http://www.earthsystemgrid.org/dataset/narccap.wrfg.output.html">NARCCAP WRFG</a></td>
            </tr>
            <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#CoCoRaHS">CoCoRaHS</a></td>
                <td><b>Heating Degree Days</b><br />Daily</td>
                <td></td>
            </tr>
           <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#RCC">RCC</a></td>
                <td><b>Cooling Degree Days</b><br />Daily</td>
                <td></td>
            </tr>
           <tr>
                <td><a class="popup_map" href="/csc/media/html/stn_id_system_docu.html#ThreadEx">ThreadEx</a></td>
                <td><b>Growing Degree Days</b><br />Daily</td>
                <td></td>
            </tr>
          <tr> 
                <td></td>
                <td><b>Dewpoint</b><br />Monthly(PRISM), Yearly(PRISM)</td>
                <td></td>
            </tr>
            </table>
            <!--
            <tr><td colspan="3">
                 <div id="footer" align="center"></div>
                    <script type="text/javascript">                        
                    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-sw-ckn");
                  </script>
            </td></tr>
            -->
  </div>

</div>    

{%endblock%}
