<!DOCTYPE html>
<html>  
    <head>
        <title>DATA</title> 
        <link type="text/css" href="{{ MEDIA_URL }}css/csc-style.css" rel="stylesheet"></link>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
        {% load my_filters %}
    </head>

    <body>
        <div class="header">
            <img class="logo" src="{{ MEDIA_URL }}img/SW-CSC-LOGO.png">
            <img class="nature" src="{{ MEDIA_URL }}img/anza.jpg">
            <div id="title"></div>
                <script>$("#title").load("{{MEDIA_URL}}html/csc_base.html .header");</script>
        </div>

        <div id="bcrumbs"></div>
           <script>$("#bcrumbs").load("{{MEDIA_URL}}html/csc_base.html .breadcrumbs");</script>
        
        <h1 align="center">DATA ACCESS</h1>
            
        <div class="footer">
            <p>Powered by <img src="{{MEDIA_URL}}img/Acis-logo.jpg" alt="Acis" width="90" height="30"></p>
        </div>

        <div class="container">
            <div class="center-left">
                <p>Point Data</p>    
                <div id='form0'>
                    <table border=0 align="right">
                    <form method="post" action="">{% csrf_token %}
                    <table class="sortable">{{ form0_point|safe }}</table>
                    <input type="submit" value="Submit" name="form0_point"/>
                    </form>
                    </table>
                </div>
            
                {%if form1_point_ready%}
                    <div id="form1">
                        <table border=0 align="right">
                        <form method="post" action="">{% csrf_token %}
                        <table>{{ form1_point|safe }}</table>
                        <input type="submit" value="Submit" name="form1_point"/>
                        </form>
                        </table>
                    </div>
                    </br>
                    </br>
                {%endif%}
            </div>
            

            <div class="center-right">
                <p>Gridded Data</p>
                <div id='form2'>
                    <table border=0 align="right">
                    <form method="post" action="">{% csrf_token %}
                    <table class="sortable">{{ form0_grid|safe }}</table>
                    <input type="submit" value="Submit" name="form0_grid"/>
                    </form>
                    </table>
                </div>

                {%if form1_grid_ready%}
                    <div id="form1">
                        <table border=0 align="right">
                        <form method="post" action="">{% csrf_token %}
                        <table>{{ form1_grid|safe }}</table>
                        <input type="submit" value="Submit" name="form1_grid"/>
                        </form>
                        </table>
                    </div>
                    </br>
                    </br>
                {%endif%}
            </div>

            <div class="center">
                {%if point_data%}
                {%if not json%}
                    {%for stn, stn_data in point_data.items %}
                        <h2>STATION NAME: {{station_names|lookup:stn|safe}}&nbsp;&nbsp;&nbsp;STATION ID: {{station_ids|lookup:stn|safe}}</h2>
                        <table>
                        <th>date{{delimiter}}{%for el in elements%}{{el}}{{delimiter}}{%endfor%}</th>
                        {%for date_vals in stn_data%}
                            <tr>
                            <td>{{dates|lookup:forloop.counter|safe}}{{delimiter}}
                            {%for el_val in date_vals%}{{el_val}}{{delimiter}}{%endfor%}</td>
                            </tr>
                        {%endfor%}
                        </table>
                    {%endfor%}
                {%else%}
                    {%for stn, stn_data in data.items %}
                        <h2>STATION NAME: {{station_names|lookup:stn|safe}}&nbsp;&nbsp;&nbsp;STATION ID: {{station_ids|lookup:stn|safe}}</h2>
                    {{point_data}}
                    {%endfor%}
                {%endif%}
                {%endif%}


                {%if grid_data%}
                {%if not json%}
                    <h2>{%for item in file_info%}{{item}}&nbsp;{%endfor%}</h2>
                    <p>date{{delimiter}}lat{{delimiter}}lon{{delimiter}}elev{{delimiter}}{%for el in elements%}{{el}}{{delimiter}}{%endfor%}</p>
                    {%for date_idx, date_vals in grid_data.items%}
                    {%for val in date_vals%}
                    {{val}}{{delimiter}}
                    {%endfor%}<br/>
                    {%endfor%}
                {%else%}
                    <p>date,lat,lon,elev,
                    {%for el in elements%}{{el}},{%endfor%}</p>
                    {{grid_data}}
                {%endif%}
                {%else%}
                <img src="{{MEDIA_URL}}img/Acis_Element_Choices.png" width="500" height="500" style="float:center;">
                {%endif%}
            </div>

        </div>

  </body>
</html>
