{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SW-CKN Data Portal Home">

{% block content %} 

<p align="center">You are here 
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{DATA_URL}}">DATA PORTAL></a>
<a href="{{DATA_URL}}">SW NETWORKS</a></p>
<div class="container">
    <table  align="center" cellspacing="100px">
    <td valign="top">
        <a href="http://www.cemp.dri.edu/"><img alt="Cemp" src="http://www.wrcc.dri.edu/media/img/Cemplogo.gif" height="35" width="50"> Community Environmental Monitoring Program</a>
        <br>CEMP - Data Monitoring Stations surrounding the NV test site.<br /><br />
        <a href="http://www.wrcc.dri.edu/nrel/"><img alt="Icon" src="http://www.wrcc.dri.edu/media/img/compass.gif" height="40"> Wind Energy Assesment for Nevada</a> 
        <br> Nevada Wind Study Towers<br /><br />
        <a href="http://www.raws.dri.edu/index.html"><img alt="RAWS" src="http://www.wrcc.dri.edu/media/img/raws7.gif" height="35" width="50"> RAWS Data (Remote Automated Weather Stations)</a> 
        <br>Summaries, Graphs, and other products for RAWS.<br /><br />
        <a href="http://www.wrcc.dri.edu/weather/index.html"><img alt="WDP" src="http://www.wrcc.dri.edu/media/img/plot.gif"  height="35" width="50"> Current Weather Data Plots</a>
        <br> Current Data Plots<br /><br /> 
        <a href="http://nicenet.dri.edu/"><img alt="NICE_Net" src="http://www.wrcc.dri.edu/media/img/nicenet_icon.gif"  height="54" width="50"> NICE Net</a> 
        <br>Nevada Integrated Climate and Evapotranspiration Network.<br /><br />
         <a href="http://www.ymp.dri.edu/index.html"><img alt="YMCDP" src="http://www.wrcc.dri.edu/media/img/ymplogo.jpg"  height="30" width="50"> Yucca Mountain Climate Data Project</a> 
        <br> Climate Data from Yucca Mountain, Nevada.<br /><br />
        <a href="http://www.wrcc.dri.edu/catalina/"><img alt="SCICN" src="http://www.wrcc.dri.edu/media/img/ConservancyLogo.gif"  height="50" width="50"> Santa Catalina Island Climate Network</a><br /><br />
        <a href="http://www.cefa.dri.edu/Westmap/" rel="external"><img alt="WestMap" src="http://www.wrcc.dri.edu/media/img/stateppt.thb.png"  height="47" width="50"> Westmap Climate Project</a>
        <br>The Western Climate Mapping Initiative<br /><br />
        <a href="http://www.wrcc.dri.edu/crn"><img alt="NOAA_CRF" src="http://www.wrcc.dri.edu/media/img/CRN_logo.gif" height="50" width="50"> NOAA U.S. Climate Reference Network</a><br /><br />
        <a href="http://www.tahoeclim.dri.edu/"><img alt="TahoeClim" src="http://www.wrcc.dri.edu/media/img/tahoeclim_small.jpg" width="50"> TahoeClim</a>
        <br>Lake Tahoe Climate Information and Data<br /><br />
    </td>

    <td valign="top">
        <a href="http://www.washoeet.dri.edu/index.html"><img alt="WEP" src="http://www.wrcc.dri.edu/media/img/wetlogo.jpg" height="35" width="50">Washoe Evapotranspiration Project</a>
        <br>Weather Stations that Monitor Evapotranspiration Rates.<br /><br />
        <a href="/snotel-latest/"><img alt="Snotel" src="http://www.wrcc.dri.edu/media/img/nrcslogo.gif" height="35" width="35"> Snotel Data</a>
        <br>Listings, Narratives, Maps and Station Conditions<br /><br />
        <a href="http://www.wrcc.dri.edu/NPS.html"><img alt="NP_RAWS" src="http://www.wrcc.dri.edu/media/img/npssmall.gif" height="38" width="35"> National Parks RAWS page</a> 
        <br>RAWS Projects in the National Parks<br /><br />
        <a href="http://www.wrcc.dri.edu/CoCoRaHS/CoCoRaHS_Banner.html"><img alt="CoCORaHS" src="http://www.wrcc.dri.edu/media/img/cocorahs_logo_sm.gif"  height="47" width="50"> CoCoRaHS - Community Collaborative Rain, Hail and Snow Network</a><br><br />
        <a href="http://www.wrcc.dri.edu/cwd/products/"><img alt="FLT" src="http://www.wrcc.dri.edu/media/img/NAFLT_logo2.png"> North American Freezing Level Tracker</a>
        <br>Track through time the height of the freezing level above sea level.<br /><br />
        <a href="http://www.wrcc.dri.edu/vallescaldera/"><img alt="VCCN" src="http://www.wrcc.dri.edu/media/img/VallesCalderaLogo.gif" height="50">Valles Caldera Climate Network</a><br /><br />
        <a href="http://www.calclim.dri.edu/"><img alt="CA icon" src="http://www.wrcc.dri.edu/media/img/anomimage_ca_small.gif" height="47"> California Climate Data Archive</a>
       <br>California Climate Information and Data (Scripps and CEC)<br /><br />
    </td>
    </table>
</div>    

{%endblock%}
