{% extends "csc_base.html" %}

<meta name="keywords" content="data, historic station data, gridded data, modeled data, data portal, acis">
<meta name="description" content="Multi Point Products">


{%block content %}

<!--Documentation-->
<div title="Data Lister" class="docu" id="Docu_app_multi_lister" style="display:none;">
    {% include 'includes/Docu_app_multi_lister.html'%}
</div>
<div title="Temporal Summary" class="docu" id="Docu_app_temporal_summary" style="display:none;">
    {% include 'includes/Docu_app_temporal_summary.html'%}
</div>
<div title="Spatial Summary" class="docu" id="Docu_app_spatial_summary" style="display:none;">
    {% include 'includes/Docu_app_spatial_summary.html'%}
</div>

<div class="row row-height" id="row1">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-height">
        <div class="main-col bg-info inside inside-full-height">
        <h3 align="center">
            <a href="{{DATA_URL}}climate_data/multi/lister/{{url_params_multi_lister}}"><b>Data Lister</b></a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_multi_lister')"><br />
            <small align="left">{% include 'includes/Docu_popup_multi_lister.html'%}</small>
        </h3>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-height">
        <div class="main-col bg-info inside inside-full-height">
        <h3 align="center">
            <a href="{{DATA_URL}}climate_data/multi/spatial_summary/{{url_params_spatial_summary}}"><b>Spatial Summaries</b></a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_spatial_summary')"><br />
            <small align="left">{% include 'includes/Docu_popup_spatial_summary.html'%}</small>
        </h3>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-height">
       <div class="main-col bg-info inside inside-full-height">
       <h3 align="center"> 
            <a href="{{DATA_URL}}climate_data/multi/temporal_summary/{{url_params_temporal_summary}}"><b>Temporal Summaries</b></a>
            <img alt="Click me!" title="More Info" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_app_temporal_summary')"><br />
            <small align="left">{% include 'includes/Docu_popup_temporal_summary.html'%}</small>
        </h3>
        </div>
    </div>
</div><!--End row 1-->

{%endblock content%}
