{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, station data,time series, graph">
<meta name="description" content="SCENIC Spatial Summary">

{%load my_scenic_filters%}

{% block content %} 
<!--Hidden variables-->
<input type="hidden" id="app_name" name="app_name" value="{{app_name}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{initial.kml_file_path}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">

<!--Set up autofill-->

<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>


<!--Documentation-->
<div id="tool_info" style="display:none;">
    {% include 'includes/Docu_app_monthly_spatial_summary.html'%}
</div>
<div id="how_to" style="display:none;">
    <div id="Docu_grids">{% include 'includes/Docu_grids_historic.html'%}</div>
    <div id="Docu_analysis_year">{% include 'includes/Docu_year.html'%}</div>
    <div id="Docu_season">{% include 'includes/Docu_season.html'%}</div>
    <div id="Docu_state">{% include 'includes/Docu_state.html'%}</div> 
    <div id="Docu_reduce">{% include 'includes/Docu_area_reduce.html'%}</div>
    <div id="Docu_area_statistic">{% include 'includes/Docu_area_statistic.html'%}</div>
    <div id="Docu_variable">{% include 'includes/Docu_variable.html'%}</div>
    <div id="Docu_units">{% include 'includes/Docu_units.html'%}</div>
    <div id="Docu_temporal_summary">{% include 'includes/Docu_temporal-summary.html'%}</div> 
</div>

<!--Button row-->
{% include 'includes/button-row.html'%}

<!--Form-->
<!--
{% if not results.graph_data and not results.smry%}
    <table id="top_of_page">
{%else%}
    <table id="top_of_page" style="display:none">
{%endif%}-->
<table id="top_of_page">
<td valign="top"  width="40%">
    <div id='formData'>
        <form method="post" id="MonthlySpatialSummaryDataForm" action="" onsubmit="show_loading();">{% csrf_token %}
        <table class="form" id="tableData" >
        <tr class="grid" id="grid_type" style="display:table-row;">{% include 'includes/grids_historic.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/year.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/season.html'%}</tr>
        <tr class="station_grid" style="display:none">{% include 'includes/area-type.html'%}</tr>
        <tr class="station_grid" style="display:table-row;" id="area" valign="bottom">{% include 'includes/area.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/area_reduce.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/area_statistic.html'%}</tr>
        <tr class="station_grid" style="display:table-row">{% include 'includes/variable.html'%}</tr>
        <tr class="station_grid" style="display:table-row;">{% include 'includes/units.html'%}</tr>
        <tr id="temp_summary" style="display:table-row">{% include 'includes/temporal-summary.html'%}</tr>
        <tr style="display:none;">{% include 'includes/data_format.html'%}</tr>
        <tr style="display:none;">{% include 'includes/delimiter.html'%}</tr>
        <tr style="display:none;">{% include 'includes/out_file.html'%}</tr>
        <tr style="display:none;" class="un">{% include 'includes/user-name.html'%}</tr>
        <tr style="display:none;" class="ue">{% include 'includes/user-email.html'%}</tr>
        </table>
        <input type="hidden" name="app_name" value="monthly_spatial_summary">
        <!--Hidden chart vars-->
        <input class="mainFormSubmit" type="submit" value="Generate Monthly Data" name="formData">
        </form>
    </div><!--end div formData-->
</td>
<!--Large Request Form/Errors/Down Arrow/Maps-->
<td valign="top" width="60%">
    <!--Form error-->
    <div class="results">
    {%if form_error%}
        {% include 'includes/form_error.html'%}
    {%endif%}
    <!--Request error-->
    {%if results.error%}
    <div class="results"><p class="error">{{results.error}}</p></div>
    {%endif%}
    <!--Parameter or request error--> 
    {%if  run_done and  not results.graph_data and not results.smry %}
        {% include 'includes/no_results.html'%}
    {%endif%}
    </div>
</td></table>

<!--Results-->
<table cellpadding="10" align="center">
<td valign="top" width="97%" align="center">
    <!--Results-->
    <!--Print and download buttons-->
    <div class="results">
    {%if  run_done and not results.data and not results.smry %}
        {% include 'includes/no_results.html'%}
    {%endif%}

    <!--Data-->
    {% if not results.error and results.smry %}
        <div id="main-table">
        <!--Paramaters and Data list-->
        <table cellpadding="5px">
        <td valign="top" style="max-width:400px">
        <div class="dataTableInfo" id="dataTableInfo-0">
        {%for key_val in params_display_list%}
        <b>{{key_val.0}}</b>: {{key_val.1}};
        {%endfor%}
        </div><br/>
        </td>
        </table>

        <!--Data List-->
        <table border="1" class="dataTable smallFont nowrap" id="dataTable-0" width="100%">
        {%for data in results.smry%}
        {%if forloop.counter0 == 0%}
            <thead>
            <tr>{%for d in data%}<th>{{d}}</th>{%endfor%}</tr>
            </thead>
            <tfoot>
            <tr>{%for d in data%}<th>{{d}}</th>{%endfor%}</tr>
            </tfoot>
            <tbody>
        {%else%}
            <tr>{%for d in data%}<td>{{d}}</td>{%endfor%}</tr>
        {%endif%}
        {%endfor%}
        </tbody>
        </table>
        </div> <!--end printable table-->
    {%endif%}
    </div><!--End div results-->
</td></table>
{%endblock%}
