{% extends "csc_base.html" %}

<meta name="keywords" content="data, gridded data, modeled data, acis">
<meta name="description" content="SW-CKN Gridded and Modeled Data">
{%load my_data_filters%}

{% block content %} 

<p align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{DATA_URL}}">DATA PORTAL></a>
<a href="{{DATA_URL}}gridded/">Modeled/Gridded Data</a></p>

<div class="container">
    <div class="major-left">
        {%if not form3_grid_ready %}
        {%if not hide_form_0 %}
        <div id='form0'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form0_grid %}
                <tr>
                    <td>{{field.label}}:</td>
                    <td>{{field}}</td>
                    <td><p class="trigger"><img src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                    {%ifequal field.label "Elements" %}
                    <div class="pop-up">
                        {%if temporal_resolution == "dly"%}
                            <img src="{{MEDIA_URL}}img/ACIS_Element_Choices_Grid.png" id="ACISElementChoices" width="450" height="450" border="0">
                        {%else%}
                            <img src="{{MEDIA_URL}}img/ACIS_Element_Choices_PRISM.png" id="ACISElementChoices" width="450" height="450" border="0">
                        {%endif%}
                    </div>
                    {%else%}
                        <div class="pop-up"><p>{{field.help_text}}</p></div>
                    {%endifequal%}
                    </td>
                </tr>
                {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>   
                {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Select" name="form0_grid"/>
            </form>
        </div>
        {%endif%}

        {%if form1_grid_ready%}
        <div id="form1">
                <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form1_grid %}
            {%if field.is_hidden %}
                {{field}}
            {%else%}
                <tr>
                    <td>{{field.label}}:</td>
                    {%if field.label == "Location" %}
                        {%if not map_loc %}
                            <td><input type="text" name="location" id="location" value="{{location}}"></td>
                        {%else%}
                            <td><input type="text" name="location" id="location" value="{{map_loc}}"></td>
                        {%endif%}
                        {%if need_map%}
                            <p class="error">Drag map marker to change location</p>
                        {%endif%}
                    {%elif field.label == "Bounding box" and bounding_box %}
                        <td><input type="text" name="bounding_box" id="bounding_box" value="{{bounding_box}}"></td>
                    {%else%}
                        <td>{{field}}</td>
                    {%endif%}
                    <td><p class="trigger"><img src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                    {%ifequal field.label "Elements" %}
                        <div class="pop-up">
                        {%if prism_flag%}
                        <img src="{{MEDIA_URL}}img/ACIS_Element_Choices_PRISM.png" id="ACISElementChoices" width="450" height="150" border="0">
                        {%else%}
                        <img src="{{MEDIA_URL}}img/ACIS_Element_Choices_Grid.png" id="ACISElementChoices" width="450" height="450" border="0">
                        {%endif%}
                        </div>
                    {%else%}
                        {%if field.label == "Grid"%}
                            <div class="pop-up">
                            <img src="{{MEDIA_URL}}img/gridded_datasets_docu.png" id="gridded_datasets_docu.png" width="450" height="600" border="0">
                            </div>
                        {%else%}
                            <div class="pop-up"><p>{{field.help_text}}</p></div>
                        {%endif%}
                            <div class="pop-up"><p>{{field.help_text}}</p></div>
                    {%endifequal%}
                    </td>
                </tr>
                {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>
                {%endif%}
            {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form1_grid"/>
            </form>
        </div>
        </br>
        </br>
        {%endif%}
        {%endif%}

        {%if need_map and  grid_data%}
            <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
            <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
            <input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
            <input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
            <input type="hidden" id="lat" name="lat" value={{lat}}>
            <input type="hidden" id="lon" name="lon" value={{lon}}>
            <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
            <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
            <input type="hidden" id="zoom_level" name="zoom_level" value="5">
            <input type="hidden" id="app" name="app" value="grid_data">
            <div id="map" style="width: 100%; height:400px;"></div>
            <script type="text/javascript">
                initialize_grid_point_map()
            </script>
        {%endif%}

        {%if need_map_bbox  and grid_data %}
            <p class="error">Click and drag to define your Bounding Box!</p>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
            <div id="map" style="width: 100%; height:400px;"></div>
            <script type="text/javascript">
                initialize_bbox_map()
            </script>
        {%endif%}
    </div>

    <div class="major-right" style="background-color:X^H#947e6e; border:none;">
        <!--
        <p class="pop_link" align="left" onClick="ShowHide('Docu_ACIS')"><img class="logo"         
        src="{{MEDIA_URL}}img/ACISLogo.png"><u>Click here to see/hide what's in ACIS</u></p>
        <div id="Docu_ACIS" style="display:none;"></div>
            <script type="text/javascript">                        
            $("#Docu_ACIS").load("{{MEDIA_URL}}html/commons.html #Docu_ACIS");
            </script>
        -->
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
        </script>
        <div class="docu" id="tool_info" style="display:none;">
            <p class="error">What is it?</p>
            <h3>Modeled/Gridded Data access point to the ACIS system.</h3>
            <p class="error">What datasets are available?</p>
            <a target="_blank" href="https://gist.github.com/bnoon/4197956">NRCC Interpolated/Hi-Res</a><br />
            <a class="popup_map" href="http://www.prism.oregonstate.edu/">PRISM</a><br />
            <p>NARCCAP(North American Regional Climate Change Assessment Program) Datasets:</p>
            <a class="popup_map" target="_blank" href="http://www.earthsystemgrid.org/dataset/narccap.crcm.output.html">CRCM</a><br />
            <a class="popup_map" href="http://www.earthsystemgrid.org/dataset/narccap.hrm3.output.html">HRM3</a><br />
            <a class="popup_map" href="http://www.earthsystemgrid.org/dataset/narccap.mm5i.output.html">MM5I</a><br />
            <a class="popup_map" href="http://www.earthsystemgrid.org/dataset/narccap.rcm3.output.html">RCM3</a><br />
            <a class="popup_map" href="http://www.earthsystemgrid.org/dataset/narccap.wrfg.output.html">WRFG</a>
            <p class="error">What can you do with this tool?</p>
            <h3>Access and download data</h3>
            <p>Available Data Formats: .xls, .dat, .txt, html(prints to screen)</p>
            <p>Queries can be performed for single or multiple grid_points at a time.</p>
            <a target="_blank" href="http://rcc-acis.unl.edu/index.php">ACIS Home Page</a>
            <p>For more information on ACIS gridded data sets NRCC interpolated, NRCC Hi-Res:</p>
            &nbsp;&nbsp;&nbsp;<a href="https://gist.github.com/4197956">GridACIS grids 1 and 3</a>
            <p>For more information and direct access to NARCCAP gridded data sets:</p>
            &nbsp;&nbsp;&nbsp;<a href="http://www.earthsystemgrid.org/project/narccap.html">NARCCAP data page</a>
        </div>


        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;">
            <p>Choose a single gridpoint, a US state or a bounding box as your search area.</p>
            <p>Hit "Select". A second form will appear.</p>
            <p><b>"Point Location"</b>:<br />Enter the grid point latitude and longitude if you know it or use the map interface by dragging the marker to the desired location.</p>
            <p><b>"State"</b>:<br />Choose a state from the drop down menue.</p>
             <p><b>"Bounding Box"</b>:<br />HANG IN THERE! A map interface to help you find your bounding box is in the works. For now, unfortunately, you will need to knoww your coordinates and enter them manually. <img class="icon" src="{{MEDIA_URL}}img/SadFace.png"></p>
            <p>Enter one or more elements as a comma separated list.</p>
            <p>Choose a start and end date.</p>
            <p class="pop_link" onClick="ShowHide('element_choices')"><u>See the list of element choices</u></p>
            <div id="element_choices" style="display:none"><img width="250px" height="300px" src={{MEDIA_URL}}img/ACIS_Element_Choices_Grid.png></div>
            <p>Choose a data set from the drop down menue.</p>
            <p>Choose a data format. .xls, .dat, .txt files will be downloaded on the user's machine.
            html format is displayed on the webpage directly.</p>
            <p>The delimiter choice defines the separation of the data values.</p>
        </div>
        <br />    
        <p><font color="#FF007F">Search Parameters:</font><br />

        {%if location %}
            <p><b>Lat, Lon</b>: {{location}}</p>
        {%endif%}
        {%if state%}
            <p><b>State</b>: {{state}}</p>
        {%endif%}
        {%if bbox and not grid_data%}
            <p><b>Bounding Box</b>: {{bbox}}</p>
        {%endif%}
        <p><b>Temmporal resolution</b>: {{temporal_resolution}}</p>
        <p><b>Data Summary</b>: {{data_summary}}</p>
        <p><b>Elements</b>: {{elements}}</p>
        {%if start_date %}
            <p><b>Start Date</b>: {{start_date}}</p>
        {%endif%}
        {%if end_date%}
            <p><b>End Date</b>: {{end_date}}</p>
        {%endif%}

        {%if error%}
            <p class="error">Error: {{error}} </p>
        {%endif%}


       {%if large_request%}
            <p class="error">{{large_request}}</p>
        {%endif%}

       {%if user_info%}
            <p class="error">{{user_info}}</p>
        {%endif%}
        
        {% if form3_grid_ready and not hide_form3%}
            <div id='form3'>
                <form method="post" action="">{% csrf_token %}
                <table class="form">
                {%for field in form3_grid%}
                {%if field.is_hidden%}
                    {{field}}
                {%else%}
                        <tr>
                        <td>{{field.label}}:</td>
                        <td>{{field}}</td>
                        <td><p class="trigger"><img src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                        <div class="pop-up"><p>{{field.help_text}}</p></div>
                        </td>
                    </tr>
                    {%if field.errors %}
                        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
                    {%endif%}
                {%endif%}
                {%endfor%}
                </table>
                <input type="submit" value="Submit" name="form3_grid"/>
                </form>
            </div>
        {%endif%}

        {{cleaned}}

        {%if grid_data %}
        <h3 class="error">Results:</h3>
            <!--Link to relevant applications-->
            {%if link_to_clim_sum_map and not figure_files%}
                {%if state%}
                    <a target="_blank" href="{{TOOLS_URL}}gridded/clim_sum_maps/?start_date={{start_date}}&end_date={{end_date}}&element={{element}}&grid={{grid}}&state={{state}}">Generate a climate summary map  for this data set here!</a>
                {%endif%}
                {%if bounding_box%}                    
                    <a target="_blank" href="{{TOOLS_URL}}gridded/clim_sum_maps/?start_date={{start_date}}&end_date={{end_date}}&element={{element}}&grid={{grid}}&bounding_box={{bounding_box}}&">Generate a climate summary map  for this data set here!</a>
                {%endif%}
            {%endif%}
            <br />
            {%if link_to_gp_ts %}
                 <a target="_blank" href="{{TOOLS_URL}}gridded/grid_point_time_series/?lat={{lat}}&lon={{lon}}&start_date={{start_date}}&end_date={{end_date}}&element={{element}}&grid={{grid}}">Generate a time series for this data set here!</a>
            {%endif%}            
            <br />
            {%if figure_files%}
                <p class="error" onClick="ShowHide('data')"><u>Click here to see/hide the raw data</u></p>
                <div id="data" style="display:none;">
            {%endif%}

                <h2>{%for item in file_info%}{{item}}&nbsp;{%endfor%}</h2>
                {%if not json%}
                    <p>date range{{delimiter}}lat{{delimiter}}lon{{delimiter}}elev{{delimiter}}{%for el in elements%}{{el}}{{delimiter}}{%endfor%}</p>
                    {%for row in grid_data%}
                        {%for val  in row%}
                            {{val}}{{delimiter}}
                        {%endfor%}<br />
                    {%endfor%}
                {%else%}
                    <p>date,lat,lon,elev,{%for el in elements%}{{el}},{%endfor%}</p>
                    {{grid_data}}
                {%endif%}
            {%endif%}

        {%if figure_files%}
            </div><!--End div data-->
            {%for figure_file in figure_files%}
                {%if state %}
                    <p><b>State: </b>{{state}}</p>
                {%endif%}
                {%if bounding_box %}
                    <p><b>Bounding Box: </b>{{bounding_box}}</p>
                {%endif%}
                <p><b>Element: </b>{{elems_long|lookup:forloop.counter0}}</p>
                <p><b>Time Period: </b>{{start_date}} <b> to </b>{{end_date}}</p>
                <img width="400px" height="400px" src="{{MEDIA_URL}}tmp/{{figure_file}}"><br /><br />
            {%endfor%}
        {%endif%}
    <br />
    {%if need_map and not grid_data%}
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
        <input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
        <input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
        <input type="hidden" id="lat" name="lat" value={{lat}}>
        <input type="hidden" id="lon" name="lon" value={{lon}}>
        <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
        <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        <input type="hidden" id="zoom_level" name="zoom_level" value="5">
        <input type="hidden" id="app" name="app" value="grid_data">
        <div id="map" style="width: 100%; height:400px;"></div>
        <script type="text/javascript">
            initialize_grid_point_map()
        </script>
    {%endif%}

    {%if need_map_bbox  and  not grid_data %}
        <p class="error">Click and drag to define your Bounding Box!</p>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <div id="map" style="width: 100%; height:400px;"></div>
        <script type="text/javascript">
            initialize_bbox_map()
        </script>
    {%endif%}

  <!-- Footer -->
<!--
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-sw-ckn");
    </script>
  </div>
-->
</div>

{%endblock%}
