{% extends "csc_base.html" %}

<meta name="keywords" content="data, gridded data, modeled data, acis">
<meta name="description" content="SW-CKN Gridded and Modeled Data">
{%load my_data_filters%}

{% block content %} 

<p align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{DATA_URL}}">DATA></a>
<a href="{{DATA_URL}}gridded/">Modeled/Gridded Data</a></p>

    <table cellpadding="20">
    <td valign="top" width="40%">
        {%if not form2_ready %}
        {%if not hide_form0 %}
        <div id='form0'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form0 %}
                <tr>
                    <td>{{field.label}}:</td>
                    <td>{{field}}</td>
                    <td><p class="trigger"><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                    {%ifequal field.label "Elements" %}
                    <div class="pop-up">
                        {%if temporal_resolution == "dly"%}
                            <img alt="ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_Grid.png" id="ACISElementChoices" width="450" height="450" border="0">
                        {%else%}
                            <img alt="ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_PRISM.png" id="ACISElementChoices" width="450" height="450" border="0">
                        {%endif%}
                    </div>
                    {%else%}
                        <div class="pop-up"><p>{{field.help_text}}</p></div>
                    {%endifequal%}
                    </td>
                </tr>
                {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>   
                {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Select" name="form0"/>
            </form>
        </div>
        {%endif%}

        {%if form1_ready%}
        <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}gridded/'"/>

        <div id="form1">
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%if need_bbox_map or need_polymap or need_map or need_overlay_map%}
            <p class="error">Use the map interface to populate first field.</p>
            {%endif%}
            {%for field in form1 %}
            {%if field.is_hidden %}
                {{field}}
            {%else%}
                <tr>
                    <td>{{field.label}}:</td>
                    {%if field.label == "Location" %}
                        {%if not map_loc %}
                            <td><input type="text" name="location" id="location" value="{{location}}"></td>
                        {%else%}
                            <td><input type="text" name="location" id="location" value="{{map_loc}}"></td>
                        {%endif%}
                    {%elif field.label == "Shape" %}
                        <td><input type="text" name="shape" id="shape" value="{{shape}}"></td>
                    {%elif field.label == "Bounding box"%}
                        <td><input type="text" name="bounding_box" id="bbox" value="{{bbox}}"></td>
                    {%elif field.label == "County" %}
                        <td><input type="text" name="county" id="county" value="{{county}}"></td>
                    {%elif field.label == "Climate division" %}
                        <td><input type="text" name="climate_division" id="climdiv" value="{{climdiv}}"></td>
                    {%elif field.label == "Basin" %}
                        <td><input type="text" name="basin" id="basin" value="{{basin}}"></td>
                    {%elif field.label == "County warning area" %}
                        <td><input type="text" name="county_warning_area" id="cwa" value="{{cwa}}"></td>
                    {%else%}
                        <td>{{field}}</td>
                    {%endif%}
                    <td><p class="trigger"><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                    {%ifequal field.label "Elements" %}
                        <div class="pop-up">
                        {%if prism_flag%}
                        <img alt="ElementChoices" title="ElementChoices"  src="{{MEDIA_URL}}img/ACIS_Element_Choices_PRISM.png" id="ACISElementChoices" width="450" height="150" border="0">
                        {%else%}
                        <img alt="ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_Grid.png" id="ACISElementChoices" width="450" height="450" border="0">
                        {%endif%}
                        </div>
                    {%else%}
                        {%if field.label == "Grid"%}
                            <div class="pop-up">
                            <img alt="GriddedDataDocu" title="GriddedDataDocu" src="{{MEDIA_URL}}img/ACIS_Grids.png" id="ACIS_Grids" width="350" height="300" border="0">
                            </div>
                        {%else%}
                            <div class="pop-up"><p>{{field.help_text}}</p></div>
                        {%endif%}
                            <div class="pop-up"><p>{{field.help_text}}</p></div>
                    {%endifequal%}
                    </td>
                </tr>
                {%endif%}
                {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>
                {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form1"/>
            </form>
        </div>
        {%endif%}
        {%endif%}
        
        <br /><br />

        {%if need_map and  grid_data%}
            <p class="error">Drag map marker to change location</p>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
            <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
            <input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
            <input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
            <input type="hidden" id="lat" name="lat" value={{lat}}>
            <input type="hidden" id="lon" name="lon" value={{lon}}>
            <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
            <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
            <input type="hidden" id="zoom_level" name="zoom_level" value="5">
            <input type="hidden" id="app" name="app" value="grid_data">
            <div id="map" style="width: 100%; height:400px;"></div>
            <script type="text/javascript">
                initialize_grid_point_map()
            </script>
        {%endif%}

        {%if need_map_bbox  and grid_data %}
            <p class="error">Click and drag to define your Bounding Box!</p>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
            <div id="map" style="width: 100%; height:400px;"></div>
            <script type="text/javascript">
                initialize_bbox_map()
            </script>
        {%endif%}

        {%if need_polymap and grid_data%}
            <div id="panel">
                <div id="color-palette"></div>
                <div>
                    <button id="delete-button">Delete Selected Shape</button>
                </div>
            </div>
            <div id="polymap" style="width: 100%; height:400px;"></div>
            {%if lat and lon %}
                <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
                <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
            {%else%}
                <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
                <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
            {%endif%}
            <script type="text/javascript">
                initialize_polygon_map()
            </script>
        {%endif%}

        {%if need_overlay_map and grid_data%}
            <div id="form3">
            <form method="post" action="">{% csrf_token %}
            <table class="form">
                {%for field in form3 %}
                    <tr>
                    {%if not field.is_hidden %}
                       <td>{{field.label}}:</td><td>{{field}}</td>
                    {%else%}
                       <td style="display:none;">{{field.label}}</td><td style="display:none;">{{field}}</td>
                    {%endif%}
                    </tr>
                {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form3"/>
            </form>
            </div>
            <p class="error">{{overlay_error}}</p>
            <div id="map-overlay" style="width:100%; height:400px;"></div>
            <div id="content-window" style="width:100px; height:100px;"></div>
            <script type="text/javascript">initialize_map_overlays("{{type}}","{{host}}", "{{kml_file_path}}")</script>
        {%endif%}

    </td>
    <td valign="top" width="60%">
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
        </script>
        <div class="docu" id="tool_info" style="display:none;"></div>
        <script type="text/javascript">                        
            $("#tool_info").load("{{MEDIA_URL}}html/commons.html #About_gridded_data");
        </script>

        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;"></div>
        <script type="text/javascript">            
            $("#how_to").load("{{MEDIA_URL}}html/commons.html #Howto_gridded_data");
        </script>
        <br />    
        {%if error%}
            <p class="error">Error: {{error}} </p>
        {%endif%}


       {%if large_request%}
            <p class="error">{{large_request}}</p>
        {%endif%}

       {%if user_info%}
            <p class="error">{{user_info}}</p>
        {%endif%}
        
        {% if form2_ready%} 
            <input type="submit" value="Start Over" onclick="window.location='{{DATA_URL}}gridded/'"/>
            {% if not hide_form2%}
            <div id='form2'>
                <form method="post" action="">{% csrf_token %}
                <table class="form">
                {%for field in form2%}
                {%if field.is_hidden%}
                    {{field}}
                {%else%}
                        <tr>
                        <td>{{field.label}}:</td>
                        <td>{{field}}</td>
                        <td><p class="trigger"><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                        <div class="pop-up"><p>{{field.help_text}}</p></div>
                        </td>
                    </tr>
                    {%if field.errors %}
                        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
                    {%endif%}
                {%endif%}
                {%endfor%}
                </table>
                <input type="submit" value="Submit" name="form2"/>
                </form>
            </div>
            {%endif%}
        {%endif%}


        {%if display_params_list%}
            <p><b>SEARCH PARAMETERS</b>:<br />
            {%for param in display_params_list%}
                {%if not forloop.first and param.0 and param.1%}, {%endif%}
                    {%if forloop.counter|divisibleby:"3" %}<br />
                {%endif %}
                {%if param.0 == "Elements"%}<br />{%endif%}
                {%if param.0 and param.1%}
                    <b>{{param.0}}</b>:
                    {%if param.0 == "shape"%}
                        <p class="error" onClick="ShowHide('coords')"><u>Click here to see/hide coordinates</u></p>
                        <div id="coords" style="display:none;">{{param.1}}</div>
                    {%else%}
                        {{param.1}}
                    {%endif%}
                {%endif%}
            {%endfor%}
            </p>
        {%endif%}
  
        {%if grid_data %}
            <!--Link to relevant applications-->
            {%if params_dict.element and not figure_files%}
                {%if params_dict.state %}
                    <a target="_blank" href="{{TOOLS_URL}}gridded/clim_sum_maps/?start_date={{params_dict.start_date}}&end_date={{params_dict.end_date}}&element={{params_dict.element}}&grid={{params_dict.grid}}&state={{params_dict.state}}">Generate a climate summary map  for this data set here!</a>
                    <br />
                {%endif%}
                {%if params_dict.bbox%}                    
                    <a target="_blank" href="{{TOOLS_URL}}gridded/clim_sum_maps/?start_date={{params_dict.start_date}}&end_date={{params_dict.end_date}}&element={{params_dict.element}}&grid={{params_dict.grid}}&bounding_box={{params_dict.bbox}}&">Generate a climate summary map  for this data set here!</a>
                    <br />
                {%endif%}
                {%if params_dict.lat%}
                    <a target="_blank" href="{{TOOLS_URL}}gridded/grid_point_time_series/?lat={{params_dict.lat}}&lon={{params_dict.lon}}&start_date={{params_dict.start_date}}&end_date={{params_dict.end_date}}&element={{params_dict.element}}&grid={{params_dict.grid}}">Generate a time series for this data set here!</a>
                {%endif%}
            {%endif%}
            
            {%if figure_files%}
                <p class="error" onClick="ShowHide('data')"><u>Click here to see/hide the raw data</u></p>
                <div id="data" style="display:none;">
            {%endif%}

            <p><b>DATA</b>:</p>
            {{req}}
            <p>date range{{params_dict.delimiter}}lat{{params_dict.delimiter}}lon{{params_dict.delimiter}}elev{{params_dict.delimiter}}{%for el in elements%}{{el}}{{params_dict.delimiter}}{%endfor%}</p>
            {%for row in grid_data%}
                {%for val  in row%}
                    {{val}}{{params_dict.delimiter}}
                {%endfor%}<br />
            {%endfor%}
        {%endif%}<!--End if grid_data-->

        {%if figure_files%}
            </div><!--End div data-->
            {%for figure_file in figure_files%}
                <p><b>Element: </b>{{params_dict.elems_long|lookup:forloop.counter0}}</p>
                <img alt="FigureFile" title="FigureFile" width="400px" height="400px" src="{{MEDIA_URL}}tmp/{{figure_file}}"><br /><br />
            {%endfor%}
        {%endif%}



    {%if need_map and not grid_data%}
        <p class="error">Drag map marker to change location</p>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
        <input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
        <input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
        <input type="hidden" id="lat" name="lat" value={{lat}}>
        <input type="hidden" id="lon" name="lon" value={{lon}}>
        <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
        <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        <input type="hidden" id="zoom_level" name="zoom_level" value="5">
        <input type="hidden" id="app" name="app" value="grid_data">
        <div id="map" style="width: 100%; height:400px;"></div>
        <script type="text/javascript">
            initialize_grid_point_map()
        </script>
    {%endif%}

    {%if need_map_bbox  and  not grid_data %}
        <p class="error">Click and drag to define your Bounding Box!</p>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <div id="map" style="width: 100%; height:400px;"></div>
        <script type="text/javascript">
            initialize_bbox_map()
        </script>
    {%endif%}

    {%if need_polymap and not grid_data%}
        <div id="panel">
            <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
        <div id="polymap" style="width: 100%; height:400px;"></div>
        {%if lat and lon %}
            <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
            <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        {%else%}
            <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
            <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
        {%endif%}
        <script type="text/javascript">
            initialize_polygon_map()
        </script>
    {%endif%}

    {%if need_overlay_map and not grid_data%}
        <div id="form3">
            <form method="post" action="">{% csrf_token %}
            <table class="form">
                {%for field in form3 %}
                    <tr>
                    {%if not field.is_hidden %}
                       <td>{{field.label}}:</td><td>{{field}}</td>
                    {%else%}
                       <td style="display:none;">{{field.label}}</td><td style="display:none;">{{field}}</td>
                    {%endif%}
                    </tr>
                {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form3"/>
            </form>
        </div>
        <p class="error">{{overlay_error}}</p>
        <div id="map-overlay" style="width:100%; height:400px;"></div>
        <div id="content-window" style="width:100px; height:100px;"></div>
        <script type="text/javascript">initialize_map_overlays("{{type}}","{{host}}", "{{kml_file_path}}")</script>
    {%endif%}
    </td>
    </table>
  <!-- Footer -->
<!--
  <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-sw-ckn");
    </script>
  </div>
-->

{%endblock%}
