{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Climate Applications">

{% block content %}
    <!--
    <p align="center">You are here 
    <a href="{{HOME_URL}}">Home></a>
    <a href="{{TOOLS_URL}}">Data Analysis></a>
    <a href="{{TOOLS_GIS_URL}}">Geospatial Tools</a>
    -->
        <div class="center-left">
            <!-- Application documentation -->
            <div class="docu" id="Docu_ILAP" style="display:none;"></div>
                <script type="text/javascript">                        
                $("#Docu_ILAP").load("{{HTML_URL}}/Docu_External_Resources #Docu_ILAP.html");
                </script>
            <div class="docu" id="Docu_Data_Basin" style="display:none;"></div>
                <script type="text/javascript">                        
                $("#Docu_Data_Basin").load("{{HTML_URL}}/Docu_External_Resources #Docu_Data_Basin.html");
                </script>
           </div>
        </div>
        
        <div class="major-right">
        <h2 class="message" align="center">This page is under development! <img alt=Construction" title="Construction" src="{{MEDIA_URL}}img/Construction.png"></h2>
        </div>

        <div class="center-right">
           <h3>Links to external Geospatial Data Tools</h3>
            <ul class="navbar">

            <h4 align="center">Southwest US Applications</h4>
            <table>
                <tr><td>
                <a id="us_wide" href="http://westernlandscapesexplorer.info/" class="trigger" target="_blank"><img alt="WLE" title="WLE" class="logo" src="{{MEDIA_URL}}img/ILAPLogo.png">Western Landscape Explorer</a>
                <div class="pop-up">
                    <p>The Western Landscapes Explorer provides access to information used to evaluate large landscapes over time. This includes data and information developed by the Integrated Landscape Assessment Project, as well as other landscape-level information designed to facilitate decision making, research, and exploration.</p>
                </div>
                </td><td>
                <img alt="Help" title="Help" class="qmark" src="{{ MEDIA_URL }}img/QMark.png" onclick="HighLight(this,'docu','Docu_ILAP')">
                </td></tr>
            </table>
 

            <h4 align="center">US-Wide Applications</h4>
                <table>
                    <tr><td>
                    <a id="us_wide" href="http://databasin.org/" class="trigger"><img alt="DataBasin" title="DataBasin" class="logo" src="{{MEDIA_URL}}img/DataBasinLogo.png"> DataBasin by the Conservation Biology Institute (CBI)</a>
                    <div class="pop-up">
                        <p>Data Basin is a science-based mapping and analysis platform that supports learning, research, and sustainable environmental stewardship.</p>
                    </div>
                    </td><td>
                   <img alt="Help" title="Help" class="qmark" src="{{ MEDIA_URL }}img/QMark.png"  onclick="HighLight(this,'docu','Docu_DataBasin')">
                    </td></tr>
                </table>
            </ul>
        </div>
{%endblock%}
