<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" xml:lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<head>
<title>BRITTA's ACIS
{% if title %} [ {% endif %} 
{{ title|escape }}
{% if title %} ] {% endif %}
</title>
{%load my_wrcc_apps_filters%}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css"></link>
<input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
<!-- jquery -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--<script src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>-->
<!--My js-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>

{% block extrahead %}{% endblock %}
{% block extrastyle %}{% endblock %}
<script type="text/javascript">
$(document).ready(function() {
  // select all the links with class="docu_long", when one of them is clicked, get its "href" value
  // load the content from that URL and place it into the tag with id="content"
  $('a.docu_long').click(function() {
    var url = $(this).attr('href');
    $('#content').html('<p>Loading...</p>').load(url);
    return false;
  });
});
</script>
    <!--Django env variables from settings -->
    <!--  DIRS-->
    <input type="hidden" id="HOST" name="variable" value="{{ HOST }}">
    <input type="hidden" id="BASE_DIR" name="variable" value="{{ BASE_DIR }}">
    <input type="hidden" id="SRC_BASE" name="variable" value="{{ SRC_BASE }}">
    <input type="hidden" id="JSON_DIR" name="variable" value="{{ JSON_DIR }}">
    <input type="hidden" id="HTML_DIR" name="variable" value="{{ HTML_DIR }}">
    <input type="hidden" id="KML_DIR" name="variable" value="{{ KML_DIR }}">
    <input type="hidden" id="TMP_DIR" name="variable" value="{{ TMP_DIR }}">
    <input type="hidden" id="TMP_DIR" name="variable" value="{{ TMP_DIR }}">
    <input type="hidden" id="TEMP" name="variable" value="{{ TEMP }}">
    <input type="hidden" id="LIB_PREFIX" name="variable" value="{{ LIB_PREFIX }}">
    <!--SERVER DIRS -->
    <input type="hidden" id="STATIC_URL" name="variable" value="{{ STATIC_URL }}">
    <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
    <input type="hidden" id="JSON_URL" name="variable" value="{{ JSON_URL }}">
    <input type="hidden" id="HTML_URL" name="variable" value="{{ HTML_URL }}">
    <input type="hidden" id="KML_URL" name="variable" value="{{ KML_URL }}">
    <input type="hidden" id="TMP_URL" name="variable" value="{{ TMP_URL }}">
    <input type="hidden" id="IMG_URL" name="variable" value="{{ IMG_URL }}">
    <input type="hidden" id="URL_PREFIX" name="variable" value="{{ URL_PREFIX }}">
    <input type="hidden" id="HOME_URL" name="variable" value="{{ HOME_URL }}">
    <input type="hidden" id="SCENIC_URL" name="variable" value="{{ SCENIC_URL }}">
    <input type="hidden" id="ABOUT_URL" name="variable" value="{{ ABOUT_URL }}">
    <input type="hidden" id="WHAT_URL" name="variable" value="{{ WHAT_URL }}">
    <input type="hidden" id="WHO_URL" name="variable" value="{{ WHO_URL }}">
    <input type="hidden" id="CONTACT_URL" name="variable" value="{{ CONTACT_URL }}">
    <input type="hidden" id="DASH_URL" name="variable" value="{{ DASH_URL }}">
    <input type="hidden" id="DATA_URL" name="variable" value="{{ DATA_URL }}">
    <input type="hidden" id="GRID_DATA_URL" name="variable" value="{{ GRID_DATA_URL }}">
    <input type="hidden" id="TOOLS_URL" name="variable" value="{{ TOOLS_URL }}">
    <input type="hidden" id="GRID_TOOLS_URL" name="variable" value="{{ GRID_TOOLS_URL }}">
    <input type="hidden" id="GRID_SPATIAL_SUMMARY_URL" name="variable" value="{{ GRID_SPATIAL_SUMMARY_URL }}">
    <input type="hidden" id="GRID_TEMPORAL_SUMMARY_URL" name="variable" value="{{ GRID_TEMPORAL_SUMMARY_URL }}">
    <input type="hidden" id="GRID_SODXTRMTS_URL" name="variable" value="{{ GRID_SODXTRMTS_URL }}">
    <input type="hidden" id="STATION_DATA_URL" name="variable" value="{{ STATION_DATA_URL }}">
    <input type="hidden" id="STATION_TOOLS_URL" name="variable" value="{{ STATION_TOOLS_URL }}">
    <input type="hidden" id="STATION_FINDER_URL" name="variable" value="{{ STATION_FINDER_URL  }}">
    <input type="hidden" id="STATION_SODXTRMTS_URL" name="variable" value="{{ STATION_SODXTRMTS_URL }}">
    <input type="hidden" id="STATION_SODSUMM_URL" name="variable" value="{{ STATION_SODSUMM_URL }}">
    <input type="hidden" id="STATION_MON_AVES_URL" name="variable" value="{{ STATION_MON_AVES__URL }}">
    <input type="hidden" id="STATION_METAGRAPH_URL" name="variable" value="{{ STATION_METAGRAPH_URL }}">
    <input type="hidden" id="GIS_TOOLS_URL" name="variable" value="{{ GIS_TOOLS_URL }}">

</head>

<body {% if bodyclass %}class="{% block bodyclass %}{% endblock %}" {% endif %} {% if bodyid %} id="{% block bodyid %}{% endblock %}"{% endif %}>
    <!-- Header -->
    <div id="header">
	<h1>BRITTA'S WRCC-CSC PAGES</h1>
    </div> <!-- END Header -->

    <div id="breadcrumbs">
    {% block breadcrumbs %}
    <a href="/csc">HOME </a>&nbsp;&nbsp;
	<a href="/csc/wrcc_meta/">WRCC-METADATA</a>&nbsp;&nbsp;
    <a href="/csc/scenic/">SCENIC</a>&nbsp;&nbsp;
	<a href="/csc/wrcc_apps/">WRCC-APPLICATIONS</a>&nbsp;&nbsp;
    <a href="/csc/documentation/">DOCUMENTATION</a>&nbsp;&nbsp;
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}
        <br /><br /><br />
        <p style="color:red;font-size:20px;" align="center"><b>PROVIDING EASY ACCESS TO CLIMATE DATA AND PRODUCTS</b></p>
        <img style="width:100%; height:80%; align:right" alt="DataDriven" title="DataDriven" src="{{MEDIA_URL}}img/DataDriven.png">
        
    {% endblock %}
    </div> <!-- END content -->

    {% block footer %}
	<div class="footer">
	    <p>Created by <a href="http://www.wrcc.dri.edu/">WRCC</a></p>
	</div><!-- END footer -->
    {% endblock %}
</body>
</html>
