<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" xml:lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<head>
<title>BRITTA's ACIS
{% if title %} [ {% endif %} 
{{ title|escape }}
{% if title %} ] {% endif %}
</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css"></link>
<input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
<script src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
{% load my_filters %}
{% block extrahead %}{% endblock %}
{% block extrastyle %}{% endblock %}
<script type="text/javascript"><!--
$(document).ready(function() {
  // select all the links with class="lnk", when one of them is clicked, get its "href" value
  // load the content from that URL and place it into the tag with id="content"
  $('a.docu_long').click(function() {
    var url = $(this).attr('href');
    $('#content').html('<p>Loading...</p>').load(url);
    return false;
  });
});
--></script>
</head>

<body {% if bodyclass %}class="{% block bodyclass %}{% endblock %}" {% endif %} {% if bodyid %} id="{% block bodyid %}{% endblock %}"{% endif %}>
    <!-- Header -->
    <div id="header">
	<h1>BRITTA'S WRCC PAGES</h1>
    </div> <!-- END Header -->

    <div id="breadcrumbs">
    {% block breadcrumbs %}
        <a href="/">HOME </a>&nbsp;&nbsp;
	    <a href="/my_meta">METADATA</a>&nbsp;&nbsp;
        <a href="/my_data">SW CSC PORTAL</a>&nbsp;&nbsp;
	    <a href="/my_apps">APPLICATIONS</a>&nbsp;&nbsp;
    {% endblock %}
    </div>

    <div id="content">
    {% block content %} 
        <img style="width:100%; height:90%; align:right" src="{{MEDIA_URL}}img/DataDriven.png">
        <p class="intro" color="red">PROVIDING EASY ACCESS TO CLIMATE DATA AND PRODUCTS</p>
        
    {% endblock %}
    </div> <!-- END content -->

    {% block footer %}
	<div class="footer">
	    <p>Created by <a href="http://www.wrcc.dri.edu/">WRCC</a></p>
	</div><!-- END footer -->
    {% endblock %}
</body>
</html>
