<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" xml:lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<head>
    <title>Southwest CSC Climate Knowledge Network
    {% if title %} [ {% endif %} 
    {{ title|escape }}
    {% if title %} ] {% endif %}
    </title>
    {%load my_data_filters%}
    <meta name="keywords" content="climate,climate change,Southwest US,Soutwest CSC,Climate Science Center, Climate Knowledge Network">
    <meta name="description" content="Southwest Climate Knowledge Network">
    <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
    <link type="text/css" href="{{ MEDIA_URL }}css/csc-style.css" rel="stylesheet"></link>
    <!-- jquery -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
    <!-- Britta's Javascript utilities -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jutils.js"></script>
    <!-- Map API scripts and properties-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDIdA3G_Mv7P7OV9jqX2rzChCFu-ut23n0&sensor=true">
    </script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/csc-maps.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/polygon.min.js"></script>
    <script type="text/javascript" src="http://www.wrcc.dri.edu/media/js/stationmap.js"></script>
    <!-- Highcharts graphics -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/regression.js"></script>
    <!-- include greybox media for pop-up windows: WRCC links to anomaly maps -->
    <script type="text/javascript" src="http://www.wrcc.dri.edu/wrccpub/media/greybox/greybox.js"></script>
    <link href="http://www.wrcc.dri.edu/wrccpub/media/greybox/greybox.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript">
        GB_CLOSE_URL = "http://www.wrcc.dri.edu/wrccpub/media/greybox/close.gif";

        $(function () {
            $(".popup_map").click(function(ev){ 
            // Let alt-clicks and non-left clicks (which != 1) do their thing
            if ( ev.shiftKey || ev.ctrlKey || ev.altKey || ev.metaKey || ev.which != 1 ) {
                return true;
            }
            var url = this.getAttribute("href");
            var title = $(this).text();
            var width = 792 + 20;
            var height = 612 + 40;
            GB_show(title, url, height, width);
            return false;
            });

        });
    </script>

    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}

</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1 align="center">Southwest Climate Knowledge Network (SW-CKN)</h1>
        <img class="logo" src="{{ MEDIA_URL }}img/SW-CSC-LOGO.png">
        {%if home_page%}
            <img class="map" src="{{ MEDIA_URL }}img/SouthWest.jpg">
        {%endif%}
        {%if station_finder_page%}
            <img class="nature" src="{{ MEDIA_URL }}img/NorthPoleWS.jpg">
        {%endif%}
        {%if data_page%}
            <img class="map" src="{{ MEDIA_URL }}img/data_img2.jpg">
        {%endif%}
        {%if apps_page%}
            <img class="map" src="{{ MEDIA_URL }}img/ToolProduct.png">
        {%endif%}
        {%if intro_page%}
            <img class="map" src="{{ MEDIA_URL }}img/AboutUs.jpg">
        {%endif%}
        {%if search_page%}
            <img class="map" src="{{ MEDIA_URL }}img/Magnify.jpg">
        {%endif%}

    </div><!--end header-->

    <!-- Nav bar at top of page-->
    <div class="breadcrumbs">
    {% block breadcrumbs %}
    <li><a href="/csc/sw_ckn/home/">HOME</a>
    <li><a href="/csc/sw_ckn/main/">MAIN</a>
    <li><a href="/csc/sw_ckn/main_maves/">MAIN2</a>
    <li><a href="/csc/sw_ckn/dashboard/">DASHBOARD</a>
    <li><a href="/csc/sw_ckn/about_us/">ABOUT US <img class="icon_small" src="{{MEDIA_URL}}img/DownArrowHand.png"></a>
    <ul>
        <li><a href="/csc/sw_ckn/who_we_are/">Who we are</a></li>
        <li><a href="/csc/sw_ckn/what_we_do/">What we do</a></li>
        <li><a href="/csc/sw_ckn/contact_us/">Contact Us</a></li>
        <li><a href="/csc/sw_ckn/focus_areas/">Focus Areas</a></li>
    </ul></li>
    <li><a href="/csc/sw_ckn/finder/">HELP</a>
    <li><a href="/csc/sw_ckn/station_finder/">STATION FINDER</a>
    <li><a href="/csc/sw_ckn/data">DATA PORTAL <img class="icon_small" src="{{MEDIA_URL}}img/DownArrowHand.png"></a>
    <ul>
        <li><a href="/csc/sw_ckn/data">All Data</a></li>
        <li><a href="/csc/sw_ckn/data/historic">Historic Station Data</a></li>
        <li><a href="/csc/sw_ckn/data/modeled">Modeled/Gridded Data</a></li>
    </ul></li>
    <li><a href="/csc/sw_ckn/apps">TOOLS<img class="icon_small" src="{{MEDIA_URL}}img/DownArrowHand.png"></a>
    <ul>
        <li><a href="/csc/sw_ckn/apps">All TOOLS</a></li>
        <li><a href="/csc/sw_ckn/apps/sw_ckn_station_apps">SW-CKN Station Apps</a></li>
    </ul></li>

    <!--
    <li><a href="/csc/sw_ckn/apps">TOOLS/PRODUCTS <img class="icon_small" src="{{MEDIA_URL}}img/DownArrowHand.png"></a>
    <ul>
        <li><a href="/csc/sw_ckn/apps/climate">Climate</a>
        <li><a href="/csc/sw_ckn/apps/hydro">Hydrology</a></li>
        <li><a href="/csc/sw_ckn/apps/eco">Ecosystem</a></li>
    </ul></li>-->
    {% endblock %}
    </div><!--end breadcrumbs-->

    <div class="content-header">
    {% block content-header %}
       <h1 align="center" style="color:#FFEBCD;">{{title}}</h1>
        
        <div class="searchbox">
        <!-- Search Box -->
        <form target="_blank"  method="get" action="http://www.google.com/search">
            <div style="width:20em;">
            <table border="0" align="center" cellpadding="0">
            <tr><td>
            <input type="text"   name="q" size="25"
            maxlength="255" value="" />
            <input type="submit" value="Search" /></td></tr>
            <tr><td align="center" style="font-size:75%">                
            <input type="radio"  name="sitesearch" value="http://cyclone1.dri.edu/csc/sw_ckn/" />Only this site
            <input type="radio"  name="sitesearch"value="" checked /> The Web<br />
            </td></tr></table>
            </div>
        </form>
        </div>
    {% endblock %}
    </div> <!--end content-header-->

    <div class="content">
    {% block content %}
    {% endblock %}
    </div> <!-- END content -->

    <!--
    <div class="footer">
    {% block footer %}
    <p>Powered by <img src="{{MEDIA_URL}}img/ACIS-logo.jpg" alt="ACIS" class="logo">&nbsp;&nbsp;
       Created by <a href="http://www.wrcc.dri.edu/" target="_blank">>WRCC</a> &nbsp;&nbsp;
       Hosted by <a href="http://www.dri.edu/" target="_blank"><img class="logo" src="{{ MEDIA_URL }}img/DRILogo.gif"></a></p>
    {% endblock %}
    </div>
    -->
</body>
</html>
