<!DOCTYPE HTML>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" xml:lang="{% if LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% else %}en-US{% endif %}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
    <title>SCENIC
    {% if title %} [ {% endif %} 
    {{ title|escape }}
    {% if title %} ] {% endif %}
    </title>
    {%load my_scenic_filters%}

    <!--Google analytics-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44724757-2', 'dri.edu');
    ga('require', 'linkid');
    ga('send', 'pageview');
    </script>

    <meta name="keywords" content="climate,climate change,Southwest US,Soutwest CSC,Climate Science Center, Climate Knowledge">
    <meta name="description" content="Southwest Climate and ENvironmental Information Collaborative">
    
    <!--jquery-->
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!--<script src="http://code.jquery.com/jquery-2.2.1.js"></script>-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> 

    <!-- 
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>-->

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}dist/css/bootstrap-submenu.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="{{MEDIA_URL}}dist/js/bootstrap-submenu.min.js" defer></script>


    <script src="{{ MEDIA_URL }}js/jquery.dataTables.min.js"></script>
    <script src="{{ MEDIA_URL }}js/dataTables.buttons.min.js"></script>
    <script src="{{ MEDIA_URL }}js/buttons.flash.min.js"></script> 
    <script src="{{ MEDIA_URL }}js/buttons.html5.min.js"></script>
    <script src="{{ MEDIA_URL }}js/buttons.print.min.js"></script>
    <script src="{{ MEDIA_URL }}js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    
    <!--
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    -->


    <!-- Britta's Javascript utilities -->
    <script type="text/javascript" src="{{ MEDIA_URL }}myjs/dataStore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}myjs/jutils.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}myjs/graphics-utils.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}myjs/form-utils.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}myjs/hc-charts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}myjs/data-utils.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}myjs/csc-maps.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}myjs/Listeners.js"></script>
    <!-- Map API scripts and properties-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width" />
    <!--
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDIdA3G_Mv7P7OV9jqX2rzChCFu-ut23n0&sensor=true&libraries=drawing">
    </script>-->
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=drawing">
    </script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/polygon.min.js"></script>
    <!--<script type="text/javascript" src="http://geoxml3.googlecode.com/svn/branches/polys/geoxml3.js"></script>
    <script type="text/javascript" src="http://geoxml3.googlecode.com/svn/trunk/ProjectedOverlay.js"></script>-->
    <script type="text/javascript" src="{{MEDIA_URL}}js/geoxml3.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/ProjectedOverlay.js"></script>

    <!-- Highcharts graphics -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts-4.2.5.js"></script>
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <!--<script src="https://rawgithub.com/highslide-software/draggable-legend/master/draggable-legend.js"></script>-->
    <script src="{{ MEDIA_URL }}js/draggable-legend.js"></script>
    <!--<script src="http://code.highcharts.com/highcharts-more.js"></script>-->
    <script src="{{ MEDIA_URL }}js/highcharts-more.js"></script>
    <!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
    <script src="{{ MEDIA_URL }}js/exporting.js"></script>
    <!--<script src="http://highslide-software.github.io/export-csv/export-csv.js"></script>-->
    <script type="text/javascript" src="{{MEDIA_URL}}js/regression.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}myjs/HighChartsFunctions.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}myjs/generateHighChartsFigure.js"></script>
    <!-- include greybox media for pop-up windows: WRCC links to anomaly maps -->
    <!--<script type="text/javascript" src="http://www.wrcc.dri.edu/wrccpub/media/greybox/greybox.js"></script>-->
    <script type="text/javascript" src="{{MEDIA_URL}}myjs/greybox.js"></script>
    <!--<link href="http://www.wrcc.dri.edu/wrccpub/media/greybox/greybox.css" rel="stylesheet" type="text/css" media="all">-->
    <link href="{{MEDIA_URL}}css/greybox.css" rel="stylesheet" type="text/css" media="all">


    <!--Backbutton issue-->
    <script type="text/javascript">
    //$(document).ready(function () {
    //This causes select options to go to default during processing.
    //$(window).bind('beforeunload', function(e) {
    $(window).bind('pageshow', function(e) { 
        $("select").each(function () {
            //var sel = $(this).find('option[selected]').val();
            var sel = $(this).val();
            if ($.isArray(sel)){
                $.each(sel, function(i,val){
                    $('option[value=' + val + ']').prop("selected", true);
                });
            }
            else{
                $(this).val($(this).find('option[selected]').val());
            }
        }); 
        //$(this).val($(this).find('option[selected]').val()); 
    });
    </script>
    
    <!--Hide loading icon iupon page load-->
    <script language="javascript" type="text/javascript">
        //$(window).load(function() {
        $(document).ready(function() {
            $('#loading').hide(); 
        });
    </script>


    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}



    <!--Django env variables from settings -->
    <!-- SCENIC DIRS-->
    <input type="hidden" id="HOST" name="variable" value="{{ HOST }}">
    <input type="hidden" id="BASE_DIR" name="variable" value="{{ BASE_DIR }}">
    <input type="hidden" id="SRC_BASE" name="variable" value="{{ SRC_BASE }}">
    <input type="hidden" id="JSON_DIR" name="variable" value="{{ JSON_DIR }}">
    <input type="hidden" id="HTML_DIR" name="variable" value="{{ HTML_DIR }}">
    <input type="hidden" id="KML_DIR" name="variable" value="{{ KML_DIR }}">
    <input type="hidden" id="TMP_DIR" name="variable" value="{{ TMP_DIR }}">
    <input type="hidden" id="TEMP" name="variable" value="{{ TEMP }}">
    <input type="hidden" id="LIB_PREFIX" name="variable" value="{{ LIB_PREFIX }}">
    <!--SCENIC SERVER DIRS -->
    <input type="hidden" id="STATIC_URL" name="variable" value="{{ STATIC_URL }}">
    <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
    <input type="hidden" id="JSON_URL" name="variable" value="{{ JSON_URL }}">
    <input type="hidden" id="HTML_URL" name="variable" value="{{ HTML_URL }}">
    <input type="hidden" id="KML_URL" name="variable" value="{{ KML_URL }}">
    <input type="hidden" id="TMP_URL" name="variable" value="{{ TMP_URL }}">
    <input type="hidden" id="IMG_URL" name="variable" value="{{ IMG_URL }}">
    <input type="hidden" id="URL_PREFIX" name="variable" value="{{ URL_PREFIX }}">
    <input type="hidden" id="HOME_URL" name="variable" value="{{ HOME_URL }}">
    <input type="hidden" id="SCENIC_URL" name="variable" value="{{ SCENIC_URL }}">
    <input type="hidden" id="ABOUT_URL" name="variable" value="{{ ABOUT_URL }}">
    <input type="hidden" id="WHAT_URL" name="variable" value="{{ WHAT_URL }}">
    <input type="hidden" id="WHO_URL" name="variable" value="{{ WHO_URL }}">
    <input type="hidden" id="CONTACT_URL" name="variable" value="{{ CONTACT_URL }}">
    <input type="hidden" id="DASH_URL" name="variable" value="{{ DASH_URL }}">
    <input type="hidden" id="DATA_URL" name="variable" value="{{ DATA_URL }}">
</head>

<!--deals with back button issue... only works in Chrome and badly at that--> 
<!--<body onbeforeunload="reset_options()">-->

<body >
<div class="scenic-container">
    <!-- Header -->
   <div>
        <img width="100%" style="padding:0;margin:0;" src="{{ MEDIA_URL }}img/SCENIC_NEW.png">
   </div>

    <!--nav bootstrap-->
    <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li><a href="{{HOME_URL}}">HOME</a></li>
            <li class="dropdown">
                <a href="{{ABOUT_URL}}" tabindex="0" data-toggle="dropdown" data-submenu>ABOUT US <span class="caret"></span></i></a> 
                <ul class="dropdown-menu">
                    <li><a href="{{ABOUT_URL}}#overview">Overview</a></li>
                    <li><a href="{{ABOUT_URL}}#data">Available Datasets</a></li>
                    <li><a href="{{ABOUT_URL}}#contact_us">Contact Us</a></li>
                    <li><a href="{{ABOUT_URL}}#links">Links</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{DATA_URL}}" tabindex="0" data-toggle="dropdown" data-submenu>DATA ACCESS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{DATA_URL}}station_finder/">Station Finder</a></li>
                    <li class="dropdown-submenu">
                        <a tabindex="0" href="">Single Point Products</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="0" href="{{DATA_URL}}single/lister/">Data Lister</a></li>
                            <li><a tabindex="0" href="{{DATA_URL}}single/monthly_summary/">Monthly Summary</a></li>
                            <li><a tabindex="0" href="{{DATA_URL}}single/yearly_summary/">Yearly Summary</a></li>
                            <li><a tabindex="0" href="{{DATA_URL}}single/intraannual/">Single-Year Time Series</a></li>
                            <li><a tabindex="0" href="{{DATA_URL}}single/data_comparison/">Grid/Station Data Comparison</a></li>
                            <li><a tabindex="0" href="{{DATA_URL}}single/climatology/">Climatology</a></li>
                        </ul>
                    </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="{{DATA_URL}}multi/">Multi Point Products </a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="0" href="{{DATA_URL}}multi/lister/">Data Lister</a></li>
                      <li><a href="{{DATA_URL}}multi/spatial_summary/">Spatial Summary</a></li>
                      <li><a href="{{DATA_URL}}multi/temporal_summary/">Temporal Summary</a></li>
                    </ul>
                </li>
                <li><a href="{{DATA_URL}}climate_engine/">Climate Engine</a></li>
              </ul><!--ul dropdown menu-->
            </li> <!-- .dropdown -->
            <li class="dropdown">
                <a href="{{SCENIC_URL}}dashboard/" tabindex="0" data-toggle="dropdown" data-submenu>DASHBOARD <span class="caret"></span></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{SCENIC_URL}}dashboard#weather">Weather</a></li>
                    <li><a href="{{SCENIC_URL}}dashboard#temperatures">Temperatures</a></li>
                    <li><a href="{{SCENIC_URL}}dashboard#precipitation">Precipitation</a></li>
                    <li><a href="{{SCENIC_URL}}dashboard#drought">Drought</a></li>
                    <li><a href="{{SCENIC_URL}}dashboard#water">Water</a></li>
                    <li><a href="{{SCENIC_URL}}dashboard#snow">Snow</a></li>
                    <li><a href="{{SCENIC_URL}}dashboard#projections">Projections</a></li>
                </ul>
            </li>
            <li><a href="{{SCENIC_URL}}howto">HOW TO</a></li>
          </ul> <!-- .nav .navbar-nav -->
        </div><!-- /.navbar-collapse -->
    </nav>


    <div class="content">
        <table width="960px">
        <td width="300px" valign="top">
            <p class="message">Recommended browsers: Chrome, FF, IE9+</p>
        </td>
        <td width="440px" align="center">
            <h1 align="center" class="title">{{title}}</h1>
        </td>
        <td width="230px" valign="top" align="right">
            <div class="searchbox">
            <!-- Search Box -->
            <form target="_blank"  method="get" action="http://www.google.com/search">
            <div id="searchbox">
            <table border="0">
            <tr>
            <td colspan="2"><input type="text"   name="q" size="25" maxlength="255"/></td>
            <td><input type="submit" value="Search" /></td>
            </tr>
            <tr>
            <td><input type="radio"  name="sitesearch" value="http://wrcc.dri.edu/csc/scenic/" checked />This Site</td>
            <td><input type="radio"  name="sitesearch" value="" />The Web</td>
            <td></td>
            </tr>
            </table>
            </div><!--End id searchbox-->
            </form>
            </div><!--End class searchbox--> 
        </td>
        </table>
        <!--Loading image-->
        <div id="loading">
        <img id="loading-image" src="{{ MEDIA_URL }}img/LoadingGreen.gif" alt="Loading..." />
        </div>
        {% block content %}
        {% endblock content%}

        {% block footer %}
        <div id="footer" align="center">{% include 'includes/Footer_SCENIC.html'%}</div>
        {% endblock footer %}
    </div><!-- END content --> 
</div><!-- END scenic-container -->
</body>
</html>
