<!DOCTYPE html>
<html lang="en">

<head>
    <title>SCENIC
    {% if title %} [ {% endif %} 
    {{ title|escape }}
    {% if title %} ] {% endif %}
    </title>
    {%load my_scenic_filters%}

    <!--Load all scripts and style sheets-->
    {% include 'includes/scripts.html'%}

    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}

    <!--Django env variables from settings -->
    <!-- SCENIC DIRS-->
    <input type="hidden" id="WRCC_URL" name="variable" value="{{ WRCC_URL }}">
    <input type="hidden" id="HOST" name="variable" value="{{ HOST }}">
    <input type="hidden" id="BASE_DIR" name="variable" value="{{ BASE_DIR }}">
    <input type="hidden" id="SRC_BASE" name="variable" value="{{ SRC_BASE }}">
    <input type="hidden" id="JSON_DIR" name="variable" value="{{ JSON_DIR }}">
    <input type="hidden" id="JSON_URL" name="variable" value="{{ JSON_URL }}">
    <input type="hidden" id="HTML_DIR" name="variable" value="{{ HTML_DIR }}">
    <input type="hidden" id="KML_DIR" name="variable" value="{{ KML_DIR }}">
    <input type="hidden" id="TMP_DIR" name="variable" value="{{ TMP_DIR }}">
    <input type="hidden" id="TMP_URL" name="variable" value="{{ TMP_URL }}">
    <input type="hidden" id="TEMP" name="variable" value="{{ TEMP }}">
    <input type="hidden" id="LIB_PREFIX" name="variable" value="{{ LIB_PREFIX }}">
</head>


<body>
<div class="container">
    <!--nav bootstrap-->
    <nav class="navbar navbar-default">
        <div class="container-fluid bg-info">
            <div class="navbar-header">
                <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="sr-only">Toggle Navigation</span> 
                </button>
            </div><!--navbar-header-->

            <div class="collapse navbar-collapse">
                <div class="header-banner nav-header">
                    <img class="img-responsive" width="100%" height="5%" 
                    style="padding-top:3%;cursor:pointer;cursor:hand;" src="{{ MEDIA_URL }}img/SCENIC_NEW.png" 
                    onclick="window.location='{{HOME_URL}}'">
                </div>
                <!--contact buttons-->
                <!--contact buttons-->
                <span style="float:right;padding:2px 0px">
                    <a class="btn btn-primary" href="mailto:scenic@dri.edu" target="_top">Send Feedback</a>
                    <a class="btn btn-primary" href="{{ABOUT_URL}}#contact_us">Contact Us</a>
                    <!--Search Box-->
                    <form target="_blank"  method="get" action="//www.google.com/search" style="display: inline;">
                        <input type="text"   name="q" size="25" maxlength="255"/>
                        <input type="submit" value="Search" />
                        <input type="radio" style="display:none;"  name="sitesearch" value="{{WRCC_URL}}/csc/scenic/" checked />
                    </form>
                    <!--
                    <span style="display:inline;width:255px">
                    <script>
                        (function() {
                            var cx = '002253838298126628722:xlc0h-mi3h0';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            //s.style.width = '255px';
                            //s.style.display = 'inline';
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>
                    </span>-->
                </span> 
                
                <ul class="nav navbar-nav">
                <li><a href="{{HOME_URL}}">HOME</a></li>
                <li class="dropdown">
                    <a href="{{ABOUT_URL}}" tabindex="0" data-toggle="dropdown" data-submenu>ABOUT US <span class="caret"></span></i></a> 
                    <ul class="dropdown-menu">
                        <li><a href="{{ABOUT_URL}}#overview">Overview</a></li>
                        <li><a href="{{ABOUT_URL}}#data">Available Datasets</a></li>
                        <li><a href="{{ABOUT_URL}}#contact_us">Contact Us</a></li>
                        <li><a href="{{ABOUT_URL}}#links">Links</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{DATA_URL}}" tabindex="0" data-toggle="dropdown" data-submenu>DATA<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{DATA_URL}}">Overview</a></li>
                        <li><a href="{{DATA_URL}}station_data/">Historic Station Data</a>
                        <li><a href="{{DATA_URL}}gridded_data/">Gridded/Modeled Data</a></li>
                        <li><a href="{{DATA_URL}}remote_sensing_data/">Remote Sensing Data</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{SCENIC_URL}}analysis/" tabindex="0" data-toggle="dropdown" data-submenu>ANALYSIS<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{SCENIC_URL}}analysis/">Overview</a></li>
                        <li><a href="{{SCENIC_URL}}analysis/station_finder/">Station Finder</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="0" href="">Single Point Products</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/">Overview</a></li>
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/lister/">Data Lister</a></li>
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/monthly_summary/">Monthly Summary</a></li>
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/seasonal_summary/">Seasonal Summary</a></li>
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/single_year/">Single-Year Time Series</a></li>
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/data_comparison/">Grid/Station Data Comparison</a></li>
                                <li><a tabindex="0" href="{{SCENIC_URL}}analysis/single/climatology/">Climatology</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="{{DATA_URL}}analysis/multi/">Multi Point Products </a>
                            <ul class="dropdown-menu">
                              <li><a tabindex="0" href="{{SCENIC_URL}}analysis/multi/">Overview</a></li>
                              <li><a tabindex="0" href="{{SCENIC_URL}}analysis/multi/lister/">Data Lister</a></li>
                              <li><a href="{{SCENIC_URL}}analysis/multi/spatial_summary/">Spatial Summary</a></li>
                              <li><a href="{{SCENIC_URL}}analysis/multi/temporal_summary/">Temporal Summary</a></li>
                            </ul>
                        </li>
                    </ul><!--ul dropdown menu-->
                </li>
                <li class="dropdown">
                    <a href="{{SCENIC_URL}}monitoring/" tabindex="0" data-toggle="dropdown" data-submenu>MONITORING <span class="caret"></span></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{SCENIC_URL}}monitoring#weather">Weather</a></li>
                        <li><a href="{{SCENIC_URL}}monitoring#temperatures">Temperatures</a></li>
                        <li><a href="{{SCENIC_URL}}monitoring#precipitation">Precipitation</a></li>
                        <li><a href="{{SCENIC_URL}}monitoring#drought">Drought</a></li>
                        <li><a href="{{SCENIC_URL}}monitoring#water">Water</a></li>
                        <li><a href="{{SCENIC_URL}}monitoring#snow">Snow</a></li>
                        <li><a href="{{SCENIC_URL}}monitoring#projections">Projections</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{SCENIC_URL}}help/" tabindex="0" data-toggle="dropdown" data-submenu>HELP <span class="caret"></span></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{SCENIC_URL}}help#about_scenic">About SCENIC</a></li>
                        <li><a href="{{SCENIC_URL}}help#about_data">About the Data</a></li>
                        <li><a href="{{SCENIC_URL}}help#step_by_step_examples">Examples</a></li>
                    </ul>
                </li>
              </ul> <!-- .nav .navbar-nav -->
            </div><!-- /.navbar-collapse -->
        </div><!--container-fluid-->
    </nav>

    <div class="row" align="center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h1 id="tool_info_head" 
            {%if app_name|is_in:'home,about,monitoring,help,data,gridded_data,station_data,analysis,projections,remote_sensing_data,single_point_prods,multi_point_prods'%}
                style="display:none;"{%endif%}>
                <button class="btn btn-primary docu" onclick="ShowPopupDocu('tool_info')">
                About this tool
                </button>
            </h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="center">
            {%if title%}
            <h1 class="lead display-1">{{title}}</h1>
            {%endif%}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h1 id="how_to_head" 
                {%if app_name|is_in:'home,about,monitoring,help,data,gridded_data,station_data,analysis,projections,remote_sensing_data,single_point_prods,multi_point_prods'%}
                style="display:none;"
                {%endif%}>
                <button class="btn btn-primary docu" onclick="ShowPopupDocu('how_to')">
                How to use this tool
                </button>
            </h1>
        </div>
    </div><br />
    {% block content %}

    {% endblock content%}

    {% block footer %}
        <div id="footer" align="center">{% include 'includes/Footer_SCENIC.html'%}</div>
    {% endblock footer %}
</div><!--end container-->
</body>
</html>
