{% extends "base.html" %}

{% block content %}

<h1>{{title}}</h1>

<p>Search by name</p>
<form method="get" action="by_name/">
    <input type="text" name="q" />
    <input type="submit" value="Submit"/>
</form>

<p>Search by ID</p>
<form method="get" action="by_id/">
    <input type="text" name="q" />
    <input type="submit" value="Submit" />
</form>

<p>UCAN station ID</p>
<form method="get" action="station_tables/">
    <input type="text" name="ucan_id" />
    <input type="submit" value="Submit"/>
</form>

<p>List stations by state</p>
<form method="get" action="by_state/">
    <select name="state_key">
	{% for state in state_choices %}
	    <option value="{{state.0}}">{{state.1}}</option>
	{% endfor %}
    </select>
    <input type="submit" value="Submit"/>
</form>

<p>Location</p>
<form method="get" action="by_location/">
    Lat: <input type="text" name="lat" size="8" />
    Lon: <input type="text" name="lon" size="8" />
    <input type="submit" value="Submit"/>
</form>

{% endblock %}

