{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }}
| Station tables
{% endblock %}

{% block content %}

<h1>{{title}}</h1>

<p>UCAN station id</p>
<form action="." method="get">
    <input type="text" name="ucan_id" value="{{ucan_station_id}}" />
    <input type="submit" value="Submit" />
</form>

{% if ucan_station_id %}
{% for tbl_name, tbl_instances in table_dir.items %}
    
    {% for tbl_instance in tbl_instances %}
        {% if errors.tbl_instance %}
            <span style="color:red">
            <p>The following errors were found:</p>
               <li>In {{ tbl_name }}:</li> 
                  <ul><li>{{ errors.tbl_instance|safe }}</li></ul>
            </span>        
        {% endif %}
    {% endfor %}  

<table style="width:100%; border:0" ><tr><td><a onClick="Toggle(this)"><img src="{{ MEDIA_URL }}img/plus.gif">{{ tbl_name }}</a><div style='display:none'>
    {% for tbl_instance in tbl_instances %}
        <table border=0><tr><td><a href="javascript:void(0)" onclick="ShowHide('{{tbl_instance}}')"><img src="{{ MEDIA_URL }}img/leaf.gif">{{ tbl_instance }} Show/Hide</a><div></div></td></tr></table>
    
            <div align="right" id='{{ tbl_instance }}' style='display:none'>
            <!--          
            <table style="width:50%; height:100%; background-color:yellow" class="sortable">{{ table.tbl_instance|safe }}</table>
            <a href="/wrcc_meta/edit/?tbl_name={{tbl_name}}&ucan_id={{ucan_station_id}}">EDIT</a>
            -->
                <p align="center"><span style="color:green">{{tbl_instance}}</span><p>             
                <form method="post" action="">{% csrf_token %}
                    <table style="width:50%; height:100%; background-color:yellow" class="sortable">{{ table.tbl_instance|safe }}</table>
                    <input type="submit" value="Edit" name="{{tbl_instance}}"/>
                </form>

                {% for Var in sub_table_dir.tbl_instance %} 
                    <table border=0><tr><td><a href="javascript:void(0)" onclick="ShowHide('{{tbl_instance}}_{{Var}}')"><img src="{{ MEDIA_URL }}img/leaf.gif">{{ Var }} Show/Hide</a></td></tr></table>

                    <div align="right" id='{{tbl_instance}}_{{ Var }}' style='display:none'>
                        <table style="width:50%; height:100%; background-color:yellow" class="sortable">{{ sub_table.Var|safe }}</table>
                    </div>
                {% endfor %}
                
            </div>
    {% endfor %}
    
    {% ifequal tbl_name 'StationNetwork' %}
    <p><span style="color:green">Variable, Network, Subnetwork</span></p>
    {% endifequal %}

    <a href="{{URL_PREFIX}}wrcc_meta/add/?tbl_name={{tbl_name}}">ADD</a>
    </div></td></tr></table>
{% endfor %}

{% endif %}

{% endblock %}

