{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }}
| Station tables
{% endblock %}

{% block content %}

<h1>{{title}}</h1>


<p>UCAN station id</p>
<form action="." method="get">
    <input type="text" name="ucan_id" value="{{ucan_station_id}}" />
    <input type="submit" value="Submit" />
</form>

{% if ucan_station_id %}
{% for tbl_name, tbl_instances in table_dir.items %}
    
<table style="width:100%; border:0" ><tr><td><a onClick="Toggle(this)"><img src="{{ MEDIA_URL }}img/plus.gif">{{ tbl_name }}</a><div style='display:none'>
    
{% for tbl_instance in tbl_instances %}
    <li><a href="{{URL_PREFIX}}wrcc_meta/{{tbl_name}}/{{forloop.counter}}/?ucan_id={{ucan_station_id}}">{{tbl_instance}}</a></li>    

{% endfor %}
    
{% ifequal tbl_name 'StationNetwork' %}
    <p><span style="color:green">Variable, Network, Subnetwork</span></p>
    <a href="{{URL_PREFIX}}wrcc_meta/add/?tbl_name=Variable&ucan_id={{ucan_station_id}}">ADD Variable</a><br />
{% endifequal %}

<a href="{{URL_PREFIX}}wrcc_meta/add/?tbl_name={{tbl_name}}&ucan_id={{ucan_station_id}}">ADD {{tbl_name}}</a><br />
    
</div></td></tr></table>

{% endfor %}

{% endif %}

{% endblock %}

