{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }}
| Station tables
{% endblock %}

{% block content %}

<h1>{{title}}</h1>

<p>UCAN station id</p>
<form action="." method="get">
    <input type="text" name="ucan_id" value="{{ucan_station_id}}" />
    <input type="submit" value="Submit" />
</form>
{% if ucan_station_id %}

{% for tbl_name, tbl_instances in table_dir.items %}
    <table style="width:100%; border:0" ><tr><td><a onClick="Toggle(this)"><img src="{{ MEDIA_URL }}img/plus.gif">{{ tbl_name }}</a><div style='display:none'>

    {%for tbl_instance in tbl_instances %}
          <table border=0><tr><td><a href="javascript:void(0)" onclick="ShowHide('{{tbl_instance}}')"><img src="{{ MEDIA_URL }}img/leaf.gif">{{ tbl_instance }} Show/Hide</a>
          <div></div></td></tr></table>
    
         <div align="right" id='{{tbl_instance}}' style='display:none'>
            <!-- 
             <table style="width:50%; height:100%; background-color:yellow" class="sortable">{{ table|lookup:tbl_instance|safe }}</table>
            -->
              
             <form method="POST" action="">{% csrf_token %}
              <table>
             {{ table|lookup:tbl_instance|safe }}
              </table>
             <input type="submit" value="Submit" />
             </form>
            
         </div>
    {% endfor%}

    <a href="add/?tbl_name={{tbl_name}}">add</a>

    </div></td></tr></table>
{% endfor %}

{% endif %}

{% endblock %}

