{% extends "base.html" %}

{% block content %}

<h1>{{title}}</h1>


<script type="text/javascript">
function populateFormField(form_id, label, value){
    var formFields = document.getElementById(form_id).getElementsByTagName('input');
    for (i=0;i<formFields.length;i++){
        if (formFields[i].name == label) {
            formFields[i].value =value;
        }
    }
}
</script>

<a href="/csc/wrcc_meta/station_tables/?{%for id in ucan_id_list%}ucan_id={{id}}{%if not forloop.last%}&{%endif%}{%endfor%}">Back to Station Tables</a>
<br />

{%if merge_successful%}
    <p><b>Table merge/add was successful!</b></p>
    
{%else%}

    {%if results%}
    <table>
        {%for stn_id in ucan_id_list%}<th>{{stn_id}}</th>{%endfor%}<th>Form</th>
        {%for instance in results%}
            <tr>
            {%for table in instance%}
            {%if not table%}
            <td></td>
            {%endif%}
            <td>
                {%if forloop.last%}
                    <br /><br />
                    <div id='form'>
                    <form method="post" action="">{% csrf_token %}
                    <table id="merge_table" border="1" style="background-color:MediumPurple">
                    {%for key_val in table%}
                        <tr valign="top">
                            <td>{{key_val.0}} <input type="text" value="{{key_val.1}}" name="{{key_val.0}}"/></td>
                        </tr>
                    {%endfor%}
                    </table>
                    <input type="submit" value="MERGE" name="form_merge"/>
                    </form>
                    </div>
                {%else%}
                    <a href="#" onClick="ShowHide('{{stn_id}}_{{forloop.counter}}')">Click here to show/hide</a>
                    <div id="{{stn_id}}_{{forloop.counter}}" style='display:block'>
                    <table border="1" style="background-color:DeepSkyBlue">
                    {%for key_val in table%}
                        <tr valign="top">
                            <td>{{key_val.0}}: <input onClick="populateFormField('merge_table', '{{key_val.0}}', '{{key_val.1}}')" type="text" value="{{key_val.1}}" name="{{key_val.0}}" readonly style="background-color:#CCCCCC;"/></td>
                        </tr>
                    {%endfor%}
                    </table>
                    </div>
                {%endif%}
            </td>
            {%endfor%}
            </tr>
        {%endfor%}
    </table>
    {%endif%}

{%endif%} <!--merge_successful-->
{% endblock %}
