{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }}
| Station tables
{% endblock %}

{% block content %}

<h1>{{title}}</h1>


<table>
<th></th>{%for stn_id in ucan_id_list%}<th>{{stn_id}}</th>{%endfor%}
{%for table_name, instances in results_dict.items%}
    <tr>
        <td><a href="{{URL_PREFIX}}wrcc_meta/merge/?tbl_name={{table_name}}{%for stn_id in ucan_id_list%}&ucan_id={{stn_id}}{%endfor%}">{{table_name}}</a></td>
        {%for inst in instances%}
        <td>{{inst}}</td>
        {%endfor%}
    </tr>
{%endfor%}
</table>

<!--
<table>
    {% for tbl_name, tbl_list in table_dict.items %}
    <tr><td><b>TABLE: {{tbl_name}}</b></td></tr>
    <tr>
        {%for tbl in tbl_list%}
            <td><table style="width:50%; height:100%; background-color:DeepSkyBlue" class="sortable">{{ tbl|safe }}</table></td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
-->

{% endblock %}
