{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }}
| <a href="{{URL_PREFIX}}my_meta/station_detail/?ucan_id={{ucan_id}}">Station detail</a> | Maintenance
{% endblock %}

{% block extrahead %}
<script type="text/javascript">

    var FancyForm = {
	    init : function() {
		    var remark = new Ext.Resizable('id_remark', {
					wrap:true,
					pinned:true,
					width:350,
					height:150,
					minWidth:200,
					minHeight:50,
				    });

		    var maintenance_date = new Ext.form.DateField({
					name: 'dateField',
					allowBlank: false,
					format: 'Y-m-d',
					applyTo: 'id_maintenance_date'
					});
		    }
    }

    Ext.onReady(FancyForm.init, FancyForm);

</script>

{% endblock %}

{% block content %}

<h1>{{title}}</h1>

{% if saved %}
<p>{{saved|safe}}</p>
{% endif %}

{% if station_maintenance%}
<table class="sortable"> {{station_maintenance|safe}} </table>
{% endif %}

<h2>Add</h2>
<form method="post" action=".">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
