{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Station Data Applications">

{% block content %}
    <!--
    <p align="center">You are here
    <a href="{{HOME_URL}}">Home></a>
    <a href="{{TOOLS_URL}}">Data Analysis></a>
    <a href="{{STATION_TOOLS_URL}}">Station Data Tools</a>
    -->
<!--Documentation -->
<div class="docu" id="Docu_SODSUMM" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_SODSUMM").load("{{HTML_URL}}/Docu_SODSUMM.html");
    </script>
<div class="docu" id="Docu_SODXTRMTS" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_SODXTRMTS").load("{{HTML_URL}}/Docu_SODXTRMTS.html");
    </script>
<div class="docu" id="Docu_META_GRAPH" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_META_GRAPH").load("{{HTML_URL}}/Docu_META_GRAPH.html");
    </script>
<div class="docu" id="Docu_MON_AVES" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_MON_AVES").load("{{HTML_URL}}/Docu_MON_AVES.html");
    </script>
<div class="docu" id="Docu_STATION_FINDER" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_STATION_FINDER").load("{{HTML_URL}}/Docu_About_station_finder.html");
    </script>
<div class="docu" id="Docu_DATA_STATION" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_DATA_STATION").load("{{HTML_URL}}/Docu_About_station_data.html");
    </script>
<div class="docu" id="Docu_NONE" style="display:none;"></div>
    <script type="text/javascript">                        
    $("#Docu_NONE").load("{{HTML_URL}}/Docu_NONE.html");
    </script>

<!-- link from station data-->
{%if user_params_list%}
<div id="user_params_list" align="center">
<p class="message">
Choose an application from the list below!<br />
YOUR SEARCH PARAMETERS:<br />
{%for key_val in user_params_list%}
<b>{{key_val.0}}</b>: {{key_val.1}}<br />
{%endfor%}<br />
</p>
</div>
{%endif%}
<br >

<table cellpadding="40" align="center">
<td valign="top">
    <table cellspacing="10">
    <tr>
        {% if not hide_sodxtrmts %}
        {% if not user_params_dict %}
       <td valign="top"><a class="trigger_hover" href="{{STATION_SODXTRMTS_URL}}"><b>Station statistics/<br >Custom Time Series</b></a>
       {% else %}
       <td valign="top"><a target="_blank" class="trigger_hover" href="{{STATION_SODXTRMTS_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><b>Station statistics/<br >Custom Time Series</b></a>
        {% endif %}
       <div class="pop-up">
       <p>Obtain monthly and anual means and extremes for individual stations.<br />Generate customized time series from results.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SODXTRMTS')">
       </td>
       {% endif %}
       {% if not hide_sodsumm %}
       {% if not user_params_dict %}
       <td valign="top"><a class="trigger_hover" href="{{STATION_SODSUMM_URL}}"><b>Station Climatology</b></a>
       {%else%}
       <td valign="top"><a target="_blank" class="trigger_hover" href="{{STATION_SODSUMM_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><b>Station Climatology</b></a>
       {% endif %}
       <div class="pop-up">
       <p>Obtain monthly and anual means and extremes for individual stations.<br />. Visualize results as barcharts.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_SODSUMM')">
       </td>
       {% endif %}
       {% if not user_params_dict %}
       <td valign="top"><a class="trigger_hover" href="{{STATION_MON_AVES_URL}}"><b>Monthly Averages</b></a>
       {% else %}
       <td valign="top"><a target="_blank" class="trigger_hover" href="{{STATION_MON_AVES_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><b>Monthly Averages</b></a>
       {% endif %}
       <div class="pop-up">
       <p>Computes monthly averages and displays them as barcharts.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_MON_AVES')">
       </td>
    </tr>
    <tr>
       {% if not hide_sodxtrmts %}
       <td colspan="2">
        {% if not user_params_dict %}
       <a  href="{{STATION_SODXTRMTS_URL}}" class="trigger_hover"><img class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/Sodxtrmts.png"></a> 
       {% else %}
       <a target="_blank" href="{{STATION_SODXTRMTS_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}" class="trigger_hover"><img class="app_img" alt="Sodxtrmts" title="Sodxtrmts" src="{{MEDIA_URL}}img/Sodxtrmts.png"></a> 
       {% endif %}
        <div class="pop-up">
        <p>Obtain monthly and anual means and extremes for individual stations.<br />Generate customized time series from results.</p>
       </div>
       </td>
       {% endif %}
       {% if not hide_sodsumm %}
       <td colspan="2">
       {% if not user_params_dict %}
       <a  href="{{STATION_SODSUMM_URL}}" class="trigger_hover"><img class="app_img" alt="Sodsumm" title="Sodsumm" src="{{MEDIA_URL}}img/SodsummGraph.png"></a>
       {% else %}
        <a  target="_blank" href="{{STATION_SODSUMM_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}" class="trigger_hover"><img class="app_img" alt="Sodsumm" title="Sodsumm" src="{{MEDIA_URL}}img/SodsummGraph.png"></a>
        {% endif %}
       <div class="pop-up">
       <p>Obtain monthly and anual means and extremes for individual stations.<br />. Visualize results as barcharts.</p>
       </div>
       </td>
       {% endif %}
       <td colspan="2">
       {% if not user_params_dict %}
       <a  href="{{STATION_MON_AVES_URL}}" class="trigger_hover"><img class="app_img" alt="MonthlyAverages" title="MonthlyAverages" src="{{MEDIA_URL}}img/MonAves.png"></a>
       {% else %}
       <a  target="_blank" href="{{STATION_MON_AVES_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}" class="trigger_hover"><img class="app_img" alt="MonthlyAverages" title="MonthlyAverages" src="{{MEDIA_URL}}img/MonAves.png"></a>
       {% endif %}
       <div class="pop-up">
       <p>Computes monthly averages and displays them as barcharts.</p>
       </div>
       </td>
   </tr>
   <tr></tr>
   <tr></tr>
   <tr></tr>
    <tr>
        {% if not user_params_dict %}
       <td valign="top"><a class="trigger_hover" href="{{STATION_FINDER_URL}}"><b>Station Finder</b></a>
       {% else %}
       <td valign="top"><a target="_blank" class="trigger_hover" href="{{STATION_FINDER_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><b>Station Finder</b></a>
       {% endif %}
       <div class="pop-up">
       <p>Find stations with data for specific climate elements and a chosen time range.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_STATION_FINDER')">
       </td>
       {% if not user_params_dict %}
       <td valign="top"><a class="trigger_hover" href="{{STATION_DATA_URL}}"><b>Station Data Lister</b></a>
       {% else %}
       <td valign="top"><a target="_blank" class="trigger_hover" href="{{STATION_DATA_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><b>Station Data Lister</b></a>
       {% endif %}
        <div class="pop-up">
       <p>Get a listing of station data for one or multiple stations.<br /> Queries are customizable over spatial and temoral extend.<br/></p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_DATA_STATION')">
       </td>
       <!--
       {% if not hide_metagraph %}
       {% if not user_params_dict %}
       <td valign="top"><a class="trigger_hover" href="{{STATION_METAGRAPH_URL}}"><b>Metadata Graphics</b></a>
       {% else %}
       <td valign="top"><a target="_blank" class="trigger_hover" href="{{STATION_METAGRAPH_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}"><b>Metadata Graphics</b></a>
       {% endif %}
       <div class="pop-up">
       <p>See how much data is missing over the period of record of a station.</p>
       </div>
       </td>
       <td><img class="qmark" alt="Help" title="Help" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_META_GRAPH')">
       </td>
       {% endif %}
       -->
    </tr>
    <tr>
    <td colspan="2">
    {% if not user_params_dict %}
    <a  href="{{STATION_FINDER_URL}}" class="trigger_hover"><img class="app_img" alt="StationFinder" title="StationFinder" src="{{MEDIA_URL}}img/StationFinder.png"></a> 
    {% else %}
    <a  target="_blank" href="{{STATION_FINDER_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}" class="trigger_hover"><img class="app_img" alt="StationFinder" title="StationFinder" src="{{MEDIA_URL}}img/StationFinder.png"></a>
    {% endif %}
    <div class="pop-up">
    <p>Find stations with data for specific climate elements and a chosen time range.</p>
    </div>
    </td>
    <td colspan="2">
    {% if not user_params_dict %}
    <a  href="{{STATION_DATA_URL}}" class="trigger_hover"><img class="app_img" alt="StationData" title="StationData" src="{{MEDIA_URL}}img/Stn.png"></a>
    {% else %}
    <a  target="_blank" href="{{STATION_DATA_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}" class="trigger_hover"><img class="app_img" alt="StationData" title="StationData" src="{{MEDIA_URL}}img/Stn.png"></a>
    {% endif %}
    <div class="pop-up">
    <p>Get a listing of station data for one or multiple stations.<br /> Queries are customizable over spatial and temoral extend.<br/></p>
    </div>
    </td>
    <!--
    {% if not hide_metagraph %}
    <td colspan="2">
    {% if not user_params_dict %}
    <a  href="{{STATION_METAGRAPH_URL}}" class="trigger_hover"><img class="app_img" alt="MetaGraph" title="MetaGraph" src="{{MEDIA_URL}}img/MetaGraph.png"></a>
    {% else %}
     <a  target="_blank" href="{{STATION_METAGRAPH_URL}}?{%for key,val in user_params_dict.items%}{{key}}={{val}}{%if not forloop.last%}&{%endif%}{%endfor%}" class="trigger_hover"><img class="app_img" alt="MetaGraph" title="MetaGraph" src="{{MEDIA_URL}}img/MetaGraph.png"></a>
    {% endif %}
    <div class="pop-up">
    <p>See how much data is missing over the period of record of a station.</p>
    </div>
    </td>  
    {% endif %}
    -->
    </tr>
    </table>
</td>
</table>

{%endblock%}
