{% extends "csc_base.html" %}

<meta name="keywords" content="Metadata, graph, coop station, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates Metadata graph for a coop station">

{%load my_scenic_filters%}

{% block content %}

<!--
<p align="center">You are here
    <a href="{{HOME_URL}}">Home></a>
    <a href="{{TOOLS_URL}}">Data Analysis></a>
    <a href="{{STATION_TOOLS_URL}}">Station Data Tools></a> 
    <a href="{{STATION_METAGRAPH_URL}}">Station Metadata Graphs</a></p>
-->

<!--Autofill-->
<script type="text/javascript">set_autofill("US_coop_station_ids");</script>
<script type="text/javascript">
$(function(){
    //On form change, hide results and form errors
    hide_errors_results_on_change('form1');
});
</script>


<table cellpadding="0">
<td valign="top" width="30%">
    <input type="submit" value="Start Over" onclick="window.location='{{STATION_METAGRAPH_URL}}'"/>
    <div id='form1'>
        <form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form" bgcolor="#CCE0E0">
        {%for field in form_meta %}
        <tr>
        <td>{{field.label}}/name:</td>
        {%if field.label == "Station id"%}
            <td><input autocomplete="off" type="text" size="20" id="station_id" name="station_id" value="{{field.value}}" list="US_coop_station_ids"></td>
        {%else%}
            <td>{{field}}</td>
        {%endif%}
        <td><img alt="Help" title="Help" src="{{MEDIA_URL}}img/QMark.png" class="trigger">                                             
        <div class="pop-up"><p>{{field.help_text}}</p></div>
        </td>
        </tr>
        {%ifequal field.label "Station id"%}
        <tr><td></td><td><a target="_blank" href="{{STATION_FINDER_URL}}">Station Finder</a></td><td></td></tr>
        {%endifequal%}
        {%if field.errors%}
        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
        {%endif%}
        {%endfor%}
        </table>
        <input type="submit" value="Generate graphics" name="form_meta"/>
        </form>
    </div>

</td>
<td valign="top" width="70%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{HTML_URL}}/Buttons.html .tool_info");
    </script>
    <div id="tool_info" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#tool_info").load("{{HTML_URL}}/Docu_META_GRAPH.html");
    </script>
    <script type="text/javascript">            
        $("#how_to_head").load("{{HTML_URL}}/Buttons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;">
    <b>Station ID/name </b><br />
    Enter the station name or ID.<br />If you don't know the station ID,<br />please use the link to the station finder tool to find it.<br />
    <a target="_blank" href="{{STATION_FINDER_URL}}">STATION FINDER</a><br />
    A colored pixel means a valid data entry was found for the particular day of the year.<br />
    A white space indicates that data was not recorded at that date.<br /><br />
    </div>

    <div class="results">
    {%if perl_err%}
    <!--<p class="error">{{perl_err}}</p>-->
    <p></p>
    {%endif%}
    {%if station_meta.error%}
    <p class="error">{{station_meta.error}}</p>
    {%else%}
    {%if station_meta%}
    <p><b>Station ID</b>: {{station_id}}&nbsp;&nbsp; 
    <img onClick="ShowHide('metadata')" alt="metadata" title="metadata" src="{{MEDIA_URL}}img/metadata_button.png">
    <div id="metadata" style="display:none;">
        {% for key_val in station_meta %}
        <p><b>{{key_val.0}}</b>: {{key_val.1}} </p>
        {%endfor%}
    </div>
    <br />
    <a target="_blank" href="{{STATION_DATA_URL}}?select_stations_by=station_id&station_id={{station_id}}&start_date=por&end_date=por&elements=maxt,mint,pcpn,snow,snwd">Get data for this station!</a>
    </p>
    <img width="100%" alt="MetaTMAX" title="MetaTMAX" src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_tmax.gif">
    <img width="100%" alt="MetaTMIN" title="MetaTMIN" src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_tmin.gif">
    <img width="100%" alt="MetaPCPN" title="MetaPCPN" src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_pcpn.gif">
    <img width="100%" alt="MetaSNOW" title="MetaSNOW" src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_snow.gif">
    <img width="100%" alt="MetaSNWD" title="MetaSNWD" src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_snwd.gif">
    {%endif%}
    {%endif%} 
    </div><!--End results div-->
</td>
</table>
{%endblock%}
