{% extends "csc_base.html" %}

<meta name="keywords" content="Gridpoint time series, gridded data, application, product, tool">
<meta name="description" content="SW-CKN Generates a time series for a gridpoint">

{% block content %}

<p align="center">You are here 
<a href="{{URL_PREFIX}}sw_ckn/home/">HOME></a>
<a href="{{URL_PREFIX}}sw_ckn/main/">SW-CKN></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/">TOOLS></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/grid_point_time_series/">Grid Point Time Series</a></p>

<div class="container">
    <div class="major-left">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
        <input type="hidden" id="center_lat" name="center_lat" value="39.8282">
        <input type="hidden" id="center_lon" name="center_lon" value="-98.5795">
        <input type="hidden" id="zoom_level" name="zoom_level" value="5">


        <div id='form0'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form0 %}
                <tr>
                    <td>{{field.label}}:</td>
                    <td>{{field}}</td>
                    <td><p class="trigger"><img src="{{MEDIA_URL}}img/FaceQMark.jpg" class="icon_small"></p>                        
                    <div class="pop-up"><p>{{field.help_text}}</p></div>
                    </td>
                </tr>
               {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>
                {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form0"/>
            </form>
        </div>
    </div>

    <div class="major-right">
   
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
        </script>
        <div id="tool_info" style="display:none;">
           <p><ul>
            <li>A zoomable time series plot of daily data for a gridded data point defined by latitude and longitude is produced.</li>
            <li>The values for the gridpoint closest to the user chosen latitude and longitude are returned.</li>
            <li>Raw data can also be retrieved.</li>
            <li>Data is queried with ACIS Webservices.</li>
            <li>Information on gridded data sets:</li>
            <ul>
                <li>For more information on ACIS gridded data sets NRCC interpolated, NRCC Hi-Res:</li>
                <a href="https://gist.github.com/4197956">GridACIS grids 1 and 3</a>
                <li>For more information and direct access to NARCCAP
                (North American Regional Climate Change Assessment Program) gridded data sets:</li>
                <a href="http://www.earthsystemgrid.org/project/narccap.html">NARCCAP data page</a>
            </ul>
            </ul></p>
        </div>

        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;">
            <p><ul>
            <li>You can either manually enter your latitude and longitude or</li>
            <li>Use the map tool to change latitude and longitude:</li>
            <ol>
                <li>Drag the marker to the desired position on the map.</li>
                <li>Click on the marker.</li>
                <li>Click on the "Use this location" link. The coordinates of your new
                location will appear in the form on the left hand side.</li>
            </ol>
            <li>Start and end date should be 8 characters long and of form yyyymmdd.</li>
            <li>For more information on ACIS gridded data sets NRCC interpolated, NRCC Hi-Res:</li>
            <a href="https://gist.github.com/4197956">GridACIS grids 1 and 3</a>
            <li>For more information and direct access to NARCCAP
            (North American Regional Climate Change Assessment Program) gridded data sets:</li>
            <a href="http://www.earthsystemgrid.org/project/narccap.html">NARCCAP data page</a>
            </ul></p>

        </div>

        {%if error%}
            {{error}}
        {%else%}
          {%if datadict%}

            <a href="{{URL_PREFIX}}sw_ckn/data/modeled/?grid_selection={{grid_selection}}&start_date={{s_date}}&end_date={{e_date}}&elements={{elems}}&grid={{grid}}&loc={{lon}},{{lat}}">Get raw data  behind this graphic here!</a>
            <br />
            {{start_date}}
            {{end_date}}
            <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{MEDIA_URL}}tmp/">
            <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
            <input type="hidden" id="element_long" name="element_long" value="{{element_long}}">
            <input type="hidden" id="element" name="element" value="{{element}}">
            <input type="hidden" id="lat" name="lat" value="{{lat}}">
            <input type="hidden" id="lon" name="lon" value="{{lon}}">
            <input type="hidden" id="start_date" name="start_date" value="{{start_date}}">
            <input type="hidden" id="end_date" name="end_date" value="{{end_date}}">
            <div id="hc-graph" style="width: 100%; height: 400px; margin: 0 auto"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-gp-time-series.js"></script>
            <br />
            <br />
          {%endif%}
        {%endif%}

        <div id="map" style="width: 100%; height:400px;"></div>

        <script type="text/javascript">
            initialize_grid_point_map()
        </script>

        <!--<a href="#"  onClick="initialize_grid_point_map()">Find your Latitude and Longitude here!</a>-->

    </div>
</div>

{%endblock%}
