<!DOCTYPE html>

<html>
  <head>
    <title>Products and Services</title>	
    <link type="text/css" href="{{ MEDIA_URL }}css/csc-style.css" rel="stylesheet"></link>
    <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
  </head>

  <body>
    <div id="header">
        <h1 align="center">Data Products and Services</h1>
        <img class="logo" src="{{ MEDIA_URL }}img/SW-CSC-LOGO.png">
        <img class="nature" src="{{ MEDIA_URL }}img/utah.jpg">
    </div>

    <div id="breadcrumbs">
        <a href="/my_data">HOME </a>&nbsp;&nbsp;
        <a href="/my_data/station_finder">STATION FINDER</a>&nbsp;&nbsp;
        <a href="/my_data/data">DATA PORTAL</a>&nbsp;&nbsp;
        <a href="/my_data/apps">PRODUCTS AND SERVICES</a>&nbsp;&nbsp;
    </div>
  </body>
</html>
