{% extends "csc_base.html" %}

<meta name="keywords" content="data, station data, historic data, gridded data, modeled data, data portal, acis">
<meta name="description" content="SW-CKN TOOLS Home">

{% block content %} 


<div class="container">

<p align="center">You are here
<a href="{{HOME_URL}}">HOME></a>
<a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
<a href="{{TOOLS_URL}}">TOOLS</a></p>


        <table class="dash" cellspacing="10px">
            <tr>
                <td><font size="3"><a href="{{TOOLS_URL}}station"><b>STATION<br /> DATA TOOLS</b></a></td>
                <td><font size="3"><a href="{{TOOLS_URL}}gridded"><b>GRIDDED<br /> DATA TOOLS</b></a></td>
                <td><font size="3"><a href="{{TOOLS_URL}}gis"><b>GEOSPATIAL<br /> DATA TOOLS</b></a></td>
            </tr>
            <tr>
                <td><a href="{{TOOLS_URL}}station/"><img alt="MonAves" title="MonAves" class="dash_img" src="{{MEDIA_URL}}img/MonAves.png"></a></td>
                <td><a href="{{TOOLS_URL}}gridded/"><img alt="ClimSumMap" title="ClimSumMap" class="dash_img" src="{{MEDIA_URL}}img/ClimSumMap.png"></a></td>
                <td><a href="{{TOOLS_URL}}gis/"><img alt="GISMap" title="GISMap" class="dash_img" src="{{MEDIA_URL}}img/GISMap.png"></a></td>
            </tr>
            <tr>
                <td><b>Data analysis/visualization of historic climate station data</b></td>
                <td><b>Data analysis/visualization of gridded/modeled climate data</b></td>
                <td><b>Data analysis/visualization of geospatial data</b></td>
            </tr>
            <tr>
                <td>Generate Climate Summaries Tables</u></b></p>
                <td>Generate Climate Summary Maps</u></b></p>
                <td>Generate Vulnerability Maps</td>
            </tr>
            <tr>
                <td>Create your own Time Series</td>
                <td>Create your own Grid Point Time Series</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
         </table>

    <!--<a href="{{SW_CKN_URL}}/test/">Test</a>-->

  <!-- Footer -->
    <!--
    <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/Footers.html .footer-partners");
    </script>
    -->

</div>    

{%endblock%}
