{% extends "csc_base.html" %}

{% block content %}
        <h1 align="center">DATA PRODUCTS</h1>

    <div class="container">
        <div class="center">
            <h1>Means for {{state}} since 1900</h1>
            <form method="get" action="">
                <select name="state_key">
                    <option value="NV">Chose a different State</option>
                    {% for state in state_choices %}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                </select>
                <select name="element">
                    <option value="mint">Choose a different element</option>
                    <option value="avgt">Mean Temperature</option>
                    <option value="pcpn">Precipitation</option>
                    <option value="maxt">Maximum Temperature</option>
                    <option value="mint">Minimum Temperature</option>
                    <option value="snow">Snow</option>
                    <option value="snwd">Snow depth</option>
                </select>
                <input type="submit" value="Submit"/>
            </form>
            <br/>

            <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
            <input type="hidden" id="state" name="state" value="{{ state }}">
            <input type="hidden" id="month" name="month" value="{{ month }}">
            <input type="hidden" id="month_name" name="month_name" value="{{ month_name }}">
            <input type="hidden" id="element" name="element" value="{{ element }}">
            
            <div id="hc-graph-state-aves" style="width: 600px; height: 400px;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/highchart-state-aves.js"></script>
        </div>    

    </div>
{%endblock%}
