{% extends "csc_base.html" %}

<meta name="keywords" content="Metadata, graph, coop station, station data, historic data,application, product, tool">
<meta name="description" content="SW-CKN Generates Metadata graph for a coop station">

{% block content %}

<p align="center">You are here <a href="{{URL_PREFIX}}sw_ckni/main/">MAIN></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/">TOOLS/PRODUCTS></a>
<a href="{{URL_PREFIX}}sw_ckn/apps/metagraph/">Station Metadata Graphs</a></p>

<div class="container">
    <div class="center-left" style="border:none;">
        <div id='form1'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%for field in form_meta %}
                <tr>
                    <td>{{field.label}}:</td>                                                                    
                    <td>{{field}}</td>                                                                                
                    <td><p class="trigger"><img src="{{MEDIA_URL}}img/FaceQMark.jpg" class="icon_small"></p>                                             <div class="pop-up"><p>{{field.help_text}}</p></div>
                    </td>
                </tr>
               {%if field.errors%}
                 <tr><td></td><td>{{field.errors}}</td><td></td></tr>
                {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form_meta"/>
            </form>
        </div>

    </div>

    <div class="center" style="border:none;background-color:X^H#947e6e;">
        <div id=tool_info_head></div>
        <script type="text/javascript">                        
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
        </script>
        <div id="tool_info" style="display:none;">
            <p><ul>
            <li>Graphic representation of availablility of daily data of the five most common elements
            at a station belonging to the COOP network. <a href="http://www.nws.noaa.gov/om/coop/">More information on the COOP Network</a></li>
            <li>Daily data of following elements are queried via Acis Webservices.
                <ul><li>Maximum Temperature</li>
                <li>Minimum Temperature</li>
                <li>Total Precipitation</li>
                <li>Total Snowfall</li>
                <li>Total Snowdepth</li>
            </ul></li>
            <li>A colored pixel means a valid data entry was found for the particular day of the year.</li>
            <li>A white space indicates that data was not recorded at that date.</li>
            </ul></p>
        </div>

        <div id="how_to_head"></div>
        <script type="text/javascript">            
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>
        <div id="how_to" style="display:none;">
            <p><ul>
            <li>Station ID should be a 6 digit coop id.</li>
            <li>Don't know your coop station id? Find it here:</li>
            <a href="{{URL_PREFIX}}sw_ckn/station_finder/">STATION FINDER</a><br />
            <li><a target="_blank" href="http://www.nws.noaa.gov/om/coop/">More information on the COOP Network</a></li></ul>
            </p>
        </div>

         {%if perl_err%}
            <h1 class="warning">{{perl_err}}</h1>
        {%else%}
            {%if station_id%}
            <h1>STATION ID: {{station_id}}</h1>
            <img src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_tmax.gif">
            <img src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_tmin.gif">
            <img src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_pcpn.gif">
            <img src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_snow.gif">
            <img src="{{MEDIA_URL}}tmp/{{time_stamp}}metagraph_snwd.gif">
            <!--
            <img src="{{MEDIA_URL}}perl-scripts/csc_cliMETAgraph.pl?{{station_id}}"> 
            -->
            {%endif%}
        {%endif%} 
    </div>

    <div class="center-right" style="border:none;">
        {%if station_meta%}
            <p class="warning" onClick="ShowHide('metadata')"><u>Click here for station metadata</u></p>
            <div id="metadata" style="display:none;">
                {% for key, val in station_meta.items %}
                    <p> {{key}}: {{val}} </p>
                {%endfor%}
            </div>
            <a href="{{URL_PREFIX}}sw_ckn/data/historic/?stn_id={{station_meta.coop_id}}&start_date=por&end_date=por&elements=maxt,mint,pcpn,snow,snwd">
            Get raw data behind these plots here!</a>
        {%endif%}

    </div>
</div>
{%endblock%}
