{% extends "csc_base.html" %}

{% block content %}

<h1 align="center">{{title}}</h1>
<div class="center">
    <div id='form'>
        <table border=0 align="right">
        <form method="post" action="">{% csrf_token %}
            <table>{{ form|safe }}</table>
            <input type="submit" value="Submit" name="form"/>
        </form>
        </table>
    </div>
    <br />
    <p>How to use: 
        <ul>
        <li>Start and end date should be 8 digits long, e.g. 20121023</li>
        <li>If interested in period of record, type <font color="red">por</font> for both start and end date</li>
        <li>If more than one element desired, elements should be a comma separated list</li>
        <li><p onmouseover="ShowHide('AcisElementChoices')">Hover here for list of Element Choices</p>    <img class="logo" src="{{MEDIA_URL}}img/Acis_Element_Choices.png" id="AcisElementChoices" width="450" height="450" border="0" style="display:none;" /></li>
        </ul></p>

    <br /> 

    {%if meta%}
        {% for key, val in meta.items %}
            <p> {{key}}: {{val}} </p>
        {%endfor%}
    {%endif%}
    <br />
    {%if data%}
        {{data}}
    {%endif%}



    {%if results%}
        <input type="hidden" id="MEDIA_URL" name="variable" value="{{ MEDIA_URL }}">
        <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">            
        <div id="container"style="height:300px;width:500px;"></div>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-monthly-aves.js"></script>
    {%endif%}
</div>

{%endblock%}
