{% extends "csc_base.html" %}

<meta name="keywords" content="Climate Risk Maps, gridded data, application, product, tool">
<meta name="description" content="SW-CKN Generates a climate summary map">

{% block content %}

<p align="center">You are here 
    <a href="{{HOME_URL}}swcke/home/">HOME></a>
    <a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
    <a href="{{TOOLS_URL}}">TOOLS></a>
    <a href="{{TOOLS_URL}}gridded/">GRID TOOLS></a>
    <a href="{{TOOLS_URL}}gridded/area_time_series/">Area Time Series</a></p>


<table cellpadding="20">
<td valign="top" width="30%">
    <!--Form 0-->
    {%if not hide_form0%}
    <div id='form0'>
        <form method="post" action="">{% csrf_token %}
        <table class="form">
        {%for field in form0 %}
        <tr>
        <td>{{field.label}}:</td>
        <td>{{field}}</td>                                                                                              
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up"><p>{{field.help_text}}</p></div>
        </td>
        </tr>
        {%if field.errors%}
        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
        {%endif%}
        {%endfor%}
        </table>
        <input type="submit" value="Select" name="form0"/>
        </form>
    </div>
    {%endif%}
    
    <!--Form 1-->
    {%if form1_ready%}
        <input type="submit" value="Start Over" onclick="window.location='{{TOOLS_URL}}gridded/area_time_series/'"/>
        <div id='form1'>
            <form method="post" action="">{% csrf_token %}
            <table class="form">
            {%if need_bbox_map or need_polymap or need_map or need_overlay_map%}
                <p class="error">Use the map interface to populate first field.</p>
            {%endif%}
            {%for field in form1 %}
                {%if field.label == "Image size"%}
                    <tr><td><input type="submit" value="Submit" name="form1"/></td><td></td><td></td></tr>
                    <tr><td colspan="3"><hr style="border-color:#006666;"></td></tr>
                    <tr><td colspan="3"><b>Plot Options</b></td></tr>
                    <tr><td colspan="3"><hr style="border-color:#006666;"></td></tr>
                {%endif%}

                {%if field.is_hidden %}
                    {{field}}
                {%else%}
                <tr>
                    <td>{{field.label}}:</td>
                    {%if field.label == "Shape" %}
                        <td><input type="text" name="shape" id="shape" value="{{shape}}"></td>
                    {%elif field.label == "Bounding box"%}
                        <td><input type="text" name="bounding_box" id="bbox" value="{{bbox}}"></td>
                    {%elif field.label == "County" %}
                        <td><input type="text" name="county" id="county" value="{{county}}"></td>
                    {%elif field.label == "Climate division" %}
                        <td><input type="text" name="climate_division" id="climdiv" value="{{climdiv}}"></td>
                    {%elif field.label == "Basin" %}
                        <td><input type="text" name="basin" id="basin" value="{{basin}}"></td>
                    {%elif field.label == "County warning area" %}
                        <td><input type="text" name="county_warning_area" id="cwa" value="{{cwa}}"></td>
                    {%else%}                                
                        <td>{{field}}</td>
                    {%endif%}

                    <td><p class="trigger"><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="icon_small"></p>
                    {%if field.label == "Grid"%}
                        <div class="pop-up">
                        <img alt="GriddedDataDocu" title="GriddedDataDocu" src="{{MEDIA_URL}}img/ACIS_Grids.png" id="ACIS_Grids" width="350" height="300" border="0">
                        </div>
                    {%else%}
                        <div class="pop-up"><p>{{field.help_text}}</p></div>
                    {%endif%}
                    </td>
                </tr>

                {%if field.errors%}
                     <tr><td></td><td><font color="red">{{field.errors}}</font></td><td></td></tr>
                {%endif%}
             {%endif%}
            {%endfor%}
            </table>
            <input type="submit" value="Submit" name="form1"/>
            </form>
        </div> 
    {%endif%} 

    {%if need_bbox_map  and  results%}
        <p class="error">Click and drag to define your Bounding Box!</p>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <div id="map" style="width: 100%; height:400px;"></div>
        <script type="text/javascript">
            initialize_bbox_map()
        </script>
    {%endif%}

    {%if need_polymap and results%}
        <div id="panel">
            <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
        <div id="polymap" style="width: 100%; height:400px;"></div>
        {%if lat and lon %}
            <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
            <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        {%else%}
            <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
            <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
        {%endif%}
        <script type="text/javascript">
            initialize_polygon_map()
        </script>
    {%endif%}

    {%if need_overlay_map and results%}
        <div id="form2">
            <form method="post" action="">{% csrf_token %}
            <table class="form">
                {%for field in form2 %}
                    <tr>
                    {%if not field.is_hidden %}
                       <td>{{field.label}}:</td><td>{{field}}</td>
                    {%else%}
                       <td style="display:none;">{{field.label}}</td><td style="display:none;">{{field}}</td> 
                    {%endif%} 
                    </tr>
                {%endfor%}
            </table> 
            <input type="submit" value="Submit" name="form2"/>
            </form>
        </div>
        <p class="error">{{overlay_error}}</p>
        <div id="map-overlay" style="width:100%; height:400px;"></div>
        <div id="content-window" style="width:100px; height:100px;"></div>
        <script type="text/javascript">initialize_map_overlays("{{type}}","{{host}}", "{{kml_file_path}}")</script>
    {%endif%} 

    </td>
    <td valign="top" width="70%">
        <h2 class="error">This page is under development!</h2> <img alt=Construction" title="Construction" src="{{MEDIA_URL}}img/Construction.png">
            <table>
                <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
            </table>
            <script type="text/javascript">            
            $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
            </script>
        </div>
        <div id="tool_info" style="display:none;"></div>
        <script type="text/javascript">            
            $("#tool_info").load("{{MEDIA_URL}}html/commons.html #Docu_AREA_TIME_SERIES");
        </script>
        <script type="text/javascript">
            $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
        </script>

        <div id="how_to" style="display:none;">
            <div id="Howto_AREA_TIME_SERIES"></div>
            <script type="text/javascript">
            $("#Howto_AREA_TIME_SERIES").load("{{MEDIA_URL}}html/commons.html #Howto_AREA_TIME_SERIES");
            </script>
        </div>

        {%if need_bbox_map and not results%}
            <p class="error">Click and drag to define your Bounding Box!</p>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
            <div id="map" style="width: 100%; height:400px;"></div>
            
            <script type="text/javascript">
                initialize_bbox_map()
            </script>
        {%endif%}<!--if need_bbox_map and not results-->

        {%if need_polymap and not results%}
            <div id="panel">
                <div id="color-palette"></div>
                <div>
                    <button id="delete-button">Delete Selected Shape</button>
                </div>
            </div>
            
            <div id="polymap" style="width: 100%; height:400px;"></div>
            {%if lat and lon %}
                <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
                <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
            {%else%}
                <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
                <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
            {%endif%}
            
            <script type="text/javascript">
                initialize_polygon_map()
            </script>
        {%endif%}<!--if need_polymap and not results-->


         {%if need_overlay_map and not results%}
            <div id="form2">
            <form method="post" action="">{% csrf_token %}
                <table class="form">
                {%for field in form2 %}
                    <tr>
                    {%if not field.is_hidden %}
                       <td>{{field.label}}:</td><td>{{field}}</td>
                    {%else%}
                       <td style="display:none;">{{field.label}}</td><td style="display:none;">{{field}}</td>
                    {%endif%} 
                    </tr>
                {%endfor%}
                </table> 
                <input type="submit" value="Submit" name="form2"/>
            </form>
            </div>
            <p class="error">{{overlay_error}}</p>
            <div id="map-overlay" style="width:100%; height:400px;"></div>
            <div id="content-window" style="width:100px; height:100px;"></div>
            <script type="text/javascript">initialize_map_overlays("{{type}}","{{host}}", "{{kml_file_path}}")</script>

        {%endif%} 


        {%if results%}
            <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{ MEDIA_URL }}tmp/">
            <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
            <div align="center" id="container" style="height:{{height}}px;width:{{width}}px;"></div>
            <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-area-ts.js"></script>

            <p class="pop_link" onClick="ShowHide('printable_table')"><u>Show/hide table data</u></p>
            
            <img alt="Print" title="Print" src="{{MEDIA_URL}}img/print_button.png" onClick="printNode('printable_table')">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="{{SW_CKN_URL}}/download/?app_name=area_time_series&json_file={{json_file}}"><img alt="Download" title="Download" src="{{MEDIA_URL}}img/download_button.png"></a>
            <br />

            <!--Table Data with download and print option-->
            <div id="printable_table" style="display:none;">
                <!--time series table-->
                <!--Header-->
                <p>{{graph_title}}</p>
                {%if shape_coords%}
                    <p class="pop_link" onClick="ShowHide('shape_coords')"><u>Show/hide polygon boundary coordiates in table data (lon, lat pairs)</u></p>   
                {%endif%}
                <div id="shape_coords" style="display:none;"><b>Boundary coordinates</b>: {{shape_coords}}</div>
                <p class="pop_link" onClick="ShowHide('parameters')"><u>Show/hide other analysis parameters</u></p>
                <div id="parameters" style="display:none;">
                <p>
                <b>Parameters</b>:<br />
                {% for param in display_params_list%}
                    {%if not forloop.first%}, {%endif%}
                    {%if forloop.counter|divisibleby:"3" %}<br />{%endif %}
                    {{param.0}}: {{param.1}}
                {% endfor %}
                </p>
                </div>
                <b>Data</b>: 
                <p>{{graph_subtitle}}</p>
                <table border=1>
                <th>DATE</th><th>DATA</th>
                {%for date_data in results%}
                    <tr>
                        <td>{{date_data.0}}</td><td>{{date_data.1}}</td>
                    </tr>
                {%endfor%}
                </table>
            </div><!--printable table-->
        {%endif%}<!--if results-->

    </td><!--end center -->
    </table>
  <!-- Footer -->
<!--
    <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/commons.html .footer-partners");
    </script>
-->

{%endblock%}
