{% extends "csc_base.html" %}
<meta name="keywords" content="tools, application, gridded data, time series, graph">
<meta name="description" content="SWCKE Historic Station Data">

{%load my_data_filters%}

{% block content %} 
<p align="center">You are here
<a href="{{HOME_URL}}swcke/home/">Home></a>
<a href="{{TOOLS_URL}}">Tools></a>
<a href="{{TOOLS_URL}}gridded/">Gridded Data Tools></a>
<a href="{{TOOLS_URL}}gridded/clim_sum_maps/">Temporal Summary Maps</a></p>


<input type="hidden" id="area_type" name="area_type" value="{{area_type}}">
<input type="hidden" id="host" name="host" value="{{host}}">
<input type="hidden" id="kml_file_path" name="kml_file_path" value="{{kml_file_path}}">
<input type="hidden" id="JSON_URL" name="JSON_URL" value="{{JSON_URL}}">
<input type="hidden" id="json_file" name="json_file" value="{{json_file}}">

<!--Set up autofill-->
<script type="text/javascript">set_autofill("{{initial.autofill_list}}");</script>

<table cellpadding="20">
<!--LEFT-->
<td valign="top" width="30%">
    <input type="submit" value="Start Over" onclick="window.location='{{TOOLS_URL}}gridded/clim_sum_maps/'"/>
    <div id='formMap'>
        <form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form" id="tableMap">
        <tr valign="top">
        <td>Select grid by:</td>
        <td>
            <select id="select_grid_by" name="select_grid_by" onchange="set_station_grid_select('area',this);">
            <option value="state" {{checkbox_vals.state_selected}}>State</option>
            <!--
            <option value="county" {{checkbox_vals.county_selected}}>County</option>
            <option value="county_warning_area" {{checkbox_vals.county_warning_area_selected}}>County Warning Area</option>
            <option value="climate_division" {{checkbox_vals.climate_division_selected}}>Climate Division</option>
            <option value="basin" {{checkbox_vals.basin_selected}}>Drainage Basin</option>
            <option value="shape" {{checkbox_vals.shape_selected}}>Custom Shape</option>-->
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_select_grid_by"></div>
            <script type="text/javascript">                        
                $("#ht_select_grid_by").load("{{MEDIA_URL}}html/commons.html #ht_select_grid_by");
            </script>
        </div>
        </td>
        </tr>
        <tr>
        <td></td>
        <td><div class="pop_link" onClick="ShowHide('Docu_select_grid_by_ts')"><b><u>Area Selection Choices</u></b> explained</div></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_gridselections_explained"></div>
            <script type="text/javascript">                        
                $("#ht_grid_selections_explained").load("{{MEDIA_URL}}html/commons.html #ht_grid_selections_ts_explained");
            </script>
        </div>
        </td>
        </tr>
        <tr id="area" valign="top">
        <td>{{initial.area_type_label}}: </td>
        <td><input type="text" size="35" id="{{initial.select_grid_by}}" name="{{initial.select_grid_by}}" value="{{initial.area_type_value}}" list="{{initial.autofill_list}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_{{initial.select_grid_by}}"></div>
            <script type="text/javascript">                        
            $("#ht_{{initial.select_grid_by}}").load("{{MEDIA_URL}}html/commons.html #ht_{{initial.select_grid_by}}");
            </script>
        </div>
        </td>
        </tr>
        </tr>
        <tr id="els" valign="top">
        <td id="Elements">Elements: </td>
        <td><input type="text" id="elements" name="elements" value="{{initial.elements}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_elements">
                <img alt=ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_TS.png" id="ACISElementChoices" width="450" height="450" border="0">
            </div>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="Start Date">Start Date: </td>
        <td><input type="text" id="start_date" name="start_date" value="{{initial.start_date}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_start_date"></div>
            <script type="text/javascript">                        
            $("#ht_start_date").load("{{MEDIA_URL}}html/commons.html #ht_date");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td id="End Date">End Date: </td>
        <td><input type="text" id="end_date" name="end_date" value="{{initial.end_date}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_end_date"></div>
            <script type="text/javascript">                        
            $("#ht_end_date").load("{{MEDIA_URL}}html/commons.html #ht_date");
            </script>
        </div>
        </td>
        </tr>
        <tr id="grid_type" valign="top">
        <td>Grid: </td>
        <td>
            <select id="grid" name="grid">
            <option value="1" {{checkbox_vals.1_selected}}>NRCC Interpolated(1950-Present)</option>
            <option value="3" {{checkbox_vals.3_selected}}>NRCC Int. Hi-Res(2007-Present)</option>
            <option value="4" {{checkbox_vals.4_selected}}>CRCM+NCEP(1970-2000)</option>
            <option value="5" {{checkbox_vals.5_selected}}>CRCM+CCSM(1970-2000,2040-2070)</option>
            <option value="6" {{checkbox_vals.6_selected}}>CRCM+CCSM3(1970-2000,2040-2070)</option>
            <option value="7" {{checkbox_vals.7_selected}}>HRM3+NCEP(1970-2000)</option>
            <option value="8" {{checkbox_vals.8_selected}}>HRM3+HadCM3(1970-2000,2040-2070)</option>
            <option value="9" {{checkbox_vals.8_selected}}>MM5I+NCEP(1970-2000)</option>
            <option value="10" {{checkbox_vals.10_selected}}>MM5I+CCSM(1970-2000,2040-2070)</option>
            <option value="11" {{checkbox_vals.11_selected}}>RCM3+NCEP(1970-2000)</option>
            <option value="12" {{checkbox_vals.12_selected}}>RCM3+CGCM3(1970-2000,2040-2070)</option>
            <option value="13" {{checkbox_vals.13_selected}}>RCM3+GFDL(1970-2000,2040-2070)</option>
            <option value="14" {{checkbox_vals.14_selected}}>WRFG+NCEP(1970-2000)</option>
            <option value="15" {{checkbox_vals.15_selected}}>WRFG+CCSM(1970-2000,2040-2070)</option>
            <option value="16" {{checkbox_vals.16_selected}}>WRFG+CGCM3(1970-2000,2040-2070)</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_grid"></div>
            <script type="text/javascript">                        
            $("#ht_grid").load("{{MEDIA_URL}}html/commons.html #ht_grid");
            </script>
        </div>
        </td>
        </tr>
        <tr>
        <td></td>
        <td><div class="pop_link" onClick="ShowHide('Docu_grids')"><b><u>Gridded datasets</u></b> explained</div></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
               <div class="pop-up">
            <div id="ht_grid_choices_explained"></div>
            <script type="text/javascript">                        
                $("#ht_grid_choices_explained").load("{{MEDIA_URL}}html/commons.html #ht_grid_choices_explained");
            </script>
        </div>
        </td>
        </tr>
        <tr valign="top">
        <td>Temporal Summary: </td>
        <td>
            <select id="temporal_summary" name="temporal_summary">
            <option value="max" {{checkbox_vals.temporal_summary_max_selected}}>Maximum</option>
            <option value="min" {{checkbox_vals.temporal_summary_min_selected}}>Minimum</option>
            <option value="mean" {{checkbox_vals.temporal_summary_mean_selected}}>Mean</option>
            <option value="sum" {{checkbox_vals.temporal_summary_sum_selected}}>Sum</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_temporal_summary"></div>
            <script type="text/javascript">                        
            $("#ht_temporal_summary").load("{{MEDIA_URL}}html/commons.html #ht_temporal_summary");
            </script>
        </div>
        </td>
        </tr>
        <tr><td><input type="submit" value="Submit" name="formMap"></td><td></td><td></td></tr>
        <tr>
        <td colspan="3"><hr style="border-color:#006666;"></td>
        </tr>
        <tr>
        <td colspan="3" onClick="show_plot_opts('plOpts')"><b><u>Plot Options</u></b></td>
        </tr>
        <tr>   
        <td colspan="3"><hr style="border-color:#006666;"></td>
        </tr>
        {%if initial.show_plot_opts == "T"%}
        <tr valign="top" class="plOpts" style="display:table-row;">
        {%else%}
        <tr valign="top" class="plOpts" style="display:none;">
        {%endif%}
        <td>Image Size: </td>
        <td>
            <select id="image_size" name="image_size">
            <option value="small" {{checkbox_vals.image_size_small_selected}}>Small(510px, 290px)</option>
            <option value="medium" {{checkbox_vals.image_size_medium_selected}}>Medium(650px,370px)</option>
            <option value="large" {{checkbox_vals.image_size_large_selected}}>Large(850px, 480px)</option>
            <option value="larger" {{checkbox_vals.image_size_larger_selected}}>Larger(1150px,610x)</option>
            <option value="extra_large" {{checkbox_vals.image_size_extra_large_selected}}>Extra Large(1450px, 820px)</option>
            <option value="wide" {{checkbox_vals.image_size_wide_selected}}>Wide(1850px,610px)</option>
            <option value="wider" {{checkbox_vals.image_size_wider_selected}}>Wider(2450px, 610px)</option>
            <option value="widest" {{checkbox_vals.image_size_widest_selected}}>Widest(3450px,610px)</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_image_size"></div>
            <script type="text/javascript">                        
            $("#ht_image_size").load("{{MEDIA_URL}}html/commons.html #ht_plot_image_size");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.levels == "T" and initial.levels == "T"%}
            <tr valign="top" class="plOpts" id="levels">
        {%else%}
            <tr valign="top" class="plOpts" id="levels" style="display:none;">
        {%endif%}
        <td>Number of Levels:</td>
        <td><input type="text" id="level_number" name="level_number" value="{{initial.level_number}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_level_number"></div>
            <script type="text/javascript">                        
            $("#ht_level_number").load("{{MEDIA_URL}}html/commons.html #ht_level_number");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.show_plot_opts == "T"%}
            <tr valign="top" class="plOpts">
        {%else%}
            <tr valign="top" class="plOpts" style="display:none;">
        {%endif%}
        <td>Color Map:</td>
        <td><input type="text" id="cmap" name="cmap" value="{{initial.cmap}}"></td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_cmap"></div>
            <script type="text/javascript">                        
            $("#ht_cmap").load("{{MEDIA_URL}}html/commons.html #ht_cmap");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.show_plot_opts == "T"%}
        <tr valign="top" class="plOpts">
        {%else%}
        <tr valign="top" class="plOpts" style="display:none;">
         {%endif%}
        <td></td><td><a target="_blank" href="http://matplotlib.org/mpl_examples/pylab_examples/show_colormaps.pdf">List of available color maps</a></td><td></td></tr>
        {%if initial.show_plot_opts == "T"%}
        <tr valign="top" class="plOpts" style="display:table-row;">
        {%else%}
        <tr valign="top" class="plOpts" style="display:none;">
        {%endif%}
        <td>Overlays:</td>
        <td>
            <select id="map_ol" name="map_ol">
            <option value="state" {{checkbox_vals.map_ol_state_selected}}>Blues</option>
            <option value="county" {{checkbox_vals.map_ol_county_selected}}>Reds</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_map_ol"></div>
            <script type="text/javascript">                        
            $("#ht_map_ol").load("{{MEDIA_URL}}html/commons.html #ht_map_ol");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.show_plot_opts == "T"%}
        <tr valign="top" class="plOpts" style="display:table-row;">
        {%else%}
        <tr valign="top" class="plOpts" style="display:none;">
        {%endif%}
        <td>Interpolation:</td>
        <td>
            <select id="interpolation" name="interpolation">
            <option value="cspline" {{checkbox_vals.interpolation_cspline_selected}}>Cspline</option>
            <option value="none" {{checkbox_vals.interpolation_none_selected}}>None</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_interpolation"></div>
            <script type="text/javascript">                        
            $("#ht_interpolation").load("{{MEDIA_URL}}html/commons.html #ht_interpolation");
            </script>
        </div>
        </td>
        </tr>
       {%if initial.show_plot_opts == "T"%}
        <tr valign="top" class="plOpts" style="display:table-row;">
        {%else%}
        <tr valign="top" class="plOpts" style="display:none;">
        {%endif%}
        <td>Projection:</td>
        <td>
            <select id="projection" name="projection">
            <option value="lcc" {{checkbox_vals.projection_lcc_selected}}>Lambert Conformal Conic</option>
            </select>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_projection"></div>
            <script type="text/javascript">                        
            $("#ht_projection").load("{{MEDIA_URL}}html/commons.html #ht_projection");
            </script>
        </div>
        </td>
        </tr>
        {%if initial.show_plot_opts == "T"%}
        <tr class="plOpts" style="display:table-row;">
        {%else%}
        <tr class="plOpts" style="display:none;">
        {%endif%}
        <td><input type="submit" value="Submit" name="formMap"/></td><td></td><td></td>
        </table>
        <input type="hidden" id="overlay_state" name="overlay_state" value="{{initial.overlay_state}}">
        </form>
    </div>
    <br /><br />
<!--RIGHT-->
</td>
<td valign="top" width="70%">
    <h2 class="error">This page is under development! <img alt=Construction" title="Construction" src="{{MEDIA_URL}}img/Construction.png"></h2>

    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table> 
    <script type="text/javascript">            
        $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
    </script>
    <div id="tool_info" style="display:none;"></div>
    <script type="text/javascript">            
        $("#tool_info").load("{{MEDIA_URL}}html/commons.html #Docu_CLIM_SUM_MAP");
    </script> 
    <script type="text/javascript">
        $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;"></div>
    <script type="text/javascript">            
        $("#how_to").load("{{MEDIA_URL}}html/commons.html #Howto_CLIM_SUM_MAP");
    </script> 

    <div id="Docu_select_grid_by_ts" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_select_grid_by_ts").load("{{MEDIA_URL}}html/commons.html #Docu_select_grid_by_ts");
    </script>

    <div id="Docu_grids" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_grids").load("{{MEDIA_URL}}html/commons.html #Docu_grids");
    </script>

    {%if form_error%}
        {%for key, val in form_error.items%}
            <script type="text/javascript">highlight_form_field("{{key}}","{{val}}")</script>
        {%endfor%}
    {%endif%}

    <div id="PolyMap" style="display:none;">
        <div id="panel">
        <div id="color-palette"></div>
            <div>
                <button id="delete-button">Delete Selected Shape</button>
            </div>
        </div>
        {%if lat and lon %}
        <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
        <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
        {%else%}
        <input type="hidden" id="initial_lat" name="initial_lat" value='40'>
        <input type="hidden" id="initial_lon" name="initial_lon" value='-111'>
        {%endif%}
    </div>


    <div id="GridpointMap" style="display:none;"></div>

    {%if need_overlay_map%}
    <div id="OverlayMap" style="display:block;">
    {%else%}
    <div id="OverlayMap" style="display:none;">
    {%endif%}
         <div id="formOverlay" style="display:inherit;">
            <form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
            <table class="form">
            <!--
            <tr valign="top">
            <td>Select stations by:</td>
            <td>
                <select id="select_overlay_by" name="select_overlay_by" onchange="set_station_grid_select('area',this);">
                <option value="county" {{checkbox_vals.county_selected}}>County</option>
                <option value="climate_division" {{checkbox_vals.climate_division_selected}}>Climate Division</option>
                <option value="county_warning_area" {{checkbox_vals.county_warning_area_selected}}>County Warning Area</option>
                <option value="basin" {{checkbox_vals.basin_selected}}>Drainage Basin</option>
                </select>
            </td>
            <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
            <div class="pop-up">
            <div id="ht_select_overlay_by"></div>
            <script type="text/javascript">                        
                $("#ht_select_overlay_by").load("{{MEDIA_URL}}html/commons.html #ht_select_grid_by");
            </script>
            </div>
            </td>
            </tr>
            -->
            <tr>
            <td>State: </td>
            <td>
                <select name="overlay_state" id="overlay_state">
                <option value="al" {{al_selected}}>Alabama</option>
                <option value="ak" {{ak_selected}}>Alaska</option>
                <option value="az" {{az_selected}}>Arizona</option>
                <option value="ar" {{ar_selected}}>Arkansas</option>
                <option value="ca" {{ca_selected}}>California</option>
                <option value="co" {{co_selected}}>Colorado</option>
                <option value="ct" {{ct_selected}}>Connecticut</option>
                <option value="de" {{de_selected}}>Delaware</option>
                <option value="dc" {{dc_selected}}>District of Columbia</option>
                <option value="fl" {{fl_selected}}>Florida</option>
                <option value="ga" {{ga_selected}}>Georgia</option>
                <option value="hi" {{hi_selected}}>Hawaii</option>
                <option value="id" {{id_selected}}>Idaho</option>
                <option value="il" {{il_selected}}>Illinois</option>
                <option value="in" {{in_selected}}>Indiana</option>
                <option value="ia" {{ia_selected}}>Iowa</option>
                <option value="ks" {{ks_selected}}>Kansas</option>
                <option value="ky" {{ky_selected}}>Kentucky</option>
                <option value="la" {{la_selected}}>Louisiana</option>
                <option value="me" {{me_selected}}>Maine</option>
                <option value="md" {{md_selected}}>Maryland</option>
                <option value="ma" {{ma_selected}}>Massachusetts</option>
                <option value="mi" {{mi_selected}}>Michigan</option>
                <option value="mn" {{mn_selected}}>Minnesota</option>
                <option value="ms" {{ms_selected}}>Mississippi</option>
                <option value="mo" {{mo_selected}}>Missouri</option>
                <option value="mt" {{mt_selected}}>Montana</option>
                <option value="ne" {{ne_selected}} >Nebraska</option>
                <option value="nv" {{nv_selected}}>Nevada</option>
                <option value="nh" {{nh_selected}}>New Hampshire</option>
                <option value="nj" {{nj_selected}}>New Jersey</option>
                <option value="nm" {{nm_selected}}>New Mexico</option>
                <option value="ny" {{ny_selected}}>New York</option>
                <option value="nc" {{nc_selected}}>North Carolina</option>
                <option value="nd" {{nd_selected}}>North Dakota</option>
                <option value="oh" {{oh_selected}}>Ohio</option>
                <option value="ok" {{ok_selected}}>Oklahoma</option>
                <option value="or" {{or_selected}}>Oregon</option>
                <option value="pa" {{pa_selected}}>Pennsylvania</option>
                <option value="ri" {{ri_selected}}>Rhode Island</option>
                <option value="sc" {{sc_selected}}>South Carolina</option>
                <option value="sd" {{sd_selected}}>South Dakota</option>
                <option value="tn" {{tn_selected}}>Tennessee</option>
                <option value="tx" {{tx_selected}}>Texas</option>
                <option value="ut" {{ut_selected}}>Utah</option>
                <option value="vt" {{vt_selected}}>Vermont</option>
                <option value="va" {{va_selected}}>Virginia</option>
                <option value="wa" {{wa_selected}}>Washington</option>
                <option value="wv" {{wv_selected}}>West Virginia</option>
                <option value="wi" {{wi_selected}}>Wisconsin</option>
                <option value="wy" {{wy_selected}}>Wyoming</option>
            </select>
            </td>
            <!--
            <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
            <div class="pop-up">
                <div id="ht_select_overlay_by">Specify US State</div>
            </div>
            </td>
            </tr>
            -->
            <td><input type="submit" value="Update Map" name="formOverlay"/></td>
            </table>
            <input type="hidden" value="{{initial.select_grid_by}}" name="select_overlay_by" id="select_overlay_by">
            <input type="hidden" value="{{area_type_value}}" name="{{area_type}}">
            <input type="hidden" value="{{initial.elements}}" name="elements">
            <input type="hidden" value="{{initial.start_date}}" name="start_date">
            <input type="hidden" value="{{initial.end_date}}" name="end_date">
            <input type="hidden" value="{{initial.grid}}" name="grid">
            <input type="hidden" value="{{initial.temporal_summary}}" name="temporal_summary">
            <input type="hidden" value="{{initial.image_size}}" name="image_size">
            <input type="hidden" value="{{initial.level_number}}" name="level_number">
            <input type="hidden" value="{{initial.cmap}}" name="cmap">
            <input type="hidden" value="{{initial.map_ol}}" name="map_ol">
            <input type="hidden" value="{{initial.interpolation}}" name="interpolation">
            <input type="hidden" value="{{initial.projection}}" name="projection">
            </form>
        </div>
    </div>


    {%if need_overlay_map%}
    {%if overlay_error%}
    <p class="error">{{overlay_error}}</p>
    {%else%}
    <div id="map-overlay" style="width:100%; height:400px;"></div>
    <div id="content-window" style="width:100px; height:100px;"></div>
    <script type="text/javascript">initialize_map_overlays("{{area_type}}","{{host}}", "{{kml_file_path}}")</script>
    {%endif%} 
    {%endif%}
    <br /><br />

    {%if error%}
    <p class="error">{{error}}</p>
    {%endif%}
    

    <!--Results section-->
    {%if figure_files%}
    <a target="_blank" href="{{DATA_URL}}gridded/?start_date={{initial.start_date}}&end_date={{initial.end_date}}&elements={{initial.elements}}&grid={{initial.grid}}&select_grid_by={{initial.select_grid_by}}&{{initial.select_grid_by}}={{initial.area_type_value}}&data_summary=temporal&temporal_resolution=dly&temporal_summary={{initial.temporal_summary}}"><font size=3>Get raw data behind this graphic here!</font></a>
    <br /></br /></br>
    {%for fig in figure_files%}
        <img alt="FigureFile" width="400px" height="400px" title="FigureFile" src="{{JSON_URL}}/{{fig}}"><br /><br />
    {%endfor%}
    {%endif%}
</td></table>
{%endblock%}
