{% extends "csc_base.html" %}

<meta name="keywords" content="Gridpoint time series, gridded data, application, product, tool">
<meta name="description" content="SW-CKN Generates a time series for a gridpoint">

{% block content %}

<p align="center">You are here
    <a href="{{HOME_URL}}scenic/home/">Home></a>
    <a href="{{TOOLS_URL}}">Tools></a>
    <a href="{{TOOLS_URL}}gridded/">Gridded Data Tools></a>
    <a href="{{TOOLS_URL}}gridded/grid_point_time_series/">Grid Point Time Series</a></p>

<table cellpadding="10">
<td valign="top" width="30%">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <!--Hidden input for gridpoint map generation-->
    <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
    <input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
    <input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
    {%if search_params.lat and search_params.lon %}
    <input type="hidden" id="initial_lat" name="initial_lat" value={{search_params.lat}}>
    <input type="hidden" id="initial_lon" name="initial_lon" value={{search_params.lon}}>
    {%else%}
    <input type="hidden" id="initial_lat" name="initial_lat" value='40.0'>
     <input type="hidden" id="initial_lon" name="initial_lon" value='-111.0'>
    {%endif%}
    <input type="hidden" id="zoom_level" name="zoom_level" value="5">
    <input type="hidden" id="app" name="app" value="gp_ts">
    <br /><br /><br /><br /><br /><br /><br />

    <div id='form0' align="center">
        <form method="post" action="" onsubmit="show_loading()">{% csrf_token %}
        <table class="form">
        {%for field in form0 %}
        <tr>
        <td>{{field.label}}:</td>
        {%if field.label == "Location" %}
        <p class="error">Drag map marker to change location</p>
        <td><input type="text" id="location" name="location" value="{{search_params.location}}"></td>
        {%else%}
        <td>{{field}}</td>
        {%endif%}
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        {%if field.label == "Elements"%}
        <div class="pop-up">
            <img alt=ElementChoices" title="ElementChoices" src="{{MEDIA_URL}}img/ACIS_Element_Choices_Grid_English.png" id="ACISElementChoices" width="450" height="450" border="0">
        </div>
        {%else%}
            <div class="pop-up"><p>{{field.help_text}}</p></div>
        {%endif%}
        </td>
        </tr>
        {%if field.errors%}
        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
        {%endif%}
        {%endfor%}
        <tr>
        <td></td>
        <td><div class="pop_link" onclick="ShowPopupDocu('Docu_grids')"><b><u>Gridded datasets</u></b> explained</div>
        <div id="Docu_grids" style="display:none;">
            <script type="text/javascript">                        
                $("#Docu_grids").load("{{MEDIA_URL}}html/Docu_grids.html");
            </script>
        </div>
        </td>
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        <div class="pop-up">
            <div id="ht_grid_choices_explained"></div>
            <script type="text/javascript">                        
                $("#ht_grid_choices_explained").load("{{MEDIA_URL}}html/Docu_help_texts.html #ht_grid_choices_explained");
            </script>
        </div>
        </td>
        </tr>
        <tr><td><input type="submit" value="Submit" name="form0"/></td><td></td><td></td></tr>
        </table>
        </form>
    </div>

    <div id="Docu_grids" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_grids").load("{{MEDIA_URL}}html/Docu_grids.html");
    </script> 
</td>
<td valign="top" width="60%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">            
        $("#tool_info_head").load("{{MEDIA_URL}}html/Buttons.html .tool_info");
    </script>
    <div id="tool_info" style="display:none;"></div>
   <script type="text/javascript">            
        $("#tool_info").load("{{MEDIA_URL}}html/Docu_GP_TIME_SERIES.html");
    </script>
    <script type="text/javascript">
        $("#how_to_head").load("{{MEDIA_URL}}html/Buttons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;">
    <div id="Doc_select_grid_by"></div>
    <script type="text/javascript">            
        $("#Doc_select_grid_by").load("{{MEDIA_URL}}html/Docu_select_grid_by.html");
    </script>
    <div id="Docu_elements"></div>
     <script type="text/javascript">            
        $("#Docu_elements").load("{{MEDIA_URL}}html/Docu_elements_grid.html");
    </script>
    <div id="Docu_start_end_date"></div>
     <script type="text/javascript">            
        $("#Docu_start_end_date").load("{{MEDIA_URL}}html/Docu_start_end_date.html");
    </script>
    <div id="Docu_grid"></div>
    <script type="text/javascript">            
        $("#Docu_grid").load("{{MEDIA_URL}}html/Docu_grid.html");
    </script>
    <div id="Docu_spatial_summary"></div>
    <script type="text/javascript">            
        $("#Docu_spatial_summary").load("{{MEDIA_URL}}html/Docu_spatial_summary_grid.html");
    </script>
    <div id="Docu_show_running_mean"></div>
    <script type="text/javascript">            
        $("#Docu_show_running_mean").load("{{MEDIA_URL}}html/Docu_show_running_mean.html");
    </script>
   <div id="Docu_running_mean_days"></div>
    <script type="text/javascript">            
        $("#Docu_running_mean_days").load("{{MEDIA_URL}}html/Docu_running_mean_days.html");
    </script>
    <div id="Docu_plot_opts" style="display:none;"></div>
    <script type="text/javascript">                        
        $("#Docu_plot_opts").load("{{MEDIA_URL}}html/Docu_PLOT_OPTS_AREA_TS.html");
    </script>
    </div>

    <div align="center" id="map-gridpoint" style="width:90%; height:300px;margin: 10px 10px"></div>
    <script type="text/javascript">
        initialize_grid_point_map('gridpoint_time_series')
    </script>


    {%if error%}
    <p class="error">{{error}}</p>
    {%else%}
    {%if datadict%}
    <a target="_blank" href="{{DATA_URL}}gridded/?start_date={{search_params.start_date}}&end_date={{search_params.end_date}}&elements={{search_params.elements}}&grid={{search_params.grid}}&location={{search_params.location}}&data_summary=none&temporal_resolution=dly">Get raw data  behind this graphic here!</a>
    <br />
    <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{MEDIA_URL}}tmp/">
    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
    {%for el in search_params.element_list%}
    <div id="gp_time_series_{{forloop.counter0}}" style="width: 400px%; height: 400px; margin: 10px 10px"></div>
    <br />
    {%endfor%}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-gp-time-series.js"></script>
    <br />
    {%endif%}
    {%endif%}
</td>
</table>

{%endblock%}
