{% extends "csc_base.html" %}

<meta name="keywords" content="Gridpoint time series, gridded data, application, product, tool">
<meta name="description" content="SW-CKN Generates a time series for a gridpoint">

{% block content %}

<p align="center">You are here
    <a href="{{HOME_URL}}swcke/home/">HOME></a>
    <a href="{{SW_CKN_URL}}main_map/">RESOURCES></a>
    <a href="{{TOOLS_URL}}">TOOLS></a>
    <a href="{{TOOLS_URL}}gridded/">GRID TOOLS></a>
    <a href="{{TOOLS_URL}}gridded/grid_point_time_series/">Grid Point Time Series</a></p>

<table cellpadding="10">
<td valign="top" width="30%">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <input type="hidden" id="MEDIA_URL" name="MEDIA_URL" value="{{MEDIA_URL}}">
    <input type="hidden" id="DATA_URL" name="DATA_URL" value="{{DATA_URL}}">
    <input type="hidden" id="TOOLS_URL" name="TOOLS_URL" value="{{TOOLS_URL}}">
    {%if lat and lon %}
    <input type="hidden" id="initial_lat" name="initial_lat" value={{lat}}>
    <input type="hidden" id="initial_lon" name="initial_lon" value={{lon}}>
    {%else%}
    <input type="hidden" id="initial_lat" name="initial_lat" value='39.82'>
     <input type="hidden" id="initial_lon" name="initial_lon" value='-98.57'>
    {%endif%}
    <input type="hidden" id="zoom_level" name="zoom_level" value="5">
    <input type="hidden" id="app" name="app" value="gp_ts">
    <br /><br /><br /><br /><br /><br /><br />
    <div id='form0' align="center">
        <form method="post" action="">{% csrf_token %}
        <table class="form">
        {%for field in form0 %}
        <tr>
        <td>{{field.label}}:</td>
        {%if field.label == "Lat" %}
        <p class="error">Drag map marker to change location</p>
        {%if not lat %}
        <td><input type="text" name="lat" id="lat" value='39.82'></td>
        {%else%}
        <td><input type="text" name="lat" id="lat" value={{lat}}></td>
        {%endif%}
        {%elif field.label == "Lon" %}
        {%if not lon %}
        <td><input type="text" name="lon"  id="lon" value='-98.57'></td>
        {%else%}
        <td><input type="text" name="lon" id="lon" value={{lon}}></td>
        {%endif%}
        {%else%}
        <td>{{field}}</td>
        {%endif%}
        <td><img alt="QMark" title="QMark" src="{{MEDIA_URL}}img/QMark.png" class="trigger">
        {%if field.label == "Grid"%}
        <div class="pop-up">
            <img alt="GriddedDateDocu" title="GriddedDataDocu" src="{{MEDIA_URL}}img/ACIS_Grids.png" id="ACIS_Grids" width="350" height="300" border="0">
        </div>
        {%else%}
            <div class="pop-up"><p>{{field.help_text}}</p></div>
        {%endif%}
        </td>
        </tr>
        {%if field.errors%}
        <tr><td></td><td>{{field.errors}}</td><td></td></tr>
        {%endif%}
        {%endfor%}
        <tr><td><input type="submit" value="Submit" name="form0"/></td><td></td><td></td></tr>
        </table>
        </form>
    </div>
    
</td>
<td valign="top" width="60%">
    <table>
    <td><div id=tool_info_head></div></td><td><div id="how_to_head"></div></td>
    </table>
    <script type="text/javascript">            
        $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
    </script>
    <div id="tool_info" style="display:none;"></div>
   <script type="text/javascript">            
        $("#tool_info").load("{{MEDIA_URL}}html/commons.html #Docu_GP_TS");
    </script>
    <script type="text/javascript">
        $("#how_to_head").load("{{MEDIA_URL}}html/commons.html .tool_how_to");
    </script>
    <div id="how_to" style="display:none;"></div>
    <script type="text/javascript">            
        $("#how_to").load("{{MEDIA_URL}}html/commons.html #Howto_GP_TS");
    </script> 
    <script type="text/javascript">                        
        $("#tool_info_head").load("{{MEDIA_URL}}html/commons.html .tool_info");
    </script>

    {%if error%}
    <p class="error">{{error}}</p>
    {%else%}
    {%if datadict%}
    <a target="_blank" href="{{DATA_URL}}gridded/?start_date={{s_date}}&end_date={{e_date}}&elements={{elems}}&grid={{grid}}&loc={{lon}},{{lat}}&data_summary=none&temporal_resolution=dly">Get raw data  behind this graphic here!</a>
    <br />
    <input type="hidden" id="JSON_URL" name="JSON_URL" value="{{MEDIA_URL}}tmp/">
    <input type="hidden" id="json_file" name="json_file" value="{{json_file}}">
    <input type="hidden" id="element_long" name="element_long" value="{{element_long}}">
    <input type="hidden" id="element" name="element" value="{{element}}">
    <input type="hidden" id="lat" name="lat" value="{{lat}}">
    <input type="hidden" id="lon" name="lon" value="{{lon}}">
    <input type="hidden" id="start_date" name="start_date" value="{{start_date}}">
    <input type="hidden" id="end_date" name="end_date" value="{{end_date}}">
    <div id="hc-graph" style="width: 400px%; height: 400px; margin: 10px 10px"></div>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hc-gp-time-series.js"></script>
    <br />
    {%endif%}
    {%endif%}
    <div align="center" id="map-gridpoint" style="width:100%; height:380px;margin: 10px 10px"></div>
    <script type="text/javascript">
        initialize_grid_point_map('gridpoint_time_series')
    </script>
    
</td>
</table>

{%endblock%}
