{% extends "csc_base.html" %}

<meta name="keywords" content="tools, climate product, climate applications, visualization, time series, risk maps, composite maps">
<meta name="description" content="SW-CKN Climate Applications">

{% block content %}

    <p align="center">You are here 
    <a href="{{HOME_URL}}swcke/home/">Home></a>
    <a href="{{TOOLS_URL}}">Tools></a>
    <a href="{{TOOLS_URL}}gridded/">Gridded Data Tools</a>


    <!-- Application documentation -->
    <div class="docu" id="Docu_CalTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_CalTracker").load("{{MEDIA_URL}}html/Docu_External_Resources.html #Docu_CalTracker.html");
        </script>
    <div class="docu" id="Docu_NevTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_NevTracker").load("{{MEDIA_URL}}html/Docu_External_Resources.html #Docu_NevTracker.html");
        </script>
    <div class="docu" id="Docu_WESTMAP" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_WESTMAP").load("{{MEDIA_URL}}html/Docu_External_Resources.html #Docu_WESTMAP.html");
        </script>
   <div class="docu" id="Docu_FreezTracker" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_FreezTracker").load("{{MEDIA_URL}}html/Docu_External_Resources.html #Docu_FreezTracker.html");
        </script>
   <div class="docu" id="Docu_CLIM_SUM_MAP" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_CLIM_SUM_MAP").load("{{MEDIA_URL}}html/Docu_CLIM_SUM_MAP.html");
        </script>
   <div class="docu" id="Docu_CLIM_PROB_MAP" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_CLIM_PROB_MAP").load("{{MEDIA_URL}}html/Docu_CLIM_PROB_MAP.html");
        </script>
   <div class="docu" id="Docu_AREA_TIME_SERIES" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_AREA_TIME_SERIES").load("{{MEDIA_URL}}html/Docu_AREA_TIME_SERIES.html");
        </script>
   <div class="docu" id="Docu_NONE" style="display:none;"></div>
        <script type="text/javascript">                        
        $("#Docu_NONE").load("{{MEDIA_URL}}html/Docu_NONE.html");
        </script>

    <table cellpadding="20">
    <td valign="top" width="25%">
    </td>
    <td valign="top" width="50%">
            <p class="error" align ="center">(* Beta version)</p>
            <table cellspacing="10">
            <tr>
                <td valign="top">
                    <p>* Spatial Summary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_AREA_TIME_SERIES')"><br />Time Series</p>
                    <div class="pop-up" id="area_time_series">
                    <p>Generates climate summary time series over custom search areas. <br/>Click on the question mark for more information!</p>
                    </div>
                    <a  href="{{TOOLS_URL}}gridded/area_time_series/"><img class="app_img" alt="RiskMaps" title="RiskMaps" src="{{MEDIA_URL}}img/Area_TS.png"></a>
                </td>
                <td valign="top">
                    <p>* Temporal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_CLIM_SUM_MAP')"><br/>Summary Maps</p>
                    <div class="pop-up">                        
                    <p>Generates climate summary maps for different elements, time ranges and region using NRCC interpolated data. <br/>Click on the question mark for more information!</p>
                    </div>
                    <a  href="{{TOOLS_URL}}gridded/clim_sum_maps/"><img class="app_img" alt="SummaryMaps" title="SummaryMaps" src="{{MEDIA_URL}}img/ClimSumMap.png"></a>
                </td>
                <!--
                <td valign="top">
                    <p>* Probability Maps &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_CLIM_PROB_MAP')"><br /> <font color="red">Coming Soon!</font></p>
                    <div class="pop-up" id="sodxtrmts">
                    <p>Generates climate probability maps for different temperature and precipitation with user chosen parameters. <br/>Click on the question mark for more information!</p>
                    </div>
                    <a  href="{{TOOLS_URL}}gridded/clim_prob_maps/"><img class="app_img" alt="RiskMaps" title="RiskMaps" src="{{MEDIA_URL}}img/HappyFace.png"></a> 
                </td>
                <td valign="top">
                </td>-->
            </tr>
            </table>

    </td>
    <td valign="top" width="25%">
           <h3 >Links to other Gridded/Modeled Data Applications</h3>
            <ul class="navbar">
            <h4 align="center">Southwest US Applications</h4>
            <table>
                <tr><td>
                <a id="us_wide" href="http://www.wrcc.dri.edu/monitor/cal-mon/frames_version.html" class="trigger" target="_blank">WRCC-California Climate Tracker(<font color="red">CA</font>)</a>
                <div class="pop-up">
                    <p>Tracking Climate Variability and Change for the state of California.</p>
                </div>
                </td><td>
                <img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_CalTracker')">
                </td></tr>
                <tr><td>
                <a id="us_wide" href="http://www.wrcc.dri.edu/monitor/nev-mon/index.html" class="trigger" target="_blank">WRCC-Nevada Climate Tracker(<font color="red">NV</font>)</a>
                <div class="pop-up">
                <p>Tracking Climate Variability and Change for the state of Nevada.</p>
                </div>
                </td><td>
                <img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_NevTracker')">
                </td></tr>
                <tr><td><a id="us_wide" target="_blank" href="http://www.cefa.dri.edu/Westmap/" class="trigger">WRCC-Westmap</a>
                <div class="pop-up">
                    <p>Climate Analysis and Mapping Tool.</p>
                </div>
                </td><td>
                <!--style="border:4px solid #FF007F" -->
                <img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png" onclick="ShowPopupDocu('Docu_WESTMAP')">
                </td></tr>
            </table>
 

            <h4 align="center">US-Wide Applications</h4>
            
                <table>
                    <tr><td>
                    <a id="us_wide" href="http://www.wrcc.dri.edu/cwd/products/" class="trigger">WRCC-North American Freezing Level Tracker</a>
                    <div class="pop-up">
                        <p>Track through time the height of the freezing level above sea level.</p>
                    </div>
                    </td><td>
                   <img class="qmark" alt="QMark" title="QMark" src="{{ MEDIA_URL }}img/QMark.png"  onclick="ShowPopupDocu('Docu_FreezTracker')">
                    </td></tr>
                </table>
            </ul>
    </td>
    </table>
 <!-- Footer -->
<!--
    <div id="footer" align="center"></div>
    <script type="text/javascript">                        
    $("#footer").load("{{MEDIA_URL}}html/Footers.html .footer-partners");
    </script>
-->
{%endblock%}
